
.new-visual{
	$this:&;
	&.type-noseman{
		&:before{
			@include background('../images/nose/noseman/noseman_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background:$nose1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-noseman{
			&:before{
				@include background('../images/nose/noseman/noseman_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-noseman{
			&:before{
				@include background('../images/nose/noseman/noseman_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}
.section-normal{
	$this:&;
	&.type-noseman{@include background('../images/nose/noseman/noseman_bg_1.jpg','no-repeat center bottom / cover');}
}


.new-style1{
	$this:&;
	&.type-noseman{background:#230c17;
		#{$this}__tit, #{$this}__txt2{color:#fff;}
		#{$this}__txt{color:#999;}
		#{$this}__img{margin-top:0;}
	}
	&.type-noseman2{background-color:#ffe6f4;}
	@media only screen and (max-width: $tablet-size) {
		&.type-noseman{
			#{$this}__img{margin-top:40px;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-noseman{
			#{$this}__img{margin-top:0px;}
		}
	}
}

.new-explan{
	$this:&;
	&.type-noseman{padding-top:56px; background-color:#ffe6f4;
		#{$this}__list{margin-top:0;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-noseman{
			#{$this}__wrap{padding:0;}
			#{$this}__item{
				&:first-child{margin-top:0;}
			}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-noseman{padding-top:24px;}
	}
}
