<%
	type = "detail"
	page = "eye"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="eye detail-common">
    <section class="fs_section eyeFirst js-first" data-section-name="home">
        <div class="detail__inner">
            <div class="detail__vertical">
                <p class="detail__first-tit type-eye">
                    สวยขึ้นกว่าเดิม,
                    ดูดีขึ้นกว่าเดิม,
                    อย่างเป็นธรรมชาติ
                </p>
                <h3 class="detail__first-txt type-eye">
                    <strong class="detail__first-point">มากกว่าทักษะพื้นฐาน</strong><br>
                    ใส่ใจรายละเอียด <span class="color-eye1">ศัลยกรรมตา</span> บาโนบากิ
                </h3>
            </div>
        </div>
        <div class="scroll">
            <div class="inner">
                <i></i>
            </div>
            <em>SCROLL</em>
        </div>
    </section>

    <section class="fs_section n-eyeSection01" data-section-name="n-eyeSection01">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wide type-eye type-quotation2">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมตา,
                        ที่บาโนบากิ
                        <span class="color-eye2">ทำอย่างนี้</span>
                    </h4>
                    <p class="detail__section-subtit">ใส่ใจรายละเอียดตั้งแต่วินิจฉัยไปจนถึงการผ่าตัด</p>
                    <p class="detail__section-txt">
                        การศัลยกรรมตา นอกจากรูปทรงตาแล้ว
                        จะต้องคำนึงถึงความหนาของชั้นตา, ผิวเปลือกตา,
                        การหลับตา, ลืมตา เป็นต้น  ฉะนั้นผลวินิจฉัยที่ได้
                        ก็จะหลากหลาย และอาจต้องใช้เวลาในการวินิจฉัย
                        นาน เพื่อให้ได้ผลลัพธ์ที่ดีที่สุด
                    </p>
                </div>
            </div>
        </div>
        <div class="detail__dim">dim</div>
        <div class="detail__popup-m type-another"  >
            <div class="layer-doc hidden-p type-eye">
                <ul class="layer-doc__list">
                    <li class="layer-doc__item">กล้ามเนื้อตา</li>
                    <li class="layer-doc__item">ตำแหน่งและขนาดม่านตา</li>
                    <li class="layer-doc__item">ความหนาและความยืดหยุ่นของเปลือกตา</li>
                    <li class="layer-doc__item">ทิศทางหางตา</li>
                    <li class="layer-doc__item">รอยหัวตา</li>
                    <li class="layer-doc__item">ระยะของตาทั้งสองข้าง</li>
                    <li class="layer-doc__item">การลืมตา</li>
                </ul>
            </div>
        </div>
        <div class="detail__section-bottom hidden-p">
            <div class="detail__section-set">
                <span>รูปแบบการศัลยกรรมตา</span>
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye" data-popup-type="section">button</a></span>
            </div>
        </div>
    </section>

    <section class="fs_section n-eyeSection02" data-section-name="n-eyeSection02">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-eye type-normal">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมตา,<br>
                        ที่บาโนบากิ
                        เรา<span class="color-eye3">ตรงไปตรงมา</span>
                    </h4>
                    <p class="detail__section-subtit">ทุกสิ่งที่เกี่ยวข้องกับศัลยกรรมตา</p>
                    <p class="detail__section-txt">
                        ทำศัลยกรรมตาที่บาโนบากิจะต้องได้รับผลรับดังนี้
                        <span class="detail__num">
                        ① ได้ผลลัพธ์ออกมาเป็นธรรมชาติ<br>
                        ② ไม่มีผลกระทบต่อปัญหาการใช้งานดวงตา<br>
                        ③ ได้ผลลัพธ์ที่เหมาะกับรูปลักษณ์คนไข้
                        </span>
                        เพื่อให้ได้ผลลัพธ์ของชั้นตาที่สวยงาม
                        บาโนบากิจึงมีวิธีการผ่าตัดที่หลากหลาย
                    </p>
                </div>
            </div>
            <!-- layer-doc5 -->
            <div class="layer-doc5">
                <ul class="layer-doc5__list">
                    <li class="layer-doc5__item nth-1">
                        <div class="layer-doc5__wrap">
                            <p class="layer-doc5__num">01</p>
                            <h5 class="layer-doc5__tit">ตาสองชั้น</h5>
                        </div>
                    </li>
                    <li class="layer-doc5__item nth-2">
                        <div class="layer-doc5__wrap">
                            <p class="layer-doc5__num">02</p>
                            <h5 class="layer-doc5__tit">เย็บกล้ามเนื้อตา</h5>
                        </div>
                    </li>
                    <li class="layer-doc5__item nth-3">
                        <div class="layer-doc5__wrap">
                            <p class="layer-doc5__num">03</p>
                            <h5 class="layer-doc5__tit">Brow Lifting</h5>
                        </div>
                    </li>
                    <li class="layer-doc5__item nth-4">
                        <div class="layer-doc5__wrap">
                            <p class="layer-doc5__num">04</p>
                            <h5 class="layer-doc5__tit">กรีดหัว/หางตา</h5>
                        </div>
                    </li>
                    <li class="layer-doc5__item nth-5">
                        <div class="layer-doc5__wrap">
                            <p class="layer-doc5__num">05</p>
                            <h5 class="layer-doc5__tit">เกลี่ยไขมันใต้ตา</h5>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- //layer-doc5 -->
        </div>
    </section>

    <section class="fs_section n-eyeSection03" data-section-name="n-eyeSection03">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wide type-eye">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมตา,<br>
                        ที่บาโนบากิ
                        <span class="color-eye3">พิเศษ</span>กว่าที่อื่น
                    </h4>
                    <p class="detail__section-subtit">โรงพยาบาลที่เชี่ยวชาญด้านศัลยกรรมตาแบบไร้การกรีด, บาโนบากิ</p>
                    <p class="detail__section-txt color-eye5">
                        ดร.ปาร์ค ซอนแจ ศัลยแพทย์ผู้เชี่ยวชาญ
                        ด้านศัลยกรรมตาโดยเฉพาะ กับประสบการณ์
                        ด้านศัลยกรรมตากว่า <?php echo date("Y") - 2001; ?> ปี โดดเด่นเรื่อง
                        การทำศัลยกรรมตาแบบไร้การกรีด
                        แต่ได้ผลลัพธ์ตามที่ต้องการได้รูปทรงตา
                        ที่โตขึ้นอย่างเป็นธรรมชาติ
                    </p>
                </div>
            </div>
        </div>
        <div class="detail__dim">dim</div>
        <div class="detail__popup-m type-another">
            <div class="layer-doc hidden-p type-eye type-another">
                <ul class="layer-doc__list">
                    <li class="layer-doc__item">ยกเปลือกตาแบบไม่กรีด</li>
                    <li class="layer-doc__item">เย็บกล้ามเนื้อตาแบบไม่กรีด</li>
                    <li class="layer-doc__item">เปิดหัวตาแบบไม่กรีด</li>
                    <li class="layer-doc__item">ตาสองชั้นแบบไม่กรีด</li>
                </ul>
            </div>
        </div>
        <div class="detail__section-bottom hidden-p">
            <div class="detail__section-set">
                <span class="color-eye8">ศัลยกรรมตาแบบไม่กรีด</span>
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye" data-popup-type="section">button</a></span>
            </div>
        </div>
    </section>

    <section class="fs_section n-eyeSection04" data-section-name="n-eyeSection04">
        <div class="detail__inner">
            <div class="detail__popup" >
                <div class="detail__popup-wrap">
                    <h5 class="detail__popup-tit">การใช้ยาระงับความรู้สึก<span class="color-eye9">.</span></h5>
                    <div class="eye-popup">
                        <ul class="eye-popup__list">
                            <li class="eye-popup__item nth-1">
                                <div class="eye-popup__wrap">
                                    <p class="eye-popup__num">01</p>
                                    <h6 class="eye-popup__tit">ใช้เข็มขนาดเล็ก</h6>
                                </div>
                            </li>
                            <li class="eye-popup__item nth-2">
                                <div class="eye-popup__wrap">
                                    <p class="eye-popup__num">02</p>
                                    <h6 class="eye-popup__tit">เทคนิคเฉพาะของแพทย์</h6>
                                </div>
                            </li>
                            <li class="eye-popup__item nth-3">
                                <div class="eye-popup__wrap">
                                    <p class="eye-popup__num">03</p>
                                    <h6 class="eye-popup__tit">ทายาชาก่อนผ่าตัด</h6>
                                </div>
                            </li>
                            <li class="eye-popup__item nth-4">
                                <div class="eye-popup__wrap">
                                    <p class="eye-popup__num">04</p>
                                    <h6 class="eye-popup__tit">ยาชาที่มีประสิทธิภาพยาวนาน</h6>
                                </div>
                            </li>
                            <li class="eye-popup__item nth-5"><div class="eye-popup__wrap">병원마크</div></li>
                        </ul>
                    </div>
                    <a href="" class="detail__popup-close js-popup-close">ปิด</a>
                </div>
            </div>
            <div class="detail__vertical">
                <div class="detail__section-box type-wide type-eye type-quotation2">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมตา,<br>
                        ที่บาโนบากิ
                        เราใส่ใจ<span class="color-eye3">รายละเอียด</span>
                    </h4>
                    <p class="detail__section-subtit">ศัลยกรรมตา, เหตุผลที่เราไม่ใช้ยานอนหลับ</p>
                    <p class="detail__section-txt">
                        การทำศัลยกรรมตาขณะที่คนไข้มีสติอยู่
                        เพื่อคำนวณและดูผลของการผ่าตัด
                        ยิ่งทำให้ได้ผลลัพธ์ออกมาได้ดีที่สุด
                        ฉะนั้น ที่บาโนบากิจึงไม่ใช้ยานอนหลับ
                        ในการผ่าตัด แต่จะใช้ยาชาเฉพาะจุดแทน
                    </p>
                </div>
            </div><!-- //detail__vertical -->
        </div>
        <div class="detail__section-bottom hidden-pt">
            <div class="detail__section-set">
                การใช้ยาระงับความรู้สึกของบาโนบากิ
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye">button</a></span>
            </div>
        </div>
    </section>

    <section class="fs_section n-eyeSection05" data-section-name="n-eyeSection05">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wide type-eye type-quotation2">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมตา,<br>
                        เรื่องราวของคนไข้
                        คือสิ่งสำคัญที่สุด
                    </h4>
                    <p class="detail__section-subtit">จัดประชุมคณะแพทย์เดือนละสองครั้ง</p>
                    <p class="detail__section-txt color-eye6">
                        บาโนบากิมีการประชุมคณะแพทย์เดือนละสองครั้ง
                        เพื่อเป็นการใส่ใจรายละเอียดต่อการผ่าตัด, การให้
                        คำปรึกษา, พยาบาล, การดูแลรักษา เป็นต้น โดยที่
                        พนักงานที่มีส่วนเกี่ยวข้องกับแผนกศัลยกรรมตา
                        จะต้องเข้าร่วมเพื่อแลกเปลี่ยนเรื่องราวเคสของคนไข้
                        และนำเสนอข้อเสนอแนะมาเป็นแนวทางในการพัฒนา
                        การศัลยกรรมตาให้ดียิ่งขึ้น
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
