<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-eye-incisional">
	    <div class="content-visual__box">
	        <div class="content-visual__border type-eye-incisional">
	            <p class="content-visual__txt1">กรีดตาสองชั้นแบบเป็นธรรมชาติ และมีเสน่ห์</p>
	            <h3 class="content-visual__tit">#ทำตาสองชั้น<span class="color-incisional1">แบบกรีด</span></h3>
	            <p class="content-visual__txt2 type-eye-incisional">ดูเป็นธรรมชาติ และเปี่ยมไปด้วยเสน่ห์ที่เด่น</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content eye-incisional">
	    <div class="content-wrap">
	        <div class="incisional-box1">
	            <div class="content-section type-first">
	                <div class="content-section__wrap">
	                    <div class="content-section__box1 type-w4">
	                        <h4 class="content-section__tit type-top">
	                            <span class="content-section__number">
	                                <span class="content-section__number-wrap">01</span>
	                            </span>
	                            ทำความเข้าใจใหม่
	                            เกี่ยวกับ <strong class="color-incisional1">การใช้เทคนิคแบบกรีด</strong>
	                        </h4>
	                        <p class="content-section__txt1">
	                            การทำตาสองชั้นด้วยเทคนิคการกรีด จะเริ่มจากการออกแบบเส้นชั้นตา จากนั้นจะกรีดที่หนังตา เพื่อนำเอากล้ามเนื้อและไขมันส่วนเกินออก แล้วจึงนำผิวหนังผูกติดกับกล้ามเนื้อ หากเป็นกรณีที่ผิวหนังมีความหย่อนคล้อย และมีไขมันมาก วิธีนี้จะเป็นวีธีที่ทำให้ได้ผลลัพธ์ที่ดีมาก
	                        </p>
	                        <p class="content-section__txt2">
	                            การทำตาสองชั้นด้วยเทคนิคการกรีด มีข้อดีมากกว่าข้อเสีย ทำให้สามารถสร้างรูปร่างดวงตาที่กว้างขึ้นชัดเจนขึ้น
	                        </p>
	                    </div>
	                    <div class="content-section__box1 type-w6 ">
	                        <div class="content-section__img sec1-thumb">
	                            <img src="../../images/eye/incisional-sec1_01.png" loading="lazy" alt="Incision double eyelid surgery model">
	                            Incision double eyelid surgery model.
	                        </div>
	                    </div>
	                </div>
	                <!-- //content-section__wrap-->
	                <div class="content-section__wrap">
	                    <div class="content-section__border">
	                        <p class="content-section__txt3 type-sec1">
	                            มีการเข้าใจและพูดถึงเทคนิควิธีการกรีดไว้อย่างมากมาย
	                            อย่างแรกคือพอพูดว่ากรีดก็อาจทำให้เกิดความรู้สึกกลัว ทั้งรู้สึกกลัวและรู้สึกว่าต้องเจ็บ รวมไปถึงคิดว่าน่าจะต้องมีรอยแผลที่ใหญ่หรือที่เรียกกันว่า ตาไส้กรอก
	                            <br>
	                            <br>
	                            <span class="color-incisional1">แต่ทว่า ไม่ว่าจะเป็นการเย็บจุดแบบสองชั้น หรือการกรีด ก็ให้ผลลัพธ์ที่ไม่ต่างกัน</span>
	                            <br>
	                            เพียงแต่, ต้องอยู่ภายใต้การดูแลของศัลยแพทย์ผู้เชี่ยวชาญ
	                        </p>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box2">
	            <h4 class="incisional-box2__tit">
	                เส้นตาสองชั้น<strong class="color-incisional2">หลากหลายแบบ</strong>
	            </h4>
	            <div class="incisional-box2__wrapper type-wrapper">
	                <div class="site-box__wrap">

	                    <div class="item-box3 type-incisional">
	                        <ul class="item-box3__list">
	                            <li class="item-box3__item nth-1">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">In-line</span></h5>
	                                        <p class="item-box3__txt txt-v1">
	                                            เส้นที่เริ่มตรงหัวตาจะอยู่ด้านในจนแทบมองไม่เห็น และค่อยๆขยายขึ้นช่วงหางตา
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box3__item nth-2">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">Out-line</span></h5>
	                                        <p class="item-box3__txt txt-v1">
	                                            มองเห็นเส้นชั้นตาเริ่มตั้งแต่หัวตาจนถึงหางตา ขนานไปกับรูปดวงตา
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box3__item nth-3">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">In-between-line</span></h5>
	                                        <p class="item-box3__txt txt-v1">
	                                            ลักษณะคล้ายกับOut-lineคือสามารถมองเห็นทั้งเส้นตั้งแต่หัวตาถึงหางตา เพียงแต่ส่วนหัวตาเส้นจะแคบ และเพิ่มความหนาขึ้นเรื่อยๆช่วงหางตา
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div><!-- //item-box3-->


	                </div>
	            </div>
	        </div>
	        <div class="incisional-box3">
	            <div class="content-section">
                    <div class="content-section__box1 type-sort">
                        <h4 class="content-section__tit type-center">
                            <span class="content-section__number">
                                <span class="content-section__number-wrap">
                                    02
                                </span>
                            </span>
                            หากจำเป็นต้องใช้เทคนิคการกรีด, <strong class="color-incisional1">ต้องทำอย่างถูกวิธี</strong>
                        </h4>
                    </div>
                    <div class="content-section__box1">
                        <p class="content-section__txt1">
                            โดยส่วนใหญ่คนที่มีความคิดเรื่องการทำศัลยกรรมตา จะไม่ต้องการทำวิธีกรีด โรงพยาบาลเราก็เช่นกัน การผ่าตัดด้วยเทคนิคกรีด จะต้องผ่านการวินิจฉัยของศัลยแพทย์ว่าเป็นเคสที่จำเป็นต้องทำวิธีนี้เท่านั้น ทางเราถถึงจะดำเนินการ เช่น กรณีที่ใต้ตามีไขมันมาก หรือหนังตาชั้นบนมีความหย่อนคล้อย
                        </p>
                        <div class="content-section__img-wrap type-width clearfix">
                            <div class="content-section__img ">
                                <div class="content-section__item">
                                    <img src="../../images/eye/incisional-sec3-01.jpg" loading="lazy" alt="Incision double eyelid surgery line" class="content-section__thumb sec2-pic1">
                                    <div class="content-section__thumb sec2-pic1"></div>
                                </div>
                            </div>
                            <div class="content-section__img">
                                <div class="content-section__item">
                                    <img src="../../images/eye/incisional-sec3-02.jpg" loading="lazy" alt="Incision double eyelid surgery line"class="content-section__thumb sec2-pic1">
                                </div>
                            </div>
                        </div>
                        <div class="brace type-incisional">
                            <p class="brace__txt txt-v4">
                                หากจำเป็นต้องใช้เทคนิคการกรีด ต้องทำอย่างถูกวิธี
                                การศัลยกรรมตาสองชั้นแบบกรีด สามารถให้ผลลัพธ์ที่น่าพึงพอใจกว่าไม่กรีด
                                <span class="color-incisional1">หากอยู่ภายใต้การควบคุม และฝีมือของศัลยแพทย์ผู้เชี่ยวชาญ</span>
                            </p>
                        </div>
                    </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box4">
	            <div class="content-section">
	                <div class="content-section__wrapper type-bg">
	                    <div class="content-section__wrapper type-desc clearfix">
	                        <div class="content-section__wrapper type-bg--tm">
	                            <h4 class="content-section__tit type-left">
	        						<span class="content-section__number">
	        							<span class="content-section__number-wrap">03</span>
	        						</span>
	                                บาโนบากิ จะทุ่มเทเพื่อ
	                                <strong class="color-incisional1">ความสวยอย่างเป็นธรรมชาติ</strong>
	                            </h4>
	                        </div>
	                        <div class="content-section__desc">
	                            <div class="content-section__question1 highlight-incisional1">“ผ่าตัดด้วยเทคนิคการกรีดจริงๆเหรอคะ”</div>
	                            <div class="content-section__txt1">
	                                ผู้ที่ทำศัลยกรรมกับเรามักจะได้รับผลตอบรับจากเพื่อนหรือคนรอบตัวว่า ดูไม่ออกว่ารับการทำศัลยกรรมตาที่ใช้เทคนิคด้วยการกรีดมา และนี่จึงถือเป็นความสวยอย่างเป็นธรรมชาติในแบบของบาโนบากิ ชั้นตาถูกผ่าตัดตกแต่งอย่างเหมาะสม การกรีดอย่างแม่นยำ ทำให้ไม่ทิ้งรอยแผลเป็น หลงเหลือไว้เพียงเส้นชั้นตาที่สวยเป็นธรรมชาติ
	                                <span class="content-section__dot"></span>
	                            </div>
	                            <div class="content-section__question1 highlight-incisional2">เทคนิคแบบกรีดจะทำให้เห็นร่องรอยชัด?</div>
	                            <div class="content-section__txt1">
	                                คำตอบคือ ไม่เป็นแบบนั้นแน่ๆ การใช้เทคนิคกรีดจะบ่งบอกได้ถึงความชำนาญของศัลยแพทย์ได้อย่างชัดเจนและแน่นอนว่าต้องมีศัลยแพทย์ที่มีความเชี่ยวชาญมากพอที่จะให้การผ่าแบบวิธีกรีด ได้ผลลัพธ์ออกมาเป็นธรรมชาติเหมือนๆกับการเย็บจุดและการไม่กรีด หากจำเป็นต้องผ่าด้วยวิธีการกรีด ต้องหาศัลยแพทย์ที่ความชำนาญมากพอ
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box5">
	            <div class="content-section">
	                <div class="content-section__wrapper type-width">
	                    <div class="content-section__wrapper">
	                        <h4 class="content-section__tit type-center">
	        					<span class="content-section__number">
	        						<span class="content-section__number-wrap">04</span>
	        					</span>
	                            ไร้ข้อกังวลเกี่ยวกับ<strong class="color-incisional1">รอยแผลเป็น และอาการบวม</strong>
	                        </h4>
	                    </div>
	                    <div class="content-section__wrapper type-contents">
	                        <div class="content-section__txt1">
	                            เรื่องของรอยแผลก็เป็นอีกเหตุผลหลักที่ทำให้หลายๆคนอยากเลี่ยงวิธีการกรีด ซึ่งหลังจากผ่าตัด เราจะเห็นแผลผ่าตัดได้ชัดเจนมาก จนทำให้เกิดความกังวล แต่อย่างไรก็ตามเมื่อผ่านไปประมาณ 6 เดือน รอยแผลจะค่อยๆจางลง จนแทบมองไม่เห็น
	                        </div>
	                        <div class="after-surgery">
	                            <ul class="after-surgery__list clearfix">
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img01">After stitch removal</div>
	                                        <div class="after-surgery__desc color">
	                                            <p class="after-surgery__txt1">หลังจากตัดไหม</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img02">After 1 month</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">1 เดือนหลังผ่าตัด</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img03">After 3 months</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">3 เดือนหลังผ่าตัด</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img04">After 6 months</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">6 เดือนหลังผ่าตัด</p>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="content-section__txt1 type-special">
	                            เนื่องจากเป็นการผ่าตัดแบบกรีด ไม่ว่าอย่างไรก็ต้องมีอาการบวมมากกว่าแบบไม่กรีดหรือแบบเย็บจุดเป็นธรรมดา ซึ่งอาการบวมที่หนักที่สุดจะอยู่ในช่วง 1-2 วันแรกเท่านั้น หลังจากนั้นอาการบวมจะลดลงเรื่อยๆจนเป็นปกติ
	                        </div>
	                        <div class="open-close clearfix">
	                            <ul class="open-close__list">
	                                <li class="open-close__item">
	                                    <div class="open-close__inner">
	                                        <div class="open-close__thumb img01">An open front picture, A picture on the right side</div>
	                                    </div>
	                                </li>
	                                <li class="open-close__item">
	                                    <div class="open-close__inner">
	                                        <div class="open-close__thumb img02">An open front picture, A picture on the left side</div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="content-section__txt3">
	                            [ รูปภาพด้านบนเป็นรูปจากผู้ที่ทำศัลยกรรมกับโรงพยาบาลบาโนบากิ ซึ่งได้รับอนุญาตจากบุคคลในรูปก่อนนำมาใช้้ ]
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>

			<!-- operation -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">ข้อมูลเพิ่มเติมเกี่ยวกับการศัลยกรรมแบบกรีด/p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 30 นาที ~ 1 ชั่วโมง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยาชาเฉพาะที่</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
										<p class="operation-v2__txt txt-new1">เอาออกประมาณ 2 ~ 3  วันหลังผ่าตัด</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
										<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 7~14 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									การผ่าตัดแบบกรีด จำเป็นต้องใช้ยาชาเฉพาะจุดเพื่อระงับความรู้สึก ซึ่งจะทำให้รู้สึกเจ็บน้อยกว่าการผ่าแบบไม่กรีดหรือแบบเย็บจุด เมื่อยาชาหมดฤทธิ์อาจจะรู้สึกเจ็บแปลบๆ หรือมีอาการปวดร่วมกัน หากรู้สึกเจ็บหรือปวดมาก สามารถทานยาแก้ปวดได้ ยาแก้ปวดที่หาได้ตามร้านขายยาสามารถบรรเทาอาการได้ ไม่มีปัญหา หากรู้สึกร้อนๆร่วมด้วยสามารถประคบเย็นเพื่อช่วยบรรเทาได้เช่นกัน
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
