<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="eye-relocation">
		<div class="new-visual type-relocation">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">บอกลาถุงใต้ตา ให้ใต้ตากลับมาสดใสอีกครั้ง</p>
						<h3 class="new-visual__tit"><span class="n-color-eye2">จัดเรียงไขมัน</span>ใต้ตา</h3>
						<p class="new-visual__txt">ใบหน้าที่เด็กลงและสดใสขึ้น</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#ใบหน้าที่สดใส</span></li>
							<li class="new-visual__item"><span>#การแก้ไขที่เป็นธรรมชาติ</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
                        ความกังวลใต้ตาส่วนใหญ่ มาจากการเปลี่ยนแปลง<span class="n-color-eye2">รูปทรงของไขมันใต้ตา</span>
					</h4>
					<p class="new-style1__txt txt-new1">
                        ความกังวลหลักๆเกี่ยวกับใต้ตา เช่น ไขมันใต้ตาที่นูนขึ้นมาเยอะ, ริ้วรอยใต้ตา, รอยคล้ำใต้ตา<br class="hidden-tm">
                        อาการเหล่านั้นมักจะเกิดขึ้นพร้อมๆ กัน จึงเป็นเหตุผลที่ทำให้ต้อง <span class="color-black1">“เปลี่ยนแปลงรูปทรงของไขมันใต้ตา”</span>
					</p>
					<p class="new-style1__txt2 txt-new2">
                        อาการเหล่านี้จะทำให้หน้าดูเหนื่อยหรือดูไม่มีแรง และยังทำให้ใบหน้าหมอง รวมถึงดูมีอายุอีกด้วย
                        <span class="n-color-eye2">ดังนั้นการจัดเรียงไขมันใต้ตาจะช่วยแก้ปัญหาและสามารถเปลี่ยนบุคลิกไปในทางที่ดีขึ้นได้</span>
					</p>
					<div class="new-style1__img">
						<img src="../../images/eye/relocation/relocation_img_1.jpg" loading="lazy" alt="ร่องใต้ตาที่ลึก, ไขมันที่หย่อนคล้อย & ริ้วรอยเล็กๆ ใต้ตา" class="img-normal">
					</div>
				</div>
			</div><!--//new-section-->
            <div class="new-section type-cling">
				<div class="outer-box">
					<div class="inner-box">
						<div class="new-description type-pd0">
							<h5 class="new-content-tit type-description tit-new2">
                                <span class="weight-bold">เป้าหมาย</span> ในการจัดเรียงไขมันใต้ตา
                            </h5>

							<ul class="new-description__list">
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										กรณีที่ใต้ตามีไขมันนูนขึ้นมาเยอะ
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										กรณีที่ใต้ตาลึกและมองทะลุเห็นเส้นเลือด ทำให้ตาดูเหนื่อย
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										กรณีที่ดูอายุมากขึ้นเนื่องจากริ้วรอยใต้ตา
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										กรณีที่ใต้ตาไม่เรียบ ทำให้ดวงตาดูไม่เรียบเนียน
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--//new-section-->

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-relocation">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        ไม่ใช่การนำไขมันออกหรือการปลูกถ่ายไขมัน<br class="hidden-tm">
                        <span class="n-color-eye3">แต่คือการจัดเรียงไขมัน</span>
                    </h4>
                    <p class="new-style1__txt txt-new2">
                        วิธีที่ใช้แก้ไขปัญหาไขมันใต้ตาคือ <span class="n-color-eye3">การทำให้ไขมันที่นูนยื่นออกมาลดลงและเติมบริเวณที่ลึกให้เต็มขึ้น</span>
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        การจัดเรียงโดยใช้ไขมันใต้ตาเดิมที่มีอยู่แล้วนั้นย่อมดีกว่าการนำไขมันออกหรือปลูกถ่ายไขมันใหม่เข้าไปเพราะ<span class="color-white">การทำให้ไขมันคงอยู่ได้นานที่สุด</span>นั้นสำคัญกว่าปัญหาอื่นๆ<br><br>

                        หากนำแค่ไขมันออกไปอย่างเดียว เมื่อเวลาผ่านไปไขมันบริเวณรอบๆก็จะหายไปเช่นกันและจะทำให้ใต้ตาดูลึกกว่าเดิม ในทางกลับกัน ถ้าปลูกถ่ายไขมันใหม่บริเวณที่ใต้ตาลึก ข้อเสียคือไม่สามารถแน่ใจได้ว่าไขมันจะติดทนมากน้อยแค่ไหน โดยเฉพาะบริเวณที่มีการขยับอย่างต่อเนื่อง ประสิทธิภาพการคงอยู่ของไขมันก็จะน้อยลงไปอีก
                    </p>
					<div class="new-style1__img">
						<img src="../../images/eye/relocation/relocation_img_2.jpg" loading="lazy" alt="" class="img-normal"/>
					</div>
                    <div class="inner-box">
                        <div class="compare2 type-eye">
                            <h5 class="new-content-tit tit-new2">
                                เหตุผลที่ต้องทำ <span class="weight-bold">”การจัดเรียง”</span> ไขมันที่ใต้ตา
                            </h5>

                            <ul class="compare2__list">
                                <li class="compare2__item">
                                    <div class="compare2__box">
                                        <div class="compare2__img">
                                            <img src="../../images/eye/relocation/relocation_img_3.jpg" loading="lazy" alt="การปลูกถ่ายไขมัน และ การกำจัดไขมัน - โดยการนำไขมันที่เยอะเกินไปออกรวมถึงไขมันบริเวณใกล้เคียงด้วย หรือ กรณีที่ปลูกถ่ายไขมัน ไขมันที่ถูกปลูกถ่ายจะมีอัตราการติดน้อยมาก" class="img-w100"/>
                                        </div>
                                        <div class="compare2__caption txt-new2">
                                            <div class="compare2__vertical">
                                                การปลูกถ่ายไขมัน และ การกำจัดไขมัน
                                            </div>
                                        </div>
                                    </div>
                                    <p class="compare2__txt txt-new1">
                                        โดยการนำไขมันที่เยอะเกินไปออกรวมถึงไขมันบริเวณใกล้เคียงด้วย หรือ กรณีที่ปลูกถ่ายไขมัน ไขมันที่ถูกปลูกถ่ายจะมีอัตราการติดน้อยมาก
                                    </p>
                                </li>
                                <li class="compare2__item nth-2">
                                    <div class="compare2__box">
                                        <div class="compare2__img">
                                            <img src="../../images/eye/relocation/relocation_img_4.jpg" loading="lazy" alt="การจัดเรียงไขมัน - เนื่องจากเป็นการจัดรูปทรงของไขมันใต้ตาใหม่จากไขมันเดิมที่มีอยู่ โอกาสที่ไขมันจะสลายไปจึงมีน้อยมาก" class="img-w100"/>
                                        </div>
                                        <div class="compare2__caption txt-new2">
                                            <div class="compare2__vertical">
                                                การจัดเรียงไขมัน
                                            </div>
                                        </div>

                                        <div class="compare2__area">
                                            <p class="compare2__txt2">
                                                <span class="n-color-eye2">
                                                    การติดทน<br class="hidden-tm">
                                                    ของไขมัน<br class="hidden-tm">
                                                    หลังผ่าตัด
                                                </span>
                                            </p>
                                        </div>
                                    </div>

                                    <p class="compare2__txt txt-new1">
                                        เนื่องจากเป็นการจัดรูปทรงของไขมันใต้ตาใหม่จากไขมันเดิมที่มีอยู่ โอกาสที่ไขมันจะสลายไปจึงมีน้อยมาก
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--//new-section-->

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-relocation2">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        จากการเปรียบเทียบ<span class="n-color-eye2">วิธีการอย่างง่าย</span> สามารถทำได้โดยการจัดเรียงไขมัน
                    </h4>
                    <p class="new-style1__txt txt-new2">
                        ดังนั้น บาโนบากิจึงเลือกเป็นการจัดเรียงไขมันใต้ตา<br class="hidden-tm">
						แน่นอนว่าเพื่อผลที่ดีกว่า ในกรณีที่จำเป็นอาจมีการเติมไขมันของตนเองหรือฟิลเลอร์ รวมถึงโบท็อกซ์เข้าไปด้วยแต่โดยปกติ <span class="n-color-eye2">จะเน้นการจัดเรียงรูปทรงใต้ตาด้วยไขมันเดิมที่มีอยู่แล้วเป็นหลัก</span>
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        วิธีการผ่าตัดเปรียบเทียบกันง่ายๆ หลังจากกรีดเปิดเนื้อเยื่อด้านในตา จะจัดเรียง เกลี่ยไขมันใต้ตาให้พอดี ในตอนนั้น แม้จะเป็นไขมันที่มีอยู่แล้ว อาจมีการตัดหรือเกิดความเสียหายกับเส้นเลือดหลังผ่าตัดได้ ดังนั้นการตัดไขมันออกเท่าที่ทำได้หรือการระวังไม่เกิดการแยกของไขมันจึงเป็นเรื่องที่สำคัญ หลังจากจัดเรียงไขมันก็เย็บปิดแผลบริเวณรอยกรีด เป็นการเสร็จสิ้นการผ่าตัด
                    </p>
                    <div class="inner-box">
                        <div class="img-style3 type-cling type-eye">
                            <h5 class="new-content-tit tit-new2">
                                <span class="weight-bold">วิธีการ</span>จัดเรียงไขมันใต้ตาของบาโนบากิ
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_5.jpg" loading="lazy" alt="STEP 01 มีการวินิจฉัยใต้ตาอย่างละเอียด รวมถึงวางแผนรูปทรงและตำแหน่งของไขมันที่จะจัดเรียง" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 01
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										มีการวินิจฉัยใต้ตาอย่างละเอียด รวมถึงวางแผนรูปทรงและตำแหน่งของไขมันที่จะจัดเรียง
									</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_6.jpg" loading="lazy" alt="STEP 02 เนื่องจากเป็นการกรีดเนื้อเยื่อด้านในตาอย่างละเอียด จึงทำให้มองไม่เห็นรอยแผลผ่าตัดในการใช้ชีวิตประจำวัน" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 02
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										เนื่องจากเป็นการกรีดเนื้อเยื่อด้านในตาอย่างละเอียด จึงทำให้มองไม่เห็นรอยแผลผ่าตัดในการใช้ชีวิตประจำวัน
									</p>
                                </li>
								<li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_7.jpg" loading="lazy" alt="STEP 03 จัดเรียงไขมันใต้ตาให้เหมาะสมกับรูปทรงของไขมันใต้ตาและดวงตาของแต่ละบุคคล" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 03
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										จัดเรียงไขมันใต้ตาให้เหมาะสมกับรูปทรงของไขมันใต้ตาและดวงตาของแต่ละบุคคล
									</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_8.jpg" loading="lazy" alt="STEP 04 ทำให้เนื้อเยื่อด้านในตาที่ใช้พยุงกระชับขึ้น และเย็บปิดรอยกรีด เป็นการเสร็จสิ้นการผ่าตัด" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 04
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										ทำให้เนื้อเยื่อด้านในตาที่ใช้พยุงกระชับขึ้น และเย็บปิดรอยกรีด เป็นการเสร็จสิ้นการผ่าตัด
									</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-relocation3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        การจัดเรียงไขมันใต้ตาของบาโนบากิ
						<span class="n-color-eye2">เห็นผลชัดเจน</span>และ<span class="n-color-eye2">อยู่ได้นาน</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        สาเหตุที่ทำให้ไขมันนูนออกมาหลังจากทำไปครั้งแรกคือความอ่อนแรงของเนื้อเยื่อในตาที่เกิดจากการจัดเรียงไขมัน ด้วยเหตุนี้ หากจัดเรียงไขมันโดยไม่ปรับแก้ไขเนื้อเยื่อในตาให้กระชับขึ้น มีโอกาสสูงที่ผลจะอยู่ได้ไม่นานและถึงแม้จะปรับแก้บริเวณนั้นก็ตาม ขนาดและรูปทรงไขมันก็อาจเปลี่ยนไปเล็กน้อยหรือเมื่อเวลาผ่านไปเนื้อเยื่อในตาอาจอ่อนแรงลงทำให้ไขมันนูนออกมาอีกได้ ขึ้นอยู่กับสภาวะของแต่ละบุคคล<br><br>

						ดังนั้น บาโนบากิจึงคำนึงถึงการแก้ไขเกี่ยวกับเนื้อเยื่อในตาไปพร้อมๆกับการจัดเรียงไขมันใต้ตา<br class="hidden-tm">
						<span class="n-color-eye2">การจัดเรียงตำแหน่งและรูปทรงด้วยวิธีนี้จะช่วยให้ไขมันใต้ตาอยู่ในรูปทรงนี้ได้นานยิ่งขึ้น</span>
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        วิธีนี้เป็นการแก้ไขโดยพื้นฐานของไขมันใต้ตา
						<span class="n-color-eye2">ยิ่งไปกว่านั้นยังเป็นธรรมชาติและอยู่ได้ยาวนานกว่า</span>อีกด้วย
                    </p>
					<div class="new-style1__img">
						<img src="../../images/eye/relocation/relocation_img_9.jpg" loading="lazy" alt="" class="img-normal"/>
					</div>
                    <div class="inner-box">
                        <div class="img-style3 type-cling type-three type-eye">
                            <h5 class="new-content-tit tit-new2">
                                การจัดเรียงไขมันใต้ตาของบาโนบากินั้นรวมไปถึง<span class="weight-bold">แก้ไขเนื้อเยื่อด้านในตา</span>ให้ดีขึ้นด้วย
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_10.jpg" loading="lazy" alt="STEP 01 เนื้อเยื่อด้านในตา" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 01
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_11.jpg" loading="lazy" alt="STEP 02 จัดเรียงไขมัน" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 02
                                        </div>
                                    </div>
                                </li>
								<li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/relocation/relocation_img_12.jpg" loading="lazy" alt="STEP 03 แก้ไขเนื้อเยื่อด้านในตาที่ขยายขึ้น" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            STEP 03
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-relocation4">
					<div class="img-style3 type-cling type-wide type-eye">
						<h5 class="new-content-tit tit-new2 color-white">
							<span class="weight-bold">จุดเด่น</span>ของการจัดเรียงไขมันของบาโนบากิ
						</h5>

						<ul class="img-style3__list">
							<li class="img-style3__item">
								<div class="img-style3__img">
									<img src="../../images/eye/relocation/relocation_img_13.jpg" loading="lazy" alt="ทีมผู้รับผิดชอบด้านศัลยกรรมดวงตาของบาโนบากิที่มีทักษะและความเข้าใจกายวิภาคของดวงตาเป็นอย่างดี" class="img-w100"/>
								</div>
								<div class="img-style3__caption txt-new2">
									<div class="img-style3__vertical">
										ทีมผู้รับผิดชอบด้านศัลยกรรมดวงตาของบาโนบากิที่มีทักษะและความเข้าใจกายวิภาคของดวงตาเป็นอย่างดี
									</div>
								</div>
							</li>
							<li class="img-style3__item">
								<div class="img-style3__img">
									<img src="../../images/eye/relocation/relocation_img_14.jpg" loading="lazy" alt="จัดเรียงไขมันใต้ตา + แก้ไขเนื้อเยื่อด้านในตา - ใบหน้าที่สดใสขึ้น, ผลลัพธ์ที่เป็นธรรมชาติ แทบไม่เห็นรอยแผลเป็นจากการผ่าตัด, ยิ่งกว่านั้น ยังเห็นผลยาวนาน" class="img-w100"/>
								</div>
								<div class="img-style3__caption txt-new2">
									<div class="img-style3__vertical">
										จัดเรียงไขมันใต้ตา + แก้ไขเนื้อเยื่อด้านในตา
									</div>
								</div>
							</li>
						</ul>
					</div>
                </div>
            </div><!--//new-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 30 นาที</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยาชาเฉพาะที่</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
										<p class="operation-v2__txt txt-new1">เอาออกประมาณ 3 วันหลังผ่าตัด</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
										<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 3~5 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									หลังผ่าตัด อาจบวมและรู้สึกแปลกเล็กน้อย เมื่อเวลาผ่านไปอาการเหล่านั้นจะค่อยๆหายไป<br>
									ส่วนอาการบวมและรู้สึกเป็นก้อนๆ สามารถบรรเทาได้ด้วยยาที่ทางโรงพยาบาลสั่งให้<br>
									วันถัดไปหลังจากผ่าตัดสามารถล้างหน้าได้ แต่ห้ามโดนดวงตา
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>ดูข้อควรระวังหลังผ่าตัด</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
