<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-eye-correction">
	    <div class="content-visual__box">
	        <div class="content-visual__border">
	            <p class="content-visual__txt1 type-eye-correction">สิ่งที่สำคัญกว่าตาสองชั้น คือ เสน่ห์ของรูปตา</p>
	            <h3 class="content-visual__tit type-eye-correction">#การปรับ<span class="color-correction1">กล้ามเนื้อตา</span></h3>
	            <p class="content-visual__txt2 type-eye-correction">ปรับดวงตาให้ดูสดใส</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
	    <div class="content-wrap">
	        <div class="correction-box1">
	            <div class="content-section type-first">
	                <h4 class="content-section__tit type-center">
						<span class="content-section__number">
							<span class="content-section__number-wrap">01</span>
						</span>
	                    ดวงตาที่มีเสน่ห์ ต้องเริ่มจากการปรับ<span class="content-highlight2 type-eye-correction2">กล้ามเนื้อตา</span>
	                </h4>
	                <p class="content-section__txt1">
	                    การศัลยกรรมดวงตาที่เป็นที่รู้จักมากที่สุด คือการทำตาสองชั้น จนทำให้เกิดความคิดที่ว่า ดวงตาที่มีเสน่ห์จะต้องเท่ากับตาสองชั้น แต่หากลองสำรวจดูแล้ว คนที่มีตาสองชั้นหลบใน หรือบางคนที่ไม่มีชั้นตาเลย ก็มีเสน่ห์เช่นกัน สิ่งที่เหมือนกันของดวงตาเหล่านั้นคือ รูปร่างพื้นฐานของดวงตาที่เหมาะสม
	                    <strong>ในความเป็นจริงแล้วรูปลักษณ์ของตาสองชั้นจะขึ้นอยู่กับรูปหน้าของแต่ละคน มากกว่ารูปทรงของชั้นตา</strong>โดยเฉพาะตำแหน่งของลูกตาดำที่จะถูกมองเห็นผ่านรูปตาของบุคคลนั้นๆ
	                </p>
	                <div class="site-box14">
	                    <div class="site-box14__outer type-bg clearfix">
	                        <div class="site-box14__model--m">
	                            <img class="hidden-pt" src="../../images/eye/eyeexposure-bg-m.jpg" loading="lazy" alt="Model image">

	                            Model image</div>
	                        <div class="site-box14__inner">
	                            <h5 class="site-box14__tit">
	                                { การมองเห็นลูกตาดำที่แตกต่างกันกับรูปร่างของดวงตา }
	                            </h5>
	                            <div class="site-box14__thumb main">
	                                <img class="hidden-t normal" src="../../images/eye/eyeform1-pm.jpg" loading="lazy" alt="Normal eye shape image">
	                                <img class="hidden-pm" src="../../images/eye/eyeform1-t.jpg" loading="lazy" alt="Normal eye shape image">
	                                <p class="site-box14__txt1">รูปร่างของดางตาโดยทั่วไป</p>
	                            </div>
	                            <div class="site-box14__thumb sub clearfix">
	                                <div class="site-box14__img img02 clearfix">
	                                    <img class="hidden-t" src="../../images/eye/eyeform2-pm.jpg" loading="lazy" alt="Mild hypertropia">
	                                    <img class="hidden-pm" src="../../images/eye/eyeform2-t.jpg" loading="lazy" alt="Mild hypertropia">
	                                    <span class="site-box14__tit--m">
										<span class="site-box14__box--m">
											ตาเหล่เล็กน้อย
											<span class="site-box14__smallest">(หนังตาตก)</span>
										</span>
									</span>
	                                </div>
	                                <div class="site-box14__desc">
	                                    <h6 class="site-box14__sub-tit">
	                                        ตาเหล่เล็กน้อย (หนังตาตก)
	                                    </h6>
	                                    <p class="site-box14__txt2">
	                                        กล้ามเนื้อที่ปกติจะทำหน้าที่ดึงหนังตาด้านบนให้เปิดออก แต่หนังตาด้านนอกมีลักษระหนังตาตก
	                                    </p>
	                                </div>
	                            </div>
	                            <div class="site-box14__thumb sub clearfix">
	                                <div class="site-box14__img img03 clearfix">
	                                    <img class="hidden-t" src="../../images/eye/eyeform3-pm.jpg" loading="lazy" alt="Severe hypertropia">
	                                    <img class="hidden-pm" src="../../images/eye/eyeform3-t.jpg" loading="lazy" alt="Severe hypertropia">
	                                    <span class="site-box14__tit--m">
											<span class="site-box14__box--m">
												ตาเหล่ <br>
												<span class="site-box14__smallest">(หนังตาตก)</span>
											</span>
									</span>
	                                </div>
	                                <div class="site-box14__desc">
	                                    <h6 class="site-box14__sub-tit">
	                                        ตาเหล่ (หนังตาตก)
	                                    </h6>
	                                    <p class="site-box14__txt2">
	                                        ดวงตาปกติ แต่ลูกตาดำอยู่ในตำแหน่งที่สูงขึ้นไป ทำให้เห็นส่วนของตาขาวด้านล่างมากเกินไป
	                                    </p>
	                                </div>
	                            </div>
	                            <div class="site-box14__thumb sub clearfix">
	                                <div class="site-box14__img img04 clearfix">
	                                    <img class="hidden-t" src="../../images/eye/eyeform4-pm.jpg" loading="lazy" alt="Ptosis">
	                                    <img class="hidden-pm" src="../../images/eye/eyeform4-t.jpg" loading="lazy" alt="Ptosis">
	                                    <span class="site-box14__tit--m">
											<span class="site-box14__box--m">
												หนังตาตก
											</span>
										</span>
	                                </div>
	                                <div class="site-box14__desc">
	                                    <h6 class="site-box14__sub-tit">
	                                        หนังตาตก
	                                    </h6>
	                                    <p class="site-box14__txt2">
	                                        ทำให้ดวงตามีลักษณะเหมือนง่วงนอน และหนังตาเปิดต่ำว่า 7 มิลลิเมตร
	                                    </p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="site-box14__info">
	                        <div class="site-box14__tit--info">
	                            <span class="color-correction4">การปรับกล้ามเนื้อตา</span> คืออะไร
	                        </div>

	                        <div class="site-box14__txt--info">การปรับกล้ามเนื้อตา
	                            <span class="color-correction4">คือการศัลยกรรมที่ปรับให้สามารถลืมตาได้อย่างชัดเจน และทำให้มองเห็นลูกตาดำได้อย่างเหมาะสม</span>เพื่อให้เกิดเป็นรูปร่างของดวงตาที่มีเสน่ห์มากยิ่งขึ้น
	                        </div>
	                    </div>
	                    <div class="site-box14__bf">
	                        <img class="hidden-tm" src="../../images/eye/eyeform5-p.jpg" loading="lazy" alt="surgery before after">
	                        <img class="hidden-pm" src="../../images/eye/eyeform5-t.jpg" loading="lazy" alt="surgery before after">
	                        <img class="hidden-pt" src="../../images/eye/eyeform5-m.jpg" loading="lazy" alt="surgery before after">
	                        <span class="progress-tag type-before">before</span>
	                        <span class="progress-tag type-after">after</span>
	                    </div>

	                </div>
	                <div class="content-section__wrapper">
	                    <p class="content-section__txt2">
	                        ฉะนั้น หากดวงตาของคุณไม่สามารถเห็นลูกตาดำในขนาดที่เหมาะสมได้ แทนที่จะยึดติดกับการทำตาสองชั้น แนะนำให้ลองนึงถึง<strong class="color-correction5">การปรับกล้ามเนื้อตา</strong> หรือ<strong class="color-correction5">การเปิดรอบดวงตา</strong>
	                        ควบคู่ไปกับการศัลยกรรมเพื่อปรับรูปร่างของดวงตาก่อน
	                    </p>
	                    <p class="content-section__txt1 lg brace type-eye-correction">
	                        โดยเฉพาะ
	                        เมื่อ<strong class="type-border">กล้ามเนื้อตาอ่อนแรง</strong>ไม่สามารถลืมตาได้เต็มที่ทำให้เห็นลูกตาดำเพียงเล็กน้อย เพียงแค่ศัลยกรรม<span class="color-correction6">ปรับกล้ามเนื้อตา</span><br class="hidden-tm">
	                        <strong>เย็บกล้ามเนื้อให้มีแรงมากขึ้น</strong>ก็สามารถทำให้มีดวงตาที่ตาสดใสขึ้นได้
	                    </p>
	                </div>
	            </div>
	            <!-- content-section -->
	        </div>

	        <div class="correction-box2">
	            <div class="content-section">
	                <div class="content-section__wrapper">
	                    <div class="content-section__desc">
	                        <h4 class="content-section__tit type-left">
	            				<span class="content-section__number">
	            					<span class="content-section__number-wrap">02</span>
	            				</span>
	                            การทำตาสองชั้นกับการปรับกล้ามเนื้อตามี<span class="content-highlight2 type-eye-correction3">เป้าหมาย</span>ที่แตกต่างกัน
	                        </h4>
	                        <p class="content-section__txt1">
	                            หลักการของการทำตาสองชั้น คือการเชื่อมหนังตาเข้ากับกล้ามเนื้อที่ใช้ในการลืมตา ซึ่งคือการทำให้ผิวหนังพับขึ้นไปโดยอัตโนมัติเมื่อมีการลืมตา แต่<span class="type-border">หากทว่า กล้ามเนื้อตาอ่อนแรง ก็ไม่ได้หมายความว่าจะไม่มีชั้นตา</span> แต่จะทำให้<span class="type-border">ลืมตาได้ไม่เต็มที่ ก็เลยดูเหมือนง่วงนอนอยู่ตลอดเวลานั่นเอง</span> ดวงตาที่มีเสน่ห์ควรจะเป็นดวงตาที่หนังตาเปิดขึ้นทำให้เห็นลูกตาดำชัดเจน แต่การทำตาสองชั้น ทำให้เกิดเพียงเส้นชั้นตา แต่ไม่ได้ทำให้มองเห็นลูกตาดำชัดขึ้น
	                        </p>
	                        <p class="content-section__txt1">
	                            ฉะนั้น จึงจำเป็นที่จะต้องปรับรูปดวงตา
	                            <span class="content-highlight type-eye-correction5">เพราะการศัลยกรรมปรับรูปดวงตาเป็นการเพิ่มแรงในการดึงหนังตาให้เปิดมากขึ้น ส่งผลให้เกิดเป็นรูปดวงตาที่มีเสน่ห์</span>
	                            หากเป็นกรณีที่กล้ามเนื้ออ่อนแรง การปรับกล้ามเนื้อตาก็สามารถทำให้ดวงตาดูโตสดใสขึ้นได้ หรือหากเป็นกรณีที่มีเส้นชั้นตาอยู่แล้ว เมื่อได้ปรับกล้ามเนื้อตาเสริมด้วยก็จะทำให้เกิดเส้นชั้นตาที่ชัดเจนและมีเสน่ห์มากชึ้น นอกจากนี้แล้ว เมื่อเราสามารถลืมตาได้สบายมากขึ้น จะทำให้ช่วยลดริ้วรอยที่เกิดจากพฤติกรรมการขมวดคิ้ว หรือการยกคิ้วขึ้นโดยไม่รู้ตัวอีกด้วย
	                        </p>
	                    </div>
	                    <div class="content-section__wrap site-box">
	                        <div class="site-box15 clearfix">
	                            <div class="site-box15__wrapper clearfix">
	                                <div class="site-box15__outer">
	                                    <div class="site-box15__inner">
	                                        <img class="hidden-t" src="../../images/eye/eyepurpose1-pm.jpg" loading="lazy" alt="Ptosis correction before image">
	                                        <img class="hidden-pm" src="../../images/eye/eyepurpose1-t.jpg" loading="lazy" alt="Ptosis correction before image">
	                                        <span class="progress-tag type-before">before</span>
	                                    </div>
	                                </div>
	                                <div class="site-box15__outer">
	                                    <div class="site-box15__inner">
	                                        <img class="hidden-t" src="../../images/eye/eyepurpose2-pm.jpg" loading="lazy" alt="Ptosis correction after image">
	                                        <img class="hidden-pm" src="../../images/eye/eyepurpose2-t.jpg" loading="lazy" alt="Ptosis correction after image">
	                                        <span class="progress-tag type-after">AFTER 6 MONTH</span>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="site-box15__quotation">
	                                <p class="site-box15__txt1">
	                                    แม้จะมีตาสองชั้น แต่หากกล้ามเนื้อตาอ่อนแรง ก็ไม่สามารถทำให้เห็นลูกตาดำได้อย่างพอเหมาะ
	                                </p>
	                                <p class="site-box15__txt2">
	                                    การศัลยกรรมปรับกล้ามเนื้อตาจะช่วยเรื่องรูปร่างของดวงตาทำให้สามารถให้มีดวงตาที่โตสดใสขึ้นได้
	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                    <p class="caution-para1">
	                        ※ รูปภาพที่เห็นด้านบน สามารถต่างแตกออกไปได้ตามลักษณะการถ่ายทำ และรูปนี้ได้รับอนุญาตจากบุคคลในรูปก่อนนำมาใช้
	                    </p>
	                </div>
	            </div>
	            <!-- content-section -->
	        </div>

	        <div class="correction-box3">
	            <div class="content-section">
	                <div class="content-section__wrapper type-left">
	                    <h4 class="content-section__tit type-top">
							<span class="content-section__number">
								<span class="content-section__number-wrap correction-n3">03</span>
							</span>
	                        <strong>การศัลยกรรมทุกประเภท</strong>
	                        ไม่สามารถครอบคลุม<strong>ทุกกรณี </strong><br class="hidden-pm">
	                        <span class="content-highlight type-eye-correction1">กรุณาตัดสินใจอย่างรอบคอบ</span>
	                    </h4>
	                    <div class="content-section__wrapper type-width">
	                        <p class="content-section__txt1 correction-n3">
	                            อย่างที่ได้อธิบายไปข้างต้น การศัลยกรรมปรับกล้ามเนื้อตามีไว้สำหรับดวงตาที่กล้ามเนื้อที่ใช้ในการเปิดลูกตามีอาการอ่อนแรง ในทางกลับกันหากกล้ามเนื้อปกติดี ก็ไม่มีความจำเป็นต้องทำศัลยกรรมนี้ ฉะนั้นการตรวจสภาพของของดวงตาก่อนตัดสินใจจึงเป็นสิ่งที่ดีที่สุดบางครั้งคำวินิจฉัยเบื้องต้น เช่น เมื่อกดบริเวณเหนือคิ้วแล้วทำให้ลืมตาลำบาก, เกิดริ้วรอยบนหน้าผากเวลาลืมตา, ไม่มีเส้นชั้นตาและหนังตาดูหย่อนคล้อย หรือดวงตาดูเล็ก อาจจะทำให้ได้รับการเสนอให้ทำศัลยกรรมปรับรูปดวงตา แต่คำวินิจฉัยเพียงเท่านี้ก็ไม่ได้หมายความว่าจะเป็นคำตอบในการแก้ไขอาการกล้ามเนื้อตาอ่อนแรงได้ จึงอาจกลายเป็นสาเหตุหนึ่งที่ทำให้ตัดสินใจเลือกศัลยกรรมผิดวิธี
	                        </p>
	                        <p class="content-section__txt1 correction-n3 content-highlight type-eye-correction3">
	                            ดังนั้นแล้วนี่จึงเป็นสาเหตุให้คุณต้องเลือกผู้เชี่ยวชาญ ที่จะสามารถให้คำวินิจฉัยได้ว่าจำเป็นที่ต้องทำศัลยกรรมปรับกล้ามเนื้อตาหรือไม่ หรือหากจำเป็นก็สามารถวางแผนได้ว่าต้องปรับระดับเพื่อให้ได้ผลลัพธ์ที่ไม่มากเกินไป หรือน้อยเกินไป
	                        </p>
	                    </div>
	                </div>
	                <div class="diagnosis">
	                    <div class="diagnosis__outer clearfix">
	                        <div class="diagnosis__inner">
	                            <div class="diagnosis__thumb">
	                                eye diagnostics image
	                            </div>
	                            <div class="diagnosis__desc">
	                                <h5 class="diagnosis__tit">
	                                    <strong class="color-correction9">คำวินิจฉัยต่างๆที่ไม่ชัดเจนเกี่ยวกับกล้ามเนื้อดวงตา</strong>
	                                </h5>
	                                <p class="diagnosis__txt--numbering">
	                                    <span class="diagnosis__numbering">01.</span>
	                                    วินิจฉัยจากกล้ามเนื้อตาอ่อนแรง เมื่อมีการกดบริเวณหน้าผากแล้ว ทำให้ลืมตาลำบาก
	                                </p>
	                                <p class="diagnosis__txt--numbering">
	                                    <span class="diagnosis__numbering">02.</span>
	                                    วินิจฉัยจากริ้วรอยบนหน้าผากเวลาลืมตา
	                                </p>
	                                <p class="diagnosis__txt--numbering">
	                                    <span class="diagnosis__numbering">03.</span>
	                                    วินิจฉัยจากการที่มองเห็นลูกตาดำเพียงครึ่งเดียว
	                                </p>
	                                <p class="diagnosis__txt--numbering">
	                                    <span class="diagnosis__numbering">04.</span>
	                                    วินิจฉัยจากขนาดของดวงตา
	                                </p>

	                            </div>
	                        </div>
	                        <div class="diagnosis__txt1 type-quotation">
	                            ศัลยกรรมปรับกล้ามเนื้อตา จำเป็นที่จะต้องได้รับ<span class="color-correction10">คำวินิจฉัยที่ถูกต้องชัดเจนว่าจำเป็นหรือไม่</span>
	                            และ<span class="color-correction10">ต้องพิจารณาเรื่องกล้ามเนื้อตาอย่างละเอียด</span>เพื่อการปรับรูปร่าง
	                        </div>
	                    </div>
	                    <div class="diagnosis__ways clearfix">
	                        <div class="diagnosis__circle">
	                            Counseling image
	                            <div class="diagnosis__border">

	                            </div>
	                        </div>

	                        <div class="diagnosis__wrapper type-desc">
	                            <h5 class="diagnosis__sub-tit">
	                                เพราะ<span class="color-correction11">กล้ามเนื้อตาของแต่ละคนมีแรงที่ต่างกัน</span>
	                                เทคนิคที่ใช้ในการปรับจึงต้องแตกต่างกันออกไป
	                            </h5>
	                            <p class="diagnosis__txt2">
	                                หากกล้ามเนื้อตาอ่อนแรงจนทำให้มองเห็นลูกตาดำเพียงครึ่งเดียวก็จะเหมาะกับการปรับกล้ามเนื้อโดยใช้วิธีกรีด แต่หากกล้ามเนื้อตาพอมีแรงอยู่บ้าง ก็สามารถใช้เทคนิคเย็บจุดสองชั้นได้
	                            </p>
	                        </div>

	                    </div>
	                </div>
	            </div>
	            <!-- content-section -->
	        </div>

	        <!-- tab  -->
	        <div class="content-tab">
	            <div class="content-tab__inner">
	                <ul class="content-tab__list">
	                    <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-double">ศัลยกรรมปรับกล้ามเนื้อตาแบบเย็บจุดสองชั้น</a></li>
	                    <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-ptosis">ศัลยกรรมปรับกล้ามเนื้อตาแบบกรีด</a></li>
	                </ul>
	            </div>
	        </div>

	        <!-- tab content -->
	        <div class="content-tab__page page-double is-active">
	            <div class="content-tab__box">
	                <div class="correction-box4">
	                    <div class="content-section">
	                        <div class="content-section__wrapper">
	                            <p class="content-section__txt1">
	                                ศัลยกรรมปรับกล้ามเนื้อตาแบบเย็บจุดสองชั้น เป็นเทคนิคที่คิดขึ้นมาใหม่โดย ผู้อำนวยการโรงพยาบาลศัลยกรรมบาโนบากิ ศัลยแพทย์ ปาร์ค ซอนแจ ซึ่งจะไม่มีการกรีด แต่จะใช้แรงจากไหมช่วยให้กล้ามเนื้อติดกัน เป็นวิธีการที่ปลอดภัยและได้ผลลัพธ์เป็นสองเท่า
	                            </p>
	                            <p class="content-section__txt1">
	                                การศัลยกรรมปรับกล้ามเนื้อตา โดยไม่กรีดแต่ใช้เพียงไหมเย็บนั้น นับว่าเป็นการศัลยกรรมที่ค่อนข้างยุ่งยากพอสมควร เพราะการปรับแรงของกล้ามเนื้อด้วยเทคนิคนี้มีความยากและค่อนข้างละเอียด และข้อเสียของเทคนิคนี้คือยังมีโอกาสที่ไหมอาจจะหลุดอีกด้วย แต่การเย็บจุดสองชั้นสามารถกำจัดข้อเสียเหล่านั้นได้ และยังมีอีกข้อดีก็คือไม่ต้องกรีดอีกด้วย
	                            </p>
	                            <p class="content-section__txt2">
	                                เทคนิคศัลยกรรมแบบไม่กรีด จะทำให้ทั้งระยะเวลาผ่าตัด และระยะเวลาพักฟื้นสั้นขึ้นนอกจากนี้
	                                <span class="color-correction16">หลังผ่าตัดแล้วจะไม่ค่อยมีอาการปวด และอาการบวมต่างๆ จึงทำให้สามารถกลับไปใช้ชีวิตตามปกติได้ไวยิ่งขึ้น</span>
	                            </p>
	                        </div>
	                    </div>
	                </div>
	                <div class="incisional-eye">
	                    <div class="incisional-eye__wrapper clearfix">
	                        <div class="layer-doc7">
	                            <div class="layer-doc7__wrapper">
	                                <div class="layer-doc7__outer">
	                                    <div class="layer-doc7__inner">
	                                        <p class="layer-doc7__tit">
	                                            เพิ่มแรงกล้ามเนื้อ<br> ที่ใช้ในการลืมตา
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="layer-doc7__outer">
	                                    <div class="layer-doc7__inner">
	                                        <p class="layer-doc7__tit">
	                                            วิธีที่ปลอดภัย<br>
	                                            และได้ผลลัพธ์<br>
	                                            ที่พึงพอใจ
	                                        </p>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="layer-doc7__wrapper">
	                                <div class="layer-doc7__outer">
	                                    <div class="layer-doc7__inner">
	                                        <p class="layer-doc7__tit">
	                                            พักฟื้น<br>
	                                            ในระยะสั้น
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="layer-doc7__outer type-bigger">
	                                    <div class="layer-doc7__inner type-bigger">
	                                        <h4 class="layer-doc7__tit type-bigger">
	                                            ศัลยกรรมปรับกล้ามเนื้อตา<br> แบบเย็บจุดสองชั้น
	                                        </h4>
	                                    </div>
	                                </div>

	                                <div class="layer-doc7__outer">
	                                    <div class="layer-doc7__inner">
	                                        <p class="layer-doc7__tit">
	                                            ดวงตาสวยงาม<br> เป็นธรรมชาติ
	                                        </p>
	                                    </div>
	                                </div>
	                            </div>

	                            <div class="layer-doc7__wrapper">
	                                <div class="layer-doc7__outer">
	                                    <div class="layer-doc7__inner">
	                                        <p class="layer-doc7__tit">
	                                            ระยะเวลา<br> ผ่าตัดสั้น
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="layer-doc7__outer">
	                                    <div class="layer-doc7__inner">
	                                        <p class="layer-doc7__tit">
	                                            รูปลักษณ์ที่<br> สดใส
	                                        </p>
	                                    </div>
	                                </div>

	                            </div>
	                        </div>

							<div class="advantage">
	                            <div class="advantage__wrap">
	                                <h4 class="advantage__tit">ศัลยกรรมปรับกล้ามเนื้อตา แบบเย็บจุดสองชั้น</h4>

	                                <ul class="advantage__list">
	                                    <li class="advantage__item nth-1">
	                                        เพิ่มแรงกล้ามเนื้อ ที่ใช้ในการลืมตา
	                                    </li>
	                                    <li class="advantage__item nth-2">
	                                        วิธีที่ปลอดภัย และได้ผลลัพธ์ ที่พึงพอใจ
	                                    </li>
	                                    <li class="advantage__item nth-3">
	                                        พักฟื้น ในระยะสั้น
	                                    </li>
	                                    <li class="advantage__item nth-4">
	                                        ดวงตาสวยงาม เป็นธรรมชาติ
	                                    </li>
	                                    <li class="advantage__item nth-5">
	                                        ระยะเวลา ผ่าตัดสั้น
	                                    </li>
	                                    <li class="advantage__item nth-6">
	                                        รูปลักษณ์ที่ สดใส
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="incisional-eye__bar">
	                        <div class="incisional-eye__tit">
	                            <strong class="color-correction17">ศัลยกรรมปรับกล้ามเนื้อตาแบบเย็บจุดสองชั้น</strong>
	                        </div>
	                        <div class="incisional-eye__txt1">
	                            การปรับกล้ามเนื้อโดยไม่ต้องกรีด เพียงใช้แรงจากไหมช่วยให้กล้ามเนื้อติดกัน
	                        </div>
	                    </div>
	                </div>

					<!-- operation -->
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-eye">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
									<!-- <p class="operation-v2__subtit">คำนึงถึงความเจ็บปวดที่เกิดขึ้นในขณะให้ยาชา</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 30 นาที</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
												<p class="operation-v2__txt txt-new1">ยาชาเฉพาะที่</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
												<p class="operation-v2__txt txt-new1">เอาออกประมาณ 3 ~ 5  วันหลังผ่าตัด</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
												<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 1 ครั้ง</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 3 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-eye">
										<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											เนื่องจากเป็นการใช้ยาชาเฉพาะจุด ความเจ็บปวดที่เกิดจากการใช้ยาชาจะน้อยลง<br>
											หลังจากผ่าตัดแล้วบริเวณแผลอาจจะรู้สึกแสบหรือร้อนได้บ้างแต่เมื่อเวลาผ่านไปอาการจะค่อยๆหายไปตามลำดับ<br>
											ส่วนอาการบวมและรู้สึกเป็นก้อนๆ สามารถบรรเทาได้ด้วยยาที่ทางโรงพยาบาลสั่ง ควบคู่ไปกับการหมั่นประคบเย็น จะยิ่งช่วยให้ลืมตาได้กว้างชึ้นและบรรเทาอาการบวมให้ลดลงได้เร็วขึ้นอีกด้วย
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
											<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
	            </div>
	        </div>

	        <div class="content-tab__page page-ptosis">
	            <div class="content-tab__box">
	                <div class="correction-box5">
	                    <div class="content-section">
	                        <div class="content-section__wrapper">
	                            <p class="content-section__txt1">
	                                หากพิจารณาจากความอ่อนแรงของกล้ามเนื้อตา บางครั้งวิธีการเย็บจุดแบบสองชั้นอาจไม่ได้ผลจึงต้องใช้วิธีการผ่าตัดแบบกรีดเพื่อให้เห็นเป็นรูปเป็นร่างชัดเจนมากขึ้นแต่โดยส่วนใหญ่แล้วหลายๆคนมักต้องการที่จะหลีกเลี่ยงการผ่าตัดแบบกรีด เพราะกลัวและมีความคิดที่ว่าถ้าทำแบบกรีด อาจจะทำให้ได้ผลลัพธ์ที่ดูแปลกออกไปอย่างไรก็ตามหากได้ผู้เชี่ยวชาญที่มีความสามารถและความชำนาญให้คำแนะนำในการผ่าตัด ก็จะสามารถทำให้ผลลัพธ์ของดวงตานั้นออกมาดูเป็นธรรมชาติได้
	                            </p>
	                            <p class="content-section__txt1">
	                                สิ่งหนึ่งที่ทำให้เข้าใจผิดเกี่ยวกับการผ่าแบบกรีดคือ อาการบวมที่เกิดขึ้นในช่วงระยะพักฟื้น ซึ่งเมื่ออาการบวมบรรเทาลง ผลลัพธ์ของการผ่าแบบกรีดและไม่กรีดแทบไม่ต่างกัน หรือหากเป็นกรณีที่เส้นตาสองชั้นอยู่สูงเกินไป ทำให้ได้ผลลัพธ์ที่แปลกออกไป ซึ่งกรณีนี้จะไม่ถือเป็นปัญหาของการผ่าตัดแต่จะขึ้นกับความชำนาญของศัลยแพทย์นั้นๆ
	                            </p>
	                            <p class="content-section__txt1">
	                                หากได้ลองทำความเข้าใจดูอีกครั้งความจริงแล้วการใช้เทคนิคนี้ก็มีข้อดีอยู่มากมายศัลยแพทย์สามารถตรวจสอบแรงตึงของกล้ามเนื้อได้โดยตรง และยังสามารถกำหนดตำแหน่งที่ต้องการได้อย่างชัดเจน ทำให้ได้ผลลัพธ์ที่น่าพอใจ นอกจากนี้ หลังการผ่าตัดแล้ว เมื่อสามารถลืมตาได้สบายมากขึ้น จะยิ่งทำให้อาการบวมช่วงพักฟื้นหายเร็วขึ้นด้วย
	                            </p>
	                            <p class="content-section__txt2 brace ">
	                                ศัลยแพทย์สามารถตรวจสอบแรงตึงของกล้ามเนื้อได้โดยตรง และยังสามารถกำหนดตำแหน่งที่ต้องการได้อย่างชัดเจน ทำให้ได้ผลลัพธ์ที่น่าพอใจ นอกจากนี้ หลังการผ่าตัดแล้ว <span class="color-correction12">เมื่อสามารถลืมตาได้สบายมากขึ้น จะยิ่งทำให้อาการบวมช่วงพักฟื้นหายเร็วขึ้นด้วย</span>
	                            </p>
	                        </div>
	                    </div>
	                </div>
	                <div class="misunderstanding">
	                    <div class="misunderstanding__bg clearfix">
	                        <div class="misunderstanding__wrapper align">
	                            <h4 class="misunderstanding__tit">
									<span class="content-highlight type-eye-correction6">
										ความเข้าใจผิดเกี่ยวกับ<span class="color-correction13">ศัลยกรรมปรับกล้ามเนื้อตาแบบกรีด</span>
									</span>
	                            </h4>
	                            <div class="misunderstanding__desc">
	                                <h5 class="misunderstanding__sub-tit">
	                                    <span class="misunderstanding__number">01.</span>
	                                    ผลลัพธ์ที่ดูแปลก?
	                                </h5>
	                                <p class="misunderstanding__txt1">
	                                    อาการบวมที่เกิดขึ้นในช่วงพักฟื้น ทำให้เกิดความเข้าใจผิด หากเป็นในกรณีที่เส้นตาสองชั้นที่อยู่สูงเกินไปทำให้ได้ผลลัพธ์ที่แปลกออกไปกรณีนี้จะไม่ถือเป็นปัญหาของการผ่าตัดแต่จะขึ้นกับความชำนาญของศัลยแพทย์นั้นๆ
	                                </p>
	                            </div>

	                            <div class="misunderstanding__desc">
	                                <h5 class="misunderstanding__sub-tit">
	                                    <span class="misunderstanding__number">02.</span>
	                                    มีรอยแผลชัดมองเห็นได้ง่าย?
	                                </h5>
	                                <p class="misunderstanding__txt1">
	                                    หลังได้รับการผ่าตัด แน่นอนว่าจะเห็นเป็นรอยแผลทันที ซึ่งทุกคนต่างกังวล แต่ใช้เวลาประมาณ 6 เดือน รอยแผลจะค่อยๆจางลงจนแทบมองไม่เห็น
	                                </p>
	                            </div>
	                            <div class="misunderstanding__thumb">
	                                <ul class="misunderstanding__list clearfix">
	                                    <li class="misunderstanding__item">
	                                        <div class="misunderstanding__inner">
	                                            <img class="hidden-tm" src="../../images/eye/eyescar1-p.jpg" loading="lazy" alt="After stitch removal image">
	                                            <img class="hidden-pm" src="../../images/eye/eyescar1-t.jpg" loading="lazy" alt="After stitch removal image">
	                                            <img class="hidden-pt" src="../../images/eye/eyescar1-m.jpg" loading="lazy" alt="After stitch removal image">
	                                        </div>
	                                        <div class="misunderstanding__desc-box">
	                                            หลังจากตัดไหม
	                                        </div>
	                                    </li>
	                                    <li class="misunderstanding__item">
	                                        <div class="misunderstanding__inner">
	                                            <img class="hidden-tm" src="../../images/eye/eyescar2-p.jpg" loading="lazy" alt="After 1 month image">
	                                            <img class="hidden-pm" src="../../images/eye/eyescar2-t.jpg" loading="lazy" alt="After 1 month image">
	                                            <img class="hidden-pt" src="../../images/eye/eyescar2-m.jpg" loading="lazy" alt="After 1 month image">
	                                        </div>
	                                        <div class="misunderstanding__desc-box">
	                                            1 เดือนหลังผ่าตัด
	                                        </div>
	                                    </li>
	                                    <li class="misunderstanding__item">
	                                        <div class="misunderstanding__inner">
	                                            <img class="hidden-tm" src="../../images/eye/eyescar3-p.jpg" loading="lazy" alt="After 3 months image">
	                                            <img class="hidden-pm" src="../../images/eye/eyescar3-t.jpg" loading="lazy" alt="After 3 months image">
	                                            <img class="hidden-pt" src="../../images/eye/eyescar3-m.jpg" loading="lazy" alt="After 3 months image">
	                                        </div>
	                                        <div class="misunderstanding__desc-box">
	                                            3 เดือนหลังผ่าตัด
	                                        </div>
	                                    </li>
	                                    <li class="misunderstanding__item">
	                                        <div class="misunderstanding__inner">
	                                            <img class="hidden-tm" src="../../images/eye/eyescar4-p.jpg" loading="lazy" alt="After 6 months">
	                                            <img class="hidden-pm" src="../../images/eye/eyescar4-t.jpg" loading="lazy" alt="After 6 months">
	                                            <img class="hidden-pt" src="../../images/eye/eyescar4-m.jpg" loading="lazy" alt="After 6 months">
	                                        </div>
	                                        <div class="misunderstanding__desc-box">
	                                            6 เดือนหลังผ่าตัด
	                                        </div>
	                                    </li>
	                                </ul>
	                                <p class="misunderstanding__info">※ ภาพจริงกับภาพถ่ายด้านบนอาจมีความแตกต่างกันได้เนื่องจากข้อจำกัดในการถ่าย และรูปดังกล่าวได้รับอนุญาตจากบุคคลในรูปก่อนนำมาใช้</p>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="misunderstanding__bg-dark">
	                        <div class="misunderstanding__inner-box">
	                            <div class="misunderstanding__wrapper quotation type-eye-correction">
	                                <p class="misunderstanding__txt2">
	                                    ศัลยแพทย์สามารถตรวจสอบแรงตึงของกล้ามเนื้อได้โดยตรง และยังสามารถกำหนดตำแหน่งที่ต้องการได้อย่างชัดเจน ทำให้ได้ผลลัพธ์ที่น่าพอใจซึ่งโรงพยาบาลบาโนบากิทุ่มเทกับการศึกษาด้านนี้เป็นอย่างมาก จึงทำให้<span class="color-correction14 border">มีความเชี่ยวชาญในการศัลยกรรมปรับกล้ามเนื้อตาแบบกรีดเป็นพิเศษ</span>
	                                </p>
	                                <p class="misunderstanding__txt3">
	                                    รอยกรีดที่บรรจงประณีต เกิดเป็น<span class="color-correction15">เส้นตาสองชั้นที่เป็นธรรมชาติ</span><br>
	                                    กรีดเฉพาะที่จำเป็นเท่านั้น เพื่อ<span class="color-correction14">การฟื้นตัวที่รวดเร็ว</span><br>
	                                    ดวงตาที่สดใสมีชีวิตชีวา เพื่อ<span class="color-correction15">รูปลักษณ์ที่ดีขึ้น</span>
	                                </p>
	                            </div>
	                        </div>
	                    </div>

	                </div>

					<!-- operation -->
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-eye">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
									<!-- <p class="operation-v2__subtit">คำนึงถึงความเจ็บปวดที่เกิดขึ้นในขณะให้ยาชา</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 40 นาที ~ 1 ชั่วโมง</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
												<p class="operation-v2__txt txt-new1">ยาชาเฉพาะที่</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
												<p class="operation-v2__txt txt-new1">เอาออกประมาณ 4 ~ 5  วันหลังผ่าตัด</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
												<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 1 ครั้ง</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 7 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-eye">
										<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											เนื่องจากเป็นการใช้ยาชาเฉพาะจุด ความเจ็บปวดที่เกิดจากการใช้ยาชาจะน้อยลง<br>
											หลังจากผ่าตัดแล้วบริเวณแผลอาจจะรู้สึกแสบหรือร้อนได้บ้างแต่เมื่อเวลาผ่านไปอาการจะค่อยๆหายไปตามลำดับ<br>
											ส่วนอาการบวมและรู้สึกเป็นก้อนๆ สามารถบรรเทาได้ด้วยยาที่ทางโรงพยาบาลสั่ง ควบคู่ไปกับการหมั่นประคบเย็น จะยิ่งช่วยให้ลืมตาได้กว้างชึ้นและบรรเทาอาการบวมให้ลดลงได้เร็วขึ้นอีกด้วย
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
											<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
	            </div>
	        </div>
	    </div>

	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
