<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-middle-age">
	    <div class="content-visual__box">
	        <div class="content-visual__border type-middle-age">
	            <p class="content-visual__txt1 type-middle-age">
	                เพื่อรูปลักษณ์ที่ดูสดใสขึ้น และยังส่งผลดีต่อสุขภาพตา
				</p>
	            <h3 class="content-visual__tit type-middle-age">#ศัลยกรรม<span class="color-middle-age1">แก้ริ้วรอยรอบดวงตา</span></h3>
	            <p class="content-visual__txt2 type-middle-age">ดวงตาที่ดูเด็กลงอย่างเป็นธรรมชาติ</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
	    <div class="content-wrap">
	        <div class="middle-box1">
	            <div class="content-section type-first">
	                <div class="quotes">
	                    <div class="quotes__wrapper quotation">
	                        <h4 class="quotes__txt1">
	                            การทำความเข้าใจกับข้อกังวลในวัยกลางคน บาโนบากิขอเสนอ
	                            <span class="color-middle-age2">การศัลยกรรมแก้ริ้วรอยรอบดวงตา</span>ที่สามารถตอบสนองความต้องการ เหล่านี้ได้อย่างไร้ข้อกังวล
	                        </h4>
	                    </div>
	                    <p class="quotes__txt2">
	                        การผ่าตัดดวงตาสำหรับวัยกลางคนต้องใช้วิธีที่แตกต่างจากการผ่าตัดของบุคคลทั่วไปที่มีอายุน้อยกว่า
	                    </p>
	                </div>
	                <div class="site-box6__wrapper">
	                    <div class="site-box6">
	                        <div class="site-box6__box">
	                            <ul class="site-box6__list clearfix">
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
											<span class="link__icon-wrap">
												<span class="link__icon"><span class="link__line"></span></span>
											</span>
	                                        <p class="site-box6__txt1">
	                                            สิ่งที่สำคัญกว่าการเปลี่ยนแปลงที่เห็นได้ชัดเจนในเรื่องรูปทรงหรือ
	                                            ขนาดของดวงตาคือการฟื้นฟูดวงตาให้
	                                            <strong class="color-middle-age10">กลับคืนสู่วัยเยาว์อย่างเป็นธรรมชาติ</strong>ด้วยการแก้ไขริ้วรอยหย่อนคล้อย
	                                        </p>
	                                    </div>
	                                </li>
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
	                                        <p class="site-box6__txt1">ในขณะเดียวกันก็ต้อง<span class="color-middle-age4">ลดข้อกังวล</span>ในการศัลยกรรม</p>
	                                    </div>
	                                </li>
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
											<span class="link__icon-wrap type-rotate">
												<span class="link__icon"><span class="link__line"></span></span>
											</span>
	                                        <p class="site-box6__txt1">นอกจากนี้ยังสามารถส่งผลดีต่อ<strong class="color-middle-age10">การทำงานของดวงตา</strong>ได้อีกด้วย</p>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>

	                        <div class="site-box6__slogan">
	                            <p class="site-box6__txt2">
	                                บาโนบากิเรามีการ<strong class="border-bottom">วางแผนการผ่าตัดอย่างละเอียด</strong>และทุ่มเทอย่างเต็มที่เพื่อ
	                                ให้เกิด<span class="color-middle-age3 border-bottom">ความพอใจสูงสุดในการศัลยกรรมแก้ริ้วรอยรอบดวงตา</span>
	                            </p>
	                        </div>
	                    </div>

	                </div>
	            </div><!-- //content-section -->
	        </div>
	        <div class="content-tab">
	            <div class="content-tab__inner">
	                <ul class="content-tab__list">
	                    <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-nonincision">ตัดหนังตาบน</a></li>
	                    <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-incise">ศัลยกรรมยกกระชับใต้ตา</a></li>
	                </ul>
	            </div>
	        </div>

	        <!-- tab contents -->
	        <div class="content-tab__page page-nonincision is-active">
	            <div class="content-tab__box">
	                <div class="content-tab__wrapper">
	                    <div class="middle-box2">
	                        <div class="content-section">
	                            <div class="content-section__wrapper type-width">
	                                <div class="content-section__wrapper type-unique">
	                                    <h4 class="content-section__tit type-top">
	                                        <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	                                        หนังตาที่หย่อนคล้อยที่เกิดจากช่วงอายุ,
	                                        ต้องคำนึงถึง<strong class="color-middle-age5">สุขภาพของดวงตา</strong>ด้วยเช่นกัน
	                                    </h4>
	                                </div>
	                                <div class="content-section__wrapper">
	                                    <p class="content-section__txt1">
	                                        ผิวหนังบริเวณเปลือกตาก็เหมือนกับผิวหนังบริเวณอื่นๆ ที่มีการหย่อนคล้อยไปตามกาลเวลา
	                                        เมื่อเปลือกตาหย่อนคล้อยทำให้ใบหน้าดูมีอายุ และยังมีผลต่อการมองเห็น
	                                        <span class="content-highlight type-eye-middle-age">เมื่อระยะการมองเห็นแคบลงอาจต้องยกคิ้วขึ้นหรือเพ่งมองขมวดใบหน้า อันเป็นสาเหตุที่มาของการเกิดริ้วรอย</span>
	                                    </p>
	                                    <p class="content-section__txt1">
	                                        ปัญหาหลักของหนังตาตกคือผลข้างเคียงที่เกิดกับสุขภาพตา
	                                        <strong>ตามีอาการบวมน้ำตาไหลง่ายเกิดแผลที่ปลายหางตา หรือบางครั้งเกิดอาการอักเสบ</strong>
	                                        ดังนั้นปัญหาหนังตาตกควรแก้ด้วยการศัลยกรรมตัดหนังตาบน
	                                    </p>
	                                </div>
	                            </div>
	                            <div class="content-section__wrapper">
	                                <div class="eye-case">
	                                    <div class="eye-case__box">
	                                        <h5 class="eye-case__tit">วัยกลางคนที่ต้องได้รับการศัลยกรรมตา</h5>
	                                    </div>
	                                    <div class="eye-case__box type-special">
	                                        <ul class="eye-case__list clearfix">
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img01">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                อาการบวม
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img02">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                หนังตาตก
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img03">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                อาการน้ำตาไหล
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img04">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                เป็นแผลที่ปลายหางตา
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box3">
	                        <div class="content-section">
	                            <div class="content-section__wrapper clearfix">
	                                <div class="content-section__inner type-thumb">
	                                    <img src="../../images/eye/middleage-2-01.jpg" loading="lazy" alt="Middle Age Upper Blepharoplasty Model Image">
	                                </div>
	                                <div class="content-section__inner">
	                                    <h4 class="content-section__tit type-left">
	                                        <span class="content-section__number type-0"><span class="content-section__number-wrap">02</span></span>
	                                        <strong class="color-middle-age6">ข้อกังวล</strong>ที่ทำให้ลังเลในการตัดสินใจ,
	                                        บาโนบากิเข้าใจอย่างดี
	                                    </h4>
	                                    <div class="content-section__outer">
	                                        <div class="content-section__thumb">Middle Age Upper Blepharoplasty Model Image</div>
	                                    </div>
	                                    <div class="axiety quotation type-eye-middle-age">
	                                        <ul class="axiety__list">
	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1">
	                                                    <span class="axiety__number">01 . </span>
	                                                    <span class="axiety__span">
	                                                        <strong class="color-middle-age7">กลัว</strong>การผ่าตัดศัลยกรรม
	                                                    </span>
	                                                </p>
	                                            </li>
	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1">
	                                                    <span class="axiety__number">02 . </span>
	                                                    <span class="axiety__span">
	                                                        <strong class="color-middle-age7">กังวล</strong>เกี่ยวกับการเปลี่ยนแปลงอย่างฉับพลันของใบหน้า
	                                                    </span>
	                                                </p>
	                                            </li>

	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1">
	                                                    <span class="axiety__number">03 . </span>
	                                                    <span class="axiety__span">
	                                                        <strong class="color-middle-age7">กังวล</strong>เรื่องความเจ็บปวด
	                                                    </span>
	                                                </p>
	                                            </li>

	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1">
	                                                    <span class="axiety__number">04 . </span>
	                                                    <span class="axiety__span">
	                                                        <strong class="color-middle-age7">กังวล</strong>ว่าจะมีผลกับการใช้ชีวิตประจำวัน
	                                                    </span>
	                                                </p>
	                                            </li>
	                                        </ul>
	                                        <p class="axiety__txt2">
												<span class="eclipsis type-eye-middle-age">
													<span class="eclipsis__wrap">
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
													</span>
												</span>
	                                            “ก็แค่อดทนแล้วใช้ชีวิตไปอย่างนี้ คงทำอะไรไม่ได้ี้…”
	                                        </p>

	                                    </div>
	                                </div>
	                            </div>
	                            <p class="content-section__txt1">
	                                หลายคนไม่กล้าตัดสินใจรับการศัลยกรรมตัดหนังตาบนถึงแม้ว่าหนังตาที่หย่อนคล้อยจะทำให้เกิดปัญหามากมาย
	                                <span class="content-highlight type-eye-middle-age">เพราะกลัวการผ่าตัดกังวลเกี่ยวการเปลี่ยนแปลงของหน้าตาหรือความเจ็บปวดและช่วงเวลาพักฟื้น</span>
	                                บาโนบากิเราเข้าใจในจุดนี้เป็นอย่างดีจึงทุ่มเทมาตลอดเพื่อนำเสนอวิธีที่ดีที่สุด
	                            </p>
	                        </div>
	                        <!--contenct-section-->

	                    </div>
	                    <div class="middle-box4">
	                        <div class="content-section">
	                            <div class="content-section__wrapper">
	                                <div class="content-section__wrapper bg img01">
	                                    <h4 class="content-section__tit type-center">
											<span class="content-section__number">
												<span class="content-section__number-wrap sec2-number-wrap">
													03
												</span>
											</span>
	                                        เพราะว่าเราเข้าใจและคำนึงถึงข้อนั้น จึงเกิดเป็น<strong class="color-middle-age8">ศัลยกรรมตัดหนังตาบนแบบ เย็บจุดสองชั้น</strong>
	                                    </h4>
	                                    <div class="content-section__wrapper content-box">
	                                        <p class="content-section__txt1">
	                                            ข้อกังวลส่วนใหญ่ของการศัลยกรรมตัดหนังตาบนมักเกี่ยวกับเรื่องแผลที่จะเกิดจากการผ่าตัด
	                                            อย่างไรก็ตามการพยายามที่จะแก้ไขปัญหาเปลือกตาที่หย่อนคล้อยด้วยด้ายเพียงเส้นเดียวนั้นไม่ได้ผล และยังก่อให้เกิดความเสี่ยงที่ด้ายจะหลุดอีกด้วย
	                                        </p>
	                                        <p class="content-section__txt1">
	    										<span class="content-highlight type-eye-middle-age2">
	    											นี่คือเหตุผลที่บาโนบากิได้คิดค้นศัลยกรรมตัดหนังตาแบบเย็บจุดสองชั้น ซึ่งเพิ่มความแข็งแรงด้วยการยึดติดของเนื้อเยื่อ
	    										</span>
	                                        </p>
	                                        <div class="uppereye">
	                                            <div class="uppereye__wrapper bg">
	                                                <div class="uppereye__item clearfix">
	                                                    <div class="uppereye__wrapper thumb">
	                                                        <div class="uppereye__img eye"></div>
	                                                        <div class="uppereye__wrapper guide-box">
	                                                            <div class="uppereye__guide"><span class="uppereye__dot black">icon</span>แรงของเส้นด้าย</div>
	                                                            <div class="uppereye__guide plus"><span class="uppereye__dot red">icon</span>การยึดติดกันของเนื้อเยื่อ</div>
	                                                        </div>
	                                                        <div class="uppereye__desc">
	                                                            <h5 class="rectangle">
		                                                            <span class="rectangle__inner">
		                                                                ศัลยกรรมตัดหนังตาแบบเย็บจุดสองชั้น
		                                                                <span class="triangle">triangle</span>
		                                                            </span>
	                                                            </h5>
	                                                            <p class="uppereye__txt1">
	                                                                การศัลยกรรมที่ไม่มีการกรีด
	                                                                ใช้ความแข็งแรงของเส้นด้าย และการยึดติดกันของเนื้อเยื่อ
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="content-section__wrapper bg img02">
	                                    <div class="content-section__wrapper type-width quotation type-eye-middle-age2">
	                                        <div class="content-section__txt1 type-width">
	                                            ศัลยกรรมตัดหนังตาแบบเย็บจุดสองชั้น จะหลีกเลี่ยงการกรีดให้เกิดแผล และการใช้ความแข็งแรงของเส้นด้าย บวกกับการยึดติดกันของเนื้อเยื่อทำให้ได้ผลลัพธ์ที่มีประสิทธิภาพ และมีเสถียรภาพยิ่งขึ้น และเนื่องจากไม่มีการกรีดจึงไม่ต้องกังวลเกี่ยวกับการผ่าตัด ระยะเวลาผ่าตัด รวมไปถึงระยะพักฟื้นก็สั้นลง
	                                        </div>
	                                        <p class="content-section__txt2 type-width">
	                                            นอกจากนี้ หลังจากการผ่าตัดแล้วอาการบวมและอาการเจ็บที่น้อยมาก
	                                            ทำให้<strong class="color-middle-age11">ดูเป็นธรรมชาติไม่ส่งผลต่อการใช้ชีวิตประจำวัน</strong>
	                                        </p>
	                                    </div>
	                                    <div class="content-section__wrapper type-rhombus">
	                                        <div class="site-box8">
	                                            <div class="site-box8__layer nth1">
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                ระยะเวลาผ่าตัดสั้นลง
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                ระยะเวลาพักฟื้นสั้น
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>

	                                            <div class="site-box8__layer nth2">
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                การผ่าตัดแก้ไขอย่างมีประสิทธิภาพ
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item type-special">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                ศัลยกรรมตัดหนังตาบนแบบเย็บจุดสองชั้น
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                เพิ่มแรงให้กับกล้ามเนื้อตา
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                            <div class="site-box8__layer nth3">
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                ดวงตาที่ดูอ่อนโยนและดูเป็นธรรมชาติ
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                รูปลักษณ์ที่ดูเด็กลงและสดใสขึ้น
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>

	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>

						<!-- operation -->
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-eye">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
										<!-- <p class="operation-v2__subtit">เราใส่ใจทุกรายละเอียดแม้กระทั่งอาการปวดที่เกิดจากการวางยา</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 30 นาที</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
													<p class="operation-v2__txt txt-new1">ยาชาเฉพาะที่่</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
													<p class="operation-v2__txt txt-new1">เอาออกประมาณ 3 ~ 5 วันหลังผ่าตัด</p>
												</div>
											</li>
											<li class="operation-v2__item nth-4 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
													<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 1 ครั้ง</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 7~14 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-eye">
											<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 1){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">square</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">square</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												เนื่องเป็นการใช้ยาชาเฉพาะจุด ความเจ็บปวดที่เกิดจากการใช้ยาชาจะน้อยลง<br>
												หลังจากผ่าตัดแล้วบริเวณแผลอาจจะรู้สึกแสบ หรือร้อนได้ เมื่อเวลาผ่านไปอาการจะค่อยๆหายไปตามลำดับ<br>
												ส่วนอาการบวมและรู้สึกเป็นก้อนๆ สามารถบรรเทาได้ด้วยยาที่ทางโรงพยาบาลสั่ง ควบคู่ไปกับการหมั่นประคบเย็น
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
												<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>
			            </div>

	                    <div class="middle-box5">
	                        <div class="content-section">
	                            <div class="content-section__wrapper">
	                                <div class="content-section__wrapper">
	                                    <h4 class="content-section__tit type-center">
											<span class="content-section__number">
												<span class="content-section__number-wrap sec2-number-wrap">
													04
												</span>
											</span>
	                                        การตัดหนังตาแบบกรีดก็สามารถทำให้ออกมา
	                                        <strong class="color-middle-age5">เป็นธรรมชาติ</strong>ได้เช่นกัน
	                                    </h4>
	                                    <div class="content-section__wrapper type-desc">
	                                        <p class="content-section__txt1">
	                                            แน่นอนว่าหากเป็นกรณีที่ผิวหนังหย่อนคล้อยมากไม่สามารถแก้ไขได้อย่างง่ายดายด้วยวิธีการเย็บจุดแบบสองชั้นไม่ว่าจะมีการแก้ไขที่แม่นยำเท่าไหร่ หรือแก้ไขเรื่องกล้ามเนื้อตาแล้ว แต่หากผิวหนังส่วนเกินยังหย่อนคล้อยอยู่ก็ไม่มีความหมาย
	                                            ในกรณีเช่นนี้จำเป็นต้องใช้การศัลยกรรมตัดหนังตาแบบกรีด โดยจะเป็นการนำเอาผิวหนังและไขมันส่วนเกินออก เพื่อแก้ไขปัญหาการหย่อนคล้อยได้อย่างมีประสิทธิภาพ
	                                        </p>
	                                        <p class="content-section__txt1">
												<span class="content-highlight type-eye-middle-age3">ถึงแม้จะเป็นการกรีดหากแต่ไม่ต้องกังวลเรื่องเส้นชั้นตาที่หนา หรือการเปลี่ยนไปของรูปลักษณ์อย่างฉับพลัน</span>
	                                            เพราะบาโนบากิสามารถปรับเส้นชั้นตาได้อย่างเหมาะสม ด้วยความสามารถและประสบการณ์ที่สั่งสมมานานหลายปี ขึ้นอยู่กับสภาพชั้นตาของแต่ละคน ว่าจะสามารถกรีดบริเวณเหนือขนตาได้เลยหรือไม่ หรือต้องการคงสภาพตาชั้นเดียวแบบเดิมก็สามารถทำได้เช่นกัน
	                                            เนื่องจากขั้นตอนการกรีดในการผ่าตัดส่งผลให้เกิดอาการบวมและแน่นอนว่าจะไม่คุ้นเคยทันทีหลัง
	                                            การผ่าตัด อย่างไรก็ตามเมื่ออาการบวมหายไป จะได้ผลลัพธ์ที่ดูเป็นธรรมชาติและเป็นที่น่าพึงพอใจ
	                                        </p>
	                                    </div>
	                                    <div class="content-section__wrapper main-point clearfix">
	                                        <div class="content-section__wrapper eye"></div>
	                                        <div class="content-section__wrapper circle-box">
	                                            <div class="site-box7">
	                                                <h5 class="site-box7__tit">จุดสำคัญ</h5>
	                                                <ul class="site-box7__list clearfix">
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h6 class="site-box7__number">01</h6>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    กรีดเส้นชั้นตาใกล้กับขนตาเพื่อให้ได้ตาสองชั้นที่ดูดป็นธรรมชาติ
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h6 class="site-box7__number">02</h6>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    การวางแผนอย่างละเอียดเพื่อกำหนดปริมาณการเอาออก
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h6 class="site-box7__number">03</h6>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    กรีดเฉพาะส่วนที่จำเป็นจริงๆเท่านั้นเพื่อการพักฟื้นที่ไวขึ้น
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h6 class="site-box7__number">04</h6>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    ดวงตาที่สดใสมีชีวิตชีวาเพื่อรูปลักษณ์ที่ดีขึ้น
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>

						<!-- operation -->
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-eye">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
										<!-- <p class="operation-v2__subtit">เราใส่ใจทุกรายละเอียดแม้กระทั่งอาการปวดที่เกิดจากการวางยา</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 40 นาที ~ 1 ชั่วโมง</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
													<p class="operation-v2__txt txt-new1">ยาชาเฉพาะที่</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
													<p class="operation-v2__txt txt-new1">เอาออกประมาณ 5 ~ 7 วันหลังผ่าตัด</p>
												</div>
											</li>
											<li class="operation-v2__item nth-4 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
													<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 1 ครั้ง</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 7~14 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-eye">
											<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 1){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">square</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">square</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												เนื่องเป็นการใช้ยาชาเฉพาะจุด ความเจ็บปวดที่เกิดจากการใช้ยาชาจะน้อยลง<br>
												หลังจากผ่าตัดแล้วบริเวณแผลอาจจะรู้สึกแสบ หรือร้อนได้ เมื่อเวลาผ่านไปอาการจะค่อยๆหายไปตามลำดับ<br>
												ส่วนอาการบวมและรู้สึกเป็นก้อนๆ สามารถบรรเทาได้ด้วยยาที่ทางโรงพยาบาลสั่ง ควบคู่ไปกับการหมั่นประคบเย็น
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
												<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-tab__page page-incise">
	            <div class="content-tab__box">
	                <div class="content-tab__wrapper">
	                    <div class="middle-box6">
	                        <div class="content-section">
	                            <div class="content-section__wrapper middle-bg-w">
	                                <div class="content-section__wrapper middle-bg-m">
	                                    <h4 class="content-section__tit type-top">
											<span class="content-section__number">
												<span class="content-section__number-wrap sec2-number-wrap">
													01
												</span>
											</span>
	                                        ร่องรอยที่ซับซ้อนของริ้วรอยใต้ดวงตา
	                                        <span class="content-highlight type-eye-middle-age4">การศัลยกรรมยกกระชับใต้ตา</span>สามารถแก้ไขปัญหานี้ได้
	                                    </h4>
	                                </div>
	                                <p class="content-section__txt2">
	                                    บริเวณใต้ตาและตีนกาเป็น<strong class="color-middle-age12">หนึ่งในที่ที่สามารถเห็นริ้วรอยได้ชัดเจนที่สุด</strong>
	                                </p>
	                                <p class="content-section__txt1">
	                                    เมื่อผิวหนังบริเวณใต้ตาสูญเสียความยืดหยุ่นทำให้เกิดเป็นร่องริ้วรอย การเปลี่ยนเป็นสีดำคล้ำ และถุงหย่อนคล้อย ทั้งหมดนี้ทำให้ดูเป็นคนมีอายุ หรือดูเหนื่อยล้า เมื่อปรับปรุงด้วยการศัลยกรรมยกกระชับใต้ตาแล้วจะทำให้ดูมีรูปลักษณ์ที่สดใสและอ่อนกว่าวัย ริ้วรอยเหี่ยวย่นที่ได้รับจากแสงแดดสามารถรับมือด้วยการรักษาเลเซอร์
	                                    แต่<span class="content-highlight type-eye-middle-age5">โดยส่วนใหญ่แล้วการศัลยกรรมยกกระชับใต้ตาจะให้ผลลัพธ์ที่มีประสิทธิภาพมากกว่า</span>
	                                </p>
	                            </div>

	                            <div class="site-box9">
	                                <div class="site-box9__wrapper">
	                                    <div class="site-box9__desc">
	                                        <div class="site-box9__brace">
	                                            <div class="site-box9__wrapper brace type-eye-middle-age">
	                                                <h5 class="site-box9__tit">
	                                                    เมื่อไรที่เราต้องการ
	                                                    <span class="color-middle-age11">การศัลยกรรมยกกระชับใต้ตา</span>
	                                                </h5>
	                                            </div>
	                                        </div>
	                                        <p class="site-box9__txt1">
												<span class="eclipsis type-eye-middle-age2">
													<span class="eclipsis__wrap">
														<span class="eclipsis__circle type-eye-middle-age2"></span>
														<span class="eclipsis__circle type-eye-middle-age2"></span>
														<span class="eclipsis__circle type-eye-middle-age2"></span>
														<span class="eclipsis__circle type-eye-middle-age2"></span>
													</span>
												</span>
	                                            ใต้ตาดำคล้ำ<br>
	                                            ริ้วรอยใต้ดวงตา<br>
	                                            มีถุงไขมันใต้ตา<br>
	                                        </p>
	                                        <div class="site-box9__thumb">
	                                            <ul class="site-box9__list clearfix">
	                                                <li class="site-box9__item img1"></li>
	                                                <li class="site-box9__item img2"></li>
	                                            </ul>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box7">
	                        <div class="content-section type-eye-middle-age">
	                            <div class="content-section__wrap lower-eye-2 clearfix">
	                                <div class="content-section__box w-7">
	                                    <div class="content-section__img type-special6">
	                                        <img src="../../images/eye/lower-eye-sec2.jpg" loading="lazy" alt="">
	                                    </div>
	                                </div>
	                                <div class="content-section__box w-4 type-bottom">
	                                    <h4 class="content-section__tit type-left">
	                                        <span class="content-section__number type-0"><span class="content-section__number-wrap">02</span></span>
	                                        <strong class="color-middle-age6">การศัลยกรรมยกกระชับใต้ตา</strong>
	                                        มีข้อดีมากมาย
	                                    </h4>
	                                    <div class="content-section__wrapper thumb"></div>
	                                    <p class="content-section__txt1">
	                                        การศัลยกรรมกระชับใต้ตา เป็นการกรีดบริเวณใต้ดวงตาใกล้กับโคนขนตา กำจัดผิวหนังหรือไขมันที่ไม่จำเป็น>
	                                        <span class="content-highlight type-eye-middle-age3 type-font">ทั้งนี้ขึ้นอยู่กับความต้องการของแต่ละบุคคล สามารถทำให้รอยย่นเรียบขึ้น หรือกำจัดไขมันในถุงที่หย่อนคล้อยออกในปริมาณที่พอเหมาะเพื่อให้ผิวด้านล่างของดวงตาเรียบขึ้น</span>
	                                    </p>
	                                    <p class="content-section__txt1">
	                                        เนื่องจากการผ่าตัดครั้งเดียว สามารถตอบสนองความต้องการซับซ้อนของปัญหาใต้ดวงตา ไม่ว่าจะเป็นริ้วรอย หรือสีผิวคล้ำ ทำให้เป็นการศัลยกรรมที่ค่อนข้างเป็นที่พึงพอใจ
	                                    </p>
	                                </div>
	                            </div><!-- //content-section__wrap-->
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box8">
	                        <div class="content-section">
	                            <div class="content-section__wrapper type-wide">
	                                <div class="content-section__bg img1">
	                                    <div class="content-section__wrapper type-width quotation type-eye-middle-age3">
	                                        <div class="content-section__txt1 type-width">
	                                            หากมีการตัดผิวหนังบริเวณใต้ตาออกมากเกินไป อาจะเกิดปัญหาทำให้เห็นดวงตาขาวมากเกิน ฉะนั้นการหาศัลยแพทย์ที่มีประสบการณ์ที่สามารถดำเนินการได้อย่างชำนาญเป็นจึงเป็นสิ่งสำคัญ
	                                            การศัลยกรรมของบาโนบากิมี 2 วิธีทำควบคู่กัน คือการกรีดอย่างประณีตและการกำจัดไขมันในชั้นเนื้อเยื่อสีแดงของผิวหนัง สามารถลดผลข้างเคียงและทำให้การฟื้นตัวเร็วขึ้น
	                                        </div>
	                                        <p class="content-section__txt2 type-width">
	                                            นอกจากนี้เนื่องจากรอยกรีดใก้ลโคนขนตา
	                                            <strong class="color-middle-age11">รอยแผลจึงแทบมองไม่เห็น</strong>
	                                            ทำให้<strong class="color-middle-age11">ลดความกังวล </strong>และ
	                                            <strong class="color-middle-age11">ได้ผลลัพธ์ที่ดูอ่อนวัยลงอย่างเป็นธรรมชาติ</strong>
	                                        </p>
	                                    </div>

	                                    <div class="site-box10">
	                                        <h5 class="site-box10__tit">ช้อดีของ<strong class="color-middle-age15">การศัลยกรรมยกกระชับใต้ตา</strong></h5>
	                                        <ul class="site-box10__list clearfix">
	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            กรีดใกล้โคนขนตา
	                                                            ลดความกังวลเรื่องรอยแผล
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>

	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            การกำจัดไขมันในปริมาณที่พอเหมาะ
	                                                            ทำให้บริเวณใต้ตาดูเรียบเนียนขึ้น
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>
	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            การผ่าตัดที่เป็นระบบช่วยลดผลข้างเคียง
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>
	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            การกรีดที่เหมาะสม และการดูแลหลังผ่าตัดทำให้ฟื้นตัวได้ไวขึ้น
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>
	                                        </ul>
	                                    </div>

	                                </div>
	                                <div class="content-section__bg img2">
	                                    <div class="content-section__wrapper type-unique">
	                                        <div class="content-section__wrapper type-width2 quotation type-eye-middle-age4">
	                                            <h4 class="content-section__tit">
	                                                <span class="color-middle-age14 type-bigger">ได้เวลาทวงคืนความสวยงาม</span>ที่หายไปกับกาลเวลา
	                                            </h4>
	                                            <p class="content-section__txt3 type-width">
	                                                รอบๆตัวมีแต่คนถามว่า ทำไมมีอายุแล้ว ยังดูสวยอยู่...
	                                            </p>
	                                            <p class="content-section__txt4 color-middle-age11">รู้สึกเหมือนเกิดใหม่เลย</p>
	                                        </div>
	                                        <div class="content-section__wrapper bf">
	                                            <div class="content-section__wrapper before">BEFORE</div>
	                                            <div class="content-section__thumb"></div>
	                                        </div>
	                                        <p class="content-section__notice caution-para1">
	                                            ※ รูปภาพที่เห็นด้านบน สามารถต่างแตกออกไปได้ตามลักษณะการถ่ายทำ และรูปนี้ได้รับอนุญาตจากบุคคลในรูปก่อนนำมาใช้
	                                        </p>
	                                    </div>


	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>

						<!-- operation -->
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-eye">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
										<!-- <p class="operation-v2__subtit">การกรีดที่เหมาะสมและการดูแลอย่างเป็นระบบจะทำให้ฟื้นตัวเร็วขึ้น</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
													<p class="operation-v2__txt txt-new1">ยานอนหลับ</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
													<p class="operation-v2__txt txt-new1">เอาออกประมาณ 7 วันหลังผ่าตัด</p>
												</div>
											</li>
											<li class="operation-v2__item nth-4 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
													<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 1 ครั้ง</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 7~14 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-eye">
											<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 1){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">square</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">square</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												ไม่รู้สึกเจ็บเนื่องจากใช้ยานอนหลับในระหว่างผ่าตัด<br>
												หลังผ่าตัดจะมีอาการเจ็บบ้าง แต่จะค่อยๆ ดีขึ้นหลังจากนั้น<br>
												อาจรู้สึกเหมือนบริเวณใต้ดวงตาบวมขึ้นเนื่องจากการบวม แต่ว่าอาการบวมจะค่อยๆ ดีขึ้นเรื่อยๆ<br>
												อาการปวดเพียงเล็กน้อยสามารถรับประทานยาแก้ปวดที่แพทย์สั่งให้หรือบรรเทาด้วยการประคบเย็น
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
												<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
