<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-eye-double">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">แค่ปมเล็กๆ แต่ให้ผลลัพธ์ดียิ่ง</p>
				<h3 class="content-visual__tit">#ตาสองชั้นแบบธรรมชาติ<span class="double-color1">ไร้การกรีด</span></h3>
				<p class="content-visual__txt2">ราวกับความงามที่ติดตัวมาตั้งแต่เกิด</p>
			</div>
		</div>
	</div>
	<!-- visual -->

	<!-- Content -->
	<div class="content type-eye-double">
		<div class="content-wrap">
			<div class="content-section type-first">
				<div class="double-box1">
					<div class="double-box1__box">
						<h4 class="double-box1__tit">
							<span class="double-color1">ยึดติดกันอย่างคงทน</span>แทบไม่มีการหลุด<br>
							บวมน้อย ช้ำน้อย <span class="double-color1">ฟื้นตัวอย่างรวดเร็ว</span>
						</h4>
						<p class="double-box1__txt">สิ่งสำคัญของการศัลยกรรมตาสองชั้นที่บาโนบากิ</p>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box2">
					<div class="double-box2__box pop-info">
						<h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							ผูกปมอย่างประณีตบรรจง<br>
							<a href="" class="info-btn js-info">
								<span class="info-btn__icon">info</span>
								<strong class="double-color2">เพื่อเพิ่มความหนาแน่น</strong>
								<span class="info-desc type-eye-double">
									<span class="info-desc__item">
										<span class="info-desc__box">
											<span class="info-desc__tit"><span class="info-desc__icon"></span>ความหนาแน่น?<br class="hidden-tm"></span>
											<span class="info-desc__content">
												<span class="info-desc__txt1">
													คิดง่ายๆ คือการเย็นชั้นตาควบคู่
													กับกล้ามเนื้อในตาเพื่อความหนาแน่นคงทนของชั้นตานั่นเอง
												 </span>
											</span>
										</span>
										<button class="info-desc__btn js-close">
											<span class="info-desc__stick type-left"></span>
											<span class="info-desc__stick type-another"></span>
											ปิด
										</button>
									</span>
								</span>
							</a>ให้มากขึ้น
						</h4>

						<p class="content-section__txt1">
							เมื่อก่อนการใช้วิธีการเย็บปมได้ผลออกมาเป็นธรรมชาติ พักฟื้นตัวเร็วก็จริง แต่ปัญหาคือปมหลุดง่าย ซึ่งนั่นเป็นข้อเสียของวิธีการเย็บปมนั่นเอง
							ที่บาโนบากิเราศึกษาค้นคว้าสิ่งสำคัญของการศัลยกรรมตาสองชั้นและได้ออกมาเป็นวิธีการทำตาสองชั้นแบบธรรมชาติโดยไม่กรีด ไม่เย็บปิดแผล
							เป็นการผูกปมอย่างประณีตบรรจงตรงผิวหนังกับกล้ามเนื้อให้เส้นลายสองชั้นออกมาอย่างเป็นธรรมชาติและสวยงาม
						</p>
						<p class="content-section__txt2">
							<strong class="content-highlight type-eye-double">การผูกปมสองชั้นนี้อาจจะฟังดูเป็นวิธีที่ง่ายๆ แต่<span class="double-color3">ไม่ได้หมายความว่าใครๆก็ทำได้</span></strong>
						</p>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box3">
					<div class="double-box3__wrap">
						<p class="double-box3__subtit">ราวกับความงามที่ติดตัวมาตั้งแต่เกิด</p>
						<h4 class="content-section__tit">
							<strong>เย็บปมสองชั้น</strong>
							เป็นวิธีที่บาโนบากิคิดค้นขึ้นมาใหม่
							เราเก่งกว่า ด้วย<span class="content-highlight type-eye-double2">วิธีผ่าตัดแบบไม่กรีด</span>
						</h4>
						<div class="double-box3__box">
							<p class="content-section__txt1">
								ศัลยแพทย์ ดร.ปาร์ค ซอนเจ หัวหน้าทีมศัลยกรรมตาของบาโนบากิ กล่าวว่า
								<span class="double-color4">“หากเราเข้าใจทฤษฎีการผ่าตัดอย่าง100% เราก็จะมองเห็นแนวทางใหม่ๆ”</span>
								ดังนั้นจึงเกิดเป็นวิธีการทำตาด้วยวิธีเย็บปมสองชั้นตั้งแต่ปี 2003 เป็นต้นมา
								เรายังคงเน้นผ่าตัดวิธีพื้นฐานแต่เพิ่มเทคนิคเข้าไป ผูกให้แน่นขึ้นเพื่อแก้ไขปัญหา ออกมาเป็นการศัลยกรรมตาสองชั้นโดยไม่กรีด
							</p>
						</div>
					</div>
					<div class="double-box3__area">
						<div class="eye-table--outer">
				          	<div class="eye-table">
					            <ul class="eye-table__list">
					              	<li class="eye-table__item">
						                <div class="eye-table__box type-left"><div class="eye-table__wrap">เย็บปมแบบทั่วไป</div></div>
						                <div class="eye-table__center"><div class="eye-table__wrap">VS</div></div>
						                <div class="eye-table__box type-right"><div class="eye-table__wrap">ทำตาสองชั้นแบบธรรมชาติโดยไม่กรีด</div></div>
					              	</li>
					              	<li class="eye-table__item">
						                <div class="eye-table__box type-left"><div class="eye-table__wrap">ผูกปมไม่แน่น</div></div>
						                <div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">พัฒนาเป็น</span></div></div>
						                <div class="eye-table__box type-right"><div class="eye-table__wrap">ผูกปมแน่นมากขึ้น+เป็นธรรมชาติ</div></div>
					              	</li>
					              	<li class="eye-table__item">
						                <div class="eye-table__box type-left"><div class="eye-table__wrap type-longer">โอกาสปมหลุด (5-50%)</div></div>
						                <div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">ทำให้เป็น</span></div></div>
						                <div class="eye-table__box type-right"><div class="eye-table__wrap type-longer">โอกาสปมหลุดน้อยกว่า1%</div></div>
					              	</li>
					              	<li class="eye-table__item">
						                <div class="eye-table__box type-left"><div class="eye-table__wrap">ความเป็นธรรมชาติ</div></div>
						                <div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">ยังคงอยู่</span></div></div>
						                <div class="eye-table__box type-right"><div class="eye-table__wrap"> ความเป็นธรรมชาติ</div></div>
					              	</li>
					            </ul>
					        </div>
	        			</div>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box4">
					<div class="double-box4__wrap">
						<div class="double-box4__img">
							<img src="../../images/eye/double/double_img_02.jpg" loading="lazy" alt="">
						</div>
						<div class="double-box4__box">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										02
									</span>
								</span>
								เป็นวิธีที่อยากให้<br>
								<strong class="double-color2">ทุกคน</strong>ได้สัมผัส
							</h4>
							<div class="axiety quotation type-eye-double">
			                    <ul class="axiety__list">
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">ถ้าเส้นตาสองชั้นออกมา<strong class="double-color2">เป็นธรรมชาติ</strong>ก็ดีสินะ</p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">อยากผ่าตัดวันหยุดสุดสัปดาห์แล้ววันจันทร์<strong class="double-color2">ไปทำงาน</strong>เลย</p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">ตอนหลับตา<strong class="double-color2">ถ้าไม่เห็นแผลเป็นก็คงดี</strong></p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">เคยทำตาวิธีเย็บปมแต่<strong class="double-color2">คลายเร็วมาก</strong></p>
			                        </li>
			                    </ul>
			                    <p class="axiety__txt2">
									<span class="eclipsis type-eye-double">
										<span class="eclipsis__wrap">
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
										</span>
									</span>
			                    </p>
			                </div>
						</div>
					</div>
				</div>

				<div class="double-box5">
					<p class="content-section__txt1">
						หลายคนกำลังกังวลเกี่ยวกับการทำตาเพราะอยากมีตาสองชั้นแต่ไม่อยากใช้วิธีกรีด<br>
						อยากให้บวมน้อย ช้ำน้อยและไม่อยากให้ดูเหมือนว่าไปทำศัลยกรรมมา<br>
						นอกจากนี้ยังกังวลว่าภาพลักษณ์จะเปลี่ยนไป วิธีการผูกปมก็อยากลองแต่ก็ลังเลเพราะมีโอกาสที่ปมหลุด <br>
						<strong class="content-highlight type-eye-double">ดังนั้นบาโนบากิจึงคิดค้นวิธีการทำตาสองชั้นโดยไม่กรีดสำหรับคนที่กำลังกังวล</strong><br>
						แน่นอนว่าวิธีนี้ไม่ได้เหมาะกับทุกคน
					</p>

					<p class="content-section__txt2">
						แต่ว่า!<br>
						<strong>ถ้าเป็นไปได้เราก็อยากจะทำให้ทุกคนมีตาสองชั้นที่<span class="double-color3">สวยงามเป็นธรรมชาติ และดูไม่ออกว่าทำศัลยกรรมมา</span></strong>
					</p>
				</div>
			</div>

			<!-- operation -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">การทำตาสองชั้นโดยไม่กรีดพักฟื้นตัวเร็ว</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 30 นาที</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยาชาเฉพาะที่</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
										<p class="operation-v2__txt txt-new1">เอาออกประมาณ 3 วันหลังผ่าตัด</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
										<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 3 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									การศัลยกรรมตาสองชั้นโดยไม่กรีดนั้นมี<span class="double-color5">อาการเจ็บปวดเพียงเล็กน้อย</span><br>
									ทั่วไปจะมีอาการเจ็บปวดนิดๆรู้สึกเหมือนไม่สบายตัว<br>
									หลายคนที่เจ็บมากๆก็สามารถหาซื้อยาแก้ปวดทานได้ตาม<br>
									ร้านขายยา หรือถ้าร่างกายมีความรู้สึกร้อน การประคบเย็นก็ช่วยได้เช่นกัน
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
		</div>
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
