<%
	type = "detail-new"
	page = "hair"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="onepage type-detail">
	<div class="detail-section type-visual hair-section0" data-section-name="home">
		<div class="inner-wrap type-detail">
			<div class="onepage__box">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail-visual type-hair">
							<p class="detail-visual__tit">
								<span class="n-color-hair4">ธรรมชาติ ประณีต แข็งแรง</span>มากขึ้น
							</p>
							<h3 class="detail-visual__txt">
								ด้วยเทคนิคการปลูกถ่ายอย่างประณีตเพื่อผลลัพธ์อันน่าพึงพอใจ<br>
								<strong class="detail-visual__point"><span class="n-color-hair4">การปลูกผม</span> บาโนบากิ</strong>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll type-detail">
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
			<p class="scroll__txt">SCROLL</p>
		</div>
	</div>
	<div class="detail-section hair-section1" data-section-name="hair-section1">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail1__tit">
								การปลูกผม,<br>
								บาโนบากิท<span class="n-color-hair1">ำอย่างนี้</span>
							</h4>
							<p class="onepage__subtit hair-detail1__subtit">
								ศัลยแพทย์ผู้เชี่ยวชาญด้วยประสบการณ์มากกว่า 3,000 เคส
							</p>
							<p class="onepage__txt hair-detail1__txt">
								ด้วยความเชี่ยวชาญด้านปลูกผมของคุณหมอ ลี คยองกู จนถึงตอนนี้มีคนไข้เข้ารับการรักษามากกว่า 3,000 เคส<br>
								จากการวิจัยและค้นคว้าอย่างไม่มีที่สิ้นสุด เพื่อค้นหาวิธีการปลูกผมที่เป็นธรรมชาติ ประณีต  และคงอยู่ได้ยาวนาน<br>
								หากมีข้อสงสัย สิ่งที่เป็นกังวลใจ รวมไปถึงวิธีการผ่าตัด บาโนบากิแนะนำให้มาปรึกษากับคุณหมอลี คยองกูก่อน เพื่อประกอบการตัดสินใจ<br>
								<span class="n-color-hair1">ด้วยฝีมืออันมากประสบการณ์ของ</span>คุณหมอลีคยองกู<span class="n-color-hair1">ผสมผสานเข้ากับทีมแพทย์ที่มีฝีมือย่อมได้ผลลัพธ์ที่ดีกว่าแน่นอน</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section2" data-section-name="hair-section2">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair2">
							<h4 class="onepage__tit hair-detail2__tit">
								การปลูกผม,<br>ไม่ว่าจะทำด้วยวิธี<br class="hidden-tm">
								<span class="n-color-hair2">แบบกรีด หรือแบบไม่กรีด</span>ก่อน
							</h4>
							<p class="onepage__subtit hair-detail2__subtit">
								สิ่งสำคัญกว่าวิธีการกรีดคือ การเกิดผมใหม่อย่างมีประสิทธิภาพ
							</p>
							<p class="onepage__txt hair-detail2__txt">
								เวลาที่พูดถึงการปลูกผม มักจะพบกับคำถามที่ว่า แบบกรีดดีกว่า หรือแบบไม่กรีดดีกว่า ซึ่งในความจริงแล้วคำถามเหล่านี้ควร เป็นคำถามที่สองมากกว่าจะ เป็นคำถามแรก
								การกรีดหรือไม่กรีดนั้นแตกต่างกันเพียงแค่วิธีเท่านั้น แต่ในมุมมองแพทย์ผู้เชี่ยวชาญถือว่าไม่สำคัญเลย
								บาโนบากิให้ความสำคัญกับการปลูกถ่ายมากกว่าการใช้วิธีกรีด
								หรือไม่กรีด วิธีการกรีด หรือวิธีแบบไม่กรีดนั้นล้วนมีทั้งข้อดี
								และข้อเสียทั้งคู่ ดังนั้นบาโนบากิจึงแนะนำให้
								<span class="n-color-hair2">คนไข้เข้ามาปรึกษารวมทั้งเสนอแนะวิธีการผ่าตัดที่ให้ผลลัพธ์ที่ดีกว่าและตรงกับความจำเป็นของคนไข้มากกว่า</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section3" data-section-name="hair-section3">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail3__tit">
								การปลูกผม,<br>
								บาโนบากิ <span class="n-color-hair1">ปลูกถ่ายอย่างประณีต</span>
							</h4>
							<p class="onepage__subtit hair-detail3__subtit">
								ถึงจะผ่าตัดมาด้วยวิธีเดียวกัน แต่ผลลัพธ์อาจแตกต่างกันไปได้ตามวิธีการปลูกถ่าย
							</p>
							<p class="onepage__txt hair-detail3__txt">
								เทคนิคสำคัญของการปลูกผมคือ วิธีการปลูกถ่ายผมที่นำออกมา นั่นเอง
								แต่ละคนย่อมมีสภาพเส้นผม ความหนา แนวเส้มผม ฯลฯ ที่แตกต่างกันออกไป
								<span class="n-color-hair1">สภาพที่แตกต่างกันนี้ทำให้ทีมแพทย์ต้องคำนึงถึงวิธีการปลูกถ่ายที่ เป็นธรรมชาติ และประณีต</span>มากที่สุดเท่าที่จะทำได้ ดังนั้นฝีมือ และความเชี่ยวชาญของทีมแพทย์สามารถทำให้ห้ผลลัพธ์แตกต่างกันได้
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section4" data-section-name="hair-section4">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair2">
							<h4 class="onepage__tit hair-detail4__tit">
								การปลูกผม,<br>
								ต้องดูแลให้เส้นผม<br class="hidden-tm"><span class="n-color-hair2">แข็งแรง และอยู่ได้นาน</span>
							</h4>
							<p class="onepage__subtit hair-detail4__subtit">
								หลังปลูกผม สิ่งที่สำคัญอีกอย่างคือ การดูแลเส้นผมและหนังศีรษะ
							</p>
							<p class="onepage__txt hair-detail4__txt">
								หลังปลูกผม มีคนไข้จำนวนไม่น้อยกังวลว่าเส้นผมที่ปลูกไปนั้นจะอยู่ได้นานมาก น้อยแค่ไหน แต่ว่าตั้งแต่ตอนนี้เป็นต้นไป หมดกังวลในเรื่องนี้ได้เลย
								การปลูกผมถือเป็นการเริ่มต้นในการป้องกันอาการผมร่วง
								หลังการผ่าตัด บาโนบากิจะแนะนำโปรแกรมการดูแลเส้นผมให้ แข็งแรงและอยู่ได้นาน นอกจากนี้บาโนบากิยังมีความเชี่ยวชาญ ในเรื่องสเต็มเซลส์ ไม่ว่าจะเป็นการนำสเต็มเซลส์ออกมา การแยกสเต็มเซลส์ ฯลฯ มากกว่า 19 ปี ดังนั้น
								<span class="n-color-hair2">ผลลัพธ์ย่อมออกมา ดีแน่นอนเมื่ออยู่ในการดูแลของบาโนบากิ</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section5" data-section-name="hair-section5">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail5__tit">
								การปลูกผม,<br>
								เป็นการผ่าตัด<span class="n-color-hair1">รากผม</span>
							</h4>
							<p class="onepage__subtit hair-detail5__subtit">
								การปลูกผมเป็นการผ่าตัดที่รากผมไม่ใช่เส้นผม
							</p>
							<p class="onepage__txt hair-detail5__txt">
								การศัลยกรรมปลูกผมคือ การผ่าตัดนำเส้นผมออกมาแล้วปลูกถ่ายกลับไปยังบริเวณที่ต้องการ
								รากผมหนึ่งจุดอาจมีเส้นผมหนึ่งเส้น หรือสามเส้นอยู่ด้วยกันก็ได้
								ดังนั้นเมื่อศัลยกรรมปลูกผมให้คำนึงว่าเป็นการปลูกรากผมมากกว่า การปลูกเส้นผม ดังนั้นหากได้ยินว่าปลูกผม 2,000 เส้น ต้องแน่ใจก่อนว่าเป็นการปลูกเส้นผม 2,000 เส้น หรือการปลูกรากผม 2,000 เส้นกันแน่ ที่บาโนบากิ เรา <span class="n-color-hair1">ผ่าตัดที่รากผม ดังนั้นหายห่วงในเรื่องการผ่าตัด รวมไปถึงผลลัพธ์ได้เลย</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section6" data-section-name="hair-section6">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair3">
							<h4 class="onepage__tit hair-detail6__tit">
								การปลูกผม,<br>
								บาโนบากิใส่ใจในทุก<span class="n-color-hair4 inline-block">รายละเอียด</span>
							</h4>
							<p class="onepage__subtit hair-detail6__subtit">
								วิธีการปลูกถ่ายที่คำนึงถึงสัดส่วนของใบหน้า,องศา
								และความหนาของเส้นผมที่ผ่าตัดออกมา ฯลฯ
							</p>
							<p class="onepage__txt hair-detail6__txt">
								ฝีมือที่ชำนาญของทีมแพทย์ย่อมให้ผลลัพธ์ที่แตกต่างกันไป นอกจากฝีมือแล้วการใส่ใจในทุกๆรายละเอียดก็ทำให้ผลลัพธ์ แตกต่างออกไปเช่นกัน จากฝีมืออันเชี่ยวชาญและเทคนิคมากมาย ของคุณหมอลีคยองกู และทีมแพทย์บาโนบากิขอรับประกัน ด้วยฝีมือของทีมแพทย์ผู้เชี่ยวชาญเรื่องการปลูกผม<span class="n-color-hair4">วิธีการปลูกถ่ายนั้นจึงมีขั้นตอนการออกแบบให้เข้ากับรูปหน้าของคนไข้ การแยกรากผมออกมาด้วยวิธีที่ประณีตรวมทั้งยังเลือกคำนึงถึงความยาว ความหนา และองศาของเส้นผม ฯลฯ</span> อีกด้วย
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
