<%
	type = "detail"
	page = "chest"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="chest detail-common">
    <section class="fs_section chestFirst js-first" data-section-name="home">
        <div class="detail__inner">
            <div class="detail__vertical">
                <p class="detail__first-tit type-chest">
                    ซิลิโคน<span class="color-chest0">เหมือนกัน</span>, แต่ให้ผลลัพธ์<span class="color-chest0">ต่างกัน</span>,<br class="hidden-p">
                    ความมั่นใจที่<span class="color-chest0">แตกต่าง</span>
                </p>
                <h3 class="detail__first-txt">
                    <strong class="detail__first-point">เป็นธรรมชาติมากกว่าเดิม</strong><br>
                    ใส่ใจรายละเอียด <span class="color-chest1">ศัลยกรรมหน้าอก</span> บาโนบากิ
                </h3>
            </div>
        </div>
        <div class="scroll">
            <div class="inner">
                <i></i>
            </div>
            <em>SCROLL</em>
        </div>
    </section>

    <section class="fs_section chestSection01" data-section-name="chestSection01">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-normal type-down type-another">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมหน้าอก,<br>
                        ที่บาโนบากิ
                        <span class="color-chest2">ทำอย่างนี้</span>
                    </h4>
                    <p class="detail__section-subtit">ศัลยกรรมที่ทำความเข้าใจกับคนไข้เพื่อผลลัพธ์ที่พอใจ</p>
                    <p class="detail__section-txt">
                        การศัลยกรรมหน้าอกต้องคำนึงถึงขนาด, รูปทรง, สัมผัส,
                        การใช้งาน, สรีระของคนไข้ ซึ่งการเสริมหน้าอกเป็นการใส่
                        ซิลิโคนเข้าไปในร่างกาย ดังนั้น
                        <span class="color-chest2">ต้องมีความแม่นยำและต้องทำเข้าใจกับคนไข้</span>ก่อน เพื่อให้ได้ผลลัพธ์ตามที่คนไข้ต้องการ
                    </p>
                </div>
            </div>
        </div>
        <div class="detail__dim">screen</div>
        <div class="detail__section-bottom hidden-pt">
            <div class="detail__section-set">
                <span>การปรึกษาเรื่องหน้าอกที่บาโนบากิ</span>
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open" data-popup-type="section">pop-up button</a></span>
            </div>
        </div>
        <div class="detail__popup-m">
            <h5 class="detail__popup-m__tit">ปรึกษาเรื่องหน้าอก<span class="color-chest1">.</span></h5>
            <ul class="detail__popup-m__list">
                <li class="detail__popup-m__item">- ตำแหน่งรอยแผล</li>
                <li class="detail__popup-m__item">- รูปทรง</li>
                <li class="detail__popup-m__item">- สัมผัส</li>
                <li class="detail__popup-m__item">- เลือกซิลิโคน</li>
            </ul>
        </div>
    </section>

    <section class="fs_section chestSection02" data-section-name="chestSection02">
        <div class="detail__inner type-full">
            <div class="detail__popup is-active">
                <div class="detail__popup-wrap">
                    <!--누락-->
                    <h5 class="detail__popup-tit">ประเภทซิลิโคน</h5>
                    <p class="detail__popup-subtit">คนไข้สามารถเลือกใช้ซิลิโคนได้ตามความต้องการ</p>
                    <ul class="detail__logo-list">
                        <li class="detail__logo-item">
                            <span class="detail__logo-txt nth-1">MOTIVA</span>
                        </li>
                        <li class="detail__logo-item">
                            <span class="detail__logo-txt nth-2">POLYTECH</span>
                        </li>
                        <li class="detail__logo-item">
                            <span class="detail__logo-txt nth-7">EUROSILICONE</span>
                        </li>
                        <!-- <li class="detail__logo-item">
                            <span class="detail__logo-txt nth-3">SILIMED</span>
                        </li> -->
                        <li class="detail__logo-item">
                            <span class="detail__logo-txt nth-4">ALLERGAN</span>
                        </li>
                        <!-- <li class="detail__logo-item">
                            <span class="detail__logo-txt nth-5">SEBBIN</span>
                        </li> -->
                        <li class="detail__logo-item">
                            <span class="detail__logo-txt nth-6">MENTOR</span>
                        </li>
                    </ul>
                    <a href="" class="detail__popup-close js-popup-close">ปิด</a>
                </div>
            </div>
            <div class="detail__section-wrap">
                <div class="detail__vertical">
                    <div class="detail__section-box type-wide type-right">
                        <h4 class="detail__section-tit">
                            <strong>ศัลยกรรมหน้าอก,</strong><br>
                            ที่บาโนบากิ
                            เรา<span class="color-chest4">ล้ำหน้า</span>กว่าเสมอ
                        </h4>
                        <p class="detail__section-subtit">นำเทรนด์หน้าอกที่บาโนบากิ</p>
                        <p class="detail__section-txt">
							ซิลิโคนที่หลากหลาย เพื่อความปลอดภัย เป็นธรรมชาติ สวยงามกว่าเดิม รวมทั้งการใช้ซิลิโคนรุ่นใหม่ก็เป็นสิ่งสำคัญเช่นกัน
							<span class="color-chest4">บาโนบากิเป็นผู้นำด้านซิลิโคนที่ล้ำหน้าเสมอมาตั้งแต่ปี 2000</span>
							เพื่อค้นหาซิลิโคนที่เหมาะสมมากที่สุด และเพิ่มความพึงพอใจให้แก่คนไข้มากยิ่งขึ้น
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail__section-bottom">
            <div class="detail__section-set">
                ซิลิโคนที่บาโนบากิเลือกใช้
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open">pop-up button</a></span>
            </div>
        </div>
    </section>

    <section class="fs_section chestSection03" data-section-name="chestSection03">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wide type-down type-quotation2">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมหน้าอก,
                        ที่บาโนบากิ
                        สมกับเป็น<span class="color-chest6">ผู้เชี่ยวชาญ</span>
                    </h4>
                    <p class="detail__section-subtit">ระบบที่ดูแลสุขภาพหน้าอก</p>
                    <p class="detail__section-txt">
                        โรงพยาบาลบาโนบากิใส่ใจสุขภาพ
                        หน้าอกของคนไข้เป็นพื้นฐาน ฉะนั้น
                        เราจึงไม่ได้จบแค่การผ่าตัดศัลยกรรม
                        เพื่องาม แต่เราคำนึงถึงความปลอดภัย
                        โดยการนำเข้า<span class="color-chest3">เครื่องมือตรวจหน้าอก
                        รวมถึงเครื่องมือที่สามารถกำจัดก้อนเนื้อ
                        ในหน้าอก</span>ได้ ระบบที่ดูแลเป็นพิเศษทั้ง
                        ตรวจร่างกายและผ่าตัด, ดูแลหลังผ่าตัด
                    </p>
                </div>
                <div class="layer-doc hidden-m"><!-- pc용 -->
                    <h5 class="layer-doc__tit">ระบบดูแลด้านศัลยกรรมหน้าอก</h5>
                    <ul class="layer-doc__list">
                        <li class="layer-doc__item">วินิจฉัยหน้าอก</li>
                        <li class="layer-doc__item">ตรวจหน้าอก</li>
                        <li class="layer-doc__item">ผ่าตัด</li>
                        <li class="layer-doc__item">ดูแลหลังผ่าตัด</li>
                        <li class="layer-doc__item">นัดตรวจสุขภาพ</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="detail__dim">dim</div>
        <div class="detail__popup-m">
            <div class="layer-doc hidden-pt">
                <h5 class="layer-doc__tit">ระบบดูแลด้านศัลยกรรมหน้าอก</h5>
                <ul class="layer-doc__list">
                    <li class="layer-doc__item">วินิจฉัยหน้าอก</li>
                    <li class="layer-doc__item">ตรวจหน้าอก</li>
                    <li class="layer-doc__item">ผ่าตัด</li>
                    <li class="layer-doc__item">ดูแลหลังผ่าตัด</li>
                    <li class="layer-doc__item">นัดตรวจสุขภาพ</li>
                </ul>
            </div>
        </div>
        <div class="detail__section-bottom hidden-pt">
            <div class="detail__section-set">
                <span>ระบบดูแลด้านศัลยกรรมหน้าอก</span>
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open" data-popup-type="section">pop-up</a></span>
            </div>
        </div>
    </section>

    <section class="fs_section chestSection04" data-section-name="chestSection04">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-center">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมหน้าอก,
                        ที่บาโนบากิ
                        ใช้<span class="color-chest6">เวลาผ่าตัดน้อย</span>
                    </h4>
                    <p class="detail__section-subtit">ศัลยกรรมหน้าอก ยิ่งผ่าตัดเสร็จเร็วยิ่งดี</p>
                    <p class="detail__section-txt">
                        การศัลยกรรมหน้าอกยิ่งใช้เวลาผ่าตัดน้อย
                        ยิ่งดีต่อตัวคนไข้ เพราช่วยให้บริเวณหน้าอก
                        ได้รับความกระทบกระเทือนน้อย, คนไข้
                        ฟื้นตัวเร็ว ดังนั้น <span class="color-chest3">ที่บาโนบากิจึงใช้เวลาผ่าตัดประมาณ 30 นาทีเท่านั้น</span> ไม่ต้องใช้ถุงถ่ายเลือดให้ยุ่งยาก
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="fs_section chestSection05" data-section-name="chestSection05">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wide">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมหน้าอก,
                        ที่บาโนบากิ
                        <span class="color-chest4">ใส่ใจรายละเอียด</span>ยิ่งกว่า
                    </h4>
                    <p class="detail__section-subtit">โปรแกรม Scar Project<br> ลดรอยแผลเป็นเพื่อความมั่นใจของผู้หญิง</p>
                    <p class="detail__section-txt">
                        รอยแผลจากการผ่าตัด ไม่จำเป็นจะต้องกลายเป็น
                        รอยแผลเป็นเสมอไป ที่บาโนบากิมีโปรแกรมป้องกัน
                        และรักษารอยแผลเป็นฮิลลิ่งสคาร์โปรเจกต์ ช่วยรักษา
                        รอยแดง, รอยนูน และรอยอื่นๆ ที่เกิดจากรอยแผลเป็น
                        ให้หายเป็นปกติ <span class="color-chest4">ไม่ต้องกังวลว่าผิวจะมีตำหนิใดๆ จากการผ่าตัด</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
