<%
	type = "content"
	page = "chest"
%>
<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-chest-extension">
	    <div class="content-visual__box">
	        <div class="content-visual__border">
	            <p class="content-visual__txt1">เพิ่มความมั่นใจด้วยทางเลือกที่ดีที่สุด</p>
	            <h3 class="content-visual__tit">#ศัลยกรรม<span class="color-chest7">เสริมหน้าอก</span></h3>
	            <p class="content-visual__txt2">เสริมสร้างความมั่นใจด้วยความเป็นธรรมชาติ</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-chest-extension">
	    <div class="content-wrap">
			<section class="interaction">
				<div class="content-section type-first">
					<h4 class="content-section__tit type-center">
						<span class="content-section__number">
							<span class="content-section__number-wrap">
								01
							</span>
						</span>
						มุ่งเน้นตามความต้องการ
						และ<strong class="color-chest7">เข้าอกเข้าใจคนไข้</strong>
						เป็นอย่างดี
					</h4>
					<div class="content-section__wrap clearfix">
						<div class="content-section__item type-width">
							<div class="content-section__img"></div>
						</div>
						<div class="content-section__item">
							<div class="content-section__desc">
								<p class="content-section__txt1">
	                                การศัลยกรรมเสริมหน้าอกมีหลากหลายวิธีให้เลือกถือเป็นการศัลยกรรมที่มีทางเลือกมากมาย เนื่องจากซิลิโคนที่ใช้เสริมมีหลายประเภท รวมทั้งสภาพร่างกายที่แตกต่างกันของคนไข้ แต่ก็มีบางครั้งที่คนไข้อยากจะเสริมหน้าอกมาก
	                                เลยตัดสินใจเข้ารับการผ่าตัดโดยที่ยังไม่ได้ศึกษาข้อมูลการผ่าตัดอย่างถี่ถ้วน

									ซึ่งจริงๆแล้วการที่ศึกษาก่อนการผ่าตัด และเลือกวิธีต่างๆ ในทีละขั้นตอนจะส่งผลลัพธ์ที่น่าพึงพอใจมากกว่าการไม่ศึกษาไปก่อน

	                                เพราะฉะนั้นทั้งตัวคนไข้ และแพทย์เองควรจะมีการปรึกษา และให้ความแนะนำอย่างละเอียด เพื่อวินิจฉัยเพื่อให้ได้ผลลัพธ์ที่ดีที่สุด
									<span class="content-highlight type-chest-extension">บาโนบากิจะตรวจร่างกายอย่างละเอียด อธิบายและให้ความรู้เกี่ยวกับซิลิโคนที่ทางโรงพยาบาลมี รวมทั้งบอกข้อดี-ข้อเสียของการผ่าตัดในแต่ละวิธี</span>เพื่อช่วยให้คนไข้เลือกวิธีการรักษาที่ถูกต้องและดีที่สุด นอกจากนั้นขนาดหน้าอก รูปทรงซิลิโคน รวมไปถึงเหตุผลที่ที่อยากเข้ารับการผ่าตัดทางแพทย์ก็ต้องสอบถามให้แน่ชัดเพื่อนำมาใช้ในการวินิจฉัยเพื่อการผ่าตัดที่ราบรื่น และได้รับความพึงพอใจสูงสุดจากคนไข้
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="kind-req">
				<div class="content-section">
					<h4 class="content-section__tit type-center">
	                    <span class="content-section__number">
	                        <span class="content-section__number-wrap">
	                            02
	                        </span>
	                    </span>
						บาโนบากิแนะนำ
						<strong class="color-chest7">ซิลิโคนที่เหมาะสม พอเหมาะกับคนไข้</strong>
	                    มากกว่าซิลิโคนที่ดีที่สุด
					</h4>
					<p class="content-section__txt1">
						สิ่งสำคัญสุดในการศัลยกรรมเสริมหน้าอกคือซิลิโคน การเลือกซิลิโคนควรคำนึงถึงหลักการทางการแพทย์เพื่อผลลัพธ์ที่คนไข้คาดหวัง ปัญหาคือซิลิโคนแต่ละชนิดมีข้อดีข้อเสียแตกต่างกัน รวมทั้งสภาพร่างกายของแต่ละคนแตกต่างกันทำให้เราไม่แนะนำซิลิโคนที่ดีที่สุดให้แก่คนไข้ แต่แนะนำซิลิโคนที่เหมาะสมมากกว่า
					</p>
					<p class="content-section__txt1">
						เพื่อผลลัพธ์ที่น่าพึงพอใจที่มากขึ้น โรงพยาบาลต้องเสนอทางเลือกที่หลากหลาย และอธิบายข้อดีข้อเสียของซิลิโคนแต่ละชนิด
						<span class="content-highlight type-chest-extension">ยิ่งไปกว่านั้นยังต้องอาศัยที่แพทย์ที่มีความเชี่ยวชาญที่คำนึงถึงร่างกายของคนไข้อย่างละเอียด และเลือกสรรซิลิโคนที่เหมาะสมให้คนไข้</span>
					</p>
					<div class="content-section__wrapper type-background">
						<p class="content-section__txt type-sub">สิ่งสำคัญของการศัลยกรรมเสริมหน้าอกที่บาโนบากิ</p>
						<div class="content-section__quotation">
							<div class="content-section__quotation-wrapper">
								<div class="quotation type-chest-extension">
									<h5 class="content-section__tit-quote">
										ประเภทของ<strong class="color-chest8">ซิลิโคน</strong>
									</h5>
								</div>
							</div>
						</div>
						<div class="extension-box1">
							<h6 class="kind-req__tit">แบ่งตามสิ่งที่บรรจุอยู่ภายใน</h6>
							<ul class="clearfix item-box2__list chest-group1">
								<li class="item-box2__item">
									<div class="item-box2__outer">
										<div class="type-pic1 item-box2__thumb">content image</div>
										<div class="item-box2__inner clearfix">
											<div class="item-box2__desc js-height">
												<p class="item-box2__tit tit-v2">
													ซิลิโคนโคเจล
												</p>
												<p class="item-box2__txt1 txt-v2">
													ซิลิโคนโคเจลถูกนำมาใช้กันอย่างแพร่หลายแทนซิลิโคนถุงน้ำเกลือที่ใช้กันในอดีต ซึ่งในเกาหลีเองก็ยังใช้ซิลิโคนโคเจลเป็นส่วนมาก หลังผ่าตัดต่อให้ซิลิโคนได้รับความเสียหายหลังการผ่าตัดก็ไม่มีรั่วไหลออกมาเนื่องจากซิลิโคนเจลมีความหนาแน่นสูง และได้รับการรับรองจาก FDA และKFDAรวมทั้งให้ผิวสัมผัส และรูปร่างที่เป็นธรรมชาติจึงมีการนำมาใช้อย่างแพร่หลาย
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="item-box2__item">
									<div class="item-box2__outer">
										<div class="type-pic2 item-box2__thumb">content image</div>
										<div class="item-box2__inner clearfix">
											<div class="item-box2__desc js-height">
												<p class="item-box2__tit tit-v2">
													ซิลิโคนน้ำเกลือ
												</p>
												<p class="item-box2__txt1 txt-v2">
													เป็นซิลิโคนน้ำเกลือที่ใช้กันอย่างแพร่หลายในอดีต ถือว่าเป็นซิลิโคนที่มีข้อดีในการสามารถบรรจุปริมาณน้ำเกลือได้ตามความต้องการที่อยากจะเสริม แต่ว่าให้ผิวสัมผัสไม่ดีเท่าซิลิโคนแบบเจล
												</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="extension-box2">
							<div class="category-list__cate-2">
								<h6 class="kind-req__tit">ประเภทผิวสัมผัส</h6>
								<ul class="category-list__list-wrapper clearfix">
									<li class="category-list__category2">
										<div class="category-list__cate-box2">
											<div class="category-list__thumb2 type-pic3">
											</div>
											<div class="category-list__desc2">
												<p class="category-list__cate2-tit">Smooth Type</p>
												<p class="category-list__cate2-txt">
													เป็นซิลิโคนที่ผิวเรียบและนิ่ม ง่ายต่อการเสริมเวลาผ่าตัด แถมแผลเป็นยังมีขนาดเล็ก แต่มีความเป็นได้สูงที่จะเกิดพังผืดจึงต้องมีการดูแลหลังการผ่าตัดอย่างถูกวิธี
												</p>
											</div>
										</div>
									</li>
									<li class="category-list__category2">
										<div class="category-list__cate-box2">
											<div class="category-list__thumb2 type-pic4">
											</div>
											<div class="category-list__desc2">
												<p class="category-list__cate2-tit">Texture Type</p>
												<p class="category-list__cate2-txt">
													เป็นซิลิโคนที่มีผิวขรุขระ ไม่เรียบ ข้อดีคือเมื่อเสริมเข้าไปแล้วจะไม่เกิดพังผืดง่ายเนื่องจากผิวสัมผัสมี่ไม่เรียบนั่นเอง แถมยังให้สัมผัสที่เป็นธรรมชาติอีกด้วย
												</p>
											</div>
										</div>
									</li>
									<li class="category-list__category2">
										<div class="category-list__cate-box2">
											<div class="category-list__thumb2 type-pic5">
											</div>
											<div class="category-list__desc2">
												<p class="category-list__cate2-tit">Micro Texture</p>
												<p class="category-list__cate2-txt">
													เป็นซิลิโคนที่นำข้อดีของซิลิโคนสมูทและซิลิโคนผิวทรายปกติมารวมกัน ผิวสัมผัสละเอียด ขรุขระ และไม่เป็นอันตรายเมื่อเสริมเข้าไป ซึ่งจะไม่เกิดพังผืดหรือผลข้างเคียง แถมยังเป็นแผลเป็นขนาดเล็กเท่านั้น
												</p>
											</div>
										</div>
									</li>
									<li class="category-list__category2 type-center">
										<div class="category-list__cate-box2">
											<div class="category-list__thumb2 type-pic6">
											</div>
											<div class="category-list__desc2">
												<p class="category-list__cate2-tit">Silk Texture</p>
												<p class="category-list__cate2-txt">
													เป็นซิลิโคนที่มีผิวค่อนข้างหยาบละเอียด เมื่อเสริมซิลิโคนเข้าไป เนื้อผิวที่หยาบของซิลิโคนจะผสานตัวกับเนื้อจริง ทำให้ไม่เกิดเป็นพังผืดหรือเกิดผลข้างเคียงอื่นๆ ได้สัมผัสที่นุ่มเหมือนจริงมากขึ้น
												</p>
											</div>
										</div>
									</li>
									<li class="category-list__category2 type-center">
										<div class="category-list__cate-box2">
											<div class="category-list__thumb2 type-pic7">
											</div>
											<div class="category-list__desc2">
												<p class="category-list__cate2-tit">Microtan Type</p>
												<p class="category-list__cate2-txt">
													ซิลิโคนไมโครทันเป็นซิลิโคนที่มีส่วนผสมของโพลียูรีเทนที่มีรูขนาดเล็กละเอียด ซิลิโคนประเภทนี้เป็นอีกประเภทหนึ่งที่ไม่เกิดพังผืดง่าย และไม่ค่อยมีผลข้างเคียงหลังเสริม แถมยังฟื้นตัวได้เร็ว และให้ผิวสัมผัสที่เป็นธรรมชาติมากกว่า
												</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="category-list__cate-3">
								<h6 class="kind-req__tit">แบ่งตามลักษณะ</h6>
								<ul class="clearfix item-box2__list chest-group2">
									<li class="item-box2__item">
										<div class="item-box2__outer">
											<div class="type-pic8 item-box2__thumb">Round type</div>
											<div class="item-box2__inner clearfix">
												<div class="item-box2__desc js-height">
													<p class="item-box2__tit tit-v2">
														ซิลิโคนทรงกลม
													</p>
													<p class="item-box2__txt1 txt-v2">
														เป็นซิลิโคนครึ่งทรงกลมที่นิยมใช้กัน โดยบริเวณส่วนกลางที่สูง เมื่อเสริมจะเข้าไปจะทำให้หน้าอกใหญ่ และดูมีมิติมากขึ้น โดยแบบทรงกลมสามารถรักษารูปทรงธรรมชาติไว้ได้แม้แต่ท่านอน นอกจากนี้ยังหย่อนตามธรรมชาติเล็กน้อยตามแรงโน้มถ่วง ทำให้รูปร่างหน้าอกดูเป็นธรรมชาติมากขึ้น
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="item-box2__item">
										<div class="item-box2__outer">
											<div class="type-pic9 item-box2__thumb">Anatomical (or “teardrop”) type</div>
											<div class="item-box2__inner clearfix">
												<div class="item-box2__desc js-height">
													<p class="item-box2__tit tit-v2">
														ซิลิโคนทรงหยดน้ำ
													</p>
													<p class="item-box2__txt1 txt-v2">
														เป็นซิลิโคนหยดน้ำที่สวย และดูเป็นธรรมชาติเหมือนหน้าอกจริง แต่ว่าข้อเสียคือเวลานอนหน้าอกจะดูไม่เป็นธรรมชาติเล็กน้อย หากเสริมไปแล้วไม่ตรงตำแหน่ง ซิลิโคนอาจเคลื่อนตัว และอาจต้องผ่าตัดแก้ไข
													</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="operation-ways">
				<section class="content-section">
					<div class="content-section__bg">
						<div class="content-section__wrapper">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number">
									<span class="content-section__number-wrap">
										03
									</span>
								</span>
								<strong class="color-chest9">วิธีการผ่าตัด</strong>ก็สำคัญไม่ไม่น้อยไปกว่าประเภท
								ซิลิโคน
							</h4>
							<p class="content-section__txt1">
								การศัลยกรรมเสริมหน้าอกนั้นนอกจากจะเป็นการเลือกตามความต้องการของลูกค้าแล้วยังต้องใช้วิธีการผ่าตัดที่เหมาะ กับ<strong class="color-chest10">สภาพร่างกายของคนไข้</strong>อีกด้วย แน่นอนว่าวิธีการผ่าตัดที่แตกต่างกันนี้ย่อมทำให้ตำแหน่งการใส่ซิลิโคน หรือรอยแผลเป็นแตกต่างกันออกไปดังนั้น ก่อนที่คนไข้จะเข้ารับการผ่าตัดจะต้องศึกษาข้อมูลการเสริมหน้าอก วิธีการผ่าตัดเป็นอย่างดีก่อน
							</p>
						</div>
						<div class="extension-box3">
							<h5 class="operation-ways__tit">
								ตำแหน่งใส่ซิลิโคน
							</h5>
							<ul class="item-box2__list clearfix chest-group3">
								<li class="item-box2__item">
									<div class="item-box2__outer">
										<div class="type-pic10 item-box2__thumb">Below the muscle image</div>
										<div class="item-box2__inner clearfix">
											<div class="item-box2__desc js-height">
												<h6 class="item-box2__tit tit-v2">
													ตำแหน่งใต้กล้ามเนื้อ
												</h6>
												<p class="item-box2__txt1 txt-v2">
													เป็นการวางซิลิโคนตรงตำแหน่งระหว่างกล้ามเนื้อและเนื้อเยื่อหน้าอก วิธีนี้สามารถรักษาทรงหน้าอกแบบเดิมไว้ได้ สามารถจัดตำแหน่งเส้นใต้ราวนมตอนผ่าตัดได้ ฟื้นตัวเร็ว รูปทรงสวยงาม
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="item-box2__item">
									<div class="item-box2__outer">
										<div class="type-pic11 item-box2__thumb">Above the muscle image</div>
										<div class="item-box2__inner clearfix">
											<div class="item-box2__desc js-height">
												<h6 class="item-box2__tit tit-v2">
													ตำแหน่งบนกล้ามเนื้อ
												</h6>
												<p class="item-box2__txt1 txt-v2 pop-info">
													ในกรณีที่เสริมซิลิโคนถุงน้ำเกลือ หากมีกล้ามเนื้อบริเวณหน้าอกเยอะจะทำการวางซิลิโคนบนกล้ามเนื้อและเนื้อเยื่อเต้านมเพื่อง่ายต่อการปรับขนาดของ หน้าอก เป็นวิธีที่ง่าย และป้องกันไม่ให้หน้าอกหย่อนคล้อย แต่เกิดพังผืด
													<a href="" class="info-btn js-info">
														<span class="info-btn__icon type-chest-extension">info button</span>
														ได้ง่าย
														<span class="info-desc type-chest-extension">
                                                            <span class="info-desc__item">
                                                                <span class="info-desc__box">
                                                                    <span class="info-desc__tit"><span class="info-desc__icon"></span><strong>พังผืดคืออะไร?</strong><br class="hidden-tm"></span>
                                                                    <span class="info-desc__content">
                                                                        <span class="info-desc__txt1">
																			พังพืดคือปรากฏการณ์ที่ร่างกายสร้างเนื้อเยื่อมาหุ้มสิ่งแปลกปลอมที่เราใส่เข้าไป ในกรณีการเสริมหน้าอกพังผืดสามารถสร้างตัวและหุ้มซิลิโคนที่เสริมเข้าไปได้ ซึ่งจะทำให้ซิลิโคนแข็งตัวขึ้นได้ ถ้าเกิดขึ้นเพียงนิดเดียวก็ถือว่าไม่เป็นปัญหาอะไร แต่ถ้าหากพังผืดเกาะมากเกินไปอาจทำให้หน้าอกเสียรูป ไม่เป็นธรรมชาติได้ ดังนั้นจึงต้องนวดเต้านมเพื่อลดการเกิดพังผืด
                                                                         </span>
                                                                    </span>
                                                                </span>
                                                                <button class="info-desc__btn js-close">
                                                                    <span class="info-desc__stick type-left"></span>
                                                                    <span class="info-desc__stick type-another"></span>
                                                                    close
                                                                </button>
                                                            </span>
                                                        </span>
													</a>
												</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="extension-box4">
							<h5 class="operation-ways__tit">
								วิธีกรีด
							</h5>
							<ul class="item-box2__list clearfix chest-group4">
								<li class="item-box2__item">
									<div class="item-box2__outer clearfix">
										<div class="item-box2__thumb type-pic12"></div>
										<div class="item-box2__inner clearfix">
											<div class="item-box2__desc js-height">
												<h6 class="item-box2__tit tit-v1">
													กรีดใต้รักแร้
												</h6>
												<p class="item-box2__txt1 txt-v2">
													เป็นการกรีดที่มีข้อดีคือแผลเป็นเล็ก และไม่เกิดความเสียหายที่เส้นประสาท และเส้นเลือดตอนผ่าตัด  ใช้เวลาเพียงไม่นาน และฟื้นตัวค่อนข้างเร็ว
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="item-box2__item">
									<div class="item-box2__outer clearfix">
										<div class="item-box2__thumb type-pic13"></div>
										<div class="item-box2__inner clearfix">
											<div class="item-box2__desc js-height">
												<h6 class="item-box2__tit tit-v1">
													กรีดใต้ราวนม
												</h6>
												<p class="item-box2__txt1 txt-v2">
													ข้อดีคือเจ็บเพียงเล็กน้อย ฟื้นตัวเร็ว และได้รูปทรงหน้าอกที่สวยงาม ปกติเป็นวิธีที่ไม่ค่อยใช้กันเพราะแผลเป็นที่เห็นขัด แต่ตอนนี้มีการดูแลแผลเป็นหลังผ่าตัดที่ลดรอยแผลเป็นให้หายไปได้ จึงมีคนไข้หลายท่านเลือกวิธีนี้
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="item-box2__item">
									<div class="item-box2__outer clearfix">
										<div class="item-box2__thumb type-pic14"></div>
										<div class="item-box2__inner clearfix">
											<div class="item-box2__desc js-height">
												<h6 class="item-box2__tit tit-v1">
													กรีดรอบปานนม
												</h6>
												<p class="item-box2__txt1 txt-v2">
													เป็นวิธีกรีดที่ง่ายเพราะกรีดบริเวณรอบราวนมเล้วใส่ซิลิโคนที่ต้องการเสริมลงไปยังตำแหน่งที่ต้องการ ต่อให้ผ่าตัดแล้วก็ไม่มีผลต่อการให้นมลูกหรือการตั้งครรภ์ ช่วยแก้ไขปัญหาหน้าอกหย่อนคล้อย และช่วงป้องกันหน้าอกเบี้ยวหลังผ่าตัดได้
												</p>
											</div>
										</div>
									</div>
								</li>
							</ul>

						</div>
					</div>
				</section>
			</section>

			<section class="responsibility">
				<div class="content-section">
					<div class="content-section__wrap">
						<div class="content-section__tit-wrap">
							<h4 class="content-section__tit type-center">
			                    <span class="content-section__number">
			                        <span class="content-section__number-wrap">
			                            04
			                        </span>
			                    </span>
								ความปลอดภัยและการดูแลสุขภาพของคนไข้เป็น
								<span class="color-chest7">หน้าที่</span>ของ<span class="color-chest7">โรงพยาบาล</span>
							</h4>
							<p class="content-section__txt1">
								หากพูดถึงความปลอดภัยและสุขภาพของคนไข้ถือเป็นสิ่งสำคัญพื้นฐานที่โรงพยาบาลต้องคำนึงอยู่เสมอ
								ถึงแม้ว่าการศัลยกรรมตกแต่งจะมุ่งเน้นไปทางด้านความงาม
								แต่ความปลอดภัยและสุขภาพเป็นสิ่งที่ไม่อาจละเลยได้
								บาโนบากิเป็นโรงพยาบาลที่ดำเนินการผ่าตัดอย่างดีที่สุดโดยคำนึงถึงความปลอดภัย และสุขภาพของคนไข้
							</p>
						</div>
						<div class="responsibility__contents-box">
							<ul class="responsibility__list clearfix">
								<li class="responsibility__item">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												ระบบการ<span class="color-chest11 type-bold">วินิจฉัยเต้านมอย่างละเอียด</span>
											</h5>
											<p class="responsibility__item-txt pop-info">
												หน้าอกไม่ใช่แค่สัญลักษณ์แสดงถึงความเป็นผู้หญิงเท่านั้น ยังเป็นอวัยวะพิเศษที่สามารถทำอะไรได้อีกหลากหลายอย่าง ดังนั้นการวินิจฉัยหน้าอกอย่างละเอียดจึงจำเป็นต่อการศัลยกรรมเสริมหน้าอก แต่ทว่าคนไข้ส่วนใหญ่เมื่อเวลาตัดสินใจเสริมหน้าอก ก็จะไปยังสถานพยาบาลและได้รับการวินิจฉัยแบบคร่าวๆ ซึ่งการศัลยกรรมเสริมหน้าอกไม่ใช่แค่การวินิจฉัยเท่านั้น บาโนบากิเป็นสถานพยาบาลที่เข้าร่วมแคมเปญ
												<a href="" class="info-btn js-info">
													<span class="info-btn__icon type-chest-ribbon">info button</span>
													Pink Ribbon
													<span class="info-desc type-chest-ribbon">
                                                        <span class="info-desc__item">
                                                            <span class="info-desc__box">
                                                                <span class="info-desc__tit"><span class="info-desc__icon"></span><strong>แคมเปญ Pink Ribbon</strong><br class="hidden-tm"></span>
                                                                <span class="info-desc__content">
                                                                    <span class="info-desc__txt1">
                                                                        เป็นแคมเปญรณรงค์เกี่ยวกับมะเร็งเต้านมเพื่อให้คนตระหนักถึงโรคมะเร็งเต้านม มีทั้งการให้ความรู้ การตรวจเต้านมเป็นประจำ และเน้นย้ำถึงความสำคัญในการดูแลตัวเองให้ห่างไกลจากมะเร็งเต้านม

                                                                     </span>
                                                                </span>
                                                            </span>
                                                            <button class="info-desc__btn js-close">
                                                                <span class="info-desc__stick type-left"></span>
                                                                <span class="info-desc__stick type-another"></span>
                                                                close
                                                            </button>
                                                        </span>
                                                    </span>
												</a>
												อย่างเต็มตัว และมีเครื่องมือทันสมัยที่พร้อมสำหรับการวินิจฉัยหน้าอกอย่างละเอียด
												<strong class="color-chest12">ด้วยระบบการตรวจที่ทันสมัยทำให้สามารถตรวจสอบเต้านมได้อย่างละเอียด รวมถึงสามรถตัดก้อนเนื้องอกที่เจอทิ้งไปได้อย่างทันท่วงที</strong>
											</p>
											<div class="responsibility__thumb type-pic15">
												img
											</div>
										</div>
									</div>
								</li>
								<li class="responsibility__item type-special">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												ใช้<span class="color-chest11 type-bold">ซิลิโคนของแท้</span>
											</h5>
											<p class="responsibility__item-txt">
												ในการศัลยกรรมเสริมหน้าอก สิ่งที่สำคัญที่สุดคือความปลอดภัยของวัสดุที่ใส่เสริมเข้าไป หากเสริมวัสดุที่ไม่ได้รับคุณภาพเข้าไปอาจเกิดการเน่า หรือผลข้างเคียงได้ บาโนบากิจึงเลือกใช้<strong class="color-chest12">
												ซิลิโคนของแท้ที่รับการรับรองความปลอดภัย และได้รับการทดสอบมาก่อนแล้ว</strong>
											</p>
											<div class="responsibility__thumb type-pic16">
												img
											</div>
										</div>
									</div>
								</li>
								<li class="responsibility__item type-mt20">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												ผ่าตัดเพียง <span class="color-chest11 type-bold">30 นาที</span>โดยประมาณ
											</h5>
											<p class="responsibility__item-txt">
												มีคนไข้หลายคนที่คิดว่าการผ่าตัดเป็นเวลานานย่อมได้ผลลัพธ์ทมี่ดีกว่าการผ่าตัดในเวลาสั้นๆ ซึ่งจริงๆแล้วการผ่าตัดที่ใช้ระยะเวลายาวนานยิ่งเพิ่มโอกาส หรือความเสี่ยงในการติดเชื้อ รวมทั้งเป็นการทำลายเนื้อเยื่อให้เสียหายกว่าเดิม และฟื้นตัวได้ช้า ดังนั้นการผ่าตัดยิ่งเร็วเท่าไหร่ผลลัพธ์ยิ่งดีมากเท่านั้น
												<strong class="color-chest12">โดยประสบการณ์อันยาวนาน และความเชี่ยวชาญของบาโนบากิ ทางโรงพยาบาลดำเนินการผ่าตัดศัลยกรรมเสริมหน้าอกภายใน 30 นาทีโดยประมาณ </strong>
												ด้วยเทคนิคพิเศษของบาโนบากิที่ทำการผ่าตัดเพื่อให้เนื้อเยื่อบริเวณรอบข้างได้รับผลกระทบน้อยที่สุด และไม่ให้เกิดการห้อเลือดขึ้นอีกด้วย
											</p>
											<div class="responsibility__thumb type-pic17">
												img
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</section>

			<section class="recovery">
				<div class="recovery__wrap">
					<div class="recovery__tit-wrap">
						<h4 class="content-section__tit type-top">
		                    <span class="content-section__number">
		                        <span class="content-section__number-wrap">
		                            05
		                        </span>
		                    </span>
							<span class="color-chest7">การฟื้นตัว</span>และ<span class="color-chest7">การดูแลหลังผ่าตัด</span>
							หมดกังวลหากมาที่บาโนบากิ
						</h4>
						<div class="recovery__img-wrapper clearfix">
							<div class="recovery__pic-list">
								<div class="recovery__pic-item pic18"></div>
							</div>
							<div class="recovery__pic-list">
								<div class="recovery__pic-item pic19"></div>
							</div>
						</div>
						<p class="content-section__txt1">
							ส่วนใหญ่แล้วการผ่าตัดต่างๆจะต้องมีการดูแลหลังการผ่าตัดที่เหมาะกับการผ่าตัดนั้นๆ โดยเฉพาะการศัลยกรรมเสริมหน้าอกยิ่งต้องดูแลเป็นพิเศษ
							สาเหตุมาจากการเกิดพังผืด และรอยแผลเป็นจากการผ่าตัด
							หากเลือกซิลิโคนที่เหมาะสม รวมไปถึงการดูแลหลังผ่าตัดที่ถูกวิธีย่อมป้องกันการเกิดพังผืดได้
							<span class="content-highlight type-chest-extension">ที่บาโนบากิเรามีบุคลากรผู้เชี่ยวชาญที่จะคอยช่วยเหลือกรณีที่คนไข้เสริมซิลิโคนแบบสมูสเข้าไป ซึ่งจะมีการรดูแลหลังผ่าตัด การนวดหน้าอกและแนะนำวิธีนวดหน้าอกที่ถูกต้องให้แก่คนไข้ </span>
							นอกจากนั้นยังมีบริการลดรอยแผลเป็นที่เกิดจากการผ่าตัดในคลีนิกผิวของเราอีกด้วย
						</p>
					</div>
				</div>
			</section>

			<!-- operation -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-chest">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">ศัลยกรรมเสริมหน้าอกฟื้นตัวได้เร็ว</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยาสลบ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
										<p class="operation-v2__txt txt-new1">
											เอาออกประมาณ 7 วันหลังผ่าตัด<br>
											(ยกเว้นกรณีที่ใช้เทปสมานแผล)
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
										<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย/<br>นอนโรงพยาบาลประมาณ 1 วัน</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 2 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 3~5 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-chest">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									วิธีการผ่าตัดหรือซิลิโคนอาจมีความแตกต่าง แต่อาจเกิดอาการปวด ให้รับประทานยาแก้ปวดที่จ่ายไป และจะค่อยๆ ดีขึ้นในภายหลัง<br>
									ควรนวดหน้าอกเพื่อป้องกันพังผืด
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
