<%
	type = "content"
	page = "chest"
%>
<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-reduction">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">ศาสตร์แห่งการศัลยกรรมที่เต็มไปด้วยเทคนิคหลายแขนง</p>
				<h3 class="content-visual__tit">#<span class="color-chest7">ศัลยกรรมลดขนาด</span>หน้าอก</h3>
				<p class="content-visual__txt2">ทรงหน้าอกที่สวยได้รูปอย่างเป็นธรรมชาติ</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
	    <div class="content-wrap">
			<div class="content-section type-reduction type-first">
				<div class="reduction-box1">
					<h4 class="content-section__tit type-center">
						<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
						การศัลยกรรมที่
						<strong class="color-chest7">มีความหมายมากกว่า</strong>แค่คำว่า,
	                    ลดขนาดหน้าอก
					</h4>
					<p class="content-section__txt1">
	                    การลดขนาดหน้าอก ไม่ใช่การศัลยกรรมเพื่อความสวยงาม
	                    แต่เป็นการศัลยกรรมเพื่อแก้ปัญหาหน้าอกเบี้ยว, และแก้ไขปัญหาทางกายภาพที่เกิดจากขนาดหน้าอกที่ใหญ่เกินขนาด
	                    เช่น ปัญหาปวดหลัง ปวดไหล่ และปัญหาทางโรคผิวหนังที่เกิดจาก การเสียดสีของผิวหนังบริเวณหน้าอกซึ่งเป็นปัญหาที่ต้องได้รับการแก้ไข เพราะหากปล่อยไว้นานอาจทำให้เกิดปัญหาเกี่ยวกับรูปทรงและสรีระ ผิดรูปตามมาได้
						<span class="content-highlight type-chest">ฉะนั้นการศัลยกรรมลดขนาดหน้าอกจึงมีความหมายมากกว่าการศัลยกรรมเพื่อความสวยงาม</span>
					</p>
					<div class="reduction-box1__img">
						<img src="../../images/chest/chest_reduction_img02.jpg" loading="lazy" alt=""><!-- mobile img-->
					</div>
				</div>
				<div class="reduction-box2">
					<div class="reduction-wrap">
						<div class="reduction-box2__box">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
								พบกับประสบการณ์ความแตกต่างระหว่าง
								<strong class="color-chest7">ศัลยกรรมรูปร่าง</strong>และ<strong class="color-chest7">ศัลยกรรมหน้าอก</strong>
							</h4>
							<p class="content-section__txt1">
	                            ศัลยกรรมลดขนาดหน้าอกที่ประสบความสำเร็จ จะต้องแก้ไขปัญหาทั้งเรื่องสุขภาพและคำนึงถึงรูปทรงที่สวยงามควบคู่กัน ไปด้วย เพื่อให้ได้ผลลัพธ์ที่เป็นไปตามที่คาดหวัง จะต้องทำการลดขนาดหน้าอกที่ใหญ่เกินไปให้มีขนาดที่พอเหมาะได้สัดส่วน
	                            พอดีกับร่างกาย
							</p>
						</div>
						<div class="reduction-box2__img">
							img
						</div>
						<div class="cosmetic">
							<div class="cosmetic__bg">
								<ul class="cosmetic__list">
									<li class="cosmetic__item">
										<div class="cosmetic__wrap nth-1">
											<div class="cosmetic__box nth-1">
												<div class="cosmetic__box-wrap">
													<p class="cosmetic__txt">ศัลยกรรมหน้าอก</p>
												</div>
											</div>
											<div class="cosmetic__box nth-2">
												<div class="cosmetic__box-wrap">
													<p class="cosmetic__txt">ศัลยกรรมรูปร่าง</p>
												</div>
											</div>
										</div>
									</li>
									<li class="cosmetic__item">
										<div class="cosmetic__wrap nth-2">
											<div class="cosmetic__box nth-3">
												<div class="cosmetic__box-wrap">
													<p class="cosmetic__txt">เทคนิคการผ่าตัดที่คำนึงถึงสมดุลของร่างกาย</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div><!--//cosmetic-->
						<div class="reduction-box2__txt">
	                        บาโนบากิเป็นโรงพยาบาลศัลยกรรมที่เชี่ยวชาญด้านการศัลยกรรมหลายแขนง
	                        หนึ่งในนั้นคือการศัลยกรรมด้านรูปร่างและศัลยกรรมหน้าอก โดยคุณหมอบันแจซัง แพทย์ใหญ่ของบาโนบากิได้คำนึงถึงความเชื่อมโยงของการศัลยกรรม
	                        ทั้งสองส่วนว่าด้วย
							<strong class="color-chest7">การลดขนาดหน้าอกให้มีขนาดที่พอเหมาะได้สัดส่วนรับสรีระร่างกายของคนไข้ </strong>
						</div>
					</div><!-- //reduction-wrap-->
				</div><!-- //reduction-box2-->
				<div class="reduction-box3">
					<div class="reduction-wrap">
						<div class="content-section">
							<h4 class="content-section__tit type-center">
								<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
								เราแนะนำวิธีการผ่าตัดที่ได้<strong class="color-chest7">ได้ผลลัพธ์ตามที่คุณต้องการ</strong>
							</h4>
							<p class="content-section__txt1">
								การศัลยกรรมลดขนาดหน้าอก แบ่งวิธีการผ่าตัดเป็น 4 วิธีใหญ่ๆ ซึ่งแต่ละวิธีจะมีข้อดี ข้อเสียแตกต่างกันออกไป ฉะนั้นก่อนเข้ารับการผ่าตัด จะต้องได้รับคำปรึกษาเพื่อหาวิธีที่เหมาะสมที่สุดก่อน
							</p>
							<div class="reduction-box3__box">
								<div class="item-box3 type-reduction">
									<ul class="item-box3__list">
										<li class="item-box3__item nth-1">
											<div class="item-box3__box">
												<div class="item-box3__wrap">
													<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">ลดขนาดหน้าอกโดยการกรีดบริเวณหัวนม</span></h5>
													<p class="item-box3__txt txt-v1">
														กรีดบริเวณหัวนมและนำเนื้อหน้าอกที่ไม่จำเป็นออก, กรณีที่หน้าอกไม่ได้ใหญ่มาก สามารถใช้วิธีนี้สำหรับการผ่าตัดขนาดเล็กได้ เนื่องจากเป็นการกรีดบริเวณหัวนมเพียงเล็กน้อยเท่านั้น จึงทำให้มีรอยแผลเล็กจนแทบมองไม่ออก และไม่ส่งผลกระทบต่อการทำงานของหัวนม
													</p>
												</div>
											</div>
										</li>
										<li class="item-box3__item nth-2">
											<div class="item-box3__box">
												<div class="item-box3__wrap">
													<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">วิธีการกรีดเป็นเส้นตรงจากหัวนมถึงใต้ราวนม</span></h5>
													<p class="item-box3__txt txt-v1">
	                                                    เป็นวิธีการลดขนาดหน้าอกโดยการกรีดจากหัวนมลงมาถึงใต้ราวนมประมาณ 4-5 ซม. วิธีนี้ใช้ได้กับกรณีที่มีเนื้อหน้าอกเยอะ แต่ดีกว่าวิธีการกรีดเป็นรูป
	                                                    '오' เนื่องจากมีรอยกรีดน้อยกว่า, ระยะเวลาผ่าตัดสั้นกว่า, พักฟื้นตัวเร็วกว่า แต่ถึงกระนั้นก็ยังเป็นวิธีการกรีดที่หลงเหลือรอยแผลเป็นอยู่เล็กน้อย
													</p>
												</div>
											</div>
										</li>
										<li class="item-box3__item nth-3">
											<div class="item-box3__box">
												<div class="item-box3__wrap">
													<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">วิธีการกรีดเป็นรูปตัว '오'</span></h5>
													<p class="item-box3__txt txt-v1">
														เป็นวิธีที่หลักๆ ของการศัลยกรรมลดหน้าอก, เหมาะสำหรับกรณีที่มีขนาดหน้าอกใหญ่มากจนเกินขนาด ได้ผลลัพธ์ที่ชัดเจนและเป็นที่น่าพึงพอใจ, ช่วยลดความเสี่ยงเรื่องการศูนย์เสียประสาท สัมผัสบริเวณหัวนมและสามารถลดขนาดปานนมได้ในขณะเดียวกัน แต่วิธีนี้เสี่ยงที่จะมีรอยแผลเป็นหลงเหลืออยู่ได้มาก
													</p>
												</div>
											</div>
										</li>
										<li class="item-box3__item nth-4">
											<div class="item-box3__box">
												<div class="item-box3__wrap">
													<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">วิธีการลดขนาดหน้าอกด้วยการดูดไขมัน</span></h5>
													<p class="item-box3__txt txt-v1">
														เป็นวิธีที่ใช้การดูดไขมันบริเวณหน้าอกออก กรณีที่หน้าอกไม่เท่ากันเนื่องจากไขมันสะสมบริเวณหน้าอกทั้งสองข้างต่างกัน สามารถใช้วิธีนี้แก้ไขได้ ซึ่งผลลัพธ์ก็ออกมาเป็นที่น่าพึงพอใจเช่นกัน  นอกจากนี้ข้อดีของวิธีนี้คือใช้เวลาผ่าตัดน้อย และไม่ต้องกังวลเรื่องรอยแผลเป็น เพราะไม่วิธีนี้มีรอยดูดไขมันเพียงเล็กน้อยเท่านั้น แต่กรณีที่คนไข้มีขนาดหน้าอกที่ใหญ่มาก เมื่อดูดไขมันออกแล้วอาจทำให้ผิวบริเวณ หน้าอกหย่อนคล้อยได้
													</p>
												</div>
											</div>
										</li>
									</ul>
								</div><!-- //item-box3-->
							</div>
						</div>
					</div><!-- //reduction-wrap-->
				</div><!-- //item-box1-->
				<div class="reduction-box4">
					<h4 class="reduction-box4__tit">
						สิ่งที่ผู้คนมักเข้าใจผิดเกี่ยวกับการศัลยกรรมลดหน้าอก
						คือการที่<strong class="color-chest13">ลดหน้าอกแล้วจะไม่สามารถมีหน้าอกที่สวยงามได้</strong>
					</h4>
					<p class="reduction-box4__txt txt-v5">
						กรณีที่ผ่าตัดมาแล้วหน้าอกไม่สวย ไม่ได้รูป อาจเป็นความผิดพลาดตั้งแต่ตอนดีไซน์ หน้าอกก่อนผ่าตัด หรือไม่ได้รับการดูแลที่ถูกต้องหลังผ่าตัดก็เป็นได้
						<br><br>
	                    ที่บาโนบากิ หลังผ่าตัดลดหน้าอกแล้วจะมีโปรแกรมดูแลหลังผ่าตัดเช่น ไบโอโพโทน และโปรแกรมนวดให้แก่คนไข้ ช่วยให้คนไข้ฟื้นตัวเร็ว และช่วยให้หน้าอกเข้าที่เร็ว
	                    นอกจากนี้บาโนบากิยังมีคลินิกผิวที่คอยดูแลเรื่องการรักษารอยแผลเป็นหลังผ่าตัดอีกด้วย
					</p>
					<div class="bio">
						<div class="bio__box type-img">
							<div class="bio__img nth-1">Biophoton - img</div>
						</div>
						<div class="bio__box type-txt">
							<div class="bio__wrap">
								<h5 class="bio__tit">ไบโอโพโทน</h5>
								<p class="bio__txt txt-v1">
									โปรแกรมไบโอโพโทน คือ การรวมตัวกันของมวลสารนาโนไดอามอนและแพลทินัม PDP(Platinum Diamond Photon) เป็นโปรแกรมที่ผลิตขึ้นมาเพื่อใช้พักฟื้นร่างกายคนไข้ โดย PDPจะทำหน้าที่ปล่อยแสงพลังงานขนาด 4-14 มิลลิไมครอน ส่งความร้อนออกมา เพื่อให้ร่างกายขับของเสียออกมา และยังช่วยฟื้นฟูระบบไหลเวียนโลหิตให้กลับ มาทำงานได้ตามปกติ
								</p>
							</div>
						</div>
					</div>
					<div class="after-style type-chest">
						<ul class="after-style__list">
							<li class="after-style__item nth-1">
								<div class="after-style__txt txt-new2">1 เดือนหลังผ่าตัด</div>
							</li>
							<li class="after-style__item nth-2">
								<div class="after-style__txt txt-new2">6 เดือนหลังผ่าตัด</div>
							</li>
							<li class="after-style__item nth-3">
								<div class="after-style__txt txt-new2">12 เดือนหลังผ่าตัด</div>
							</li>
						</ul>
					</div>
				</div><!-- //reduction-box4-->

				<!-- operation -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-chest">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
								<!-- <p class="operation-v2__subtit">การดูแลหลังผ่าตัดที่ดี ส่งผลถึงผลลัพธ์ที่ดีได้เช่นกัน</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
											<p class="operation-v2__txt txt-new1">ประมาณ 3 ชั่วโมง ~ 3 ชั่วโมง 30 นาที</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
											<p class="operation-v2__txt txt-new1">ยาสลบ</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
											<p class="operation-v2__txt txt-new1">ค่อยหลุดประมาณ 8~15 วัน</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
											<p class="operation-v2__txt txt-new1">ประมาณ 1 วัน</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
											<p class="operation-v2__txt txt-new1">ประมาณ 4 ~ 5 ครั้ง</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
											<p class="operation-v2__txt txt-new1">ประมาณ 5~7 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-chest">
									<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 4){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										หลังผ่าตัดอาจรู้สึกเจ็บแปลบๆ, เมื่อเวลาผ่านไปจะค่อยๆทุเลาลงเรื่อยๆ<br>
										หากขยับแขนแรงอย่างกระทันหันอาจทำให้รู้สึกเจ็บแผลได้<br>
										ควรระมัดระวังบริเวณที่ผ่าตัด โดยเฉพาะส่วนที่มีรอยแผลไม่ให้แผลอ้า หรือได้รับความกระทบกระเทือน
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
										<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>

				<div class="reduction-box5">
					<div class="content-section">
						<div class="reduction-box5__box">
							<div class="reduction-box5__wrap type-unique">
								<h4 class="content-section__tit type-left">
									<span class="content-section__number"><span class="content-section__number-wrap">05</span></span>
									<strong class="color-chest7">ความพยายามของบาโนบากิ</strong>
	                                ที่ค้นคว้าและทำความเข้าใจเกี่ยวกับ
	                                ศัลยกรรมลดขนาดหน้าอก Dual Slim
								</h4>
							</div>
							<p class="content-section__txt2">
								สัมพันธภาพของไขมันช่วงบนและหน้าอกเบี้ยว
							</p>
							<p class="content-section__txt1">
	                            โดยทั่วไปการที่หน้าอกเบี้ยวหรือไม่เท่ากันนั้น มีผลมาจากไขมันช่วงบนของตัวคนไข้
	                            โดยเฉพาะบริเวณหน้าท้อง บริเวณเนื้อหน้ารักแร้ที่อยู่ใกล้หน้าอก ซึ่งตรงนี้ไม่สามารถแก้ไขด้วยการศัลยกรรมลดขนาดหน้าอกได้ ฉะนั้นการศัลยกรรมลดขนาดหน้าอก จึงควรทำการดูดไขมันช่วงบนควบคู่กันไปด้วย
							</p>
						</div>
					</div>
				</div><!-- //reduction-box5-->
				<div class="reduction-box6">
					<h5 class="reduction-box6__tit">
						บาโนบากิ คิดค้นเทคนิค Dual Slim
						เพื่อทำการ<strong>ศัลยกรรมลดขนาดหน้าอกและดูดไขมัน</strong>ควบคู่กันในครั้งเดียว
					</h5>
					<p class="reduction-box6__txt txt-v5">
						ศัลยกรรมเรือนร่างและศัลยกรรมหน้าอก, ทั้งสองส่วนนี้เป็นการผ่าตัดที่ดำเนินการโดย แพทย์ผู้เชี่ยวชาญเฉพาะด้านของบาโนบากิ ที่ใส่ใจคนไข้ตั้งแต่การวินิจฉัยไปจนถึงการออกแบบเรือนร่างที่เหมาะสมให้แก่คนไข้ เพื่อให้คนไข้ได้มีรูปร่างและหน้าอกที่สมบูรณ์แบบ
					</p>
					<ul class="reduction-box6__list">
						<li class="reduction-box6__item">
							<img src="../../images/chest/chest_reduction_img11.jpg" loading="lazy" alt="การศัลยกรรมลดขนาดหน้าอกทั่วไป">
							<p class="reduction-box6__subject nth-1">การศัลยกรรมลดขนาดหน้าอกทั่วไป</p>
						</li>
						<li class="reduction-box6__item">
							<img src="../../images/chest/chest_reduction_img12.jpg" loading="lazy" alt="การศัลยกรรมลดขนาดหน้าอก Dual Slim">
							<p class="reduction-box6__subject nth-2">การศัลยกรรมลดขนาดหน้าอก Dual Slim</p>
						</li>
					</ul>
				</div>
				<div class="reduction-box4 type-another">
					<h4 class="reduction-box4__tit">
						การ<strong class="color-chest13">พักฟื้นและดูแลหลังผ่าตัด เป็นสิ่งที่สำคัญ</strong>
	                    ไม่ว่าจะเป็นการศัลยกรรมลดขนาดหน้าอก Dual Slim หรือการศัลยกรรมลดขนาดหน้าอกแบบทั่วไปก็ตาม
					</h4>
					<p class="reduction-box4__txt txt-v5">
	                    โปรแกรมไบโอโพโทนและโปรแกรมนวดให้แก่คนไข้ ช่วยให้คนไข้ฟื้นตัวเร็ว และช่วยให้หน้าอกเข้าที่เร็ว
	                    นอกจากนี้บาโนบากิยังมีคลินิกผิวที่คอยดูแลเรื่องการรักษารอยแผลเป็นหลังผ่าตัดอีกด้วย
					</p>
					<!-- <div class="bio">
	                    <div class="bio__box type-img">
	                        <div class="bio__img nth-1">바이오포톤 - img</div>
	                    </div>
	                    <div class="bio__box type-txt">
	                        <div class="bio__wrap">
	                            <h3 class="bio__tit">바이오포톤</h3>
	                            <p class="bio__txt">
	                                바이오포톤은 백금과 다이아몬드의 나노 입자가 결합된 신소재 PDP
	                                (Platinum Diamond Photon)를 사용하여 만든 회복 관리용 전신 온열 기기입니다.
	                                PDP가 발산하는 4~14 미크론의 빛 에너지는 체온을 높여 면역력을 키우고
	                                신체 유해 물질과 노폐물의 배출을 돕습니다. 또한 혈액순환 개선으로 체지방을
	                                적극적으로 분해하는 효과가 있습니다.
	                            </p>
	                        </div>
	                    </div>
	                </div>
	                <ul class="reduction-box4__list">
	                    <li class="reduction-box4__item">
	                        <img src="../img/chest/cosmetic_img9.jpg" loading="lazy" alt="수술후 1개월 사진">
	                        <p class="reduction-box4__subject nth-1">수술 후 1개월</p>
	                    </li>
	                    <li class="reduction-box4__item">
	                        <img src="../img/chest/cosmetic_img10.jpg" loading="lazy" alt="수술후 6개월 사진">
	                        <p class="reduction-box4__subject nth-2">수술 후 6개월</p>
	                    </li>
	                    <li class="reduction-box4__item">
	                        <img src="../img/chest/cosmetic_img11.jpg" loading="lazy" alt="수술후 12개월 사진">
	                        <p class="reduction-box4__subject nth-3">수술 후 12개월</p>
	                    </li>
	                </ul> -->
				</div><!-- //reduction-box4-->

				<!-- operation -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-chest">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
								<!-- <p class="operation-v2__subtit">การดูแลหลังผ่าตัดที่ดี ส่งผลถึงผลลัพธ์ที่ดีได้เช่นกัน</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
											<p class="operation-v2__txt txt-new1">ประมาณ 3 ชั่วโมง ~ 3 ชั่วโมง 30 นาที</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
											<p class="operation-v2__txt txt-new1">ยาสลบ</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
											<p class="operation-v2__txt txt-new1">ค่อยหลุดประมาณ 8~15 วัน</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
											<p class="operation-v2__txt txt-new1">ประมาณ 1 วัน</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
											<p class="operation-v2__txt txt-new1">ประมาณ 4 ~ 5 ครั้ง</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
											<p class="operation-v2__txt txt-new1">ประมาณ 5~7 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-chest">
									<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 4){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">square</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">square</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										หลังผ่าตัดอาจรู้สึกเจ็บแปลบๆ, เมื่อเวลาผ่านไปจะค่อยๆทุเลาลงเรื่อยๆ<br>
										หากขยับแขนแรงอย่างกระทันหันอาจทำให้รู้สึกเจ็บแผลได้<br>
										ควรระมัดระวังบริเวณที่ผ่าตัด โดยเฉพาะส่วนที่มีรอยแผลไม่ให้แผลอ้า หรือได้รับความกระทบกระเทือน
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
										<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section-->
		</div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
