@charset "utf-8";
@import "mixins";


.history{text-align:center;
    $this:&;
    &__area{
        #{$this}__item{
            &:last-of-type{
                #{$this}__box{padding-bottom:100px;}
            }
        }
    }
    &__area{
        &:last-of-type{
            #{$this}__item{
                &:last-of-type{
                    #{$this}__box{padding-bottom:0px;}
                }
            }
        }
    }
    &__head{display:inline-block; width:150px; height:60px; margin:0;font-size:24px; color:#fff; background:$color-point; text-align:center; border-radius:30px; font-weight:$regular;
        span{display:inline-block; height:100%; padding-top:5px; vertical-align:middle; box-sizing:border-box;
            &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
        }
    }
    &__list{margin:0; padding:0;
        &:after{display:block; clear:both; content:'';}
    }
    &__item{position:relative; width:50%; list-style:none;  box-sizing:border-box;
        &.type-right{float:right; clear:right; text-align:left;
            #{$this}__box{padding-left:120px; border-left:1px solid #ddd;}
            #{$this}__tit{
                &:before{left:-123px;}
                &:after{left:-128px;}
            }
            #{$this}__line{
                &:before{left:-120px;}
            }
        }
        &.type-left{float:left; clear:left; text-align:left;
            #{$this}__box{margin-right:-1px; padding-right:121px; border-right:1px solid #ddd;}
            #{$this}__tit{
                &:before{right:-123px;}
                &:after{right:-128px;}
            }
            #{$this}__line{
                &:before{right:-120px;}
            }
        }
        &:nth-child(2){
            #{$this}__box{padding-top:160px;}
        }
    }
    &__box{padding-top:80px;}
    &__tit{position:relative; font-weight:$medium;
        &:before,&:after{position:absolute; top:0; bottom:0; display:block; margin:auto 0;  border-radius:50%; content:''; z-index:5;}
        &:before{width:5px; height:5px; background:$black2;}
        &:after{width:15px; height:15px; border:1px solid $black2; box-sizing:border-box;}
    }
    &__line{
        &:before{position:absolute; top:0; bottom:0; width:100px; height:0; border-top:1px solid $black2; margin:auto 0; content:'';}
    }
    &__txt{margin-top:34px;}
    &__img{margin-top:16px;
        & + #{$this}__tit{margin-top:34px;}
    }
    &__date{margin-top:34px;
        & + #{$this}__txt{margin-top:4px;}
    }
    &__wrap{float:left;}
    @media only screen and (max-width: $tablet-size) {padding:0 98px; box-sizing:border-box;
        &__head{margin-bottom:80px;}
        &__area{
            #{$this}__item{
                &:last-of-type{
                    #{$this}__box{padding-bottom:0px;}
                }
            }
            & + &{margin-top:100px;}
        }
        &__item{width:100%;
            &:first-child{
                #{$this}__box{padding-top:0;
                    &:before{position:absolute; top:0; left:0px; display:block; width:0; height:20px; border-left:3px solid #fff; content:''; z-index:1;}
                }
            }
            &.type-right,&.type-left{float:none; clear:both;}
            &.type-right{
                #{$this}__box{padding-left:48px;}
                #{$this}__tit{
                    &:before{left:-51px;}
                    &:after{left:-56px;}
                }
            }
            &.type-left{
                #{$this}__box{margin:0; padding-right:0; padding-left:48px; border-right:none; border-left:1px solid #ddd;}
                #{$this}__tit{
                    &:before{left:-51px; right:0;}
                    &:after{left:-56px; right:0;}
                }
            }
            &:nth-child(2){
                #{$this}__box{padding-top:80px;}
            }
        }
        &__line{
            &:before{display:none;}
        }
    }
    @media only screen and (max-width: $mobile-size) {padding:0 50px 0 25px;
        &__area{
            & + &{margin-top:50px;}
        }
        &__head{width:90px; height:40px; margin-bottom:40px; font-size:1.8rem;
            span{padding-top:3px;}
        }
        &__box{padding-top:34px;}
        &__item{
            &:nth-child(2){
                #{$this}__box{padding-top:34px;}
            }
            #{$this}__box{padding-left:26px !important;}
        }
        &__tit{
            &:before{left:-29px !important;}
            &:after{left:-34px !important;}
        }
        &__txt{margin-top:14px;}
        &__date{margin-top:14px;}
        &__img{margin-top:6px;}
    }
}
