@charset "utf-8";
@import "mixins";

.tour-tab{text-align: center;
    $this:&;
    &__list{margin:-20px 0 0 0; padding: 0;list-style: none; font-size: 0;}
	&__item{display: inline-block; margin-top:20px;
        &.is-active{
            #{$this}__link{border-color: #380a32;background-color: $color-point2;color: #fff;}
        }

        & + &{margin-left: 20px;}
    }
	&__link{display: inline-block; width: 210px;padding: 20px 0;border: 1px solid #bbb;text-decoration: none;color: $black4;box-sizing: border-box}

    @media only screen and (max-width: $mobile-size){
        &__list{margin-top:-10px;}
        &__item{
            & + &{margin-top:10px; margin-left: 10px;}
        }
        &__link{width: 140px;padding: 12px 0;font-size: 1.3rem;}
    }
}
.tour-tab-content{}

.floor{margin-top: 50px;text-align: center;
    $this:&;

    &__list{margin: 0;padding: 0;list-style: none;font-size: 0;}
    &__item{display: inline-block;
        & + &{position: relative;margin-left: 18px;padding-left: 18px;
            &:before{content: '';position: absolute;left: 0;top: 0;bottom: 0;width: 3px;height: 3px;margin: auto;background-color: #aaa;}
        }
        &.is-active{
            #{$this}__link{color: $black1;}
        }
    }
    &__link{color: #aaa;text-decoration: none;}

    @media only screen and (max-width: $mobile-size){
        margin-top: 22px;

        &__item{
            & + &{margin-left: 14px;padding-left: 14px;}
        }
    }
}
.floor-content{margin-top: 56px;
    &__wrap{position: relative;}
    &__outer{position: absolute;top: 0;bottom: 0;left: 0;padding-left:calc(68.86% + 40px);}
    &__inner{position: relative;width: 100%;height: 100%;}
    &__tit{padding-top:53.37%; font-size:34px;}
    &__txt{margin-top: 54px; font-size:14px}
    &__item{position:relative;}
    &__img{position:relative; width:100%; height:0;padding-bottom:68.86%;}
    &__box{width:68.75%; display:inline-block;}

    @media only screen and (max-width: $tablet-size){
        margin-top: 74px;
        &__outer{position: static; padding-left: 0;}
        &__tit{margin-top: 54px; padding-top: 0;}
        &__txt{margin-top: 32px;}
        &__img{margin-top:0;}
        &__box{position:relative; width:100%;}
    }
    @media only screen and (max-width: $mobile-size){
        margin-top: 36px;padding: 0 12px;
        &__tit{margin-top: 30px; font-size:2.5rem;}
        &__txt{margin-top: 20px; font-size:1.2rem;}
        &__img{padding-bottom: 64.86%;}
    }
}

.floor-slider{position: relative;
    &__list{margin: 0;padding: 0;list-style: none;}
    &__wrap{position: relative;}
    &__nav{position: absolute; left:calc(68.86% + 40px); bottom: 0;font-size: 0;z-index: 5;
        button{border: 0;padding: 0;background: none;outline: 0;font-size: 0;margin-left: -1px;}
    }
    &__btn{display: inline-block;position: relative;width: 60px;height: 60px;text-decoration: none;text-indent: -999px;overflow: hidden;cursor: pointer;box-sizing: border-box;
        &.type-prev{background: url(../images/introduce/tour/tour_slider_prev.jpg) 0 0/cover no-repeat;}
        &.type-next{margin-left: -1px;background: url(../images/introduce/tour/tour_slider_next.jpg) 0 0/cover no-repeat;}
    }
    &__counter{position: absolute;left: 20px;bottom: 20px;margin: 0;font-size: 24px;color: #fff;font-weight: $light;z-index: 5;}
    @media only screen and (max-width: $tablet-size){
        &__nav{position:static; }
        &__btn{position:absolute; top:0; bottom:0; margin:auto 0; pointer-events:auto;
            &.type-prev{left:-20px;}
            &.type-next{right:-20px;}
        }
        &__fake{position:absolute; top:0; left:0; width:100%;}
        &__inner{position:relative; width:100%; height:0; padding-bottom:68.86%; z-index:10; pointer-events:none;}
    }
    @media only screen and (max-width: $mobile-size){
        &__inner{padding-bottom: 64.86%;}
        &__btn{width: 30px;height: 30px;
            &.type-prev{left:-12px;}
            &.type-next{right:-12px;}
        }
        &__counter{left: 10px;bottom: 10px;font-size: 1.5rem;}
    }
}
