<!--bfaf시작 -->
<p class="side-noti">คลิก เพื่อดูรูป<span>ก่อน – หลัง</span>ผ่าตัด</p>
<a href="" class="side-link js-bfaf-open is-active">
	비포&amp;애프터 보기
</a>
<div class="bfaf is-active">
	<h3 class="bfaf__title">BEFORE &amp; AFTER</h3>
	<div class="bfaf__scroll">
		<div class="bfaf__area">
			<div class="pics">
				<ul class="pics__list">
					<li class="pics__item">
						<a href="" class="pics__link js-bfaf-link">링크 아이콘</a>
						<ul class="pics-link__list">
							<li class="pics-link__item type-photo">
								<a href="" class="pics-link__link">포토갤러리 아이콘</a>
								<span class="pics-link__tit">โซนรูปถ่าย</span>
							</li>
							<li class="pics-link__item type-real">
								<a href="" class="pics-link__link">리얼스토리 아이콘</a>
								<span class="pics-link__tit">เรียลสตอรี่</span>
							</li>
						</ul>
					</li>
				</ul>
				<div class="bfaf__bg"></div>
				<div class="bfaf__box">
					<span class="bfaf__txt">ก่อนผ่าตัด</span>
					<img src="../../images/temp/bfaf.jpg" loading="lazy" alt="" class="img-responsive">
				</div>
				<div class="bfaf__box">
					<span class="bfaf__txt">수술후4개월</span>
					<img src="../../images/temp/bfaf.jpg" loading="lazy" alt="" class="img-responsive">
				</div>
			</div><!-- //pics-->
			<div class="pics">
				<ul class="pics__list">
					<li class="pics__item">
						<a href="" class="pics__link js-bfaf-link">링크 아이콘</a>
						<ul class="pics-link__list">
							<li class="pics-link__item type-photo">
								<a href="" class="pics-link__link">포토갤러리 아이콘</a>
								<span class="pics-link__tit">โซนรูปถ่าย</span>
							</li>
							<li class="pics-link__item type-real">
								<a href="" class="pics-link__link">리얼스토리 아이콘</a>
								<span class="pics-link__tit">เรียลสตอรี่</span>
							</li>
						</ul>
					</li>
				</ul>
				<div class="bfaf__bg"></div>
				<div class="bfaf__box">
					<span class="bfaf__txt">ก่อนผ่าตัด</span>
					<img src="../../images/temp/bfaf.jpg" loading="lazy" alt="" class="img-responsive">
				</div>
				<div class="bfaf__box">
					<span class="bfaf__txt">수술후4개월</span>
					<img src="../../images/temp/bfaf.jpg" loading="lazy" alt="" class="img-responsive">
				</div>
			</div><!-- //pics-->
			<div class="pics">
				<ul class="pics__list">
					<li class="pics__item">
						<a href="" class="pics__link js-bfaf-link">링크 아이콘</a>
						<ul class="pics-link__list">
							<li class="pics-link__item type-photo">
								<a href="" class="pics-link__link">포토갤러리 아이콘</a>
								<span class="pics-link__tit">โซนรูปถ่าย</span>
							</li>
							<li class="pics-link__item type-real">
								<a href="" class="pics-link__link">리얼스토리 아이콘</a>
								<span class="pics-link__tit">เรียลสตอรี่</span>
							</li>
						</ul>
					</li>
				</ul>
				<div class="bfaf__bg"></div>
				<div class="bfaf__box">
					<span class="bfaf__txt">ก่อนผ่าตัด</span>
					<img src="../../images/temp/bfaf.jpg" loading="lazy" alt="" class="img-responsive">
				</div>
				<div class="bfaf__box">
					<span class="bfaf__txt">수술후4개월</span>
					<img src="../../images/temp/bfaf.jpg" loading="lazy" alt="" class="img-responsive">
				</div>
			</div><!-- //pics-->
		</div>
	</div><!-- //bfaf__scroll-->
	<p class="bfaf__noti">※ รูปที่เห็นอาจมีความแตกต่างกับตัวจริงขึ้นอยู่กับองค์ประกอบของการถ่ายภาพ, ภาพนี้ได้รับความยินยอมจากคนไข้แล้ว</p>
</div>
<!--//bfaf끝-->
