<!-- //section끝 -->
<!--footer시작-->
		<div class="footer">
			<div class="explanation">
				<div class="explanation__wrap">
					<h1 class="explanation__tit">ศัลยกรรมเกาหล บาโนบากิ</h1>
					<h2 class="explanation__subtit">
						โรงพยาบาลศัลยกรรมเกาหลีชื่อดังที่อยู่ในรายการเล็ทมีอินเกาหลี โรงพยาบาลศัลยกรรมบาโนบากิ ที่ร่วมกับรายการเล็ทมีอินไทยแลนด์ตั้งแต่ซีซั่น1-4 เชี่ยวชาญด้านศัลยกรรมเกาหลี การปรับรูปหน้า วีไลน์ ตาสองชั้น เสริมหน้าอก ดูดไขมัน ยกกระชับ วีไลน์
						เกาหลี เสริมจมูก รีวิว ต่างๆ จากลูกค้าคนไทย ก็ทำให้บาโนบากิได้รับความไว้วางใจจากคนไทย และดาราดังต่างๆ มากมาย โดยให้ความสำคัญเรื่องความปลอดภัย ผลลัพธ์ที่ออกมาเป็นธรรมชาติ และคำนึงถึงผลลัพธ์ในระยะยาว และเนื่องจากช่วงนี้ ศัลยกรรมเกาหลี
						ได้รับความนิยมเป็นอย่างมากในหมู่คนไทย โรงพยาบาลบาโนบากิจึงเปิดศูนย์ให้คำปรึกษาที่ไทยแล้ว ที่ทองหล่อซอย3 ซึ่งถ้าหากใครสนใจอยากบินไปเกาหลีเพื่อไปแปลงโฉมทั้งหน้าหรือจะแปลงทีละนิดละหน่อยที่โรงพยาบาลบาโนบากิเค้าก็ทำให้คุณได้
						ทำให้การทำศัลยกรรมที่เกาหลีไม่ใช่เรื่องยากอีกต่อไป
					</h2>
				</div>
			</div>
			<div class="footer__noti">
				<span class="footer__noti-icon">หลังผ่าตัดอาจมีอาการอักเสบหรืออาการเจ็บได้, ความพึงพอใจของผลการผ่าตัดขึ้นอยู่กับแต่ละบุคคล ฉะนั้นคนไข้ควรทำความเข้าใจกับแพทย์ให้ชัดเจนก่อนการผ่าตัด</span>
			</div>
			<div class="footer__wrap">
				<img src="../../images/common/logo_bottom.png" loading="lazy" alt="โรงพยาบาลศัลยกรรมบาโนบากิ" class="footer__logo-p">
				<img src="../../images/common/logo_bottom_m.png" loading="lazy" alt="โรงพยาบาลศัลยกรรมบาโนบากิ" class="footer__logo-m">
				<ul class="address">
					<li class="address__item">517 Nonhyeon-Ro, Gangnam-Gu, Seoul Korea. Banobagi Plastic & Aesthetic Clinic</li>
				</ul>
				<ul class="address">
					<li class="address__item">CS CENTER <a href="tel:1588-6508" class="address__link">02-392-2890-2 / 099-112-4777 </a></li>
					<li class="address__item">FAX 02-561-1755</li>
				</ul>
				<ul class="address">
					<li class="address__item">คลีนิกศัลยกรรมบาโนบากิ บันซอนแจ  220-08-87096</li>
				</ul>
				<p class="copyright">Copyright © 2014 banobagi beauty all rights reserved.</p>
				<ul class="sns">
					<li class="sns__item nth-1"><a href="https://www.facebook.com/thaibanobagi" target="_blank" class="sns__link"><i class="fa fa-facebook"></i></a></li>
					<li class="sns__item nth-2"><a href="https://www.youtube.com/channel/UC-7FQoKmcv6m2sn5G1e50RA" target="_blank" class="sns__link"><i class="fa fa-youtube-play"></i></a></li>
					<li class="sns__item nth-3"><a href="https://www.instagram.com/thaibanobagi/" target="_blank" class="sns__link"><i class="fa fa-instagram"></i></a></li>
					<li class="sns__item nth-4"><a href="http://banobagithai.blogspot.com/?m=1" target="_blank" class="sns__link">blogger</a></li>
				</ul>
				<ul class="footer-info">
					<li class="footer-info__item"><a class="footer-info__link" href="https://www.banobagi.com/membership/membershipEtc1.php">개인정보 취급방침</a></li>
					<li class="footer-info__item"><a class="footer-info__link" href="https://www.banobagi.com/membership/membershipEtc2.php">이용약관</a></li>
					<li class="footer-info__item"><a href="" class="footer-info__link">แผนผังเว็บไซต์</a></li>
				</ul>
			</div>
		</div>
	</div><!--// common-->
	<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.matchHeight-min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="../../js/libs/owl.carousel.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.min.js"></script>
	<script type="text/javascript" src="../../js/libs/slick.min.js"></script>
	<script type="text/javascript" src="../../js/libs/circle-progress.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery-progress-indicator-1.0.6.min.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<!-- //공톹 js -->
	<% if (type == "content") { %>
		<script type="text/javascript" src="../../js/content.js"></script>
	<% }else if(type == "introduce"){ %>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/introduce.js"></script>
	<% }else if(type == "search"){ %>
		<script type="text/javascript" src="../../js/search.js"></script>
	<% }else if(type == "detail"){ %>
		<script src="https://player.vimeo.com/api/player.js"></script>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.min.js"></script>
		<script type="text/javascript" src="../../js/detail.js"></script>
	<% }else if(type == "membership"){ %>
		<script type="text/javascript" src="../../js/membership.js"></script>
	<% } %>
	<% if (page == "main") { %>
		<!-- main js -->
		<script src="https://player.vimeo.com/api/player.js"></script>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrFRQ7yUg4Ub3lGWo9NcnX8cLmnJcqSuY" async="" defer=""></script>
		<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrFRQ7yUg4Ub3lGWo9NcnX8cLmnJcqSuY" async="" defer=""></script> -->
		<script type="text/javascript" src="../../js/map.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="../../js/main.js"></script>
		<!-- //main js -->
	<% }else if(page == "about"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.swipe.min.js"></script>
		<script type="text/javascript" src="../../js/about.js"></script>
	<% }else if(page == "photo"){ %>
		<script type="text/javascript" src="../../js/photo.js"></script>
	<% }else if(page == "epilogue"){ %>
		<script type="text/javascript" src="../../js/epilogue.js"></script>
	<% }else if(page == "location"){ %>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm-4rzbyVatCfOJYLE7BPFApH0WagkKsA" async defer></script>
		<script type="text/javascript" src="../../js/map.js"></script><!-- main js -->
	<% }else if(page == "philosophy"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.min.js"></script>
		<script type="text/javascript" src="../../js/detail.js"></script><!-- onepage js -->
	<% }else if(type == "detail-new"){ %>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.js"></script>
		<script type="text/javascript" src="../../js/onepage.js"></script>
	<% }else if(page == "program"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.swipe.min.js"></script>
		<script type="text/javascript" src="../../js/program.js"></script>
	<% }else if(page == "sitemap"){ %>
		<script type="text/javascript" src="../../js/sitemap.js"></script>
	<% } %>

</body>
</html>
<!--footer끝-->
