<%
	var data = jsonData
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="ศัลยกรรมเกาหลี วีไลน์ เกาหลี ตาสองชั้น เสริมจมูก รีวิวศัลยกรรม - รพ.บาโนบากิ">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="../../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../../css/libs/owl.carousel.min.css">
<link rel="stylesheet" href="../../css/libs/slick.min.css">
<link rel="stylesheet" href="../../css/libs/slick-theme.min.css">
<!-- <link rel="stylesheet" href="../../css/common.css"> -->
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/gnb.css">
<link rel="stylesheet" href="../../css/popup.css">
<link rel="stylesheet" href="../../css/login.css"><!-- //공통 css -->
<% if (type == "content") { %>
	<link rel="stylesheet" href="../../css/content_common.css">
	<link rel="stylesheet" href="../../css/new_content_common.css">
<% }else if(type == "detail"){ %>
	<link rel="stylesheet" href="../../css/detail.css">
	<link rel="stylesheet" href="../../css/detail_common.css">
<% }else if(type == "detail-new"){ %>
	<link rel="stylesheet" href="../../css/onepage_common.css">
<% }else if(type == "review"){ %>
	<link rel="stylesheet" href="../../css/review.css">
<% }else if(type == "introduce"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(type == "search"){ %>
	<link rel="stylesheet" href="../../css/search.css">
<% }else if(type == "membership"){ %>
	<link rel="stylesheet" href="../../css/membership.css">
<% }else if(type == "sitemap"){ %>
	<link rel="stylesheet" href="../../css/sitemap.css">
<% } %>
<% if (page == "main") { %>
	<link rel="stylesheet" href="../../css/main.css"><!-- main css -->
	<link rel="stylesheet" href="../../css/libs/animated.css"><!-- main css -->
<% }else if(page == "only"){ %>
	<link rel="stylesheet" href="../../css/only.css">
<% }else if(page == "heal"){ %>
	<link rel="stylesheet" href="../../css/heal.css">
<% }else if(page == "contour"){ %>
	<link rel="stylesheet" href="../../css/contour.css">
<% }else if(page == "chest"){ %>
	<link rel="stylesheet" href="../../css/chest.css">
<% }else if(page == "eye"){ %>
	<link rel="stylesheet" href="../../css/eye.css">
<% }else if(page == "nose"){ %>
	<link rel="stylesheet" href="../../css/nose.css">
<% }else if(page == "wrinkle"){ %>
	<link rel="stylesheet" href="../../css/wrinkle.css">
<% }else if(page == "svf"){ %>
	<link rel="stylesheet" href="../../css/svf.css">
<% }else if(page == "body"){ %>
	<link rel="stylesheet" href="../../css/body.css">
<% }else if(page == "reoperation"){ %>
	<link rel="stylesheet" href="../../css/reoperation.css">
<% }else if(page == "special"){ %>
	<link rel="stylesheet" href="../../css/special.css">
<% }else if(page == "hair"){ %>
	<link rel="stylesheet" href="../../css/hair.css">
<% }else if(page == "about"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(page == "introduce"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(page == "program"){ %>
	<link rel="stylesheet" href="../../css/program.css">
<% } %>
<link rel="icon" href="../../images/common/favicon.ico">
<!-- 공통 js -->

</head>
<body>
	<h1 class="hidden-tit">바노바기피부과</h1>
	<div class="common">
		<% include ../_include/_popup %>
		<!-- gnb-->
		<div class="header">
			<div class="mobile-menu"><!-- 모바일 햄버거 -->
				<a href="#" class="mobile-menu__wrap">
					<span class="mobile-menu__line"></span>
				</a>
			</div>
			<div class="header__bg">모바일 헤더 배경</div><!-- 모바일 헤더부분 bg -->
			<a href="" class="m-search__close js-search-close">닫기</a><!-- 모바일 검색창 닫기 -->
			<div class="m-gnb">
				<div class="national-gnb">
					<ul class="national-gnb__list">
						<li class="national-gnb__item nth-3">
							<a href="http://www.engbanobagi.com" class="national-gnb__link">EN</a>
						</li>
						<li class="national-gnb__item nth-1">
							<a href="https://www.banobagi.com" target="_blank" class="national-gnb__link">KOR</a>
						</li>
						<li class="national-gnb__item nth-2">
							<a href="http://www.chinabanobagi.com" target="_blank" class="national-gnb__link">CN</a>
						</li>
						<li class="national-gnb__item nth-5">
							<a href="http://www.vnbanobagi.com" target="_blank" class="national-gnb__link">VN</a>
						</li>
						<li class="national-gnb__item nth-6">
							<a href="http://www.japanbanobagi.com" target="_blank" class="national-gnb__link">JP</a>
						</li>
					</ul>
				</div>
				<div class="m-menu">
					<div class="m-1depth">
						<div class="m-1depth__wrap">
							<ul class="m-1depth__list">
								<li class="m-1depth__item nth-1 is-active"><a href="" class="m-1depth__link" data-tab="CONTOUR"><span class="m-1depth__icon">ปรับรูปหน้า</span></a></li>
								<li class="m-1depth__item nth-2"><a href="" class="m-1depth__link" data-tab="BODY"><span class="m-1depth__icon">รูปร่าง</span></a></li>
								<li class="m-1depth__item nth-3"><a href="" class="m-1depth__link" data-tab="CHEST"><span class="m-1depth__icon">หน้าอก</span></a></li>
								<li class="m-1depth__item nth-4"><a href="" class="m-1depth__link" data-tab="EYE"><span class="m-1depth__icon">ตา</span></a></li>
								<li class="m-1depth__item nth-5"><a href="" class="m-1depth__link" data-tab="NOSE"><span class="m-1depth__icon">จมูก</span></a></li>
								<li class="m-1depth__item nth-6"><a href="" class="m-1depth__link" data-tab="WRINKLE"><span class="m-1depth__icon">ริ้วรอย </span></a></li>
								<li class="m-1depth__item nth-7"><a href="" class="m-1depth__link" data-tab="SVF"><span class="m-1depth__icon">SVF</span></a></li>
								<li class="m-1depth__item nth-8"><a href="" class="m-1depth__link" data-tab="REOP"><span class="m-1depth__icon">ศัลยกรรมแก้ไข</span></a></li>
								<li class="m-1depth__item nth-9"><a href="" class="m-1depth__link" data-tab="HAIR"><span class="m-1depth__icon">เส้นผม</span></a></li>
								<li class="m-1depth__item nth-10"><a href="" class="m-1depth__link" data-tab="SPECIAL"><span class="m-1depth__icon">สเปเชียล</span></a></li>
								<li class="m-1depth__item nth-11"><a href="" class="m-1depth__link" data-tab="INTRODUCE"><span class="m-1depth__icon">บาโนบากิ</span></a></li>
								<li class="m-1depth__item nth-12"><a href="" class="m-1depth__link" data-tab="REVIEW"><span class="m-1depth__icon">รีวิวศัลยกรรม</span></a></li>
							</ul>
						</div>
					</div>
					<div class="m-2depth">
						<ul class="m-2depth__list CONTOUR is-active">
							<li class="m-2depth__item"><a href="../contour/contour_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">รายละเอียดการปรับรูปหน้า</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_square.html" class="m-2depth__link"><span class="m-2depth__wrap">การศัลยกรรมกราม</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_cheek.html" class="m-2depth__link"><span class="m-2depth__wrap">ศัลยกรรมโหนกแก้ม</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_front.html" class="m-2depth__link"><span class="m-2depth__wrap">ศัลยกรรมคาง</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_brow.html" class="m-2depth__link"><span class="m-2depth__wrap">ศัลยกรรมหน้าผาก</span></a></li>
						</ul>
						<ul class="m-2depth__list BODY">
							<li class="m-2depth__item"><a href="../body/body_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">รายละเอียดศัลยกรรมรูปร่าง</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_fat.html" class="m-2depth__link"><span class="m-2depth__wrap">ศัลยกรรมดูดไขมันทั้งตัว</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_part_fat.html" class="m-2depth__link"><span class="m-2depth__wrap">ดูดไขมันเฉพาะส่วน</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_dual.html" class="m-2depth__link"><span class="m-2depth__wrap">Dual-Slim</span></a></li>
						</ul>
						<ul class="m-2depth__list CHEST">
							<li class="m-2depth__item"><a href="../chest/chest_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">รายละเอียดศัลยกรรมหน้าอก</span></a></li>
							<li class="m-2depth__item"><a href="../chest/chest_extension.html" class="m-2depth__link"><span class="m-2depth__wrap">ศัลยกรรมเสริมหน้าอก</span></a></li>
							<li class="m-2depth__item"><a href="../chest/chest_reduction.html" class="m-2depth__link"><span class="m-2depth__wrap">ศัลยกรรมลดขนาดหน้าอก</span></a></li>
						</ul>
						<ul class="m-2depth__list EYE">
							<li class="m-2depth__item"><a href="../eye/eye_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">รายละเอียดศัลยกรรมตา</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_double.html" class="m-2depth__link"><span class="m-2depth__wrap">ตาสองชั้นเป็นธรรมชาติแบบไม่ต้องกรีด</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_incisional.html" class="m-2depth__link"><span class="m-2depth__wrap">ทำตาสองชั้นแบบกรีด</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_middle_age.html" class="m-2depth__link"><span class="m-2depth__wrap">ศัลยกรรมแก้ริ้วรอยรอบดวงตา</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_correction.html" class="m-2depth__link"><span class="m-2depth__wrap">การปรับกล้ามเนื้อตา</span></a></li>
						</ul>
						<ul class="m-2depth__list NOSE">
							<li class="m-2depth__item"><a href="../nose/nose_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">รายละเอียดศัลยกรรมจมูก</span></a></li>
							<li class="m-2depth__item"><a href="../nose/nose_low.html" class="m-2depth__link"><span class="m-2depth__wrap">การศัลยกรรมจมูกที่แบน</span></a></li>
							<li class="m-2depth__item"><a href="../nose/nose_casetype.html" class="m-2depth__link"><span class="m-2depth__wrap">การศัลยกรรมจมูกสำหรับจมูกทุกรูปแบบ</span></a></li>
							<li class="m-2depth__item"><a href="../nose/nose_reduction.html" class="m-2depth__link"><span class="m-2depth__wrap">ศัลยกรรมลดขนาดจมูก</span></a></li>
						</ul>
						<ul class="m-2depth__list WRINKLE">
							<li class="m-2depth__item"><a href="../wrinkle/wrinkle_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">รายละเอียดศัลยกรรมลดริ้วรอย</span></a></li>
							<li class="m-2depth__item"><a href="http://elasticum.thailandbanobagi.com/elasticum02.php" class="m-2depth__link" target="_blank"><span class="m-2depth__wrap">อิลาสติคกุม</span></a></li>
						</ul>
						<ul class="m-2depth__list SVF">
							<li class="m-2depth__item"><a href="../svf/svf_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">รายละเอียดSVF</span></a></li>
							<li class="m-2depth__item"><a href="../svf/cell_transplant.html" class="m-2depth__link"><span class="m-2depth__wrap">ฉีดไขมัน</span></a></li>
							<li class="m-2depth__item"><a href="../svf/svf_chest_extension.html" class="m-2depth__link"><span class="m-2depth__wrap">เสริมหน้าอก</span></a></li>
						</ul>
						<ul class="m-2depth__list REOP">
							<li class="m-2depth__item"><a href="../reoperation/reoperation_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">รายละเอียดศัลยกรรมแก้ไข</span></a></li>
							<li class="m-2depth__item"><a href="../reoperation/reoperation_nose.html" class="m-2depth__link"><span class="m-2depth__wrap">ศัลยกรรมแก้จมูก</span></a></li>
							<li class="m-2depth__item"><a href="../reoperation/reoperation_eye.html" class="m-2depth__link"><span class="m-2depth__wrap">ศัลยกรรมแก้ตา</span></a></li>
						</ul>
						<ul class="m-2depth__list HAIR">
							<li class="m-2depth__item"><a href="../hair/hair_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">รายละเอียดการปลูกผม</span></a></li>
						</ul>
						<ul class="m-2depth__list SPECIAL">
							<li class="m-2depth__item"><a href="../special/special_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">รายละเอียดฟิลเลอร์ / รายละเอียดสเปเชียล</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_artecoll.html" class="m-2depth__link"><span class="m-2depth__wrap">อาร์ติคอล ฟิลเลอร์กึ่งถาวร</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_design.html" class="m-2depth__link"><span class="m-2depth__wrap">ดีไซน์ฟิลเลอร์</span></a></li>
						</ul>
						<ul class="m-2depth__list INTRODUCE">
							<li class="m-2depth__item"><a href="../introduce/introduce_banobagi.html" class="m-2depth__link"><span class="m-2depth__wrap">แนะนำบาโนบากิ</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_medical.html" class="m-2depth__link"><span class="m-2depth__wrap">แนะนำทีมแพทย์</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_map.html" class="m-2depth__link"><span class="m-2depth__wrap">เวลาทำการ / ที่อยู่</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_history.html" class="m-2depth__link"><span class="m-2depth__wrap">ประวัติความเป็นมาของบาโนบากิ</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_tour.html" class="m-2depth__link"><span class="m-2depth__wrap">ชมภาพโรงพยาบาลบาโนบากิ</span></a></li>
							<li class="m-2depth__item"><a href="/introduce/introduceStarList.php" class="m-2depth__link"><span class="m-2depth__wrap">บาโนบากิกับดารา</span></a></li>
							<li class="m-2depth__item"><a href="/introduce/introduceAcademicList.php" class="m-2depth__link"><span class="m-2depth__wrap">การเเลกเปลี่ยนความรู้ทางวิชาการ</span></a></li>
							<li class="m-2depth__item"><a href="/introduce/introduceSocietyList.php" class="m-2depth__link"><span class="m-2depth__wrap">บำเพ็ญประโยชน์เพื่อสังคม</span></a></li>
							<li class="m-2depth__item type-3depth">
								<a href="" class="m-2depth__link"><span class="m-2depth__wrap">บาโนบากิกับสื่อมวลชน</span></a>
								<ul class="m-3depth__list">
									<li class="m-3depth__item"><a href="../introduce/news_list.html" class="m-3depth__link">สื่อ</a></li>
									<li class="m-3depth__item"><a href="../introduce/media.html" class="m-3depth__link">ข่าว</a></li>
								</ul>
							</li>
							<li class="m-2depth__item"><a href="../introduce/academic_list.html" class="m-2depth__link"><span class="m-2depth__wrap">บาโนบากิ LIVE</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/rapid.html" class="m-2depth__link"><span class="m-2depth__wrap">Rapid Healing - Self care</span></a></li>
						</ul>
						<ul class="m-2depth__list REVIEW">
							<li class="m-2depth__item"><a href="/review/index.php" class="m-2depth__link"><span class="m-2depth__wrap">เรียลสตอรี่</span></a></li>
							<li class="m-2depth__item"><a href="../review/epilogue_list.html" class="m-2depth__link"><span class="m-2depth__wrap">รีวิวศัลยกรรม</span></a></li>
							<li class="m-2depth__item"><a href="../review/photo_gallery.html" class="m-2depth__link"><span class="m-2depth__wrap">โซนรูปถ่าย</span></a></li>

							<li class="m-review__item nth-1">
								<a href="http://rebreast.thailandbanobagi.com" target="_blank" class="m-review__link"><p class="m-review__tit">ศัลยกรรมแก้ไข โมทิวา</p></a>
							</li>
							<li class="m-review__item nth-2">
								<a href="https://elasticum.thailandbanobagi.com/index.php" target="_blank" class="m-review__link"><p class="m-review__tit">อิลาสติคกุม</p></a>
							</li>
							<!--<li class="m-review__item nth-3">
								<a href="http://motiva.banobagi.com" target="_blank" class="m-review__link"><p class="m-review__tit">모티바</p></a>
							</li>
							<li class="m-review__item nth-4">
								<a href="http://lift.banobagi.co.kr/" target="_blank" class="m-review__link"><p class="m-review__tit">안티에이징</p></a>
							</li>-->
						</ul>
					</div>
				</div><!-- //m-menu-->
			</div><!-- //m-gnb-->
			<div class="m-search">
				<div class="m-search__inner">
					<div class="search_container">
						<form id="seearchForm2" name="seearchForm2" class="form-inline" method="post" action="http://renewal.engbanobagi.com/searchResult.php">
							<div class="m-search__box">
								<div class="m-search__group">
									<label class="sr-only" for="keyword2">Search</label>
									<input type="text" class="m-search__input" name="keyword" id="keyword2" autocomplete="off" placeholder="กรุณาใส่คำที่ต้องการค้นหา" required>
								</div>
								<button type="submit" class="m-search__btn"></button>
							</div> <!-- //searchGroup -->
						</form>
						<div class="keyword-box2">
							<ul class="keyword-tab2">
								<li class="keyword-tab2__item is-active nth-1 js-keyord-link" data-tab="popular">คำค้นหายอดนิยม</li>
								<li class="keyword-tab2__item nth-2 js-keyord-link" data-tab="recommended">คำค้นหาแนะนำ</li>
							</ul>
							<ul class="keyword-box2__list is-active popular">
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link fist" href=""><span class="keyword-box2__num">1</span>เสริมจมูก</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href=""><span class="keyword-box2__num">2</span>ศัลยกรรมตาสองชั้น<a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href=""><span class="keyword-box2__num">3</span>Let me in Thailand</a>
										</li>
									</ul>
								</li>
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href=""><span class="keyword-box2__num">4</span>รีวิวหลังผ่าตัด</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href=""><span class="keyword-box2__num">5</span>ศัลยกรรมหน้าอก Motiva</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href=""><span class="keyword-box2__num">6</span>ปรับรูปหน้า</a></li>
									</ul>
								</li>
							</ul>
							<ul class="keyword-box2__list recommended">
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href=""><em class="keyword-box2__icon">#</em>ยกกระชับอิลาสติคกุม</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href=""><em class="keyword-box2__icon">#</em>ดูดไขมัน</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href=""><em class="keyword-box2__icon">#</em>ศัลยกรรมปรับรูปหน้า</a></li>
									</ul>
								</li>
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href=""><em class="keyword-box2__icon">#</em>ตาสองชั้น</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href=""><em class="keyword-box2__icon">#</em>วีไลน์</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href=""><em class="keyword-box2__icon">#</em>เสริมหน้าอก Motiva</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="search-info">
							<div class="search-info__wrap">
								<div class="search-info__group">
									<div class="search-info__hour">시계 - 시</div>
									<div class="search-info__minute">시계 - 분</div>
									<div class="search-info__second">시계 - 초</div>
									<div class="search-info__box">
										<h2 class="search-info__tit">เวลาทำการ</h2>
										<ul class="search-info__list">
											<li class="search-info__item">
												<span class="search-info__txt">วันจันทร์ - วันศุกร</span>
												<span class="search-info__txt">09.30 - 18.30</span>
											</li>
											<li class="search-info__item">
												<span class="search-info__txt">วันศุกร์</span>
												<span class="search-info__txt">09.30 - 20.00</span>
											</li>
											<li class="search-info__item">
												<span class="search-info__txt">เสาร์</span>
												<span class="search-info__txt">09.30 - 16.00</span>
												<span class="search-info__txt type-block">(16/3, 20/4, 18/5, 15/6, 20/7 ปิดทำการ)</span>
											</li>
										</ul>
									</div>
									<div class="search-info__box">
										<h2 class="search-info__tit">เบอร์โทรติดต่อรับคำปรึกษา</h2>
										<ul class="search-info__list">
											<li class="search-info__item"><a class="search-info__link" href="tel:02-392-2890">02-392-2890~2</a></li>
											<li class="search-info__item"><a class="search-info__link" href="tel:099-112-4777">099-112-4777</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="search-info__addr">
								<span>Banobagi building, 517 Nonhyun ro, Gangnam gu, Seoul, South Korea.</span>
								<em>.</em>
								<span>โรงพยาบาลบาโนบากิ อยู่สถานี ยอกซัม(Yeoksam station) ทางออกหมายเลข 6 เดินตรงมา 100 เมตร</span>
							</div>
						</div> <!-- //infoWrapper -->
					</div> <!-- //search_container -->
				</div>  <!-- //search_inner -->
			</div> <!-- //inner searchWrapper -->
			<div class="header__logo">
				<a href="/" class="header__logo-link">logo</a>
			</div>
			<div class="header__wrap">
				<div class="gnb">
					<h2 class="gnb__tit"><span>Main Menu</span></h2>
					<ul class="gnb__depth1-list">
						<!-- 전체메뉴 -->
						<li class="gnb__all">
							<span class="gnb__all-tit">All</span>
							<a href="#" class="gnb__all-wrap js-all-menu">
								<span class="gnb__all-line"></span>
							</a>
							<div class="gnb__depth2-wrap type-all">
								<div class="gnb__depth2-align">
									<div class="total__depth-scroll">
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../contour/contour_detail.html" class="total__depth1-link">ปรับรูปหน้า</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../contour/contour_detail.html" class="total__depth2-link">รายละเอียดการปรับรูปหน้า</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_square.html" class="total__depth2-link">การศัลยกรรมกราม</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_cheek.html" class="total__depth2-link">ศัลยกรรมโหนกแก้ม</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_front.html" class="total__depth2-link">ศัลยกรรมคาง</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_brow.html" class="total__depth2-link">ศัลยกรรมหน้าผาก</a>
													</li>
												</ul>
											</li>

											<li class="total__depth1-item">
												<a href="/body/bodyDetail.php" class="total__depth1-link">รูปร่าง</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../body/body_detail.html" class="total__depth2-link">รายละเอียดศัลยกรรมรูปร่าง</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_fat.html" class="total__depth2-link">ศัลยกรรมดูดไขมันทั้งตัว</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_part_fat.html" class="total__depth2-link">ดูดไขมันเฉพาะส่วน</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_dual.html" class="total__depth2-link">Dual-Slim</a>
													</li>
												</ul>
											</li>

											<li class="total__depth1-item">
												<a href="../chest/chest_detail.html" class="total__depth1-link">หน้าอก</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../chest/chest_detail.html" class="total__depth2-link">รายละเอียดศัลยกรรมหน้าอก</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_extension.html" class="total__depth2-link">ศัลยกรรมเสริมหน้าอก</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_reduction.html" class="total__depth2-link">ศัลยกรรมลดขนาดหน้าอก</a>
													</li>
												</ul>
											</li>

											<li class="total__depth1-item">
												<a href="../eye/eye_detail.html" class="total__depth1-link">ตา</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../eye/eye_detail.html" class="total__depth2-link">รายละเอียดศัลยกรรมตา</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_double.html" class="total__depth2-link">ตาสองชั้นเป็นธรรมชาติแบบไม่ต้องกรีด</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_incisional.html" class="total__depth2-link">ทำตาสองชั้นแบบกรีด</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_middle_age.html" class="total__depth2-link">ศัลยกรรมแก้ริ้วรอยรอบดวงตา</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_correction.html" class="total__depth2-link">การปรับกล้ามเนื้อตา</a>
													</li>
												</ul>
											</li>

										</ul>
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../nose/nose_detail.html" class="total__depth1-link">จมูก</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../nose/nose_detail.html" class="total__depth2-link">รายละเอียดศัลยกรรมจมูก</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_low.html" class="total__depth2-link">การศัลยกรรมจมูกที่แบน</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_casetype.html" class="total__depth2-link">การศัลยกรรมจมูกสำหรับจมูกทุกรูปแบบ</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_reduction.html" class="total__depth2-link">ศัลยกรรมลดขนาดจมูก</a>
													</li>
												</ul>
											</li>

											<li class="total__depth1-item">
												<a href="../wrinkle/wrinkle_detail.html" class="total__depth1-link">ริ้วรอย </a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../wrinkle/wrinkle_detail.html" class="total__depth2-link">รายละเอียดศัลยกรรมลดริ้วรอย</a>
													</li>
													<li class="total__depth2-item">
														<a href="http://elasticum.thailandbanobagi.com/elasticum02.php" class="total__depth2-link" target="_blank">อิลาสติคกุม</a>
													</li>
												</ul>
											</li>

											<li class="total__depth1-item">
												<a href="../svf/svf_detail.html" class="total__depth1-link">SVF</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../svf/svf_detail.html" class="total__depth2-link">รายละเอียดSVF</a>
													</li>
													<li class="total__depth2-item">
														<a href="../svf/cell_transplant.html" class="total__depth2-link">ฉีดไขมัน</a>
													</li>
													<li class="total__depth2-item">
														<a href="../svf/svf_chest_extension.html" class="total__depth2-link">เสริมหน้าอก</a>
													</li>
												</ul>
											</li>

											<li class="total__depth1-item">
												<a href="../reoperation/reoperation_detail.html" class="total__depth1-link">ศัลยกรรมแก้ไข</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_detail.html" class="total__depth2-link">รายละเอียดศัลยกรรมแก้ไข</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_nose.html" class="total__depth2-link">ศัลยกรรมแก้จมูก</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_eye.html" class="total__depth2-link">ศัลยกรรมแก้ตา</a>
													</li>
												</ul>
											</li>

										</ul>
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../special/special_detail.html" class="total__depth1-link">สเปเชียล</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../special/special_detail.html" class="total__depth2-link">รายละเอียดฟิลเลอร์ / รายละเอียดสเปเชียล</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_artecoll.html" class="total__depth2-link">อาร์ติคอล ฟิลเลอร์กึ่งถาวร</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_design.html" class="total__depth2-link">ดีไซน์ฟิลเลอร์</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //전체메뉴 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">ปรับรูปหน้า</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_detail.html" class="gnb__depth2-link">รายละเอียดการปรับรูปหน้า</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_square.html" class="gnb__depth2-link">การศัลยกรรมกราม</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_cheek.html" class="gnb__depth2-link">ศัลยกรรมโหนกแก้ม</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_front.html" class="gnb__depth2-link">ศัลยกรรมคาง</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_brow.html" class="gnb__depth2-link">ศัลยกรรมหน้าผาก</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //힐 에이징 프로그램 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">รูปร่าง</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../body/body_detail.html" class="gnb__depth2-link">รายละเอียดศัลยกรรมรูปร่าง</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_fat.html" class="gnb__depth2-link">ศัลยกรรมดูดไขมันทั้งตัว</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_part_fat.html" class="gnb__depth2-link">ดูดไขมันเฉพาะส่วน</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_dual.html" class="gnb__depth2-link">Dual-Slim</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //윤곽 교정 프로그램 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">หน้าอก</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_detail.html" class="gnb__depth2-link">รายละเอียดศัลยกรรมหน้าอก</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_extension.html" class="gnb__depth2-link">ศัลยกรรมเสริมหน้าอก</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_reduction.html" class="gnb__depth2-link">ศัลยกรรมลดขนาดหน้าอก</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //모공 탄력 프로그램 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">ตา</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_detail.html" class="gnb__depth2-link">รายละเอียดศัลยกรรมตา</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_double.html" class="gnb__depth2-link">ตาสองชั้นเป็นธรรมชาติแบบไม่ต้องกรีด</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_incisional.html" class="gnb__depth2-link">ทำตาสองชั้นแบบกรีด</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_middle_age.html" class="gnb__depth2-link">ศัลยกรรมแก้ริ้วรอยรอบดวงตา</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_correction.html" class="gnb__depth2-link">การปรับกล้ามเนื้อตา</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //미백/브라이트닝 프로그램 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">จมูก</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_detail.html" class="gnb__depth2-link">รายละเอียดศัลยกรรมจมูก</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_low.html" class="gnb__depth2-link">การศัลยกรรมจมูกที่แบน</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_casetype.html" class="gnb__depth2-link">การศัลยกรรมจมูกสำหรับจมูกทุกรูปแบบ</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_reduction.html" class="gnb__depth2-link">ศัลยกรรมลดขนาดจมูก</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">ริ้วรอย </a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../wrinkle/wrinkle_detail.html" class="gnb__depth2-link">รายละเอียดศัลยกรรมลดริ้วรอย</a></li>
											<li class="gnb__depth2-item nth-1"><a href="http://elasticum.thailandbanobagi.com/elasticum02.php" class="gnb__depth2-link" target="_blank">อิลาสติคกุม</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">SVF</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../svf/svf_detail.html" class="gnb__depth2-link">รายละเอียดSVF์</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../svf/cell_transplant.html" class="gnb__depth2-link">ฉีดไขมัน</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../svf/svf_chest_extension.html" class="gnb__depth2-link">เสริมหน้าอก</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">ศัลยกรรมแก้ไข</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_detail.html" class="gnb__depth2-link">รายละเอียดศัลยกรรมแก้ไข</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_nose.html" class="gnb__depth2-link">ศัลยกรรมแก้จมูก</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_eye.html" class="gnb__depth2-link">ศัลยกรรมแก้ตา</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">เส้นผม</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../hair/hair_detail.html" class="gnb__depth2-link">รายละเอียดการปลูกผม</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">สเปเชียล</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../special/special_detail.html" class="gnb__depth2-link">รายละเอียดฟิลเลอร์ / รายละเอียดสเปเชียล</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_artecoll.html" class="gnb__depth2-link">อาร์ติคอล ฟิลเลอร์กึ่งถาวร</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_design.html" class="gnb__depth2-link">ดีไซน์ฟิลเลอร์</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //메디컬 스킨케어 -->
						<li class="gnb__depth1-item type-bano type-another">
							<a href="" class="gnb__depth1-link">บาโนบากิ</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_banobagi.html" class="gnb__depth2-link">แนะนำบาโนบากิ</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_medical.html" class="gnb__depth2-link">แนะนำทีมแพทย์</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_map.html" class="gnb__depth2-link">เวลาทำการ / ที่อยู่</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_history.html" class="gnb__depth2-link">ประวัติความเป็นมาของบาโนบากิ</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_tour.html"" class="gnb__depth2-link">ชมภาพโรงพยาบาลบาโนบากิ</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/star_list.html" class="gnb__depth2-link">บาโนบากิกับดารา</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/academic_list.html" class="gnb__depth2-link">การเเลกเปลี่ยนความรู้ทางวิชาการ</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/society_list.html" class="gnb__depth2-link">บำเพ็ญประโยชน์เพื่อสังคม</a></li>
										</ul>
									</div>
									<div class="gnb__depth2-box">
											<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1 type-3depth"><a href="../introduce/news_list.html" class="gnb__depth2-link">บาโนบากิกับสื่อมวลชน<span class="gnb__btn">open/close</span></a>
												<ul class="gnb__depth3-list">
													<li class="gnb__depth3-item">
														<a href="../introduce/news_list.html" class="gnb__depth3-link">สื่อ</a>
													</li>
													<li class="gnb__depth3-item">
														<a href="../introduce/media.html" class="gnb__depth3-link">ข่าว</a>
													</li>
												</ul>
											</li>
											<li class="gnb__depth2-item nth-1 is-active "><a href="../introduce/introduce_live.html" class="gnb__depth2-link">บาโนบากิ LIVE</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/rapid.html" class="gnb__depth2-link">Rapid Healing - Self care</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //바노바기 -->
						<li class="gnb__depth1-item type-review type-another">
							<a href="" class="gnb__depth1-link">รีวิวศัลยกรรม</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../review/index.php" class="gnb__depth2-link">เรียลสตอรี่</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../review/epilogue_list.html" class="gnb__depth2-link">รีวิวศัลยกรรม</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../review/photo_gallery.html" class="gnb__depth2-link">โซนรูปถ่าย</a></li>
										</ul>
									</div>
									<div class="gnb__depth2-box type-review">
										<div class="gnb-slide2 owl-carousel">
											<div class="gnb-review">
												<ul class="gnb-review__list">
													<li class="gnb-review__item">
														<img src="/images/common/gnb/review_icon1.png" loading="lazy" alt="">
														<p class="gnb-review__tit">ศัลยกรรมแก้ไข โมทิวา</p>
														<a href="http://rebreast.thailandbanobagi.com" class="gnb-review__link" target="_blank">Go</a>
													</li>
													<li class="gnb-review__item">
														<img src="/images/common/gnb/review_icon2.png" loading="lazy" alt="">
														<p class="gnb-review__tit">อิลาสติคกุม</p>
														<a href="https://elasticum.thailandbanobagi.com/index.php" class="gnb-review__link" target="_blank">Go</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<!-- //바노바기 -->
					</ul>
				</div><!-- //gnb -->
			</div>
			<div class="header__right">
				<div class="snb">
					<ul class="snb__list">
						<li class="snb__item type-bano"><a href="#" class="snb__link1 js-bano-link">บาโนบากิ</a></li>
						<li class="snb__item type-review"><a href="" class="snb__link1 js-review-link">รีวิวศัลยกรรม</a></li>
						<li class="snb__item type-phone">
							<div class="snb__wrap">
								ติดต่อสอบถาม
							</div>
							<a href="tel:+82-2-522-6636" class="snb__link2">Call</a>
						</li>
						<li class="snb__item type-consultation">
							<div class="snb__wrap">
								<span class="consultation-icon">Icon</span>
								<span class="snb__wrap-consultation">
									<span class="snb__wrap-bg">ติดต่อสอบถาม</span>
								</span>
							</div>
							<a href="" class="snb__link2 js-consultation">Go</a>
						</li>
						<li class="snb__item type-search"><a href="#" class="snb__link2 js-search">search</a></li>
						<li class="snb__item type-global">
							<a href="" class="snb__link2 js-global">global</a>
							<ul class="global__list">
								<li class="global__item nth-6"><a href="http://www.engbanobagi.com" class="global__link">EN</a></li>
								<li class="global__item nth-1"><a href="https://www.banobagi.com" target="_blank" class="global__link">KR</a></li>
								<li class="global__item nth-2"><a href="http://www.chinabanobagi.com" target="_blank" class="global__link">CN</a></li>
								<li class="global__item nth-3"><a href="http://www.thailandbanobagi.com" target="_blank" class="global__link">TH</a></li>
								<li class="global__item nth-5"><a href="http://www.vnbanobagi.com" target="_blank" class="global__link">VN</a></li>
								<li class="global__item nth-4"><a href="http://www.mglbanobagi.com" target="_blank" class="global__link">MN</a></li>
								<li class="global__item nth-7"><a href="http://www.japanbanobagi.com" target="_blank" class="global__link">JP</a></li>
								<li class="global__item nth-8"><a href="http://www.rubanobagi.com" target="_blank" class="global__link">RU</a></li>
							</ul>
						</li>
						<li class="snb__item type-close">
							<a href="" class="snb__link2 js-intro-close">Close</a>
						</li>
					</ul>
				</div>
			</div><!-- //header__right-->

			<div class="header-search">
				<form id="seearchForm" name="seearchForm" class="form-inline" method="post" action="https://www.banobagi.com/searchResult.php">
					<input type="hidden" name="isFirstSearch" value="Y">
					<input type="hidden" name="inputSearch" id="gnbHiddenInputSearch">
					<div class="header-search__box">
						<div class="header-search__group animated fadeInRight">
							<button type="submit" class="header-search__btn type-submit">검색</button>
							<label class="sr-only" for="keyword">검색</label>
							<input type="text" class="header-search__input" name="keyword" id="keyword" autocomplete="off" placeholder="Search" required="">
						</div>
						<button type="button" class="header-search__btn type-close js-search-close"><img src="../../images/common/search_icon.png" loading="lazy" alt="검색닫기"></button>
					</div> <!-- //header-search__box -->
				</form>
				<div class="keyword-box">
					<ul class="keyword-tab">
						<li class="keyword-tab__item is-active nth-1 js-keyord-link" data-tab="popular">คำค้นหายอดนิยม</li>
						<li class="keyword-tab__item nth-2 js-keyord-link" data-tab="recommended">คำค้นหาแนะนำ</li>
					</ul>
					<ul class="keyword-box__list is-active popular">
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('เสริมจมูก');"><span class="keyword-box__num">1</span>เสริมจมูก</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('ศัลยกรรมตาสองชั้น');"><span class="keyword-box__num">2</span>ศัลยกรรมตาสองชั้น</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('Let me in Thailand');"><span class="keyword-box__num">3</span>Let me in Thailand</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('รีวิวหลังผ่าตัด');"><span class="keyword-box__num">4</span>รีวิวหลังผ่าตัด</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('ศัลยกรรมหน้าอก Motiva');"><span class="keyword-box__num">5</span>ศัลยกรรมหน้าอก Motiva</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('ปรับรูปหน้า');"><span class="keyword-box__num">6</span>ปรับรูปหน้า</a></li>
					</ul>
					<ul class="keyword-box__list recommended">
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('ยกกระชับอิลาสติคกุม');"><em class="keyword-box__icon">#</em>ยกกระชับอิลาสติคกุม</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('ดูดไขมัน');"><em class="keyword-box__icon">#</em>ดูดไขมัน</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('ศัลยกรรมปรับรูปหน้า');"><em class="keyword-box__icon">#</em>ศัลยกรรมปรับรูปหน้า</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('ตาสองชั้น');"><em class="keyword-box__icon">#</em>ตาสองชั้น</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('วีไลน์');"><em class="keyword-box__icon">#</em>วีไลน์</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('เสริมหน้าอก Motiva');"><em class="keyword-box__icon">#</em>เสริมหน้าอก Motiva</a></li>
					</ul>
				</div>
			</div><!-- header-search -->
		</div><!--header-->
		<div class="quick-menu">
			<ul class="quick-menu__list">
				<li class="quick-menu__item">
					<div class="quick-menu__img">
						<img src="../../images/program/thai_1912/thai_1912_popup.png" class="img-normal hidden-tm">
						<img src="../../images/program/thai_1912/thai_1912_popup_m.png" class="img-normal hidden-p">
					</div>
					<a href="../../prorgram/thai_1912.php" class="quick-menu__link">바로가기</a>
				</li>
				<!-- <li class="quick-menu__item">
					<div class="quick-menu__box">
						<img src="../../images/common/wow.png" alt="상담신청" class="hidden-tm">
						<img src="../../images/common/wow_t.png" alt="상담신청" class="hidden-pm">
						<img src="../../images/common/wow_m.png" alt="상담신청" class="hidden-pt">
					</div>
					<a href="../../program" class="quick-menu__link">바로가기</a>
				</li> -->
				<li class="quick-menu__item">
					<a href="#" class="scroll-top">
				        <span class="scroll-top__progress">
							<span class="scroll-top__arrow"></span>
				        </span>
				    </a>
				</li>
			</ul>
		</div>
		<!-- //gnb-->
	<!-- //header끝 -->
<!-- section시작 -->
