<!-- popup-c type-event-->
<div class="popup-c type-event">
	<div class="popup-c__wrap">
		<div class="popup-c__tit">
			โอกาสดีๆแบบนี้พลาดไม่ได้แล้ว,<br>
			ติดต่อเข้ามาเลยค่ะ
		</div>
		<a href="" class="popup-c__close">ปิด</a>
		<div class="popup-c__scroll">
			<div class="popup-c__box">
				<div class="popup-content online is-active">
					<form name="onlineForm2" id="onlineForm2" method="post">
						<div class="popup-content__wrap">
							<div class="popup-content__box">
								<!-- 이름 -->
								<div class="input1__box">
									<input type="text" placeholder="ชื่อ"  name="onlineName2" id="onlineName2" autocomplete="off" class="popup-input1" required>
									<button class="input1__clear"></button>
								</div>
								<!-- 연락처 -->
								<div class="input1__box">
									<input type="tel" placeholder="ติดต่อ" class="popup-input1" id="onlinePhone2" name="onlinePhone2" autocomplete="off" required>
									<button class="input1__clear"></button>
								</div>
								<!-- 이메일 -->
								<div class="input1__box">
									<input type="text" placeholder="อีเมลล์" class="popup-input1" id="onlineEmail2" name="onlineEmail2" autocomplete="off" required>
									<button class="input1__clear"></button>
								</div>
								<!-- 연령 -->
								<div class="popup-radio type-age">
									<p class="popup-radio__tit">อายุ</p>
									<div class="popup-radio__wrap">
										<input type="radio" name="age" value="1" id="age1" class="radio1"><label for="age1">ช่วงอายุ 10ปี</label>
										<input type="radio" name="age" value="2" id="age2" class="radio1" checked="checked"><label for="age2">20ปี</label>
										<input type="radio" name="age" value="3" id="age3" class="radio1"><label for="age3">30ปี</label>
										<input type="radio" name="age" value="4" id="age4" class="radio1"><label for="age4">40ปี</label>
										<input type="radio" name="age" value="5" id="age5" class="radio1"><label for="age5">มากกว่า50ปี</label>
									</div>
								</div>
								<!-- 성별 -->
								<div class="popup-radio">
									<p class="popup-radio__tit">เพศ</p>
									<div class="popup-radio__wrap">
										<input type="radio" name="eventGender" value="am" id="eventFemale" class="radio1" checked="checked"><label for="eventFemale">ชาย</label>
										<input type="radio" name="eventGender" value="pm" id="eventMale" class="radio1"><label for="eventMale">หญิง</label>
									</div>
								</div>
								<!-- 문의 -->
								<textarea placeholder="ข้อสอบถาม" class="popup-textarea" name="eventMemo" id="eventMemo" aria-required="true"></textarea>
							</div>
						</div>
						<ul class="popup-content__list">
							<li class="popup-content__item">
								<button type="submit" class="popup-content__btn type-event">สมัครการปรึกษา</button>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //popup-c type-event-->
