<!--popup시작 -->
<div class="popup-c type-common">
	<div class="popup-c__wrap">
		<a href="" class="popup-c__close js-c-close">close</a>
		<h3 class="popup-c__tit">ติดต่อสอบถาม</h3>
		<ul class="popup-c__list">
			<li class="popup-c__item nth-1 is-active"><a href="#" class="popup-c__link" data-tab="call"><span class="popup-c__icon">LINE</span></a></li>
			<li class="popup-c__item nth-2"><a href="#" class="popup-c__link" data-tab="whatsApp"><span class="popup-c__icon">เบอร์โทร</span></a></li>
			<li class="popup-c__item nth-3"><a href="#" class="popup-c__link" data-tab="email"><span class="popup-c__icon">Email</span></a></li>
		</ul>
		<!-- call -->
		<div class="popup-c__content call is-active">
			<div class="consultation">
				<p class="consultation__tit nth-1">LINE ID</p>
				<p class="consultation__num nth-1"><a href="http://line.me/ti/p/@thaibanobagi" target="_blank" class="consultation__tel">@thaibanobagi</a></p>
				<p class="consultation__txt">
					(มี@ด้วยค่ะ)
				</p>
			</div>
		</div>
		<!-- //call -->
		<!-- WhatsApp -->
		<div class="popup-c__content whatsApp">
			<div class="consultation">
				<p class="consultation__tit nth-2">ติดต่อสอบถาม</p>
                <p class="consultation__num nth-2"><a href="tel:+82-10-2216-6508" class="consultation__tel">02. 392. 2890~2</a></p>
				<p class="consultation__num nth-2"><a href="tel:099-112-4777" class="consultation__tel">099. 112. 4777</a></p>
			</div>
		</div>
		<!-- //WhatsApp -->
		<!-- Email -->
		<div class="popup-c__content email">
			<div class="consultation">
				<p class="consultation__tit nth-3">Email</p>
				<a href="#" class="consultation__num nth-3">thaibaobagi@banobagi.com</a>
				<p class="consultation__copy type-copy">
					กดที่อีเมลเพื่อก๊อปปี้
				</p>
			</div>
		</div>
		<!-- //Email -->
		<div class="consultation-info">
			<ul class="consultation-info__list">
				<li class="consultation-info__item type-time">
					<p class="consultation-info__date">
						<strong class="consultation-info__day">วันจันทร์ - วันศุกร์</strong>
						<span class="consultation-info__time">09.30 - 18.30</span>
					</p>
					<!--<p class="consultation-info__date">
						<strong class="consultation-info__day">วันศุกร์</strong>
						<span class="consultation-info__time">09.30 - 20.00</span>
						<span class="consultation-info__night">บริการช่วงดึก</span>
					</p>-->
					<p class="consultation-info__date">
						<strong class="consultation-info__day">เสาร์</strong>
						<span class="consultation-info__time">09.30 - 16.00<span class="inline-block">(16/3, 20/4, 18/5, 15/6, 20/7 ปิดทำการ)</span></span>
					</p>
				</li>
				<li class="consultation-info__item type-location">
					<p class="consultation-info__tit">517, Nonhyeon-ro, Gangnam-gu, Seoul, Korea</p>
					<p class="consultation-info__txt">โรงพยาบาลบาโนบากิ อยู่สถานี ยอกซัม(Yeoksam station)<br> ทางออกหมายเลข 6 เดินตรงมา 100 เมตร</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--//popup끝-->
