<!--quick-->
<div class="quick">
	<ul class="quick__list">
		<li class="quick__item type-counsel">
			<a href="" class="quick__link js-event-consultation"><span class="quick__wrap">การปรึกษา</span></a>
		</li>
		<!-- <li class="quick__item type-list">
			<a href="" class="quick__link"><span class="quick__wrap">รายการ</span></a>
		</li>
		<li class="quick__item type-top">
			<a href="" class="quick__link js-top"><span class="quick__wrap">ด้านบน</span></a>
		</li> -->
	</ul>
</div>
<!--//quick-->
