<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-cheekbone">
		<div class="content-visual__box">
		    <div class="content-visual__border type-cheekbone">
		        <p class="content-visual__txt1">สุดยอดทักษะฝีมือของการศัลยกรรมปรับรูปหน้า</p>
		        <h3 class="content-visual__tit">#ศัลยกรรม<span class="color-contour9">โหนกแก้ม</span></h3>
		        <p class="content-visual__txt2 type-cheekbone">เพื่อรูปหน้าที่สวยงาม และสมบูรณ์แบบผ่านการดีไซน์ที่ใส่ใจทุกรายละเอียด</p>
		        <p class="content-visual__txt3 type-cheekbone">※ <span class="inline-block">This image may look different from the real look</span><span class="inline-block">depending on the shooting conditions, and was posted </span><span class="inline-block">under the agreement of patient himself/herself</span></p>
		    </div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content cheekbone">
	    <div class="content-wrap">
			<div class="content-section type-first">
				<div class="content-section__wrap">
					<div class="cheek-box1">
						<div class="content-section__box1 type-w4">
							<h4 class="content-section__tit type-left">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">01</span>
		                        </span>
								โหนกแก้มทำให้<strong class="color-contour10">รูปหน้าสวยยิ่งขึ้น</strong>
							</h4>
							<p class="content-section__txt1">
								กระดูกโหนกแก้มทำให้โครงหน้าไม่สวยงาม แถมยังทำให้ภาพลักษณ์ที่แข็งกร้าวอีก ดังนั้นคนไข้หลายคนจึงเข้ามาปรึกษาปัญหาเรื่องโหนกแก้มเป็นจำนวนมาก แต่ทว่ารายการทีวีหรือบิวตี้บล็อกเกอร์ต่างๆ กลับสอนแต่งหน้าเน้นโหนกแก้มกันซะส่วนมาก
							</p>
							<p class="content-section__txt1 type-special">
								บางคนอยากที่จะเหลาโหนกแก้มออกไป แต่บางคนก็อยากจะเน้นโหนกแก้มให้ชัดขึ้นเหตุของความขัดแย้งนี้จริงๆแล้วเกิดจกการที่โหนกแก้มสามารถทำให้รูปหน้ามีมิติ และสวยงามขึ้นหากมีสัดส่วนที่พอเหมาะ รับกับใบหน้านั่นเอง
							</p>

							<p class="content-section__txt2">
								<strong>
									ดังนั้นการที่จะลดขนาดโหนกแก้มให้เล็กลงนั้น จึงไม่ใช่เรื่องง่ายๆ
									แต่ต้องใช้<span class="color-contour11">เทคนิคที่ทำให้โหนกแก้มเล็กลง ได้รูปสวย รับกับใบหน้า</span>นั่นเอง
								</strong>
							</p>

						</div>
						<div class="content-section__box1 type-w6 ">
							<div class="content-section__img sec1-thumb">
								<img src="../../images/contour/contour_cheekbone_section02.png" loading="lazy" alt="model">
								model
							</div>
						</div>
					</div>
				</div><!-- //content-section__wrap-->
			</div>
			<!--contenct-section-->
			<div class="content-section">
				<div class="cheek-box2">
					<div class="content-section__box1 sec2-bg">
						<div class="content-section__box1 tit-box">
							<h4 class="content-section__tit type-center">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                02
		                            </span>
		                        </span>
								<strong class="color-contour10">กุญแจสำคัญ</strong><br>คือการจัดวางตำแหน่งโหนกแก้มใหม่อีกครั้ง
							</h4>
						</div>
						<div class="content-section__box1">
							<p class="content-section__txt1 type-sort color-contour13 type-unique">
								บาโนบากิมองว่าโครงสร้างกระดูกโหนกแก้มทั้งด้านหน้าและด้านข้างเป็นหนึ่งเดียวกัน และทำการย้ายโหนกแก้มทั้งหมดไปพร้อมกัน พูดง่ายๆก็คือ  เราทำการย้ายกระดูกโหนกแก้มไปในที่ที่เหมาะสมแล้วเหลาออกให้สวยงาม ไม่ใช่เพียงแค่การเหลาให้เล็กลงแบบง่ายๆ เท่านั้น เทคนิคนี้ยังช่วยปรับแต่งโหนกแก้มให้เข้ากับรูปหน้าของแต่ละคน นอกจากนี้การย้ายตำแหน่งโหนกแก้มยังต้องคำนึงถึงความปลอดภัยของบริเวณที่ย้ายไปอีกด้วย
							</p>
							<div class="content-section__img-wrap sec2-box clearfix">
								<div class="content-section__img sec2-unique">
									<div class="content-section__item sec2-item">
										<img src="../../images/contour/contour_cheekbone_section03-1.jpg" loading="lazy" alt="บริเวณกระดูกโหนกแก้มของคนทั่วไป" class="content-section__thumb sec2-pic1">
										<div class="content-section__thumb sec2-pic1"></div>
										<div class="content-section__desc type-wide color-contour14">
											<p class="content-section__txt sec2-txt">บริเวณกระดูกโหนกแก้มของคนทั่วไป</p>
										</div>
									</div>
								</div>
								<div class="content-section__img sec2-unique">
									<div class="content-section__item sec2-item">
										<img src="../../images/contour/contour_cheekbone_section03-2.jpg" loading="lazy" alt="บริเวณกระดูกโหนกแก้มที่บาโนบากิทำการผ่าตัด"class="content-section__thumb sec2-pic1">
										<div class="content-section__desc type-wide color-contour15">
											<p class="content-section__txt sec2-txt">บริเวณกระดูกโหนกแก้มที่บาโนบากิทำการผ่าตัด</p>
										</div>
									</div>
								</div>
							</div>
							<div class="content-section__wrapper">
								<div class="brace type-basic">
									<p class="brace__txt txt-v4">
										เพราะว่ากระดูกโหนกแก้มที่ได้รับการปรับแต่งได้เข้ามาแทนที่กระดูกเดิมที่มีอยุ่ จะทำให้ได้<span class="color-contour12">สัดส่วนที่เหมาะสม สวยงาม รวมถึงทำให้ขนาดของโหนกแก้มลดลงอย่างเห็นได้ชัด</span>อีกด้วย
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--contenct-section-->
			<div class="content-section">
				<div class="cheek-box3">
					<div class="content-section__bg clearfix">
						<div class="content-section__box1 sec3-width type-w6">
							<h4 class="content-section__tit type-left">
		                        <span class="content-section__number sec3-number">
		                            <span class="content-section__number-wrap">
		                                03
		                            </span>
		                        </span>
								<strong class="color-contour10">ความสมบูรณ์แบบของโครงหน้า</strong>
								ที่รับกันกับรูปหน้าที่สวยงาม
							</h4>
							<div class="content-section__box1 sec3-unique">img</div>
							<div class="content-section__desc-box sec3-desc">
								<p class="content-section__txt1">
									ยังมีข้อดีอีกข้อเกี่ยวกับความปลอดภัยของเทคนิคการย้ายตำแหน่งกระดูกโหนกแก้มของบาโนบากิ นั่นก็คือ
									<span class="content-highlight type-cheekbone">การใช้แรงจากกล้ามเนื้อตรงส่วนขมับที่อยู่ใต้กระดูกของโหนกแก้ม เพื่อยึดให้กระดูกโหนกแก้มคงที่</span>
									รวมทั้งยึดส่วนหน้าและส่วนด้านหลังของกระดูกที่เชื่อมกันอีกด้วย การยึดไว้แบบนี้จะทำให้กระดูกแข็งแรงยิ่งขึ้น รวมทั้งประสานกันได้เร็วเหมือนกับเวลาที่กระดูกหัก
								</p>

							</div>
						</div>
						<div class="content-section__box1 sec3-width sec3-type-w4">
							<div class="content-section__thumb">
								<img src="../../images/contour/contour_cheekbone_section04.png" loading="lazy" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--contenct-section-->
			<div class="content-section">
				<div class="cheek-box4">
					<div class="content-section__bg sec4-bg">
						<div class="content-section__bg type-special">
							<div class="content-section__box1 sec4-tit-box">
								<div class="content-section__point">
									<div class="content-section__point-wrap"><span class="">point</span></div>
								</div>
								<h5 class="content-section__tit sec4-tit">
									เทคนิคการยึดกระดูกรูปหน้าเพื่อทำให้ได้โหนกแก้มที่สวยงามถือเป็น
									<strong class="color-contour16">เทคนิคเฉพาะของบาโนบากิ</strong>
								</h5>
							</div>

							<div class="content-section__screen type-pc">
								<div class="hexa-pattern type-cheekbone">
									<ul class="hexa-pattern__list">
										<li class="hexa-pattern__item nth-1">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">01</p>
												<p class="hexa-pattern__txt type-cheekbone">
	                                                วิเคราะห์แรงกด
	                                                ที่จะเพิ่มเข้าไปยัง
	                                                กระดูกโหนกแก้ม
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-2">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">02</p>
												<p class="hexa-pattern__txt type-cheekbone">
	                                                ยึดบริเวณ
	                                                ส่วนกระดูก
	                                                ที่ติดกัน
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-3">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">03</p>
												<p class="hexa-pattern__txt type-cheekbone">
	                                                ยึดกระดูกแก้ม
	                                                และกระดูกโหนกแก้ม
	                                                เข้าด้วยกัน
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-4">
											<div class="hexa-pattern__wrap">
												<div class="hexa-pattern__thumb"></div>
												<h6 class="hexa-pattern__txt type-cheekbone type-unique">
	                                                เทคนิคเฉพาะ
	                                                ของบาโนบากิ
												</h6>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="content-section__screen type-mobile">
						<div class="hexa-pattern type-cheekbone">
							<ul class="hexa-pattern__list">
								<li class="hexa-pattern__item nth-1">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">01</p>
										<p class="hexa-pattern__txt type-cheekbone">
	                                        วิเคราะห์แรงกด
	                                        ที่จะเพิ่มเข้าไปยัง
	                                        กระดูกโหนกแก้ม
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-2">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">02</p>
										<p class="hexa-pattern__txt type-cheekbone">
	                                        ยึดบริเวณ
	                                        ส่วนกระดูก
	                                        ที่ติดกัน
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-3">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">03</p>
										<p class="hexa-pattern__txt type-cheekbone">
	                                        ยึดกระดูกแก้ม
	                                        และกระดูกโหนกแก้ม
	                                        เข้าด้วยกัน
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-4">
									<div class="hexa-pattern__wrap">
										<div class="hexa-pattern__thumb"></div>
										<h4 class="hexa-pattern__txt type-cheekbone type-unique">
	                                        เทคนิคเฉพาะ
	                                        ของบาโนบากิ
										</h4>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<!--contenct-section-->

			<!-- operation -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">ข้อมูลเกี่ยวกับการศัลยกรรมลดขนาดโหนกแก้ม</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง ~ 1 ชั่วโมง 30 นาที</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยาสลบ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
										<p class="operation-v2__txt txt-new1">เอาออกประมาณ 7 วันหลังผ่าตัด</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
										<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย/<br>นอนโรงพยาบาลประมาณ 1 วัน</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ~ 2 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 5~7 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									เมื่อยาสลบหมดฤทธิ์อาจจะเกิดอาการเจ็บแปลบ<br>
									หากรู้สึกตึง หรือไม่สบายตัวสามารถรับประทานยาแก้ปวดที่ให้ไปได<br>
									อาการปวดบริเวณที่ผ่าตัดจะน้อยกว่าแผลที่เกิดจากการกรีด<br>
									อาการปวด หรือแผลที่บวมจะหายไปประมาณ 5 วันหลังผ่าตัด<br>
									การดูแลอย่างเป็นระบบจะช่วยให้ฟื้นตัวได้เร็วยิ่งขึ้น
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>

			<div class="content-section sec5-section">
				<div class="cheek-box5">
					<div class="content-section__box1">
						<div class="content-section__bg sec5-bg">
							<div class="content-section__box1 sec5-bg-small">
								<h4 class="content-section__tit">
									ศัลยกรรมโหนกแก้ม<br>
									<strong class="color-contour12">แก้ปัญหาผิวหนังหย่อนคล้อยได้</strong>
								</h4>
								<p class="content-section__txt1 type-unique">
									ถ้าเปลี่ยนตำแหน่งและความกว้างของกระดูกโหนกแก้มจะต้องทำการลดขนาดเนื้อเยื่ออ่อนที่ปกคลุมกระดูกให้มีขนาดเล็กลงแต่ถ้าคนที่ผิวเสื่อมสภาพหรือความยืดหยุ่นน้อย หลังการเหลาโหนกแก้มออกไป ผิวหนังในส่วนนั้นอาจไม่ได้รับการลดขนาดลง รวมไปถึงอาจเกิดริ้วรอยบริเวณร่องน้ำตา ร่องใต้ตา ร่องแก้มอีกด้วย
								</p>
							</div>
							<div class="content-section__desc type-unique">
								<p class="content-section__txt1 sec5-txt1 type-space">
		                            <span class="color-contour11">
			                            ในกรณีแบบนี้บาโนบากิจะนำ
			                            <span class="content-section__info pop-info">
											<a href="" class="info-btn js-info type-cheek">
												<span class="info-btn__icon type-cheek">info-info button</span>
												อิลาสติกกุม
												<span class="info-desc type-cheekbone">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>อิลาสติกกุมคืออะไร?</strong><br class="hidden-tm"></span>
															<span class="info-desc__content">
																<img src="../../images/contour/contour_cheekbone_info-img.jpg" loading="lazy" alt="Elasticum img" class="info-desc__thumb">
																<span class="info-desc__txt1">
																	อิลาสติกกุมคือ ไหมที่ทำหน้าที่เสมือนเส้นเอ็นยึดติดกับเนื้อเยื่อภายในร่างกาย โดยจะเข้าไปเสริมในส่วนผิวหนังชั้นในที่หย่อนคล้อย ยิ่งไปกว่านั้นยังทำให้ผิวหนังยืดหยุ่น เป็นธรรมชาติ
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left"></span>
															<span class="info-desc__stick type-another"></span>
															close
														</button>
													</span>
												</span>
											</a>
			                            </span>และ
			                            <span class="content-section__info pop-info">
											<a href="" class="info-btn js-info type-cheek">
												<span class="info-btn__icon type-cheek">info button</span>
													เอนโดไทน์
												<span class="info-desc type-cheekbone">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>เอนโดไทน์คืออะไร?</strong><br class="hidden-tm"></span>
															<span class="info-desc__content">
																<img src="../../images/contour/contour_cheekbone_info-endo.jpg" loading="lazy" alt="Endotine image" class="info-desc__thumb">
																<span class="info-desc__txt1">
																	เอนโดไทน์คือ เครื่องมือที่เป็นมิตรต่อสิ่งแวดล้อม รวมทั้งได้รับการรับรอง FDAสหรัฐอเมริกา เอนโดไทน์จะเข้าไปดึงผิวหนังให้กลับมาสมดุล และแก้ไขริ้วรอยต่างๆที่เกิดขึ้น แผลเป็นมีขนาดเล็กหลังทำ อยู่ได้นาน รวมทั้งสามารถซึมเองตามธรรมชาติจึงถูกใข้เป็นเครื่องมือชะลอความริ้วรอยต่างๆ รวมถึงผิวหนังที่หย่อนคล้อย
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left"></span>
															<span class="info-desc__stick type-another"></span>
															close
														</button>
													</span>
												</span>
											</a>
			                            </span>มาประยุกต์ใช้เพื่อแก้ปัญหาดังกล่าว
		                           	</span>
									อิลาสติกกุมคือ ไหมพิเศษที่ใช้ยกกระชับส่วนที่เป็นสาเหตุทำให้ผิวหนังหย่อนคล้อย เอนโดไทน์คือ การส่องกล้องเพื่อดึงให้ผิวหน้าตึง กระชับขึ้น โดยทั้งสองวิธีนี้จะช่วยในเรื่องชะลอความแก่บาโนบากิจึงเล็งเห็นว่าเป็นวิธีที่จะทำให้คนไข้หมดกังวลเรื่องแก้มหย่อนคล้อยหลังทำศัลยกรรมลดโหนกแก้มไปได้
								</p>
							</div>
							<div class="content-section__box1">
								<ul class="content-section__list type-wrap clearfix">
									<li class="content-section__img sec5-unique">
										<div class="content-section__item sec5-item">
											<img src="../../images/contour/contour_cheekbone_section05-1.jpg" loading="lazy" alt="ear trough (Endotine)">
											<div class="content-section__thumb sec5-pic1">ร่องน้ำตา (อิลาสติกกุม)</div>
											<div class="content-section__desc sec5-desc color-contour17">
												<p class="content-section__txt sec5-txt">ร่องน้ำตา <br class="hidden-p">(อิลาสติกกุม)</p>
											</div>
										</div>
									</li>
									<li class="content-section__img sec5-unique">
										<div class="content-section__item sec5-item">
											<img src="../../images/contour/contour_cheekbone_section05-2.jpg" loading="lazy" alt="Nasojugal groove (Elasticum, Endotine)">
											<div class="content-section__desc sec5-desc color-contour17">
												<p class="content-section__txt sec5-txt">ร่องใต้ตา <br class="hidden-p"> (อิลาสติกกุม,<br class="hidden-pt"> เอนโดไทน์)</p>
											</div>
										</div>
									</li>
									<li class="content-section__img sec5-unique">
										<div class="content-section__item sec5-item">
											<img src="../../images/contour/contour_cheekbone_section05-3.jpg" loading="lazy" alt="Nasolabial fold (Elasticum, Endotine)">
											<div class="content-section__desc sec5-desc color-contour17">
												<p class="content-section__txt sec5-txt">ริ้วรอยร่องแก้ม <br class="hidden-p"> (อิลาสติกกุม,<br class="hidden-pt"> เอนโดไทน์)</p>
											</div>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!--contenct-section-->

			<!--contenct-section-->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">ศัลยกรรมโหนกแก้มแก้ปัญหาผิวหนังหย่อนคล้อยได้</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 50 นาที</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยาสลบ/ยาชาเฉพาะที่</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
										<p class="operation-v2__txt txt-new1">เอาออกประมาณ 14 วันหลังผ่าตัด</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
										<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 5~7 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									เมื่อยาสลบหมดฤทธิ์อาจจะเกิดอาการเจ็บแปลบ<br>
									หากรู้สึกตึง หรือไม่สบายตัวสามารถรับประทานยาแก้ปวดที่ให้ไปได้<br>
									อาการปวดบริเวณที่ผ่าตัดจะน้อยกว่าแผลที่เกิดจากการกรีด้<br>
									บริเวณที่ทำเอนโดไทน์หรืออิลาสติกกุมอาจเกิดอาการปวดตึงได้<br>
									อาการปวด หรือแผลที่บวมจะหายไปประมาณ 5 วันหลังผ่าตัด<br>
									การดูแลอย่างเป็นระบบจะช่วนให้ฟื้นตัวได้เร็วยิ่งขึ้น
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
