<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-front">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">ไลน์คางที่เด่นชัดรับกันกับใบหน้าเรียวเล็ก</p>
				<h3 class="content-visual__tit">#ศัลยกรรม<span class="color-contour9">คาง</span></h3>
				<p class="content-visual__txt2">กรอบหน้าที่ผสมผสานเข้ากันกับรูปหน้า</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
	    <div class="content-wrap">
	        <div class="content-section type-first">
	            <div class="front-box1">
	                <div class="front-box1__box">
	                    <h4 class="content-section__tit type-left">
	                        <span class="content-section__number ">
	                            <span class="content-section__number-wrap">
	                                01
	                            </span>
	                        </span>
	                        <strong>คาง</strong>ถือเป็น<strong class="content-highlight2 type-front">พื้นฐาน</strong>สำหรับ<strong>รูปหน้าที่ได้สัดส่วน</strong>
	                    </h4>
	                    <p class="content-section__txt1">
	                        ปกติเวลาวัดความยาว หรือสัดส่วนของรูปหน้า จะยึดเอาความยาวตั้งเเต่หน้าผากยาวมาจนถึงปลายคางเป็นหลัก ซึ่งไลน์คางสามารถบอกได้ถึงสัดส่วนของใบหน้าแต่ละคนได้
	                        <strong>ถ้าอย่างนั้นรูปคางที่สวย ได้สัดส่วนรับกับใบหน้าต้องมีขนาดเท่าไหร่</strong>
	                        <br><br class="hidden-m">

	                        ตามปกติแล้วจะแบ่งสัดส่วนของใบหน้าตั้งแต่หน้าผาก <strong>หว่างคิ้ว ใต้จมูก ปลายคาง</strong>หากวัดแล้วได้สัดส่วนเป็น<strong class="color-contour18">1 : 1 : 0.8</strong>จะถือว่าเป็นสัดส่วนมาตรฐานของใบหน้าที่สวยงาม
	                        ยิ่งคางยาวมากเท่าไหร่ ยิ่งทำให้ภาพลักษณ์ดูแก่ และแข็งกร้าว ในทางกลับกัน ยิ่งคางสั้นมากเท่าไหร่ อาจทำให้มองไม่เห็นเส้นแบ่งระหว่างคอและใบหน้าได้เช่นกัน อีกทั้งคางที่เบี้ยวหรือกว้างเกินไปอาจทำให้รู้สึกไม่พอใจอีกด้วย
	                    </p>
	                    <p class="content-section__txt2">
	                        <strong>ในกรณีแบบนี้การศัลยกรรมคางจึงเป็นทางออก เพื่อรูปหน้าที่สวย ได้สัดส่วน</strong>
	                    </p>
	                    <div class="brace type-front">
	                        <p class="brace__txt txt-v4">
	                            ถ้าวัดใบหน้าที่แบ่งตาม<span class="color-contour18">หว่างคิ้ว ใต้จมูก ปลายคาง</span>แล้วได้เท่ากันกับสัดส่วน <span class="color-contour18">1 : 1 : 0.8–0.9</span>จะถือว่าเป็นรูปหน้าที่ได้สัดส่วน สวยงาม
	                        </p>
	                    </div>
	                </div>
	                <div class="front-box1__img"></div>
	            </div>
	        </div>

	        <div class="content-section type-margin0">
	            <div class="front-box2">
	                <div class="front-box2__box">
	                    <div class="front-box2__wrap">
	                        <h4 class="content-section__tit type-center">
	                            <span class="content-section__number">
	                                <span class="content-section__number-wrap">
	                                    02
	                                </span>
	                            </span>
	                            การทำศัลยกรรมคางต้องคำนึงถึง<strong class="color-contour19">องค์ประกอบที่หลากหลาย</strong>
	                        </h4>
	                        <p class="content-section__txt1">
	                            ทั่วไปแล้วหากนึกถึงการศัลยกรรมคาง ส่วนมากจะมองที่แค่ความยาวของคาง หรือการทำหน้าวีไลน์ ง่ายๆคือ มองแค่ไลน์คางเพียงแค่อย่างเดียว
	                            แต่ทว่าการวิเคราะห์ใบหน้าทุกส่วนอย่างมีมิติ รวมถึงภาพรวมของใบหน้าก็ถือว่าเป็นจุดสำคัญเช่นกัน
	                            โดยเฉพาะอย่างยิ่งหากหน้าผาก จมูก และปลายคางมีความสมดุลกัน จะยิ่งทำให้มีเสน่ห์มากยิ่งขึ้น
	                            นอกจากนี้หากคางอยู่ในระดับที่ได้สัดส่วนจะทำให้เห็นบริเวณช่องว่างระหว่างคอและใบหน้าที่ชัดขึ้น และทำให้ใบหน้าดูคมชัดอีกด้วย
	                        </p>
	                        <p class="content-section__txt2">
	                            ดังนั้น<span class="color-contour20">การศัลยกรรมจึงต้องคำนึงความยาว รูปร่าง รวมไปถึงมุมหน้าในหลากหลายมิติ</span>นั่นเอง
	                        </p>
	                    </div>
	                    <div class="front-box2__model">Cheekbone width 1(Baseline), Square jaw width 0.7, Lower jaw width 0.4</div>
	                </div>

	                <div class="front-box2__area">
	                    <div class="list-box type-front">
	                        <div class="list-box__box">
	                            <div class="list-box__wrap">
	                                <div class="list-box__vertical">
	                                    <h5 class="list-box__tit tit-v3">
	                                        สำคัญของการศัลยกรรมคาง
	                                        <strong>POINT</strong>
	                                    </h5>
	                                </div>
	                            </div>
	                        </div>
	                        <ol class="list-box__list">
	                            <li class="list-box__item txt-v3">ไลน์คางเรียวสวย</li>
	                            <li class="list-box__item txt-v3">ความยาวที่พอเหมาะกับสัดส่วนรูปหน้า</li>
	                            <li class="list-box__item txt-v3">ตำแหน่งที่ได้สัดส่วนกับความสูง-ต่ำของรูปหน้า</li>
	                        </ol>
	                    </div>
	                </div>
	            </div>
	        </div>

	      	<!-- tab  -->
			<div class="content-tab type-front">
				<div class="content-tab__inner">
					<ul class="content-tab__list">
						<!-- <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-broken">절골 앞턱 수술</a></li> -->
	                  <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-implant">เสริมซิลิโคนคาง</a></li>
						<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-injection">การฉีดคาง</a></li>
					</ul>
				</div>
			</div>

			<!-- tab contents -->
	        <!-- tab1 : 절골 앞턱 수술 -->
			<div class="content-tab__page page-broken">
				<div class="content-tab__box">
	                <div class="front-box3">
	                    <h4 class="content-section__tit">
	                        <strong>절골을 통한<br class="hidden-pt"> 앞턱 수술,</strong><br>
	                        거의 모든 케이스에 <br class="hidden-pt"><strong class="content-highlight2 type-front">가능</strong>합니다
	                    </h4>
	                    <p class="content-section__txt1">
	                        절골을 통한 앞턱 수술의 가장 큰 장점은 다양한 케이스에 대한 개선이 가능하고 그 효과가 크다는 것입니다.<br class="hidden-m">
	                        다양한 수술법들이 고안되어, 턱이 길고 돌출된 경우, 짧고 들어간 경우,<br class="hidden-m">
	                        삐뚤거나 라인이 뭉뚝한 경우 등 거의 모든 케이스에 대한 개선이 가능하죠.<br>
	                        <strong>또한 뼈 자체의 개선이기 때문에 그 정도가 비교적 심한 경우에도 개선이 가능하며 그만큼 느껴지는 만족도도 높습니다.</strong>
	                    </p>
	                    <div class="front-type">
	                        <ul class="front-type__list">
	                            <li class="front-type__item">
	                                <div class="front-type__img">
	                                    <img src="../img/contour/front/front_type_img_01.jpg" loading="lazy" alt="턱이 길고 돌출된 얼굴">
	                                    <p class="front-type__caption">
	                                        <span class="color-contour19">턱이 길고</span> 돌출된 얼굴
	                                    </p>
	                                </div>
	                            </li>
	                            <li class="front-type__item">
	                                <div class="front-type__img">
	                                    <img src="../img/contour/front/front_type_img_02.jpg" loading="lazy" alt="턱이 짧고 들어간 얼굴">
	                                    <p class="front-type__caption"><span class="color-contour19">턱이 짧고</span> 들어간 얼굴</p>
	                                </div>
	                            </li>
	                            <li class="front-type__item">
	                                <div class="front-type__img">
	                                    <img src="../img/contour/front/front_type_img_03.jpg" loading="lazy" alt="턱이 삐뚤어진 얼굴">
	                                    <p class="front-type__caption"><span class="color-contour19">턱이 삐뚤어진</span> 얼굴</p>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>

	                    <div class="front-point">
	                        <ul class="front-point__list">
	                            <li class="front-point__item">
	                                <div class="front-point__wrap">
	                                    <p class="front-point__txt">턱 끝 전진</p>
	                                </div>
	                            </li>
	                            <li class="front-point__item">
	                                <div class="front-point__wrap">
	                                    <p class="front-point__txt">턱 뼈 후진</p>
	                                </div>
	                            </li>
	                            <li class="front-point__item">
	                                <div class="front-point__wrap">
	                                    <p class="front-point__txt">비대칭 교정</p>
	                                </div>
	                            </li>
	                            <li class="front-point__item">
	                                <div class="front-point__wrap">
	                                    <p class="front-point__txt">턱 끝 길이<br class="hidden-p"> 단축</p>
	                                </div>
	                            </li>
	                            <li class="front-point__item">
	                                <div class="front-point__wrap">
	                                    <p class="front-point__txt">턱 끝 길이<br class="hidden-p"> 연장</p>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>

	                <div class="front-box4">
	                    <h4 class="content-section__tit">
	                        <strong>환자의 상태</strong>에<br class="hidden-pt"> 적합한 방법이<br>
	                        <strong class="color-contour18">가장 좋은 방법</strong>입니다
	                    </h4>
	                  	<p class="content-section__txt1">
						    앞턱 수술에 관한 정보들을 찾다 보면 앞턱 전진, ㅅ 절골, T 절골 등 그 방법이 실로 다양한 것을 볼 수 있습니다.<br class="hidden-m">
	                        각자 나름의 이유를 들어 어떤 특정 방법이 가장 효과적이라며 정답인 듯이 이야기하죠. 하지만 어떤 한가지 방법을 모든 환자분들에게 획일화하여 대입할 수는 없습니다.<br>
	                        개개인마다 턱의 상태가 다르고, 추구하는 바 또한 다르기 때문입니다.
						</p>
	                    <p class="content-section__txt2">
	                        <strong>따라서 가장 좋은 앞턱 성형은 전문의가 모든 앞턱 수술 방법을 알고, <span class="color-contour18">정밀한 진단을 통해 환자 개개인에 적합한 방법을 선택</span>하여 수술하는 것이라고 할 수 있습니다. </strong>
	                    </p>

	                    <div class="front-case">
	                        <div class="front-case__box">
	                            <div class="front-case__tit-wrap">
	                                <p class="front-case__tit">앞턱이 너무 길거나<br>돌출되었을 경우</p>
	                            </div>
	                            <div class="front-case__list-wrap">
	                                <ul class="front-case__list">
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">ㅅ자 절골</p>
	                                        </div>
	                                    </li>
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">T자 절골</p>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="front-case__box">
	                            <div class="front-case__tit-wrap">
	                                <p class="front-case__tit">앞턱이 너무 짧거나<br>들어간 경우</p>
	                            </div>
	                            <div class="front-case__list-wrap">
	                                <ul class="front-case__list">
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">앞턱 전진</p>
	                                        </div>
	                                    </li>
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">앞턱 + 뼈 이식</p>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>

	                <div class="front-box5">
	                    <h4 class="content-section__tit">
	                        <strong>바노바기<br class="hidden-pt"> 운곽 성형 전문팀</strong>의<br>
	                        <strong class="color-contour21">절골 앞턱 수술</strong>은
	                        <strong class="content-highlight2 type-front type-alpha">효과적</strong>입니다
	                    </h4>
	                    <p class="content-section__txt1">
	                        바노바기는 오랜 경험과 노하우를 가진 윤곽 성형 전문팀이 앞턱 수술을 책임지고 있습니다.<br>
	                        수많은 환자분들과의 대화와 발 빠른 장비 도입을 통한 정밀한 진단을 기반으로, 다양한 학술 교류와 연구로 체득된 다양한 절골 방법 중 환자에게 적절한 수술 방법을 결정하죠.
	                    </p>
	                    <p class="content-section__txt2">
	                        또한 안면 근육과 지방, 피부 등 얼굴 각 층에 대한 전문적인 이해를 가지고 수술하기 때문에 앞턱 수술 후 생길 수 있는<br class="hidden-t">
	                        조직 손상이나 피부 처짐 등의 부작용도 사전에 예방이 가능합니다.
	                    </p>

	                    <div class="front-box5__doctor-img">
	                        <img src="../img/contour/front/front_doctor_01_m.png" loading="lazy" alt="">
	                    </div>
	                    <div class="front-box5__doctor">
	                        <div class="front-box5__name nth-1">
	                            성형외과전문의
	                            <strong>오창현 원장</strong>
	                        </div>
	                        <div class="front-box5__name nth-2">
	                            성형외과전문의
	                            <strong>박종림 원장</strong>
	                        </div>
	                    </div>
	                </div>

	                <div class="front-box6">
	                    <ul class="front-box6__list">
	                        <li class="front-box6__item nth-1">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            심도 있는 상담과 장비를 통한 정밀 진단
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="front-box6__item nth-2">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            오랜 경험과 노하우로<br class="hidden-pm"> 맞춤 수술 가능
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="front-box6__item nth-3">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            얼굴 각 층에 대한 이해로 처짐없는<br class="hidden-pm"> 윤곽 추구
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>

	                <div class="front-box__wrap">
	                    <div class="front-box7">
	                        <div class="content-section__box w-6">
	                            <h4 class="content-section__tit">
	                                <span class="content-highlight2 type-front type-sky">한 번의 수술</span>로<br class="hidden-t">
	                                개선하는 것이 <br class="hidden-t"> <strong>효과적입니다.</strong>
	                            </h4>
	                            <p class="content-section__txt1">
	                                흔히 턱 수술을 편의상 옆 턱, 앞 턱 등으로 구분하여 진행하곤 합니다.<br class="hidden-tm">
	                                사각 턱이 고민이라면 옆의 각진 부분을 깎아내고, 앞 턱이 고민이라면<br class="hidden-tm">
	                                턱 끝을 돋보이게 해줄 수 있는 수술을 진행하는 식이죠.<br class="hidden-tm">
	                                하지만 실제 사람의 아래턱은 하나의 뼈로 이루어져 있습니다. 또한 입체적이죠.<br class="hidden-pm">
	                                <span class="content-highlight type-contour">그래서 앞턱 수술은 옆 턱과 앞 턱을 한 번에 진행하는 것이 좋습니다.</span>
	                                그래야만 비율적으로 더 아름다운 결과를 기대할 수 있고 자연스럽습니다.
	                            </p>
	                        </div>
	                        <div class="front-box7__img">앞턱 이미지</div>
	                    </div>

	                    <div class="front-box8">
	                        <ul class="front-box8__list">
	                            <li class="front-box8__item">
	                                <img src="../img/contour/front/front_img_06.jpg" loading="lazy" alt="" class="hidden-tm">
	                                <img src="../img/contour/front/front_img_06_t.jpg" loading="lazy" alt="" class="hidden-p">
	                            </li>
	                            <li class="front-box8__item">
	                                <img src="../img/contour/front/front_img_07.jpg" loading="lazy" alt="" class="hidden-tm">
	                                <img src="../img/contour/front/front_img_07_t.jpg" loading="lazy" alt="" class="hidden-p">
	                            </li>
	                        </ul>
	                        <p class="front-box8__txt1">
	                            물론 이런 수술 방법은 단순하지도, 쉽지도 않습니다.<br>
	                            환자에게 부담을 주지 않는 시간 내에 정면과 측면을 동시에 생각하며 진행해야 하니까요.
	                        </p>
	                        <p class="front-box8__txt2">
	                            자연스럽고 아름다운 앞턱 수술,<br class="hidden-pt"> <span class="color-contour18">정밀한 계측과 숙련된 전문의의 기술을 갖춘<br class="hidden-tm">
	                            바노바기 윤곽 성형 전담팀</span> 이기에 가능합니다.
	                        </p>
	                    </div>
	                </div>

					<!-- operation -->
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour">
								<div class="operation-v2__wrap">
									<h3 class="operation-v2__tit">ข้อมูลการผ่าตัด</h3>
									<!-- <p class="operation-v2__subtit">바노바기 절골 앞턱 수술은 회복이 빠릅니다</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h4 class="operation-v2__subject txt-new2">ระยะเวลาผ่าตัด</h4>
												<p class="operation-v2__txt txt-new1">약 1시간</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h4 class="operation-v2__subject txt-new2">วิธีวางยาชา</h4>
												<p class="operation-v2__txt txt-new1">전신마취</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h4 class="operation-v2__subject txt-new2">ตัดไหม</h4>
												<p class="operation-v2__txt txt-new1">약 14일 후 제거</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h4 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h4>
												<p class="operation-v2__txt txt-new1">당일귀가</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h4 class="operation-v2__subject txt-new2">เช็คอัพหลังผ่าตัด</h4>
												<p class="operation-v2__txt txt-new1">약 2회 내외</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h4 class="operation-v2__subject txt-new2">ระยะพักฟื้น</h4>
												<p class="operation-v2__txt txt-new1">
													약 1주 후 일상생활 가능
												</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h3 class="pain-v2__tit txt-new2">ระดับความเจ็บปวดหลังการผ่าตัด</h3>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">원</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">원</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											체계적인 후 관리를 통해 보다 빠르고 적극적인 회복을 도와드립니다.<br>
											마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
											실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
											부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากแบบสอบถามจริงของคนไข้ที่ได้รับการผ่าตัด</p>
											<p class="pain-v2__noti txt-new4">* ผลการผ่าตัดของแต่ละคนอาจแตกต่างกันไป</p>
										</div>
										<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
	            </div>
			</div>

	        <!-- tab2 : เสริมซิลิโคนคาง -->
			<div class="content-tab__page page-implant is-active">
				<div class="content-tab__box">
	                <div class="front-box9">
	                    <h4 class="content-section__tit">
	                        <strong>ในกรณีพิเศษ</strong><br>
	                        การเสริมซิลิโคนคางก็<strong class="content-highlight2 type-front">ทำได้</strong>เช่นกัน
	                    </h4>
	                    <p class="content-section__txt1">
	                        กรณีที่คนไข้ไม่สะดวกที่จะเหลากระดูกอ่อนหรือแพทย์วินิจฉัยว่าคนไข้ไม่เหมาะที่จะเหลากระดูกอ่อน การเสริมซิลิโคนคางก็เป็นอีกวิธีที่ดีเช่นกัน
	                        การเสริมซิลิโคนคางคือ
	                        <span class="content-section__info pop-info">
	                            <a href="" class="info-btn js-info type-front">
	                                <span class="info-btn__icon type-design">info btn</span>
	                                การใส่ซิลิโคน
	                                <span class="info-desc type-design" style="display: none;">
	                                    <span class="info-desc__item">
	                                        <span class="info-desc__box">
	                                            <span class="info-desc__tit"><span class="info-desc__icon"></span>ซิลิโคน และกอร์เท็กซ์คือ?<br class="hidden-tm"></span>
	                                            <span class="info-desc__content">
	                                                <img src="../../images/contour/front/front_img_02.jpg" loading="lazy" alt="ิลิโคน และกอร์เท็กซ์คื" class="info-desc__thumb">
	                                                <span class="info-desc__txt1">
	                                                    เป็นวัสดุที่ได้รับการยอมรับเรื่องความปลอดภัยต่อร่างกายผ่านการทดสอบทางการแพทย์ มีข้อดีคือ ใช้เติม หรือเสริมในส่วนที่บกพร่อง รวมทั้งปลอดภัยสูง และคงอยู่ได้นาน
	                                                </span>
	                                            </span>
	                                        </span>
	                                        <button class="info-desc__btn js-close">
	                                            <span class="info-desc__stick type-left"></span>
	                                            <span class="info-desc__stick type-another"></span>
	                                            close
	                                        </button>
	                                    </span>
	                                </span>
	                            </a>
	                        </span>
	                        หรือกอร์เท็กซ์เข้าไปเพื่อให้คางได้รูปยิ่งขึ้น
	                        แต่ว่าการเสริมซิลิโคนไม่สามารถทำได้กับคนไข้ที่คางยื่น หรือยาวมากเกินไป
	                        ส่วนคนไข้ที่คางสั้น หรือคางงุ้มเข้าไป การเสริมซิลิโคนที่คางก็ถือเป็นอีกหนึ่งวิธีที่ทำให้คางดูมีมิติยิ่งขึ้น
	                    </p>
	                    <div class="front-type">
	                        <ul class="front-type__list">
	                            <li class="front-type__item">
	                                <div class="front-type__img">
	                                    <img src="../../images/contour/front/front_type_img_04.jpg" loading="lazy" alt="Short chin">
	                                    <p class="front-type__caption">กรณี<span class="color-contour19">คางสั้น</span></p>
	                                </div>
	                            </li>
	                            <li class="front-type__item">
	                                <div class="front-type__img">
	                                    <img src="../../images/contour/front/front_type_img_05.jpg" loading="lazy" alt="Retracted chin and protruded mouth">
	                                    <p class="front-type__caption">กรณี<span class="color-contour19">คางงุ้มเข้าไป</span> และปากยื่นออกมา</p>
	                                </div>
	                            </li>
	                            <li class="front-type__item">
	                                <div class="front-type__img">
	                                    <img src="../../images/contour/front/front_type_img_06.jpg" loading="lazy" alt="A small chin that creates double-jaw">
	                                    <p class="front-type__caption">กรณี<span class="color-contour19">คางเล็ก</span>จนทำให้ชั้นคางซ้อนกัน</p>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="front-box9__box">
	                        <div class="brace type-front type-another">
	                            <p class="brace__txt txt-v4">
	                                คางเล็กจะทำให้ไม่เห็นบริเวณระหว่างคอและใบหน้าอย่างชัดเจน!<br>
	                                <span class="color-contour18">มาเปลี่ยนแปลงรูปคางเพื่อให้เห็นโครงหน้าที่ชัดเจนกันเถอะ!</span>
	                            </p>
	                        </div>
	                    </div>
	                </div>

	                <div class="front-box10">
	                    <h4 class="content-section__tit">
	                        ข้อดีคือมี<strong class="content-highlight type-front">วิธีศัลยกรรมมากมาย</strong>หากวินิจฉัยปัญหาอย่างถูกต้อง
	                    </h4>
	                    <p class="content-section__txt1">
	                        ข้อดีของการเสริมซิลิโคนที่คางคือ อาการปวดน้อยกว่าการผ่าตัดที่กระดูกอ่อน
	                        แค่เพียงเสริมซิลิโคนที่เข้ากับกระดูกคางเข้าไป สามารถย่นระเวลาการผ่าตัด รวมทั้งฟื้นตัวได้เร็ว
	                    </p>
	                    <p class="content-section__txt2">
	                        อีกทั้ง<span class="color-contour18">เวลาที่ใส่ซิลิโคน</span> ไป จะทำการกรีดบริเวณด้านในปาก
	                        ดังนั้น<span class="color-contour18">หมดห่วงเรื่องแผลเป็นขนาดใหญ่ รวมทั้งสามารถตกแต่งซิลิโคนให้เข้ากับรูปคางตามที่ต้องการ</span>ตรงใจคนไข้อีกด้วย
	                    </p>
	                </div>

	                <div class="front-box11">
	                    <ol class="front-box11__list">
	                        <li class="front-box11__item nth-1">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h5 class="front-box11__tit">การกรีด</h5>
	                                <p class="front-box11__txt">กรีดประมาณ 1 เซนติเมตร เพียงแค่หนึ่งถึงสองจุดในปาก</p>
	                            </div>
	                        </li>
	                        <li class="front-box11__item nth-2">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h5 class="front-box11__tit">เสริมซิลิโคน</h5>
	                                <p class="front-box11__txt">เสริมซิลิโคนที่ออกแบบให้เข้ากับกระดูกคาง</p>
	                            </div>
	                        </li>
	                        <li class="front-box11__item nth-3">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h5 class="front-box11__tit">การเย็บแผล</h5>
	                                <p class="front-box11__txt">เสริมซิลิโคนในจุดที่ปลอดภัยแล้วเย็บแผลปิด</p>
	                            </div>
	                        </li>
	                    </ol>
	                </div>

	                <div class="front-box12">
	                    <div class="front-box12__wrap">
	                        <div class="front-box12__box">
	                            <div class="front-box12__tit">
	                                <h4 class="content-section__tit">
	                                    รูปคางสวยด้วย
	                                    <span class="content-highlight2 type-front type-gray">ซิลิโคน</span>ที่เหมาะกับใบหน้า
	                                    รวมทั้งทำให้<span class="content-highlight2 type-front type-gray">กรอบหน้าดูเด่นชัดขึ้น</span>
	                                </h4>
	                            </div>
	                        </div>

	                        <div class="front-box12__box2">
	                            <div class="front-box12__list-wrap">
	                                <ul class="front-box12__list">
	                                    <li class="front-box12__item nth-1">
	                                        <p class="front-box12__txt">
	                                            กรีดด้านในปากทำให้
	                                            <strong class="color-contour22">ไม่เห็นรอยแผลเป็น</strong>
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-2">
	                                        <p class="front-box12__txt">
	                                            สามารถผ่าตัดด้วยการวาง
	                                            <strong class="color-contour22">วางยาชาเฉพาะจุด</strong>
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-3">
	                                        <p class="front-box12__txt">
	                                            ใช้เวลา<strong class="color-contour22">ประมาณ 30 นาที</strong>ในการผ่าตัด
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-4">
	                                        <p class="front-box12__txt">
	                                            ขนาดและ<strong class="color-contour22">แบบที่หลากหลาย</strong>ของ<strong class="color-contour22">ซิลิโคน</strong>
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-5">
	                                        <p class="front-box12__txt">
	                                            <strong class="color-contour22">ไม่จำเป็นต้องพักฟื้น</strong>ที่โรงพยาบาลหลังผ่าตัด
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-6">
	                                        <p class="front-box12__txt">
	                                            สวยขึ้นแม้ว่า<strong class="color-contour22">ไม่ได้ผ่าตัดบริเวณกระดูกอ่อน</strong>
	                                        </p>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>

					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
									<!-- <p class="operation-v2__subtit">ข้อมูลเกี่ยวกับการศัลยกรรมเสริมซิลิโคนคาง</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 30 นาที</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
												<p class="operation-v2__txt txt-new1">ยาชาเฉพาะที่</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
												<p class="operation-v2__txt txt-new1">เอาออกประมาณ 14 วันหลังผ่าตัด</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
												<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 2 ครั้ง</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 5~7 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 2){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											การดูแลอย่างถูกวิธีจะทำให้ฟื้นตัวได้เร็วขึ้น<br>
											เมื่อยาสลบหมดฤทธิ์อาจจะเกิดอาการเจ็บแปลบ แต่จะค่อยๆดีขึ้นในภายหลัง<br>
											เวลาตัดไหม หรือทายาฆ่าเชื้ออาจมีอาการปวดบ้าง<br>
											อาการไข้และอาการปวดที่เกิดจากการบวมสามารถรับประทานยาแก้ปวดที่จ่ายไปหรือประคบเย็น
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
											<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
	            </div>
			</div>

	        <!-- tab3 : การฉีดคาง-->
	        <div class="content-tab__page page-injection">
				<div class="content-tab__box type-margin0">
					<div class="front-box13">
	                    <div class="front-box13__wrap">
	                        <div class="front-box13__box">
	                            <div class="front-box13__tit">
	                                <h4 class="content-section__tit">
	                                    หากต้องการ<strong>ความเปลี่ยนแปลงในชั่วพริบตา และปราณีต</strong>
	                                    <span class="content-highlight2 type-front type-dark">การฉีดคาง</span>ช่วยได้
	                                </h4>
	                                <p class="content-section__txt1">
										กรณีที่ไม่อยากผ่าตัดกระดูก หรือเสริมซิลิโคนเข้าไป การฉีดคางก็สามารถเพิ่มมิติให้แก่รูปหน้าได้เช่นกัน
										การฉีดไขมันของตัวเอง หรือการเติมฟิลเลอร์เข้าไปยังชั้นใต้ผิวหนังก็สามารถเติมเต็มบริเวณคางให้มีมิติขึ้น
	                                </p>
	                                <p class="content-section__txt2">
	                                    วิธีนี้อาจได้ผลลัพธ์ไม่เท่ากับการศัลยกรรม หรือการเสริมซิลิโคน แต่เป็นวิธีที่สะดวกในการปรับแต่งรูปคางในกรณีที่ต้องการเพิ่มมิติให้คางดูดียิ่งกว่าเดิม
	                                </p>
	                            </div>
	                        </div>

	                        <div class="front-box13__box2">
	                            <div class="front-box13__list-wrap">
	                                <ul class="front-box13__list">
	                                    <li class="front-box13__item nth-1">
	                                        <div class="front-box13__img">
	                                            <p class="front-box13__caption">การฉีดไขมันสเต็มเซลล์ของตัวเอง</p>
	                                        </div>
	                                        <div class="front-box13__area">
	                                            <ul class="front-box13__list2">
	                                                <li class="front-box13__item2">
	                                                    <p class="front-box13__txt">ดูดไขมันจากต้นขา หน้าท้อง เป็นต้น</p>
	                                                </li>
	                                                <li class="front-box13__item2">
	                                                    <p class="front-box13__txt">ใช้เครื่องสะกัดSVFเพื่อสะกัดไขมันSVFออกมา</p>
	                                                </li>
	                                                <li class="front-box13__item2">
	                                                    <p class="front-box13__txt">เติมไขมันทั่วๆบริเวณคาง และคงอยู่ได้นาน</p>
	                                                </li>
	                                            </ul>
	                                        </div>
	                                    </li>
	                                    <li class="front-box13__item nth-2">
	                                        <div class="front-box13__img">
	                                            <p class="front-box13__caption">อาเทคอล / ฟิลเลอร์ปกติ</p>
	                                        </div>
	                                        <div class="front-box13__area">
	                                            <ul class="front-box13__list2">
	                                                <li class="front-box13__item2">
	                                                    <p class="front-box13__txt">ทายาชาบริเวณที่จะทำการฉีดจึงปวดเพียงเล็กน้อย</p>
	                                                </li>
	                                                <li class="front-box13__item2">
	                                                    <p class="front-box13__txt">ฉีดด้วยเข็มที่ได้คุณภาพ</p>
	                                                </li>
	                                                <li class="front-box13__item2">
	                                                    <p class="front-box13__txt">ฉีดอาเทคอลที่เป็นฟิลเลอร์กึ่งถาวร อยู่ได้นานมากสุดถึง 10ปี</p>
	                                                </li>
	                                            </ul>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
