<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-brow">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-brow">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">การผสมผสานกันของเส้นโค้งที่ได้สัดส่วนและสวยงาม</p>
						<h3 class="new-visual__tit">ศัลยกรรม<span class="n-color-contour2">หน้าผาก</span></h3>
						<p class="new-visual__txt">เสริมสร้างความมั่นใจด้วยสไตล์ที่แตกต่าง</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#หน้าผากมีวอลลุ่ม</span></li>
							<li class="new-visual__item"><span>#ใบหน้าเรียวเล็ก</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-tab__line">line</div>
			<div class="new-tab type-contour">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">ศัลยกรรมเสริมหน้าผาก</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-volume" class="new-tab__link">ศัลยกรรมเสริมหน้าผาก</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-reduction" class="new-tab__link">การลดขนาดหน้าผาก</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-volume is-active">
				<div class="new-section type-cling">
					<div class="new-style1 type-brow type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							หน้าผากที่ราบและยุบลงไปแก้ไขด้วยการ  <span class="n-color-contour2">เพิ่มวอลลุ่ม</span>ให้หน้าผาก
						</h4>
						<p class="new-style1__txt txt-new1">
							หน้าผากถือเป็นส่วนหนึ่งที่ครองพื้นที่บนใบหน้าไปถึง 1/3 ถือว่าเป็น <span class="color-black1">บริเวณสำคัญที่สามารถเปลี่ยนรูปลักษณ์ของแต่ละคน</span>
							ได้เลยทีเดียว  เมื่อมองหน้าตรง หน้าผากที่สวยคือ หน้าที่มีวอลลุ่ม นูนสวยรับกับตา ปาก และปลายคาง หากว่าหน้าผากราบเรียบ ไม่มีส่วนโค้งเว้า ยุบตัวลงไป
							หรือกระดูกบริเวณคิ้วสูงมากเกินไป จะให้รูปหน้าดูเหมือนผู้ชาย และภาพลักษณ์ดูแช็งไม่เหมือนผู้หญิง ซึ่งปัญหานี้อาจทำให้แต่งหน้าหรือทำผมให้เข้าได้ยาก
						</p>
						<p class="new-style1__txt2 txt-new2">
							ดังนั้นการเพิ่มวอลลุ่มหน้าผากจึงต้อง <span class="n-color-contour2">คำนึงถึงรูปหน้าของแต่ละคน</span>เป็นหลัก
						</p>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_1.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_1_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">เคสที่ควรเสริมซิลิโคนหน้าผาก</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_2.jpg" class="img-w100" loading="lazy" alt=""/>
										<p class="img-style1__subject txt-new1">หน้าผากเรียบ ไม่มีมิติเมื่อมองมุมด้านข้าง หรือบริเวณหน้าผากบางส่วนยุบตัวลงไป</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_3.jpg" class="img-w100" loading="lazy" alt=""/>
										<p class="img-style1__subject txt-new1">กระดูกคิ้วสูงเกินไปทำให้หน้าคล้ายผู้ชาย</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							การทำหัตถการก็สามารถทำให้<span class="n-color-contour2">หน้าผากมีวอลลุ่มสวย</span>ได้เช่นกัน
						</h4>
						<p class="new-style1__txt txt-new1">
							กรณีที่หน้าผากไม่จำเป็นที่จะต้องเสริมซิลิโคน หรือเสริมไปแล้วแต่ยังต้องการให้มีวอลลุ่มมากกว่าเดิม สามารถแก้ไขได้ด้วยการทำหัตถการ อย่างเช่น การฉีดไขมัน หรือฟิลเลอร์เข้าไป
							การทำหัตถการเหล่านี้เป็นวิธีที่ง่ายและสะดวก ถือว่าเป็นอีกหนึ่งวิธีที่สามารถ<span class="color-black1">เพิ่มวอลลุ่มให้หน้าผากได้อย่างสวยงาม รวมทั้งลดความกังวลใจต่างๆได้</span>อีกด้วย
						</p>
						<div class="inner-box type-w">
							<div class="img-style1">
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_4.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">การฉีดสเต็มเซลล์ไขมันของตัวเอง</h5>
										<p class="img-style1__caption txt-new1">
											ดูดไขมันบริเวณต้นขา หน้าท้อง ฯลฯ แล้วนำไปเข้าเครื่องสกัดเพื่อให้ได้สเต็มเซลล์ไขมันออกมา หลังจากนั้นฉีดเข้าไปยังบริเวณที่ต้องการเพิ่มวอลลุ่ม
										</p>
										<a href="../svf/svfTransplant.php" class="content-btn txt-new1"><span>ไปยังหน้าเว็บ ฉีดไขมันของบาโนบากิ</span></a>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_5.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">อาร์ติคอล / ฟิลเลอร์ทั่วไป</h5>
										<p class="img-style1__caption txt-new1">
											ทาครีมยาชา เพื่อลดอาการปวด แล้วใช้เข็มขนาดเล็กฉีดไปยังบริเวณที่ต้องการ ยกตัวอย่างเช่น การฉีดอาร์ติคอล ฟิลเลอร์กึ่งถาวร เป็นต้น
										</p>
										<a href="../../special/specialDetail.php" class="content-btn txt-new1"><span>ไปยังหน้าเว็บ อาร์ติคอลฟิลเลอร์กึ่งถาวร</span></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="inner-box type-brow">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">
									ฟิลเลอร์ที่เลือกโดยทีมแพทย์ผู้เชี่ยวชาญด้านศัลยกรรมปรับรูปหน้า
								</h5>
								<div class="inner-circle type-contour type-bar type-cling">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												แก้ไขแฮร์ไลน์ หน้าผาก<br class="hidden-m">
												แทนการเสริม<br class="hidden-m">
												ซิลิโคนเข้าไป
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												คนที่กังวล<br class="hidden-m">
												เรื่องการเสริม<br class="hidden-m">
												ซิลิโคน
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												เพิ่มวอลลุ่ม<br class="hidden-m">
												ด้วยวิธีที่ง่าย<br class="hidden-m">
												และสะดวก
											</div>
										</li>
								 	</ul>
								</div>
								<ul class="img-style1__list type-mt">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_6.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">ดูแลรักษาโดยทีมแพทย์ผู้เชี่ยวชาญการศัลยกรรมปรับโครงหน้า</h6>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							ความพึงพอใจในการเลือกใช้ซิลิโคน<br class="hidden-tm">
							<span class="n-color-contour2">ให้เหมาะสมกับแต่ละคน</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							การทำหัตถการด้วยการฉีดสารเหลวเพียงอย่างเดียวนั้น ผลลัพธ์ที่ได้อาจไม่ได้ตรงจุดหรือเห็นผลมากเท่าไหร่นัก จึงเกิดการประดิษฐ์ซิลิโคนหน้าผากขึ้น
							ในตอนนี้หลังจากวิเคราะห์ลักษณะหน้าผากอย่างละเอียด และทำการประดิษฐ์ซิลิโคนของแต่ละคนแล้วนั้นก็จะทำ การใส่ซิลิโคนเข้าไปใต้เนื้อเยื่อหน้าผาก
							วิธีนี้ข้อดีคือมี<span class="color-white">การเปลี่ยนแปลงที่เห็นชัดและได้รับความพึงพอใจพอใจสูง</span>รวมทั้งยัง<span class="color-white">เป็นการศัลยกรรมที่ไม่ซับซ้อนและสามารถปรับเปลี่ยนดีไซน์ให้เหมาะสมกับแต่ละบุคคลได้</span>
							ในภายหลังหากทำหัตถการ เช่น ฉีดไขมันหรือฟิลเลอร์ส่วนบริเวณที่ดูยุบลงไป <span class="inline-block">ก็จะยิ่งทำให้เห็นถึงผลลัพธ์ช่วงไลน์ของหน้าผากที่ดีมากขึ้นไปอีก</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_7.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_7_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">ขั้นตอนการใส่ซิลิโคนหน้าผาก</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_8.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">STEP. 01</h6>
										<p class="img-style1__caption txt-new1">ก่อนผ่าตัดจะเช็คลักษณะหน้าผากตามแต่ละลักษณะหน้าผากของแต่ละบุคคล</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_9.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">STEP. 02</h6>
										<p class="img-style1__caption txt-new1">ประดิษฐ์ซิลิโคนให้เหมาะสมตามลักษณะรูปร่างและใช้ซิลิโคนที่เหมาะสมกับรูปร่างลักษณะของหน้าผากนั้นๆ</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_10.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">STEP. 03</h6>
										<p class="img-style1__caption txt-new1">ใส่ซิลิโคนที่ใต้เนื้อเยื่อ โดยจะกรีดบริเวณด้านหลังประมาณ 4-5 ซม. ตั้งแต่ช่วงไรผม</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_11.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">STEP. 04</h6>
										<p class="img-style1__caption txt-new1">ซิลิโคนที่ประดิษฐ์ขึ้นมาจะถูกทำให้ติดแน่นและปรับให้มีโวลลุ่มอย่างเป็นธรรมชาติ</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow3">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							ข้อดีที่<span class="n-color-contour3">เป็นธรรมชาติและความปลอดภัย</span><span class="inline-block">ของตัวซิลิโคน</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							เนื่องจากหน้าผากคนเรานั้นมีความแข็ง  จึงไม่ใช้กระดูกเทียมในการเสริม ในทางกลับกัน หากเลือกใช้กระดูกเทียมที่แข็ง มีความเป็นไปได้สูงที่อาจจะได้รับการกระทบกระเทือน ความเสียหาย หรือเป็นรอยแตกร้าวได้ ซึ่งรูปร่างที่เสียหายนั้น จะทำให้ผลลัพธ์ดูไม่เป็นธรรมชาติ <span class="inline-block">จึงถือเป็นข้อเสียของการใช้กระดูกเทียม</span>
						</p>
						<p class="new-style1__txt2 txt-new2">
							บาโนบากิทำการวิจัยอย่างละเอียดด้วยประสบการณ์ที่ยาวนานในการศัลยกรรมเสริมซิลิโคนหน้าผาก
						</p>
						<p class="new-style1__txt txt-new1">
							เราทำการเสริมซิลิโคนที่ประดิษฐ์โดยคำนึงถึงลักษณะหน้าผากของแต่ละคน ด้วยวัสดุที่มีความยืดหยุ่นสูง ยึดเกาะดีจึงทำให้เมื่อเสริมเข้าไปแล้วจะดูเป็นธรรมชาติรวมทั้งไม่เกิดการชำรุดเสียหายอีกด้วย  อีกทั้งมีข้อดีที่ช่วยลดความกังวลเกี่ยวกับแผลเป็น <span class="inline-block">ถือเป็นการศัลยกรรมที่เหมือนการทำแค่หัตถการเล็กน้อยเท่านั้น</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_12.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_12_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-contour">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
											<p class="operation-v2__txt txt-new1">ประมาณ 30 นาที ~ 1 ชั่วโมง</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
											<p class="operation-v2__txt txt-new1">ยาสลบ/ยาชาเฉพาะที่</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
											<p class="operation-v2__txt txt-new1">เอาออกประมาณ 7 ~ 10  วันหลังผ่าตัด</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
											<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
											<p class="operation-v2__txt txt-new1">ประมาณ 1 ครั้ง</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
											<p class="operation-v2__txt txt-new1">ประมาณ 3~5 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-contour">
									<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										หลังจากฉีดสารเหลวหรือหลังใส่ซิลิโคนเข้าไปแล้วที่บริเวณผิวหน้าผากอาจมีการยุบลงได้
										พอฤทธิ์ของยาชาคลายลงอาจปวดแปลบขึ้นได้ แต่เมื่อเวลาผ่านไปจะค่อยๆ ดีขึ้นเอง
										ตอนตัดไหมหรือตอนทายาฆ่าเชื้อนั้น อาจเกิดอาการแสบเล็กน้อย หรือรู้สึกตึงๆ ได้ สามารถบรรเทาได้ด้วยการทานยาแก้ปวดที่แพทย์ออกใบสั่งยาให้
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
										<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-reduction">
				<div class="new-section type-cling">
					<div class="new-style1 type-brow type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							กว่าครึ่งของพื้นที่ใบหน้า คือ<br class="hidden-tm"> <span class="n-color-contour2">ความกว้างของหน้าผาก</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							โดยปกติแล้ว สัดส่วนใบหน้าของคนเรา หว่างคิ้ว, จมูก, คาง  <span class="color-black1">จะแบ่งเป็นร้อยละที่เหมาะสมได้ดังนี้คือ 1:1:0.8-0.9</span>
							ถ้าหน้าผากเรากว้าง ส่วนต่างๆของหน้าผากก็จะลดลง หูตาปากจมูกก็จะดูไม่สมดุลกันอีกด้วย อาจทำให้หน้าดูยาว ศีรษะดูใหญ่ หรือดูเป็นคนผมบาง  เป็นต้น
						</p>
						<p class="new-style1__txt2 txt-new2">
							กรณีที่หน้าผากแคบ สามารถแก้ไขด้วยวิธีง่ายๆ และค่าใช้จ่ายไม่สูง กรณีที่หน้าผากกว้าง<span class="n-color-contour2">การผ่าตัดลดขนาดหน้าผากถือได้ว่ามีประสิทธิภาพและเหมาะสมที่สุด</span>
						</p>
						<div class="new-style1__img type-padding-m">
							<img src="../../images/contour/brow/brow_img_13.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_13_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
							<p class="new-style1__noti txt-new1">※ ภาพประกอบเพื่อความเข้าใจ</p>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<ul class="img-style1__list type-half type-notit">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_14.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">ความไม่สมดุลของใบหน้า</h5>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_15.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">ใบหน้าที่ดูยาว</h5>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_16.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">ใบหน้าที่ดูใหญ่</h5>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_17.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">ใบหน้าที่ดูแก่กว่าวัยรวมถึงศีรษะล้าน</h5>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							การลดขนาดหน้าผากนั้นถือเป็น<span class="n-color-contour2">วิธีที่แก้ไขที่ถูกจุด</span>ที่สามารถปรับช่วงขนาด เส้นไลน์หน้าผากได้
						</h4>
						<p class="new-style1__txt txt-new1">
							เปรียบเทียบหลักการง่ายๆ ของการลดขนาดหน้าผาก
							โดยปกติแล้วจะกรีดที่ไรผมลึกลงไปถึงใต้หนังศีรษะและทำการเย็บปิดแผลให้ติดกัน
							วิธีนี้ถือว่ามีข้อดีที่เห็นชัดเจน<span class="color-white">สำหรับคนที่มีหน้าผากกว้าง แถมยังเป็นวิธีการผ่าตัดนี้ถือเป็นวิธีที่ดีที่สุดถือเป็นการแก้ไขปัญหาที่ตรงจุดและได้ผลลัพธ์ที่เด่นชัด</span>สำหรับคนที่มีหน้าผากกว้าง แถมยังเป็นวิธีการผ่าตัดนี้ถือเป็นวิธีที่ดีที่สุดถือเป็นการแก้ไขปัญหาที่ตรงจุดและได้ผลลัพธ์ที่เด่นชัด
						</p>
						<div class="inner-circle type-contour2 type-bar">
							<ul class="inner-circle__list">
				 				<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										แก้ไขตรงจุด<br class="hidden-m">
										และรวดเร็ว
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										ผลลัพธ์ชัดเจน<br class="hidden-m">
										และรูปหน้าที่ดูเล็ก
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">และรูปหน้าที่ดูเล็ก<br class="hidden-m"> ดูดีขึ้น</div>
								</li>
						 	</ul>
						</div>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_18.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_18_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="step-style type-contour">
								<h5 class="new-content-tit tit-new2">ขั้นตอนการผ่าตัด</h5>
								<ul class="step-style__list">
									<li class="step-style__item">
										<div class="step-style__head txt-new2">
											<div class="step-style__box">step.01</div>
										</div>
										<div class="step-style__body txt-new1">
											<div class="step-style__box">
												กรีดแบบฟันปลา<br>
												ตามแนวแฮร์ไลน์
											</div>
										</div>
									</li>
									<li class="step-style__item">
										<div class="step-style__head txt-new2">
											<div class="step-style__box">step.02</div>
										</div>
										<div class="step-style__body txt-new1">
											<div class="step-style__box">
												ยึดติดตัวเอนโดไทน์ไล่ลง<br>
												ไปข้างใต้ตามแนวหนังศีรษะ
											</div>
										</div>
									</li>
									<li class="step-style__item">
										<div class="step-style__head txt-new2">
											<div class="step-style__box">step.03</div>
										</div>
										<div class="step-style__body txt-new1">
											<div class="step-style__box">
												จัดการเย็บปิดแผล<br>
												บริเวณผิวให้เรียบร้อย
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							ผลลัพธ์ออกมาเป็นที่น่าพอใจนั้นขึ้นอยู่กับ
							<span class="n-color-contour2">รายละเอียดขั้นตอนการผ่าตัด</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							ถึงจะเป็นการศัลยกรรมที่ง่าย ไม่ซับซ้อน แต่ความแตกต่างของผลลัพธ์นั้นก็ต้องอาศัยความชำนาญของผู้เชี่ยวชาญด้วย การศัลยกรรมลดขนาดหน้าผากจะกรีดช่วงไรผมเป็นแนวลงข้างล่างยาวลงมาเรื่อยๆ ด้วยความชำนาญ
							ซึ่งผลลัพธ์นั้นจะออกมาเป็นธรรมชาติกว่า
							ขั้นตอนการศัลยกรรมการลดขนาดหน้าผากของบาโนบากินั้นแต่ละขั้นตอนนั้นประกอบไปด้วยเทคนิคความรู้ ความ
							สามารถพิเศษที่ให้ผลลัพธ์ที่คำนึงถึงความเป็นธรรมชาติมากที่สุด
						</p>
						<p class="new-style1__txt txt-new1">
							อันดับแรกจะกรีดเป็นเส้นทแยง 45องศาบริเวณไรผม ต่อจากนั้นก็จะกรีดเป็นแนวฟันปลา ซึ่งวิธีนี้นอกจากจะช่วยไม่ให้เห็นรอยแผลแล้วก็ยังดูเป็นธรรมชาติอีกด้วย แล้วทำการยึดติดด้วยการใช้วัสดุ<span class="n-color-contour2">*เอนโดไทน์</span>ในการยึด หนังศีรษะเพื่อป้องกันการหย่อนคล้อย ขั้นตอนสุดท้ายนั้น บริเวณที่ถูกกรีดจะทำการเย็บปิดแผลทีละชั้น ทีละขั้นตอนอย่างพิถีพิถัน เพื่อไม่ให้เสี่ยงต่อการเกิดรอยแผลเป็น
						</p>
						<div class="img-style1 type-mt">
							<ul class="img-style1__list type-half">
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_19.jpg" class="img-w100" loading="lazy" alt=""/>
									<h5 class="img-style1__subject txt-new2">กรีด45องศาที่บริเวณไรผม</h5>
									<p class="img-style1__caption txt-new1">
										การกรีดที่หนังศีรษะจะไม่ได้กรีดเป็นแนวตั้งฉาก แต่จะกรีดเป็นแนว 45 องศาเอียงไปข้างหน้า ซึ่งการกรีดด้วยวิธีนี้จะทำให้ผลลัพธ์ออกมาเป็นธรรมชาติ
									</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_20.jpg" class="img-w100" loading="lazy" alt=""/>
									<h5 class="img-style1__subject txt-new2">กรีดเป็นลักษณะฟันปลาตลอดแนว</h5>
									<p class="img-style1__caption txt-new1">
										ไม่ใช่การกรีดเป็นเส้นตรง แต่จะเป็นการกรีดเป็นลักษณะฟันปลาแทน ซึ่งการกรีดด้วยวิธีนี้จะทำให้แผลที่ถูกเย็บออกมานั้นสวยกว่าการที่จะกรีดเป็นเส้นตรงบริเวณช่วงไรผม <span class="inline-block">ผลลัพธ์ที่ออกมาก็จะมีความเป็นธรรมชาติมากขึ้นไปอีกด้วย</span>
									</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_21.jpg" class="img-w100" loading="lazy" alt=""/>
									<h5 class="img-style1__subject txt-new2">การยึดติดด้วย<span class="n-color-contour2">เอนโดไทน์*</span></h5>
									<p class="img-style1__caption txt-new1">
										ใช้เอนโดไทน์ในการยึดติดลงไปใต้หนังศีรษะ จะช่วยทำให้ยึดติดเกาะได้แน่นขึ้น หลังจากศัลยกรรมแล้วนั้นอาจเกิดความหย่อนคล้อยลงบ้าง แต่ตัวเอนโดไทน์นี้แม้เวลาผ่านไปก็จะทำหน้าที่ช่วยในการยึดเกาะให้ยังคงติดแน่นอยู่ รวมถึงแผลที่ออกมานั้นก็จะมีความเป็นธรรมชาติอีกด้วย
									</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_22.jpg" class="img-w100" loading="lazy" alt=""/>
									<h5 class="img-style1__subject txt-new2">เย็บปิดแผล Layer By Layer</h5>
									<p class="img-style1__caption txt-new1">
										ผิวหนังประกอบด้วยผิวหนังชั้นนอก ผิวหนังชั้นใน ไขมัน เนื้อเยื้อ กล้ามเนื้อ เป็นต้น ซึ่งแต่ละชั้นมีส่วนประกอบความแตกต่างหลากหลายออกไป  โดยแต่ละชั้นจะมีลักษณะพิเศษเฉพาะของมัน หากไม่ทำการกรีดผ่าตัดแต่ละชั้นอย่างพิถีพิถันอาจส่งผลต่อระยะเวลาการพักฟื้นที่อาจจะยาวนานขึ้นได้ บาโนบากิได้ทำความเข้าใจและศึกษาเกี่ยวกับชั้นผิว Layer By Layer อย่างละเอียดในการเย็บปิดแผล เพื่อทำให้คนไข้ฟื้นตัวได้เร็ว และแผลเล็กลง
									</p>
								</li>
							</ul>
						</div><!--//img-style1-->
						<div class="inner-stripe type-line">
							<ul class="inner-stripe__list">
								<li class="inner-stripe__item">
									<div class="inner-stripe__wrap">
										<div class="inner-stripe__box">
											<div class="inner-stripe__img">
												<img src="../../images/contour/brow/brow_icon_1.png" loading="lazy" alt="" class="img-responsive">
											</div>
										</div>
										<p class="inner-stripe__subject txt-new1 n-color-contour2">* เอนโดไทน์</p>
										<p class="inner-stripe__txt txt-new1">
											เอนโดไทน์ ได้รับรองมาตรฐานจาก
											FDA ประเทศสหรัฐอเมริกาว่าเป็นวัสดุที่มีความปลอดภัยและสามารถเข้ากันได้กับร่างกายมนุษย์ จุดเด่นของเอนโดไทน์คือนำมาใช้ในการทำหัตถการเพื่อลดริ้วรอยต่างๆ และแก้ไขผิวที่หย่อนคล้อย ช่วยยึดให้ชั้นผิวดูเรียบ แก้ไขริ้วรอย รวมทั้งให้ผลลัพธ์ที่ยาวนาน และมีความเป็นธรรมชาติ แผลเล็ก
										</p>
									</div>
								</li>

							</ul>
						</div><!--//inner-stripe-->
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-contour">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
								<!-- <p class="operation-v2__subtit">광대수술의 수술정보를 안내해 드립니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
											<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง 30 นาที</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
											<p class="operation-v2__txt txt-new1">ยานอนหลับ</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
											<p class="operation-v2__txt txt-new1">เอาออกประมาณ 7 วันหลังผ่าตัด</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
											<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
											<p class="operation-v2__txt txt-new1">ประมาณ 1 ครั้ง</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
											<p class="operation-v2__txt txt-new1">ประมาณ 3~5 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-contour">
									<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										การดูแลอย่างถูกวิธีจะทำให้ฟื้นตัวได้เร็วขึ้น
										เมื่อยาสลบหมดฤทธิ์อาจจะเกิดอาการเจ็บแปลบ แต่จะค่อยๆดีขึ้นในภายหลัง
										เวลาตัดไหม
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
										<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
