<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-contour">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">การค้นพบเสน่ห์ของวีไลน์</p>
				<h3 class="content-visual__tit">#การศัลยกรรม<span class="color-contour7">กราม</span></h3>
				<p class="content-visual__txt2">กรอบหน้าที่สวยไม่ว่าจะมองด้วยมุมไหนก็ตาม</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-square">
		<div class="content-wrap">
		  	<div class="content-section type-first">
				<div class="contour-box1">
					<div class="content-section__wrap">
						<div class="content-section__box">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
								วีไลน์เป็นแค่สัญลักษณ์เท่านั้น
								จะทำออกมาให้เป็นแบบเดียวกันหมด<strong class="color-contour7">ไม่ได้</strong>
							</h4>
							<p class="content-section__txt1">
								วีไลน์ถือว่าเป็นกรอบหน้าตัวอย่างของใบหน้าที่สวยงามก็ว่าได้ ว่าแต่ทำไมผู้คนถึงคลั่งไคล้วีไลน์กันนะ<br><br>

								เพราะว่ากรามที่เพรียวบางจะทำให้รูปหน้าเรียวเล็ก สวย และได้สัดส่วนกว่ากรามที่กว้างนั่นเอง ยิ่งไปกว่านั้น ปลายคางที่เรียวสวยจะเข้ากับรูปปากเวลายิ้ม และให้ความรู้สึกที่ดูสง่างามอีกด้วย ถ้าเป็นอย่างที่กล่าวข้างต้น สรุปได้ว่าสิ่งสำคัญในการศัลยกรรมปรับรูปหน้าคือ  <strong class="content-highlight type-contour">การศัลยกรรมกรามและคางที่ทำให้ดูสง่างาม สวย และได้สัดส่วน</strong>
							</p>
							<div class="contour-box1__img">img</div>
							<div class="quotation2 type-contour">
								<p class="quotation2__txt txt-v5">
									ไม่ใช่แค่การศัลยกรรมให้เป็นตัว V แค่ง่ายๆเท่านั้น สิ่งที่ควรจะรู้เกี่ยวกับการทำศัลยกรรมวีไลน์คือ <i class="quotation2__style1">ความเป็นไปได้ในการหาวิธีศัลยกรรมวีไลน์ที่มีเสน่ห์ และเข้ากับรูปหน้าของแต่ละคนมากกว่า</i>มากกว่า เวลามองหน้าตรง จะไม่ใช่แค่คางรูปตัววีเท่านั้น แต่ต้องดีไซน์ให้เห็นรูปหน้าได้หลายๆ มุมด้วย
								</p>
							</div>
							<p class="content-section__txt2">
								ดังนั้นศัลยกรรมหน้าเรียววีไลน์ของบาโนบากิคือ
								<span class="color-contour8">วีไลน์ที่โค้งสวย และมีเสน่ห์ไม่ว่าจะมองในมุมไหน </span>
								ตั้งแต่กรามจนถึงปลายคาง
							</p>
						</div><!-- //content-section__box-->
					</div><!-- //content-section__wrap-->
				</div>
		   </div><!-- //content-section -->

		   	<div class="content-section">
				<div class="contour-bg">
					<div class="contour-box2">
						<div class="content-section__box w-6">
							<h4 class="content-section__tit type-top">
								<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
								<span class="color-contour7">การศัลยกรรมในครั้งเดียว</span>จะเห็นผลดีที่มากกว่า
							</h4>
							<p class="content-section__txt1">
								ปกติแล้วการศัลยกรรมปรับแต่งรูปหน้าจะแบ่งเป็นกราม หรือคาง เป็นส่วนๆไป หากกังวลเรื่องกรามก็จะเหลาในแต่ละส่วน เรื่องคางยื่นก็จะมีการศัลยกรรมให้ดูสวยงามขึ้นกันไปตามแต่ละส่วน แต่จริงๆแล้วกระดูกขากรรไกรล่างเป็นกระดูกที่เชื่อมต่อกันเป็นอันเดียว และเป็นรูปทรงสามมิติ ดังนั้นการศัลยกรรมปรับแต่งรูปหน้า
								<span class="content-highlight type-contour">ควรจะมีการปรับแต่งทั้งกรามและคางไปพร้อมๆกันจะดีกว่า</span>
								เพื่อผลลัพธ์ที่สวยงาม ได้สัดส่วน และเป็นธรรมชาติ
							</p>
						</div>
						<div class="contour-box2__img">img</div>
					</div><!-- //contour-box2 -->
					<div class="contour-box3">
						<ul class="contour-box3__list">
							<li class="contour-box3__item">
								<img src="../../images/contour/contour_chin_img04.jpg" loading="lazy" alt="" class="hidden-tm">
								<img src="../../images/contour/contour_chin_img04_768.jpg" loading="lazy" alt="" class="hidden-p">
							</li>
							<li class="contour-box3__item">
								<img src="../../images/contour/contour_chin_img05.jpg" loading="lazy" alt="" class="hidden-tm">
								<img src="../../images/contour/contour_chin_img05_768.jpg" loading="lazy" alt="" class="hidden-p">
							</li>
						</ul>
						<p class="contour-box3__txt1">
							แน่นอนว่าวิธีศัลยกรรมแบบนี้ไม่ซับซ้อน แต่ก็ไม่ง่าย<br>
							เพราะว่าเป็นศัลยกรรมที่คำนึงถึงใบหน้าด้านตรงและด้านข้าง และดำเนินการภายในเวลาที่ไม่ทำให้คนไข้รู้สึกลำบากใจ
						</p>
						<p class="contour-box3__txt2">
							ศัลยกรรมคางที่สวยงาม และเป็นธรรมขาติ, เป็นไปได้ด้วย<span class="color-contour8">ทีมแพทย์ศัลยกรรมตกแต่งรูปหน้าของบาโนบากิที่มีฝีมือ และมีการคำนวณอย่างพิถีพิถัน ละเอียดทุกขั้นตอน</span>
						</p>
					</div><!-- //contour-box3 -->
				</div>
		   </div><!-- //content-section-->

		   	<div class="content-section">
				<div class="contour-box4">
					<h4 class="content-section__tit type-center">
						<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
						การค้นพบคำตอบ<br> ด้วยการศัลยกรรม<strong class="color-contour7">ปรับแต่งโครงหน้าในทุกส่วน</strong>
					</h4>
					<div class="contour-box4__img">
						<img src="../../images/contour/contour_chin_img06.jpg" loading="lazy" alt="กล้ามเนื้อบดเคี้ยว,กระดูกกราม, ไขมันกระพุ้งแก้ม" class="hidden-tm">
						<img src="../../images/contour/contour_chin_img06_768.jpg" loading="lazy" alt="กล้ามเนื้อบดเคี้ยว,กระดูกกราม, ไขมันกระพุ้งแก้ม" class="hidden-p">
					</div>
					<p class="content-section__txt1">
						ปกติแล้วหากกระดูกกรามใหญ่ กล้ามเนื้อที่ใช้ในการขยับกล้ามเยื่อส่วนนั้นก็จะใหญ่ไปด้วย ยิ่งไปกว่านั้นหน้ามีเนื้อหรือไขมันเยอะ ไขมันที่สะสมในชั้นผิวหนังกับไขมันในกระพุ้งแก้มก็มีโอกาสที่จะใหญ่ขึ้นเช่นกัน ในกรณีแบบนี้การศัลยกรามที่ตัดเพียงแค่กระดูกกรามอย่างเดียวอาจไม่เห็นผล
						ดังนั้นการศัลยกรรมกรามที่ได้ผลมากกว่าคือ การผ่าตัดหลายๆส่วนบนในหน้าอย่างกล้ามเนื้อและไขมัน เป็นต้นไปพร้อมๆกันนั่นเอง
						การวินิจฉัยและการศัลยกรรมที่ผสมผสานแบบนี้สามารถครอบคลุมทุกส่วนของการศัลยกรรมรูปหน้าได้ตามที่ต้องการ ประกอบกับการศัลยกรรมจากคณะแพทย์ผู้เชี่ยวชาญจะยิ่งได้ผลลัพธ์อันน่าพึงพอใจสูงตามมา
					</p>
				</div>
		   	</div><!-- //content-section-->

			<div class="content-section">
				<div class="contour-box5">
					<ul class="contour-box5__list">
						<li class="contour-box5__item type-txt">
							<h4 class="content-section__tit">
								บาโนบากิ
							</h4>
							<p class="content-section__txt1 type-special">
								หลังจากเปิดให้บริการตั้งแต่ปี ค.ศ 2000 ได้เติบโตขึ้นเรื่อยๆ จนเป็นสถาบันการแพทย์ที่มีโครงสร้างที่เป็นระบบ และรวบรวมคณะแพทย์ผู้เชี่ยวชาญในสาขาวิชาต่างๆมาไว้รวมกัน รวมถึงจัดทำระบบศัลยกรรม และวิจัยเกี่ยวกับสาขาวิชานั้นโดยเฉพาะ
								<br><br>
								ศัลยกรรมกรามในแบบของบาโนบากิคือ การที่แพทย์ผู้เชี่ยวชาญทางด้านศัลยกรรมตกแต่งในส่วนของศัลยกรรมรูปหน้าที่รวบรวมปัญหากังวลใจเพื่อแก้ไขปัญหาเกี่ยวกับโครงหน้า
							</p>
							<p class="content-section__txt2">
								ด้วยการคิดค้นวิธีศัลยกรรมกรามที่ผสมผสานกันระหว่าง
								<span class="color-contour9">การศัลยกรรมขากรรไกรล่าง การศัลยกรรมลดกล้ามเนื้อบดเคี้ยว การศัลยกรรมกระดูกชั้นนอก</span>หรือ
								<span class="color-contour9">การดูดไขมันกระพุ้งแก้ม</span>ได้สำเร็จในที่สุด
							</p>
						</li>
						<li class="contour-box5__item type-img">
							<img src="../../images/contour/contour_chin_img07_mini.jpg" loading="lazy" alt="" class="hidden-tm">
							<img src="../../images/contour/contour_chin_img07_mini_768.jpg" loading="lazy" alt="" class="hidden-pm">
							<img src="../../images/contour/contour_chin_img07_mini_640.jpg" loading="lazy" alt="" class="hidden-pt">
						</li>
					</ul>
				</div>
				<div class="contour-box6">
					<div class="item-box1">
						<ul class="item-box1__list">
							<li class="item-box1__item">
								<div class="item-box1__inner">
									<h5 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> การศัลยกรรมขากรรไกรล่าง</h5>
									<p class="item-box1__txt txt-v1">
										ส่วนที่เป็นเหลี่ยมบริเวณใต้ใบหูเรียกว่า กรามหรือขากรรไกรล่างก็ได้ หากว่าขากรรไกรถูกใช้งานมากเกินไป กระดูกกรามจะหนา และทำให้รูปหน้าเหลี่ยม ไม่เป็นธรรมชาติ<br><br>
										ดังนั้นการแก้ไขรูปหน้าให้ดูเรียวบางด้วยการเหลากระดูกในส่วนที่เป็นขากรรไกรล่างให้บางและกลม ทำให้ไม่ว่ามองกรอบหน้าด้านหน้าหรือด้านข้างก็เป็นเค้าโครงหน้าที่ดูธรรมชาติ
									</p>
								</div>
							</li>
							<li class="item-box1__item">
								<div class="item-box1__inner">
									<h5 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> การศัลยกรรมลดกล้ามเนื้อบดเคี้ยว</h5>
									<p class="item-box1__txt txt-v1">
										หากแตะตรงบริเวณสันกรามที่อยู่ใต้หูจะรู้สึกถึงกล้ามเนื้อที่นู่นขึ้นมาเรียกว่ากล้ามเนื้อบดเคี้ยว ซึ่งเป็นกล้ามเนื้อที่มีหน้าที่ในการบดเคี้ยว หากมีการใช้งานมากเกินไปอาจเป็นสาเหตุให้สันกรามปูดนูนขึ้นได้<br><br>
										การฉีดโบท็อกซ์สามารถฃ่วยลดขนาดของกล้ามเนื้อลงได้แค่เพียงช่วงเวลาสั้นๆ แต่ว่าหากทำศัลยกรรมกรามควบคู่ไปด้วยได้ทำให้ได้ผลลัพธ์ที่ถาวรและน่าพึงพอใจมากกว่า
									</p>
								</div>
							</li>
						</ul>
						<ul class="item-box1__list">
							<li class="item-box1__item">
								<div class="item-box1__inner">
									<h5 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> การศัลยกรรมกระดูกชั้นนอก</h5>
									<p class="item-box1__txt txt-v1">
										กระดูกใบหน้ามีกระดูกชั้นนอก กระดูกที่มีรูพรุน และกระดูกขั้นในที่ประกอบกันเป็นชั้น โดยการศัลยกรรมกระดูกในส่วนนี้คือ การเหลาส่วนกระดูกชั้นนอกให้บางลง หากทำโดยแพทย์ผู้เชี่ยวชาญ จะปลอดภัย และได้เค้าโครงกรามที่น่าพึงพอใจมากกว่า
									</p>
								</div>
							</li>
							<li class="item-box1__item">
								<div class="item-box1__inner">
									<h5 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> การดูดไขมันกระพุ้งแก้ม</h5>
									<p class="item-box1__txt txt-v1">
										ไขมันใบหน้าแบ่งเป็น 2 ชั้นด้วยกัน ส่วนแรกคือ ไขมันบางๆที่อยู่ใต้ผิวหนัง อีกส่วนหนึ่งคือ ไชมันกระพุ้งแก้มที่อยู่ลึกลงไป หากจะเอาไขมันที่อยู่ข้างบนออกไปสามารถใช้วิธีดูดไขมันได้ แต่ในส่วนที่อยู่ลึกอย่างไขมันกระพุ้งแก้มต้องมีการดูดออกภายในปากเพื่อเอาไขมันในส่วนนี้ออกไป
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

		   	<div class="content-section type-unique">
				<div class="contour-box7">
					<div class="contour-box7__box">
						<p class="contour-box7__txt">BANOBAGI SURGERY</p>
						<h4 class="content-section__tit">
							แพทย์ที่มีชื่อเสียงและได้รับการยอมรับ <br>
							จากสื่อและแวดวงวิชาการ!
						</h4>
					</div>
					<div class="contour-box7__img">DR.โอชังฮยอน, DR.ปาร์คจงลิม</div>
				</div>
				<div class="contour-box8">
					<div class="contour-box8__box">
						<h5 class="content-section__tit">
							แพทย์<br class="hidden-tm">
							ผู้เชี่ยวชาญหลัก<br class="hidden-tm">
							ประจำรายการ
						</h5>
						<p class="contour-box8__txt">รายการเล็ทมีอิน, เล็ทมีอินไทยแลนด์,เชนจ์ไลฟ์เวียดนาม, อารึมดาอุนทังชิน, แทเซนัม เป็นต้น</p>
					</div>
				</div>
				<div class="contour-img">
					<img src="../../images/contour/contour_chin_img10.jpg" loading="lazy" alt="news">
				</div>
				<div class="contour-box9">
					<div class="content-section__wrap">
						<div class="content-section__box w-4">
							<p class="contour-box9__txt">กิจกรรมทางวิชาการที่หลากหลาย การนำเสนอบทความทางวิขาการ เป็นต้น</p>
							<h5 class="content-section__tit">
								ดร.ปาร์คจงลิมผู้ทุ่มเทให้กับ
								การศัลยกรรมปรับแต่งรูปหน้าโดยเฉพาะ
							</h5>
						</div>
						<div class="content-section__box w-6">
							<img src="../../images/contour/contour_chin_img11.png" loading="lazy" alt="newspaper">
						</div>
					</div>
				</div><!-- //contour-box9 -->
				<div class="contour-img">
					<img src="../../images/contour/contour_chin_img12.jpg" loading="lazy" alt="ดร.ปาร์คจงลิมผู้ทุ่มเทให้กับการศัลยกรรมปรับแต่งรูปหน้าโดยเฉพาะ">
				</div>
		   	</div>

			<!-- ข้อมูลการผ่าตัด -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">ทางเรามีการบริการดูแลหลังการผ่าตัดศัลยกรรมกราม</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง 30 นาที</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยาสลบ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
										<p class="operation-v2__txt txt-new1">เอาออกประมาณ 14 วันหลังผ่าตัด</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 วัน</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 2 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 5~7 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 5){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									หลังผ่าตัด พอยาสลบหมดฤทธิ์อาจจะรู้สึกเจ็บแปลบได้<br>
									หากรู้สึกตึงหรือไม่สบายตัว สามารถทานยาแก้ปวดที่คุณหมอสั่งไว้เพื่อลดอาการปวดได้<br>
									อาการปวดหรืออาการบวมจะค่อยๆหายไปหลังผ่าตัดประมาณ 5 วัน<br>
									ทางเรามีการบริการดูแลหลังการผ่าตัดที่ได้รับการยอมรับจากทั่วโลกที่จะให้หายไวและได้ผลลัพธ์อันพึงพอใจ
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
		</div>
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
