<%
	type = "detail"
	page = "contour"
%>
<% include ../_include/_header %>
<!-- Content -->
<div class="contour detail-common" data-video="true">
	<section class="fs_section contourFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-contour">
					กระดูก . กล้ามเนื้อ . ไขมัน . ผิวหนัง
		            <span class="color-contour0">ปัจจัยหลายๆอย่างที่รวมกัน</span>
				</p>
				<h3 class="detail__first-txt type-contour">
					บาโนบากิคือผู้ใส่ใจรายละเอียดในการ <span class="color-contour1">ผ่าตัดปรับรูปหน้า</span><br>
					<strong class="detail__first-point">ให้ออกมาสวยอย่างเป็นธรรมชาติ</strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
	</section>

	<section class="fs_section contourSection01" data-section-name="contourSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-contour type-quotation2">
		            <h4 class="detail__section-tit">
	                    <strong>ศัลยกรรมปรับรูปหน้า</strong>
					    <span class="detail__section-bwrap">ที่บาโนบากิ</span>
					    <strong class="color-contour2">ทำอย่างนี้</strong>
		            </h4>
					<p class="detail__section-subtit">เราใส่ใจในตัวคนไข้ไม่ใช่แค่กระดูก</p>
					<p class="detail__section-txt color-contour3">
						เป้าหมายของการผ่าตัดปรับรูปหน้าไม่ใช่แค่ตัดกระดูก แต่เราคำนึงถึงสัดส่วนของรูปหน้าที่สวยงามเป็นหลัก สิ่งสำคัญคือเมื่อกระดูกมีการเปลี่ยนแปลง กล้ามเนื้อ ผิวหนังก็ต้องได้รับการเปลี่ยนแปลงตามไปด้วย ที่บาโนบากิเราพิถีพิถันในการผ่าตัดทั้งกระดูก กล้ามเนื้อ ไขมัน ผิวหนัง รวมถึงใส่ใจในการแสดงสีหน้าของคนไข้หลังผ่าตัดที่ต้องออกมาเป็นสวยงามและดูเป็นธรรมชาติ
					</p>
		        </div>
			</div>
		</div>
	</section>

	<section class="fs_section contourSection02" data-section-name="contourSection02">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-down type-contour type-another">
					<h4 class="detail__section-tit">
						แบบ<span class="color-contour4">ประยุกต์</span><br>
						ของบาโนบากิ
					</h4>
					<p class="detail__section-subtit">การปรับรูปหน้าให้ออกมาสวยงามพร้อมกับวิธีAnti Aging</p>
					<p class="detail__section-txt">
						หลังจากเหลากระดูกแล้ว ผลที่อาจตามมาก็คือปัญหาผิวหย่อนคล้อย, ไขมันเนื้อแก้มเยอะ เรามีวิธีรับมือคือ
						<span class="color-contour5">ผิวหย่อนคล้อยใช้ไหมอิลาสติคกุม, ใช้Accuเอาไขมันออกเพื่อยกกระชับผิวหนัง</span> ทั้งหมดคือวิธีที่ทีมงานบาโนบากิมั่นใจทำเพื่อการปรับรูปหน้าโดยเฉพาะ
					</p>
				</div>
				<div class="diagram">
					<ul class="diagram__list">
						<li class="diagram__item nth-1">
							<div class="diagram__wrap">
								<h4 class="diagram__tit">ปรับรูปหน้า<br>Elasculpt</h4>
							</div>
						</li>
						<li class="diagram__item nth-2">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">ปรับรูปหน้า</h5>
								<p class="diagram__txt">
								ใบหน้าต้องไม่หย่อนคล้อย<br>
								วีไลน์ที่มีความกระชับ
								</p>
							</div>
						</li>
						<li class="diagram__item nth-3">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">ไหมอิลาสติคกุม</h5>
								<p class="diagram__txt">
									แก้ไขใบหน้าที่หย่อน<br>
									คล้อยด้วยไหมอิลาสติดกุม
								</p>
							</div>
						</li>
						<li class="diagram__item nth-4">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">accusculpt</h5>
								<p class="diagram__txt">
									สลายไขมันด้วย Accusulpt<br>
									เพื่อให้ผิวกระชับมากขึ้น
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section contourSection03" data-section-name="contourSection03">
		<div class="detail__inner type-full">
			<div class="detail__popup type-contour">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">กระบวนการเตรียมตัวก่อนผ่าตัดอย่างเป็นระบบ</h5>
					<p class="detail__popup-subtit">การเตรียมตัวที่เป็นระบบทำให้ผลของการปรับรูปหน้าออกมาดีมากขึ้น</p>
					<ul class="detail__popup-list">
						<li class="detail__popup-item nth-1">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">เครื่องมือCT สแกนสามมิติ</h6>
								<p class="detail__popup-txt">เพื่อตรวจสอบโครงหน้าอย่างแม่นยำ / ตรวจสอบเส้นประสาท / เช็คโครง หน้าหลังผ่าตัด</p>
							</div>
						</li>
						<li class="detail__popup-item nth-2">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">การตรวจสุขภาพ</h6>
								<p class="detail__popup-txt">มีการตรวจเช็คสุขภาพของคนไข้ เพื่อให้สามารถรับการผ่าตัดได้อย่างปลอดภัย</p>
							</div>
						</li>
						<li class="detail__popup-item nth-3">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">รับการปรึกษากับแพทย์</h6>
								<p class="detail__popup-txt">ปรึกษากับแพทย์เฉพาะทางเพื่อให้ได้ผลลัพธ์ออกมาอย่างดีที่สุด</p>
							</div>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">ปิด</a>
				</div>
			</div>
			<div class="detail__section-wrap type-contour">
				<div class="detail__vertical">
					<div class="detail__section-box type-wide type-right type-contour type-quotation2">
					<h4 class="detail__section-tit">
						<strong>ศัลยกรรมปรับรูปหน้า, ให้ความสำคัญ
						ตั้งแต่<span class="color-contour6">ขั้นตอนแรก</span></strong>
					</h4>
					<p class="detail__section-subtit">เตรียมพร้อมสำหรับการปรึกษาในเชิงลึกกับอุปกรณ์ใหม่</p>
					<p class="detail__section-txt color-contour3">
	                    ใบหน้าที่เป็นสามมิติ การปรับรูปหน้าของบาโนบากินั้นเกิดจากการที่ผู้เชี่ยวชาญปรับรูปหน้าและข้อมูลต่างๆ เพื่อนำมาวิเคราะห์ เราใส่ใจถึงขนาดตอนยิ้ม หัวเราะ และตอนพูดคุย ต้องออกมาสวยงามและเป็นธรรมชาติด้วยเช่นกัน
					</p>
				</div>
				</div>
			</div>
		</div>
		<div class="detail__section-bottom type-contour">
			<div class="detail__section-set">
		        ขั้นตอนการเตรียมตัวก่อนผ่าตัดที่บาโนบากิ
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-contour">ปิด</a></span>
			</div>
		</div>
	</section>

	<section class="fs_section contourSection04" data-section-name="contourSection04">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-contour type-full">
					<h4 class="detail__section-tit">
						การปรับรูปหน้า,
						บาโนบากิคือ<strong class="color-contour4">ผู้ใส่ใจรายละเอียด</strong>
					</h4>
					<p class="detail__section-subtit">เคล็ดลับพิเศษเพื่อผลลัพธ์ที่ดีของบาโนบากิ คือการใส่ใจดูแลอย่างเป็นพิเศษหลังผ่าตัด</p>
					<p class="detail__section-txt">
						แม้ว่าการผ่าตัดจะผ่านไปได้ด้วยดี แต่การดูแลตัวเองหลังผ่าตัดที่แตกต่าง ทำให้ผลลัพธ์ออกมาแตกต่างเช่นกัน ผิวหนัง,กล้ามเนื้อจะต้องรับกับกระดูกที่ดีขึ้น จากข้อมูลประสบการณ์ที่เจอ บาโนบากิ<span class="color-contour5">เราใส่ใจและจัดระบบดำเนินการหลังผ่าตัดอย่างมืออาชีพ</span>เพื่อให้ผลการผ่าตัดออกมาอย่างดี
					</p>
				</div>
				<div class="layer-doc2">
					<ul class="layer-doc2__list">
						<li class="layer-doc2__item nth-1">
							<div class="layer-doc2__box">
								<div class="layer-doc2__wrap">
				                <p class="layer-doc2__txt">มีการตรวจเช็คสภาพของคนไข้อย่างต่อเนื่อง</p>
									<h5 class="layer-doc2__tit">ตรวจเช็คอย่างต่อเนื่อง</h5>
								</div>
							</div>
						</li>
						<li class="layer-doc2__item nth-2">
							<div class="layer-doc2__box">
								<div class="layer-doc2__wrap">
									<p class="layer-doc2__txt">ใช้เครื่องมือที่หลากหลายเพื่อให้ฟื้นตัวจากการผ่าตัดอย่างรวดเร็ว</p>
									<h5 class="layer-doc2__tit">ใช้เครื่องมือที่ทันสมัย</h5>
								</div>
							</div>
						</li>
						<li class="layer-doc2__item nth-3">
							<div class="layer-doc2__box">
								<div class="layer-doc2__wrap">
				                <p class="layer-doc2__txt">สร้างความสบายตัวแก่คนไข้ เพื่อผลลัพธ์ที่ดี</p>
									<h5 class="layer-doc2__tit">กระบวนการพักฟื้น</h5>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="fs_section contourSection05 detail-doctor" data-section-name="detail-docter">
	  	<div class="detail__inner">
	  		<div class="detail__vertical">
				<div class="detail-doctor__wrap">
					<p class="detail-doctor__txt">Details of Banobagi’s <span class="weight-bold">Special</span> Surgery</p>
					<h4 class="detail-doctor__tit"><span class="weight-bold detail-doctor__highlight">ศัลยแพทย์ปรับรูปหน้า</span><br class="hidden-pm">ผู้ใส่ใจรายละเอียดของบาโนบากิ</h4>
					<ul class="detail-doctor__list">
						<% for(var i = 1; i<= 9; i++){%>
							<li class="detail-doctor__item js-doctor-hover">
								<a href="" class="detail-doctor__link">
									<div class="detail-doctor__area">
										<div class="detail-doctor__img"><img src="../../images/detail/detail_doctor_1.jpg" loading="lazy" alt="" class="img-w100"></div>
										<div class="detail-doctor__outer">
											<div class="detail-doctor__inner">
												<div class="detail-doctor__vertical">
													<p class="detail-doctor__department">ศัลยแพทย์ผู้เชี่ยวชาญ</p>
													<p class="detail-doctor__name">บันแจซัง</p>
												</div>
											</div>
										</div>
									</div>
								</a>
							</li>
						<%}%>
					</ul>
					<p class="detail-doctor__noti">※ <span class="weight-medium">คลิก</span>ที่รูปศัลยแพทย์เพื่อ<span class="weight-medium">ไปที่หน้าแนะนำ</span></p>
				</div>
			</div>
	  	</div>
  	</section>

	<section class="fs_section contour-section99" data-section-name="contour-section99" id="contour-section99">
		<div class="onepage-video type-contour is-active">
			<div class="onepage-video__wrap">
				<div class="onepage-video__vertical">
					<p class="onepage-video__txt type-star">มุ่งเน้นด้านการปรับรูปหน้าโดยเฉพาะมาตลอด 20ปี<i>!</i></p>
					<h3 class="onepage-video__tit">ศัลยกรรมปรับรูปหน้าของบาโนบากิ</h3>
					<h4 class="onepage-video__subtit">ทีมแพทย์ผู้เชี่ยวชาญด้านการปรับรูปหน้าจากมหาวิทยาลัยโซล</h4>
					<div class="onepage-video__outer">
						<div class="onepage-video__inner">
							<a href="" class="onepage-video__play">play</a>
							<a href="" class="onepage-video__pause">pause</a>
							<iframe id="onepage-video__iframe" src="https://player.vimeo.com/video/360443125?muted=1" class="onepage-video__iframe" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<a href="" class="onepage-video__btn js-consultation">ติดต่อสอบถาม</a>
					<div class="onepage-video__arrow"><img src="../../images/content/detail_scroll.png" class="img-normal" loading="lazy" alt="scroll - bottom"/></div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
