<%
	type = "introduce"
	page = "location"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h3 class="container__tit type-location">การเดินทางมาโรงพยาบาล และ เวลาทำการ</h3>
		<p class="container__txt">โรงพยาบาลบาโนบากิ อยู่สถานี ยอกซัม(Yeoksam station) ทางออกหมายเลข 6 เดินตรงมา 100 เมตร</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="dim type-sms">dim</div>
	<div class="map__wrap">
		<div class="map-box">
			<div id="map"></div> <!-- //Google Map -->
		</div>
		<div class="map__box">
			<div class="map__info">
				<p class="map__info-kor">서울특별시 강남구 논현로 517<br> 바노바기 빌딩</p>
				<p class="map__info-eng">
					Banobagi building, 517 Nonhyun ro<br class="hidden-m">
					Gangnam gu, Seoul, South Korea.
				</p>
				<p class="map__info-tel"><span>TEL</span>02-392-2890~2 · 099-112-4777</p>
				<div>
					<a href="" class="counseling-btn type-print" onClick="open_win()">Print</a>
				</div>
			</div>
		</div>
	</div><!-- //map__wrap -->
	<div class="container__wrap type-another">
		<div class="location">
			<div class="location__info">
				<ul class="location__list">
					<li class="location__item location__item-img1">
						<h4 class="location__tit">เวลาทำการ</h4>
						<div class="location__box">
							<dl class="location__dl">
								<dt class="location__dt">วันจันทร์ - วันศุกร์</dt>
								<dd class="location__dd">09.30 - 18.30์</dd>
								<dt class="location__dt">ศ.</dt>
								<dd class="location__dd">10.00 - 20.00</dd>
								<dt class="location__dt">เสาร์ </dt>
								<dd class="location__dd">09.30 - 16.00</dd>
							</dl>
							<span class="location__notice">(16/3, 20/4, 18/5, 15/6, 20/7 ปิดทำการ)</span>
							<span class="location__notice">※ หยุดทำการทุกวันอาทิตย์และวันหยุดราชการ</span>
						</div>
					</li>
					<li class="location__item location__item-img2">
						<h4 class="location__tit">รถประจำทาง</h4>
						<p class="location__txt">
							<strong class="bus-color1">รถประจำทางสาย</strong> 146, 147, 242, 341, 360, 463, 740, N13(รอบดึก), N61(รอบดึก), <br class="hidden-pt"><strong class="bus-color2">เส้นทางรถประจำทาง</strong> 4211, <br class="hidden-p hidden-m"><strong class="bus-color3">รถบัสสนามบิน</strong> 6000, 6020,<br class="hidden-p"><strong class="bus-color4">รถบัสสายตรง</strong> 1100, 1700, 2000, 2000-1, 3600, 7007, 8001, 9303, 9600
						</p>
					</li>
					<li class="location__item location__item-img3">
						<h4 class="location__tit">รถไฟฟ้าใต้ดิน</h4>
						<p class="location__txt subway type-2">สาย2 สถานียอกซัม ทางออก 6 เดินตรงมาประมาณ 100 เมตร</p>
						<p class="location__txt subway type-9">สาย9 สถานีออนจู ทางออก 7 เดินตรงมาประมาณ 400 เมตร</p>
					</li>
					<li class="location__item location__item-img5">
						<h4 class="location__tit">ศูนย์ให้คำปรึกษาสาขาประเทศไทย</h4>
						<p class="location__txt">95/10 สุขุมวิท 55 ทองหล่อซอย 3 ถนนสุขุมวิท คลองตันเหนือ เขตวัฒนา กทม. 10110</p>
						<a href="https://goo.gl/maps/SjEzMXTtXA2Pbdo27" class="location__link" target="_blank">ชมเเผนที่ในกูเกิ้ล</a>
					</li>
				</ul>
			</div>

			<!-- 진료절차 -->
			<div class="location__step">
				<h4 class="location__step-tit">ขั้นตอนการเข้ารับบริการ</h4>
				<ul class="step__list">
					<li class="step__item is-active"><a href="" class="step__link js-step" data-slide="1">จองคิว</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="4">มาโรงพยาบาล</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="7">เตรียมตัวก่อนผ่าตัด</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="12">กำหนดการณ์หลังผ่าตัด</a></li>
				</ul>
				<div class="step__box">
					<ul class="step__slide-list">
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img1.jpg" loading="lazy" alt="ปรึกษาทางโทรศัพท์" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">จองคิว</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">01</span>
									<h5 class="step__slide-tit">ปรึกษาทางโทรศัพท์</h5>
									<p class="step__slide-tel">02-392-2890~2<br>099-112-4777</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img2.jpg" loading="lazy" alt="จองคิวปรึกษาแบบออนไลน" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">จองคิว</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">02</span>
									<h5 class="step__slide-tit">จองคิวปรึกษาแบบออนไลน์</h5>
									<dl class="step__slide-dl">
										<dt class="step__slide-dt">ไลน์ไอดี</dt>
										<dd class="step__slide-dd">thaibanobagi@banobagi.com</dd>
									</dl>
									<!-- <a href="javascript:$.fnOpenCounsel();" class="step__btn">실시간상담</a><br class="hidden-pt">
									<a href="javascript:$.fnOpenCounsel();" class="step__btn type-katalk js-katalk">카톡상담</a><br class="hidden-pt">
									<a href="javascript:$.fnOpenCounsel();" class="step__btn type-cost js-cost">비용상담</a> -->
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img3.jpg" loading="lazy" alt="ข้อควรระวังเพื่อใช้ในการเตรียมตัวก่อนผ่าตัด" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">จองคิว</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">03</span>
									<h5 class="step__slide-tit">ข้อควรระวังเพื่อใช้ในการเตรียมตัวก่อนผ่าตัด</h5>
									<p class="step__txt">กรุณาอ่านข้อควรระวังด้านล่างในวันที่เข้ามารับคำปรึกษาและผ่าตัด</p>
									<p class="step__txt2">
										*งดน้ำ งดอาหาร เป็นระยะเวลา 8 ชั่วโมง ก่อนผ่าตัด<br>
										*ถ้ามีไข้ หรือโรคเกี่ยวกับหัวใจให้รีบแจ้ง<br>
										*เคยรับการรักษาโรคมาก่อน มีโรคประจำตัว หรือแพ้ยา มีผลข้างเคียงอะไร ต้องแจ้งให้พนักงานทราบ
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img4.jpg" loading="lazy" alt="กรอกประวัติคนไข้" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">มาโรงพยาบาล </span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">04</span>
									<h5 class="step__slide-tit">กรอกประวัติคนไข้</h5>
									<p class="step__txt">
										กรอกชาร์ทข้อมูลประวัติคนไข้ คำถามเบื้องต้น หลังจากนั้นถ่ายรูปตามลำดับ โดยจะมีพนักงานคอยประสานงานจัดการให้
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img5.jpg" loading="lazy" alt="ปรึกษากับแพทย์ผู้เชี่ยวชาญ" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">มาโรงพยาบาล</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">05</span>
									<h5 class="step__slide-tit">ปรึกษากับแพทย์ผู้เชี่ยวชาญ</h5>
									<p class="step__txt">
										รับฟังคำวินิจฉัยเกี่ยวกับความจำเป็น,วิธีที่ใช้ในการผ่าตัด และตัดสินใจ
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img6.jpg" loading="lazy" alt="ปรึกษากับผู้ให้คำปรึกษา" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">มาโรงพยาบาล</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">06</span>
									<h5 class="step__slide-tit">ปรึกษากับผู้ให้คำปรึกษา</h5>
									<p class="step__txt">
										ผู้ให้คำปรึกษาจะช่วยจองคิวผ่าตัดและอธิบายข้อควรระวัง การเตรียมตัวก่อนผ่าตัด
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img7.jpg" loading="lazy" alt="การเตรียมตัวก่อนผ่าตัด" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">เตรียมตัวก่อนผ่าตัด</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">07</span>
									<h5 class="step__slide-tit">การเตรียมตัวก่อนผ่าตัด</h5>
									<p class="step__txt">
										ตรวจเช็คข้อมูลโดยคำถามง่ายๆ และถ่ายรูปตามลำดับ
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img8.jpg" loading="lazy" alt="ถ่ายเอ็กซเรย์ ซีที" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">เตรียมตัวก่อนผ่าตัด</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">08</span>
									<h5 class="step__slide-tit">ถ่ายเอ็กซเรย์ ซีที</h5>
									<p class="step__txt">
										ถ่ายเอ็กซเรย์ ซีที ในกรณีที่ต้องใช้ภาพเหล่านั้นประกอบ
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img9.jpg" loading="lazy" alt="ปรึกษากับแพทย์ผู้เชี่ยวชาญ" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">เตรียมตัวก่อนผ่าตัด</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">09</span>
									<h5 class="step__slide-tit">ปรึกษากับแพทย์ผู้เชี่ยวชาญ</h5>
									<p class="step__txt">
										รับฟังคำวินิจฉัย อธิบายรายละเอียดเพิ่มเติมอีกครั้งจากแพทย์เจ้าของเคส (ไขข้อข้องใจของคนไข้ แก้ปัญหา และสร้างความมั่นใจแก่คนไข้อย่างแม่นยำ)
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img10.jpg" loading="lazy" alt="อธิบายประเภทการใช้ยาสำหรับผ่าตัด" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">เตรียมตัวก่อนผ่าตัด</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">10</span>
									<h5 class="step__slide-tit">อธิบายประเภทการใช้ยาสำหรับผ่าตัด</h5>
									<p class="step__txt">
										ทีมวิสัญญีแพทย์จะคอยดูแลอยู่ตลอดในการใช้ยาสลบ
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img11.jpg" loading="lazy" alt="การผ่าตัด" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">เตรียมตัวก่อนผ่าตัด</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">11</span>
									<h5 class="step__slide-tit">การผ่าตัด</h5>
									<p class="step__txt">
										ขั้นตอนในการผ่าตัดดำเนินโดยทีมแพทย์ผู้เชี่ยวชาญในแต่ละด้าน
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img12.jpg" loading="lazy" alt="การพักฟื้นหลังผ่าตัด &amp; พักฟื้นที่โรงพยาบาล" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">กำหนดการหลังผ่าตัด</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">12</span>
									<h5 class="step__slide-tit">การพักฟื้นหลังผ่าตัด &amp; พักฟื้นที่โรงพยาบาล</h5>
									<p class="step__txt">
										มีห้องพักฟื้นสำหรับนอนพักให้หายจากอาการมึนงง จากการใช้ยา หลังจากนั้นจะออกจากโรงพยาบาล หรือย้ายไปนอนที่พักของโรงพยาบาลแล้วแต่คำแนะนำของพยาบาล
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img13.jpg" loading="lazy" alt="ให้ยาระงับความปวดแก่คนไข้ตามความเหมาะสม" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">กำหนดการหลังผ่าตัด</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">13</span>
									<h5 class="step__slide-tit">ให้ยาระงับความปวดแก่คนไข้ตามความเหมาะสม</h5>
									<p class="step__txt">
										ต้องระงับความเจ็บปวดอย่างรวดเร็วเพื่อให้ร่างกายได้พักฟื้น ทางเราคอยใส่ใจดูแลให้ยาแก้ปวดแก่คนไข้ตามความเหมาะสมไม่ให้ขาด
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img14.jpg" loading="lazy" alt="มีแพทย์คอยตรวจประจำวัน" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">กำหนดการหลังผ่าตัด</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">14</span>
									<h5 class="step__slide-tit">มีแพทย์คอยตรวจประจำวัน</h5>
									<p class="step__txt">
										ก่อนออกจากโรงพยาบาล หรือกรณีอื่นๆก็สามารถเข้าเช็คกับแพทย์เจ้าของเคส
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img15.jpg" loading="lazy" alt="โปรแกรมลดช้ำลดบวม" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">กำหนดการหลังผ่าตัด</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">15</span>
									<h5 class="step__slide-tit">โปรแกรมลดช้ำลดบวม</h5>
									<p class="step__txt">
										มีบริการลดช้ำลดบวมหลังผ่าตัดแก่คนไข้ เพื่อให้อาการดังกล่าวหายไปอย่างรวดเร็ว
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img16.jpg" loading="lazy" alt="กำหนดการหลังผ่าตัด" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">กำหนดการหลังผ่าตัด</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">16</span>
									<h5 class="step__slide-tit">การรักษารอยแผลเป็น</h5>
									<p class="step__txt">
										มีโปรแกรมดูแลรักษารอยแผลเป็นสำหรับคนไข้ที่กังวลและขึ้นอยู่กับความจำเป็นของแต่ละท่าน
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- //진료절차 -->
			<!-- pagination -->
	        <div class="pagination type-step">
				<ul class="pagination__list">
					<li class="pagination__item pagination__item-prev">
						<a href="#" class="pagination__link js-step-prev">
							<img src="../../images/common/paging_prev.png" loading="lazy" alt="Prev" class="invisible">
						</a>
					</li>
					<li class="pagination__item pagination__page">
						<p class="step__nowpage">1</p>/<p class="step__totalpage">16</p>
					</li>
					<li class="pagination__item pagination__item-next">
						<a href="#" class="pagination__link js-step-next">
							<img src="../../images/common/paging_next.png" loading="lazy" alt="Next" class="invisible">
						</a>
					</li>
				</ul>
	        </div>
	        <!-- //pagination -->
		</div>
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
