<%
	type = "detail"
	page = "about"
%>
<% include ../_include/_header %>

<div class="about detail-common">
    <section class="fs_section aboutFirst js-first" data-section-name="home" style="height: 974px">
        <div class="detail__dim"></div>
        <div class="detail__inner">
            <div class="detail__popup type-about">
                <div class="detail__popup-wrap">
                    <h4 class="detail__popup-tit">เปิดเผยชื่อทีมแพทย์<span class="about__color2">.</span></h4>
                    <div class="detail__popup-scroll">
                        <p class="detail__popup-subtit">
                            โรงพยาบาลศัลยกรรมบาโนบากิดูแลด้วย <span class="about__color2">ระบบทีมแพทย์แบบ 1:1</span>
                            คือศัลยแพทย์ผู้ผ่าตัดดูแลให้คำปรึกษาตั้งแต่ก่อนผ่าตัด รวมไปถึงการเช็คอัพหลังผ่าตัด
                            มีการเปิดเผยชื่อศัลยแพทย์ผู้ผ่าตัด และผู้ช่วย(วิสัญญีแพทย์ รวมถึงผู้ช่วยต่างๆ)หน้าห้องผ่าตัด
                            ซึ่งบาโนบากิเราบรรลุผลสำเร็จเรื่องความเชื่อมั่นในการความสุจริต
                        </p>
                        <div class="about__popup-img">img</div>
                    </div>
                    <a href="" class="detail__popup-close js-popup-close">ปิด</a>
                </div>
            </div>
            <p class="about__top">
                <span class="about__top-bar about__top-point">โรงพยาบาลศัลยกรรมบาโนบากิ</span><br>
                <span class="about__top-bar">สถานที่เนรมิตรความงาม</span>
            </p>

        </div>
        <div class="about__black">
            <div class="detail__inner">
                <div class="about__box">
                    <h3 class="about__tit-eng">
                        โรงพยาบาลศัลยกรรม<br>
                        บาโนบากิ
                    </h3>
                    <p class="about__txt">
                        ปรัชญาการดูแลความงามของบาโนบากิคือ <span class="about__color1">“ความละเอียดอ่อน”</span>.
                        เราเคารพการตัดสินใจของคนไข้ และคำนึงถึงพื้นฐานทางการแพทย์ มากกว่าการแนะนำการผ่าตัดที่มากเกินความจำเป็นเพื่อผลประโยชน์ของโรงพยาบาล
                    </p>
                    <div class="detail__section-set type-about">
                        กระบวนการผ่าตัดที่โปร่งใส
                        <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-about">팝업버튼</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll">
            <div class="inner">
                <i></i>
            </div>
            <em>SCROLL</em>
        </div>
    </section>

    <section class="fs_section aboutSection01" data-section-name="aboutSection01">
        <div class="detail__dim"></div>
        <div class="detail__popup type-about type-another">
            <div class="detail__popup-wrap">
                <h5 class="detail__popup-tit type-another">แนะนำ<span class="about__color3">การศัลยกรรมเฉพาะจุดที่จำเป็น</span>สำหรับคนไข้</h5>
                <div class="detail__popup-scroll">
                    <ul class="about__popup-list">
                        <li class="about__popup-item nth-1">
                            <div class="about__popup-wrap">
                                <h6 class="about__popup-tit">
            						<span class="about__popup-line">
            							<span class="about__popup-bg">ปรึกษากับผู้เชี่ยวชาญ</span>
            						</span>
                                </h6>
                                <p class="about__popup-txt">
                                    ถ่ายรูปก่อนตรวจสุขภาพ
                                    และกรอกชาร์ทข้อมูล
                                </p>
                            </div>
                        </li>
                        <li class="about__popup-item nth-2">
                            <div class="about__popup-wrap">
                                <h6 class="about__popup-tit">
            						<span class="about__popup-line">
            							<span class="about__popup-bg">ปรึกษากับคุณหมอ</span>
            						</span>
                                </h6>
                                <p class="about__popup-txt">
                                    <span class="about__color3">รับคำปรึกษาอย่างละเอียด</span>กับ
                                    ศัลยแพทย์ผู้เชี่ยวชาญในแต่ละด้าน
                                    เพื่อคำวินิจฉัยที่ชัดเจน
                                </p>
                            </div>
                        </li>
                        <li class="about__popup-item nth-3">
                            <div class="about__popup-wrap">
                                <h6 class="about__popup-tit">
            						<span class="about__popup-line">
            							<span class="about__popup-bg">ระบบการตรวจร่างกาย</span>
            						</span>
                                </h6>
                                <p class="about__popup-txt">
                                    อุปกรณ์ทางการแพทย์ที่ทันสมัย
                                    ตรวจโรคประจำตัวต่างๆผ่าน
                                    การตรวจร่างกายที่เป็นระบบ<br>
                                    <span class="about__color3">(*พยาธิวิทยาคลินิก)</span>
                                </p>
                            </div>
                        </li>
                        <li class="about__popup-item nth-4">
                            <div class="about__popup-wrap">
                                <h6 class="about__popup-tit">
            						<span class="about__popup-line">
            							<span class="about__popup-bg">การผ่าตัด</span>
            						</span>
                                </h6>
                                <p class="about__popup-txt">
                                    <span class="about__color3">(การรักษาที่รวดเร็ว)</span><br>
                                    บริการรักษาอาการบวม
                                    อาการช้ำ หลังการผ่าตัด
                                    ที่ได้รับความพึงพอใจอย่างมาก`
                                </p>
                            </div>
                        </li>
                        <li class="about__popup-item nth-5">
                            <div class="about__popup-wrap">
                                <h6 class="about__popup-tit">
            						<span class="about__popup-line">
            							<span class="about__popup-bg">การดูแลหลังผ่าตัด</span>
            						</span>
                                </h6>
                                <div class="about__popup-txt">
                                    ระบบการดูแลหลังผ่าตัด
                                    เพื่อการพักฟื้นที่ไวขึ้น<br>
									<ul class="about__review-list">
										<li class="about__review-item">- รักษารอยแผล</li>
										<li class="about__review-item">- รักษาอาการเจ็บปวดดูแล</li>
										<li class="about__review-item">- ดูแลระบบไหลเวียนเลือด</li>
										<li class="about__review-item">- รักษาอาการบวม</li>
									</ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <a href="" class="detail__popup-close js-popup-close">Close</a>
            </div>
        </div>
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="about__circle">
                    <div class="about__circle-wrap">
                        <h4 class="about__circle-tit">
                            Slow<br>
                            <span class="about__color0">Banobagi</span><span class="about__comma">.</span>
                        </h4>
                        <p class="about__circle-subtit">ความงดงามของบาโนบากิคือ ความละเอียดรอบคอบ</p>
                        <p class="about__circle-txt">
                            การตรวจร่างกายอย่างละเอียด, ปรึกษากับผู้เชี่ยวแต่ละด้าน รวมไปถึงการดูแลรักษาหลังการผ่าตัด ความไม่เร่งรีบควบคู่กับความปลอดภัย คือความงามที่บาโนบากิยึดเป็นเป้าหมายหลัก<br>
                            <a href="#" class="about__circle-link js-popup-open"><span>ระบบของบาโนบากิ</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fs_section aboutSection02" data-section-name="aboutSection02">
        <div class="detail__dim"></div>
        <div class="detail__popup type-about type-another2">
            <div class="detail__popup-wrap">
                <h5 class="detail__popup-tit">หากเป็นเรื่องเกี่ยวกับ<span class="about__color6">ความปลอดภัย</span>สามารถวางใจบาโนบากิได้</h5>
                <div class="detail__popup-scroll">
                    <div class="about__popup2-box">
                        <ul class="about__popup2-list">
                            <li class="about__popup2-item nth-1">
                                <div class="about__popup2-wrap">
                                    <h6 class="about__popup2-tit">
                                        เตรียมความพร้อมสำหรับสถานการณ์ฉุกเฉิน
                                        EMERGNENCY SYSTEM
                                    </h6>
                                    <p class="about__popup2-txt">
                                        เตรียมพร้อมรับมือกับสถานการณ์ฉุกเฉินที่สามารถเกิดขึ้นได้ทุกเมื่อ
                                        ด้วยเครื่องมือปฐมพยาบาล CPR ที่ทันสมัย
                                    </p>
                                </div>
                            </li>
                            <li class="about__popup2-item nth-2">
                                <div class="about__popup2-wrap">
                                    <h6 class="about__popup2-tit">
                                        ความปลอดภัย 2 ชั้น เพื่อความปลอดภัยยิ่งขึ้นระหว่างการผ่าตัด
                                    </h6>
                                    <p class="about__popup2-txt">
                                        โรงพยาบาลขนาดใหญ่มีความพร้อมทางด้านระบบเครื่องสำรองไฟฟ้า และมีเครื่องปั่นกระแสไฟฟ้าขนาดใหญ่ เพื่อใช้ในกรณีฉุกเฉิน
                                    </p>
                                </div>
                            </li>
                            <li class="about__popup2-item nth-3">
                                <div class="about__popup2-wrap">
                                    <h6 class="about__popup2-tit">
                                        ระบบ Monitoring ตรวจวัดข้อมูลเพื่อเฝ้าระวังอาการผิดปกติของคนไข้ระหว่างการผ่าตัดและหลังการผ่าตัด
                                    </h6>
                                    <p class="about__popup2-txt">
                                        ระบบ Monitoring เป็นระบบที่ช่วยตรวจเช็คอัตราการเต้นของหัวใจ ระดับความอิ่มตัวออกซิเจนและคาร์บอนไดออกไซด์ในกระแสเลือด ตรวจวัดความดันโลหิต  วัดอุณหภูมิร่างกาย เพื่อเช็คอาการโดยรวมของคนไข้อย่างต่อเนื่อง
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="" class="detail__popup-close js-popup-close">Close</a>
            </div>
        </div>
        <div class="detail__inner">

            <div class="detail__vertical">
                <div class="about__circle type-another">
                    <div class="about__circle-wrap">
                        <h4 class="about__circle-tit">
                            <span class="about__color4">Safe</span> <span class="about__color5">Beauty</span>
                            Banobagi<span class="about__color5 about__comma">.</span>
                        </h4>
                        <p class="about__circle-subtit">ความงดงามของบาโนบากิคือ ความปลอดภัย</p>
                        <p class="about__circle-txt">
                            ความปลอดภัยคือสิ่งที่สำคัญที่เราคำนึงถึงมากที่สุดในทุกๆการผ่าตัด
                            บาโนบากิไม่เคยลังเลที่จะลงทุนติดตั้งอุปกรณ์เพื่อความปลอดภัยต่างๆ
                            ไม่ว่าจะเป็นอุปกรณ์ในห้องผ่าที่ทันสมัย หรืออุปกรณ์เตรียมความพร้อมสำหรับสถานการณ์ฉุกเฉินต่างๆ ได้รับการดูแลให้พร้อมรับทุกสถานการณ์อยู่เสมอ
                            นอกจากนี้ยังมี<span class="about__color4">วิสัญญีแพทย์ ถึง4ท่าน</span>และผู้เชี่ยวชาญต่างๆประจำการอยู่ตลอด<br>
                            <a href="#" class="about__circle-link js-popup-open"><span>ระบบความปลอดภัย</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fs_section aboutSection03" data-section-name="aboutSection03">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="about__circle type-another2">
                    <div class="about__circle-wrap">
                        <h4 class="about__circle-tit">
                            <span class="about__color7">Study</span> <span class="about__color8">Beauty</span><br>
                            Banobagi<span class="about__color8 about__comma">.</span>
                        </h4>
                        <span class="about__circle-subtit">ความสวยงามของบาโนบากิ คือการค้นคว้าวิจัย</span>
                    </div>
                    <div class="slide-type1">
                        <ul class="slide-type1__list">
                            <li class="slide-type1__item">
                                <img src="../../images/about/about-slide1.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
                            </li>
                            <li class="slide-type1__item">
                                <img src="../../images/about/about-slide2.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
                            </li>
                            <li class="slide-type1__item">
                                <img src="../../images/about/about-slide3.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
                            </li>
                            <li class="slide-type1__item">
                                <img src="../../images/about/about-slide4.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
                            </li>
                            <li class="slide-type1__item">
                                <img src="../../images/about/about-slide5.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
                            </li>
                            <li class="slide-type1__item">
                                <img src="../../images/about/about-slide6.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
                            </li>
                            <li class="slide-type1__item">
                                <img src="../../images/about/about-slide7.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
                            </li>
                            <!-- <li class="slide-type1__item"></li>
                            <li class="slide-type1__item"></li> -->
                        </ul>
                        <a href="#" class="slide-type1__btn slide-type1__btn-prev"></a>
                        <a href="#" class="slide-type1__btn slide-type1__btn-next"></a>
                        <div class="slide-type1__pager"></div>
                    </div>
                    <p class="about__slide-txt">
                        เราศึกษาค้นคว้าเกี่ยวกับเรื่องเทคนิคอยู่เสมอ
                        โรงพยาบาลศัลยกรรมบาโนบากิที่ประกอบไปด้วย
                        <span class="about__color9">ศัลยแพทย์ผู้เชี่ยวชาญเฉพาะทางจากมหาวิทยาโซล</span>
                        ที่ผ่านการคัดเลือกมาด้วยมาตรฐานอันเข้มงวด และการเตรียมความพร้อมอย่างเป็นระบบ จึงจะสามารถพบกับคนไข้ได้ นอกจากนี้
                        <span class="about__color9">แต่ละเคส หรือการผ่าตัดแต่ละส่วนยังมีการอบรม เป็นโปรแกรมให้ความรู้กับพนักงานทั้งหมดของโรงพยาบาล</span>อีกด้วย เรานำหน้าค้นคว้าวิจัยเกี่ยวกับความสวยงาม รวมไปถึงเทคนิคเครื่องมือต่างๆ
                    </p>
                </div>
            </div>
        </div>
        <p class="about__bottom">
            <span class="about__bottom__wrap">ศัลยแพทย์ผู้เชี่ยวชาญเฉพาะทางจากมหาวิทยาโซล</span>
        </p>
    </section>

    <section class="fs_section aboutSection04" data-section-name="aboutSection04">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="about__circle type-another3">
                    <div class="about__circle-wrap">
                        <h4 class="about__circle-tit">
                            การศัลยกรรมที่<br>
                            <span class="about__color10">คุณแม่แนะนำให้ลูกสาว</span>
                        </h4>
                        <p class="about__circle-subtit">ความงดงามก็คือ บาโนบากิ</p>
                        <p class="about__circle-txt">
                            คนไข้ที่เคยศัลยกรรมกับบาโนบากิเมื่อ <?php echo date("Y") - 2001; ?> ปีก่อน ตอนนี้เติบโตเป็นผู้ใหญ่ และเข้ามาที่โรงพยาบาลพร้อมกับบุตรสาว เชื่อใจได้เหมือนคนได้ครอบครัว ดูแลเหมือนคนในครอบครัว เหล่านี้คือแรงผลักดันที่ทำให้บาโนบากิเป็นโรงพยาบาลศัลยกรรมชั้นนำของประเทศเกาหลีใต้ จากคุณแม่สู่ลูกสาว จากลูกสาวสู่คุณแม่ จากเพื่อนสู่เพื่อน โรงพยาบาลศัลยกรรมบาโนบากิ โรงพยาบาลที่ได้รับความไว้วางใจ จนสามารถแนะนำให้คนรู้จักและคนในครอบครัว
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<% include ../_include/_footer %>
