<%
	type = "introduce"
	page = "history"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="c-visual type-introduce">
        <div class="c-visual__outer">
            <div class="c-visual__inner">
                <div class="c-visual__box">
                    <div class="c-visual__wrap">
                        <h3 class="c-visual__tit tit-new1">ประวัติความเป็นมาของบาโนบากิ</h3>
                        <p class="c-visual__txt txt-new1">เรานึกถึงคนไข้เป็นอันดับแรก<br> มากกว่าผลประโยชน์ของโรงพยาบาล ทำให้เราเดินทางมาไกลได้ขนาดนี้</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="container__wrap type-visual">
		<div class="history">
			<div class="history__area">
				<h4 class="history__head"><span>2000s</span></h4>
				<ul class="history__list">
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">ปี 2000</span></h5>
							<p class="history__txt txt-new1">ก่อตั้งโรงพยาบาลศัลยกรรมเยขึ้น</p>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">ปี 2002</span></h5>
							<p class="history__txt txt-new1">ขยายโรงพยาบาลศัลยกรรมเยให้ใหญ่ขึ้น</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">ปี 2007</span></h5>
							<p class="history__txt txt-new1">เปลี่ยนชื่อเป็นโรงพยาบาลศัลยกรรมบาโนบากิอย่างเป็นทางการ</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_1.jpg" loading="lazy" alt="เปลี่ยนชื่อเป็นโรงพยาบาลศัลยกรรมบาโนบากิอย่างเป็นทางการ" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">ปี 2008</span></h5>
							<p class="history__txt txt-new1">ปรับปรุงอาคารโรงพยาบาลศัลยกรรมบาโนบากิ</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_2.jpg" loading="lazy" alt="ปรับปรุงอาคารโรงพยาบาลศัลยกรรมบาโนบากิ" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">ปี 2009</span></h5>
							<p class="history__txt txt-new1">ก่อตั้งแผนกดูแลลูกค้าต่างประเทศประจำโรงพยาบาลศัลยกรรมบาโนบากิ</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_3.jpg" loading="lazy" alt="ก่อตั้งแผนกดูแลลูกค้าต่างประเทศประจำโรงพยาบาลศัลยกรรมบาโนบากิ" class="img-normal">
							</div>
							<p class="history__txt txt-new1">ได้ขึ้นทะเบียนเป็นสถานพยาบาลที่ดูแลคนไข้ชาวต่างชาติ</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="history__area">
				<h4 class="history__head"><span>2010s</span></h4>
				<ul class="history__list">
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">ปี 2011</span></h5>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นสถานพยาบาลที่ให้บริการฟิลเลอร์อาติคอลอย่างเป็นทางการ</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_4.jpg" loading="lazy" alt="ได้รับเลือกเป็นสถานพยาบาลที่ให้บริการฟิลเลอร์อาติคอลอย่างเป็นทางการ" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">ปี 2012</span></h5>
							<p class="history__txt txt-new1">ได้รับเลือกให้เป็นโรงพยาบาลศัลยกรรมประจำรายการ Let me in season 2 อย่างเป็นทางการ</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_5.jpg" loading="lazy" alt="ได้รับเลือกให้เป็นโรงพยาบาลศัลยกรรมประจำรายการ Let me in season 2 อย่างเป็นทางการ" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">ปี 2013</span></h5>
							<p class="history__txt txt-new1">เพิ่มห้องผ่าตัดในโรงพยาบาล</p>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมประจำรายการ Let me in season 3 อย่างเป็นทางการ</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_6.jpg" loading="lazy" alt="ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมประจำรายการ Let me in season 3 อย่างเป็นทางการ" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">พฤศจิกายน ปี 2013</h5>
							<p class="history__txt txt-new1">ปรับปรุงตึกโรงพยาบาล และสถานที่แลกเปลี่ยนความรู้ระหว่างประเทศ</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_7.jpg" loading="lazy" alt="ปรับปรุงตึกโรงพยาบาล และสถานที่แลกเปลี่ยนความรู้ระหว่างประเทศ" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">ปี 2014</span></h5>
							<p class="history__txt txt-new1">ก่อตั้งห้องวิจัยสเต็มเซลล์ประจำโรงพยาบาลศัลยกรรมบาโนบากิขึ้น</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_8.jpg" loading="lazy" alt="ก่อตั้งห้องวิจัยสเต็มเซลล์ประจำโรงพยาบาลศัลยกรรมบาโนบากิขึ้น" class="img-normal">
							</div>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมประจำรายการ Let me in season 4 อย่างเป็นทางการ</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_9.jpg" loading="lazy" alt="ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมประจำรายการ Let me in season 4 อย่างเป็นทางการ" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">กรกฎาคม ปี 2014</h5>
							<p class="history__txt txt-new1">ได้รับรางวัลสถานพยาบาลที่มีการพัฒนาการท่องเที่ยวเชิงสุขภาพ และการแลกเปลี่ยนความรู้ทางวิชาการระหว่างเกาหลี-จีน</p>
							<h5 class="history__date txt-new2">พฤศจิกายน ปี 2014</h5>
							<p class="history__txt txt-new1">ได้รับรางวัลสถานพยาบาลยอดเยี่ยมสำหรับการท่องเที่ยวเชิงสุขภาพของเขตคังนัม</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_10.jpg" loading="lazy" alt="ได้รับรางวัลสถานพยาบาลยอดเยี่ยมสำหรับการท่องเที่ยวเชิงสุขภาพของเขตคังนัม" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">พฤศจิกายน ปี 2014</h5>
							<p class="history__txt txt-new1">ได้รับรางวัล Asia Medical Service Awards</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_11.jpg" loading="lazy" alt="ได้รับรางวัล Asia Medical Service Awards" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">พฤศจิกายน ปี 2014</h5>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมหลักอย่างเป็นทางการจาก Korea Model Association</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_12.jpg" loading="lazy" alt="ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมหลักอย่างเป็นทางการจาก Korea Model Association" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">ธันวาคม ปี 2014</h5>
							<p class="history__txt txt-new1">ได้รับรางวัล Green Environmental Culture Awards</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_13.jpg" loading="lazy" alt="ได้รับรางวัล Green Environmental Culture Awards" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">ปี 2015</span></h5>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมประจำรายการ Let me in season 5 อย่างเป็นทางการ</p>
							<h5 class="history__date txt-new2">กุมภาพันธ์ ปี 2015</h5>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมประจำรายการ Change Life Season 1 ของเวียดนามอย่างเป็นทางการ</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_14.jpg" loading="lazy" alt="ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมประจำรายการ Change Life Season 1 ของเวียดนามอย่างเป็นทางการ" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">กรกฎาคม ปี 2015</h5>
							<p class="history__txt txt-new1">ได้รับรางวัล Luxury Brand Model Awards</p>
							<h5 class="history__date txt-new2">กันยายน ปี 2015</h5>
							<p class="history__txt txt-new1">ได้รับรางวัลสาขาศัลยกรรม The Korea Health & Medical Award</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_15.jpg" loading="lazy" alt="ได้รับรางวัลสาขาศัลยกรรม The Korea Health & Medical Award" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">ตุลาคม ปี 2015</h5>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมยอดนิยมจากสื่อของจีน</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_16.jpg" loading="lazy" alt="ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมยอดนิยมจากสื่อของจีน" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">พฤศจิกายน ปี 2015</h5>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นสถานพยาบาลยอดเยี่ยมสำหรับชาวต่างชาติเขตคังนัม</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_17.jpg" loading="lazy" alt="ได้รับเลือกเป็นสถานพยาบาลยอดเยี่ยมสำหรับชาวต่างชาติเขตคังนัม" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">ปี 2016</span></h5>
							<h5 class="history__date txt-new2">มกราคม ปี 2016</h5>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นผู้นำในการปฏิวัติประเทศเกาหลีใต้</p>
							<h5 class="history__date txt-new2">มกราคม ปี 2016</h5>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมประจำรายการ Let me in Thailand season 1 อย่างเป็นทางการ</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_18.jpg" loading="lazy" alt="ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมประจำรายการ Let me in Thailand season 1 อย่างเป็นทางการ" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">มิถุนายน ปี 2016</h5>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมในรายการ Change Life Season 2 ของเวียดนามอย่างเป็นทางการ</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_19.jpg" loading="lazy" alt="ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมในรายการ Change Life Season 2 ของเวียดนามอย่างเป็นทางการ" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">กรกฎาคม ปี 2016</h5>
							<p class="history__txt txt-new1">เปิดศูนย์ให้คำปรึกษาศัลยกรรมประจำประเทศไทย</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_22.jpg" loading="lazy" alt="เปิดศูนย์ให้คำปรึกษาศัลยกรรมประจำประเทศไทย" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">กันยายน ปี 2016</h5>
							<p class="history__txt txt-new1">เป็นสถานพยาบาลที่ได้รับการรับรองให้เป็นแบรนด์สถานพยาบาลของประเทศเกาหลีใต้</p>
							<h5 class="history__date txt-new2">ตุลาคม ปี 2016</h5>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมประจำรายการ Let me in Thailand season 2 อย่างเป็นทางการ</p>
							<h5 class="history__date txt-new2">ตุลาคม ปี 2016</h5>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นสถานพยาบาลที่ให้ความร่วมมือในการท่องเที่ยวเชิงสุขภาพเขตคังนัม</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_20.jpg" loading="lazy" alt="ได้รับเลือกเป็นสถานพยาบาลที่ให้ความร่วมมือในการท่องเที่ยวเชิงสุขภาพเขตคังนัม" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">ตุลาคม ปี 2016</h5>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นสถานพยาบาลที่ให้บริการซิลิโคน Motiva เกาหลีอย่างเป็นทางการ</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">ปี 2017</span></h5>
							<h5 class="history__date txt-new2">กุมภาพันธ์ ปี 2017</h5>
							<p class="history__txt txt-new1">ได้รับรางวัล &Award สาขาสื่อโฆษณาสุขภาพและยา</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_23.jpg" loading="lazy" alt="ได้รับรางวัล &Award สาขาสื่อโฆษณาสุขภาพและยา" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">พฤศจิกายน ปี 2017</h5>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมประจำรายการ Let me in Thailand season 3 อย่างเป็นทางการ</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_21.jpg" loading="lazy" alt="ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมประจำรายการ Let me in Thailand season 3 อย่างเป็นทางการ" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">ปี 2018</span></h5>
							<h5 class="history__date txt-new2">ตุลาคม ปี 2018</h5>
							<p class="history__txt txt-new1">ได้รับเลือกเป็นโรงพยาบาลศัลยกรรมประจำรายการ Let me in Thailand season 4 อย่างเป็นทางการ</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">ปี 2019</span></h5>
							<p class="history__txt txt-new1">ได้รับเลือกให้เป็นสถานพยาบาลที่ให้ความร่วมมือในการดูเเลคนไข้ต่างชาติ</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_24.jpg" loading="lazy" alt="ได้รับเลือกให้เป็นสถานพยาบาลที่ให้ความร่วมมือในการดูเเลคนไข้ต่างชาติ" class="img-normal">
							</div>
							<p class="history__txt txt-new1">สถานพยาบาลที่ให้ความร่วมมือในการให้ความรู้เเก่นักศึกษาคณะเเพทยศาสตร์ มหาวิทยาลัยโซล</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_25.jpg" loading="lazy" alt="สถานพยาบาลที่ให้ความร่วมมือในการให้ความรู้เเก่นักศึกษาคณะเเพทยศาสตร์ มหาวิทยาลัยโซล" class="img-normal">
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
