<%
	type = "content"
	page = "introduce"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="introduce-rapid">
		<div class="new-visual type-rapid">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">เพื่อการฟื้นตัวอย่างรวดเร็วหลังผ่าตัด</p>
						<h3 class="new-visual__tit"><span class="color-point">Rapid Healing</span><br> Self care</h3>
						<p class="new-visual__txt">ลดรอยช้ำ และอาการบวม รวมทั้งดูแลผิวหน้าให้กลับมาดูดีหลังผ่าตัด<br> <span class="inline-block">เครื่องสำอางของบาโนบากิสามารถช่วยคุณได้</span></p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#เซตฟื้นฟูผิวMilkThistle</span></li>
							<li class="new-visual__item"><span>#เครื่องสำอางของบาโนบากิ</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-rapid">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">RAPID HEALING : SELF CARE PROGRAM 01</p>
					 	<h4 class="section-normal__tit tit-new1">เครื่องสำอางฟื้นฟูผิวเซต<br class="hidden-p"> Milk Thistle</h4>
					 	<p class="section-normal__txt2 txt-new2">
					 		ผลิตจากส่วนประกอบที่ปลอดภัยต่อผิว และทดลองผลข้างเคียงกับผิว <br>
					 		เพื่อ<sapn class="color-point">ผสมผสานส่วนประกอบที่จำเป็นต่อการฟื้นฟูผิว</sapn>เท่านั้น

					 	</p>
					 	<p class="section-normal__txt1 txt-new1">
					 		เราต้องการที่จะผลิตเครื่องสำอางที่ดูแลผิวหน้าเพื่อตอบโจทย์คนไข้ที่มีความกังวลเกี่ยวกับผิวที่อาจแพ้ง่ายหลังการผ่าตัด ซึ่ง <span class="color-black1">เครื่องสำอางฟื้นฟูผิวเซต Milk Thistle เป็นผลิตภัณฑ์ที่ทีมแพทย์ของบาโนบากิเป็นผู้ค้นคว้าวิจัยขึ้นมา</span>
					 	</p>
					 	<ul class="section-normal__list">
					 		<li class="section-normal__item"><div class="vertical-box">ผิวสุขภาพดี</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">ฟื้นฟูผิว</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">ผิวชุ่มชื้น</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">ผิวเปล่งปลั่ง</div></li>
					 	</ul>
					</div>
					 <div class="section-normal__img">
					 	<img src="../../images/introduce/rapid/rapid_img_1.png" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section">
				<div class="new-description">
					<h5 class="tit-new2">วิธีใช้เครื่องสำอางฟื้นฟูผิวเซต<br class="hidden-p"> Milk Thistle</h5>
					<div class="new-description__img">
						<img src="../../images/introduce/rapid/rapid_description_1.jpg" class="img-normal" loading="lazy" alt="Milk Thistle">
					</div>
					<ul class="new-description__list">
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>หลังผ่าตัด สามารถใช้ได้ตั้งแต่วันแรกที่สามารถล้างหน้าได้
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								หลังล้างหน้า หยด Milk Thistle Repair Toner ลงบนสำลีแล้วเช็ดเบาๆ ทั่วใบหน้า
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								ทา Milk Thistle Repair Serum ทั่วใบหน้า ตามด้วย Milk Thistle Repair Cream เพื่อให้ผิวเก็บความชุ่มชื้น และฟื้นฟูผิวหน้าให้ดีขึ้น
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								หากต้องการให้ผิวหน้าดีขึ้น หรืออยากดูแลโดยเฉพาะ สามารถใช้ Milk Thistle Repair Mask มาส์กหน้าประมาณ 10-20 นาทีโดยประมาณ
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>หลังศัลยกรรม อาจเกิดอาการอักเสบหรือผิวหนังแพ้ง่ายได้ ดังนั้นสามารถใช้ Milk Thistle Repair Serum และ Milk Thistle Repair Cream ในปริมาณเล็กน้อยทาทั่วๆใบหน้า เพื่อฟื้นผูผิวให้กลับมาดีขึ้น
							</p>
						</li>
					</ul>
				</div>
			</div><!--//new-section-->
			<div class="new-section">
				<div class="new-explan type-rapid">
					<h4 class="new-content-tit tit-new2">ส่วนประกอบสำคัญของเครื่องสำอางฟื้นฟูผิวเซต<br class="hidden-tm"> <span class="inline-block">Milk Thistle ของบาโนบากิ</span></h4>
					<ul class="new-explan__list">
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_1.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">มิลค์ ทิสเซิล (Silybun marianum (L.) Gaerth)</h5>
								<p class="new-explan__txt txt-new1">
									เป็นสมุนไพรที่ช่วยดูดพิษออกจากผิว ช่วยในการฟื้นฟูผิวสุขภาพดี กระจ่างใส และทำให้ผิวดูชุ่มชื้นอีกด้วย
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_2.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">ใบบัวบก (Madecassoside)</h5>
								<p class="new-explan__txt txt-new1">
									เป็นสมุนไพรที่ช่วยฟื้นฟูผิวที่ถูกทำลาย และกระตุ้นผิวชั้นนอกให้สุขภาพดีขึ้น
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_3.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">โกโบ</h5>
								<p class="new-explan__txt txt-new1">
									เป็นสมุนไพรจำพวกรากพืช ที่ช่วยให้ผิวแข็งแรง รวมทั้งลดอาการอีกเสบที่เกิดจากสิวได้อีกด้วย
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_4.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">Copper Tripeptide-1</h5>
								<p class="new-explan__txt txt-new1">
									เป็นสารที่ช่วยชะลอความแก่ และยังเพิ่มความแข็งแรงให้ผิวที่บอบบาง
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-stripe">
					<ul class="new-stripe__list">
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_1.png" loading="lazy" alt="" class="img-responsive">
								</div>
								<h5 class="new-stripe__subject txt-new2">ส่วนประกอบที่ปลอดภัยผ่านการรับรองจาก EWG GREEN</h5>
								<p class="new-stripe__txt txt-new1">เป็นโทนเนอร์ที่มีส่วนประกอบที่ได้รับการรับรองความปลอดภัยระดับ EWG GREEN จากอเมริกา</p>
							</div>
						</li>
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_2.png" loading="lazy" alt="" class="img-responsive">
								</div>
								<h5 class="new-stripe__subject txt-new2">ทดสอบอาการแพ้กับผิวเรียบร้อย</h5>
								<p class="new-stripe__txt txt-new1">เป็นเครื่องสำอางที่มีการทดสอบแล้วว่าอ่อนโยนต่อผิว</p>
							</div>
						</li>
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_3.png" loading="lazy" alt="" class="img-responsive">
								</div>
								<h5 class="new-stripe__subject txt-new2">สารเคมี 11 ชนิดที่ไม่ได้แต่งกลิ่น และสี</h5>
								<p class="new-stripe__txt txt-new1">ประกอบด้วยสารเคมีเช่น Paraben 6 ชนิด, Bensophenone, Triethanolamine, Benzyl Alcohol, Sorbic Acid, Benzoic Acid เป็นต้น ที่ไม่ได้แต่งเติมสีและกลิ่น เหมาะสำหรับผิวที่บอบบาง</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="section-normal type-rapid2">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">RAPID HEALING : SELF CARE PROGRAM 02</p>
					 	<h4 class="section-normal__tit tit-new1">ยาบรรเทาอาการบวมช้ำ</h4>
					 	<p class="section-normal__txt2 txt-new2">
					 		SINECCH เป็นยา<sapn class="color-point4">บรรเทาอาการบวม และรอยช้ำ</sapn>ที่เกิดจากการศัลยกรรมเสริมความงาม
					 	</p>
					 	<p class="section-normal__txt1 txt-new1">
					 		เป็นยาที่ได้รับการรับรองจาก FDA สหรัฐอเมริกา และองค์การอาหารและยาเกาหลีใต้<br class="hidden-tm"> รวมทั้งเป็นยาที่มีส่วนประกอบจากสมุนไพรหลากหลายชนิด ทำให้มีผลข้างเคียงจากการใช้ยาน้อย<br>
							ทีมแพทย์จากบาโรบากิจะเป็นผู้แนะนำการใช้ยาด้วยตัวเอง กังนั้นหายห่วงเรื่องความปลอดภัย และฟื้นตัวได้ในเร็ววันแน่นอน
					 	</p>
					</div>
					 <div class="section-normal__img">
					 	<img src="../../images/introduce/rapid/rapid_img_2.png" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
	<% include ../_include/_bfaf %>

</div> <!-- //container -->

<% include ../_include/_footer %>
