<%
	type = "introduce"
	page = "board"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h3 class="container__tit type-star">บาโนบากิกับดารา</h3>
		<p class="container__txt">พบกับดาราที่เคยมาบาโนบากิ</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="board">
            <div class="society type-star">
                <ul class="society__list">
                    <li class="society__item">
                        <div class="society__wrap">
                            <div class="society__img">
                                <img src="../../images/temp/star_1.jpg" loading="lazy" alt="" class="img-responsive">
                                <span class="society__img-hover"><span class="society__img-border">plus</span></span>
                            </div>
                            <div class="society__box">
                                <h4 class="society__tit">은둔환자 의료지원 캠페인</h4>
                                <span class="society__line">라인</span>
                            </div>
                            <a href="javascript:$.fnSocietyView(392);" class="society__link js-society-link">바로가기</a>
                        </div>
                    </li>

                    <li class="society__item">
                        <div class="society__wrap">
                            <div class="society__img">
                                <img src="../../images/temp/star_2.jpg" loading="lazy" alt="" class="img-responsive">
                                <span class="society__img-hover"><span class="society__img-border">plus</span></span>
                            </div>
                            <div class="society__box">
                                <h4 class="society__tit">생수사랑회 복지시설 벽화 그리기</h4>
                                <span class="society__line">라인</span>
                            </div>
                            <a href="javascript:$.fnSocietyView(391);" class="society__link js-society-link">바로가기</a>
                        </div>
                    </li>

                    <li class="society__item">
                        <div class="society__wrap">
                            <div class="society__img">
                                <img src="../../images/temp/star_3.jpg" loading="lazy" alt="" class="img-responsive">
                                <span class="society__img-hover"><span class="society__img-border">plus</span></span>
                            </div>
                            <div class="society__box">
                                <h4 class="society__tit">‘은둔환자 의료지원 캠페인’ 참여</h4>
                                <span class="society__line">라인</span>
                            </div>
                            <a href="javascript:$.fnSocietyView(386);" class="society__link js-society-link">바로가기</a>
                        </div>
                    </li>

                    <li class="society__item">
                        <div class="society__wrap">
                            <div class="society__img">
                                <img src="../../images/temp/star_1.jpg" loading="lazy" alt="" class="img-responsive">
                                <span class="society__img-hover"><span class="society__img-border">plus</span></span>
                            </div>
                            <div class="society__box">
                                <h4 class="society__tit">'엄마와' 어플 의학정보제공 협약식</h4>
                                <span class="society__line">라인</span>
                            </div>
                            <a href="javascript:$.fnSocietyView(384);" class="society__link js-society-link">바로가기</a>
                        </div>
                    </li>

                    <li class="society__item">
                        <div class="society__wrap">
                            <div class="society__img">
                                <img src="../../images/temp/star_2.jpg" loading="lazy" alt="" class="img-responsive">
                                <span class="society__img-hover"><span class="society__img-border">plus</span></span>
                            </div>
                            <div class="society__box">
                                <h4 class="society__tit">굿네이버스와 보건의료지원 MOU</h4>
                                <span class="society__line">라인</span>
                            </div>
                            <a href="javascript:$.fnSocietyView(383);" class="society__link js-society-link">바로가기</a>
                        </div>
                    </li>

                    <li class="society__item">
                        <div class="society__wrap">
                            <div class="society__img">
                                <img src="../../images/temp/star_3.jpg" loading="lazy" alt="" class="img-responsive">
                                <span class="society__img-hover"><span class="society__img-border">plus</span></span>
                            </div>
                            <div class="society__box">
                                <h4 class="society__tit">대한 노인회 의료지원 MOU 체결</h4>
                                <span class="society__line">라인</span>
                            </div>
                            <a href="javascript:$.fnSocietyView(382);" class="society__link js-society-link">바로가기</a>
                        </div>
                    </li>
                </ul>
            </div>
			<div class="pagination">
				<ul class="pagination__list">
					<li class="pagination__item pagination__item-first">
						<a href="" class="pagination__link">처음</a>
					</li>
					<li class="pagination__item pagination__item-prev">
						<a href="" class="pagination__link">이전</a>
					</li>
					<li class="pagination__item pagination__item-num is-active">
						<a href="" class="pagination__link">1</a>
					</li>
					<li class="pagination__item pagination__item-num is-acitve">
						<a href="" class="pagination__link">2</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">3</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">4</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">5</a>
					</li>
					<li class="pagination__item pagination__item-next">
						<a href="" class="pagination__link">다음</a>
					</li>
					<li class="pagination__item pagination__item-last">
						<a href="" class="pagination__link">마지막</a>
					</li>
				</ul>
			</div>
		</div><!-- //board -->
	</div>
</div>
<% include ../_include/_footer %>
