

.fs_section{position:relative; background-repeat: no-repeat; background-position: 50%;
	&.reoperationFirst{background: url(../images/reoperation/reoperation_detail_section01.jpg) center center; background-size: cover;
		& .detail__inner{text-align:center;}
	}
	&.reoperationSection01{background: url(../images/reoperation/reoperation_detail_section02.jpg) center 100%; background-size: cover;
		& .detail__section-box{top:-20px; color:#333;}
		& .detail__section-subtit{color:#333;}
	}
	&.reoperationSection02{background: url(../images/reoperation/reoperation_detail_section03.jpg) center 100%; background-size: cover;
		& .detail__section-box{width:360px;}
		& .color-comma{color:#d15c5d;}
		& .detail__section-wrap{display:inline-block;}
		& .detail__section-wrap2{display:inline-table; width:100%; height:100%;}
	}
	&.reoperationSection03{background: url(../images/reoperation/reoperation_detail_section04.jpg) center 100%; background-size: cover;
		& .detail__section-box{bottom:-60px;}
		& .detail__section-subtit{}
	}
	&.reoperationSection04{background: url(../images/reoperation/reoperation_detail_section05.jpg) center 100%; background-size: cover;}

	@media only screen and (max-width:$tablet-size){
		&.reoperationFirst{background: url(../images/reoperation/reoperation_detail_section01_768.jpg) center 100%; background-size: cover;}
		&.reoperationSection01{background: url(../images/reoperation/reoperation_detail_section02_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:-57px; left:auto; bottom:auto; width:192px;}
		}
		&.reoperationSection02{background: url(../images/reoperation/reoperation_detail_section03_768.jpg) center 100%; background-size: cover;
			& .detail__vertical{text-align:left; padding:0 16%;}
			& .detail__section-box{top:-220px; left:auto; width:100%;}
		}
		&.reoperationSection03{background: url(../images/reoperation/reoperation_detail_section04_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:auto; left:auto; bottom:auto; width:100%;}
		}
		&.reoperationSection04{background: url(../images/reoperation/reoperation_detail_section05_768.jpg) center -40px; background-size: cover;
			& .detail__section-box{left:-15px; top:auto; right:auto; bottom:-10px; width:230px;}
		}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		&.reoperationFirst{background: url(../images/reoperation/reoperation_detail_section01.jpg) center center; background-size: cover;}
		&.reoperationSection01{background: url(../images/reoperation/reoperation_detail_section02.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:-20px; color:#333; width: 400px;}
			& .detail__section-subtit{color:#333;}
		}
		&.reoperationSection02{background: url(../images/reoperation/reoperation_detail_section03.jpg) center 100%; background-size: cover;
			& .detail__section-box{top: auto;width:360px;}
			& .color-comma{color:#d15c5d;}
			& .detail__section-wrap{display:inline-block;}
			& .detail__section-wrap2{display:inline-table; width:100%; height:100%;}
		}
		&.reoperationSection03{background: url(../images/reoperation/reoperation_detail_section04.jpg) center 100%; background-size: cover;
			& .detail__section-box{bottom:-60px;width: 390px;}
		}
		&.reoperationSection04{background: url(../images/reoperation/reoperation_detail_section05.jpg) center 100%; background-size: cover;
			& .detail__section-box{width:390px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.reoperationFirst{background: url(../images/reoperation/reoperation_detail_section01_640.jpg) center center; background-size: cover;}
		&.reoperationSection01{height:730px !important; background: url(../images/reoperation/reoperation_detail_section02_640.jpg) center center; background-size: cover;
			& .detail__section-box{bottom:auto; width:140px;}
		}
		&.reoperationSection02{height:630px !important; background: url(../images/reoperation/reoperation_detail_section03_640.jpg) center center; background-size: cover;
			& .detail__vertical{ padding:0;}
			& .detail__section-box{top:-110px; width:100%;}
		}
		&.reoperationSection03{height:750px !important; background: url(../images/reoperation/reoperation_detail_section04_640.jpg) center center; background-size: cover;
			& .detail__section-box{top:auto; bottom:auto; width:100%; }
		}
		&.reoperationSection04{height:700px !important; background: url(../images/reoperation/reoperation_detail_section05_640.jpg) center center; background-size: cover;
			& .detail__section-box{top:auto; left:auto; width:100%;}
		}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&.reoperationSection01{
			& .detail__section-box{width:300px;}
		}
		&.reoperationSection02{
			& .detail__section-box{top:-180px;}
		}
	}
}

.fake-table{width:529px; margin-top:40px; border-top:1px solid #bbbbbb; border-bottom:1px solid #bbbbbb;
	@media only screen and (max-width:$mobile-size){width:100%; margin-top:0px;}
	&__tit{display:table-cell; width:1%; height:36px; color:#666; font-weight:400; background-color:#ded7d2; text-align: center; vertical-align:middle; font-size:14px;
		@media only screen and (max-width:$mobile-size){height:32px; font-size:1.3rem;}
	}
	&__list{
		@media only screen and (max-width:$mobile-size){position:relative;
			&:before{position:absolute; top:0; left:0; width:100%; height:32px; background-color:#ded7d2; content:'';}
		}
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; position:relative; display:inline-block; width:28%; height:536px; font-size:14px;
		@media only screen and (max-width:$mobile-size){height:490px; font-size:1.3rem;}
		@media only screen and (max-width:$iphone-size){font-size:1.2rem;}
		&:first-child{width:16%;
			& .fake-table__tit{color:#333;}
			& .fake-table__txt{display:inline-block; width:100%; height:500px;
				background:url('../images/reoperation/popup_img2.jpg') no-repeat center center; line-height:500px; color:#333; font-weight:400; background-color:#f5f5f5;

				@media only screen and (max-width:$mobile-size){
                    background:url('../images/reoperation/popup_img2_m.jpg') center center no-repeat; background-color:#f5f5f5;background-size:40px 442px; height:459px; line-height:1.3; padding-top:205px;
                }
			}
		}
		& + &{border-left:1px solid #bbbbbb;}
		&:nth-child(1){
			& .fake-table-txt{margin-top:86px;}
		}
	}
	&__txt{color:#666; line-height:1.3;
		&.type-2{background-color:#f5f5f5;}
		&.type-1{border-bottom:1px solid #eeeeee;}
		&.type-3{position:absolute; bottom:0; background-color:#b4866b; color:#fff;
			& .fake-table__wrap{height:140px;

				@media only screen and (max-width:$mobile-size){
                    height:125px;
                }
				@media only screen and (max-width:$iphone-size){
                    height:140px;
                }
			}
		}
		&.type-another1{margin-top:80px; border-top:1px solid #eee;}
		&.type-another2{margin-top:40px;}
	}
	&__type{display:inline-block; font-size:12px; margin-bottom:3px; padding:4px 8px; color:#fff; border-radius:20px 20px 20px 20px;
		@media only screen and (max-width:$mobile-size){
            font-size:1rem;
        }
		@media only screen and (max-width:$iphone-size){
            font-size:0.9rem;
        }
	}
	&__type1{background-color:#7d5b47;}
	&__type2{background-color:#997058;}
	&__type3{background-color:#b4866b;}
	&__type4{background-color:#ffffff; color:#b4866b;}
	&__wrap{display:table-cell; width:1%; height:80px; vertical-align:middle; padding:0 26px;
		@media only screen and (max-width:$mobile-size){padding:0 8px;}
	}
}

.layer-img2{position:absolute; top:0; bottom:0; height:530px; left:40%; display:inline-block; margin:auto 0; text-align:right;box-sizing: border-box;
	&__box{overflow:hidden; width:820px; height:500px; background:url('../images/reoperation/special_detail_layer.jpg'); text-indent:-9999px;box-sizing: border-box;}
	&__link{position:relative; display:inline-block; margin-top:8px; font-size:16px; color:inherit; padding-right:30px; font-weight:400; text-decoration: none;
		&:after{position:absolute; top:0; bottom:0; right:0; display:block; width:22px; height:22px; margin:auto 0; background:url('../images/reoperation/link_icon.png'); content:''; transition: all 0.5s;}
		&:hover{
			&:after{background:url('../images/reoperation/link_icon_hover.png'); color:inherit;}
		}
	}
	@media only screen and (max-width:$minpc-size3){height:305px; left:45%;
		&__box{width:500px; height:305px; background:url('../images/reoperation/special_detail_layer.jpg'); background-size:cover;}
	}
	@media only screen and (max-width:$tablet-size){position:absolute; top:auto; left:0; bottom:8%; display:block; width:100%; padding:0 10%; height:auto;
		&__box{position:relative; width:100%; height:0; padding-bottom:60.876%; background:none;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/reoperation/special_detail_layer.jpg'); content:'';}
		}
	}
	@media only screen and (max-width:$tablet-size){
		&__box{padding-bottom:61%;
			&:before{background:url('../images/reoperation/special_detail_layer.jpg') no-repeat; background-size:cover;}
		}
		&__link{font-size:1.1rem; line-height:1.1;
			&:after{width:24px; height:24px; background:url('../images/reoperation/link_icon_m.png'); background-size:24px 24px;}
		}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		top: 0;bottom: 0;left: 45%;width: auto;height: 305px;padding: 0;
		&__box{padding: 0;width: 500px;height: 305px;background: url(../images/reoperation/special_detail_layer.jpg);background-size: cover;
			&:before{display: none;}
		}
		&__link{font-size: 16px; line-height:1.3;
			&:after{width:22px; height:22px; background:url('../images/reoperation/link_icon.png'); background-size:22px 22px;}
		}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){bottom:4%;}
}

.diagram4{position:absolute; top:0; bottom:10%; right:-40px; width:490px; height:460px; margin:auto 0;
	&__list{position:relative; width:100%; height:100%; margin: 0;padding: 0;list-style: none;}
	&__item{position:absolute; width:150px; height:173px; color:#fff; background:url('../images/reoperation/diagram1.png');
		&.nth-1{top:0; left:85px; background:url('../images/reoperation/diagram2.png');}
		&.nth-2{top:0; right:85px;}
		&.nth-3{top:0; left:0; bottom:0; margin:auto 0;}
		&.nth-4{top:0; left:0; right:0; bottom:0; margin:auto; background:url('../images/reoperation/diagram3.png');}
		&.nth-5{top:0; right:0; bottom:0; margin:auto 0; background:url('../images/reoperation/diagram2.png');}
		&.nth-6{bottom:0; left:85px; background:url('../images/reoperation/diagram2.png');}
		&.nth-7{bottom:0; right:85px;}
	}
	&__wrap{display:table-cell; width:1%; height:173px; vertical-align:middle; text-align:center;}
	&__txt{width: 70%;margin: 0 auto;font-size:16px; line-height:1.33;word-break: break-all;}
	@media only screen and (max-width:$tablet-size){position:static; width:408px; height:394px; margin:60px auto 0;
		&__item{width:130px; height:150px; background-size:130px 150px;
			&.nth-1{top:0; left:66px; background-size:130px 150px;}
			&.nth-2{top:0; right:66px;}
			&.nth-3{top:0; left:0; bottom:0; margin:auto 0;}
			&.nth-4{top:0; left:0; right:0; bottom:0; margin:auto; background-size:130px 150px;}
			&.nth-5{top:0; right:0; bottom:0; margin:auto 0;background-size:130px 150px;}
			&.nth-6{bottom:0; left:66px; background-size:130px 150px;}
			&.nth-7{bottom:0; right:66px;}
		}
		&__wrap{height:inherit;}
		&__txt{font-size:15px;}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		position:absolute; margin:auto 0;
	}
	@media only screen and (max-width:$mobile-size){position:static; width:295px; height:280px; margin:40px auto 0;
		&__item{width:90px; height:104px; background-size:90px 104px;
			&.nth-1{top:0; left:52px; background-size:90px 104px;}
			&.nth-2{top:0; right:52px;}
			&.nth-3{top:0; left:0; bottom:0; margin:auto 0;}
			&.nth-4{top:0; left:0; right:0; bottom:0; margin:auto; background-size:90px 104px;}
			&.nth-5{top:0; right:0; bottom:0; margin:auto 0;background-size:90px 104px;}
			&.nth-6{bottom:0; left:52px; background-size:90px 104px;}
			&.nth-7{bottom:0; right:52px;}
		}
		&__wrap{height:104px;}
		&__txt{font-size:1.5rem;}
	}
}

.layer-doc6{float:right; margin-top:9.6%;
	$this:&;
	&__list{width:460px; font-size:0; margin: 0;padding: 0;list-style: none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block;box-sizing: border-box;
		&.nth-2{float:right;
			& #{$this}__img{background-position:0 -145px;}
		}
		&.nth-3{float:left;
			& #{$this}__img{background-position:0 -290px;}
		}
		&.nth-4{float:right;
			& #{$this}__img{background-position:0 -435px;}
		}
		& + & + &{margin-top:40px;}
	}
	&__txt{height:40px; line-height:40px; text-align: center; background-color:#fff; font-size:16px; border-bottom:5px solid #ff6263; box-sizing:content-box; margin: 0;}
	&__img{width:220px; height:145px; background:url('../images/reoperation/special_detail_layer1.jpg');}
	@media only screen and (max-width:$tablet-size){margin-top:50%;
		&__list{width:380px;}
		&__item{
			&.nth-2{
				& #{$this}__img{background-position:0 -120px;}
			}
			&.nth-3{
				& #{$this}__img{background-position:0 -240px;}
			}
			&.nth-4{
				& #{$this}__img{background-position:0 -360px;}
			}
			&:nth-child(even){float:right;}
			& + & + &{margin-top:30px;}
		}
		&__txt{margin-top:-1px; height:33px; line-height:33px; font-size:14px;}
		&__img{width:184px; height:120px; background:url('../images/reoperation/special_detail_layer1.jpg'); background-size:184px 480px;}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		margin-top: 9.6%;
	}
	@media only screen and (max-width:$mobile-size){float:none; margin-top:56px;
		&__list{width:auto; margin-left:-11px;}
		&__item{width:50%; padding-left:11px;
			&.nth-1{float:none;}
			&.nth-2{float:none;
				& #{$this}__img{
					&:before{background:url('../images/reoperation/special_detail_layer2_m.jpg'); background-size:cover;}
				}
			}
			&.nth-3{float:none;
				& #{$this}__img{
					&:before{background:url('../images/reoperation/special_detail_layer3_m.jpg'); background-size:cover;}
				}
			}
			&.nth-4{float:none;
				& #{$this}__img{
					&:before{background:url('../images/reoperation/special_detail_layer4_m.jpg'); background-size:cover;}
				}
			}
			&:nth-child(even){float:none;}
			& + & + &{margin-top:30px;}
		}
		&__txt{margin-top:-1px; height:33px; line-height:33px; font-size:1.2rem;}
		&__img{position:relative; width:100%; height:0; padding-bottom:65.78%; background:none;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/reoperation/special_detail_layer1_m.jpg'); background-size:cover; content:'';}
		}
	}
}

.color-reoperation0{color:#666;}
.color-reoperation1{color:#ff6263;}
.color-reoperation2{color:#fff476;}
.color-reoperation3{color:#ffbaba;}
.color-reoperation4{color:#ef3738;}
.color-reoperation5{color:#ff9192}


.color-comma{color:#c5a2a2;}
.color-black{color:#000;}
.color-white{color:#fff !important;}
