<%
	type = "content"
	page = "svf"
%>
<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-cell-transplant">
	    <div class="content-visual__box">
	        <div class="content-visual__border">
	            <p class="content-visual__txt1">ความล้ำหน้าของเทคโนโลยี ในการเติมเต็มความอ่อนเยาว์</p>
	            <h3 class="content-visual__tit">#ฉีด<span class="color-transplant1">ไขมัน</span></h3>
	            <p class="content-visual__txt2">วอลลุ่มที่เป็นธรรมชาติ มีประสิทธิภาพที่ยาวนานมากขึ้น</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content cell_transplant">
		<div class="content-wrap">
			<div class="svf-box1">
				<div class="content-section type-first">
					<div class="content-section__wrap type-unique type-sec1-bg">
						<div class="content-section__tit-box svf-box1__box">
							<h4 class="content-section__tit type-top">
								<span class="content-section__number">
									<span class="content-section__number-wrap">01</span>
								</span>
								การฉีดไขมัน มีอัตราการเจริญและอยู่รอดของเซลล์ที่<strong class="color-transplant1">ต่ำ</strong>และ
								ประสิทธิภาพ<strong class="color-transplant1">ไม่ยาวนาน</strong>?
							</h4>
						</div>
						<div class="content-section__txt-box">
							<p class="content-section__txt1">
								วิธีแบบก่อนนั้น ส่วนใหญ่แล้วจะเป็นการนำก้อนไขมันจากบริเวณที่ต้องการ มาใช้โดยที่ไม่ผ่านกระบวนการมากนัก  ที่ใช้กันทั่วไปจะเป็นการนำไขมันที่มีอยู่เยอะบริเวณขาหนีบ และส่วนล่างของก้นกบ
							</p>
							<p class="content-section__txt2">
								<span class="type-svf-quotation quotation_left">왼쪽따옴표</span>
								อย่างไรก็ตาม เป็นที่แน่ชัดแล้วว่าวิธีเดิมๆแบบนี้ไม่เห็นผลที่ชัดเจน ถ้าต้องการให้ไขมันที่ฉีดเข้าไปอยู่รอดได้นั้น ไขมันจะต้องกลับเข้าไปในเส้นเลือดของบริเวณส่วนที่ฉีดกลับ. ความแตกต่างที่เล็กน้อยระหว่างชั้นไขมันผิวที่หนาและไขมันชั้นผิวที่บาง ด้วยขั้นตอนดังกล่าวจึงเป็นการยากที่ไขมันจะเจริญและคงสภาพอยู่ได้
								<span class="type-svf-quotation quotation_right">오른쪽따옴표</span>
							</p>
						</div>
					</div>
					<div class="content-section__bg-img">
					</div>
				</div>
			</div>
			<div class="svf-box2">
				<div class="content-section cell_transplant-term">
					<div class="content-section__bg-wrapper">
						<div class="content-section__tit-box">
							<h4 class="content-section__tit type-center">
								<span class="content-section__number">
									<span class="content-section__number-wrap">
										02
									</span>
								</span>
								ไขมันต้องได้รับการ<strong class="color-transplant1">ปลูกถ่ายในระดับเซลล์</strong>
							</h4>
							<p class="content-section__txt1">
								สำหรับการปลูกถ่ายไขมันที่มีประสิทธิภาพมากขึ้น BANOBAGIจะปลูกถ่ายเซลล์เนื้อเยื่อไขมันด้วยเซลล์ แทนที่จะเป็นก้อนไขมันเพียงตัวเดียวและปล่อยให้ไขมันสร้าง แต่เราจะฉีดเซลล์ไขมันเข้าไป
							</p>
						</div>
						<div class="content-section__list-box">
							<div class="svf-trans clearfix">
								<div class="hexa-pattern type-cell-transplant">
									<ul class="hexa-pattern__list">
										<li class="hexa-pattern__item nth-1">
											<div class="hexa-pattern__wrap">
												<h5 class="hexa-pattern__tit">เซลล์ไขมัน</h5>
												<p class="hexa-pattern__txt type-cell-transplant">
													การสร้างใหม่ของเซลล์ไขมันด้วยตัวเองในบริเวณที่ปลูกถ่าย
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-2">
											<div class="hexa-pattern__wrap">
												<h5 class="hexa-pattern__tit">SVF cell</h5>
												<p class="hexa-pattern__txt type-cell-transplant">
													สังเคราะห์ด้วยเนื้อเยื่อเซลล์ที่เหมาะกับบริเวณที่ปลูกถ่าย
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-3">
											<div class="hexa-pattern__wrap">
												<h5 class="hexa-pattern__tit">
													<span class="inline-block">
													   อาทิ Collagen, hyaluronic acid, fibronectin,
													</span>
													<span class="inline-block">
														lamininSkin improvement
													</span>
												</h5>
												<p class="hexa-pattern__txt type-cell-transplant">
													ซ่อมแซมผิว
												</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="content-section__wrapper">
						<p class="caution-para1">
							<span class="inline-block">※ รูปที่เห็นอาจมีความแตกต่างกับตัวจริงขึ้นอยู่กับองค์ประกอบของการถ่ายภาพ, ภาพนี้ได้รับความยินยอมจากคนไข้แล้ว</span>
						</p>
					</div>
					<div class="content-section__desc-box">
						<p class="content-section__txt1 type-unique">
							เซลล์ SVF ทำให้การปลูกถ่ายเซลล์มีประสิทธิภาพมากขึ้น เซลล์ SVF มีอยู่ภายในเนื้อเยื่อไขมันและแยกความแตกต่างออกเป็นเนื้อเยื่อที่พอดีกับบริเวณที่ปลูกถ่ายช่วยกระตุ้นให้เซลล์ไขมันที่ฉีดเข้าสู่พื้นที่ตามธรรมชาติ ผลที่ได้คืออัตราการแทรกซึมไขมันเพิ่มขึ้นและเซลล์ไขมันที่ฉีดสามารถสร้างไขมันได้ด้วยตัวเอง
						</p>
						<p class="content-section__txt2">
							<strong>
								นอกจากนี้กลุ่มเซลล์ของเนื้อเยื่อไขมันมีคอลลาเจนและกรดไฮยาลูโรนิคพร้อมด้วยปัจจัยการเจริญเติบโตต่างๆ
								<span class="color-transplant1">ทำให้เกิดประโยชน์เพิ่มเติมจากการซ่อมแซมผิวและความยืดหยุ่นที่เพิ่มขึ้นในบริเวณที่ปลูกถ่าย</span>
							</strong>
						</p>
					</div>
				</div>
			</div>
			<div class="svf-box3">
				<div class="content-section">
					<div class="content-section__wrap clearfix">
						<div class="content-section__txt-box w-47">
							<h4 class="content-section__tit type-top">
								<span class="content-section__number">
									<span class="content-section__number-wrap">
										03
									</span>
								</span>
								เพียงแค่
								เซลล์ของเรา
								สามารถ<strong class="color-transplant1">เข้าได้ กับทุกส่วนของร่างกาย</strong>
							</h4>
							<p class="content-section__txt1">
								ไม่มีสิ่งใดที่ดีกว่า และเหมาะสมกับแต่ละบุคคลมากกว่าเซลล์ต้นกำเนิดที่สกัดจากไขมัน เพราะไม่ว่าเซลล์จะถูกปลูกถ่ายที่ส่วนไหนพวกเขาก็เติบโตขึ้นมาในบริเวณที่ต้องการ นอกจากนี้ขั้นตอนนี้ยังมีความปลอดภัยยิ่งขึ้นเนื่องด้วยการใช้เข็มฉีดยาขนาดเล็กที่เหมาะสมกับการใช้งานระดับโมเลกุลเซลล์
							</p>
						</div>
						<div class="content-section__img-box w-53">
							<div class="content-section__img type-background3 type-circle"></div>
						</div>
					</div>
					<div class="part-list">
						<div class="part-list__wrap">
							<ul class="part-list__items">
								<li class="part-list__item">
									<div class="part-list__item-wrapper">
										<div class="part-list__thumb type-sec3 icon0">Flat Forehead icon</div>
										<div class="part-list__desc">
											<h5 class="part-list__tit icon0">
												หน้าผากแบน ไม่มีมิติ
											</h5>
											<p class="part-list__txt">
												หน้าผากเป็น 1/3 ของใบหน้า ฉะนั้นหน้าผากจึงเป็นส่วนหนึ่งที่เป็นภาพลักษณ์สำคัญของใบหน้า หากหน้าผากแบนเกินไป ไม่มีส่วนโค้งนูน ไม่มีมิติ อาจทำให้ใบหน้าดูไม่มีเสน่ห์หรือดูไม่สมบูรณ์ได้ กรณีนี้ สามารถแก้ปัญหาได้โดยการฉีดไขมัน ซึ่งการฉีดไขมันหน้าผากจะให้ผลลัพธ์ด้านการเพิ่มมิติบนใบหน้าได้ดีกว่าการฉีดเติมเต็มบริเวณส่วนอื่น เช่น จมูก, ใต้ตา, ปาก, คาง เป็นต้น
											</p>
										</div>
									</div>
								</li>
								<li class="part-list__item">
									<div class="part-list__item-wrapper">
										<div class="part-list__thumb type-sec3 icon1">ฉีดเข้าบริเวณเปลือกตา</div>
										<div class="part-list__desc">
											<h5 class="part-list__tit icon1">
												ฉีดเข้าบริเวณเปลือกตา
											</h5>
											<p class="part-list__txt">
												มีในกรณีที่บริเวณส่วนใต้กระดูกเบ้าตา มีไขมันน้อย จะทำให้ใบหน้าดูแข็ง และเกิดริ้วรอยรอบตา เมื่อปลูกถ่ายเซลล์ไขมันเข้าไปแล้วเพิ่มความอ่อนเยาว์ให้กับดวงตา
											</p>
										</div>
									</div>
								</li>
								<li class="part-list__item">
									<div class="part-list__item-wrapper">
										<div class="part-list__thumb type-sec3 icon2">Cheeks icon</div>
										<div class="part-list__desc">
											<h5 class="part-list__tit icon2">
												แก้ม
											</h5>
											<p class="part-list__txt">
												ถ้าไม่มีไขมันบริเวณใบหน้าช่วงแก้มแล้ว  จะทำให้เห็นกระดูกโหนกแก้มค่อนข้างชัด เกิดภาพลักษ์ที่ดูหน้าดุ เพราะฉะนั้น การฉีดไขมันจะทำให้ใบหน้าดูอ่อนเยาว์ และดูสุขภาพดี ในบริเวณหน้าแก้มเมื่อมีการปลูกถ่ายไขมัน อัตราการอยู่รอดของเซลล์จะอยู่ได้นานมากกว่า
											</p>
										</div>
									</div>
								</li>
								<li class="part-list__item">
									<div class="part-list__item-wrapper">
										<div class="part-list__thumb type-sec3 icon3">Nasolabial fold icon</div>
										<div class="part-list__desc">
											<h5 class="part-list__tit icon3">
												ริ้วรอยร่องแก้ม
											</h5>
											<p class="part-list__txt">
												สามารถเพิ่มความดูอ่อนเยาว์และลบริ้วรอยช่วงร่องแก้ม จนถึงร่องของจมูกได้
											</p>
										</div>
									</div>
								</li>
								<li class="part-list__item">
									<div class="part-list__item-wrapper">
										<div class="part-list__thumb type-sec3 icon4">Breast enhancement icon</div>
										<div class="part-list__desc">
											<h5 class="part-list__tit icon4">
												เพิ่มขนาดของหน้าอก
											</h5>
											<p class="part-list__txt">
												สำหรับร่างกายที่ผอมมีข้อจำกัด ในการปลูกไขมันลงในหน้าอก เนื่องจากมีการดูดซึมไขมันได้อย่างมาก ไขมันที่จะทำให้เกิดวอลลุ่มนั้นทำได้ยาก แต่ในกรณีที่ต้องการสร้างวอลลุ่ม โดยโอกาสที่จะเกิดพังผืดภายในนั้นเป็นไปได้น้อยมาก อีกทั้งเรื่องการสัมผัสและความเป็นธรรมชาติ เป็นสิ่งที่จะได้รับอย่างน่าพอใจ
											</p>
										</div>
									</div>
								</li>
								<li class="part-list__item">
									<div class="part-list__item-wrapper">
										<div class="part-list__thumb type-sec3 icon5">Hip-up icon</div>
										<div class="part-list__desc">
											<h5 class="part-list__tit icon5">
												บั้นท้าย
											</h5>
											<p class="part-list__txt">
												การเปิดเผยเรือนร่างได้อย่างมั่นใจเป็นสเน่ห์อีกอย่างที่สาวๆหลายคนปรารถนา การสควอช ดูแลให้ช่วงบั้นท้าย หลัง สวยงาม ในปัจจุบันได้รับความนิยมเพิ่มขึ้นและการฉีดไขมันเพื่อสร้างวอลลุ่มเป็นวิธีที่ทำให้เกิดความยืดหยุ่นและขา ดูยาวขึ้น
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="svf-box4">
				<div class="content-section">
					<div class="content-section__wrapper">
						<div class="content-section__bg-wrapper">
							<div class="content-section__bg-color">
								<div class="content-section__tit-box">
									<p class="content-section__txt1 type-unique">BANOBAGI SVF</p>
									<h4 class="content-section__tit">
										<strong class="color-transplant1">ความมีวินัยของผู้ป่วยมีความสำคัญ</strong>
										เท่ากับการพัฒนาเทคโนโลยี
									</h4>
									<div class="content-section__txt1">
	                                    แม้ว่าอัตราการแทรกซึมจะดีขึ้นผู้ป่วยจะต้องได้รับการดูแลอย่างถูกต้องเพื่อผลลัพธ์ที่ดียิ่งขึ้น ซึ่งแตกต่างจากกระดูกที่รักษารูปร่างอย่าง
	                                    มั่นคง แต่เซลล์ไขมันเปลี่ยนรูปแบบตามสภาพร่างกาย
									</div>
								</div>
								<div class="content-section__img-wrapper clearfix">
									<div class="content-section__sec4-img">
										<div class="content-section__sec4-img1">
											<img src="../../images/svf/svf_transplant_section05-face01.png" loading="lazy" alt="성실한환자이미지">
										</div>
									</div>
									<div class="content-section__sec4-img">
										<div class="content-section__sec4-img2">
											<img src="../../images/svf/svf_transplant_section05-cigarette01.png" loading="lazy" alt="금연다짐 환자이미지">
										</div>
									</div>
								</div>
								<p class="content-section__txt1">
	                                ภายในระยะเวลาประมาณ2สัปดาห์หลังจากการทำ คือระยะเวลาที่ระบบเส้นเลือดใหม่จะเติบโตเข้าไปในเซลล์ไขมันที่ปลูกถ่ายแล้วสิ่งสำคัญคือต้องพยายามไม่ให้บริเวณที่ส่วนที่ฉีดไขมันนั้นเคลื่อนไหวและไม่ถูกกระตุ้น
									<strong>อีกทั้งการสูบบุหรี่เป็นศัตรูที่ยิ่งใหญ่ที่สุดของการเติบโตของการสร้างเส้นเลือด หลีกเลี่ยงให้อย่างน้อย 2 สัปดาห์ควรงดสูบบุหรี่</strong>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- operation -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-svf">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">แนะนำข้อมูลเกี่ยวกับการฉีดไขมัน</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">
											ใบหน้า:ประมาณ 30 นาที<br>
											รูปร่าง:ประมาณ 1 ชั่วโมง 30 นาที
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">
											ใบหน้า:ยานอนหลับ<br>
											รูปร่าง:ยาสลบ
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
										<p class="operation-v2__txt txt-new1">
											ใบหน้า:ไม่จำเป็น<br>
											รูปร่าง:เอาออกประมาณ 3 วันหลังผ่าตัด
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
										<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 2 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 3~5 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-svf">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									เนื่องจากใช้เข็มขนาดเล็กมาก ความเจ็บปวดแทบจะไม่ปรากฏ<br>
									ความรู้สึกที่ขยายตัวอาจเกิดขึ้นขึ้นอยู่กับปริมาณของไขมันที่ฉีดเข้าไป
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
