<%
	type = "content"
	page = "svf"
%>
<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-augment">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">เทคนิคที่ทันสมัยของการเพิ่มวอลลุ่ม ด้วยการฉีดไขมัน</p>
				<h3 class="content-visual__tit">#เสริมหน้าอก</h3>
				<p class="content-visual__txt2">หน้าอกของเดิม เพิ่มเติมคือความสวยงามอย่างเป็นธรรมชาติ</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content">
	    <div class="content-wrap">
	        <div class="content-section type-first">
	            <div class="augment-box1">
	                <div class="augment-box1__box">
	                    <h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							อีกทางเลือกกรณีที่ไม่อยากเสริมหน้าอก<br>
							ก็คือ <strong class="content-highlight2 type-augment">ฉีดไขมัน</strong>
						</h4>
	                    <p class="content-section__txt1">
							หน้าอกถือได้ว่าเป็นสัญลักษณ์ของความเป็นผู้หญิง  ในขณะที่หน้าอกก็เป็นส่วนหนึ่งของร่างกายที่แสดงให้เห็นถึงความมีเสน่ห์ ถ้าเราตัดเรื่องของการนำเสนอเรือนร่างออกไป และให้ความสนใจต่อหน้าอกที่มีรูปทรงที่สวยงามแล้ว ยิ่งทำให้น่าสนใจมากยิ่งขึ้น
							ผู้หญิงจำนวนมากกำลังให้ความสนใจและหาข้อมูลเกี่ยวกับการศัลยกรรมเสริมหน้าอก อย่างไรก็ตามในการตัดสินใจทำศัลยกรรมหน้าอกนั้นถือเป็นเรื่องที่ไม่ง่ายเอาซะเลย
	                        <strong>เนื่องจากสาวๆบางท่านอาจไม่ชอบที่จะใส่ซิลิโคนเสริมเข้าไป กังวลความเจ็บปวดหลังทำกังวลเรื่องระยะเวลาพักฟื้น เป็นต้น ด้วยเหตุผลเหล่านี้ จึงอาจทำให้สาวๆสลัดความคิดที่จะทำศัลยกรรมหน้าอกไปได้ง่ายๆ</strong>
							ในกรณีที่ต้องการเพิ่มวอลลุ่มเนินอกหรือต้องการหน้าอกที่ใหญ่กว่าของเก่าเพียงเล็กน้อยแล้วละก็
						</p>
	                    <p class="content-section__txt2">
							<span class="content-highlight type-augment type-dark color-svf7">วิธีในการเสริมหน้าอก ด้วยการฉีดไขมันเข้าไป</span>ถือเป็นวิธีหนึ่งที่น่าสนใจเลยทีเดียว
						</p>
	                    <div class="augment-box1__img-wrap">
	                        <div class="augment-box1__img"></div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box2">
	                <div class="augment-box2__box">
	                    <p class="content-section__txt1">
							องค์ประกอบหน้าอกของคนเราส่วนใหญ่แล้วจะประกอบไปด้วยไขมัน.
							หากหน้าอกมีปริมาณของไขมันเพิ่มขึ้นขนาดก็จะเพิ่มขึ้นด้วย.
							ด้วยหลักการนี้เองจึงนำเอาวิธีการฉีดไขมันมาใช้ในการเสริมขนาดของหน้าอก.
							ซึ่งจะใช้ไขมันของคนไข้เองโดยจะดูดไขมันจากบริเวณหน้าท้อง หรือบริเวณสะโพกแล้วนำมาสกัดจนได้เซลล์ไขมันที่พร้อมจะฉีดกลับเข้าไปในบริเวณหน้าอก ตามขนาดและปริมาณที่ต้องการ
						</p>
	                    <p class="content-section__txt2">
							<span class="color-svf7">ไขมันที่ฉีด</span>จะเข้าไปจับตัวบริเวณด้านใน
							ทำให้เกิด<span class="color-svf7">วอลลุ่มที่สวยงามและเป็นธรรมชาติ</span>
						</p>
	                </div>
	                <div class="augment-box2__list_wrap">
	                    <div class="augment-box2__list_tit">
	                        ขั้นตอนการฉีดไขมันเพิ่มขนาดหน้าอก
	                    </div>
	                    <ul class="augment-box2__list">
	                        <li class="augment-box2__item nth-1">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">สกัดไขมันที่ดูดออกมาจากหน้าท้อง หรือสะโพก</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box2__item nth-2">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">แยกเซลล์ไขมันด้วยการปั่น</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box2__item nth-3">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">ฉีดเข้าไปบริเวณหน้าอก</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box3">
	                <div class="augment-box3__box">
	                    <h4 class="content-section__tit type-center">
							<span class="content-section__number">
								<span class="content-section__number-wrap">
									02
								</span>
							</span>
							เป็นวิธีที่มีข้อดีมาก
							แต่ก็มี<strong class="content-highlight2 type-augment">ข้อเสีย</strong>เห็นได้ชัดเช่นกัน
						</h4>
	                    <p class="content-section__txt1">
	                        วิธีการฉีดไขมันเพื่อเพิ่มขนาดหน้าอก สิ่งที่เป็นข้อดีมากที่สุดคือความเป็นธรรมชาติ เพราะเป็นวิธีที่ใช้ไขมันตัวเองเข้าไปเพิ่มวอลลุ่ม โดยไม่ใช้วัสดุเทียมอย่างซิลิโคน ดังนั้นอัตราความเสี่ยงของการก่อตัวของพังผืดหรือการเคลื่อนตัวของวัสดุเทียมนั้นจึงน้อย มากๆ อีกทั้งการฉีดไขมัน ไม่จำเป็นต้องทำการกรีดและแยกชั้นผิวหนัง ดังนั้นจึงหมดข้อกังวลเกี่ยวกับเรื่องรอยแผลไปได้เลย และยังสามารถที่จะปรับปริมาณตามความต้องการและบริเวณที่อยากจะเพิ่มได้อีกด้วย นี่จึงถือว่าเป็นข้อดีของการฉีดไขมัน
	                        แต่ทว่าวิธีนี้ก็ถือว่ามีข้อเสียอยู่บ้างเช่นกัน โดยวิธีนี้จะไม่เหมาะกับคนไข้ที่มีรูปร่างผอม ในเคสคนไข้ที่มีรูปร่างผอม เมื่อรับการฉีดไขมันเข้าไปแล้ว ผลลัพท์ที่ออกมา อาจจะไม่ดีเท่ากับตอนที่ฉีดแรกๆ รวมไปถึงการที่จะรักษาผลลัพท์ให้มีประสิทธิภาพในระยะยาวด้วยนั้น
						</p>
	                    <p class="content-section__txt2">
							<strong>
								สาเหตุเป็นเพราะการจับตัวและการอยู่รอดของเซลล์ไขมันที่ฉีดเข้าไป เนื่องจากระบบการดูดซึมของแต่ละบุคคลแตกต่างกัน
								<span class="color-svf8">ไขมันที่ฉีดเข้าไป สามารถอยู่ได้เพียงประมาณ30-50%</span>
								หลังจากที่ภายในร่างกายมีการดูดซึม จึงอาจทำให้ขนาดของหน้าอกเล็กลงได้
							</strong>
						</p>
	                </div>
	            </div>

	            <div class="augment-box4">
	                <div class="augment-box4__box">
	                    <div class="augment-box4__list_wrap type-strengths">
	                        <div class="augment-box4__vertical">
	                            <div class="augment-box4__list_tit type-strengths">ข้อดี</div>
	                            <ul class="augment-box4__list">
	                                <li class="augment-box4__item">รูปร่างและการเคลื่อนไหวที่เป็นธรรมชาติ</li>
	                                <li class="augment-box4__item">ลดความกังวลของปัญหาการเกิดพังผืดเนื่องจากวัสดุเทียม </li>
	                                <li class="augment-box4__item">ไม่ต้องกรีดแผลและแยกชั้นผิว ไม่ต้องกังวลเรื่องความเจ็บปวด และระยะเวลาพักฟื้น</li>
	                                <li class="augment-box4__item">สามารถปรับขนาด และรูปทรง ปริมาณตามที่ต้องการในบริเวณจุดที่จะฉีด</li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="augment-box4__list_wrap type-weaknesses">
	                        <div class="augment-box4__vertical">
	                            <div class="augment-box4__list_tit type-weaknesses">ข้อเสีย</div>
	                            <ul class="augment-box4__list">
	                                <li class="augment-box4__item">ไม่เหมาะกับคนรูปร่างผอม</li>
	                                <li class="augment-box4__item">ไขมันไม่สามารถคงสภาพได้นาน หลังจากถูกดูดซึมเข้าร่างกายผลลัพธ์อาจเห็นไม่ชัดเจนเหมือนที่เพิ่งเริ่มฉีดใหม่ๆ</li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box5">
	                <div class="augment-box5__wrap">
	                    <div class="augment-box5__box">
	                        <h4 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										03
									</span>
								</span>
								BANOBAGI
								มีการคิดพัฒนาเพื่อแก้ไขปัญหาที่เกิดขึ้น
								โดยการใช้<span class="content-highlight type-augment type-light color-svf9">วิธีปลูกถ่ายสเต็มเซลล์</span>
							</h4>
	                        <p class="content-section__txt1">
								เหตุผลที่ไขมันที่ฉีดเข้าไปที่หน้าอกไม่สามารถคงสภาพอยู่ได้นาน เป็นเพราะความแตกต่างเพียงเล็กน้อยของไขมันที่อยู่บริเวณหน้าอกและไขมันที่ถูกสกัดออกมา.ไขมันที่เติบโตจากร่างกายส่วนอื่นๆ เมื่อนำมาใส่ในบริเวณหน้าอกแล้ว ร่างกายจะทำปฏิกิริยาตอบโต้ ทำให้ในที่สุดแล้วไขมันส่วนที่นำมาจากส่วนอื่นๆของร่างกายนั้น ก็จะถูกดูดซึมไปในที่สุด <br><br class="hidden-m">
								เพื่อแก้ปัญหานี้ BANOBAGIสามารถทำการถ่ายโอนไขมันในระดับเซลล์ได้
								เราไม่เพียงแต่ถ่ายโอนไขมันเท่านั้นขั้นตอนการแยกไขมันของเราจะแยกเซลล์ต้นกำเนิดที่มีอยู่ภายในไขมันก่อนที่จะนำไปฉีด
								สเต็มเซลล์ มีความสามารถในการแยกและรวมเข้ากันได้ดีกับหลายๆส่วนในร่างกาย เมื่อฉีดเข้าไปที่บริเวณหน้าอกแล้วก็จะช่วยทำหน้าที่เสมือนเป็นเซลล์ไขมันหน้าอกตัวเองจริงๆได้
							</p>
	                        <p class="content-section__txt2">
								ด้วยเหตุนี้เอง ผลลัพท์จึงโดดเด่นกว่าการเสริมหน้าอกด้วยการฉีดไขมันแบบเดิมๆ และสามารถรักษารูปทรง วอลลุ่มของหน้าอกไว้ได้นานกว่า
							</p>
	                    </div>
	                    <div class="augment-box5__area">
	                        <div class="augment-box5__area-wrap">
								<div class="augment-box5__inner">
			                        <div class="augment-box5__tit">
			                            ความแตกต่างระหว่าง<strong class="color-svf10">การฉีดสเต็มเซลล์ไขมัน ของBANOBAGI</strong>และการฉีดไขมันแบบเดิมๆ
			                        </div>
								</div>
		                        <div class="augment-box5__list_wrap type-pre">
		                            <div class="augment-box5__list_tit">
		                                การปลูกถ่ายไขมันแบบเดิม
		                            </div>
		                            <ul class="augment-box5__pre_list">
		                                <li class="augment-box5__pre_item nth-1">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">การดูดไขมันออกจาก ส่วนอื่นๆของร่างกาย</div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__pre_item nth-2">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">การฉีดไขมันที่มีการสกัดมาแล้วเข้าที่หน้าอก</div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__pre_item nth-3">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">
		                                                    การอยู่รอดของไขมันส่วนหนึ่ง ไขมันที่ไม่สามารถคงสภาพ จะถูกดูดซึมเข้าสู่ร่างกาย
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                            </ul>
		                        </div>
		                        <div class="augment-box5__list_wrap type-bnbg">
		                            <div class="augment-box5__list_tit color-svf10">
		                                การฉีดไขมันสเต็มเซลล์ ของBANOBAGI
		                            </div>
		                            <ul class="augment-box5__bnbg_list">
		                                <li class="augment-box5__bnbg_item nth-1">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">
		                                                    หลังจากดูดไขมันจากส่วนอื่นๆของร่างกายออกมา มีการสกัดแยกเซลล์
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__bnbg_item nth-2">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">
		                                                	ไขมันที่สกัดสเต็มเซลล์แล้ว ฉีดกลับเข้าไปที่หน้าอก
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__bnbg_item nth-3">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">
		                                                    สเต็มเซลล์ที่ฉีดเข้าไปแล้ว จะกลายเป็นส่วนเดียวกันกับเนื้อเยื่อ เสมือนเป็นองค์ประกอบเดียวกันกับหน้าอก
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__bnbg_item nth-4">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">
															เพิ่มประสิทธิภาพของวอลลุ่มทรงอก
															ได้นานขึ้น
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                            </ul>
		                        </div>
	                    	</div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box6">
	                <div class="augment-box6__box">
	                    <h4 class="content-section__tit type-center">
							<span class="content-section__number">
								<span class="content-section__number-wrap">
									04
								</span>
							</span>
							<strong class="color-svf10">การใช้สเต็มเซลล์</strong>:<br class="hidden-pt">
	                        การติดตั้งขั้นพื้นฐานและเทคโนโลยีที่สมบูรณ์
						</h4>
	                    <p class="content-section__txt1">
							สำหรับการปลูกถ่ายอวัยวะที่ใช้สเต็มเซลล์นั้น จำเป็นต้องใช้เทคโนโลยีและอุปกรณ์ขั้นสูง BANOBAGIเป็นสถานที่ทำการวิจัยที่ได้รับการอนุมัติจากกระทรวงวิทยาศาสตร์ ICTและการวางแผนในอนาคตพร้อมทั้งมีสิ่งอำนวยความสะดวกและบุคลากรที่ทรงคุณภาพที่ทำการดำเนินขั้นตอนของเซลล์ต้นกำเนิดอย่างปลอดภัย นอกจากนี้ผู้เชี่ยวชาญของเรายังมีเทคนิคความรู้และประสบการณ์ในการสกัดเซลล์ต้นกำเนิดที่หลากหลาย<br class="hidden-m">
	                        จึงมั่นใจได้ว่า<strong>การปลูกถ่ายไขมันของเรามีประสิทธิภาพมากกว่าที่อื่นแม้จะใช้ไขมันปริมาณที่เท่ากัน</strong>
							แต่ด้วยกระบวนการของเรา สร้างความแตกต่างและเห็นผลลัพท์ได้ชัดเจนอย่างแน่นอน
						</p>
	                    <div class="augment-box6__auth">
	                        ใบรับรองการประเมินเทคโนโลยีแก่ธุรกิจที่โดดเด่น
	                    </div>
	                </div>
	            </div>
	            <div class="augment-box7">
	                <h5 class="content-section__tit augment-box7__tit">
	                    <span class="augment-box7__subtit">BANOBAGI แตกต่างจากผู้อื่นด้วย</span>
						<span class="augment-box7__detail"><img src="../../images/svf/augment/augment_txt_01.png" loading="lazy" alt="detail"></span><br>
	                    ทำไม<strong class="color-svf10">การฉีดไขมันสเต็มเซลล์เสริมหน้าอก</strong> จึงมีผลที่น่าพอใจ
	                </h5>
	                <div class="augment-box7__area">
	                    <ul class="augment-box7__list">
	                        <li class="augment-box7__item nth-1">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            นักวิจัยด้านเทคโนโลยีชีวภาพ
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box7__item nth-2">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
												ขั้นตอนการสกัดสเต็มเซลล์,การปลูกถ่าย
												มีเทคนิคและความชำนาญ
												ที่ไม่มีที่ไหนเหมือน
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box7__item nth-3">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            พร้อมกับสิ่งอำนวยความสะดวกที่จำเป็น (เช่นอุปกรณ์ทดสอบเซลล์ที่มีประสิทธิภาพระบบจัดเก็บอุณหภูมิที่มีอุณหภูมิต่ำมากห้องปลอดเชื้อเป็นต้น)
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box8">
	                <div class="augment-box8__bg">
	                    <div class="augment-box8__box">
	                        <div class="augment-box8__tit-box">
	                            <p class="content-section__txt1 type-unique">BANOBAGI SVF</p>
	                            <h4 class="content-section__tit type-augment">
									ความพยายามพัฒนาในแบบเฉพาะ
									<strong class="color-svf7">นำไปสู่ผลลัพธ์ที่น่าพอใจมากขึ้น</strong>
								</h4>
	                        </div>
	                        <div class="augment-box8__img-wrap">
	                            <div class="augment-box8__img">
	                                <img src="../../images/svf/augment/augment_img_14.png" loading="lazy" alt="">
	                            </div>
	                            <div class="augment-box8__img">
	                                <img src="../../images/svf/augment/augment_img_15.png" loading="lazy" alt="">
	                            </div>
	                        </div>
	                        <div class="augment-box8__txt-wrap">
	                            <p class="content-section__txt1">
	    							เมื่อเซลล์ไขมันได้รับการปลูกถ่ายในหน้าอกแล้วการเจริญเติบโตของหลอดเลือดในเซลล์ไขมันจะเกิดขึ้นภายในเวลาประมาณ2สัปดาห์ ดังนั้นเพื่อเพิ่มอัตราการจับตัวของเซลล์จึงต้องมีการดูแลเป็นพิเศษภายใน2สัปดาห์ สิ่งที่สำคัญที่สุดคือการลดการเคลื่อนไหวและการกระตุ้นจากภายนอก
	    						</p>
	                            <p class="content-section__txt2">
	    							นอกจากนี้การสูบบุหรี่ยังเป็นปัจจัยสำคัญที่ขัดขวางการเจริญเติบโตของหลอดเลือด:
									แนะนำให้<span class="color-svf11">งดสูบบุหรี่ประมาณสองเดือน</span>
	    						</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

			<!-- operation -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-svf type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">การฉีดไขมันสเต็มเซลล์เสริมหน้าอก ของBANOBAGI มีระยะพักฟื้นที่สั้น</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง ~ 2 ชั่วโมง 30 นาทีตามปริมาณที่ฉีดเข้าไป</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยาสลบ/ยานอนหลับ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 3~5 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-svf">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									ความรู้สึกที่ขยายขึ้นของหน้าอกและอาการปวดเล็กน้อยอาจเกิดขึ้นที่ทรวงอกได้ แต่จะค่อยๆลดลงตามลำดับเมื่อเวลาผ่านไป<br>
									พื้นที่ที่ไขมันถูกฉีดเข้าไปอาจรู้สึกชา<br>
									ในขณะขั้นตอนการฉีดยาจะมีระดับความปวดที่ค่อนข้างน้อยหรืออาจะไม่มีอาการปวดเลยก็เป็นได้ แต่หากผู้ป่วยมีอาการปวดอย่างรุนแรงควรติดต่อปรึกษาผู้เชี่ยวชาญและเข้ารับการตรวจเช็คกับศัลยแพทย์ทันที
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
