<%
	type = "detail"
	page = "svf"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="svf detail-common">
    <section class="fs_section svfFirst js-first" data-section-name="home">
        <div class="detail__inner">
            <div class="detail__vertical">
                <p class="detail__first-tit type-svf">
                    <span class="color-svf0">ทักษะที่เชี่ยวชาญ</span>ทำให้คุณได้<span class="color-svf0">ผลลัพธ์</span>ที่ดีและปลอดภัย
                </p>
                <h3 class="detail__first-txt type-svf">
                    <strong class="detail__first-point">เติมเต็มเซลล์ทุกอณูรูขุมขน</strong><br>
                    ใส่ใจรายละเอียด <span class="color-svf0 weight-bold">สเต็มเซลล์</span> ที่บาโนบากิ
                </h3>
            </div>
        </div>
        <div class="scroll">
            <div class="inner">
                <i></i>
            </div>
            <em>SCROLL</em>
        </div>
    </section>

    <section class="fs_section svfSection01" data-section-name="svfSection01">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wide type-svf">
                    <h4 class="detail__section-tit">
                        สเต็มเซลล์,<br>
                        ที่บาโนบากิ
                        ทำ<strong class="color-svf0">อย่างนี้</strong>
                    </h4>
                    <p class="detail__section-subtit">เซลล์ขนาดเล็กที่มีมากกว่าที่เห็น</p>
                    <p class="detail__section-txt">
                        ศูนย์วิจัยสเต็มเซลล์ที่สกัดจากเม็ดเลือด, ไขกระดูก, ไขมัน
                        เพื่อนำสเต็มเซลล์ที่ได้มาใช้รักษาได้อย่างหลากหลาย
                        โดยเฉพาะเซลล์ SVF ที่สกัดจากไขมัน เมื่อสกัดแล้ว
                        สามารถนำมาใช้ได้เลย เนื่องจากเป็นเซลล์จากร่างกาย
                        ตัวเอง ทำให้<span class="color-svf1">มีความปลอดภัย ไม่มีผลเสียต่อร่างกาย ผิวพรรณเปล่งปลั่งและกระชับเต่งตึงขึ้น</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="detail__dim">screen</div>
        <div class="detail__section-bottom hidden-pt">
            <div class="detail__section-set">
                <span>ประโยชน์ของสเต็มเซลล์</span>
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another0" data-popup-type="section">팝업버튼</a></span>
            </div>
        </div>
        <div class="detail__popup-m">
            <h5 class="detail__popup-m__tit">ประโยชน์<span class="color-svf2">.</span></h5>
            <ul class="detail__popup-m__list">
                <li class="detail__popup-m__item">- ฟื้นฟูผิวด้วยตัวเอง</li>
                <li class="detail__popup-m__item">- Growth Factor</li>
                <li class="detail__popup-m__item">- ต้นกำเนิดเซลล์</li>
                <li class="detail__popup-m__item">- ส่งเสริมภูมิต้านทานโรค</li>
            </ul>
        </div>
    </section>

    <section class="fs_section svfSection02" data-section-name="svfSection02">
        <div class="detail__inner type-full">
            <div class="detail__popup type-svf">
                <div class="detail__popup-wrap">
                    <h5 class="detail__popup-tit">สัดส่วนที่สามารถฉีดสเต็มเซลล์ได้</h5>
                    <ul class="detail__popup-list">
                        <li class="detail__popup-item nth-1">
                            <div class="detail__popup-box">
                                <h4 class="detail__popup-subject">ใบหน้า</h4>
                                <p class="detail__popup-txt">จมูก, แก้ม, หน้าผาก, คาง, โหนกแก้ม</p>
                            </div>
                        </li>
                        <li class="detail__popup-item nth-2">
                            <div class="detail__popup-box">
                                <h6 class="detail__popup-subject">ร่างกาย</h6>
                                <p class="detail__popup-txt">หน้าอก, เต้านม, ดูดไขมัน, อื่นๆ</p>
                            </div>
                        </li>
                        <li class="detail__popup-item nth-3">
                            <div class="detail__popup-box">
                                <h6 class="detail__popup-subject">ริ้วรอย</h6>
                                <p class="detail__popup-txt">ลดเลือนริ้วรอย, ความยืดหยุ่นผิว, กระ, ฝ้า, ใต้ตาดำ</p>
                            </div>
                        </li>
                        <li class="detail__popup-item nth-4">
                            <div class="detail__popup-box">
                                <h6 class="detail__popup-subject">ผิวพรรณ</h6>
                                <p class="detail__popup-txt">ปรับโทนสีผิว, รอยแผลเป็น, ผิวแตกลาย, รูขุมขน, สิวเสี้ยน</p>
                            </div>
                        </li>
                    </ul>
                    <a href="" class="detail__popup-close js-popup-close">ปิด</a>
                </div>
            </div>
            <div class="detail__section-wrap type-svf">
                <div class="detail__vertical">
                    <div class="detail__section-box type-normal type-right type-svf">
                        <h4 class="detail__section-tit">
                            <strong>สเต็มเซลล์,</strong><br>
                            บาโนบากิ
                            มีความ<strong class="color-svf0">หลากหลาย</strong>
                        </h4>
                        <p class="detail__section-subtit">หลากหลายประโยชน์ของสเต็มเซลล์ SVF</p>
                        <p class="detail__section-txt">
                            สเต็มเซลล์ SVF นั้น นอกจากจะมีประสิทธิภาพ
                            ในสมานแผลในร่างกายได้ดีแล้ว ยังสามารถ
                            นำมาเติมเต็มเฉพาะจุด ได้อีกด้วย ที่<span class="color-svf1">บาโนบากิ
                            มีการนำสเต็มเซลล์ตัวนี้มารักษารอยแผลเป็น,
                            ลดเลือนริ้วรอย, เติมเต็มมิติบนใบหน้า</span>ได้หลาย ส่วน ทั้งยังได้ผลลัพธ์ที่ดีแล้วเป็นธรรมชาติอีกด้วย
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail__section-bottom type-svf">
            <div class="detail__section-set">
                สเต็มเซลล์ SVF กับการใช้งานที่หลากหลาย
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf">pop-up button</a></span>
            </div>
        </div>
    </section>

    <section class="fs_section svfSection03" data-section-name="svfSection03">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wide type-svf">
                    <h4 class="detail__section-tit">
                        สเต็มเซลล์,<br>
                        ที่บาโนบากิ
                        <strong class="color-svf0">โดดเด่น</strong>กว่าใคร
                    </h4>
                    <p class="detail__section-subtit">ศูนย์รวบรวมสเต็มเซลล์ที่ดีกว่าใคร</p>
                    <p class="detail__section-txt">
                        สเต็มเซลล์ SVF เป็นสเต็มเซลล์
                        ที่ได้รับการยอมรับ และได้รับความ
                        พึงพอใจจากผู้ใช้มากที่สุด <span class="color-svf1">บาโนบากิ
                        จึงจัดทำสถาบันที่วิจัยเพื่อวิจัยและจัด
                        เก็บสเต็มเซลล์ด้วยตัวเอง</span> เรารู้วิธี
                        สกัดเซลล์ที่แข็งแรงจากไขมันให้ได้
                        ประสิทธิภาพเพื่อผลลัพธ์ที่ดียิ่งขึ้น
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="fs_section svfSection04" data-section-name="svfSection04">
        <div class="detail__inner type-full">
            <div class="detail__popup type-svf">
                <div class="detail__popup-wrap">
                    <h5 class="detail__popup-tit">ระบบเก็บรักษาเซลล์ด้วยความเย็น<span class="color-svf2">.</span></h5>
                    <div class="popup-info">
                        <div class="popup-info__img">ระบบเก็บรักษาเซลล์ด้วยความเย็น</div>
                        <ol class="popup-info__list">
                            <li class="popup-info__item">&middot; สามารถนำมาใช้รักษาได้หลายครั้ง</li>
                            <li class="popup-info__item">&middot; ป้องกันความเสียหายและสิ่งปนเปื้อน</li>
                            <li class="popup-info__item">&middot; เก็บเซลล์ที่มีอายุน้อยเพื่อไว้ใช้ในอนาคตได้</li>
                        </ol>
                    </div>
                    <a href="" class="detail__popup-close js-popup-close">ปิด</a>
                </div>
            </div>
            <div class="detail__section-wrap type-svf type-another">
                <div class="detail__vertical">
                    <div class="detail__section-box type-wide type-right type-svf type-quotation2">
                        <h4 class="detail__section-tit">
                            สเต็มเซลล์,<br>
                            ที่บาโนบากิ
                            <strong class="color-svf4">ใช้ได้หลายครั้ง</strong>
                        </h4>
                        <p class="detail__section-subtit">ธนาคารฝากเซลล์ที่สามารถเก็บเซลล์ไว้ใช้ได้มากกว่า 3-5 ปี</p>
                        <p class="detail__section-txt">
                            เซลล์ SVF ยิ่งเก็บไว้นานยิ่งทำให้ประสิทธิภาพต่ำลง
                            และมีสิ่งปนเปื้อนสะสมมากขึ้น ทำให้สเต็มเซลล์
                            สามารถนำมาใช้ได้แค่ครั้งเดียว ด้วยเหตุนี้<span class="color-svf3">บาโนบากิ
                            จึงก่อตั้งศูนย์จัดเก็บสเต็มเซลล์ SVF เพื่อเก็บรักษา
                            เซลล์ให้มีประสิทธิภาพคงเดิม</span> และสามารถนำมาใช้
                            ได้อีกหลายครั้ง
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail__section-bottom type-svf type-another">
            <div class="detail__section-set">
                ระบบเก็บรักษาเซลล์ด้วยความเย็น -196องศา
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another">pop-up button</a></span>
            </div>
        </div>
    </section>

	<section class="fs_section svfSection05" data-section-name="svfSection05">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-svf">
					<h4 class="detail__section-tit">
						สเต็มเซลล์,<br>
						ที่บาโนบากิ
                        <strong class="color-svf0">แตกต่าง</strong>กับที่อื่น
					</h4>
					<p class="detail__section-subtit">ประสบการณ์ดูดไขมัน <?php echo $sinceYear;?> ปี ดูดไขมันพร้อมตกแต่งสัดส่วนให้เป็นธรรมชาติ</p>
					<p class="detail__section-txt">
                        บาโนบากิแตกต่างตั้งแต่แต่ขั้นตอนการดูดไขมัน,
                        การสกัดเซลล์จากไขมัน เพื่อให้ได้เซลล์คุณภาพสูง
                        จะต้องดูดไขมันในขณะที่อุณภูมิไขมันต่ำ <span class="color-svf5">บาโนบากิ มีเทคนิคที่ทำให้ไขมันโดนความร้อนจากเลเซอร์น้อยที่สุด</span> และดูดไขมันโดยที่<span class="color-svf5">ใส่ใจเรื่องความเรียบเของหน้าผิว หลังดูดไขมันควบคู่กันไปด้วย</span>
					</p>
				</div>
				<div class="layer-img2">
					<div class="layer-img2__box">줄기세포 이미지</div>
					<dl class="layer-img2__dl">
						<dt class="layer-img2__dt">* ผลกระทบ:</dt>
						<dd class="layer-img2__dd">หลังดูดไขมันหน้าผิวอาจเป็นคลื่นนูน, มีเลือดซึม, รอยฟกช้ำ, ผิวชา, ผิวเป็นแผล ฯลฯ</dd>
					</dl>
				</div>
			</div>
		</div>
	</section>

    <section class="fs_section svfSection06" data-section-name="svfSection06">
        <div class="detail__inner type-full">
            <div class="detail__popup type-svf">
                <div class="detail__popup-wrap">
                    <p class="detail__popup2-subtit">ป้องกันสิ่งแปลกปลอมและรักษาคุณภาพของสเต็มเซลล์</p>
                    <h5 class="detail__popup-tit">ห้องปลอดเชื้อ One stop<span class="color-svf2">.</span></h5>
                    <ul class="detail__popup2-list">
                        <li class="detail__popup2-item nth-1">
                            <div class="detail__popup2-box">
                                <span class="detail__popup2-img">Air Shower</span>
                                <h6 class="detail__popup2-subject"><span class="detail__popup2-wrap">Air Shower</span></h6>
                            </div>
                        </li>
                        <li class="detail__popup2-item nth-2">
                            <div class="detail__popup2-box">
                                <span class="detail__popup2-img">ห้องผ่าตัดปลอดเชื้อ</span>
                                <h6 class="detail__popup2-subject"><span class="detail__popup2-wrap">ห้องผ่าตัดปลอดเชื้อ</span></h6>
                            </div>
                        </li>
                        <li class="detail__popup2-item nth-3">
                            <div class="detail__popup2-box">
                                <span class="detail__popup2-img">ห้องวิจัยปลอดเชื้อ</span>
                            <h6 class="detail__popup2-subject"><span class="detail__popup2-wrap">ห้องวิจัยปลอดเชื้อ</span></h6>
                            </div>
                        </li>
                        <li class="detail__popup2-item nth-4">
                            <div class="detail__popup2-box">
                                <span class="detail__popup2-img"> ห้อง QC ปลอดเชื้อ</span>
                                <h6 class="detail__popup2-subject"><span class="detail__popup2-wrap"> ห้อง QC ปลอดเชื้อ</span></h6>
                            </div>
                        </li>
                    </ul>
                    <a href="" class="detail__popup-close js-popup-close">ปิด</a>
                </div>
            </div>
            <div class="detail__section-wrap type-svf type-another2">
                <div class="detail__vertical">
                    <div class="detail__section-box type-wide type-right type-svf">
                        <h4 class="detail__section-tit">
                            สเต็มเซลล์,<br>
                            ที่บาโนบากิ
                            เรา<strong class="color-svf0">ใส่ใจรายละเอียด</strong>
                        </h4>
                        <p class="detail__section-subtit">ปลอดภัยกว่า ได้ผลดีกว่าด้วยห้องปลอดเชื้อ</p>
                        <p class="detail__section-txt">
                            เซลล์ของคนเราเมื่อออกมาอยู่นอกร่างกายแล้ว
                            จะมีความอ่อนแอและไวต่อสิ่งแวดล้อมภายนอก
                            เป็นอย่างมาก โดยเฉพาะมลพิษรอบข้างที่ไม่
                            สามารถมองเห็นด้วยตาเปล่า <span class="color-svf6">บาโนบากิจึงติดตั้ง
                            ห้องปลอดเชื้อเพื่อป้องกันปัญหาข้างต้น และเพื่อ
                            คงประสิทธิภาพของเซลล์ให้เหมือนเดิม</span>ได้อีกด้วย
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail__section-bottom type-svf type-another2">
            <div class="detail__section-set">
                ห้องปลอดเชื้อOne stop
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another2" data-popup-type="footer">팝업버튼</a></span>
            </div>
        </div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
