.new-visual{
	$this:&;
	&.type-forehead{
		&:before{
			@include background('../images/wrinkle/forehead/forehead_visual_1.jpg','no-repeat center center / cover')
		}
		#{$this}__item{background: $wrinkle1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-forehead{
			&:before{
				@include background('../images/wrinkle/forehead/forehead_visual_1_t.jpg','no-repeat center center / cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-forehead{
			&:before{
				@include background('../images/wrinkle/forehead/forehead_visual_1_m.jpg','no-repeat center center / cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-forehead{@include background('../images/wrinkle/forehead/forehead_bg_1.jpg','no-repeat center bottom / contain');}
	&.type-forehead2{background: #fae3d4;}
    &.type-forehead3{background: #211b16;
		#{$this}__tit{color: #fff;}
		#{$this}__txt{color: #aaa;}
		#{$this}__txt2{color: #fff;}
	}
}
