<%
	type = "content"
	page = "wrinkle"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content" data-page="wrinkle-forehead">
		<div class="new-visual type-forehead">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">ปลอดภัยยิ่งขึ้น ด้วยการ</p>
						<h3 class="new-visual__tit">
                            ยกกระชับ<br class="hidden-tm">
							<span class="n-color-wrinkle2">เอนโดไทน์หน้าผาก</span>
                        </h3>
						<p class="new-visual__txt">รูปลักษณ์ที่ดูเปล่งประกายมากขึ้น จากการแก้ปัญหาความเหี่ยวย่นของใบหน้าส่วนบน</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#แก้ปัญหาริ้วรอย</span></li>
							<li class="new-visual__item"><span>#รูปลักษณ์ที่ดีขึ้น</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

		<div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-forehead">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						การหย่อนคล้อยของหน้าผาก<br class="hidden-tm">
                        มีสาเหตุมาจาก <span class="n-color-wrinkle2">ริ้วรอยบริเวณใบหน้าส่วนบน</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						หน้าผาก  เป็นส่วนที่เห็นริ้วรอยบนใบหน้าชัดเจนที่สุด<br class="hidden-tm">
						ริ้วรอยลึกที่เกิดร่วมกับเส้นริ้วรอยต่างๆ ทำให้ใบหน้าดูแก่ขึ้นอย่างเห็นได้ชัด<br class="hidden-tm">
						โดยเฉพาะ เมื่อหน้าผากขาดความยืดหยุ่นจนเกิดความหย่อนคล้อย จะทำให้เปลือกตาตก<br class="hidden-tm">
						หางตาและหว่างคิ้วมีริ้วรอย และเกิดเป็นสาเหตุของริ้วรอยก่อนวัย
					</p>
					<p class="new-style1__txt2 txt-new2">
						นอกจากนี้ หากกำลังกังวลเกี่ยวกับริ้วรอยรอบดวงตาและเปลือกตาตก ซึ่งมีสาเหตุมาจากหน้าผากหย่อนคล้อย<br class="hidden-tm">
						แนะนำให้ใช้<span class="n-color-wrinkle2">วิธียกกระชับหน้าผากโดยวิธีส่องกล้อง</span><br class="hidden-tm">
						แทนการรักษาริ้วรอยรอบดวงตา
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/wrinkle/forehead/forehead_img_1.png" loading="lazy" alt="model" class="img-normal">
					</div>
				</div>

                <div class="new-section__wrap">
					<h5 class="new-content-tit tit-new2">ผู้ที่ควรทำ ยกกระชับเอนโดไทน์หน้าผากโดยวิธีส่องกล้อง</h5>

					<div class="img-style3 type-inner">
						<ul class="img-style3__list">
							<li class="img-style3__item">
								<div class="img-style3__img">
									<img src="../../images/wrinkle/forehead/forehead_img_2.jpg" class="img-w100" loading="lazy" alt="ผู้ที่มีริ้วรอยบนหน้าผากเยอะ">
								</div>
								<p class="img-style3__txt txt-new2">
									ผู้ที่มีริ้วรอยบนหน้าผากเยอะ
								</p>
							</li>
							<li class="img-style3__item">
								<div class="img-style3__img">
									<img src="../../images/wrinkle/forehead/forehead_img_3.jpg" class="img-w100" loading="lazy" alt="ผู้ที่มีริ้วรอยบริเวณหว่างคิ้วและดวงตา">
								</div>
								<p class="img-style3__txt txt-new2">
									ผู้ที่มีริ้วรอยบริเวณหว่างคิ้วและดวงตา
								</p>
							</li>
							<li class="img-style3__item">
							   	<div class="img-style3__img">
								   	<img src="../../images/wrinkle/forehead/forehead_img_4.jpg" class="img-w100" loading="lazy" alt="ผู้ที่เปลือกตาตก เนื่องมาจากการหย่อนคล้อยของหน้าผาก">
							   	</div>
							   	<p class="img-style3__txt txt-new2">
								   	ผู้ที่เปลือกตาตก เนื่องมาจากการหย่อนคล้อยของหน้าผาก
							   	</p>
						   	</li>
						   	<li class="img-style3__item">
							   	<div class="img-style3__img">
								   	<img src="../../images/wrinkle/forehead/forehead_img_5.jpg" class="img-w100" loading="lazy" alt="ผู้ที่มีช่วงตาและคิ้วแคบ">
							   	</div>
							   	<p class="img-style3__txt txt-new2">
								   	ผู้ที่มีช่วงตาและคิ้วแคบ
							   	</p>
						   	</li>
						   	<li class="img-style3__item">
							   	<div class="img-style3__img">
								   	<img src="../../images/wrinkle/forehead/forehead_img_6.jpg" class="img-w100" loading="lazy" alt="ผู้ที่มีหว่างคิ้วย่น">
							   	</div>
							   	<p class="img-style3__txt txt-new2">
								   	ผู้ที่มีหว่างคิ้วย่น
							   	</p>
						   	</li>
						   	<li class="img-style3__item">
							   	<div class="img-style3__img">
								   	<img src="../../images/wrinkle/forehead/forehead_img_7.jpg" class="img-w100" loading="lazy" alt="ผู้ที่รูปลักษณ์ดูหม่นหมองจากรอยเหี่ยวย่นบนใบหน้า">
							   	</div>
							   	<p class="img-style3__txt txt-new2">
								   	ผู้ที่รูปลักษณ์ดูหม่นหมอง<br class="hidden-tm">
                                    จากรอยเหี่ยวย่นบนใบหน้า
							  	 </p>
						   	</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-forehead2">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        การหย่อนคล้อยของหน้าผาก<br class="hidden-tm">
                        <span class="n-color-wrinkle2">ควรแก้ปัญหาอย่างตรงจุด</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        หลักการศัลยกรรมเอนโดไทน์หน้าผากไม่ซับซ้อนอย่างที่คิด<br class="hidden-tm">
						ใช้วิธีดึงหน้าผากที(หย่อนคล้อย)ขึ้น หลังจากกรีดเล็กๆบริเวณไรผม<br class="hidden-tm">
                        และใช้วัสดุที่เรียกว่า <span class="n-color-wrinkle2">* เอนโดไทน์</span> ยึดหน้าผากไว้ ก่อนทำการเย็บปิดรอยแผล
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        เนื่องจากเป็นวิธีที่ช่วยแก้ปัญหาการ(หย่อนคล้อย)โดยตรง จึงเห็นผลลัพธ์ชัดเจน<br class="hidden-tm">
						และรวดเร็ว นอกจากนี้ยังเป็นการผ่าตัดที่<span class="n-color-wrinkle2">ปรับเปลี่ยนได้ตามสภาพและความกว้างหน้าผากของแต่ละบุคคล<br class="hidden-tm">
                        จึงทำให้คนไข้พึงพอใจกับผลการผ่าตัด</span>
                    </p>
					<div class="new-style1__img">
						<img src="../../images/wrinkle/forehead/forehead_img_8.jpg" loading="lazy" alt="model" class="img-normal"/>
					</div>
                    <div class="inner-box">
						<div class="img-style6">
							<h5 class="new-content-tit tit-new2">วิธีการผ่าตัด เอนโดไทน์หน้าผากของบาโนบากิ</h5>

							<ul class="img-style6__list">
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/wrinkle/forehead/forehead_img_9.jpg" loading="lazy" alt="01 กรีดเป็นรอยเล็กๆบริเวณด้านในของไรผมทำให้ไม่เห็นรอยแผลเป็นหลังผ่าตัด" class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<p class="img-style6__txt2 txt-new1">
													01<br>
													กรีดเป็นรอยเล็กๆบริเวณด้านในของไรผม<br class="hidden-tm">
													ทำให้ไม่เห็นรอยแผลเป็นหลังผ่าตัด
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/wrinkle/forehead/forehead_img_10.jpg" loading="lazy" alt="02 ตรวจสอบตำแหน่งของเส้นประสาทและหลอดเลือดผ่านการส่องกล้องพร้อมกับทำการดึงหน้าผากขึ้น" class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<p class="img-style6__txt2 txt-new1">
													02<br>
													ตรวจสอบตำแหน่งของเส้นประสาทและหลอดเลือดผ่านการส่องกล้อง
													พร้อมกับทำการดึงหน้าผากขึ้น
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/wrinkle/forehead/forehead_img_11.jpg" loading="lazy" alt="03 ตรวจสอบตำแหน่งที่จะทำการฝังเอนโดไทน์บริเวณกะโหลกศีรษะ และตำแหน่งที่จะทำการยกกระชับ เข่น บริเวณหน้าผากและคิ้วหลังจากนั้นจึงฝังเอนโดไทน์ เพื่อยึดเอาไว้" class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<p class="img-style6__txt2 txt-new1">
													03<br>
													ตรวจสอบตำแหน่งที่จะทำการฝัง<span class="n-color-wrinkle2">* เอนโดไทน์</span>บริเวณกะโหลกศีรษะ
													และตำแหน่งที่จะทำการยกกระชับ เข่น บริเวณหน้าผากและคิ้ว
                                                    หลังจากนั้นจึงฝัง<span class="n-color-wrinkle2">* เอนโดไทน์</span> เพื่อยึดเอาไว้
												</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>

						<div class="section-noti txt-new1">
							* ตำแหน่งที่ทำการกรีดและฝังเอนโดไทน์ อาจแตกต่างได้ขึ้นอยู่กับสภาพร่างกายของแต่ละบุคคล
						</div>

						<div class="inner-stripe type-line-zero">
							<ul class="inner-stripe__list">
								<li class="inner-stripe__item">
									<div class="inner-stripe__wrap">
										<div class="inner-stripe__box">
											<div class="inner-stripe__img">
												<img src="../../images/wrinkle/forehead/forehead_img_12.png" loading="lazy" alt="เอนโดไทน์" class="img-responsive">
											</div>
										</div>
										<p class="inner-stripe__subject txt-new1 n-color-wrinkle2">* เอนโดไทน์</p>
										<p class="inner-stripe__txt txt-new1">
											เอนโดไทน์ ได้รับการยอมรับ FDA จากอเมริกา ว่าเป็นวัสดุที่ปลอดภัยและเป็นมิตรกับสิ่งแวดล้อม<br class="hidden-tm">
                                            แตกต่างจากวัสดุอื่น โดยเอนโดไทน์จะช่วยดึงและยกกระชับผิวหนังด้วยแรงที่สม่ำเสมอ
                                            ป้องกันการเกิดผลข้างเคียง และรักษาริ้วรอยได้อย่างเป็นธรรมชาติ สามารถสลายได้เองตามกาลเวลา
                                            และคงผลลัพธ์ได้อย่างต่อเนื่อง จึงนิยมใช้รักษา Anti-Anging
										</p>
									</div>
								</li>
							</ul>
						</div><!--//inner-stripe-->
                    </div>
                </div>
            </div>

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-forehead3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        บาโนบากิ<br class="hidden-tm">
                        <span class="n-color-wrinkle3">ใส่ใจและขยายขอบเขตการรักษาในมุมกว้าง</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        วิธีที่ดีที่สุดในการรักษาการหย่อนคล้อยของหน้าผาก คือการกรีดเป็นรอยเล็กๆ แต่สามารถยกกระชับได้ตั้งแต่หน้าผากไปจนถึงเปลือกตา<br class="hidden-tm">
						ถ้าไม่คำนึงถึงชั้นผิวของหน้าผากที่จะทำการรักษา อาจส่งผลให้ใบหน้าไม่สมมาตร และรูปลักษณ์เปลี่ยนแปลงได้<br class="hidden-tm">
						และถ้ากรีดเปิดแผลกว้างเกินไป อาจทำให้เส้นประสาทและหลอดเลือดภายในได้รับความเสียหาย และรอยกรีดใหญ่ขึ้น<br class="hidden-tm">
						ซึ่งทำให้คนไข้เป็นกังวลกับผลข้างเคียง
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        บาโนบากิจึงเลือกผ่าตัดยกกระชับหน้าผาก ด้วยวิธีการส่องกล้อง<br class="hidden-tm">
                        เพื่อ <span class="n-color-wrinkle3">ลดความกังวลของคนไข้และแก้ปัญหาหย่อนคล้อยให้ได้ผลดียิ่งขึ้น</span>
                    </p>
					<p class="new-style1__txt txt-new1">
                        บาโนบากิขยายขอบเขตการรักษา โดยคิดค้นวิธีการผ่าตัดโดยวิธีส่องกล้อง จากประสบการณ์อันยาว(นาน)<br class="hidden-tm">
						เพื่อตรวจสอบตำแหน่งเส้นประสาทและหลอดเลือด ซึ่งจะ<span class="color-white">ช่วยลดความเสียหายของบาดแผลเป็นหลังผ่าตัด ผลข้างเคียง<br class="hidden-tm">
						และเพิ่มประสิทธิภาพการฟื้นฟู จนได้ผลลัพธ์ที่ดียิ่งขึ้น</span>
                    </p>
					<div class="new-style1__img">
						<img src="../../images/wrinkle/forehead/forehead_img_13.jpg" loading="lazy" alt="model" class="img-normal"/>
					</div>
                    <div class="inner-box">
                        <h5 class="new-content-tit tit-new2">
							การผ่าตัดเอนโดไทน์หน้าผาก<span class="n-color-wrinkle2">ประสิทธิภาพสูง</span>ของบาโนบากิ
						</h5>

						<div class="img-style7">
							<ul class="img-style7__list">
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/wrinkle/forehead/forehead_img_14.png" class="img-w100" loading="lazy" alt="ทีมแพทย์ผู้เชี่ยวชาญด้านศัลยกรรมยกกระชับของบาโนบากิผู้พร้อมด้วยความรู้และทักษะ" />
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											ทีมแพทย์ผู้เชี่ยวชาญ<br class="hidden-tm">
											ด้านศัลยกรรมยกกระชับ<br class="hidden-tm">
                                            ของบาโนบากิ<br class="hidden-tm">
                                            ผู้พร้อมด้วยความรู้และทักษะ
										</h6>
										<p class="img-style7__txt txt-new1">
											ขยายศาสตร์การรักษาวงกว้าง<br class="hidden-tm">
											และแก้ไขรอยเหี่ยวย่นอย่างมีสมดุล
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/wrinkle/forehead/forehead_img_15.png" class="img-w100" loading="lazy" alt="ผ่านการส่องกล้องที่มีความแม่นยำมากขึ้น"/>
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											ผ่านการส่องกล้อง<br class="hidden-tm">
											ที่มีความแม่นยำมากขึ้น
										</h6>
										<p class="img-style7__txt txt-new1">
											การฟื้นตัวอันรวดเร็วโดยไม่มีผลข้างเคียง<br class="hidden-tm">
											และความเสียหายต่อเนื้อเยื่อผิวหนัง
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/wrinkle/forehead/forehead_img_16.png" class="img-w100" loading="lazy" alt="การฝังเอนโดไทน์"/>
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											การฝัง<br class="hidden-tm">
											เอนโดไทน์
										</h6>
										<p class="img-style7__txt txt-new1">
											ผลลัพธ์ที่ต่อเนื่องยาวนาน<br class="hidden-tm">
											และการยึดติดอย่างปลอดภัย
										</p>
									</div>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div>

			<!-- ข้อมูลการผ่าตัด -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-wrinkle">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง ~ 1 ชั่วโมง 30 นาที</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยานอนหลับ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
										<p class="operation-v2__txt txt-new1">เอาออกประมาณ 7 ~ 10 วันหลังผ่าตัด</p>
									</div>
								</li>
								<li class="operation-v2__item nth-7 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">อุปกรณ์ที่ใช้ในการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">เอนโดไทน์หน้าผาก</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ~ 2 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 3~5 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-wrinkle">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									เมื่อฟื้นจากการวางยานอนหลับแล้ว อาจมีอาการวิงเวียนได้ แต่เมื่อเวลาผ่านไปอาการจะดีขึ้น<br>
									ตอนตัดไหมหรือล้างแผลอาจมีอาการเจ็บเล็กน้อย<br>
									หลังผ่าตัด อาจรู้สึกตึงๆในช่วงแรก<br>
									และหลังผ่าตัด ประมาณ 1 อาทิตย์ จะยังไม่สามารถขยับคิ้วได้เต็มที่
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/wrinkle.pdf" target="_blank" class="operation-v2__link"><span>ข้อควรระวังหลังการผ่าตัด</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="bg-style2">
					<h4 class="new-content-tit tit-new2">เป็นการผ่าตัดที่ได้ผลลัพธ์น่าพอใจ </h4>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-elastic">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">การศัลยกรรมร้อยไหมยกกระชับ</h5>
									<p class="bg-style2__txt txt-new1">
										ถ้าหากเอนโดไทน์หน้าผากคือการแก้ปัญหารอยเหี่ยวย่นบริเวณใบหน้าส่วนบน<br class="hidden-tm">
                                        รวมทั้งรอยเหี่ยวบริเวณรอบดวงตา<br class="hidden-tm">
										การร้อยไหมคือการยกกระชับใบหน้าส่วนกลาง – ล่าง
									</p>
									<a href="https://elasticum.thailandbanobagi.com/" target="_blank" class="bg-style2__btn txt-new1">
										<span>ดูข้อมูล การร้อยไหมเพิ่มเติม</span>
									</a>
								</div>
							</div>
						</li>
						<!-- <li class="bg-style2__item type-botox">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">โบท็อกซ์</h5>
									<p class="bg-style2__txt txt-new1">
										สามารถฉีดโบท็อกซ์<br class="hidden-tm">
										เพื่อช่วยป้องการรอยเหี่ยวย่น
									</p>
									<a href="https://www.petitbanobagi.com/petit/petitBotox.php" target="_blank" class="bg-style2__btn txt-new1">
										<span>ดูข้อมูล โบท็อกซ์เพิ่มเติม</span>
									</a>
								</div>
							</div>
						</li> -->
					</ul>
				</div>
			</div>
		</div><!-- //new-content-wrap-->
    </div><!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
