<%
	type = "detail"
	page = "wrinkle"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="wrinkle detail-common"  data-video="true">
    <section class="fs_section wrinkleFirst js-first" data-section-name="home">
        <div class="detail__inner">
            <div class="detail__vertical">
                <p class="detail__first-tit type-wrinkle">
                    ผิวที่เรียบเนียน, เต่งตึงสดใส, สีหน้าที่เป็นธรรมชาติ
                </p>
                <h3 class="detail__first-txt type-wrinkle">
                    <strong class="detail__first-point">อ่อนวัยลงไปจนถึงจิตใจ</strong> <br>
                    ใส่ใจรายละเอียด <span class="color-wrinkle2">ศัลยกรรมยกกระชับ</span> บาโนบากิ
                </h3>
            </div>
        </div>
        <div class="scroll">
            <div class="inner">
                <i></i>
            </div>
            <em>SCROLL</em>
        </div>
    </section>

    <section class="fs_section wrinkleSection01" data-section-name="wrinkleSection01">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-normal type-wrinkle">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมยกกระชับ
                        ที่บาโนบากิ<strong class="color-wrinkle3">ทำอย่างนี้</strong>
                    </h4>
                    <p class="detail__section-subtit">ทีมศัลยแพทย์ผู้เชี่ยวชาญด้านศัลยกรรมยกกระชับโดยเฉพาะ</p>
                    <p class="detail__section-txt">
                        รอยเหี่ยวย่นของใบหน้าเกิดจากการแสดงออกทางสีหน้าเป็นประจำอย่างเป็นเวลานานๆ ดังนั้นการศัลยกรรมยกกระชับจำเป็นต้องเข้าใจถึงการทำงานของกล้ามเนื้อที่ใช้ในการแสดงออกทางสีหน้า ที่
                        <span class="color-wrinkle4">บาโนบากิเราเข้าใจและชำนาญในเรื่องศัลยกรรมยกกระชับ จากประสบการณ์ต่างๆทำให้เราเข้าใจถึงสาเหตุความเสื่อมโทรมของกล้ามเนื้อและสามารถแก้ไข</span>ออกมาให้มีประสิทธิภาพทั้งยังคำนึงถึงการแสดงออกทางสีหน้าที่ออกมาอย่างเป็นธรรมชาติด้วย
                    </p>
                </div>
                <!--layer-doc3-->
                <div class="layer-doc3">
                    <div class="layer-doc3__box">
                        <h5 class="layer-doc3__tit">ศัลยแพทย์ดร.บัน แจซัง หนึ่งใน12ศัลยแพทย์ที่ได้รับการแนะนำโดย GOOD DOCTOR BEST CLINIC</h5>
                        <p class="layer-doc3__txt">ผู้ที่สามารถเข้าถึงหัวใจของการลดเลือนริ้วรอยได้</p>
                    </div>
                </div>
                <!--//layer-doc3-->
            </div>
        </div>
    </section>

    <section class="fs_section wrinkleSection02" data-section-name="wrinkleSection02">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wrinkle">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมยกกระชับ
                        ที่บาโนบากิ
                        ทำให้<strong class="color-wrinkle5">ดูเด็กลงมากขึ้น</strong>
                    </h4>
                    <p class="detail__section-subtit">ผิวหนัง, ไขมัน, กล้ามเนื้อ, กระดูก การศัลยกรรมที่คำนึงถึงปัจจัยทุกส่วนบนใบหน้าที่เป็นสาเหตุการเกิดริ้วรอย</p>
                    <p class="detail__section-txt">
                        ริ้วรอยบนใบหน้าทั้งที่ปรากฏบนผิวหนังและหยั่งลึกไปจนถึงกระดูก รวมไปถึงความเสื่อมสภาพของกล้ามเนื้อ ทำให้ใบหน้าดูเสื่อมวัย ที่บาโนบากิมีวิธีการทำความยืดหยุ่นกับทุกชั้นผิวของใบหน้า เพื่อที่จะฟื้นฟูความงามโดย<span class="color-wrinkle2">ไม่ใช่แค่แก้ไขชั่วคราว แต่เป็นการลดเลือนริ้วรอยให้ได้ผลยาวนานและมีประสิทธิภาพที่ดี นี่คือวิธีที่บาโนบากิทำ</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="fs_section wrinkleSection03" data-section-name="wrinkleSection03">
        <div class="detail__inner type-full">
            <div class="detail__popup type-wrinkle">
                <div class="detail__popup-wrap">
                    <h5 class="detail__popup-tit">การศัลยกรรมยกกระชับแต่ละส่วน<span class="color-wrinkle2">.</span></h5>
                    <p class="detail__popup-subtit">วิธีการลดเลือนริ้วรอยที่หลากหลายในแต่ละส่วน</p>
                    <div class="detail__popup-scroll">
                        <div class="fake-table">
                            <ul class="fake-table__list">
                                <li class="fake-table__item">
                                    <h6 class="fake-table__tit">สัดส่วน</h6>
                                    <p class="fake-table__txt">ระยะเวลา</p>
                                </li>
                                <li class="fake-table__item">
                                    <h6 class="fake-table__tit">ใบหน้าส่วนบน</h6>
                                    <div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">ฉีด</span><br>ฉีดโบหน้าผาก</div></div>
                                    <div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">ฉีด</span><br>แอคทิคอล ฟิลเลอร์กึ่งถาวร</div></div>
                                    <div class="fake-table__txt type-3 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type4">รอยกรีดเล็กที่สุด</span><br>ยกกระชับด้วยการยกคิ้ว</div></div>
                                </li>
                                <li class="fake-table__item">
                                    <h6 class="fake-table__tit">ใบหน้าส่วนกลาง</h6>
                                    <div class="fake-table__txt type-1 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">ฉีด</span><br>ฉีดไขมัน</div></div>
                                    <div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">ฉีด</span><br>แอคทิคอล ฟิลเลอร์กึ่งถาวร</div></div>
                                    <div class="fake-table__txt type-1 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type5">กรีด</span><br>ยกกระชับใบหน้าส่วนกลาง</div></div>
                                </li>
                                <li class="fake-table__item">
                                    <h6 class="fake-table__tit">ใบหน้าส่วนล่าง</h6>
                                    <div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type1">ไม่กรีด</span><br>ยกกระชับด้วยไหมละลาย</div></div>
                                    <div class="fake-table__txt type-2 type-another2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type1">ไม่กรีด</span><br>ปรับรูปหน้าแบบไร้รอยกรีด</div></div>
                                    <div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type1">ไม่กรีด</span><br>ยกกระชับด้วยไหมพิเศษแบบไร้รอยกรีด</div></div>
                                    <div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type2">รอยกรีดเล็กที่สุด</span><br>ยกกระชับด้วยไหมพิเศษแบบกรีด</div></div>
                                    <div class="fake-table__txt type-3 type-another2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type4">กรีด</span><br>ยกกระชับแมกซ์ลิฟต์แบบ full face</div></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" class="detail__popup-close js-popup-close">ปิด</a>
                </div>
            </div>
            <div class="detail__section-wrap type-wrinkle">
                <div class="detail__vertical">
                    <div class="detail__section-box type-wide type-right type-wrinkle">
                        <h4 class="detail__section-tit">
                            ศัลยกรรมยกกระชับ<br>
                            บาโนบากิ
                            รู้<strong class="color-wrinkle3">คำตอบ</strong>ของผลลัพธ์อยู่แล้ว
                        </h4>
                        <p class="detail__section-subtit">ใส่ใจแก้ไขส่วนที่คุณต้องการ &amp; ตกแต่งใบหน้าโดยรวมให้ดูดี</p>
                        <p class="detail__section-txt color-wrinkle4">
                            แต่ละส่วนของใบหน้ามีรูปร่างและทำหน้าที่แตกต่างกัน ดังนั้นระยะความเสื่อมวัยก็ต่างเช่นเดียวกัน ดังนั้นเพื่อเพิ่มประสิทธิภาพในการลดเลือนริ้วรอย เราจำเป็นต้องเข้าใจในลักษณะพิเศษของบริเวณนั้นๆมากกว่าวิธีการผ่าตัด ด้วยประสบการณ์และเทคนิคที่สั่งสมมานานของบาโนบากิทำให้เราสามารถปรับวิธีใช้การรักษาทั้งยกกระชับ, ฉีดไขมัน, ฉีดโบ ในการต่อต้านริ้วรอยบนใบหน้าได้
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail__section-bottom type-wrinkle">
            <div class="detail__section-set">
                การศัลยกรรมยกกระชับแต่ละส่วนของบาโนบากิ
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-wrinkle">pop-up button</a></span>
            </div>
        </div>
    </section>

    <section class="fs_section wrinkleSection04" data-section-name="wrinkleSection04">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wide type-wrinkle">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมยกกระชับ
                        บาโนบากิ
                        <strong class="color-wrinkle3">ศึกษาค้นคว้า</strong>อยู่เสมอ
                    </h4>
                    <p class="detail__section-subtit">การผสมผสานของเทคโนโลยีเพื่อผลลัพธ์ที่ดีมากขึ้น</p>
                    <p class="detail__section-txt">
                        ทีมผู้เชี่ยวชาญของบาโนบากิคอยศึกษาค้นคว้าอยู่เสมอว่ามีวิธีอื่นหรือไม่ที่ให้ผลดีกว่าวิธีทั่วๆไป ผลที่ได้คือการใช้ไหมอิลาสติกกุม พักฟื้นตัวเร็วและผลที่ได้ก็น่าพึงพอใจอย่างมาก ถ้ามีการใช้เสต็มเซลล์คู่ไปด้วย รวมถึงฉีดโบ์ x-car การผสมผสานเทคโนโลยีต่างๆทำให้ประสิทธิภาพดีมากยิ่งขึ้น นี่คือเหตุผลที่ระดับ<span class="color-wrinkle4">ความพึงพอใจหลังผ่าตัดค่อนข้างสูงเพราะประสบการณ์ เทคนิคต่างๆที่บาโนบากิใช้</span>สั่งสมเป็นเวลานาน
                    </p>
                </div>
                <!-- layer-doc4 -->
                <div class="layer-doc4 type-wrinkle">
                    <ul class="layer-doc4__list">
                        <li class="layer-doc4__item nth-1">
                            <div class="layer-doc4__wrap">
                                <h5 class="layer-doc4__tit">ไหมอิลาสติกกุม</h5>
                                <p class="layer-doc4__txt">
                                    บาโนบากิเป็นผู้เริ่มต้นศึกษา
                                    การใช้ไหมอิลาสติกกุม
                                    ในการยกกระชับ
                                </p>
                            </div>
                        </li>
                        <li class="layer-doc4__item nth-2">
                            <div class="layer-doc4__wrap">
                                <h5 class="layer-doc4__tit">svf ฉีดไขมันเสต็มเซล</h5>
                                <p class="layer-doc4__txt">
                                    ฉีดไขมันควบคู่กับเสต็มเซล
                                    เพื่อให้เซลฟื้นฟูเกิดใหม่
                                    อยู่ได้นานมากขึ้น
                                </p>
                            </div>
                        </li>
                        <li class="layer-doc4__item nth-3">
                            <div class="layer-doc4__wrap">
                                <h5 class="layer-doc4__tit">X-Tox</h5>
                                <p class="layer-doc4__txt">
                                    การผสมผสาระหว่าง
                                    เครื่องมือลดรอยแผลเป็น
                                    กับฉีดโบเพื่อเพิ่มประสิทธิภาพ
                                    ในการรักษาริ้วรอยลึก
                                    และแผลเป็นให้ได้ดีขึ้น
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- //layer-doc4 -->
            </div>
        </div>
    </section>

    <section class="fs_section wrinkleSection05" data-section-name="wrinkleSection05">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wide type-wrinkle">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมยกกระชับ
                        บาโนบากิ
                        คือผู้ใส่ใจ<strong class="color-wrinkle5">รายละเอียด</strong>
                    </h4>
                    <p class="detail__section-subtit">เพื่อให้คนไข้พักฟื้นตัวอย่างรวดเร็ว และไม่ต้องกังวลเรื่องวิธีผ่าตัด</p>
                    <p class="detail__section-txt">
                        ผู้คนที่กำลังคิดถึงการศัลยกรรมยกกระชับส่วนใหญ่มักจะกังวลเรื่องยาที่ใช้ตอนผ่าตัด, ระยะเวลาพักฟื้น, รวมไปจนถึงกังวลเรื่องอาการเจ็บปวด นับเป็นสิ่งที่ต้องใส่ใจ ดังนั้นที่บาโนบากิจึงศึกษาหาวิธีการศัลยกรรมยกกระชับโดยเน้นถึงผลลัพธ์ให้ออกมาดีเป็นอันดับแรก และต้องมาพร้อมกับความปลอดภัย การพักฟื้นต้องหายอย่างเร็ว นับเป็นสิ่งที่<span class="color-wrinkle2">ทีมแพทย์บาโนบากิคอยคิดค้นขั้นตอนและวิธีการผ่าตัดแบบใหม่อยู่เสมอ</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="fs_section wrinkleSection06" data-section-name="wrinkleSection06">
        <div class="video">
            <div class="video__desc">
                <div class="video__tit">BANOBAGI Anti-aging Surgery</div>
                <div class="video__txt1">Semi-permanent durability for over 10 years</div>
            </div>
            <div class="video__wrap">
                <iframe id="onepage-video__iframe" class="video__item" src="https://player.vimeo.com/video/268716062?muted=1&autoplay=1&loop=1" frameborder="0" id="vimeo_main_iframe" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                <div class="video__screen"></div>
            </div>
            <div class="video__btn-area">
                <span class="video__btn--counsel js-c-open">การปรึกษา</span>
            </div>
        </div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
