<%
	type = "review"
	page = "epilogue"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h2 class="container__tit type-epilogue">รีวิวศัลยกรรม</h2>
		<p class="container__txt">คลิกเพื่ออ่านเรื่องราวหลังผ่าตัดที่บาโนบากิ</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="board">
			<div class="review type-view">
				<div class="scroll-btn">
					<ul class="scroll-btn__list">
						<li class="scroll-btn__item">
							<a href="" class="scroll-btn__link js-scroll-up">
								<i class="fa fa-caret-up"></i>
								ด้านบน
							</a>
						</li>
						<li class="scroll-btn__item">
							<a href="" class="scroll-btn__link js-scroll-down">
								ด้านล่าง
								<i class="fa fa-caret-down"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="gallery">
					<h3 class="gallery__tit">문어의 윤곽3종+눈매교정+코 후기★☆</h3>
					<div class="gallery__wrap">
						<div class="gallery__scroll">
							<ul class="gallery__list">
								<li class="gallery__item is-active">
									<div class="gallery__img">
										<img src="../../images/review/epilogue/epi_view_img01.jpg" loading="lazy" alt="" class="img-responsive">
									</div>
									<div class="gallery__box">
										<p class="gallery__txt">파이널 파이널 파이널 파이널</p>
										<i class="gallery__icon fa fa-chevron-down"></i>
									</div>
									<a href="" class="gallery__link js-gallery-link">상세보기</a>
								</li>
								<li class="gallery__item">
									<div class="gallery__img">
										<img src="../../images/review/epilogue/epi_view_img01.jpg" loading="lazy" alt="" class="img-responsive">
									</div>
									<div class="gallery__box">
										<p class="gallery__txt">파이널 파이널 파이널 파이널</p>
										<i class="gallery__icon fa fa-chevron-down"></i>
									</div>
									<a href="" class="gallery__link js-gallery-link">상세보기</a>
								</li>
								<li class="gallery__item">
									<div class="gallery__img">
										<img src="../../images/review/epilogue/epi_view_img01.jpg" loading="lazy" alt="" class="img-responsive">
									</div>
									<div class="gallery__box">
										<p class="gallery__txt">파이널 파이널 파이널 파이널</p>
										<i class="gallery__icon fa fa-chevron-down"></i>
									</div>
									<a href="" class="gallery__link js-gallery-link">상세보기</a>
								</li>
							</ul>
						</div>
						<div class="gallery__content is-active"><!-- //여백있는이미지 type-old 추가 -->
							<a href="" class="gallery__close js-gallery-close">닫기</a>
							<div class="gallery__inner">
								저는 바노바기에서<br>안면윤곽3종(광대,사각턱,앞턱)<br>부분절개눈매교정<br>코(콧대,코끝)<br>수술을 받았습니다.<br><br>
			                    지금 수술한지 7개월 정도 됐어요~<br>
			                    너무 예뻐진 얼굴로 잘 지내고 있습니다!<br>
			                    수술 전부터 지금까지 후기 다시 정리 해드리려구요~<br><br>

			                    <img src="../../images/review/epilogue/epi_con_img01.jpg" loading="lazy" alt=""><br>

			                    수술 전에는 얼굴형이 매끄럽지 못했어요.<br>
			                    광대와 사각턱이 도드라졌습니다.<br>
			                    눈은 양쪽 쌍꺼풀 라인이 완전 짝짝이어서..<br>
			                    늘 두꺼운 화장으로 가리고 다녔고요.<br>
			                    코는 낮고 뭉툭해서 너무 큰 콤플렉스였어요ㅠ <br>
			                    얼굴이 여성스럽다기보다는 남자같아서<br>
			                    인상이 사나워 보이기도 했고요. 정말 큰 스트레스였습니다. <br><br>

			                    늘 두꺼운 화장을 하는게 힘들었고 <br>
			                    제 나이에 맞는 연한 화장과 선한 인상을 가지고 싶었습니다.<br>
			                     성형외과의 정보를 찾아 보던 중 우연히 바노바기 성형외과를 알게 되었어요.<br>
			                    유명하고 큰 병원이기에 큰 고민 없이 바노바기에서 성형을 하기로 결심했습니다. <br><br>

			                    <img src="../../images/review/epilogue/epi_con_img02.jpg" loading="lazy" alt=""><br>

			                    수술 당일!<br>
			                    입원실 들어가자마자 찍은 사진이에요 ㅇㅅㅇ<br>
			                    간호사 선생님이 심호흡 크게 해야<br>
			                    마취 깰 때 미식거리지 않고 어지럽지 않다고하셔서<br>
			                    졸린 상태였지만 계속 심호흡 해주니까<br>
			                    미식거림이나 어지러움 하나도 못 느꼈어요!<br><br>

			                    마취가 서서히 깰때여서 턱 욱신거림과 눈땅김이 있었지만<br>
			                    친구들한테 카톡 보낼 수 있을만큼의 정신은 있었어요 ㅎ<br>
							</div><!-- //gallery__inner-->
						</div><!-- //gallery__content-->
					</div><!-- //gallery__wrap-->
				</div><!-- //gallery-->
				<p class="review__noti">
					<span class="review__point">การนำภาพหรือบทความด้านบนไปใช้โดยมิได้รับอนุญาตถือเป็นการละเมิดลิขสิทธิ์อาจถูกดำเนินการตามกฎหมายได้</span>
				</p>
			</div><!-- //review -->
			<div class="page">
				<ul class="page__list">
					<li class="page__item type-prev">
						<div class="page__wrap">
							<a href="" class="page__link">
								<span class="page__btn">ก่อนหน้า</span>
								<span class="page__overflow js-menu-link">바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼 리뉴얼 바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼 리뉴얼</span>
							</a>
						</div>
					</li>
					<li class="page__item type-next">
						<div class="page__wrap">
							<a href="" class="page__link">
								<span class="page__btn">ถัดไป</span>
								<span class="page__overflow js-menu-link">바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼</span>
							</a>
						</div>
					</li>
				</ul>
			</div><!--//page-->
			<div class="page-bottom">
				<a href="" class="page-bottom__btn">รายการ</a>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
