<%
	type = "review"
	page = "photo"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h3 class="container__tit photo">โซนรูปถ่าย</h3>
		<p class="container__txt">คลิกเพื่อดูการเปลี่ยนแปลงอันเหลือเชื่อของคนที่เข้ารับการผ่าตัดที่บาโนบากิ</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="review">
			<div class="gender">
				<form action="" class="gender__form">
					<input type="radio" name="gender" id="gender_f" value="F" class="gender__input type-f" checked="checked">
					<label for="gender_f" class="gender__label">여</label>
					<input type="radio" name="gender" id="gender_m" value="M" class="gender__input type-m">
					<label for="gender_m" class="gender__label">남</label>
				</form>
			</div>

			<div class="category-tab">
				<ul class="category-tab__list">
					<li class="category-tab__item is-active">
						<a href="" class="category-tab__link">ทั้งหมด</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">ปรับรูปหน้า</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">รูปร่าง</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">หน้าอก</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">ตา</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">จมูก</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">ริ้วรอย</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">สเต็มเซลล์</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">ศัลยกรรมแก้ไข</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">สเปเชียล</a>
					</li>
				</ul>
			</div>

			<!--검색결과값 -->
			<!-- <div class="keyword-result">
				<div class="keyword-result__inner"><span class="point-color">올포원사각턱</span>에 대한 <span class="point-color">6건</span>의 검색 결과가 있습니다. </div>
			</div> -->
			<!--검색결과값 -->
			<div class="photo-keyword">
				<div class="photo-keyword__box">
					<div class="photo-keyword__wrap">
						<label for="p_keyword" class="photo-keyword__label">검색어</label>
						<div class="photo-keyword__area">
							<input type="text" class="photo-keyword__input" id="p_keyword" name="p_keyword" placeholder="ค้นหาภาพก่อนหลังผ่าตัดได้ที่นี่">
							<button type="submit" class="photo-keyword__btn">검색</button>
						</div>
					</div>
				</div>
			</div>
			<!--검색결과 없을시 -->
			<!-- <div class="no-data text-center">
				<p class="no-data__txt"><span class="point-color">안녕하세요</span>에 대한 검색 결과가 없습니다.</p>
			</div> -->
			<!--//검색결과 없을시 -->
			<div class="photo-slide">
				<!-- 첫번째 이미지 -->
				<div class="photo-slide__wrap type-big is-active">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_01_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">수술 후 6개월</span>

							<!-- 리얼스토리가 있을 경우 리얼스토리 로고 -->
							<a href="" class="photo-realstory">
								<span class="photo-realstory__box">
									<img src="../../images/common/plus_icon.png" loading="lazy" alt="" class="photo-realstory__img">
									<span class="photo-realstory__txt">เรียลสตอรี่</span>
								</span>
							</a>

							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_01_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">정면</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">반측면</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">측면</a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
						<p class="photo-slide__txt">
							<!-- 수술 부위 검색 시 해당 부위 링크 및 하이라이트 -->
							<a href="" class="photo-slide__part">
								<span class="photo-slide__highlight">양악 + 올포원사각턱 + 광대축소 + 앞턱</span>
							</a> + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)
						</p>
					</div>
				</div>
				<!-- 두번째 이미지 -->
				<div class="photo-slide__wrap type-big">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_02_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">수술 후 6개월</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_02_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">정면</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">반측면</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">측면</a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
									<!-- 수술 부위 검색 시 해당 부위 링크 및 하이라이트 -->
						<a href="" class="photo-slide__part">
							<span class="photo-slide__highlight">양악 + 올포원사각턱 + 광대축소 + 앞턱</span>
						</a> + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)
					</div>
				</div>
				<!-- 세번째 이미지 -->
				<div class="photo-slide__wrap type-big">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_03_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">수술 후 6개월</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_03_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">정면</a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
									<!-- 수술 부위 검색 시 해당 부위 링크 및 하이라이트 -->
						<a href="" class="photo-slide__part">
							<span class="photo-slide__highlight">양악 + 올포원사각턱 + 광대축소 + 앞턱</span>
						</a> + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)
					</div>
				</div>
				<!-- 네번째 이미지 -->
				<div class="photo-slide__wrap type-big">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_04_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">수술 후 6개월</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_04_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">정면</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">반측면</a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
						<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마) 양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마) 양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,</p>
					</div>
				</div>
				<a href="" class="photo-slide__btn type-prev js-slide-prev">이전</a>
				<a href="" class="photo-slide__btn type-next js-slide-next">다음</a>
			</div>
			<p class="photo-slide__noti">※ คลิกส่วนที่ได้รับการผ่าตัด เพื่อไปยังรูปก่อน-หลังผ่าตัด</p>
			<div class="photo-thum">
				<ul class="photo-thum__list">
					<li class="photo-thum__item is-active">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<!-- before 가리기 -->
										<div class="photo-dim-s">
											<div class="photo-dim-s__box">
												<div class="photo-dim-s__vertical">
													<p class="photo-dim-s__txt">Before</p>
												</div>
											</div>
										</div>
										<!-- //before 가리기 -->
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_01_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">수술 후 6개월</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_01_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<!-- 수술 부위 검색 시 해당 부위 링크 및 하이라이트 -->
									<a href="" class="photo-slide__part">
										<span class="photo-slide__highlight">양악 + 올포원사각턱 + 광대축소 + 앞턱</span>
									</a> + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
					<li class="photo-thum__item">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<!-- before 가리기 -->
										<div class="photo-dim-s">
											<div class="photo-dim-s__box">
												<div class="photo-dim-s__vertical">
													<p class="photo-dim-s__txt">Before</p>
												</div>
											</div>
										</div>
										<!-- //before 가리기 -->
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_02_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">수술 후 6개월</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_02_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<!-- 수술 부위 검색 시 해당 부위 링크 및 하이라이트 -->
									<a href="" class="photo-slide__part">
										<span class="photo-slide__highlight">양악 + 올포원사각턱 + 광대축소 + 앞턱</span>
									</a> + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
					<li class="photo-thum__item">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<!-- before 가리기 -->
										<div class="photo-dim-s">
											<div class="photo-dim-s__box">
												<div class="photo-dim-s__vertical">
													<p class="photo-dim-s__txt">Before</p>
												</div>
											</div>
										</div>
										<!-- //before 가리기 -->
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_03_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">수술 후 6개월</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_03_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<!-- 수술 부위 검색 시 해당 부위 링크 및 하이라이트 -->
									<a href="" class="photo-slide__part">
										<span class="photo-slide__highlight">양악 + 올포원사각턱 + 광대축소 + 앞턱</span>
									</a> + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
					<li class="photo-thum__item">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<!-- before 가리기 -->
										<div class="photo-dim-s">
											<div class="photo-dim-s__box">
												<div class="photo-dim-s__vertical">
													<p class="photo-dim-s__txt">Before</p>
												</div>
											</div>
										</div>
										<!-- //before 가리기 -->
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_04_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">수술 후 6개월</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_04_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<!-- 수술 부위 검색 시 해당 부위 링크 및 하이라이트 -->
									<a href="" class="photo-slide__part">
										<span class="photo-slide__highlight">양악 + 올포원사각턱 + 광대축소 + 앞턱</span>
									</a> + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
				</ul>
			</div>
			<p class="review__noti">
				<span class="review__point">การนำภาพหรือบทความด้านบนไปใช้โดยมิได้รับอนุญาตถือเป็นการละเมิดลิขสิทธิ์อาจถูกดำเนินการตามกฎหมายได้</span>
				รูปที่เห็นอาจมีความแตกต่างกับตัวจริงขึ้นอยู่กับองค์ประกอบของการถ่ายภาพ, <span class="inline-block">ภาพนี้ได้รับความยินยอมจากคนไข้แล้ว</span>
			</p>
		</div><!-- //review-->
		<div class="pagination">
			<ul class="pagination__list">
				<li class="pagination__item pagination__item-first">
					<a href="" class="pagination__link">처음</a>
				</li>
				<li class="pagination__item pagination__item-prev">
					<a href="" class="pagination__link">이전</a>
				</li>
				<li class="pagination__item pagination__item-num is-active">
					<a href="" class="pagination__link">1</a>
				</li>
				<li class="pagination__item pagination__item-num is-acitve">
					<a href="" class="pagination__link">2</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">3</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">4</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">5</a>
				</li>
				<li class="pagination__item pagination__item-next">
					<a href="" class="pagination__link">다음</a>
				</li>
				<li class="pagination__item pagination__item-last">
					<a href="" class="pagination__link">마지막</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
