.new-visual{
	$this:&;
	&.type-relocation{
		&:before{
			@include background('../images/eye/relocation/relocation_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $eye1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-relocation{
			&:before{
				@include background('../images/eye/relocation/relocation_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-relocation{
			&:before{
				@include background('../images/eye/relocation/relocation_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;

	&.type-relocation{background: #06756d;
        #{$this}__tit{color: #fff;}
        #{$this}__txt{color: #fff;}
        #{$this}__txt2{color: #aaa;}
    }
    &.type-relocation2{background: #eee;}
	&.type-relocation3{background: #ebd5af;}
	&.type-relocation4{background: #002b1d;
		#{$this}__tit{color: #fff;}
	}
}
