/* 절개쌍커풀*/
$incision-color1:#14956b;
.color-incisional1{color:#14956b;}
.color-incisional2{color:#baffe9;}
.highlight-incisional1{background-color:#fff; color:#333;}
.highlight-incisional2{background-color:#666666; color:#fff;}

.incisional-box1{
	.content-section{ max-width:1070px; margin:0 auto; margin-top: 240px; text-align: left;}
	.content-section__wrap{margin-left:0; margin-top:0;
		&:after{content: '';display: block;clear: both;}
	}
	.content-section__box1{
		&.type-w4{float:left; width: 50%; padding-left:29px; padding-right:23px;box-sizing: border-box;}
		&.type-w6{float:left; width: 50%;}
	}
	.content-section__txt1{padding-right:9%;}
	.content-section__txt2{position:relative; margin-top: 100px; font-size:17px; font-style: italic; letter-spacing: -1px; }
	.content-section__txt2:before{content:''; display:inline-block; position:absolute; left:0; top: -45px; width:24px; height:17px; background:url('../images/eye/incisional-sec1-quotes.png') 0 0 / 24px 17px no-repeat;}
	.content-section__border{border: 3px solid #b2b2b2; border-radius:10px; padding:60px 0;}
	.content-section__txt3{margin: 0;font-weight:300; font-size:20px; word-break:break-all; letter-spacing: 0px; padding:0 14%; color:#333333; text-align:center; line-height:180%; letter-spacing:-1px;}
	.content-section__txt3 span{border-bottom:1px solid #969696;}
	.content-section__txt3 strong{font-weight: 400;}
	.content-section__img{
		&.sec1-thumb{font-size:0; padding-top:70px; padding-right:30px;}
	}

	@media only screen and (max-width:$tablet-size){
		.content-section{margin-top: 20px;}
		.content-section__txt1{ margin-top:30px;}
		.content-section__txt3{padding:0 5%; font-size:20px; margin:0;}
		.content-section__box1{
			&.type-w6{float:none; width:auto;margin-top:0px; padding-left:0;}
			&.type-w4{float:none; width:auto; padding:0; }
			&.type-w6 img{display:none;}
		}
		.content-section__img{ float:none; width:100%;
			&.sec1-thumb{ padding-bottom:81.42%; height:0; position:relative; margin-top:70px; }
			&.sec1-thumb:before{ background: url('../images/eye/incisional-sec1_01.png') bottom / contain no-repeat; content:''; position: absolute; left:0; top:0px; width: 100%; height:100%; display:block; }
		}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section__tit{margin-left: -5px;}
		.content-section{margin-top: 10px;}
		.content-section__txt2:before{content:''; display:inline-block; position:absolute; left:0; top: -22px; width:12px; height:9px; background:url('../images/eye/incisional-sec1-quotes_680.png') 0 0 / 12px 9px no-repeat;	}
		.content-section__txt3{ letter-spacing: 0;font-size: 1.4rem; margin-top:0; line-height:1.6; padding:0 5%;}
		.content-section__border{ border: 3px solid #b2b2b2; border-radius:5px; padding:25px 0;}
		.content-section__box1{
			&.type-w6{padding:0;}
			&.type-w6:before{background:url('../images/contour/contour_cheekbone_section02_680.png') center top/ contain no-repeat;}
		}
	}
}


/* SITE BOX5 */
.incisional-box2{padding:150px 110px; background-color:#1b372e; margin-top:240px;
	$this:&;
	&__tit{font-size:50px; font-weight:200; margin:0 auto; text-align:center; color:#fff;
		strong{font-weight:400;}
	}
	@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:90px 0px; margin-top:100px;
		&__wrapper{
			&.type-wrapper{padding:0px 23.43%;}
			}
		&__box{
			&.type-img{width:100%; height:0; padding-bottom:53.48%;}
			&.type-txt{width:100%; height:auto;}
		}
		&__tit{max-width:510px; line-height:130%;}
	}

	@media only screen and (max-width:$mobile-size){margin:0 -20px; padding:41px 0px; margin-top:50px;
		&__wrapper{
			&.type-wrapper{padding:0px 16.68%;}
		}
		&__tit{font-size:3.0rem; max-width:240px;}
		&__list{margin-top:25px;}
	}
}

.item-box3{
	$this:&;
	&.type-incisional{margin-top:70px;
		#{$this}__item{ border: none;
			&.nth-1{
				#{$this}__box:before{background: url(../images/eye/incisional-sec2-01.jpg) center center / cover no-repeat;}
			}
			&.nth-2{
				#{$this}__box:before{background: url(../images/eye/incisional-sec2-02.jpg) center center / cover no-repeat;}
			}
			&.nth-3{
				#{$this}__box:before{background: url(../images/eye/incisional-sec2-03.jpg) center center / cover no-repeat;}
			}

		}
	}


	@media only screen and (max-width:$tablet-size){
		&.type-incisional{margin-top:40px;}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-incisional{margin-top:25px;}
	}
}

.incisional-box3{
	.content-section{
		.box{text-align: center;}
	}
	.content-section__box1{
		&.type-sort{text-align: center;}
		&.sec2-space{ margin-top: 60px; }
	}

	.content-section__img-wrap{
		&.type-width{ width:1060px; margin:0 auto; margin-top:60px; box-sizing: border-box;}
		&:after{content: '';display: block;clear: both;}
	}
	.content-section__item{padding:0 10px;}
	.content-section__item img{width: 100%;}
	.content-section__img{float:left; width: 50%;}
	.content-section__txt .line{display:inline-block;}
	.content-section__txt-big{font-size:26px; color: #333; text-align: center; line-height:1.5; font-weight:300;}
	.brace{margin-top: 66px;}
	.brace__txt{font-weight: 300; font-size: 26px; line-height: 1.5;}
	.content-section__box1{padding:0 92px;}
	@media only screen and (max-width:$tablet-size){
		.content-section__txt1{padding: 0 35px;}
		.content-section__img-wrap{margin-top:40px; padding:0 65px;}
		.content-section__item img{display:block;}
		.content-section__img{float:none; width:100%;}
		.content-section__img + .content-section__img{margin-top: 20px;}
		.content-section__img-wrap{
			&.type-width{width: 100%;}
		}
		.brace{padding: 0;}
		.content-section__box1{padding:0;}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section__box1{
			&.sec2-section{text-align:center;}
			&.sec2-bg{padding:0 30px;}
			&.type-sort{text-align: center;}
		}
		.content-section__txt1{ margin-top:25px; padding:0px;
			&.sec2-txt{font-size:1.0rem; font-weight:100; height:30px;}}


		.content-section__img-wrap{padding:0; margin-top:24px;}
		.content-section__item{padding:0;}
		.content-section__img + .content-section__img{margin-top:10px;}
		.content-section__img{height:auto;}
		.content-section__desc{
			&.type-wide{height:30px;}
		}
		.content-section__box1{
			&.sec2-space{margin-top:35px;}
		}
		.brace{margin-top: 40px;padding: 15px 10px;}
		.brace__txt{font-size: 1.5rem;}

		.brace.type-incisional.type-incisional:before{
			left: -8px;
		}
		.brace.type-incisional.type-incisional:after{
			right: -8px;
		}
	}


}

.incisional-box4{
	.content-section__wrapper{
		&.type-bg{height:1275px;padding-right:110px; padding-top: 140px;  background:url('../images/eye/eye_incisional_bg01.jpg') 0 0 / cover no-repeat;box-sizing: border-box;}
		&.type-desc{width:530px; float:right; text-align:left;}

		&:after{content: '';display: block;clear: both;}
	}

	.content-section__number{ color: #f5f5f5;}
	.content-section__number-wrap:after{background-color: #b9b2b3;}
	.content-section__tit{margin-left: -30px;}
	.content-section__question1{display:inline-block; font-size:22px; font-weight:300; margin:95px 0 0 0; padding:0 8px; font-style:italic;}
	.content-section__txt1{position:relative;}
	.content-section__dot{ position:absolute; left:0; bottom:-55px; width:4px; height:28px; background:url('../images/eye/eye-dotdotdot.png') 0 0 / 4px 28px no-repeat;}

	@media only screen and (max-width:$tablet-size){
		.content-section{margin: 0 -65px; margin-top: 100px;}
		.content-section__wrapper{
			&.type-bg{height:auto; padding-right:0; padding-top: 0; background: none;}
			&.type-desc{width:100%; float:none; text-align:left;}
			&.type-bg--tm{padding-left: 43%;padding-right:45px; height:670px; background:#f1f3f5 url('../images/eye/eye_incisional_bg01_990.jpg') 0 0 / cover no-repeat;box-sizing: border-box;}
		}
		.content-section__question1{padding:4px 8px 0px;}
		.content-section__tit{float:right; margin-top:114px}
		.content-section__desc{padding:0 65px 85px; background-color:#f1f3f5;}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section{margin: 0 -20px; margin-top: 75px;}
		.content-section__wrapper{
			&.type-bg--tm{padding-right:10px; height:332px; background:#f1f3f5 url('../images/eye/eye_incisional_bg01_680.jpg') 0 0 / cover no-repeat;}
		}

		.content-section__number{ color: #898989;}

		.content-section__number-wrap:after{background-color: #898989;}

		.content-section__tit{float:right; margin-top:50px;  font-size: 2.2rem;}
		.content-section__desc{padding:0 20px 40px;}
		.content-section__question1{font-size:1.6rem; margin-top:50px;padding:2px 4px 0px;}
		.content-section__txt1{ margin-top:16px;}
		.content-section__dot{ left:0; bottom:-35px; width:2px; height:14px; background-size:2px 14px;}
	}

}
.incisional-box5{
	.content-section__wrapper{
		&.type-width{width:1080px; margin:0 auto;}
		&.type-contents{width:780px; margin:0 auto;}
	}
	.content-section__txt1{
		&.type-special{padding: 0 5%;}
	}

	.content-section__txt3{font-size:14px; font-weight:300; margin-top:25px; letter-spacing:-1px; color:#999; }

	@media only screen and (max-width:$tablet-size){
		&.sec4{padding-bottom:75px;}
		.content-section__wrapper{
			&.type-width{width:auto;}
			&.type-contents{width:640px;}
		}
		.content-section__txt3{margin-top:45px;}
	}
	@media only screen and (max-width:$mobile-size){
		.content-section__wrapper{
			&.type-contents{width:auto;}
		}
		.content-section__txt3{font-size:1.2rem; margin-top:12px;}
		.content-section__txt3 .line{display:inline-block;}
	}
}

.after-surgery{
	$this:&;
	&__list{margin: 0 0 0 -40px;padding: 0;list-style: none;
		&:after{content: '';display: block;clear: both;}
	}
	&__item{float:left; width:50%;margin-top:40px; padding-left:40px;list-style:none;box-sizing: border-box;}
	&__item:nth-child(2n+1){clear:both;}
	&__thumb{font-size:0; height:120px; background: 0 0 / cover no-repeat;}
	&__thumb{
		&.img01{background-image:url('../images/eye/incisional-sec4-01.jpg')}
		&.img02{background-image:url('../images/eye/incisional-sec4-02.jpg')}
		&.img03{background-image:url('../images/eye/incisional-sec4-03.jpg')}
		&.img04{background-image:url('../images/eye/incisional-sec4-04.jpg')}
	}
	&__desc{height:50px; background-color:$incision-color1;}
	&__desc{
		&.color{background-color:#c4c4c4;}
	}
	&__txt1{position:relative; margin: 0;font-size:22px; font-weight:300; height:100%; letter-spacing:-1px; color:#fff; vertical-align:middle;}
	&__txt1:before{content:''; display:inline-block; height:100%; vertical-align:middle;}

	@media only screen and (max-width:$tablet-size){
		&__txt1{font-size:18px;}
		&__desc{height:40px;}
		&__list{margin-left:-30px; }
		&__item{margin-top:30px; padding-left:30px;list-style:none;}
		&__thumb{height:98px;}
		&__thumb{
			&.img01{background-image:url('../images/eye/incisional-sec4-01_990.jpg')}
			&.img02{background-image:url('../images/eye/incisional-sec4-02_990.jpg')}
			&.img03{background-image:url('../images/eye/incisional-sec4-03_990.jpg')}
			&.img04{background-image:url('../images/eye/incisional-sec4-04_990.jpg')}
		}
	}

	@media only screen and (max-width:$mobile-size){
    	&__list{margin-left:-15px; }
    	&__item{margin-top:15px; padding-left:15px;list-style:none;}
    	&__desc{height:18px;}
    	&__txt1{font-size:1.1rem;}
    	&__thumb{height:45px;}
    	&__thumb{
    		&.img01{background-image:url('../images/eye/incisional-sec4-01_990.jpg');}
    		&.img02{background-image:url('../images/eye/incisional-sec4-02_990.jpg');}
    		&.img03{background-image:url('../images/eye/incisional-sec4-03_990.jpg');}
    		&.img04{background-image:url('../images/eye/incisional-sec4-04_990.jpg');}
    	}
	}

}

.open-close{
	$this:&;
	&__list{margin: 0 0 0 -40px;padding: 0;list-style: none;
		&:after{content: '';display: block;clear: both;}
	}
	&__item{float:left; width:50%;margin-top:40px; padding-left:40px; list-style:none;box-sizing: border-box;}
	&__thumb{font-size:0; height:190px; background: 0 0 / cover no-repeat;}
	&__thumb{
		&.img01{background-image:url('../images/eye/incisional-sec4-05.jpg')}
		&.img02{background-image:url('../images/eye/incisional-sec4-06.jpg')}
	}
	@media only screen and (max-width: $tablet-size){
		&__list{margin-left:-30px; }
		&__item{margin-top:30px; padding-left:30px;list-style:none;}
		&__thumb{height:145px;}
		&__thumb{
			&.img01{background-image:url('../images/eye/incisional-sec4-05_990.jpg')}
			&.img02{background-image:url('../images/eye/incisional-sec4-06_990.jpg')}
		}
	}

	@media only screen and (max-width:$mobile-size){
		&__list{margin-left:-15px; }
		&__item{margin-top:15px; padding-left:15px;list-style:none;}
		&__thumb{height:72px;}
		&__thumb{
			&.img01{background-image:url('../images/eye/incisional-sec4-05_680.jpg')}
			&.img02{background-image:url('../images/eye/incisional-sec4-06_680.jpg')}
		}
	}
}


.site-box1{position:relative; padding-top:80px;
	&:before{position:absolute; top:0; left:0; right:0; width:40px; height:27px; margin:0 auto; background:url('../images/common/q_left_m.png') no-repeat center center;
		background-size:contain; content:'';}
	&__txt1{font-size:34px; font-weight:300; line-height:1.6; word-break: break-all;
		& strong{font-weight:400;}
	}
	&__txt2{margin-top:44px; font-size:16px; color:#666; line-height:1.8; word-break: break-all;}

	@media only screen and (max-width:$tablet-size){
		&__txt1{margin:0 -15px;}
		&__txt2{margin-top:44px;}
	}

	@media only screen and (max-width:$mobile-size){padding-top:44px;
		&:before{width:20px; height:13px; background-size:contain;}
		&__txt1{margin:0; font-size:2.1rem;}
		&__txt2{margin-top:30px; font-size:1.4rem;}
	}
}
.site-wrap{width:1064px; margin:0px auto;
	@media only screen and (max-width:$minpc-size3){width:100%;}
}
.site-circle{margin-top:80px;
	&__img{position:relative; width:100%; height:0; padding-bottom:49.64%; background:url('../images/body/body_circle_img.png') no-repeat center bottom / contain;}
	&__box{position:absolute; top:90px; width:258px; height:258px; background:url('../images/body/body_circle.png') no-repeat center center / cover;
		&.type-left{left:0;}
		&.type-right{right:0;}
	}
	&__wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
	&__tit{font-size:30px; font-weight:200; line-height:1.16;}
	&__point{display:block; color:#ff9f2e; font-weight:400;}

	@media only screen and (max-width:$tablet-size){margin-top:60px;
		&__img{padding-bottom:71.48%;}
		&__box{top:auto; bottom:95px; width:220px; height:220px;
			&.type-left{left:0;}
			&.type-right{right:0;}
		}
		&__tit{font-size:25px;}
	}

	@media only screen and (max-width:$mobile-size){margin-top:25px;
		&__img{padding-bottom:71.48%;}
		&__box{bottom:25px; width:110px; height:110px;
			&.type-left{left:0;}
			&.type-right{right:0;}
		}
		&__tit{font-size:1.4rem;}
	}
}
.site-box2{ background:url('../images/body/body_site_img02_1.png') no-repeat right 20px bottom 20px; padding-left:40px; padding-right:726px; text-align:left; word-break: break-all;
	$this:&;
	&.type-lower{padding-bottom:140px; background:url('../images/body/body_site_img02_2.png') no-repeat right bottom;
		& + .list-box{margin-top:0;}
	}
	&.type-forearm{padding-bottom:140px; background:url('../images/body/body_site_img02_3.png') no-repeat right bottom;
		& + .list-box{margin-top:0;}
	}
	& .content-section__tit{display:block;}
	& .content-section__number{left:auto; right:0;}
	& .quotation2__txt{font-size:19px; }
	&__img{display:none;}

	@media only screen and (max-width:$minpc-size3){padding:0; background:none;
		&.type-lower{padding-bottom:0; background:none;
			#{$this}__img{ padding-bottom:94.68%; background:url('../images/body/body_site_img02_2_t.jpg'); background-size:cover;}
			& + .list-box{margin-top:100px;}
		}
		&.type-forearm{padding-bottom:0; background:none;
			#{$this}__img{ padding-bottom:113.79%; background:url('../images/body/body_site_img02_3_t.jpg'); background-size:cover;}
			& + .list-box{margin-top:100px;}
		}
		.content-section__tit{padding-top:114px;}
		.content-section__txt1{margin-top:60px;}
		.content-section__txt2{margin-top:50px;}
		&__img{overflow:hidden; position:relative; display:block; width:100%; height:0; margin-top:76px; padding-bottom:120.37%; background:url('../images/body/body_site_img02_1_t.jpg'); background-size:cover;
			text-indent:-999px;
		}
	}

	@media only screen and (max-width:$mobile-size){
		&.type-lower{
			& + .list-box{margin-top:60px;}
		}
		&.type-forearm{
			& + .list-box{margin-top:60px;}
		}
		.content-section__tit{padding-top:55px;}
		.content-section__txt1{margin-top:40px;}
		.content-section__txt2{margin-top:25px;}
		&__img{margin-top:25px;}
	}
}
.site-box4{margin-top:200px; padding-bottom:460px;  background:url('../images/body/body_site_img03.png') no-repeat center bottom;
	& .content-section__tit{display:block; word-break: break-all;}
	& .content-section__number{left:0; right:0; width:20px; margin:0 auto;}
	&__img{display:none;}

	@media only screen and (max-width:$tablet-size){margin:150px -65px 0; padding-bottom:0; background:none;
		& .content-section__tit{padding:140px 65px 0;}
		& .content-section__txt1{padding:0 65px;}
		&__img{display:block; position:relative; overflow:hidden; width:100%; height:0; margin-top:50px; text-indent:-9999px; padding-bottom:43.75%; font-size:0;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/body/body_site_img03_t.jpg') center bottom / cover; content:'';}
		}
	}

	@media only screen and (max-width:$mobile-size){margin:70px -20px 0;
		& .content-section__tit{padding:100px 15px 0;}
		& .content-section__txt1{padding:0 15px;}
		&__img{margin-top:34px;}
	}
}
.site-box13{padding:150px 110px; background-color:#ffebe4;
	$this:&;
	&__tit{font-size:50px; font-weight:200; text-align:left;
		strong{font-weight:400;}
	}
	&__list{margin-top:70px;}
	&__item{
		&:after{display:block; clear:both; content:'';}
		& + &{margin-top:34px;}
		&.nth-1{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img01.jpg') no-repeat center center / cover;}
		}
		&.nth-2{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img02.jpg') no-repeat center center / cover;}
		}
		&.nth-3{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img03.jpg') no-repeat center center / cover;}
		}
		&.nth-4{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img04.jpg') no-repeat center center / cover;}
		}
		&.nth-5{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img05.jpg') no-repeat center center / cover;}
		}
		&.nth-6{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img06.jpg') no-repeat center center / cover;}
		}
		&.nth-7{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img07.jpg') no-repeat center center / cover;}
		}
		&.nth-8{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img08.jpg') no-repeat center center / cover;}
		}
	}
	&__box{float:left;
		&.type-img{overflow:hidden; display:block; position:relative; width:40.56%; height:260px; /*padding-bottom:24.52%;*/ text-indent:-9999px;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; content:'';}
		}
		&.type-txt{width:59.44%; height:260px; background-color:#fff;}
	}
	&__wrap{display:table-cell; width:1%; height:inherit; padding:0 50px; vertical-align:middle; text-align:left;}
	&__img{position:absolute; top:0; left:0; width:100%; height:100%;}
	&__subject{font-size:24px; color:#fe561b; font-weight:400;}
	&__txt{margin-top:34px; font-size:17px; color:#666; line-height:2; word-break:break-all;}

	@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:100px 65px;
		&__box{
			&.type-img{width:100%; height:0; padding-bottom:60.18%;}
			&.type-txt{width:100%; height:auto;}
		}
		&__wrap{display:block; width:100%; height:auto; padding:50px;}
		&__item{
			& + &{margin-top:50px;}
		}
	}

	@media only screen and (max-width:$mobile-size){margin:0 -20px; padding:50px 15px;
		&__tit{font-size:2.6rem;}
		&__list{margin-top:25px;}
		&__item{
			& + &{margin-top:40px;}
		}
		&__wrap{padding:20px;}
		&__subject{font-size:1.5rem;}
		&__txt{margin-top:15px; font-size:1.2rem;}
	}
}
.quotation2{
	&__item{line-height:1.9;}

	@media only screen and (max-width:$tablet-size){
		&.type-list{margin-top:60px; padding:56px 88px;}
		&__item{font-size:22px;}
	}

	@media only screen and (max-width:$mobile-size){
		&.type-list{margin-top:30px; padding:30px 20px;}
		&__item{font-size:1.3rem;
			& + &{margin-top:10px;}
		}
	}
}


.border-bottom{position:relative; border-bottom:1px solid #333;}
.border-bottom1{position:relative; font-weight:400; border-bottom:1px solid #2f6cd8;}
.site-box6{ max-width:900px; padding:45px 65px; margin:0 auto; margin-top:50px; font-size:0; background-color:#f6f6f6;
    $main-color: #5b86d2;
    $dark-color: #7f7f7f;
    $basic-font:#fff;
    $this:&;

	&__list{margin: 0;padding: 0;list-style: none;}
    &__item:nth-child(2n){ background-color:$dark-color;}
    &__item:nth-child(2n+1){ background-color:$main-color;}
    &__item{ position:relative;height:90px; font-size:18px; font-weight:300; border-radius:50px;}
    &__item + #{$this}__item{margin-top:20px;}
    &__inner{position:relative;display:block; height:inherit;}
    &__inner:before{content:''; display:inline-block; height:100%; vertical-align:middle;}
    &__txt1{display:inline-block;width: 688px;margin: 0;font-size:20px; font-weight:300;letter-spacing:-1px; color:$basic-font; text-align:center; line-height:150%; word-break:break-all; vertical-align:middle;}
    &__txt1 strong{font-weight:400;}
    &__slogan{font-size:40px; font-weight:600; letter-spacing:-1px; text-align:center; }
    &__txt2{font-size:22px; font-weight:300; margin-top:35px; letter-spacing:-1px; text-align:center; color:#666666; line-height:180%;}
    &__txt2 strong{font-weight:400; color:#333}
    &__box{
        &.colored{ margin-top:30px; padding:10px 0 20px; background-color:$main-color;}
    }

    @media screen and (max-width: $tablet-size){ max-width:none; margin:0 -65px; margin-top:50px; padding:33px 50px;
        &__item{display:block; padding:0;  height:60px; width:auto; text-align:center;}
        &__item + #{$this}__item{ margin-top:20px; }
        &__txt1{width: 596px;font-size:15px;}
        &__txt2{font-size:16px;  margin-top:35px;}
        &__wrapper{padding: 0 15px;}
    }

    @media screen and (max-width: $mobile-size){ margin:0 -20px; margin-top:25px; padding:30px 7px;
        &__wrapper{padding: 0 13px;}

        &__list{}
        &__item{ height:88px;}

        &__item + #{$this}__item{ margin-top:20px; }
        &__txt1{font-size:1.3rem; max-width:250px;}
        &__txt2{font-size:1.5rem;  margin-top:20px;}
    }
}

/*인용부호*/
.quotation{
	&.type-eye-middle-age{}

	&.type-eye-middle-age2{border:none; text-align:left;
		&:before{position:absolute; top:-30px; left:calc(50% - 8px); display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-left.png') 0 0 / 13px auto no-repeat; content:'';}
		&:after{position:absolute; bottom:-15px; left:calc(50% - 8px); display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-right.png') 0 0 / 13px auto no-repeat; content:'';}

		@media only screen and (max-width:$mobile-size){
			&:before{top:-10px; left:calc(50% - 3px); display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-left-m.png') 0 0 / 7px auto no-repeat;}
			&:after{bottom:-30px; left:calc(50% - 3px); display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-right-m.png') 0 0 / 7px auto no-repeat;}
		}

		@media only screen and (max-width:$iphone-size){
			&:after{right: 57%;}
		}
	}

	&.type-eye-middle-age3{border:none; text-align:left;
		&:before{position:absolute; top:30px; left:30px; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-left.png') 0 0 / 13px auto no-repeat; content:'';}
		&:after{position:absolute; bottom:5px; left:auto; right:238px; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-right.png') 0 0 / 13px auto no-repeat; content:'';}

		@media only screen and (max-width:$tablet-size){
			&:before{left:65px;}
			&:after{ bottom: 10px;right: 38%;}
		}

		@media only screen and (max-width:$mobile-size){
			&:before{top:15px; left:0px; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-left-m.png') 0 0 / 7px auto no-repeat;}
			&:after{bottom:-5px; left:auto; right: 55px; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-right-m.png') 0 0 / 7px auto no-repeat;}
		}

		@media only screen and (max-width:$iphone-size){
			&:after{right: 0px;}
		}
	}

	&.type-eye-middle-age4{border:none; text-align:left;
		&:before{position:absolute;top: 20px; left: 26px; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-left.png') 0 0 / 13px auto no-repeat; content:'';}
		&:after{position:absolute; bottom:5px; left:auto; right:170px; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-right.png') 0 0 / 13px auto no-repeat; content:'';}

		@media only screen and (max-width:$tablet-size){
			&:before{left:65px;}
			&:after{right:227px;}
		}

		@media only screen and (max-width:$mobile-size){
			&:before{top:10px; left:0; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-left-m.png') 0 0 / 7px auto no-repeat;}
			&:after{bottom:0px; left:auto; right: 193px; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-right-m.png') 0 0 / 7px auto no-repeat;}
		}

		@media only screen and (max-width:$iphone-size){
			&:after{right: 75px;}
		}
	}
	&.axiety{padding:26px 0; margin-top:95px; margin-left: 40px;
		&:before{left:0;}
		&:after{left:0;}
	}

	@media screen and (max-width: $tablet-size){
		&.axiety{padding: 35px 0; margin-left: 0;}
	}
	@media screen and (max-width: $mobile-size){
		&.axiety{padding:15px 0;
		}
	}
}


.uppereye{
	$this:&;
	$border-color:#97baf8;
	&__wrapper{
		&.bg{max-width:1100px; height:490px; padding-right:90px; margin:0 auto; margin-top:55px; border-radius:10px; background:#fff url('../images/eye/middleage-3-doctor.png') 100px bottom no-repeat; }
		&.thumb{float:right; width:auto;}
		&.guide-box{display:inline-block; margin-top:10px; }
	}
	&__img{
		&.eye{margin-top:50px; height:220px; background:url('../images/eye/middleage-2-02.jpg') center center no-repeat;}
	}
	&__guide{position:relative;display:inline-block; font-size:18px; font-weight:400;padding-left:20px;letter-spacing:-2px; color:#333; }
	&__guide + #{$this}__guide{margin-left:50px;}
	&__guide{
		&.plus:before{content:''; display:inline-block; position:absolute; left:-26px; top:calc(50% - 7px); width:2px; height:10px; background:#333333; }
		&.plus:after{content:''; display:inline-block; position:absolute; left:-30px; top:calc(50% - 3px); width:10px; height:2px; background:#333333; }
	}
	&__dot{ font-size:0;
		&.black{display:inline-block;position:absolute;left:6px;top:8px; width:8px; height:8px; background-color:#333333; border-radius:50%;}
		&.red{display:inline-block;position:absolute;left:4px;top:6px; width:12px; height:12px; background:url('../images/eye/red-dot.png') center no-repeat; }
	}
	&__desc{position: relative; max-width:390px; margin-top:50px; padding: 5px 40px; border:2px solid $border-color; background: #fff; word-break: break-all;}
	&__txt1{margin: 0;font-size:16px; font-weight:400; letter-spacing:-2px; color:#333; line-height:150%;}

	@media only screen and (max-width:$tablet-size){
		&__wrapper{
			&.bg{max-width:none; height:445px; padding-right:50px; background:#fff url('../images/eye/middleage-3-doctor_990.png') 30px bottom no-repeat; }
			&.thumb{float:right; width:auto;}
			&.guide-box{margin-top:0px; }
		}
		&__img{
			&.eye{margin-top:75px; height:170px; background:url('../images/eye/middleage-2-02.jpg') center center no-repeat;}
		}
		&__desc{padding:3px 48px; margin-top:42px;}
		&__txt1{padding: 5px 0;}
	}

	@media only screen and (max-width:$mobile-size){
		&__wrapper{
			&.bg{max-width:none; height:auto; padding-bottom:43px; padding-right:0px; background:#fff url('../images/eye/middleage-3-doctor_680.png') center 190px / 230px 277px no-repeat; }
			&.thumb{float:none;margin-top:15px; }
			&.guide-box{margin-top:0px; }
		}
		&__img{
			&.eye{margin:0 auto; width:159px; height:139px; background:url('../images/eye/middleage-2-02-680.jpg') center center / cover no-repeat;}
		}
		&__guide{font-size:1.4rem;}
		&__item{padding:0 10px;}
		&__desc{float:none; padding:0; max-width:230px; margin-left:84px; margin-top:250px; border-width:1px;}
		&__txt1{text-align:left;padding: 13px 10px 13px 50px; font-size:1.3rem; letter-spacing:-1px;}
		&__dot{ font-size:0;
			&.black{left:8px;top:8px; width:5px; height:5px;}
			&.red{position:absolute; left:5px;top:6px; width:9px; height:9px; background:url('../images/eye/red-dot_680.png') center no-repeat; }
		}
		&__guide + #{$this}__guide{margin-left:25px;}
		&__guide{
			&.plus:before{left:-13px; top:calc(50% - 4px); width:1px; height:7px;}
			&.plus:after{left:-16px; top:calc(50% - 1px); width:7px; height:1px;}
		}
	}
}
.site-box7{text-align:left; padding-left:20px;
	$this:&;
	$circle-color1:#5b86d2;
	$circle-color2:#3c6ec8;
	$blue-bar:#306bd3;
	&__tit{position:relative; font-size:24px; font-weight:400; margin:0 0 0 15px; padding-top:20px;  letter-spacing:-1px; color:#333333;}
	&__tit:before{position:absolute; content:''; top:0; display:inline-block; width:30px; height:4px; left:0; top:0;  background-color:$blue-bar;}
	&__list{margin:20px 0 0 0;padding: 0;list-style: none;}
	&__inner{position:relative; height:100%;}
	&__inner:before{content:''; position:absolute; left:calc(50% - 3px); top:5px; display:inline-block; width:6px; height:6px; border-radius:50%; background-color:#fff; }
	&__inner:after{content:''; position:absolute; left:calc(50% - 3px); bottom:5px; display:inline-block; width:6px; height:6px; border-radius:50%; background-color:#fff; }
	&__item{position:relative; float:left; width:178px; height:178px; border-radius:50%;background-color:$circle-color1;}
	&__item:nth-child(2n){background-color:$circle-color2;}
	&__item:before{content:''; display:inline-block; left:7px; top:7px; position:absolute;width:164px; height:164px; border:1px solid #fff; border-radius:50%;}
	&__item + #{$this}__item{margin-left:5px;}
	&__desc{padding-top:30px;}
	&__number{margin: 0;font-size:16px; font-weight:400; color:#fff;text-align:center;}
	&__txt1{font-weight:400;  max-width:none; margin: 15px auto 0; padding: 0 5%; color:#fff; text-align:center;}

	@media only screen and(max-width:$tablet-size){padding-left:0;
		&__list{width:730px; margin:0 auto;margin-top:20px;}
	}

	@media only screen and(max-width:$mobile-size){padding-left:0;
		&__tit{ font-size:1.6rem; margin-left:20px; padding-top:10px;}
		&__tit:before{width:15px; height:2px;}
		&__number{font-size:1.4rem;}
		&__list{width:287px; }
		&__inner:before{content:''; position:absolute; left:calc(50% - 3px); top:2px; display:inline-block; width:6px; height:6px; border-radius:50%; background-color:#fff; }
		&__inner:after{content:''; position:absolute; left:calc(50% - 3px); bottom:2px; display:inline-block; width:6px; height:6px; border-radius:50%; background-color:#fff; }
		&__item + #{$this}__item{margin-left:0px;}
		&__item:nth-child(2n){margin-left:5px;}
		&__item{margin-top:15px; width:140px; height:140px; }
		&__item:before{width:130px; height:130px; left:5px; top:5px;}
		&__item:nth-child(2n+1){clear:both;}
		&__desc{padding-top:23px;}
		&__txt1{margin-top:8px; max-width:none;}
	}

	@media only screen and(max-width:$iphone-size){padding-left:0;
		&__tit{ font-size:1.6rem; margin-left:10px; padding-top:10px;}
		&__tit:before{width:15px; height:2px;}
		&__number{font-size:1.1rem;}
		&__list{width:235px; }
		&__inner:before{content:''; position:absolute; left:calc(50% - 3px); top:2px; display:inline-block; width:6px; height:6px; border-radius:50%; background-color:#fff; }
		&__inner:after{content:''; position:absolute; left:calc(50% - 3px); bottom:2px; display:inline-block; width:6px; height:6px; border-radius:50%; background-color:#fff; }
		&__item + #{$this}__item{margin-left:0px;}
		&__item:nth-child(2n){margin-left:5px;}
		&__item{position:relative; float:left; margin-top:15px; width:114px; height:114px; border-radius:50%;background-color:$circle-color1;}
		&__item:before{width:106px; height:106px; left:4px; top:4px;}
		&__item:nth-child(2n+1){clear:both;}
		&__desc{padding-top:23px;}
		&__txt1{font-size:1.1rem; margin-top:4px; max-width:80px;}
	}
}
.site-box8{max-width:900px ; margin:0 auto; margin-top:140px;
	$this:&;
	$point-color:#1967ee;
	$border-color:#545a5e;
    &__box{padding:33px;position:relative; display:inline-block;}
    &__item:before{ content:''; transform:rotate(45deg); width:145px; height:145px; background-color:rgba(0,0,0,0.45); border: 1px solid $border-color; display:inline-block;}
    &__item{position:relative;}
    &__item{
        &.type-special{
            #{$this}__txt1{font-size: 18px;}
        }
        &.type-special:before{background-color:$point-color; border:none;}
    }
    &__desc{position:absolute; top: 40px;left: 0px;right:0;}
    &__txt1{margin: 0;font-size:20px; font-weight:400; color:#fff; padding:0 12px;}
    &__layer{text-align:center;
        &.nth2{margin-top:-106px;}
        &.nth3{margin-top:-106px;}
    }

    @media only screen and (max-width:$tablet-size){margin-top:450px;
        &__box{padding:33px;}
        &__item{
            &.type-special{}
        }
        &__desc{}
        &__txt1{font-size:20px;padding:0 12px;}
        &__layer{
            &.nth2{margin-top:-104px;}
            &.nth3{margin-top:-104px;}
        }
    }

    @media only screen and (max-width:$mobile-size){;margin:0 -23px;
        &__box{padding:15px;}
        &__item{
            &.type-special{
                #{$this}__txt1{font-size:1.1rem;}
            }
        }
        &__item:before{ width:73px; height:73px; }
        &__desc{top: 26px; left:-12px;}
        &__txt1{font-size:1.2rem;padding:0 5px; width:86px; letter-spacing:-1px;}
        &__layer{
            &.nth2{margin-top:-49px;}
            &.nth3{margin-top:-49px;}
        }
    }
}
.rectangle{position:absolute; left:-162px; top:-18px; width:175px; margin: 0;padding: 8px 0;font-size:19px; font-weight:400; letter-spacing:-2px; color:#fff; background-color:#2f76f2; border-radius:2px;
	&__inner{display: block; position: relative; width: 100%; height: 100%;}

	@media only screen and (max-width:$tablet-size){
		left: -163px;top: -14px;
	}

	@media only screen and (max-width:$mobile-size){
		font-size:1.5rem; left:-78px; top: -10px; width:114px; text-align:center; letter-spacing:0;
	}
}
.triangle{display:inline-block; position:absolute; right: 0; bottom: -22px; width:14px; height:15px; background:url('../images/eye/triangle.png') center no-repeat;font-size:0;

	@media only screen and (max-width:$tablet-size){
		bottom: -23px;
	}

	@media only screen and (max-width:$mobile-size){
		&{bottom: -16px; width:37px; height:8px;display:inline-block; position:absolute; background:url('../images/eye/triangle-m.png') 0 0 / 37px 8px  no-repeat;}
	}
}
.site-box9{ text-align:center;
	&__wrapper{
		&.type-eye-middle-age{display:inline-block;margin-top:70px; padding: 0;}
	}
	&__brace{}
	&__desc{height:330px; margin-left:60px; background:url('../images/eye/lower-eye-bg.jpg') 0 0 / cover no-repeat;}
	&__tit{margin: 0;font-size: 25px;font-weight: 400; letter-spacing: -1px;font-style: italic;color: #fff;}
	&__txt1{position:relative;font-size: 18px;font-weight: 300; margin: 70px 0 0 0; color: #fff; line-height:180%;}
	&__thumb{display:none;}

	@media only screen and (max-width:$tablet-size){
			&__wrapper{
				&.type-eye-middle-age{margin-top:60px;}
			}
		&__desc{height:318px; margin-left:0px; margin-top:40px; background:url('../images/eye/lower-eye-bg_990.jpg') 0 0 / cover no-repeat;}
		&__tit{font-size: 19px; }
		&__txt1{font-size: 14px;margin-top:53px;}
	}

	@media only screen and (max-width:$mobile-size){
			&__wrapper{
				&.type-eye-middle-age{margin-top:40px;}
			}
		&__desc{ height:auto; margin-left:0px; margin-top:35px; background:url('../images/eye/pattern-bg.jpg') 0 0 / cover no-repeat;}
		&__thumb{display:block; margin-top:25px; padding: 10px 0 ; background:url('../images/eye/pattern-bg2.jpg') 0 0 / cover no-repeat;}
		&__list{margin-left:0 0 0 -7px;padding: 0;list-style: none;display:inline-block;}
		&__item{height:121px; width:121px; display:inline-block; margin-left:7px; background: 0 0 / auto 121px no-repeat;
			&.img1{background-image:url('../images/eye/lower-eye-eye1.png')}
			&.img2{background-image:url('../images/eye/lower-eye-eye2.png')}

		 }
		&__tit{font-size: 1.7rem;}
		&__txt1{font-size: 1.3rem;margin-top:52px;}
	}
}
.site-box10{position:relative; width:915px; height:220px; margin:0 auto; margin-top:70px; background:url('../images/eye/rectangle-circle.png') center 0  no-repeat;
	$this:&;
	&:before{content:''; display:inline-block; height:100%; vertical-align:middle;}
	&__tit{font-size:26px; font-weight:400; font-style:italic; color:#fff;position:absolute; left:0; right:0; margin:0 auto; top:-19px; letter-spacing:-1px; }
	&__tit strong{font-weight:400;}
	&__list{display:inline-block; font-size:0; vertical-align:middle; margin: 0 0 0 -45px;padding: 0;list-style: none;}
	&__item{display:inline-block;margin-left:45px;}
	&__inner{width:176px; height:176px; border-radius:50%; background-color:#447de0;}
	&__inner:before{content:''; height:100%; display:inline-block; vertical-align:middle; }
	&__desc{display:inline-block; vertical-align:middle;padding: 0 10%;}
	&__txt1{ margin:0 auto; font-size:18px; font-weight:400; letter-spacing:-1px; color:#fff; line-height:180%;}

	@media only screen and (max-width:$tablet-size){margin-top: 68px;
		&{width:740px; height:200px; background-image:url('../images/eye/rectangle-circle1.png'); }
		&__inner{width:165px; height:165px; border-radius:50%; background-color:#447de0;}
		&__list{margin-left:-8px;}
		&__item{margin-left:8px;}
		&__txt1{ font-size:16px;}
	}

	@media only screen and (max-width:$mobile-size){ margin-top:36px;
		&{width:317px; height:313px; background-image:url('../images/eye/rectangle-circle2.png'); background-size:cover;}
		&__tit{font-size:1.7rem;top:-10px;}
		&__inner{width:122px; height:122px; border-radius:50%; background-color:#447de0;}
		&__list{max-width:285px;position:absolute; left:-20px;right:0; top:15px; margin:0 auto;}
		&__item{margin-left:20px;}
		&__inner{margin-top:15px;}
		&__txt1{ font-size:1.2rem;}
	}

	@media only screen and (max-width:$iphone-size){ margin-top:36px;
		&{width:auto; height:273px; }
		&__inner{width:111px; height:111px;}
		&__list{max-width:285px;position:absolute; left:-15px;right:0; top:5px;}
		&__item{margin-left:15px;}
		&__inner{margin-top:15px;}
	}
}
