/*중년 눈수술*/
.color-middle-age1{color:#94befc;}
.color-middle-age2{color:#3273d5;}
.color-middle-age3{color:#2f6cd8;}
.color-middle-age4{color:#cee0ff;}
.color-middle-age5{color:#356fd4;}
.color-middle-age6{color:#3878e9;}
.color-middle-age7{color:#306bd3;}
.color-middle-age8{color:#74a7ff;}
.color-middle-age9{color:#deeaff;}
.color-middle-age10{color:#fdfddb;}
.color-middle-age11{color:#7faeff;}
.color-middle-age12{color:#155bd7;}
.color-middle-age13{color:#003333;}
.color-middle-age14{color:#e3c1a2;}
.color-middle-age15{color:#82b0ff;}
/*수술정보 예외처리*/

.middle-box1{
	.content-section{margin-top: 272px;}
	.quotes__wrapper{border:none; text-align:left;
		&:before{position:absolute; top:-30px; left:calc(50% - 8px); display:block; width:17px; height:16px; background:url('../images/eye/quotation-left.png') 0 0 / 13px auto no-repeat; content:'';}
		&:after{position:absolute; bottom:-30px; left:calc(50% - 8px); display:block; width:17px; height:16px; background:url('../images/eye/quotation-right.png') 0 0 / 13px auto no-repeat; content:'';}
	}
	.quotes__txt1{padding:0 92px; box-sizing:border-box;}
	.quotes__txt2{margin: 80px 0 0 0;}

	@media only screen and (max-width:$tablet-size){
		.quotes__txt1{padding:0;}
		.content-section{margin-top: 107px;}
		.quotes__txt2{margin-top: 60px;}

	}

	@media only screen and (max-width:$mobile-size){
		.content-section{margin-top: -26px;}
		.quotes__txt2{margin-top: 60px;}
		.quotes__wrapper{
			&:before{top:-10px; left:calc(50% - 3px); display:block; width:17px; height:16px; background:url('../images/eye/quotation-left_680.png') 0 0 / 6px auto no-repeat;}
			&:after{bottom:-30px; left:calc(50% - 3px); display:block; width:17px; height:16px; background:url('../images/eye/quotation-right_680.png') 0 0 / 6px auto no-repeat;}}
	}

}

/*상안검*/
.middle-box2{
	.content-section{text-align:left; padding-left: 125px; margin-top: 0;}
	.content-section__wrapper{
		&.type-width{max-width:950px;}
	}

	@media only screen and (max-width:$tablet-size){
		.content-section{margin-left:0px; padding-left: 21px;}
		.content-section__txt{padding-right:35px;}
		.content-section__wrapper{
			&.type-width{max-width:950px;}
		}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section{margin-left:0px; margin-top:25px; padding:0px;}
		.content-section__txt{padding-right:0px;}
		.content-section__wrapper{
			&.type-width{max-width:none;}
			&.txt-box{padding-left:0px;}
		}
	}
}

.eye-case{max-width: 1025px;
	$this:&;
	$main-color: #5b86d2;
	$dark-color: #7f7f7f;
	$basic-font:#fff;
	&__box{
		&.type-special{margin-top:20px;}
	}
	&__list{margin: 0 0 0 -25px;padding: 0;list-style: none;}
	&__item{float:left; width:25%; padding-left:25px;box-sizing: border-box;}
	&__tit{position:relative; font-size:24px; margin-top:80px; padding-top:20px;color:#333;}
	&__tit:before{content:'';position:absolute; left:0; top:0; width:30px; height:4px; background-color:#306bd3;}
	&__strong{position:relative;font-size:24px; font-weight:700; letter-spacing:-1px; color:#444;}
	&__thumb{position:relative; height:0; padding-bottom:87.83%;}
	&__thumb{
		&.type-img01:before{content:''; display:block; position:absolute; top:0; bottom:0;left:0; right:0; background:url('../images/eye/middleage-1-01.jpg') 0 0 / cover no-repeat;}
		&.type-img02:before{content:''; display:block; position:absolute; top:0; bottom:0;left:0; right:0; background:url('../images/eye/middleage-1-02.jpg') 0 0 / cover no-repeat;}
		&.type-img03:before{content:''; display:block; position:absolute; top:0; bottom:0;left:0; right:0; background:url('../images/eye/middleage-1-03.jpg') 0 0 / cover no-repeat;}
		&.type-img04:before{content:''; display:block; position:absolute; top:0; bottom:0;left:0; right:0; background:url('../images/eye/middleage-1-04.jpg') 0 0 / cover no-repeat;}
	}
	&__desc{position:absolute;left:0;right:0; bottom:0; height:38px; background-color:rgba(0,0,0,0.7); text-align:center;}
	&__txt1{margin: 0;font-size:16px; height:inherit; font-weight:300; line-height:150%; color: #fff; word-break:break-all}
	&__txt1:before{content:''; display:inline-block; height:100%; vertical-align:middle;}

	@media screen and (max-width: $tablet-size){
        padding: 0px; max-width: 495px;

		&__desc{float:none; width:auto; padding:0;}
		&__strong{margin-top:35px;}
		&__tit{font-size:22px; margin-top:65px; padding-top:15px; }
		&__thumb{float:none; width:auto; position:relative; height:0; padding-bottom:87.71%;}
		&__thumb{
			&.type-img01:before{ background-image:url('../images/eye/middleage-1-01.jpg');}
			&.type-img02:before{ background-image:url('../images/eye/middleage-1-02.jpg');}
			&.type-img03:before{ background-image:url('../images/eye/middleage-1-03.jpg');}
			&.type-img04:before{ background-image:url('../images/eye/middleage-1-04.jpg');}
		}
		&__item{width:50%;margin-top:20px;}
		&__item:nth-child(2n+1){clear:both;}
		&__box{
			&.type-special{margin-top:10px;}
		}

	}

	@media screen and (max-width: $mobile-size){
        padding:0; max-width:none; margin-left:0;

		&__sub{font-size:1.6rem; margin-top:30px; padding-top:16px;}
		&__tit{font-size:1.6rem; margin-top:50px; padding-top:10px; letter-spacing:-1px;}
		&__tit:before{width:15px; height:2px;}
		&__box{
			&.type-special{margin-top:20px;}
		}
		&__list{margin-top:-25px; margin-left:-15px;}
		&__item{ padding-left:15px;}
		&__desc{height:24px;}
		&__txt1{font-size:1.3rem;}
		&__thumb{padding-bottom:87.71%;}
		&__thumb{
			&.type-img01:before{ background-image:url('../images/eye/middleage-1-01.jpg');}
			&.type-img02:before{ background-image:url('../images/eye/middleage-1-02.jpg');}
			&.type-img03:before{ background-image:url('../images/eye/middleage-1-03.jpg');}
			&.type-img04:before{ background-image:url('../images/eye/middleage-1-04.jpg');}
		}
	}
}

.middle-box3{
	.content-section__inner{float: left; width: 43%	; padding-left: 20px; padding-right:92px; text-align: left;box-sizing: border-box;
		&.type-thumb{width: 57%; padding-left: 25px;}
	}
	.content-section__thumb{display: none; font-size: 0;}
	.content-section__txt1{padding: 0 19%;}

	@media only screen and (max-width:$minpc-size3){
		.content-section__inner{float: none; width: 100%; padding-left: 0; padding-right:0;}
		.content-section__inner{
			&.type-thumb{display: none;}
		}
		.content-section__thumb{margin-top: 30px; position: relative; display: block; height: 0; padding-bottom: 143%; }
		.content-section__thumb:before{content: ''; display: block; position: absolute; left: 0; width: 100%; top: 0; height: 100%; background: url('../images/eye/middleage-2-01-990.jpg') 0 0 / cover no-repeat; }
		.content-section__outer{padding-right: 70px;}
		.content-section__txt1{padding: 0; text-align: left;}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section__outer{padding-right: 0px;}
		.content-section__txt1{margin-top: 60px;}
	}
}

.middle-box4{
	.content-section__number{ color:#f6f8f9;}
	.content-section__number-wrap:after{background-color:#fff;}
	.content-section__tit{padding-left: 92px;padding-right: 92px; color:#fff; text-align: center; box-sizing:border-box;}
	.content-section__txt1{max-width:990px; margin:0 auto; margin-top:40px; color:#fff; }
	.content-section__txt1 + .content-section__txt1{margin-top:10px;}
	.content-section__txt2{ color:#fff;;font-style:italic;}
	.content-section__txt2 strong{ font-weight:400;}
	.content-section__wrapper{
		&.bg{ background: 0 0 / cover no-repeat;
			&.img01{height:1190px;padding-top:90px;background-image:url('../images/eye/middleage-2-bg.jpg');}
			&.img02{height:1350px;padding:90px 95px; background-image:url('../images/eye/middleage-2-02-bg.jpg');}
		}
		&.bg{height:1150px;padding-top:90px ;background-image:url('../images/eye/middleage-2-bg.jpg');box-sizing: border-box;}
		&.type-width{max-width:550px;}
		&.quotation.type-eye-middle-age2{padding:0;}
		&.quotation:before{left:0;}
		&.quotation:after{left:auto; right: 228px;}
		&.type-rhombus{float:left;}
	}

	@media only screen and (max-width:$tablet-size){
		.content-section{ margin-top:100px;}
		.content-section__tit{padding-left: 0;padding-right: 0;}
		.content-section__txt1{max-width:none;margin-top:40px;}
		.content-section__txt1{
			&.type-width{max-width:495px; margin:0; margin-top:40px;}
		}
		.content-section__txt1 + .content-section__txt1{margin-top:10px;}
		.content-section__txt2{ color:#fff;;font-style:italic;
			&.type-width{max-width:495px;}
		}
		.content-section__txt2 strong{ font-weight:400;}
		.content-section__wrapper{
			&.bg{ background: 0 0 / cover no-repeat;margin:0 -65px; padding:0 30px;
				&.img01{height:1100px;padding-top:70px;background-image:url('../images/eye/middleage-2-bg.jpg');}
				&.img02{height:1310px;padding:90px 60px; background-image:url('../images/eye/middleage-2-model_990.jpg');}
			}
			&.type-width{max-width:none;}
			&.quotation.type-eye-middle-age2{padding:0;}
			&.quotation:before{left:0;}
			&.quotation:after{left:auto; right:132px;}
			&.type-rhombus{float:none;}
		}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section{margin-top:50px;}
		.content-section__tit{font-size:3.0rem;}
		.content-section__txt1{max-width:none;margin-top:40px; padding: 0; letter-spacing:-1px; }
		.content-section__txt1{
			&.type-width{max-width:495px; padding-top:11px; margin:0; margin-top:40px;}
		}
		.content-section__txt1 + .content-section__txt1{margin-top:10px;}
		.content-section__txt2{ color:#fff;;font-style:italic;
			&.type-width{max-width:none;}
		}
		.content-section__txt2 strong{ font-weight:400;}

		.content-section__wrapper{
			&.bg{ background: 0 0 / cover no-repeat;margin:0 -20px; padding:0 30px;
				&.img01{height:auto;padding:0 20px 30px; padding-top:35px;background-image:url('../images/eye/middleage-2-bg_680.jpg');}
				&.img02{height:850px;padding:28px 23px; background-image:url('../images/eye/middleage-2-model_680.jpg');}

			}
			&.type-width{max-width:none;}
			&.quotation.type-eye-middle-age2{padding: 0 8px;}
			&.quotation:before{left:8px;}
			&.quotation:after{right: 22%;bottom: -15px;}
			&.type-rhombus{float:none; margin-top:255px;}



		}
	}

	@media only screen and (max-width:$iphone-size){
		.content-section{margin-top: 60px;}
		.content-section__wrapper{
			&.quotation:after{right: 70%;}
		}
	}
}

.middle-box5{
	.content-section__txt1{max-width:990px; margin:0 auto; margin-top:40px;  }
	.content-section__txt1 + .content-section__txt1 + .content-section__txt1{margin-top:30px;}
	.content-section__wrapper{
		&.type-desc{ max-width:970px; margin: 0 auto;}
		&.eye{float:left; width:30%; height: 280px; background: url(../images/eye/middleage-3-01.jpg) center center no-repeat; border:1px solid #dcdcdc;box-sizing: border-box;}
		&.circle-box{float:left; width:70%;}
		&.main-point{margin-top:80px;}
	}

	@media only screen and (max-width:$tablet-size){
		.content-section{margin:0 -65px; margin-top:100px;}
		.content-section__number{top:0; left:25px;}
		.content-section__tit{padding-left:30px; padding-right:30px;}
		.content-section__txt1{max-width:990px; font-size:16px; margin:0 auto; margin-top:40px; letter-spacing:-1px;  }
		.content-section__txt1 + .content-section__txt1{margin-top:10px;}
		.content-section__wrapper{
			&.type-width{max-width:none;}
			&.type-desc{ max-width:none; margin: 0 auto; padding: 0 30px;}
			&.eye{float:none; width:385px; margin:0 auto; height: 280px;}
			&.circle-box{float:none; width:100%; margin-top:35px;}
			&.main-point{margin-top:55px;}
		}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section{margin:0 -20px; margin-top:50px;}
		.content-section__number{top: 35px;left: 20px;}
		.content-section__txt1{max-width:990px; font-size:1.4rem; margin:0 auto; margin-top:40px; letter-spacing:-1px;  }
		.content-section__txt1 + .content-section__txt1{margin-top:15px;}
		.content-section__wrapper{
			&.type-desc{ max-width:none; margin: 0 auto; padding: 0 4%;}
			&.eye{float:none; width:100%; height: 190px; margin:0 auto; background-size:contain;}
			&.circle-box{float:none; width:100%; margin-top:35px;}
			&.main-point{margin-top:25px;}
		}
	}
}

/*하안검*/
.middle-box6{
	.content-section{text-align:left; margin-top:0;}
	.content-section__wrapper{
		&.middle-bg-w{padding-bottom: 297px; padding-left:60px; padding-top: 70px; background:url('../images/eye/lower-eye-sec1.jpg') 0 0 / cover no-repeat;}
	}
	.content-section__tit{max-width:445px; }
	.content-section__txt1{max-width:778px; }
	.content-section__txt2{ font-style:italic; }

	@media only screen and (max-width:$tablet-size){
		.content-section{ text-align:left; margin: 0 -65px; padding: 0 13px;}
		.content-section__wrapper{
			&.middle-bg-w{height:auto; padding-left:0px; padding-top: 0px; padding-bottom: 0; background:none; }
			&.middle-bg-m{height:auto; padding-left:48px; padding-top: 0px; padding-bottom:50px; height:855px; background:url('../images/eye/lower-eye-sec1-990.jpg') 0 0 / cover no-repeat;}
			&.middle-bg-m:before{content:'';height:100%;display:inline-block; vertical-align:bottom;}
		}
		.content-section__tit{max-width:430px; display:inline-block; }
		.content-section__txt1{max-width:778px; margin-top:65px; padding-left:50px;padding-right:45px;}
		.content-section__txt2{ font-style:italic; margin-top:35px; padding-left: 50px;}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section{text-align:left; margin: 0px; padding: 0px;}
		.content-section__wrapper{
			&.middle-bg-m{ height:auto; padding-left:0px; padding-top: 0px; padding-bottom:25px; background:url('../images/eye/lower-eye-sec1-680.jpg') 0 0 / cover no-repeat;}
			&.middle-bg-m:before{display:none;}
		}
		.content-section__tit{max-width:285px; margin-top:313px; margin-left:0; display:inline-block; }
		.content-section__txt1{max-width:none;margin: 0; margin-top:34px; padding: 0px;}
		.content-section__txt2{ max-width:none; font-style:italic; margin: 0; margin-top:35px; padding: 0px;}
	}
}


.middle-box7{
	.content-section{padding-left:45px;}
	.content-section__wrap{margin-left:0;}
	.content-section__tit{ max-width:300px;  margin-top:40px;letter-spacing:-1px;}
	.content-section__txt1{max-width:850px; margin:0 auto; margin-top:136px; padding-left: 30px;}
	.content-section__txt1 + .content-section__txt1{ margin-top:30px;}
	.content-section__box{float:left;
		&.w-7{width: 59%;padding-right: 0;}
		&.w-4{width:41%; padding-left:0px;    padding-right: 8%;}
		&.type-bottom{bottom:auto;top:0; padding-left: 20px;}
	}

	@media only screen and (max-width:$tablet-size){
		.content-section{ padding-left:65px; padding-right: 30px; margin:0 -65px; margin-top:100px;}
		.content-section__tit{max-width:none; margin-top:0;}
		.content-section__wrapper{
			&.thumb{margin-top:35px; height:800px; max-width:565px; background:url('../images/eye/lower-eye-sec2-990.jpg') 0 0 / cover no-repeat;}
		}
		.content-section__number{top: 10px;left: -30px;}
		.content-section__txt1{margin-top:20px; letter-spacing:-1px; padding-left: 0;}
		.content-section__txt1 + .content-section__txt1{ margin-top:15px;}
		.content-section__box{float:none;
			&.w-7{width:100%;display:none;}
			&.w-4{width:100%; padding-left: 0px;  }
		}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section{ margin: 0px; margin-top:50px; padding: 0px;}

		.content-section__tit{max-width:none; margin-top:0; margin-left: 0px;}
		.content-section__wrapper{
			&.thumb{margin-top:18px;height: 0;padding-bottom: 135%; max-width: calc(100% - 15px); background:url('../images/eye/lower-eye-sec2-680.jpg') 0 0 / cover no-repeat;}
		}
		.content-section__box{float:none;
			&.w-7{width:100%;display:none;}
			&.w-4{padding: 0;}
		}
	}
}

.middle-box8{
	.content-section{}
	.content-section__wrapper{
		&.type-width{max-width:650px;}
		&.type-width2{max-width:442px;margin-left: -26px;}
		&.type-unique{float:right; width:40%;}
		&.bf{ max-width:420px; margin-top:30px; text-align:center; border:2px solid #5c4b43;}
		&.before{height:25px;font-size:16px; font-weight:300; color:#cbc5c5; background-color:#5c4b43;}
		&.before:before{content:''; display:inline-block; height:100%; vertical-align:middle;}
	}
	.content-section__bg{
		&.img1{padding: 90px 95px; height:870px;background:url('../images/eye/lower-eye-sec3-bg.jpg') 0 0 / cover no-repeat;box-sizing: border-box;}
		&.img2{ height:780px;background:url('../images/eye/lower-eye-sec4-bg.jpg') 0 0 / cover no-repeat;}
	}
	.content-section__thumb{height:260px;background:url('../images/eye/lower-eye-sec4-1.jpg') 0 0 / cover no-repeat; }
	.content-section__tit{font-size:40px; padding-top:35px; color:#fff; letter-spacing:-1px;}
	.content-section__tit .type-bigger{ font-size:50px;	}
	.content-section__txt1{color:#fff; font-weight:300; letter-spacing:-1px;}
	.content-section__txt2{color: #fff;font-style: italic; }
	.content-section__txt2 strong{font-weight:400;}
	.content-section__txt3{font-size:16px; font-weight:300; margin:25px 0 0 0; color:#cbc5c5;}
	.content-section__txt4{margin:10px 0 0 0; font-size:20px; font-weight:300; color:#fff;}
	.content-section__notice{margin:5px 0 0 0; text-align: left; color: #fff;}

	@media only screen and (max-width:$tablet-size){
		.content-section{margin: 0 -65px; margin-top: 170px;}
		.content-section__wrapper{
			&.type-width{ padding-left:60px; max-width:650px; margin-top:20px;}
			&.type-width2{max-width:442px;}
			&.type-unique{float:right; width:60%;}
			&.bf{ max-width:385px; margin-top:68px; text-align:center; border:2px solid #5c4b43;}
			&.before{height:25px;font-size:16px; font-weight:300; color:#cbc5c5; background-color:#5c4b43;}
			&.before:before{content:''; display:inline-block; height:100%; vertical-align:middle;}
			&.type-wide{margin:0px;}
			&.type-width2{padding-left:60px; margin-top:75px;}
		}
		.content-section__bg{
			&.img1{ padding: 35px 0px; height:780px;background:url('../images/eye/lower-eye-sec3-bg-990.jpg') 0 0 / cover no-repeat;}
			&.img2{ height:860px;background:url('../images/eye/lower-eye-sec4-bg-990.jpg') 0 0 / cover no-repeat;}
		}
		.content-section__thumb{height:260px;background:url('../images/eye/lower-eye-sec4-1.jpg') 0 0 / cover no-repeat; }
		.content-section__tit{font-size:34px; padding-top:35px; color:#fff; letter-spacing:-1px;}
		.content-section__tit .type-bigger{ font-size:42px;	}
		.content-section__txt1{color:#fff; font-weight:300; letter-spacing:-1px;}
		.content-section__txt2{color: #fff; font-weight:300; font-style: italic; }
		.content-section__txt2 strong{font-weight:400;}
		.content-section__txt3{font-size:16px; font-weight:300; margin-top:25px; color:#cbc5c5;}
		.content-section__txt4{margin-top:10px; font-size:20px; font-weight:300; color:#fff;}
		.content-section__notice{margin-left:0px; margin-top:15px;color:#fff; text-align: left;}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section{margin: 0 -20px; margin-top: 50px;}
		.content-section__bg{
			&.img1{ padding: 18px 22px; height:898px;background:url('../images/eye/lower-eye-sec3-bg-680.jpg') 0 0 / cover no-repeat;}
			&.img2{ padding:0 35px; height:780px;background:url('../images/eye/lower-eye-sec4-bg-680.jpg') 0 0 / cover no-repeat;}
		}
		.content-section__wrapper{
			&.type-unique{float:none; width:100%; padding-top:335px;}
			&.type-width{padding: 10px; margin-top:100px;}
			&.type-width2{max-width:none; margin-top:0; padding:0; padding-bottom: 15px; margin: 0;}
			&.type-wide{margin: 0;}
			&.bf{ max-width:none; margin-top:7px;border:1px solid #5c4b43;}
			&.before{height:16px;font-size:1.1rem;}
		}
		.content-section__thumb{height:150px;background:url('../images/eye/lower-eye-sec4-1-680.jpg') 0 0 / cover no-repeat; }
		.content-section__tit{font-size:2.5rem; padding-top:35px; color:#fff; letter-spacing:-1px;}
		.content-section__tit .type-bigger{ font-size:3.0rem;	}
		.content-section__txt1{font-size:1.4rem;}
		.content-section__txt2{font-size:1.5rem; letter-spacing:-1px;}
		.content-section__txt3{font-size:1.1rem; margin-top:12px;}
		.content-section__txt4{margin-top:10px; font-size:1.4rem;}
		.content-section__notice{ padding: 0;margin: 0;margin-top: 7px;width: 100%;text-align: left;}
	}
}

.axiety{
	$this:&;
	&__list{margin: 0;padding: 0;list-style: none;}
	&__number{display: block;float: left;font-size:20px; font-weight:400; margin-right:5px; color:#666;}
	&__span{display: block;float: left;width: 90%;}
	&__txt1{margin:0; font-size:20px; font-weight:300; color:#333;margin: 0;
		&:after{content: '';display: block;clear: both;}
	}
	&__txt1 strong{font-weight:500;}
	&__txt2{position:relative; padding-top:60px; margin:50px 0 0 0;}
	&__item + #{$this}__item{margin-top:25px;}

	@media screen and (max-width: $tablet-size){
		&.quotation{margin-top:65px;}
		&__item + #{$this}__item{margin-top:20px;}

		&__number{display: inline-block;float: none;}
		&__span{display: inline-block;float: none;width: auto;}
		&__txt2{ padding-top: 50px; margin-top: 20px;}
	}

	@media screen and (max-width: $mobile-size){
		&__number{display: block;float: left;}
		&__span{display: block;float: left;width: 80%;}
		&__txt1{font-size:1.5rem; font-weight:300; color:#333;}
		&__txt2{ font-size:1.5rem; margin-top:25px; }
		&.quotation{margin-top:30px;}
		&__item + #{$this}__item{margin-top:8px;}
	}
}
