/* 비절개 자연유착 쌍커풀 */
.double-color1{color: #14956b;}
.double-color2{color: #10a776;}
.double-color3{color: #057b55;}
.double-color4{color: #059566;}
.double-color5{color: #039565;}

.double-box1{
	&__box{}
	&__tit{position: relative; margin:0; padding: 54px 0 66px;font-size: 30px;font-weight: $regular;line-height: 2;letter-spacing: 6px;box-sizing: border-box;
		&:before{content: '';position: absolute;top: 0;left: 0;right: 0;width: 13px;height: 12px;margin: auto;background: url(../images/eye/double/double_quotation_top.png) 0 0/contain no-repeat;}
		&:after{content: '';position: absolute;bottom: 0;left: 0;right: 0;width: 13px;height: 11px;margin: auto;background: url(../images/eye/double/double_quotation_bottom.png) 0 0/contain no-repeat;}
	}
	&__txt{margin: 60px 0 0;font-size: 20px;}

	@media only screen and (max-width:$tablet-size){
		&__tit{padding: 20px 0;font-size: 25px;}
		&__txt{font-size: 17px;}
	}

	@media only screen and (max-width:$mobile-size){
		&__tit{font-size: 1.5rem;letter-spacing: 4px;
			&:before{width: 6px;height: 6px;}
			&:after{width: 6px;height: 5px;}
		}
		&__txt{margin-top: 25px;font-size: 1.3rem;}
	}
}
.double-box2{text-align: left;
	.content-section__tit{margin-left:-30px;}
	.content-section__txt1, .content-section__txt2{padding-right: 92px;}
	&__box{position: relative;padding-left: 360px;
		&:before{content: '';position: absolute;top: 100px;left: 0;width: 330px;height: 218px;background: url(../images/eye/double/double_img_01.gif) 0 0 no-repeat;}
	}
	@media only screen and (max-width:$tablet-size){
		.content-section__txt1, .content-section__txt2{padding-right: 0;}
		&__box{position: static;padding-left: 0;
			&:before{display: inline-block;position: static;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		.content-section__tit{margin-left:-15px;font-size: 3.0rem;}

		&__box{
			&:before{display: block;width: 70%;height: 0;margin: 0 auto;padding-bottom: 46%;background-size: contain;}
		}
	}
}
.double-box3{background: #f1f3f5 url(../images/eye/double/double_bg_02.jpg) right bottom no-repeat;text-align: left;
	.content-section__tit{margin-top: 24px;padding-right: 50%;}

	&__wrap{padding: 100px 108px 0;}
	&__box{padding-right: 62%;}
	&__subtit{margin: 0;font-size: 25px;}
	&__area{margin-top:70px;padding: 0 108px 80px;}

	@media only screen and (max-width:$tablet-size){
		margin: 0 -65px;background-image: url(../images/eye/double/double_bg_02_t.jpg);
		.content-section__txt1{color: #333;}

		&__wrap{padding: 78px 62px 0;}
		&__box{padding-right: 43%;}
		&__area{padding: 0 0 46px;}
	}
	@media only screen and (max-width:$mobile-size){
		margin: 0 -20px;background: #edeef2 url(../images/eye/double/double_bg_02_m.jpg) right top/contain no-repeat;

		.content-section__tit{margin-top: 70px;padding-top: 0;font-size: 3.0rem;}
		.content-section__txt1{margin-top: 50px;}
		&__wrap{padding: 50px 20px 0;}
		&__subtit{font-size: 1.6rem;}
		&__box{padding-right: 0;}
		&__area{margin-top: 10px;padding-bottom: 30px;}
	}
}

.eye-table--outer{background-color:rgba(244,244,244,0.8); padding:50px 30px; box-sizing: border-box;
	@media only screen and (max-width:$tablet-size){
		padding:0;
	}
	@media only screen and (max-width:$mobile-size){

	}
	@media only screen and (max-width:$iphone-size){
		padding:0;

	}

}
.eye-table{font-size:18px; max-width:950px; margin: 0 auto;
	$this:&;
	&__list{margin: 0;padding: 0;list-style: none;}
	&__item{position:relative;
		&:first-child{font-size:17px;
			& #{$this}__box:first-child{background-color:#adadad; border:1px solid #adadad; color:#555555; font-weight:400;
				&:before{position:absolute; bottom:-5px; left:0; right:10%; width:9px; height:9px; border-radius:50%; border:2px solid #fff; background-color:#a5a5a5; margin:0 auto; z-index:5; content:'';}
			}
			& #{$this}__box:last-child{color:#41ffb8; font-weight:400;
				&:before{position:absolute; bottom:-5px; left:10%; right:0; width:9px; height:9px; border-radius:50%; border:2px solid #fff; background-color:#555; margin:0 auto; z-index:5; content:'';}
			}
			& #{$this}__center{overflow:hidden; top:-14px; width:88px; height:88px; background:url('../images/eye/double/vs.png') no-repeat center center; text-indent:-9999px;}
		}
		&:after{display:block; clear:both; content:'';}
		& #{$this}__box:first-child{padding-right:7%; border: 1px solid #9E9C9B; border-radius: 30px 0 0 30px; box-sizing:border-box; color:#333;}
		& #{$this}__box:last-child{padding-left:7%; border: 1px solid #555555; background-color:#555555; border-radius:0 30px 30px 0; color:#fff; font-weight:400;}
		& + &{margin-top:26px;
			#{$this}__box:first-child{
				&:after{position:absolute; top:-26px; left:0; right:10%; width:0; height:26px; border-left:1px solid #c7c7c7; margin:0 auto; content:'';}
			}
			#{$this}__box:last-child{
				&:after{position:absolute; top:-26px; left:10%; right:0; width:0; height:26px; border-left:1px solid #555555; margin:0 auto; content:'';}
			}
		}
	}
	&__box{position:relative; float:left;width:50%; text-align:center;box-sizing: border-box;}
	&__center{position:absolute; left:0; right:0; width:200px; margin:0px auto; background:url('../images/eye/double/eye_double_bg03.png') no-repeat center center; text-align:center; color:#fff; z-index:10;box-sizing: border-box;
		& #{$this}__wrap{height:61px;}
	}
	&__wrap{display:table-cell; width:1%; height:58px; vertical-align:middle; font-size:17px;}
	&__wrap{
		&.type-longer{letter-spacing: -1px; font-size:17px;}
	}
	&__arrow{position:relative; padding-right:18px; text-align:center; display:inline-block;
		&:after{position:absolute; display:inline-block; width:8px; height:14px; right:0px; top:0; bottom:0; margin:auto 0;background:url('../images/eye/double/eye_double_arrow.png'); content:'';}
	}
	&__item:nth-child(2) .eye-table__arrow{padding-left:0px;}
	&__item:nth-child(4) .eye-table__arrow{padding-left:0px;}

	@media only screen and (max-width:$tablet-size){
		margin-top:20px; padding:58px 65px;

		&__center{text-align:left; padding-left:0px; text-align:center;}
		&__wrap{ font-size:14px;}
		&__wrap{
			&.type-longer{letter-spacing: -1px; font-size:14px;}
		}
		&__item:nth-child(2) .eye-table__arrow{padding-left:0px;}
		&__item:nth-child(4) .eye-table__arrow{padding-left:0px;}
		&__box{
			&.type-right{padding-left:18%; padding-right:5%;}
			&.type-left{padding-left:0%; padding-right:13%;}
		}

		& #{$this}__box:first-child{padding-right:18%; padding-left:3%;}
		& #{$this}__box:last-child{padding-left:18%; padding-right:3%;}
	}

	@media only screen and (max-width:$mobile-size){
		padding:25px 20px; font-size:1.2rem; background-color:rgba(255,255,255,0.85);

		&__item{
			&:first-child{font-size:1.4rem;
				& #{$this}__box:first-child{
					&:before{position:absolute; bottom:-3px; left:0; right:10%; width:6px; height:6px; border-radius:50%; border:1px solid #fff; background-color:#a5a5a5; margin:0 auto; z-index:5; content:'';}
				}
				& #{$this}__box:last-child{
					&:before{position:absolute; bottom:-3px; left:10%; right:0; width:6px; height:6px; border-radius:50%; border:1px solid #fff; background-color:#555; margin:0 auto; z-index:5; content:'';}
				}
				& #{$this}__center{top:-9px; width:70px; height:70px; background:url('../images/eye/double/vs_m.png') no-repeat center center; background-size:70px 70px;}
			}
			&:after{display:block; clear:both; content:'';}
			& #{$this}__box:first-child{border-radius: 30px 0 0 30px;}
			& #{$this}__box:last-child{border-radius:0 30px 30px 0; }
			& + &{margin-top:18px;
				#{$this}__box:first-child{
					&:after{ top:-18px; height:18px;}
				}
				#{$this}__box:last-child{
					&:after{top:-18px; height:18px;}
				}
			}
		}
		&__item .eye-table__arrow{padding:0;}
		&__item:nth-child(2) .eye-table__arrow{padding:0;}
		&__item:nth-child(4) .eye-table__arrow{padding:0;}
		&__box{position:relative; float:left;width:50%; text-align:center;}
		&__center{width:70px; background:url('../images/eye/double/eye_double_bg03_m1.png'); background-size: 70px 46px;padding-right:14px; padding-left:8px; word-break:break-all;
			& #{$this}__wrap{height:46px;}
		}
		&__wrap{height:44px; font-size:1.3rem; word-break: break-all;}
		&__wrap{
			&.type-longer{font-size:1.3rem;}

		}
		&__arrow{padding-right:9px; font-size:1.2rem;
			&:after{width:4px; height:7px; left:52px; background-size:4px 7px;}
		}
		&__box{
			&.type-left{float:left; padding-right:5%;}
			&.type-right{float:right; padding-left:5%;}
		}
		&__box.type-left .eye-table__wrap{padding-left:10px; padding-right:25px;}
		&__box.type-right .eye-table__wrap{padding-left:30px; padding-right:10px;}


		& #{$this}__box:first-child{padding-right:0%; padding-left:0%;}
		& #{$this}__box:last-child{padding-left:0%; padding-right:0%;}
	}

	@media only screen and (max-width:$mobile-size){
		&__wrap{font-size:1.2rem; height:53px;}
		&__center{background:url('../images/eye/double/eye_double_bg03_m2.png'); background-size: 70px 55px; height:55px;}
		&__center .eye-table__wrap{height:55px;}
		& #{$this}__box:first-child{padding-right:5%; padding-left:3%;}
		& #{$this}__box:last-child{padding-left:3%; padding-right:5%;}
	}

	@media only screen and (max-width:$iphone-size){
		font-size:1.0rem;

		&__item{
			&:first-child{font-size:1.2rem;}
		}
		&__wrap{font-size:1.2rem; letter-spacing: -0.2px;}
		&__wrap{
			&.type-longer{font-size:1.1rem;}
		}

	}
}

.double-box4{text-align: left;
	&:after{content: '';display: block;clear: both;}

	&__img{float: left;width: 57%;}
	&__box{float: left;width: 43%;padding-left: 20px; padding-right:92px; text-align: left;box-sizing: border-box;}

	@media only screen and (max-width:$tablet-size){
		&__wrap{padding-right: 10%;}
		&__img{float: none;display: block;width: auto;height: 0;padding-bottom: 142%;background: url(../images/eye/double/double_img_02.jpg) 0 0/cover no-repeat;
			img{display: none}
		}
		&__box{float: none;width: 100%;margin-top: -344px;padding-left: 0; padding-right:0;}
	}
	@media only screen and (max-width:$mobile-size){
		margin: 0 -20px;

		.content-section__tit{margin-left: 0;font-size: 2.4rem;}
		.content-section__txt1{margin-top: 0;}

		&__wrap{padding-right: 6%;}
		&__box{margin-top: -168px;padding: 0 20px;}
	}
}
.double-box5{padding: 0 3%;
	&__division{display: block;font-weight: 600;}
	.content-section__txt1{padding:0 92px;}
	@media only screen and (max-width:$tablet-size){
		text-align: left;
		.content-section__txt1{padding:0px;}
	}
	@media only screen and (max-width:$mobile-size){
		margin-top: 40px;
	}
}
.quotation{
	&.axiety{
		&.type-eye-double{margin-top: 218px;border: none;text-align: left;
			&:before{position:absolute; top:-13px; left:0; display:block; width:17px; height:16px; background:url('../images/eye/quotation-left.png') 0 0 / 13px auto no-repeat; content:'';}
			&:after{position:absolute; bottom:-13px; left:0; display:block; width:17px; height:16px; background:url('../images/eye/quotation-right.png') 0 0 / 13px auto no-repeat; content:'';}
		}
	}

	@media only screen and (max-width:$tablet-size){
		&.axiety{
			&.type-eye-double{margin-top: 90px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.axiety{
			&.type-eye-double{padding: 18px 0;
				&:before{top:-10px; left:0; display:block; width:17px; height:16px; background:url('../images/eye/quotation-left_680.png') 0 0 / 6px auto no-repeat;}
				&:after{bottom:-15px; left:0; display:block; width:17px; height:16px; background:url('../images/eye/quotation-right_680.png') 0 0 / 6px auto no-repeat;}
			}
		}
	}
}
.eclipsis{
	&.type-eye-double{top: 0;left: 10px;}
}
.content-highlight{
	&.type-eye-double{background-color: #dff6ef;display: inline; font-weight:500; padding: 0; color: #333333;}
	&.type-eye-double2{background-color: #10a776;display: inline; font-weight:500; padding: 0 5px; color: #fff;}
}
.content-highlight2{
	&.type-eye-double{color: #333333;
		&:after{background-color: #dff6ef; top:7%;}
	}
}


.operation{
	$this:&;
	&__wrapper{
		&.type-eye-double{background:url('../images/eye/double/double_oper_01.jpg') no-repeat left center;}
	}
}
.status-bar{
	$this:&;
	&.type-eye-double{
		& #{$this}__wrap{background:url('../images/eye/double/double_status_01.png') no-repeat center center; background-size:contain;}
	}

	@media only screen and (max-width:$mobile-size){
		&.type-eye-double{
			& #{$this}__wrap{background:url('../images/eye/double/double_status_01_m.png') no-repeat center center; background-size:contain;}
		}
	}
}
