<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-reoperation">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">แม้ว่าเป็นการเปลี่ยนแปลงที่เล็กน้อย แต่รู้สึกถึงความแปลกใหม่</p>
				<h3 class="content-visual__tit">#ศัลยกรรมแก้<span class="color-reoperation1">ตา</span></h3>
				<p class="content-visual__txt2">คมชัดมากขึ้น  ละเอียดมากขึ้น</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content">
		<div class="content-wrap">
			<div class="content-section type-first">
				<div class="reoperation-box1">
					<div class="content-section__box w-7 type-another2">
						<h4 class="content-section__tit type-top">
							<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
							ถ้าจำเป็นที่จะต้องแก้ไข
							<strong class="color-reoperation1">ไม่ต้อง</strong>ลังเลอีกต่อไป
						</h4>
						<p class="content-section__txt1">
							ในการปรึกษา คนไข้บางรายได้มีคำถามว่าการแก้ไขครั้งใหม่จะไม่ทำให้ผลลัพท์แย่ไปกว่า การทำศัลยกรรมครั้งแรก.แต่ถ้าหากว่าไม่มีการทำผิดพลาดในครั้งแรก คำถามแบบนี้จะไม่เกิดขึ้น สำหรับคนไข้ที่มีความจำเป็นที่จะต้องศัลยกรรมแก้แล้ว ย่อมเกิดความกังวลขึ้นได้
						</p>
					</div><!-- //content-section__box-->
					<div class="reoperation-box1__img">img</div>
				</div><!--//reoperation-box1-->
				<div class="reoperation-box2">
					<h5 class="reoperation-box2__tit">
						ในเมื่อเดี๋ยวนี้ยังสามารถแก้ไขการยึดของกระดูกได้,
	                    การแก้ไขตาที่ปรับเปลี่ยนการยึดที่ผิวหนังแล้ว
						ถือว่า<strong class="color-reoperation1">เป็นวิธีที่ง่ายกว่ากันเยอะ</strong>
					</h5>
					<p class="reoperation-box2__txt">
						หากเลือกวิธีแก้ไขและดำเนินการอย่างถูกต้องด้วยคำวินิจฉัยที่แม่นยำแล้วต่อให้เป็นการแก้ไขหรือการทำใหม่ ก็ได้ผลลัพท์ที่สวยและน่าพึงพอใจเช่นเดียวกัน
					</p>
					<ul class="reoperation-box2__list">
						<li class="reoperation-box2__item"><img src="../../images/reoperation/reoperation_eye_img04.jpg" loading="lazy" alt=""></li>
						<li class="reoperation-box2__item"><img src="../../images/reoperation/reoperation_eye_img05.jpg" loading="lazy" alt=""></li>
					</ul>
				</div>
				<div class="reoperation-box3">
					<div class="content-section__box w-8 type-another0">
						<div class="reoperation-box3__wrap">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number type-another"><span class="content-section__number-wrap">02</span></span>
								ในการศัลยกรรมแก้ตาก็เหมือนกับการ
								<strong class="color-reoperation5">แก้คลายปมไหมที่ซับซ้อนออกทีละชั้นๆ</strong>
							</h4>
							<p class="content-section__txt1">There are many reasons for a revision blepharoplasty:
								ต้นเหตุของการศัลยกรรมแก้ตามีหลายปัจจัย อาทิ ปัญหาการใช้งานของดวงตาหลังผ่าตัด .ไม่พอใจรูปทรงตา. รอยแผลที่หลงเหลือให้เห็น หรือปมไหมคลายตัว เป็นต้น เราจะเห็นสาเหตุแบบนี้ได้บ่อยครั้ง
							</p>
							<p class="content-section__txt2 color-white">
								แม้ในปัญหาที่เหมือนกันความรุนแรงมักแตกต่างกันไปในแต่ละบุคคล: สิ่งที่สำคัญที่สุดคือการวินิจฉัยที่แม่นยำ
							</p>
						</div>
						<div class="reoperation-box3__img">img</div>
						<div class="reoperation-eye">
							<ul class="reoperation-eye__list">
								<li class="reoperation-eye__item type-before nth-1">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img01.jpg" loading="lazy" alt="before">
									</div>
								</li>
								<li class="reoperation-eye__item type-after nth-2">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img02.jpg" loading="lazy" alt="after">
									</div>
								</li>
							</ul>
							<ul class="reoperation-eye__list">
								<li class="reoperation-eye__item type-before nth-3">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img03.jpg" loading="lazy" alt="before">
									</div>
								</li>
								<li class="reoperation-eye__item type-after nth-4">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img04.jpg" loading="lazy" alt="after">
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- //reoperation-box3 -->
				<div class="reoperation-box4">
					<p class="reoperation-box4__txt">
	                    ปัจจัยทุกประการต้องได้รับการตรวจสอบทีละขั้นตอน ดูว่ารูปตาเดิมของคนไข้มีลักษณะเป็นอย่างไร เคยมีประวัติการศัลยกรรมแบบไหนมาก่อน ทำไมถึงไม่พอใจในผลลัพธ์
						<strong class="color-reoperation5">ตรวจเช็คลักษณะผิวรอบดวงตา ต้องหาแนวทางการแก้ไขที่ถูกต้องอย่างรอบคอบ</strong>
					</p>
				</div>
			</div><!-- //content-section -->
			<div class="content-section">
				<div class="reoperation-box5">
					<h4 class="content-section__tit type-center">
						<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
						<strong>ในกรณีที่ชั้นตาคลายออก</strong>
					</h4>
					<ul class="line-img">
						<li class="line-img__item nth-1"><img src="../../images/reoperation/line_img01.png" loading="lazy" alt=""></li>
						<li class="line-img__item nth-2"><img src="../../images/reoperation/line_img02.png" loading="lazy" alt=""></li>
					</ul>
					<p class="content-section__txt1">
						โอกาสที่ชั้นตาสองชั้นจะคลายตัวออกในช่วงปีแรกหลังการศัลยกรรมถือว่าพอมีโอกาสอยู่บ้าง
						แต่สมัยนี้มีวิธีที่พัฒนาที่จะช่วยลดโอกาสในการคลายตัวของชั้นตาได้ ถ้าหลังจากที่ทำศัลยกรรมได้ไม่นานแล้วปมคลายออก ชี้ให้เห็นว่าเป็นข้อบกพร่องทางเทคนิคศัลยแพทย์นั้นๆ
						<span class="color-reoperation1">บาโนบากิใช้เทคนิคเพื่อป้องกันไม่ให้การคลาย หรือมีการหลุดของไหม</span>
					</p>
				</div>
				<p class="caution-para1">
					<span class="inline-block">※ รูปที่เห็นอาจมีความแตกต่างกับตัวจริงขึ้นอยู่กับองค์ประกอบของการถ่ายภาพ, ภาพนี้ได้รับความยินยอมจากคนไข้แล้ว</span>
				</p>
				<div class="line-way">
					<ul class="line-way__list clearfix">
						<li class="line-way__item">
							<h5 class="line-way__tit nth-1">การคลายตัวอย่างธรรมชาติ</h5>
							<p class="line-way__txt">
								ในบางกรณีเปลือกตาสองชั้นจะคลายตัวเองออกโดยธรรมชาติ,
								<span class="color-black">ต้องมีการปรึกษาและตัดสินใจ</span>ว่าควรจะเป็น<span class="color-black">การเย็บจุด หรือจะใช้เทคนิคการกรีด</span>
							</p>
						</li>
						<li class="line-way__item">
							<h5 class="line-way__tit nth-2">ถ้าไม่อยากใช้วิธีการกรีด</h5>
							<p class="line-way__txt">
								<span class="color-black">บาโนบากิมีหลากหลายเทคนิคที่ทำให้เหมาะสมกับรูปตาของคนไข้.</span>
								โดยจะดูว่ารูปทรงชั้นตาที่คนไข้ต้องการเป็นแบบไหน จึงจะเลือกใช้วิธีที่เหมาะสมแก่คนไข้ ซึ่งไม่จะเป็นว่าจะต้องแก้ไขที่เปลือกตาสองชั้นเพียงอย่างเดียว
							</p>
						</li>
					</ul>
				</div>
				<div class="reoperation-brace">
					<div class="brace type-reoperation-eye">
						<p class="brace__txt txt-v4">
							เป้าหมายของการศัลยกรรมตานั้นคือการ สร้างความสวยงามให้แก่ตา และดูความเหมาะสมกับใบหน้า จะต้องมีการวิเคราะห์อย่างละเอียด
							<strong class="color-reoperation1">โดยไม่จำเป็นต้องคำนึงถึงแต่เปลือกตาด้านบนเท่านั้น</strong>
						</p>
					</div>

				</div>
			</div><!-- //content-section -->
			<div class="content-section">
				<div class="reoperation-box6">
					<div class="content-section__box w-5 type-another0">
						<h4 class="content-section__tit type-top">
							<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
							ในกรณีที่ ชั้นตาไม่เท่ากันอย่างเห็นได้ชัดเจน
						</h4>
						<p class="content-section__txt1">
							หลังจากผ่าตัดไปได้ประมาณ 6 เดือน ก่อนอาการบวมจะลดลง จะยังไม่สามารถประเมินเกี่ยวกับการไม่เท่ากันได้แน่นอนมากนัก อีกทั้งถึงแม้ว่าอาการบวมจะลดลงแล้วและเกิด
							<span class="content-highlight type-reoperation">ชั้นตาไม่เท่ากันเพียงเล็กน้อย ก็ไม่แนะนำให้แก้ไขใหม่</span>
							เนื่องจากธรรมชาติร่างกายมนุษย์โดยปกติแล้ว มีความไม่เท่ากันอยู่บ้าง แม้ว่าชั้นตาจะเท่ากันก็ตาม แต่ปัจจัยภายนอกที่ไม่สมมาตร ก็อาจจะทำให้ชั้นตาดูไม่เท่าก็เป็นได้
						</p>
						<p class="content-section__txt2">
	                        เนื่องด้วยเช่นนี้แล้ว การพูดคุยปรึกษากันอย่างมีเหตุผลระหว่างผู้เชี่ยวชาญจึงถือเป็นสิ่งที่สำคัญมากส่วนเคสที่ไม่เท่ากัน
	                        อย่างเห็นได้ชัดจนต้องผ่าแก้ไขใหม่นั้น
							<span class="color-reoperation1">สามารถที่จะปรับแก้ความสูงชั้นตาด้วยวิธีที่เหมาะสมได้</span>
						</p>
					</div>
					<div class="reoperation-box6__img">img</div>
				</div>
			</div><!-- //content-section -->
			<div class="content-section">
				<div class="reoperation-box7">
					<div class="content-section__wrap">
						<div class="content-section__box type-another2 w-7">
							<h4 class="content-section__tit type-top">
								<span class="content-section__number type-another"><span class="content-section__number-wrap">05</span></span>
								<strong>กรณีที่ดูบวมตลอดเวลา</strong>
							</h4>
							<p class="content-section__txt1">
								เมื่อลองมองหลักการแพทย์ที่ว่า หลังทำศัลยกรรมแล้ว 6เดือน-1ปี อาการบวมจะหายดี แต่หากเลยช่วงเวลาดังกล่าวไปแล้วแต่ตายังดูมีอาการบวมอยู่ ทำให้เห็นชั้นตาไม่ชัดเจน สาเหตุอาจเกิดจากการจับชั้นตาที่ผิด เช่น
								<span class="color-reoperation1">จับชั้นตาที่สูงไป กรณีดังกล่าวมีวิธีการแก้ไขที่ค่อนข้างง่ายสามารถทำได้โดยการคลายออกและสร้างตาสองชั้นใหม่</span>
							</p>
						</div>
					</div>
				</div>
				<div class="reoperation-box8">
					<div class="reoperation-box8__wrap">
						<h5 class="reoperation-box8__tit">กรณีที่ต้องปรับกล้ามเนื้อตาร่วมด้วย</h5>
						<p class="reoperation-box8__txt">
							ตอนที่ลืมตา เปลือกตาด้านล่างของเปลือกตาสองชั้นจะต้องขึ้นมาอย่างธรรมชาติ แต่เมื่อแรงที่ใช้ในการลืมตาอ่อน จึงทำให้ด้านล่างไม่ยกขึ้นตามด้วย เมื่อก่อนการปรับกล้ามเนื้อตามีเพียงการกรีดเท่านั้น แต่สำหรับคนไข้ที่ไม่ต้องการวิธีกรีด ก็มีการศัลยกรรมโดยไม่ปรับกล้ามเนื้อตาร่วมด้วยเป็นจำนวนมาก การแก้ไขกล้ามเนื้อตาของบาโนบากิไม่<span class="content-highlight type-reoperation2">เพียงแต่จะใช้วิธีการกรีดทั้งหมดทีเดียวแต่ยังสามารถกรีดเฉพาะส่วนได้ด้วย จึงทำให้ผลลัพธ์การปรับกล้ามเนื้อตาออกมาสวยและมีความปลอดภัย</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
