<%
	type = "detail"
	page = "reoperation"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="reoperation detail-common">
    <section class="fs_section reoperationFirst js-first" data-section-name="home">
        <div class="detail__inner">
            <div class="detail__vertical">
                <p class="detail__first-tit type-reoperation">
                    ยึดหลักปฏิบัติอย่างเที่ยงธรรมตรงไปตรงมา
                </p>
                <h3 class="detail__first-txt type-reoperation">
                    <strong class="detail__first-point">รักษาตั้งแต่ภายนอกจนถึงภายใน</strong><br>
                    ใส่ใจรายละเอียด<span class="color-reoperation1">ศัลยกรรมแก้ไข</span>บาโนบากิ
                </h3>
            </div>
        </div>
        <div class="scroll">
            <div class="inner">
                <i></i>
            </div>
            <em>SCROLL</em>
        </div>
    </section>

    <section class="fs_section reoperationSection01" data-section-name="reoperationSection01">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-normal type-reoperation">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมแก้ไข,<br class="hidden-tm">
                        ที่บาโนบากิ
                        <strong class="color-reoperation1">ทำอย่างนี้</strong>
                    </h4>
                    <p class="detail__section-subtit">แก้ไขให้ตรงจุดอย่างถูกต้อง</p>
                    <p class="detail__section-txt">
                        การศัลยกรรมแก้ไขอาจมีสาเหตุหลายประการ
                        แต่โดยรวมแล้วก็มาจากความไม่พอใจในส่วน
                        นั้นๆ นั่นเอง <span class="color-reoperation4">บาโนบากิรับฟังความต้องการของ
                        คนไข้ เข้าใจถึงปัญหาและสร้างผลลัพธ์ที่คนไข้
                        ต้องการ</span> นี่คือสิ่งที่บาโนบากิปฏิบัติต่อคนไข้
                    </p>
                </div>
                <div class="layer-doc type-reoperation hidden-m"><!-- pc용 -->
                    <h5 class="layer-doc__tit">ระบบศัลยกรรมแก้ไขบาโนบากิ</h5>
                    <ul class="layer-doc__list">
                        <li class="layer-doc__item">วิเคราะห์ถึงความจำเป็นของการศัลยกรรมแก้ไข</li>
                        <li class="layer-doc__item">เข้าใจเป้าหมาย</li>
                        <li class="layer-doc__item">วินิจฉัยอย่างละเอียด</li>
                        <li class="layer-doc__item">ดำเนินการผ่าตัด</li>
                        <li class="layer-doc__item">ดูแลหลังผ่าตัด</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="detail__dim">딤처리</div>
        <div class="detail__popup-m">
            <div class="layer-doc hidden-pt type-reoperation">
                <h5 class="layer-doc__tit">ระบบศัลยกรรมแก้ไขบาโนบากิ<span class="color-reoperation1">.</span></h5>
                <ul class="layer-doc__list">
                    <li class="layer-doc__item">- วิเคราะห์ถึงความจำเป็นของการศัลยกรรมแก้ไข</li>
                    <li class="layer-doc__item">- เข้าใจเป้าหมาย</li>
                    <li class="layer-doc__item">- วินิจฉัยอย่างละเอียด</li>
                    <li class="layer-doc__item">- ดำเนินการผ่าตัด</li>
                    <li class="layer-doc__item">- ดูแลหลังผ่าตัด</li>
                </ul>
            </div>
        </div>
        <div class="detail__section-bottom hidden-pt type-reoperation">
            <div class="detail__section-set">
                <span>ระบบศัลยกรรมแก้ไขบาโนบากิ</span>
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-reoperation" data-popup-type="section">button</a></span>
            </div>
        </div>
    </section>

    <section class="fs_section reoperationSection02" data-section-name="reoperationSection02">
        <div class="detail__inner type-full">
            <div class="detail__section-wrap type-reoperation type-quotation2">
            <div class="detail__section-wrap2">
                <div class="detail__vertical">
                    <div class="detail__section-box type-reoperation type-wide type-quotation2">
                        <h4 class="detail__section-tit">
                            ศัลยกรรมแก้ไข,<br>
                            ที่บาโนบากิ
                            <strong class="color-reoperation2">เชื่อถือได้</strong>
                        </h4>
                        <p class="detail__section-subtit">ทีมศัลยแพทย์ที่เชี่ยวชาญเฉพาะจุด</p>
                        <p class="detail__section-txt">
                            ศัลยกรรมแก้ไขต้องเข้าใจถึงที่มาของปัญหา,
                            วิธีการแก้ปัญหา, การใช้วัสดุที่เหมาะสม ถือ
                            เป็นการศัลยกรรมที่ยุ่งยากซับซ้อน จึง<span class="color-reoperation2">ต้องมี
                            แพทย์ที่เชี่ยวชาญด้านการศัลยกรรมแก้ไข
                            เฉพาะจุดนั้นๆ</span> เพื่อแก้ไขปัญหาได้อย่างถูกต้อง
                            และเชี่ยวชาญ
                        </p>
                    </div>
                </div>
            </div>
            <!-- pc -->
            <div class="layer-img2 hidden-tm">
                <div class="layer-img2__box"></div>
                    <a href="../introduce/introduceMedical.php" class="layer-img2__link">แนะนำทีมแพทย์</a>
                </div>
            </div>
        </div>
        <!-- mobile -->
        <div class="layer-img2 hidden-p">
            <div class="layer-img2__box"></div>
            <a href="#" class="layer-img2__link">แนะนำทีมแพทย์</a>
        </div>
    </section>

    <section class="fs_section reoperationSection03" data-section-name="reoperationSection03">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wide type-reoperation">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมแก้ไข<br>
                        ที่บาโนบากิ
                        ทำได้<strong class="color-reoperation1">ดีกว่า</strong>
                    </h4>
                    <p class="detail__section-subtit">แม่นยำกว่า, ใส่ใจกว่า, ผลลัพธ์ดีกว่า</p>
                    <p class="detail__section-txt">
                        ศัลยกรรมแก้ไข เป็นสิ่งที่ศัลยแพทย์อยากหลีกเลี่ยง
                        แต่ทีมแพทย์ของบาโนบากิมั่นใจว่าสามารถรับมือ
                        กับเคสแก้ไขได้เป็นอย่างดี <span class="color-reoperation3">ด้วยประสบการณ์ที่สะสม
                        มาเป็นเวลานาน จึงรู้เทคนิคและวิธีทำให้ผลลัพธ์ออก
                        มาเป็นที่พึงพอใจต่อคนไข้ได้</span> คนไข้ที่เลือกบาโนบากิ
                        จะต้องไม่เจอกับคำว่าล้มเหลว
                    </p>
                </div>
                <div class="diagram4">
                    <ul class="diagram4__list">
                        <li class="diagram4__item nth-1"><div class="diagram4__wrap"><p class="diagram4__txt">ศัลยกรรมแก้ไขตา</p></div></li>
                        <li class="diagram4__item nth-2"><div class="diagram4__wrap"><p class="diagram4__txt">ศัลยกรรมแก้ไขจมูก</p></div></li>
                        <li class="diagram4__item nth-3"><div class="diagram4__wrap"><p class="diagram4__txt">ศัลยกรรมแก้ไขหน้าอก</p></div></li>
                        <li class="diagram4__item nth-4"><div class="diagram4__wrap"><p class="diagram4__txt">ศัลยกรรมแก้ไขบาโนบากิ</p></div></li>
                        <li class="diagram4__item nth-5"><div class="diagram4__wrap"><p class="diagram4__txt">ศัลยกรรมแก้ไขโครงหน้า</p></div></li>
                        <li class="diagram4__item nth-6"><div class="diagram4__wrap"><p class="diagram4__txt">ศัลยกรรมแก้ไขรูปร่าง</p></div></li>
                        <li class="diagram4__item nth-7"><div class="diagram4__wrap"><p class="diagram4__txt">ศัลยกรรมแก้ไขริ้วรอย</p></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="fs_section reoperationSection04" data-section-name="reoperationSection04">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wide type-right type-reoperation">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมแก้ไข,
                        ที่บาโนบากิ
                        เรา<strong class="color-reoperation1">ใส่ใจรายละเอียด</strong>
                    </h4>
                    <p class="detail__section-subtit">ความสำเร็จในการนำวัสดุที่ใส่เข้าไปออกอย่างถูกวิธี</p>
                    <p class="detail__section-txt">
                        <span class="color-reoperation3">สิ่งที่สำคัญที่สุดในการนำวัสดุเดิมออกคือ การรู้ตำแหน่งของวัสดุเหล่านั้น รวมไปถึงการนำวัสดุดังกล่าวออกโดยไม่ทำให้เนื้อเยื่อบริเวณนั้นเสียหาย</span> ด้วยฝีมือ และความใส่ใจในทุกรายละเอียดของทีมแพทย์บาโนบากิที่สามารถมองออกว่าควรเอาวัสดุออกอย่างไร รวมทั้งคำนึงถึงไม่ให้เกิดผลข้างเคียง และความเสียหายต่อเนื้อเยื่อหลังจากแก้ไข
                    </p>
                </div>
                <div class="layer-doc6">
                    <ul class="layer-doc6__list">
                        <li class="layer-doc6__item nth-1">
                            <div class="layer-doc6__img"></div>
                            <p class="layer-doc6__txt">หาตำแหน่งด้วยคลื่นเสียง</p>
                        </li>
                        <li class="layer-doc6__item nth-2">
                            <div class="layer-doc6__img"></div>
                            <p class="layer-doc6__txt">กำจัดสารเหลว</p>
                        </li>
                        <li class="layer-doc6__item nth-3">
                            <div class="layer-doc6__img"></div>
                            <p class="layer-doc6__txt">กลับสู่สภาพเดิม</p>
                        </li>
                        <li class="layer-doc6__item nth-4">
                            <div class="layer-doc6__img"></div>
                            <p class="layer-doc6__txt">รักษาฟื้นฟู</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
