<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-reoperation-nose">
	    <div class="content-visual__box">
	        <div class="content-visual__border type-reoperation-nose">
	            <p class="content-visual__txt1 type-reoperation-nose">การแก้ไขใหม่ที่คำนึงถึงโครงสร้างที่ซับซ้อน</p>
	            <h3 class="content-visual__tit type-reoperation-nose">#<span class=".color-reoper-nose1">ศัลยกรรมแก้จมูก</span></h3>
	            <p class="content-visual__txt2 type-reoperation-nose">ทรงจมูกใหม่ที่แก้ไขได้โดยไร้ผลข้างคียง</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content">
	    <div class="content-wrap">
	        <div class="nose-skill">
	            <div class="nose-skill__wrapper clearfix">
	                <div class="nose-skill__thumb img01">img</div>
	                <div class="nose-skill__desc">
	                    <div class="content-section type-first">
	                        <h4 class="content-section__tit type-left">
	                            <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	                            สิ่งที่สำคัญในการผ่าตัดแก้ไขจมูก คือ<strong>ประสบการณ์</strong>และ<strong>เทคนิค</strong>ของศัลยแพทย์
	                        </h4>
	                    </div>
	                    <div class="nose-skill__thumb--t img01">img</div>
	                    <p class="content-section__txt1">
	                        จมูกของเราแม้จะมีขนาดเล็กแต่ประกอบไปด้วยโครงสร้างที่ซับซ้อนของกระดูก
	                        กระดูกอ่อนและเนื้อเยื่ออ่อน
	                        นอกจากนี้กรณีจมูกที่เคยรับการผ่าตัดแปลี่ยนแปลงมาแล้ว จะมีโครงสร้างและเนื้อเยื่อที่มีความซับซ้อนมากขึ้นและหากพิจารณาจากสาเหตุของการผ่าตัดแก้จมูก เช่นความไม่พอใจด้านความงาม ปัญหาเกี่ยวกับการทำงานของจมูกภาวะแทรกซ้อนทางศัลยกรรมด้วยแล้ว ยิ่งทำให้การผ่าตัดแก้จมูกเป็นงานที่ค่อนข้างยุ่งยากยากและซับซ้อน
	                    </p>
	                    <p class="content-section__txt1">
	                        <strong>ดังนั้นการได้รับการผ่าตัดแก้จมูกจากผู้เชี่ยวชาญที่มีประสบการณ์และมีทักษะ
	                        ความชำนาญเป็นพิเศษถือเป็นสิ่งที่สำคัญมาก</strong>
	                        บาโนบากิได้ดำเนินการผ่าตัดจมูกโดยศัลยแพทย์ผู้เชี่ยวชาญด้านจมูกมาตั้งแต่ปี2000 อีกทั้งดำเนินการผ่าตัดแก้จมูกโดยศัลยแพทย์ผู้เชี่ยวชาญด้านศัลยกรรมจมูกที่มีประสบการณ์สูงมาโดยตลอด
	                    </p>
	                    <div class="nose-skill__thumb--m img01">img</div>
	                </div>

	            </div>
	        </div>
	        <!-- //content-section -->
	        <div class="timing">
	            <div class="timing__wrapper bg">
					<div class="timing__img-left"><div class="timing__img-box">before</div></div>
					<div class="timing__img-right"><div class="timing__img-box">after</div></div>
	                <h4 class="timing__tit">
	                    การ<span class="content-highlight re-nose-timing1">แก้จมูก</span>ควรอาศัย
	                    <span class="color-reoper-nose2">ช่วงเวลาที่เหมาะสม</span>
	                </h4>
	                <p class="timing__txt1">
	                    เนื่องด้วยเพราะจมูกเป็นอวัยวะที่สามารถมองเห็นได้ชัดเจนบริเวณใบหน้า บรรดาคนไข้ที่ตัดสินใจในการแก้จมูก มักจะอยากแก้จมูกให้เร็วที่สุด
	                    เนื่องจากความเครียดจากการไม่พอใจในทรงจมูก
	                </p>
	                <p class="timing__txt1">
	                    อย่างไรก็ตามการผ่าตัดแก้จมูกไม่สามารถรีบร้อนได้ เนื่องจากในการแก้นั้นจะต้องอาศัยช่วงเวลาที่เหมาะสมในการผ่าตัดแม้ว่าวิธีการผ่าตัดจมูกก่อนหน้านี้จะแตกต่างกันก็ตาม
	                    แต่โดย<span class="content-highlight re-nose-timing1">ปกติระยะเวลาที่เหมาะสมสำหรับการผ่าตัดแก้ไขคือประมาณ3-6 เดือน</span>นับจากการผ่าตัดครั้งแรก เหตุผลก็คือหลังจากผ่านช่วงเวลาดังกล่าวแล้ว เนื้อเยื่อโดยรวมจะมีการประสานกันและสามารถทำการผ่าตัดได้อย่างละเอียดนอกจากนี้ในกรณีที่เกิดการอักเสบแนะนำให้นำสิ่งที่เป็นสาเหตุของการอักเสบออกและรอให้การการอักเสบดีขึ้นก่อนรับการผ่าตัดแก้ไขอีกครั้ง
	                </p>
	                <div class="timing__ideal">
	                    <p class="timing__txt2">
	                        ดังนั้น หากต้องการรับการผ่าตัดแก้จมูกอีกครั้ง ควรให้ความสำคัญกับการเลือกโรงพยาบาล ควรเลือกโรงพยาบาลที่สามารถวินิจฉัยถึงสภาพจมูกปัจจุบันได้
	                        และ<span class="color-reoper-nose3">เลือกโรงพยาบาลที่พิจารณาสาเหตุความไม่พึงพอใจได้จากการปรึกษาที่เพียงพอ</span>
	                        มากกว่าโรงพยาบาที่แนะนำให้รับการผ่าตัดได้ทันที
	                    </p>
	                    <h5 class="timing__sub-tit">เวลาที่เหมาะสำหรับการผ่าตัดแก้ไขจมูก</h5>
	                    <ul class="timing__list clearfix">
	                        <li class="timing__item">
	                            <div class="timing__inner">
	                                <div class="timing__txt3">
	                                    <span class="color-reoper-nose4">3-6เดือนหลังการผ่าตัด</span>
	                                    ครั้งก่อน
	                                </div>
	                            </div>
	                        </li>
	                        <li class="timing__item">
	                            <div class="timing__inner">
	                                <div class="timing__txt3">
	                                    ในกรณีที่เกิดการอักเสบ,
	                                    <span class="color-reoper-nose4">หลังนำวัสดุที่เป็นสาเหตุของการอักเสบออกแล้ว</span>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="timing__item">
	                            <div class="timing__inner">
	                                <div class="timing__txt3">
	                                    หลังการ<span class="color-reoper-nose4">อักเสบลดลง</span>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	        <!-- //content-section -->


	        <!-- tab  -->
	        <div class="content-tab">
	            <div class="content-tab__inner">
	                <ul class="content-tab__list">
	                    <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-tip">ปลายจมูก</a></li>
	                    <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-bridge">สันจมูก</a></li>
	                    <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-prosthesis">ซิลิโคน</a></li>
	                </ul>
	            </div>
	        </div>

	        <!-- tab content -->
	        <div class="content-tab__page page-tip is-active">
	            <div class="content-tab__box">
	                <div class="re-surgery type-nose-end">
	                    <div class="item-box1">
	                        <ul class="item-box1__list clearfix">
	                            <li class="item-box1__item nth-1">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/end-nose01-p.jpg" loading="lazy" alt="กรณีที่เวลาผ่านไปแล้วปลายจมูกต่ำลง">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose01-t.jpg" loading="lazy" alt="กรณีที่เวลาผ่านไปแล้วปลายจมูกต่ำลง"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/end-nose01-m.jpg" loading="lazy" alt="กรณีที่เวลาผ่านไปแล้วปลายจมูกต่ำลง">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            กรณีที่เวลาผ่านไปแล้วปลายจมูกต่ำลง
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            หากกระดูกอ่อนปลายจมูกอ่อนลงและเสากลางจมูกสั้นเมื่อลองกดปลายจมูกแล้ว ไม่มีแรงต้าน พอเวลาผ่านไปกระดูกอ่อนในตำแหน่งนั้นก็จะต่ำลง
	                                            <span class="color-reoper-nose5">ดังนั้นลักษณะรูปทรงและความแข็งของปลายจมูกจะต้องถูกกำหนดไว้อย่างแม่นยำตั้งแต่
	                                            รับการปรึกษาและการวินิจฉัยที่ละเอียดอีกทั้งวิธีการยืดฐานเสากั้นกลางจมูกหรือความแข็งแรงของเสากั้นจมูกนั้น จะทำให้ปลายจมูกโด่งได้รูปทรงอีกครั้งในการผ่าตัดแก้ไข</span>
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item longer">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                การกำหนดโครงสร้างปลายจมูกที่แม่นยำจากขั้นตอนวินิจฉัยที่ละเอียด
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                ปลายจมูกที่ได้รูปทรงจากการศัลยกรรมปลายจมูกหรือการยืดเสากั้นกลางจมูก
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-2">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/end-nose02-p.jpg" loading="lazy" alt="กรณีที่ปลายจมูกสั้นลงและรูปทรงเปลี่ยนแปลงไปเนื่องจากโครงสร้าง">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose02-t.jpg" loading="lazy" alt="กรณีที่ปลายจมูกสั้นลงและรูปทรงเปลี่ยนแปลงไปเนื่องจากโครงสร้าง"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/end-nose02-m.jpg" loading="lazy" alt="กรณีที่ปลายจมูกสั้นลงและรูปทรงเปลี่ยนแปลงไปเนื่องจากโครงสร้าง">
	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            กรณีที่ปลายจมูกสั้นลงและรูปทรงเปลี่ยนแปลงไปเนื่องจากโครงสร้าง
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            นี่เป็นผลข้างเคียงที่เกิดขึ้นได้น้อยมากจากการปล่อยปละละเลยอาการอักเสบหลังการผ่าตัด
	                                            <span class="color-reoper-nose5">เพื่อแก้ปัญหาส่วนนี้ต้องนำเนื้อเยื้อส่วนที่เป็นปัญหาด้านในจมูกออกให้เรียบร้อยก่อนแล้วจึงทำการแก้ไขปลายจมูกและเนื้อเยื่อส่วนที่เหลืออยู่</span>
	                                            หลังจากนั้น ทำการปรับปลายจมูกที่ต่ำลงโดยใช้วัสดุซิลิโคนหรือวัสดุที่เหมาะสมกับกับซิลิโคนของตัวเอง สิ่งสำคัญคือต้องพยายามทำให้ปลายจมูกที่ปรับแต่งแล้วไม่เกิดแรงกดโดยการยืดเนื้อเยื่อส่วนที่ทำการกรีดมาเสริม อีกทั้งหลังการผ่าตัดต้องมีการดูแลตัวเอง เช่น งดสูบบุหรี่งดเครื่องดื่มแอลกอฮอร์ งดการนวด เพื่อป้องกันการเกิดซ้ำอีกครั้ง
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item longer">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                การนำเนื้อเยื่อส่วนที่มีปัญหาออก และสาเหตุของการเกิดผังพังผืด
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                การยืดเนื้อเยื่ออ่อนส่วนที่ถูกกรีดอย่างเพียงพอ
	                                            </p>
	                                        </li>
	                                        <li class="nose-info__item longer">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                การแก้ไขปลายจมูกโดยเลือกวัสดุที่เหมาะสมตามแต่ละบุคคล
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                การดูแลตนเองหลังการผ่าตัด เช่น งดสูบบุหรี่ งดดื่มแอลกอฮอร์ งดการนวด เป็นต้น
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-3">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/end-nose03-p.jpg" loading="lazy" alt="กรณีปลายจมูกทื่อ">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose03-t.jpg" loading="lazy" alt="กรณีปลายจมูกทื่อ"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/end-nose03-m.jpg" loading="lazy" alt="กรณีปลายจมูกทื่อ">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            กรณีปลายจมูกทื่อ
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            คนไข้ส่วนใหญ่มักไม่พอใจหลังจากผ่าตัดศัลยกรรมจมูกเสร็จแล้วแต่ปลายจมูกทื่อ
	                                            สาเหตุนี้อาจเกิดได้จากการเหลากระดูกอ่อนไม่บางพอ, หรือเอาไขมันใต้ผิวออกได้ไม่เพียงพอ , หรือกระดูกอ่อนที่ปลูกถ่ายปลายจมูกมีรูปทรงที่ไม่เหมาะสม
	                                            ไม่ว่าจะเกิดจากสาเหตุใดก็ตาม คนไข้ควรได้รับการวิเคราะห์ถึงสาเหตุที่ให้เกิดความไม่พึงพอใจอย่างถ่องแท้ หลังจากนั้นควรทำกรีดตามรอยเดิม แล้วทำการรวบกระดูกปลายจมูก เหลาให้มีขนาดที่เหมาะสมประมาณเม็ดเพชร และทำการปลุกถ่ายที่ปลายจมูก
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item longer">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                ปรับความกว้างของกระดูกอ่อนปลายจมูก
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                ปลูกถ่ายกระดูกอ่อนปลายจมูกใหม่ด้วยกระดูกอ่อนที่มีรูปทรงลักษณะคล้ายเพชร
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="content-tab__page page-bridge">
	            <div class="content-tab__box">
	                <div class="re-surgery type-nose-slack">
	                    <div class="item-box1">
	                        <ul class="item-box1__list clearfix">
	                            <li class="item-box1__item nth-1">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/slack-nose01-p.jpg" loading="lazy" alt="ในกรณีที่รู้สึกว่าสันจมูกสูงไปหรือต่ำไป">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose01-t.jpg" loading="lazy" alt="ในกรณีที่รู้สึกว่าสันจมูกสูงไปหรือต่ำไป"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/slack-nose01-m.jpg" loading="lazy" alt="ในกรณีที่รู้สึกว่าสันจมูกสูงไปหรือต่ำไป">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            ในกรณีที่รู้สึกว่าสันจมูกสูงไปหรือต่ำไป
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            การศัลยกรรมจมูกต้องคำนึงถึงสัดส่วนความสัมพันธ์ของหน้าผาก สันกราม รวมถึงสัดส่วนต่างๆของใบหน้า และเอกลักษณ์ของตนเอง หากไม่คำนึงถึงสัดส่วนเหล่านี้ อาจจะทำให้รู้สึกว่าสันจมูกต่ำหรือสูงเกินไปได้
	                                            คนไข้ส่วนใหญ่ตัดสินใจในการผ่าตักแก้ไขจมูกอีกครั้ง เนื่องจากสาเหตุการไม่พึงพอใจของความสูงของสันจมูก
	                                            ด้วยเหตุผลนี้<span class="color-reoper-nose7">การผ่าตัดแก้ไขความสูงของสันจมูกใหม่ให้เหมาะสม จะต้องคำนึงถึงการเปลี่ยนขนาดวัสดุซิลิโคนหรือปรับขนาดของกระดูกจนถึงสัดส่วนใบหน้าโดยรวม</span>
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-slack clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                กำหนดความสูงโดยคำนึงถึงความสัมพันธ์ของแต่ละส่วนบนใบหน้า
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                ปลูกถ่ายซิลิโคนที่มีขนาดที่เหมาะสม
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-2">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/slack-nose02-p.jpg" loading="lazy" alt="กรณีที่รู้สึกว่าสันจมูกกว้างหรือแคบเกินไป">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose02-t.jpg" loading="lazy" alt="กรณีที่รู้สึกว่าสันจมูกกว้างหรือแคบเกินไป"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/slack-nose02-m.jpg" loading="lazy" alt="กรณีที่รู้สึกว่าสันจมูกกว้างหรือแคบเกินไป">
	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            กรณีที่รู้สึกว่าสันจมูกกว้างหรือแคบเกินไป
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            แต่ละท่านมีความพึงพอใจกับความกว้างสันจมูกที่ความแตกต่างกันออกไป แต่โดยปกติแล้วเส้นสันจมูกต้องอยู่กึ่งกลางระหว่างซ้ายขวา และสันจะเริ่มตั้งแต่กระดูกเบ้าตากับหัวคิ้ว
	                                            อีกทั้งผู้ชายและผู้หญิงต้องเข้าใจถึงลักษณะของสันจมูกที่แตกต่างกัน<span class="color-reoper-nose7">สิ่งสำคัญในการแก้ไขความกว้างสันจมูกก็คือ การปรับขนาดวัสดุซิลิโคนและพยายามเสริมซิลิโคนให้อยู่ในตำแหน่งกึ่งกลางเทียบความสมมาตรซ้ายและขวา</span>
	                                            อีกทั้งเพื่อป้องกันวัสดุซิลิโคนที่ทำการเสริมใหม่เคลื่อนตำแหน่ง ควรกรีดในตำแหน่งเดิมที่เคยให้มีช่องว่างเพียงพอต่อการเสริมซิลิโคน
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-slack clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                กำหนดความกว้างของสันจมูกโดยเทียบสัดส่วนของใบหน้ากับตำแหน่งของหัวคิ้ว
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                เสริมซิลิโคนให้อยู่กึ่งกลางพิจารณาเปรียบเทียบความสมมาตรระหว่างด้านซ้ายและขวา
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                กรีดให้มีช่องว่างเพียงพอสำหรับการใส่ซิลิโคนและเพื่อป้องกันวัสดุซิลิโคนเคลื่อนตำแหน่ง
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-3">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/slack-nose03-p.jpg" loading="lazy" alt="กรณีที่สันจมูกเบี้ยว">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose03-t.jpg" loading="lazy" alt="กรณีที่สันจมูกเบี้ยว"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/slack-nose03-m.jpg" loading="lazy" alt="กรณีที่สันจมูกเบี้ยว">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            กรณีที่สันจมูกเบี้ยว
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            จมูกเป็นอวัยวะที่มีเพียงหนึ่งเดียวและยังมีตำแหน่งอยู่กึ่งกลางใบหน้า หากมีลักษณะไม่สมมาตรหรือเบี้ยวก็จะสามารถเห็นชัดกว่าส่วนอื่น
	                                            ในกรณีแบบนี้ต้องพิจารณาที่ความสมมาตรของใบหน้า, เบี้ยวจากฐานกระดูกจมูกที่เอียงไปด้านซ้ายหรือขวา, เบี้ยวจากเส้นกึ่งกลางใบหน้า หรือเบี้ยวจากวัสดุซิลิโคนก่อนหน้านี้ที่เปลี่ยนรูป
	                                            <span class="color-reoper-nose5">หากไม่ได้รับการวินิจฉัยอย่างละเอียดแม่นยำก็อาจจะมีโอกาสเป็นไปได้ที่จมูกจะเบี้ยวได้อีกครั้ง</span>
	                                            หากเกิดจากจากสาเหตุที่หน้าทั้งสองข้างไม่สมมาตรกันหรือเส้นกลางใบหน้าเบี้ยว ควรแก้ไขที่การผ่าตัดขากรรไกรหรือผ่าตัดปรับโครงหน้า แต่โดยความเป็นจริงแล้วใบหน้าของมนุษย์ทุกคนไม่มีใครใบหน้าสมมาตรเท่ากันโดยสมบูรณ์แบบทุกคนหากกระดูกจมูกเบี้ยวเพียงเล็กน้อย สามารถทำการเหลากระดูกจมูกด้านนอกออกเพื่อแก้ไขความไม่สมมาตรได้ หรือถ้าปัญหาเกิดจากรูปทรงวัสดุซิลิโคน สามารถแก้ไขได้ด้วยวิธีกรีดเพื่อให้มีช่องว่างเพียงพอสำหรับใส่ซิลิโคนอันใหม่เข้าไป
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-slack clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item longer">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                พิจารณาสาเหตุของความเบี้ยวโดยดูจากใบหน้าโดยรวม
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                กรณีที่<span class="color-reoper-nose8">ใบหน้า</span>ไม่สมมาตรจำเป็นต้องแก้ไขด้วยการผ่าตัดขากรรไกรหรือผ่าตัดปรับโครงหน้า
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                ในกรณีที่ฐาน<span class="color-reoper-nose8">กระดูกจมูกไม่สมมาตร</span>ต้องปรับแก้ไขโดยการเหลากระดูกด้านนอกเพื่อแก้ไขอาการเบี้ยว
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                ในกรณีที่เกิดจากการ<span class="color-reoper-nose8">ซิลิโคนที่ใส่อยู่เปลี่ยนรูปทรง</span>ต้องปรับแก้ไขโดยการกรีดให้มีช่องว่างเพียงพอสำหรับสำหรับใส่ซิลิโคนอันใหม่
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="content-tab__page page-prosthesis">
	            <div class="content-tab__box">
	                <div class="re-surgery type-nose-implant ">
	                    <div class="item-box1">
	                        <ul class="item-box1__list clearfix">
	                            <li class="item-box1__item nth-1">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/implant-nose01-p.jpg" loading="lazy" alt="กรณีที่รู้สึกว่ามองเห็นซิลิโคนชัดเจน">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose01-t.jpg" loading="lazy" alt="กรณีที่รู้สึกว่ามองเห็นซิลิโคนชัดเจน"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/implant-nose01-m.jpg" loading="lazy" alt="กรณีที่รู้สึกว่ามองเห็นซิลิโคนชัดเจน">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            กรณีที่รู้สึกว่ามองเห็นซิลิโคนชัดเจน
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            บางท่านที่มีผิวค่อนข้างขาวและผิวบางอาจจะทำให้สามารถมองเห็นตำแหน่งของซิลิโคนได้ชัด
	                                            ในกรณีนี้สามารถ<span class="color-reoper-nose9">แก้ไขได้โดยการเลือกใช้เนื้อเยื่อfasciaหรือใช้AlloDermช่วยเพิ่มความหนาของผิวหนังบริเวณนั้น</span>
	                                            หรืออีกวิธีหนึ่งคือแก้ไขโดยการปรับตำแหน่งของซิลิโคนให้เข้าไปในด้านในผิวหนังที่ลึกขึ้น
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-implant clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                ปกป้องผิวที่บางโดยใช้เนื้อเยื่อfasciaหรือAlloDerm
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                ปรับเปลี่ยนตำแหน่งวัสดุซิลิโคนให้เข้าไปอยู่ด้านในเนื้อเยื่อบุผิว
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-2">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/implant-nose02-p.jpg" loading="lazy" alt="กรณีที่รู้สึกว่าซิลิโคนมีการเคลื่อนตำแหน่ง">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose02-t.jpg" loading="lazy" alt="กรณีที่รู้สึกว่าซิลิโคนมีการเคลื่อนตำแหน่ง"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/implant-nose02-m.jpg" loading="lazy" alt="กรณีที่รู้สึกว่าซิลิโคนมีการเคลื่อนตำแหน่ง">
	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            กรณีที่รู้สึกว่าซิลิโคนมีการเคลื่อนตำแหน่ง
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            มีคนไข้บางท่านที่รู้สึกว่าซิลิโคนมีการเคลื่อนตำแหน่งทำให้เกิดความไม่พึงพอใจ อาจจะเป็นเพราะเนื้อเยื่อบริเวณที่ห่อหุ้มรอบ
	                                            ซิลิโคนมีลักษณะเป็นผิวลื่นทำให้คิดว่าซิลิโคนมีการเคลื่อนตำแหน่งแต่โดยความเป็นจริงแล้วโอกาสที่ซิลิโคนภายในจะเคลื่อนเป็นไปได้น้อยมาก  แน่นอนว่าเพียงแค่รู้สึกว่าซิลิโคนเคลื่อนทำให้บางท่านรู้สึกไม่สบายใจแ
	                                            และความกังวลมาก<span class="color-reoper-nose9">สามารถแก้ไขได้โดยวิธีใส่ซิลิโคนใต้เนื้อเยื่อภายในจมูกและปรับให้ซิลิโคนสันจมูกเข้ากัน หรืออีกวิธีคือเปลี่ยนเป็นใช้วัสดุกอร์เท็กซ์แทนซิลิโคน</span>
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix nose-implant">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                จำเป็นต้องวินิจฉัยให้แม่นยำว่าวัสดุซิลิโคนมีการเคลื่อนตำแหน่งจริง
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                แก้ไขซิลิโคนที่โค้งและจัดรูปทรงของซิลิโคนให้เข้ากับสันจมูก
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                เปลี่ยนเป็นใช้วัสดุกอร์เท็กซ์แทนซิลิโคน
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-3">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/implant-nose03-p.jpg" loading="lazy" alt="กรณีที่กระดูกอ่อนปลายจมูกดูเบี้ยวหรือเหมือนจะทะลุ">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose03-t.jpg" loading="lazy" alt="กรณีที่กระดูกอ่อนปลายจมูกดูเบี้ยวหรือเหมือนจะทะลุ"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/implant-nose03-m.jpg" loading="lazy" alt="กรณีที่กระดูกอ่อนปลายจมูกดูเบี้ยวหรือเหมือนจะทะลุ">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            กรณีที่กระดูกอ่อนปลายจมูกดูเบี้ยวหรือเหมือนจะทะลุ
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            กรณีที่ผิวบางท่านมีผิวปลายจมูกบางเมื่อเวลาผ่านไปมีโอกาสทำให้ปลายมจมูกดูเอียงหรือดูเหมือนจะทะลุได้
	                                            บางท่านที่เกิดปัญหาเช่นนี้<span class="color-reoper-nose9">สามารถแก้ไขได้โดยเสริมด้วยผิวหนังแท้ของตนเองหรือเสริมด้วยAlloDermในบริเวณระหว่างผิวหนังที่บางกับกระดูกอ่อนปลายจมูก หรืออีกวิธีคือนำกระดูกอ่อนชิ้นเก่าออกก่อนแล้ว แล้วใส่กระดูกชิ้นใหม่ที่หุ้มด้วยเนื้อเยื่ออ่อนวางในตำแหน่งที่ถูกต้อง</span>
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix nose-implant">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                <span>เสริมด้วยผิวหนังแท้ของตนเองหรือ เสริมAlloDermบริเวณระหว่างกระดูกอ่อนกับผิวเพิ่มความหนาของผิวหนัง</span>
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                แก้ไขโดยนำกระดูกอ่อนชิ้นเก่าออกแล้วใส่ชิ้นใหม่
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="satisfaction">
	            <p class="satisfaction__txt">
	                ที่กล่าวมานี้เป็นวิธีการผ่าตัดแก้ไขจมูกเบื้องต้น แต่ละเคสอาจจมีมีวิธีการแก้ไขที่แตกต่างกันออกไปตามสาเหตุและสภาพจมูกของคนไข้ ณ ตอนนั้น
	                บาโนบากิพยายามผ่าตัดแก้ไขจมูกให้ทุกท่านพึงพอใจผ่านการ<span class="big"><span class="color-reoper-nose6">ปรึกษาที่ละเอียด</span>และ<span class="color-reoper-nose6">เทคนิคแก้ไขที่หลากหลาย</span></span>
	            </p>
	        </div>
	    </div>
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
