<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-design">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">เติมวอลลุ่มอย่างง่ายด้วยการฉีด</p>
				<h3 class="content-visual__tit"><span class="color-special16">#</span>ดีไซน์ฟิลเลอร์</h3>
				<p class="content-visual__txt2">
					<span class="content-visual__bg">เสน่ห์แห่งความประทับใจจากการผสมผสานที่กลมกลืน</span>
				</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content">
	    <div class="content-wrap">
	        <div class="content-section type-first">
	            <div class="design-box1">
	                <div class="design-box1__box type-txt">
	                    <h4 class="content-section__tit type-top">
	                        <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	                        ประโยชน์ที่ซ่อนไว้ของ<strong class="content-highlight2 type-special">ฟิลเลอร์</strong>
	                    </h4>
	                    <p class="content-section__txt1">
	                        โดยทั่วไปแล้ว ฟิลเลอร์เป็นที่รู้จักกันดีในเรื่องของการช่วยเพิ่มมิติให้ใบหน้า เนื่องจากเป็นวิธีการฉีด จึงไม่ค่อยเจ็บและแทบไม่จำเป็นต้องใช้เวลาในการพักฟื้นเลยก็ว่าได้ ทั้งยังเห็นผลทันทีอีกด้วย
	                        และลักษณะพิเศษอีกอย่างของฟิลเลอร์คือจะค่อยๆสลายไปเองตามธรรมชาติ ดังนั้น ฟิลเลอร์จึงเป็นทางเลือกดีๆอีกทางเลือกหนึ่งสำหรับผู้ที่กลัวการทำศัลยกรรมผ่าตัด<br><br>
	                        <span class="content-section__exp">แต่</span>ข้อดีของฟิลเลอร์นั้นไม่ได้เพียงแค่ช่วยเพิ่มมิติให้ใบหน้าเพียงอย่างเดียว
	                        ฟิลเลอร์จะช่วยเพิ่มเนื้อเยื่ออ่อนซึ่งช่วยในการแก้ปัญหาริ้วรอยหรือรอยแผลเป็น รวมถึงแก้ไขปัญหาผิวต่างๆอีกด้วยและด้วยความที่ฟิลเลอร์มีความชุ่มชื้นเป็นสารประกอบอยู่มาก จึงทำหน้าที่มอบความชุ่มชื้นให้กับผิว พร้อมทั้งกระตุ้นคอลลาเจนและอิลาสตินในผิว ช่วยให้ผิวดูสดใสเพิ่มความยืดหยุ่นให้กับผิวอีกด้วย<br><br>
	                        เพราะบาโนบากิเข้าใจและใช้ประโยชน์ต่างๆที่ถูกซ่อนไว้ของฟิลเลอร์อย่างตรงจุด
	                    </p>
	                    <div class="design-box1__img">
	                        Design-filler Image
	                    </div>
	                    <div class="merit">
	                        <div class="merit__wrap">
	                            <h5 class="merit__tit">ข้อดีของการฉีด<span>ฟิลเลอร์</span>ที่บาโนบากิ</h5>
	                            <ul class="merit__list">
	                                <li class="merit__item txt-v5">เห็นผลเร็ว</li>
	                                <li class="merit__item txt-v5">รักษาริ้วรอยและรอยแผลเป็น</li>
	                                <li class="merit__item txt-v5">เปลี่ยนภาพลักษณ์โดยรวม</li>
	                                <li class="merit__item txt-v5">เพิ่มวอลลุ่มให้กับใบหน้า</li>
	                                <li class="merit__item txt-v5">หมดข้อกังวล</li>
	                                <li class="merit__item txt-v5">เพิ่มความชุ่มชื้น&amp;ความยืดหยุ่นให้กับผิว</li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	                <div class="design-box1__box type-img">
	                    <img src="../../images/special/special_design_img02.png" loading="lazy" alt="Quicker results - Less worrisome - Skin volume">
	                </div>
	            </div><!-- //design-box1-->

	            <div class="design-box2">
	                <div class="design-box2__img">
	                    Design-filler Image
	                </div>
	                <div class="design-box2__box">

	                    <h4 class="content-section__tit type-top">
	                        <span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
	                        Design Filler
	                        ช่วย<span class="content-highlight">แก้ปัญหาภาพลักษณ์</span>โดยรวม
	                    </h4>
	                    <p class="content-section__txt1">
	                        บาโนบากิขอแนะนำดีไซน์ฟิลเลอร์ที่สามารถแก้ไขปัญหาโดยรวมของใบหน้าได้<br><br>
	                        เพียงแค่การเปลี่ยนแปลงเล็กน้อยบนใบหน้า ก็ทำให้ภาพลักษณ์ดูเปลี่ยนแปลงได้มากทีเดียว
	                        เนื่องจากการเปลี่ยนแปลงแม้จะเพียงแค่1จุดก็สามารถทำให้ความสมดุล/กลมกลืนกันของใบหน้าเปลี่ยนไปนั่นเอง
	                        ดังนั้นการตกแต่งใบหน้าจะช่วยปรับความสมดุลของใบหน้า ทำให้ใบหน้าดูสวยงามอย่างถึงที่สุด และให้ผลลัพธ์ที่น่าพึงพอใจอีกด้วย
	                        ฟิลเลอร์จะมีประสิทธิภาพมากขึ้น เมื่อฉีดไปยังบริเวณต่างๆเพื่อทำการปรับความสมดุลใบหน้า มากกว่าการฉีดแค่บริเวณใดบริเวณหนึ่ง
	                        ข้อดีของฟิลเลอร์คือ แพทย์สามารถเช็คผลลัพธ์ให้ได้ทันทีและสามารถฉีดได้หลายบริเวณต่อการทำศัลยกรรมหนึ่งครั้ง
	                        โดยเฉพาะโปรไฟล์ของใบหน้านั้น(ไลน์ด้านข้างของใบหน้าตั้งแต่หน้าผากไปจนถึงคาง) สามารถแก้ไขได้อย่างมีประสิทธิภาพ เพียงแค่ปรับระดับวอลลุ่มบนใบหน้าเพียงเล็กน้อย
	                    </p>
	                </div>
	            </div>

	            <div class="design-box3">
	                <div class="design-box3__wrap">
	                    <p class="design-box3__txt">ปรับภาพลักษณ์โดยรวมด้วยฟิลเลอร์ ช่วยให้ใบหน้ามีความสมดุลมากขึ้น</p>
	                </div>
	            </div><!-- //design-box3 -->

	            <div class="design-box4">
	                <div class="content-section">
	                    <h4 class="content-section__tit type-center">
	                        <span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
	                        ความพึงพอใจที่มากขึ้น ด้วย<strong class="content-highlight2 type-special">เทคนิค</strong>และความรู้ความเข้าใจเกี่ยวกับฟิลเลอร์
	                    </h4>
	                    <div class="design-box4__box">
	                        <div class="design-box4__wrap">
	                            <div class="design-box4__img">Design-filler - Image</div>
	                            <div class="design-vertical">
	                                <p class="design-vertical__tit"><span>#</span>FILLER</p>
	                                <p class="design-vertical__txt"><span>สามารถใช้ประโยชน์ได้หลากหลาย</span><br>ขึ้นอยู่กับความต้องการ แม้จะใช้ในปริมาณที่เท่ากัน</p>
	                            </div>
	                        </div>
	                        <p class="design-box4__tit txt-v5">การฉีดฟิลเลอร์จะได้ผลลัพธ์ที่แตกต่างกันไป ขึ้นอยู่กับทักษะของผู้เชี่ยวชาญ</p>
	                        <p class="design-box4__txt txt-v5">
	                            หลังฉีดฟิลเลอร์จะได้ความรู้สึกที่แตกต่างกันโดยสิ้นเชิงขึ้นอยู่กับวิธีการใช้ถึงแม้จะใช้ฟิลเลอร์ในปริมาณเดียวกันและฉีดในบริเวณเดียวกันก็ตามหากเติมฟิลเลอร์บางๆในบริเวณกว้าง จะให้ความรู้สึกที่ดูนุ่มนวล แต่หากเติมเป็นชั้นๆ  ไม่ฉีดเป็นบริเวณกว้าง จะทำให้ใบหน้าดูมีมิติ
	                            ดังนั้นการฉีดฟิลเลอร์จึงจำเป็นที่จะต้องฉีดโดยผู้เชี่ยวชาญเฉพาะทางที่มีเทคนิคและความรู้เข้าใจถึงคุณสมบัติของฟิลเลอร์อย่างแท้จริง
	                        </p>
	                    </div>
	                </div>
	            </div><!-- //design-box4-->

	            <div class="design-box5">
	                <div class="design-box5__border">
	                    <h5 class="design-box5__tit tit-v2">
	                        <span class="design-box5__point">บาโนบากิ มีบริการปรึกษาแบบ1:1</span> และออกแบบรูปหน้าให้<span class="design-box5__point">มีสเน่ห์ ตามความเหมาะสมของแต่ละบุคคล</span>ด้วยประสบการณ์อันยาวนานในการฉีดฟิลเลอร์
	                    </h5>
	                    <p class="design-box5__txt txt-v5">
	                        เราจะวิเคราะห์ลักษณะใบหน้าของแต่ละบุคคลอย่างละเอียด และแก้ไขในส่วนที่จำเป็นด้วยการทำศัลยกรรมอย่าง เชี่ยวชาญและเนื่องจากเป็นการใช้ข้อดีต่างๆของฟิลเลอร์ให้เกิดประโยชน์สูงสุดโดยมีความรู้ความเข้าใจเป็นอย่างดี เกี่ยวกับส่วนต่างๆของใบหน้าและผิวแต่ละชั้น จึงช่วยปรับภาพลักษณ์ให้ดูสดใสและมีความชัดเจนมากยิ่งขึ้น
	                    </p>
	                </div>
	            </div><!-- //design-box5-->

	            <div class="design-box6">
	                <div class="content-section">
	                    <div class="design-box6__wrap">
	                        <h4 class="content-section__tit type-left">
	                            <span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
	                            แม้จะเป็นการทำ<strong class="content-highlight">ศัลยกรรมที่ง่าย</strong>แต่ก็เต็มไปด้วยความพิถีพิถันรอบคอบใส่ใจในทุกรายละเอียด
	                        </h4>
	                        <p class="content-section__txt1">
	                            ฟิลเลอร์เป็นที่รู้จักกันดีว่าเป็นการทำศัลยกรรมอย่างง่ายและปลอดภัย
	                            แต่ถึงจะเป็นการทำศัลยกรรมง่ายๆตราบใดที่มีการเติมสารเข้าไปในร่างกายก็ต้องระวังเรื่องความปลอดภัยอยู่เสมอ
	                            เนื่องจากในบางกรณีอาจเกิดผลข้างเคียงต่างๆได้ เช่น อาการแพ้หรือ อาจระคายเคืองแก่ผิวหนังซึ่งอาการเหล่านี้พบได้น้อยมาก แต่ถึงแม้จะเป็นกรณีที่เกิดขึ้นได้ยาก การเตรียมพร้อมรับมือกับกรณีต่างๆเหล่านี้ ถือเป็นพื้นฐานของสถานพยาบาลที่ต้องพร้อมรับมืออยู่เสมอ<br><br>
	                            <span class="content-section__rel">
	                                <span class="content-section__exp">บาโนบากิ</span>มีบริการทดสอบอาการแพ้อย่างละเอียดและเพื่อความพร้อมในการรับมืออย่างรวดเร็วในกรณีที่เกิดการระคายเคืองต่อผิวหนังเรามีการรักษา
	                                <span class="content-section__info pop-info">
	                                    <a href="" class="info-btn js-info">
	                                        <span class="info-btn__icon type-design">Info button</span>
	                                        ด้วยออกซิเจนความดันสูง
	                                        <span class="info-desc type-design">
	                                            <span class="info-desc__item">
	                                                <span class="info-desc__box">
	                                                    <span class="info-desc__tit"><span class="info-desc__icon"></span>การบำบัดด้วยออกซิเจนความดันสูง<br class="hidden-tm"></span>
	                                                    <span class="info-desc__content">
	                                                        <img src="../../images/special/special_design_layer1-m.jpg" loading="lazy" alt="High Pressure Oxygen Therapy Image" class="info-desc__thumb">
	                                                        <span class="info-desc__txt1">
	                                                            เป็นเครื่องมือทางการแพทย์ที่มีความกดอากาศและความเข้มข้นของออกซิเจนสูง ช่วยเพิ่มปริมาณออกซิเจนละลายในร่างกายให้มากขึ้น
	                                                            เนื่องจากออกซิเจนที่ละลายในน้ำได้มีโมเลกุลขนาดเล็กและมีการจัดส่งไปยังปลายเส้นเลือดฝอยได้ดี จึงช่วยฟื้นฟูเซลล์และช่วยขจัดของเสียได้อย่างดีเยี่ยม
	                                                            ดังนั้นเนื้อเยื่อที่เสียหายก็จะได้รับการแก้ไขอย่างรวดเร็วอีกทั้งยังมีประสิทธิภาพในการปรับสภาพร่างกาย ต่างๆ อีกด้วย เช่น เพิ่มการเผาผลาญอาหารและการฟื้นฟูตัวของร่างกาย เป็นต้น
	                                                        </span>
	                                                    </span>
	                                                </span>
	                                                <button class="info-desc__btn js-close">
	                                                    <span class="info-desc__stick type-left"></span>
	                                                    <span class="info-desc__stick type-another"></span>
	                                                    Close
	                                                </button>
	                                            </span>
	                                        </span>
	                                    </a>
	                                </span>และเครื่องมือต่างๆ
	                                นอกจากนี้เรายังใช้ผลิตภัณฑ์ที่มีการรับรองจาก อย. ว่าไม่เป็นอันตรายต่อร่างกายมนุษย์ และทำการฉีดโดยทีมแพทย์ผู้เชี่ยวชาญที่มีประสบการณ์มากมาย ดังนั้นจึงวางใจได้ว่าปลอดภัยและเห็นผลลัพธ์ หลังฉีดอย่างแน่นอน
	                            </span>
	                        </p>
	                    </div>
	                    <div class="design-box6__img">Design-filler Image</div>
	                    <div class="design-box6__wrap type-another">
	                        <ul class="design-box6__list">
	                            <li class="design-box6__item nth-1">
	                                <div class="design-box6__border">
	                                    <div class="design-box6__box">
	                                        <p class="design-box6__txt">การทดสอบอาการแพ้</p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="design-box6__item nth-2">
	                                <div class="design-box6__border">
	                                    <div class="design-box6__box">
	                                        <p class="design-box6__txt">ใช้ฟิลเลอร์ของแท้</p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="design-box6__item nth-3">
	                                <div class="design-box6__border">
	                                    <div class="design-box6__box">
	                                        <p class="design-box6__txt">ระบบการดูแลยามฉุกเฉิน</p>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div><!-- //design-box6-->
	        </div>

			<!-- operation -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-special type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">เห็นผลเร็ว ช่วยให้ใบหน้ามีมิติอย่างเป็นธรรมชาติ</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 10 นาที</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยาชาเฉพาะที่</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ไม่จำเป็น</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ฟื้นตัวเร็วและกลับไปใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-special">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									อาจมีอาการ<span class="color-special17">เจ็บแปลบ</span>จากการใช้เข็มฉีดยา<br>
									อาจมีอาการบวมและเจ็บได้ ขึ้นอยู่กับปริมาณฟิลเลอร์ที่ใช้<br>
									ในระยะที่ฟิลเลอร์กำลังจับตัว อาจมีอาการแสบได้เมื่อเวลาผ่านไปอาการแสบจะลดลงเรื่อยๆ
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
