<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-special">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">เสน่ห์ของฟิลเลอร์กึ่งถาวร</p>
				<h3 class="content-visual__tit">#<span class="color-special16">อาร์ติคอล</span> ฟิลเลอร์กึ่งถาวร</h3>
				<p class="content-visual__txt2"><strong>สถาบันการแพทย์</strong> ด้านอาร์ติคอลอย่างเป็นทางการ</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
	    <div class="content-wrap">
	    	<div class="artecoll-box1">
	    		<div class="content-section type-first">
	    			<div class="content-section__wrap type-special1">
	    				<div class="content-section__box w-6 type-another2">
	    					<h4 class="content-section__tit type-top">
	    						<span class="content-section__number type-another"><span class="content-section__number-wrap">01</span></span>
	    						<strong class="content-highlight2 type-special">อาร์ติคอล</strong>คำตอบที่ถูกต้องของฟิลเลอร์กึ่งถาวร
	    					</h4>
	    					<p class="content-section__txt1 type-info">
	    						ฟิลเลอร์กึ่งถาวรเป็นฟิลเลอร์ที่ผลลัพธ์หลังฉีดนั้นค่อนข้างอยู่ได้นานตามแบบชื่อเรียกเป็นการทำศัลยกรรมอย่างง่ายเช่นเดียวกับฟิลเลอร์ธรรมดาทั่วไป เพียงแต่ผลลัพธ์ที่ได้นั้นจะคงอยู่ได้นานกว่า ดังนั้น อาร์ติคอลจึงเป็นตัวเลือกใหม่สำหรับท่านที่ยังกลัวการผ่าตัดหรือท่านที่ไม่ชอบไปฉีดฟิลเลอร์ซ้ำๆ
	                            ผลิตภัณฑ์ฟิลเลอร์กึ่งถาวรมีหลากหลายแบบด้วยกัน หนึ่งในนั้นก็คืออาร์ติคอล ซึ่งมีประวัติความเป็นมาอันยาวนาน เปิดตัวครั้งแรกในปี ค.ศ. 1994  และได้ค้นคว้าวิจัยมาเรื่อยๆจนถึงปัจจุบัน เพื่อให้เป็นฟิลเลอร์ที่มีความปลอดภัยและมีประสิทธิภาพมากยิ่งขึ้น (*ชื่อทางการ: Artecoll, ชื่อที่ใช้เรียกภายในประเทศเกาหลี: Artesense)
	                            ลักษณะเด่นของอาร์ติคอลก็คือความปลอดภัยนั่นเอง แต่เนื่องจากเป็นสารกึ่งถาวร (ไม่ละลาย) จึงอาจมีบางท่านที่กังวลว่าจะเกิดปัญหาหรือเป็นอันตรายต่อร่างกายตามมาหรือไม่ แต่ในทางกลับกัน ตลอด 8 ปีที่ผ่านมา อาร์ติคอลสร้างความพึงพอใจให้กับผู้ที่เคยรับการฉีดมากกว่าฟิลเลอร์ทั่วไปเสียอีก
	                            อาร์ติคอลมี
	    						<span class="content-section__info pop-info">
	    							<a href="" class="info-btn js-info">
	    								<span class="info-btn__icon type-special">info-button</span>
	    								PMMA
	    								<span class="info-desc type-special">
		    								<span class="info-desc__item">
		    									<span class="info-desc__box">
		    										<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>PMMA คือ?</strong><br class="hidden-tm"></span>
		    										<span class="info-desc__content">
		    											<span class="info-desc__txt1">
		    												PMMA เป็นการรวมตัวกันของอนุภาคขนาดเล็กต่างๆ มีการทดลองทางการแพทย์มายาวนานกว่า 60ปี และปรับปรุงคุณภาพอย่างต่อเนื่องด้วยส่วนผสมที่ปลอดภัย  ช่วยในการกระตุ้นเนื้อเยื่อภายใต้ผิว ทำให้ร่างกายสร้างคอลลาเจนกึ่งถาวรกึ่งถาวรขึ้นมา
		    											 </span>
		    										</span>
		    									</span>
		    									<button class="info-desc__btn js-close">
		    										<span class="info-desc__stick type-left"></span>
		    										<span class="info-desc__stick type-another"></span>
		    										close
		    									</button>
		    								</span>
		    							</span>
	    						  	</a>
	    		                </span>เป็นส่วนประกอบหลัก ซึ่งช่วยในการสร้างคอลลาเจนกึ่งถาวรภายในผิว จึงแทบไม่เกิดผลข้างเคียงใดๆ
	    						<strong class="content-highlight type-special">คอลลาเจนที่ปลอดภัยในระยะยาว, นี่คือเป็นเหตุที่บาโนบากิเลือกใช้อาร์ติคอลนั่นเอง</strong>
	    					</p>
	    				</div>
	    				<div class="content-section__box w-5">
	    					<div class="content-section__img type-special1">
	    						<img src="../../images/special/special_artecoll_img02.png" loading="lazy" alt="">
	    					</div>
	    				</div>
	    			</div><!-- //content-section__wrap-->
	    			<div class="content-section__wrap">
	    				<div class="content-section__box w-9">
	    					<div class="pmma">
	    						<h5 class="pmma__tit">* ส่วนประกอบของ <span class="color-special13">อาร์ติคอล</span></h5>
	    						<ul class="pmma__list">
	    							<li class="pmma__item nth-1">
	    								<p class="pmma__txt">ระยะที่ 1</p>
	    							</li>
	    							<li class="pmma__item nth-2">
	    								<p class="pmma__txt">ระยะที่ 2</p>
	    							</li>
	    							<li class="pmma__item nth-3">
	    								<p class="pmma__txt">ระยะที่ 3</p>
	    							</li>
	    							<li class="pmma__item nth-4">
	    								<p class="pmma__txt">ระยะที่ 4</p>
	    							</li>
	    						</ul>
	    					</div><!-- //pmma-->
	    				</div>
	    				<div class="content-section__box w-3">
	    					<div class="pmma-info">
	    						<h6 class="pmma-info__tit">ลักษณะพิเศษของ PMMA ระยะที่ 4</h6>
	    						<ul class="pmma-info__list">
	    							<li class="pmma-info__item txt-v2">ขนาดของอนุภาคที่สม่ำเสมอ (32-40 นาโนเมตร)</li>
	    							<li class="pmma-info__item txt-v2">ลักษณะเรียบและกลมที่สมบูรณ์แบบ</li>
	    							<li class="pmma-info__item txt-v2">โครงสร้างบริสุทธิ์ ไม่ก่อให้เกิดประจุไฟฟ้าไฟฟ้าสถิต</li>
	    							<li class="pmma-info__item txt-v2">ไม่แยกตัวในร่างกายของสิ่งมีชีวิต</li>
	    						</ul>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="pmma-noti">
	    				<p class="pmma-noti__txt">
	    					<strong>PMMA</strong>
	                        มีความเสถียรสูงในร่างกาย เนื่องจากเป็นสารไม่ละลายหรือแพร่กระจายถือเป็นส่วนประกอบชั้นเลิศ เนื่องจากมีอนุภาคขนาดโมเลกุลที่เสมอกัน สิ่งเจือปนน้อย และไม่ก่อให้เกิดประจุไฟฟ้า
	    				</p>
	    			</div>
	    		</div>
	    	</div>
	    	<!-- //content-section -->
	    	<div class="artecoll-box2">
	    		<div class="content-section">
	    			<div class="content-section__wrap type-special1">
	    				<div class="content-section__box w-6">
	    					<div class="content-section__img type-special2 hidden-tm">
	    						<img src="../../images/special/special_artecoll_img03.jpg" loading="lazy" alt="">
	    					</div>
	    				</div>
	    				<div class="content-section__box w-5 type-another2 type-bottom">
	    					<h4 class="content-section__tit type-top">
	    						<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
	    						<strong class="content-highlight2 type-special">ความปลอดภัย</strong>ของฟิลเลอร์อาร์ติคอล,
	    						<strong class="content-highlight3 type-special">พิสูจน์</strong>ได้ด้วยจำนวนตัวเลขอันน่าทึ่ง
	    					</h4>

	    					<div class="content-section__img hidden-p">
	    						<img src="../../images/special/special_artecoll_img03.jpg" loading="lazy" alt="">
	    					</div>
	    					<p class="content-section__txt1">
		    					<span class="brackets__wrap type-artecoll-m">
		    						จากการวิจัยทางการแพทย์กว่า<br>
									<span class="content-section__point type-special">20 ปี</span>และการยอมรับจาก
		    						<span class="content-section__point type-special">40ประเทศ</span>
		    					</span>
	    						<br>
								อาร์ติคอลเปิดตัวครั้งแรกในปี ค.ศ. 1994 ซึ่งภายใน 20ปีหลังจากเปิดตัว ก็มีการค้นคว้าวิจัยอย่างต่อเนื่อง เพื่อให้เป็นฟิลเลอร์ที่มีส่วนผสมที่ดีและมีความปลอดภัยมากยิ่งขึ้น อาร์ติคอลเป็นฟิลเลอร์เพียงชนิดเดียวในเกาหลีที่มีอายุถึง 20ปี
								อาร์ติคอลได้รับการยอมรับในด้านความปลอดภัยจาก 40 ประเทศทั่วโลก
								เริ่มจากการได้รับการรับรองความปลอดภัยจากสหภาพยุโรป (มาตรฐาน CE) รวมถึงประเทศแคนาดา, จีน, เม็กซิโก, และเกาหลี (มาตรฐาน KFDA) เองต่างก็ยอมรับถึงความปลอดภัยของอาร์ติคอลเช่นเดียวกัน
	    					</p>
	    				</div>
	    			</div><!-- //content-section__wrap-->
	    			<div class="content-section__wrap">
	    				<div class="content-section__box w-11">
	    					<div class="content-section__img type-special3">
	    						<img src="../../images/special/special_artecoll_img04.jpg" loading="lazy" alt="">
	    					</div>
	    					<p class="content-section__txt1 type-another">
	    						<span class="brackets__wrap">จากประสบการณ์กว่า<span class="content-section__point type-special">1ล้านคน</span></span>
								กว่า20ปี มีผู้ใช้อาร์ติคอลกว่า 1ล้านคนทั่วโลก
								อาจมีความแตกต่างในด้านความพึงพอใจขึ้นอยู่กับแต่ละบุคคลแต่จากข้อมูลดังกล่าวก็มากพอในการสร้างความไว้วางใจด้านความปลอดภัย
	    						<span class="brackets__wrap type-another">ด้วยประสบการณ์ทำงาน<span class="content-section__point type-special">กว่า 10ปี</span>, มีเพียง<span class="content-section__point type-special">โรงพยาบาล 11 แห่ง</span>เท่านั้นที่สามารถใช้อาร์ติคอลได้</span>
	    						ความปลอดภัยของอาร์ติคอลนั้น จริงๆแล้วขึ้นอยู่กับความเชี่ยวชาญของแพทย์ที่ทำการฉีดให้ EMCM (เนเธอร์แลนด์) ผู้ผลิตอาร์ติคอลนั้น มีชื่อเสียงด้านการตรวจสอบอย่างเข้มงวดตั้งแต่ขั้นตอนพัฒนา นอกจากนี้เรายังมีการตรวจสอบประสบการณ์และเทคนิคของแพทย์อย่างละเอียดก่อน จึงจะอนุญาตให้ลงมือทำหัตถการได้
								สำหรับการฉีดอาร์ติคอลนั้น แพทย์จะต้องมีประสบการณ์ในการฉีดฟิลเลอร์ให้คนไข้
	    						<strong><span class="content-highlight type-special">10 ปีขึ้นไป</span></strong> ทั้งนี้ ใน<strong class="content-highlight type-special">ประเทศเกาหลีมีโรงพยาบาลเพียง 11 แห่งเท่านั้นที่ใช้อาร์ติคอลของแท้อยู่</strong>
	    					</p>
	    				</div>
	    			</div>
	    			<div class="content-section__wrap">
	    				<div class="content-section__box w-5">
	    					<div class="content-section__img type-special4">
	    						<img src="../../images/special/special_artecoll_img05.jpg" loading="lazy" alt="">
	    					</div>
	    				</div>
	    				<div class="content-section__box w-6 type-another3">
	    					<div class="quotation2 type-special">
	    						<p class="quotation2__txt tit-v3">ครั้งแรกในเกาหลีกับการใช้เข็มฉีดยา ถึง<strong class="color-special14">20,000</strong> เข็ม</p>
	    					</div>
	    					<p class="content-section__txt1">
								บาโนบากิได้นำอาร์ติคอลมาใช้เป็นเวลาประมาณ 8 ปีแล้ว
								ยิ่งได้ทำการฉีดฟิลเลอร์มากเท่าไร ยิ่งมั่นใจว่าอาร์ติคอลเป็นฟิลเลอร์ที่ดีมากชนิดหนึ่ง
								คนไข้ที่เคยฉีดอาร์ติคอลไปแล้ว มักกลับมาฉีดอีก เริ่มมีมากขึ้นเรื่อยๆ
								ด้วยเหตุนี้เอง ทำให้<strong class="content-highlight type-special">บาโนบากิเป็นโรงพยาบาลในประเทศเกาหลีที่มีประวัติการฉีดฟิลเลอร์อาร์ติคอลมากที่สุด</strong>
	    					</p>
	    				</div>
	    			</div>
	    			<div class="content-section__wrap hidden-m type-short">
	    				<div class="content-section__box w-12">
	    					<div class="content-section__img type-special5">
	    						<img src="../../images/special/special_artecoll_img06.jpg" loading="lazy" alt="" class="hidden-tm">
	    						<img src="../../images/special/special_artecoll_img06_t.jpg" loading="lazy" alt="" class="hidden-pm">
	    					</div>
	    				</div>
	    			</div>
	    			<div class="content-section__wrap">
	    				<div class="content-section__box w-5 type-another3">
	    					<div class="quotation2">
	    						<p class="quotation2__txt tit-v3">ความงามที่คงอยู่ได้<strong class="color-special14">นานถึง 10 ปี</strong></p>
	    					</div>
	    				</div>
	    				<div class="content-section__box w-6 type-another2">
	    					<p class="content-section__txt1 type-0">
								อาร์ติคอล เป็นการทำศัลยกรรมที่ค่อนข้างง่าย เพียงแค่ทายาชาสามารถฉีดฟิลเลอร์ได้
								ถึงแม้จะใช้เวลาในการฉีด<strong class="color-special14">แค่ประมาณ 10 นาทีเท่านั้น</strong>
								แต่ผลลัพธ์ที่ได้จะ<strong class="content-highlight type-special">คงอยู่นานถึง 10 ปี</strong>เลยทีเดียว
	    					</p>
	    				</div>
	    				<div class="age">
	    					<ul class="age__list">
	    						<li class="age__item nth-1">
	    							<p class="age__txt">หลังฉีด 3 เดือน</p>
	    						</li>
	    						<li class="age__item nth-2">
	    							<p class="age__txt">หลังฉีด 1 ปี</p>
	    						</li>
	    						<li class="age__item nth-3">
	    							<p class="age__txt">หลังฉีด 10 ปี</p>
	    						</li>
	    					</ul>
	    				</div>
	    			</div>
	    		</div>
	    		<!-- //content-section -->

	    	</div>
	    	<div class="artecoll-box3">
	    		<div class="content-section">
	    			<div class="content-section__wrap type-special1">
	    				<div class="content-section__box w-7">
	    					<div class="content-section__img type-special6 hidden-tm">
	    						<img src="../../images/special/special_artecoll_img07.jpg" loading="lazy" alt="">
	    					</div>
	    				</div>
	    				<div class="content-section__box w-4 type-bottom">
	    					<h4 class="content-section__tit type-top">
	    						<span class="content-section__number type-0"><span class="content-section__number-wrap">03</span></span>
								ปรับรูปหน้า
	    						<strong class="content-highlight4 type-special">อย่างเป็นธรรมชาติ</strong>
								ด้วยการศัลยกรรมอย่างละเอียด
	    					</h4>
	    				</div>
	    				<div class="content-section__img type-special6 hidden-p">
	    					<img src="../../images/special/special_artecoll_img07.jpg" loading="lazy" alt="model">
	    				</div>
	    			</div><!-- //content-section__wrap-->
	    			<div class="artecoll">
	    				<h5 class="artecoll__tit tit-v3">การฉีดฟิลเลอร์อาร์ติคอลอย่างมีประสิทธิภาพ<span class="color-special15">มี 2 วิธี</span></h5>
	    				<ul class="artecoll__list">
	    					<li class="artecoll__item">
	    						<h6 class="artecoll__subject nth-1">ทำให้ใบหน้าโดยรวมดูอ่อนเยาว์ขึ้น</h6>
	    						<p class="artecoll__txt txt-v3">
									เป็นส่วนประกอบหลักของคอลลาเจนจากลูกวัว ซึ่งใช้ในทางการแพทย์ในประเทศออสเตรเลีย เด่นในเรื่องความปลอดภัยต่อร่างกาย และด้วยคอลลาเจนนี้เอง ทำให้เมื่อฉีดอาร์ติคอล จะเห็นผลในเรื่องการสร้างคอลลาเจนขึ้นมาใหม่เป็นระยะเวลานาน
									เน้นบริเวณที่มีรอยยเหี่ยวย่น โดยคำนึงถึงความสมดุของใบหน้าโดยรวม ช่วยปรับภาพลักษณ์โดยรวม พร้อมทำให้ใบหน้าดูอ่อนเยาว์ขึ้น
	    						</p>
	    					</li>
	    					<li class="artecoll__item">
	    						<h6 class="artecoll__subject nth-2">ใช้แทนซิลิโคนพร้อมช่วยแก้ไขรูปหน้า</h6>
	    						<p class="artecoll__txt txt-v3">
	    							อาร์ติคอลเป็นสารทดแทนซิลิโคนที่ดีในการช่วยปรับรูปหน้า เช่น บริเวณหน้าผาก, สันจมูก, คาง เป็นต้น แนะนำฟิลเลอร์อาร์ติคอลสำหรับท่านที่กังวลในเรื่องการใช้ซิลิโคน หรือท่านที่อยากคงผลลัพธ์หลังฉีดให้อยู่ได้นานกว่าการฉีดฟิลเลอร์แบบธรรมดาหรือการฉีดไขมัน
	    						</p>
	    					</li>
	    				</ul>
	    			</div>
	    		</div><!-- //content-section -->
	    	</div>
	    	<div class="artecoll-box4">
	    		<div class="content-section">
	    			<div class="content-section__wrap type-special1">
	    				<div class="content-section__box w-12 type-another2">
	    					<h4 class="content-section__tit type-left">
	    						<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
	    						ความสวยคงอยู่ระยะ<strong class="content-highlight2 type-special">ยาวนาน 10ปี</strong>
								ด้วยการฉีดฟิลเลอร์อาร์ติคอล เพียง 10 นาที
	    					</h4>
	    					<p class="content-section__txt1 type-another">
	    						<span class="content-section__point">หลังฉีดฟิลเลอร์ เราจะออก<span class="color-special14">ใบรับรองผลิตภัณฑ์</span>ให้</span><br>

	    						บาโนบากิจะให้คนไข้ทุกท่านตรวจผลิตภัณฑ์ว่าเป็นของแท้ก่อนการฉีดเสมอ และจะออกใบรับรองผลิตภัณฑ์ให้หลังฉีดเสร็จเรียบร้อยแล้ว
	    					</p>
	    				</div>
	    			</div>
	    		</div><!-- //content-section -->
	    	</div>

			<!-- operation -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-special type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">การฉีดอาร์ติคอลเพียง 10นาที สามารถคงความงามได้ยาวนานถึง 10 ปี</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 10 นาที</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยาชาเฉพาะที่</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ไม่จำเป็น</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ฟื้นตัวเร็วและกลับไปใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-special">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									อาจมี<span class="color-special14">อาการเจ็บแปลบ</span>จากการใช้เข็มฉีดยา<br>
									อาจมีอาการบวมและเจ็บได้ ขึ้นอยู่กับปริมาณฟิลเลอร์ที่ใช้<br>
									ในระยะที่ฟิลเลอร์กำลังจับตัว อาจมีอาการแสบได้ เมื่อเวลาผ่านไปอาการแสบจะลดลงเรื่อยๆ
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
