<%
	type = "detail"
	page = "special"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="special detail-common">
    <section class="fs_section specialFirst js-first" data-section-name="home">
        <div class="detail__inner">
            <div class="detail__vertical">
                <p class="detail__first-tit type-special">
                    ทางเลือกที่<span class="color-special0">หลากหลาย, การศัลยกรรมที่จำเป็น</span> สำหรับใครสักคน
                </p>
                <h3 class="detail__first-txt type-special">
                    <strong class="detail__first-point">ผู้แบ่งเบาความกังวลของคนไข้</strong><br>
                    ใส่ใจรายละเอียด <span class="color-special3">ศัลยกรรมสเปเชียล</span> บาโนบากิ
                </h3>
            </div>
        </div>
        <div class="scroll">
            <div class="inner">
                <i></i>
            </div>
            <em>SCROLL</em>
        </div>
    </section>

    <section class="fs_section specialSection01" data-section-name="specialSection01">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-normal type-special">
                    <h4 class="detail__section-tit">
                        การฉีดฟิลเลอร์,<br>
                        ที่บาโนบากิ
                        <strong class="color-special4">ทำอย่างนี้</strong>
                    </h4>
                    <p class="detail__section-subtit">เพิ่มความพึงพอใจในการฉีดฟิลเลอร์โดยทีมแพทย์ผู้เชี่ยวชาญ</p>
                    <p class="detail__section-txt">
                        การฉีดฟิลเลอร์นั้นเหมือนจะเป็นวิธีที่ทำง่ายๆ ที่ใครๆ ก็ทำได้ แต่ว่าผลลัพธ์ที่ได้แตกต่างกันออกไปขึ้นอยู่กับผู้ฉีด <span class="color-special5">ดังนั้นทีมแพทย์ผู้เชี่ยวชาญของบาโนบากิจึงดูสภาพผิว การเคลื่อนไหวของกล้ามเนื้อและเลือกใช้ฟิลเลอร์ตามความเหมาะสม</span> เทคนิคต่างๆ นำไปสู่ผลลัพธ์ที่น่าพอใจและมีประสิทธิภาพมากยิ่งขึ้น
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="fs_section specialSection02" data-section-name="specialSection02">
        <div class="detail__inner type-full">
            <div class="detail__popup type-special">
                <div class="detail__popup-wrap">
                    <h5 class="detail__popup-tit">สถานพยาบาลที่ใช้อะติคอล</h5>
                    <div class="popup-img">
                        <div class="popup-img__box">Image officially approved by Artecoll</div>
                        <p class="popup-img__txt">
                            <strong class="color-special7">อะติคอล</strong>เป็นวัสดุกึ่งถาวรที่ปลอดภัยและถูกใช้มากกว่าหนึ่งล้านเคสทั่วโลกเป็นระยะเวลากว่า 20 ปี
                        </p>
                    </div>
                    <a href="" class="detail__popup-close js-popup-close">ปิด</a>
                </div>
            </div>
            <div class="detail__section-wrap type-special">
                <div class="detail__vertical">
                    <div class="detail__section-box type-special type-wide type-quotation2">
                        <h4 class="detail__section-tit">
                            การฉีดฟิลเลอร์<br>
                            ที่บาโนบากิ
                            <strong class="color-special4">สามารถเชื่อใจได้</strong>
                        </h4>
                        <p class="detail__section-subtit">บาโนบากิได้รับอนุญาตให้ใช้อะติคอลได้อย่างเป็นทางการ</p>
                        <p class="detail__section-txt">
                            อะติคอลเป็นสารเติมเต็มลักษณะกึ่งถาวร
                            <span class="color-special5">จำเป็นต้องใช้ผู้มีทักษะในการฉีดซึ่งบาโนบากิเป็นโรงพยาบาลที่สามารถใช้อะติคอลได้อย่างเป็นทางการ</span> โดยทีมแพทย์ผู้เชี่ยวชาญที่ได้รับการยอมรับ ผู้ซึ่งคำนึงถึงความปลอดภัย ความสวยงามที่ยาวนาน
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail__section-bottom type-special">
            <div class="detail__section-set">
                สถานพยาบาลที่มีใบอนุญาติใช้อะติคอล
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-special">pop-up button</a></span>
            </div>
        </div>
    </section>

    <section class="fs_section specialSection03" data-section-name="specialSection03">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wide type-special">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมสเปเชียล
                        บาโนบากิ
                        เข้าใจถึง<span class="color-special7">ความกังวล</span>ของคุณ
                    </h4>
                    <p class="detail__section-subtit">คิดค้นวิธีการแก้ไขเกี่ยวกับปัญหาแต่ละส่วน</p>
                    <p class="detail__section-txt">
                        นับเป็นการศัลยกรรมที่<span class="color-special12">เน้นแก้ไขจุดบกพร่องมากกว่า</span> ซึ่งแตกต่างกับการทำศัลยกรรมเพื่อเน้นความสวยงามอย่างเช่นศัลยกรรมปรับรูปหน้า, ตา, จมูก เป็นต้น บาโนบากิมีทีมแพทย์ผู้เชี่ยวชาญและเทคนิคที่เหมาะสมเพื่อแก้ปัญหาความกังวลของคนไข้
                    </p>
                </div>
                <!-- layer-doc5 -->
                <div class="layer-doc5 type-special">
                    <ul class="layer-doc5__list">
                        <li class="layer-doc5__item nth-1">
                            <div class="layer-doc5__wrap">
                                <h5 class="layer-doc5__tit"><span class="layer-doc5__tit-wrap">ศัลยกรรมหู</span></h5>
                            </div>
                        </li>
                        <li class="layer-doc5__item nth-2">
                            <div class="layer-doc5__wrap">
                                <h5 class="layer-doc5__tit"><span class="layer-doc5__tit-wrap">ศัลยกรรมหัวทุย</span></h5>
                            </div>
                        </li>
                        <li class="layer-doc5__item nth-3">
                            <div class="layer-doc5__wrap">
                                <h5 class="layer-doc5__tit"><span class="layer-doc5__tit-wrap">ศัลยกรรมปากแหว่งเพดานโหว่</span></h5>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- //layer-doc5 -->
            </div>
        </div>
    </section>

    <section class="fs_section specialSection04" data-section-name="specialSection04">
        <div class="detail__inner type-full">
            <div class="detail__section-wrap type-special type-another">
                <div class="detail__vertical">
                    <div class="detail__section-box type-wide type-right type-special type-quotation2">
                        <h4 class="detail__section-tit">
                            ศัลยกรรมสเปเชียล
                            ที่บาโนบากิ
                            ทำได้ดีแม้จะ<strong class="color-special8">ยุ่งยากซับซ้อน</strong>
                        </h4>
                        <p class="detail__section-subtit">เหตุผลที่ทีมแพทย์ต้องท้าทายกับการผ่าตัดที่ยาก</p>
                        <p class="detail__section-txt">
                            มีหลายโรงพยาบาลที่ทำศัลยกรรมโดยเน้นไปที่ความสวยงามเป็นหลัก แต่โรงพยาบาลที่เน้นศัลยกรรมตกแต่งเพื่อแก้ไขปัญหาความบกพร่องนั้นมีไม่มาก <span class="color-special9">แม้ทีมแพทย์เองจะบอกว่ายาก หรือเป็นการศัลยกรรมที่ไม่ควรทำ</span> บาโนบากิจึงคิดค้นวิจัยหาวิธีรักษาอย่างต่อเนื่องเพื่อหาทางผ่อนคลายความกังวลแก่คนไข้
                        </p>
                    </div>
                </div>
            </div>
            <p class="detail__bottom-txt type-special">
                <strong>การรักษารอยแผลเป็นด้วยเสต็มเซลล์</strong><br class="hidden-m"> (ผู้ได้รับการรักษารอยแผลเป็นจากรอยไหม้)
            </p>
        </div>
    </section>

    <section class="fs_section specialSection05" data-section-name="specialSection05">
        <div class="detail__inner type-full">
            <div class="detail__popup type-special">
                <div class="detail__popup-wrap">
                    <h5 class="detail__popup-tit">ระบบการตรวจแบบพิเศษ<span class="color-special6">.</span></h5>
                    <div class="detail__popup-scroll">
                        <div class="popup-system">
                            <ul class="popup-system__list">
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">การตรวจพื้นฐาน</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">การตรวจเลือด</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ตรวจภูมิคุ้มกันมะเร็ง</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ตรวจโลหะหนัก</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ตรวจคลื่นความถี่</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ตรวจความเครียด</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">เอ็กซเรย์</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ตรวจด้วยเครื่อง3D-CT</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ตรวจข้อต่อขากรรไกร</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ตรวจคลื่นหัวใจ</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ตรวจความหนาแน่นของกระดูก </h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ตรวจปัสสาวะ</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ตรวจการทำงานของไต</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ตรวจการทำงานของตับ</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ตรวจเบาหวาน</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ทดสอบโรคหัวใจและหลอดเลือด</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ทดสอบการทำงานของหัวใจ</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ทดสอบกล้ามเนื้อและกระดูก</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ตรวจไทรอยด์</h6>
                                    </div>
                                </li>
                                <li class="popup-system__item">
                                    <div class="popup-system__wrap">
                                        <h6 class="popup-system__tit">ตรวจโรค</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" class="detail__popup-close js-popup-close">ปิด</a>
                </div>
            </div>
            <div class="detail__section-wrap type-special type-another2">
                <div class="detail__vertical">
                    <div class="detail__section-box type-wide type-right type-special type-quotation2">
                        <h4 class="detail__section-tit">
                            การศัลยกรรมสเปเชียล
                            บาโนบากิ
                            เราใส่ใจ<span class="color-special10">รายละเอียด</span>
                        </h4>
                        <p class="detail__section-subtit">ปรัชญาทางการแพทย์, กับระบบตรวจสอบที่ครบครัน</p>
                        <p class="detail__section-txt">
                            พื้นฐานของโรงพยาบาลคือต้องคำนึงถึงสุขภาพของคนไข้ จากปรัชญาทางการแพทย์เกี่ยวกับศูนย์กลางของมนุษย์นั้น <span class="color-special10">บาโนบากิจึงใช้วิธีตรวจอย่างพิเศษทั้งผิวหนัง, กระดูก, เลือดและเนื้อเยื่อต่างๆ</span> เพื่อทำศัลยกรรมให้แก่คนไข้ได้อย่างปลอดภัยมากที่สุด
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail__section-bottom type-special">
            <div class="detail__section-set">
                ระบบการตรวจแบบพิเศษบาโนบากิ
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-special" data-popup-type="footer">pop-up button</a></span>
            </div>
        </div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
