<%
	type = "main"
	page = "main"
%>
<% include ../_include/_header %>

<div class="intro nth-10">
	<div class="intro-video">
		<iframe src="https://player.vimeo.com/video/351953903?muted=1&amp;autoplay=1" class="intro-video__iframe" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
	</div>
	<div class="intro__bg"></div>
	 <!-- sns -->
	<ul class="intro-sns">
		<li class="intro-sns__item">
			<a href="" class="intro-sns__link">
				<i class="fa fa-facebook"></i>
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="" class="intro-sns__link">
				<i class="fa fa-instagram"></i>
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="" class="intro-sns__link type-blog">
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="" class="intro-sns__link">
				<i class="fa fa-youtube-play"></i>
			</a>
		</li>
	</ul>
	<!-- //sns -->

	<!-- 기존 문구 -->
	<!-- <div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt animated fadeInUp">
				มากกว่าการดูแลเรื่องความงาม<br>
				เราไม่ละสายตาจากคุณแม้วินาทีเดียว<br>
				จนกว่าคุณจะสวยขึ้นอย่างเป็นธรรมชาติ
			</p>
			<h3 class="intro-inner__tit animated fadeInUp delay-1s">
				เพราะเราคือ<br>
				<span class="intro-inner__point">ผผู้ใส่ใจรายละเอียด</span><br>
				ทุกขั้นตอน
			</h3>
			<div class="intro-inner__bar animated fadeInUp delay-2s">
				นี่คือเหตุผลที่เราคือผู้ใส่ใจรายละเอียด
			</div>
		</div>
	</div> -->
	<!-- 뀐, 크리스, 조이핑크 문구 -->
	<!-- <div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt animated fadeInUp">แม้ผ่านไป 10 ปีก็ไม่เสียใจที่เลือกบาโนบากิ</p>
			<h3 class="intro-inner__tit animated fadeInUp delay-1s">เราคือ <span class="intro-inner__point">ผู้ใส่ใจรายละเอียด</span></h3>
			<p class="intro-inner__bar animated fadeInUp delay-2s">ผู้ใส่ใจรายละเอียด
				โรงพยาบาลที่ใส่ใจรายละเอียดทุกขั้นตอน<br>
				นี่คือเหตุผลที่ผู้ใช้บริการเรียกเราว่าผู้ใส่ใจรายละเอียด
			</p>
		</div>
	</div> -->
	<!-- 무사고 문구-->
	<div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt">
				<span class="intro-inner__motion animated fadeInUp">เราเป็น <span class="intro-inner__point">ทีมงานที่ใส่ใจรายละเอียด</span></span>
				<span class="intro-inner__motion animated fadeInUp delay-1s">โดยคำนึงถึงความงามของผู้ป้วย</span>
				<span class="intro-inner__motion animated fadeInUp delay-2s">และยึดถือพื้นฐานทางการแพทย์เป็นหลัก</span>
			</p>
			<p class="intro-inner__bar animated fadeInUp delay-3s">
				ผู้ใส่ใจรายละเอียด
				โรงพยาบาลที่ใส่ใจรายละเอียดทุกขั้นตอน<br>
				นี่คือเหตุผลที่ผู้ใช้บริการเรียกเราว่าผู้ใส่ใจรายละเอียด
			</p>
		</div>
	</div>
	<!-- 렛미인4 문구-->
	<!-- <div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt animated fadeInUp">
				พบกับโรงพยาบาลศัลยกรรมบาโนบาก
			</p>
			<p class="intro-inner__tit animated fadeInUp delay-1s">
				ได้ในการิ<br>
				<span class="intro-inner__point">Let me in Thailand<br>ซีซั่น 4</span>
			</p>
		</div>
	</div> -->
	<!-- //txt-box-->

	<!-- intro-slide -->
	<div class="intro-slide">
		<ul class="intro-slide__list js-intro-slide">
			<li class="intro-slide__item nth-1">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">
							เรา<span class="intro-slide__point">ใส่ใจรายละเอียด</span>
						</h3>
						<p class="intro-slide__txt">
							มากกว่าการดูแลเรื่องความงาม<br>
							จนกว่าคุณจะสวยขึ้นอย่างเป็นธรรมชาติ,<br>
							เราไม่ละสายตาจากคุณแม้วินาทีเดียว
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-2">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">
							เราคำนึงถึง<br>
							<span class="intro-slide__point">ความปลอดภัย</span>
						</h3>
						<p class="intro-slide__txt">
							เตรียมความพร้อมอยู่ตลอด<br>
							และอย่าเสี่ยงเพื่อความสวยงามเพียงอย่างเดียว
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-3">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">
							เรา<span class="intro-slide__point">มั่นใจ</span>
						</h3>
						<p class="intro-slide__txt">
							แม่บอกต่อลูก, ลูกบอกต่อแม่, เพื่อนบอกต่อเพื่อน<br>
							โรงพยาบาลที่ใครๆต่างแนะนำบอกต่อกัน
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-4">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">
							<span class="intro-slide__point">โปรแกรมดูแล</span><br>
							หลังผ่าตัด
						</h3>
						<p class="intro-slide__txt">
							โปรแกรมดูแลหลังผ่าตัดที่จัดขึ้นเพื่อลดอาการบวม,ช้ำ<br>
							รวมถึงการติดตามผลหลังผ่าตัดอย่างสม่ำเสมอ<br>
							เพื่อความพึงพอใจสูงสุด
						</p>
					</div>
				</div>
			</li>
		</ul>

		<div class="intro-slide__area">
			<div class="intro-slide__progress">
				<span class="intro-slide__bar"></span>
			</div>

			<div class="intro-slide__counter"></div>
		</div>
	</div>
	<!-- //intro-slide -->

	<div class="scroll">
		<p class="scroll__txt">SCROLL</p>
		<div class="scroll__inner">
			<i class="scroll__ball"></i>
		</div>
	</div>
</div>
<!-- focus -->
<div class="focus">
	<div class="main__wrap">
		<div class="focus__area">
			<h3 class="focus__tit main__tit type-bar">focus PICK</h3>
			<p class="focus__txt">คุณสามารถดูโปรโมชั่นเพิ่มเติมหรือรายละเอียดการปรึกษาได้ที่นี่</p>
			<div class="focus__wrap">
				<!-- let me in 4 -->
				<div class="focus__let4">
					<img src="../../images/temp/focuspick_pc.jpg" loading="lazy" alt="let me in 4 Reborn Comming soon" class="img-responsive hidden-tm">
					<img src="../../images/temp/focuspick_mobile.jpg" loading="lazy" alt="let me in 4 Reborn Comming soon" class="img-responsive hidden-p">
					<a href="" class="focus__link">자세히보기</a>
				</div>

				<div class="focus__best">
					<span class="focus__category type-promotion">Promotion</span>
					<img src="../../images/temp/focus_best.jpg" loading="lazy" alt="혜택도 풍년이다! - 바노바기 해피추석위크" class="img-responsive hidden-tm">
					<img src="../../images/temp/focus_best_t.jpg" loading="lazy" alt="혜택도 풍년이다! - 바노바기 해피추석위크" class="img-responsive hidden-p">
					<a href="" class="focus__link">자세히보기</a>
				</div>
				<ul class="focus__list">
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="http://renewal.thailandbanobagi.com/review/index.php#retSection" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //focus -->



<!--main-video-->
<div class="main-video">
	<div class="main-video__wrap">
		<ul class="main-video__list">
			<li class="main-video__item">
				<div class="main-video__outer">
					<h3 class="main-video__tit">BANOBAGI TV</h3>
					<p class="main-video__txt">ข้อมูลเกี่ยวกับศัลยกรรมจากทีมศัลยแพทย์ผู้เชี่ยวชาญ</p>
					<a href="https://www.youtube.com/channel/UC2lzYQ5kXBK0gkVDe5StZzQ" class="main-video__btn" target="_blank">
						<span> ไปยังช่องBANOBAGI TV</span>
					</a>
				</div>
			</li>
			<li class="main-video__item type-video">
				<div class="main-video__inner">
					<div class="main-video__box">
						<div class="main-video__area nth-1">
							<a href="https://www.youtube.com/channel/UC2lzYQ5kXBK0gkVDe5StZzQ" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div>
						<!--<div class="main-video__area nth-2">
							<a href="https://www.youtube.com/watch?v=GjwwS7_Aqwk" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div>-->
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--//main-video-->



<!-- let -->
<div class="let">
	<div class="let__wrap main__wrap">
		<h3 class="let__tit">
			<span class="let__foreign">โรงพยาบาลศัลยกรรมบาโนบากิ</span>
			<span class="let__eng">Let Me In Thailand</span>
		</h3>
		<div class="let-icon">
			<ul class="let-icon__list">
				<li class="let-icon__item"><a href="http://renewal.thailandbanobagi.com/review/index.php#preRetSection" target="_blank" class="let-icon__link"><img src="../../images/main/let_icon_1.png" loading="lazy" alt="렛미인 시즌1">렛미인 시즌1</a></li>
				<li class="let-icon__item"><a href="http://renewal.thailandbanobagi.com/review/index.php#preRetSection" target="_blank" class="let-icon__link"><img src="../../images/main/let_icon_2.png" loading="lazy" alt="렛미인 시즌2">렛미인 시즌2</a></li>
				<li class="let-icon__item"><a href="http://renewal.thailandbanobagi.com/review/index.php#preRetSection" target="_blank" class="let-icon__link"><img src="../../images/main/let_icon_3.png" loading="lazy" alt="렛미인 시즌3">렛미인 시즌3</a></li>
				<li class="let-icon__item"><a href="http://renewal.thailandbanobagi.com/review/index.php#retSection" target="_blank" class="let-icon__link"><img src="../../images/main/let_icon_4.png" loading="lazy" alt="렛미인 시즌4">렛미인 시즌4</a></li>
			</ul>
		</div>
		<div class="let__area">
			<div class="let__box">
				<ul class="let__list">
					<li class="let__item type-big">
						<span class="let__border type-top">top</span>
						<span class="let__border type-left">right</span>
						<span class="let__border type-bottom">bottom</span>
						<span class="let__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="let__img img-responsive">
						<a href="" class="let__link">상세보기</a>
					</li>
					<li class="let__item type-small">
						<span class="let__border type-top">top</span>
						<span class="let__border type-left">right</span>
						<span class="let__border type-bottom">bottom</span>
						<span class="let__border type-right">right</span>
						<img src="../../images/temp/let_small.jpg" loading="lazy" alt="" class="let__img img-responsive">
						<a href="" class="let__link">상세보기</a>
					</li>
					<li class="let__item type-small">
						<span class="let__border type-top">top</span>
						<span class="let__border type-left">right</span>
						<span class="let__border type-bottom">bottom</span>
						<span class="let__border type-right">right</span>
						<img src="../../images/temp/let_small.jpg" loading="lazy" alt="" class="let__img img-responsive">
						<a href="" class="let__link">상세보기</a>
					</li>
					<li class="let__item type-small">
						<span class="let__border type-top">top</span>
						<span class="let__border type-left">right</span>
						<span class="let__border type-bottom">bottom</span>
						<span class="let__border type-right">right</span>
						<img src="../../images/temp/let_small.jpg" loading="lazy" alt="" class="let__img img-responsive">
						<a href="" class="let__link">상세보기</a>
					</li>
					<li class="let__item type-small">
						<span class="let__border type-top">top</span>
						<span class="let__border type-left">right</span>
						<span class="let__border type-bottom">bottom</span>
						<span class="let__border type-right">right</span>
						<img src="../../images/temp/let_small.jpg" loading="lazy" alt="" class="let__img img-responsive">
						<a href="" class="let__link">상세보기</a>
					</li>
				</ul>
			</div>
			<div class="let__box type-another">
				<ul class="let__list">
					<li class="let__item type-small">
						<span class="let__border type-top">top</span>
						<span class="let__border type-left">right</span>
						<span class="let__border type-bottom">bottom</span>
						<span class="let__border type-right">right</span>
						<img src="../../images/temp/let_small.jpg" loading="lazy" alt="" class="let__img img-responsive">
						<a href="" class="let__link">상세보기</a>
					</li>
					<li class="let__item type-small">
						<span class="let__border type-top">top</span>
						<span class="let__border type-left">right</span>
						<span class="let__border type-bottom">bottom</span>
						<span class="let__border type-right">right</span>
						<img src="../../images/temp/let_small.jpg" loading="lazy" alt="" class="let__img img-responsive">
						<a href="" class="let__link">상세보기</a>
					</li>
					<li class="let__item type-big">
						<span class="let__border type-top">top</span>
						<span class="let__border type-left">right</span>
						<span class="let__border type-bottom">bottom</span>
						<span class="let__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="let__img img-responsive">
						<a href="" class="let__link">상세보기</a>
					</li>
					<li class="let__item type-small">
						<span class="let__border type-top">top</span>
						<span class="let__border type-left">right</span>
						<span class="let__border type-bottom">bottom</span>
						<span class="let__border type-right">right</span>
						<img src="../../images/temp/let_small.jpg" loading="lazy" alt="" class="let__img img-responsive">
						<a href="" class="let__link">상세보기</a>
					</li>
					<li class="let__item type-small">
						<span class="let__border type-top">top</span>
						<span class="let__border type-left">right</span>
						<span class="let__border type-bottom">bottom</span>
						<span class="let__border type-right">right</span>
						<img src="../../images/temp/let_small.jpg" loading="lazy" alt="" class="let__img img-responsive">
						<a href="" class="let__link">상세보기</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //lef -->
<div class="main-sns">
	<div class="main__wrap">
		<h3 class="main-sns__tit main__tit type-bar">SNS</h3>
		<div class="main-sns__list">
			<div class="main-sns__item nth-1">
				<h4 class="main-sns__subject">facebook</h4>
				<a href="" class="main-sns__link">바로가기</a>
			</div>
			<div class="main-sns__item nth-2">
				<h4 class="main-sns__subject">Instagram</h4>
				<a href="" class="main-sns__link">바로가기</a>
			</div>
			<div class="main-sns__item nth-3">
				<h4 class="main-sns__subject">Blogger</h4>
				<a href="" class="main-sns__link">바로가기</a>
			</div>
			<div class="main-sns__item nth-4">
				<h4 class="main-sns__subject">LINE</h4>
				<a href="" class="main-sns__link">바로가기</a>
			</div>
		</div>
	</div>
</div>

<div class="detail-list">
	<div class="main__wrap">
		<div class="detail-list__wrap">
			<ul class="detail-list__list js-list-slide">
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_1_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										<strong class="detail-list__point">ผู้ใส่ใจรายละเอียด</strong>
										ที่คำนึงถึงผลลัพธ์ระยะยาวขอ
										งคนไข้ในอีก 10 ปีข้างหน้า
									</h3>
									<p class="detail-list__txt">
										หัวใจหลักของการผ่าตัดที่ดีคือ เราต้องฟังคนไข้ให้มาก เพื่อจ
										ะได้ทำความเข้าใจที่ตรงกัน, สร้างความงามในแบบที่คนไข้ต้
										องการ
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">บันแจซัง</p>
										<p class="detail-list__career">
											ศัลยแพทย์ผู้เชี่ยวชาญประสบการณ์ 20 ปี,
											แพทย์ใหญ่ประจำแผนกศัลยกรรมรูปร่าง
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_2_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										<strong class="detail-list__point">ผู้ใส่ใจรายละเอียด</strong>
										ที่คำนึงถึงผลลัพธ์ระยะยาวขอ
										งคนไข้ในอีก 10 ปีข้างหน้า
									</h3>
									<p class="detail-list__txt">
										หัวใจหลักของการผ่าตัดที่ดีคือ เราต้องฟังคนไข้ให้มาก เพื่อจ
										ะได้ทำความเข้าใจที่ตรงกัน, สร้างความงามในแบบที่คนไข้ต้
										องการ
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">บันแจซัง</p>
										<p class="detail-list__career">
											ศัลยแพทย์ผู้เชี่ยวชาญประสบการณ์ 20 ปี,
											แพทย์ใหญ่ประจำแผนกศัลยกรรมรูปร่าง
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_3_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										<strong class="detail-list__point">ผู้ใส่ใจรายละเอียด</strong>
										ที่คำนึงถึงผลลัพธ์ระยะยาวขอ
										งคนไข้ในอีก 10 ปีข้างหน้า
									</h3>
									<p class="detail-list__txt">
										หัวใจหลักของการผ่าตัดที่ดีคือ เราต้องฟังคนไข้ให้มาก เพื่อจ
										ะได้ทำความเข้าใจที่ตรงกัน, สร้างความงามในแบบที่คนไข้ต้
										องการ
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">บันแจซัง</p>
										<p class="detail-list__career">
											ศัลยแพทย์ผู้เชี่ยวชาญประสบการณ์ 20 ปี,
											แพทย์ใหญ่ประจำแผนกศัลยกรรมรูปร่าง
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_4_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										<strong class="detail-list__point">ผู้ใส่ใจรายละเอียด</strong>
										ที่คำนึงถึงผลลัพธ์ระยะยาวขอ
										งคนไข้ในอีก 10 ปีข้างหน้า
									</h3>
									<p class="detail-list__txt">
										หัวใจหลักของการผ่าตัดที่ดีคือ เราต้องฟังคนไข้ให้มาก เพื่อจ
										ะได้ทำความเข้าใจที่ตรงกัน, สร้างความงามในแบบที่คนไข้ต้
										องการ
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">บันแจซัง</p>
										<p class="detail-list__career">
											ศัลยแพทย์ผู้เชี่ยวชาญประสบการณ์ 20 ปี,
											แพทย์ใหญ่ประจำแผนกศัลยกรรมรูปร่าง
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_5_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										<strong class="detail-list__point">ผู้ใส่ใจรายละเอียด</strong>
										ที่คำนึงถึงผลลัพธ์ระยะยาวขอ
										งคนไข้ในอีก 10 ปีข้างหน้า
									</h3>
									<p class="detail-list__txt">
										หัวใจหลักของการผ่าตัดที่ดีคือ เราต้องฟังคนไข้ให้มาก เพื่อจ
										ะได้ทำความเข้าใจที่ตรงกัน, สร้างความงามในแบบที่คนไข้ต้
										องการ
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">บันแจซัง</p>
										<p class="detail-list__career">
											ศัลยแพทย์ผู้เชี่ยวชาญประสบการณ์ 20 ปี,
											แพทย์ใหญ่ประจำแผนกศัลยกรรมรูปร่าง
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
			</ul>
			<a href="" class="detail-list__btn type-prev js-slider-prev">이전</a>
			<a href="" class="detail-list__btn type-next js-slider-next">다음</a>
		</div>
		<div class="detail-thumbnail">
			<ul class="detail-thumbnail__list">
				<li class="detail-thumbnail__item type-logo">
					<div class="detail-thumbnail__outer">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__company">BANOBAGI</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_1_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">บันแจซัง</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_2_1.jpg" loading="lazy" alt="이민영 실장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">โอชางฮยอน</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_3_1.jpg" loading="lazy" alt="양선미 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">ยังซอนมี</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_4_1.jpg" loading="lazy" alt="김용주 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">คิมยงจู</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_5_1.jpg" loading="lazy" alt="고성건 연구원" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">โกซองกอน</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="detail-slide">
	<div class="detail-slide__wrap">
		<ul class="detail-slide__list js-detail-slide">
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">01</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						ระบบตรวจสุขภาพครบวงจร
					</h3>
					<p class="detail-slide__txt">
						ระบบตรวจสุขภาพครบวงจร ที่ตรวจเช็คความพร้อมของร่างกายอย่างละเอียด เพื่อผลลัพธ์ที่ดีและเพื่อความปลอดภัยในการผ่าตัด
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img0.png" loading="lazy" alt="" class="img-responsive is-rotate hidden-tm">
						<img src="../../images/main/detail_img0_t.png" loading="lazy" alt="" class="img-responsive is-rotate hidden-p">
						<img src="../../images/main/detail_img1.png" loading="lazy" alt="피부과전문의 인증 - 피부건강지킴 - 대한피부과의사회" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img1_t.png" loading="lazy" alt="피부과전문의 인증 - 피부건강지킴 - 대한피부과의사회" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">02</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						ระบบที่ปลอดภัยที่สุด
					</h3>
					<p class="detail-slide__txt">
						ปลอดเชื้อด้วยระบบ Air Shower, ระบบการฆ่าเชื้อ, ควบคุมการผ่าตัดโดยทีมวิสัญญีแพทย์และเตรียมพร้อมกรณีเกิดเหตุฉุกเฉินตลอดเวลา
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img2.jpg" loading="lazy" alt="바노바기 복합 치료 시스템 - 올인원목주름, 올인원토닝, 올인원테라피, 올인원올모공, 올인원리프팅" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img2_t.jpg" loading="lazy" alt="바노바기 복합 치료 시스템 - 올인원목주름, 올인원토닝, 올인원테라피, 올인원올모공, 올인원리프팅" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">03</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						ทีมแพทย์ผู้เชี่ยวชาญจากมหาวิทยาลัยโซล
					</h3>
					<p class="detail-slide__txt">
						ทีมแพทย์ผู้เชี่ยวชาญที่จบจากมหาวิทยาโซลสะสมประสบการณ์มากว่า 18 ปี, แบ่งทีมแพทย์ตามความเชี่ยวชาญแต่ละส่วนเฉพาะด้าน, ทักษะการผ่าตัดที่ใส่ใจรายละเอียด
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img3.jpg" loading="lazy" alt="의료 장비 사진" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img3_t.jpg" loading="lazy" alt="의료 장비 사진" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">04</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						โปรแกรมดูแลหลังผ่าตัด
					</h3>
					<p class="detail-slide__txt">
						เลือกสรรวิธีการผ่าตัดที่เหมาะกับอายุ, เพศ, ของคนไข้อย่างเชี่ยวชาญตลอดระยะเวลา 18 ปี
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img4.jpg" loading="lazy" alt="김은진원장, 반재용원장, 전희대원장, *원장" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img4_t.jpg" loading="lazy" alt="김은진원장, 반재용원장, 전희대원장, *원장" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">05</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						ระบบดูแลหลังผ่าตัด
					</h3>
					<p class="detail-slide__txt">
						ระบบดูแลหลังผ่าตัดเพื่อการฟื้นตัวที่รวดเร็ว, ลดช้ำ ระบบดูแลหลังผ่าตัดที่ได้รับความพึงพอใจจากคนไข้
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img5.jpg" loading="lazy" alt="의료서비스 제공" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img5_t.jpg" loading="lazy" alt="의료서비스 제공" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
		</ul>
	</div>
</div>

<div class="main-search">
	<div class="main-search__wrap">
		<h3 class="main-search__tit main__tit">SEARCH</h3>
		<div class="search-keyword">
			<div class="search-keyword__box">
				<label for="p_keyword" class="search-keyword__label">검색어</label>
				<button type="submit" class="search-keyword__btn">검색</button>
				<input type="text" class="search-keyword__input" id="main_keyword" name="main_keyword" placeholder="กรุณาใส่คำที่ต้องการค้นหา">
			</div>
		</div>
		<div class="main-search__box">
			<div class="main-search__bg">
				<div class="main-keyword">
					<div class="main-keyword__box">
						<h4 class="main-keyword__tit">คำค้นหายอดนิยม</h4>
						<ul class="main-keyword__area">
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item type-first">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('เสริมจมูก');">
											<span class="main-keyword__num">1</span>เสริมจมูก
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('ศัลยกรรมตาสองชั้น');">
											<span class="main-keyword__num">2</span>ศัลยกรรมตาสองชั้น
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('Let me in Thailand');">
											<span class="main-keyword__num">3</span>Let me in Thailand
										</a>
									</li>
								</ul>
							</li>
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('รีวิวหลังผ่าตัด');">
											<span class="main-keyword__num">4</span>รีวิวหลังผ่าตัด
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('ศัลยกรรมหน้าอก Motiva');">
											<span class="main-keyword__num">5</span>ศัลยกรรมหน้าอก Motiva
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('ปรับรูปหน้า');">
											<span class="main-keyword__num">6</span>ปรับรูปหน้า
										</a>
									</li>
								</ul>
							</li><!--//main-keyword__area-box-->
						</ul><!--//main-keyword__area-->
					</div>
					<div class="main-keyword__box">
						<h4 class="main-keyword__tit">คำค้นหาแนะนำ</h4>
						<ul class="main-keyword__area">
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item fist">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('ยกกระชับอิลาสติคกุม');">
											<span class="main-keyword__icon">#</span>ยกกระชับอิลาสติคกุม
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('ดูดไขมัน');">
											<span class="main-keyword__icon">#</span>ดูดไขมัน
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('ศัลยกรรมปรับรูปหน้า');">
											<span class="main-keyword__icon">#</span>ศัลยกรรมปรับรูปหน้า
										</a>
									</li>
								</ul>
							</li>
							<!--//main-keyword__area-box-->
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('ตาสองชั้น');">
											<span class="main-keyword__icon">#</span>ตาสองชั้น
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('วีไลน์');">
											<span class="main-keyword__icon">#</span>วีไลน์
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('เสริมหน้าอก Motiva');">
											<span class="main-keyword__icon">#</span>เสริมหน้าอก Motiva
										</a>
									</li>
								</ul>
							</li>
							<!--//main-keyword__area-box-->
						</ul><!--//main-keyword__area-->
					</div><!-- //main-keyword__box-->
				</div><!-- //main-keyword-->
			</div><!--//main-search__bg-->
		</div><!--//main-search__box-->
	</div>
</div>

<div class="main-location">
	<div class="main-location__area">
		<div id="map" class="main-location__map type-korea is-active"></div>
		<div id="map2" class="main-location__map type-thailand"></div>
	</div>
	<div class="main-location__box">
		<div class="main-location__wrap">
			<div class="main-location__inner">
				<h3 class="main__tit">CONTACT US</h3>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-map">location</dt>
					<dd class="main-location__dd">
						<ul class="main-location__list">
							<li class="main-location__item">Banobagi building, 517 Nonhyun roGangnam gu,<br class="hidden-tm"> Seoul, South Korea.</li>
							<li class="main-location__item">สาย2 สถานียอกซัม ทางออก 6 , สาย9 สถานีออนจู ทางออก 7</li>
						</ul>
						<a href="" class="main-location__link2 js-korea">show</a>
					</dd>
				</dl>
				<dl class="main-location__dl">
					<dt class="main-location__dt">location</dt>
					<dd class="main-location__dd">
						<ul class="main-location__list">
							<li class="main-location__item type-tit">ศูนย์ให้คำปรึกษาสาขาประเทศไทย</li>
							<li class="main-location__item">95/10 สุขุมวิท 55 ทองหล่อซอย 3 ถนนสุขุมวิท</li>
							<li class="main-location__item">คลองตันเหนือ เขตวัฒนา กทม. 10110</li>
						</ul>
						<a href="" class="main-location__link2 js-thailand">show</a>
					</dd>
				</dl>
				<p class="main-location__noti">※ คลิกที่อยู่เพื่อดูเเผนที่</p>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-time">time</dt>
					<dd class="main-location__dd type-time">
						<ul class="main-location__list">
							<li class="main-location__item">
								วันจันทร์ - วันศุกร์ 09:30~18:30
							</li>
							<!-- <li class="main-location__item">
								금요일 9:30 ~ 20:00<span class="main-location__night">야간진료</span>
							</li> -->
							<li class="main-location__item">
								เสาร์ 09:30~16:00
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-phone">tel</dt>
					<dd class="main-location__dd type-phone">
						<ul class="main-location__list">
							<li class="main-location__item"><a href="tel:02-392-2890" class="main-location__link">02-392-2890</a></li>
							<li class="main-location__item"><a href="tel:099-112-4777" class="main-location__link">099-112-4777</a></li>
						</ul>
					</dd>
				</dl>
				<!-- <div class="main-location__group">
					<a href="" class="main-location__btn main-btn type-another js-sms-btn">
						<span class="main-btn__icon type-sms">sms</span>
						<span class="main-btn__wrap">모바일 전송</span>
						<span class="main-btn__wrap"><i class="fa fa-angle-right"></i></span>
					</a>
					<a href="#" onClick="open_win()" class="main-location__btn main-btn type-another hidden-tm">
						<span class="main-btn__icon type-print">sms</span>
						<span class="main-btn__wrap">약도 프린트</span>
						<span class="main-btn__wrap"><i class="fa fa-angle-right"></i></span>
					</a>
					<div class="main-form">
						<form id="mobileForm" class="main-form__form" method="post">
							<div class="main-form__wrap">
								<label for="mobileSend" class="main-form__label">sms</label>
								<input type="text" class="main-form__input" name="mobileSend" id="mobileSend" placeholder="연락처를 입력해주세요." required="">
								<button type="button" class="main-form__btn" id="">전송</button>
								<a href="" class="main-form__close js-sms-close">닫기</a>
							</div>
						</form>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>


<% include ../_include/_footer %>
