.content-btn{display: inline-block;width: auto;min-width: 200px;padding: 0 10px;
    @media only screen and (max-width: $mobile-size){
        min-width: 160px;
    }
}
.inner-circle{
	&__item{padding:0 10px;}
}
