<%
	type = "content"
	page = "program"
%>
<% include ../_include/_header %>
<div class="container type-model">
<!-- Content -->
	<div class="content">
		<div class="model">
			<div class="model__img">
				<img src="../../images/program/thai_1812_model/model_top_1.jpg" class="img-normal hidden-m"loading="lazy" alt=""/>
				<img src="../../images/program/thai_1812_model/model_top_1_m.jpg" class="img-normal hidden-pt"loading="lazy" alt=""/>
			</div>
			<div class="model__wrap">
				<div class="model__img">
					<img src="../../images/program/thai_1812_model/model_top_2.jpg" class="img-normal hidden-m"loading="lazy" alt=""/>
					<img src="../../images/program/thai_1812_model/model_top_2_m.jpg" class="img-normal hidden-pt"loading="lazy" alt=""/>
				</div>
				<div class="model-form">
					<div class="model-form__area">
						<ul class="model-form__list">
							<li class="model-form__item">
								<div class="model-form__wrap">
									<div class="model-form__head"><h3 class="model-form__subject model-tit">ชื่อ</h3></div>
									<div class="model-form__body">
										<input type="text" class="model-input1 model-txt" id="name" name="name">
									</div>
								</div>
							</li>
							<li class="model-form__item">
								<div class="model-form__wrap">
									<div class="model-form__head"><h3 class="model-form__subject model-tit">เพศ</h3></div>
									<div class="model-form__body">
										<input type="radio" name="agree1" value="" id="option1_1" class="radio2" checked="checked"><label class="model-txt" for="option1_1">หญิง</label>
										<input type="radio" name="agree1" value="" id="option1_2" class="radio2"><label class="model-txt" for="option1_2">ชาย</label>
									</div>
								</div>
							</li>
							<li class="model-form__item">
								<div class="model-form__half">
									<div class="model-form__wrap">
										<div class="model-form__head"><h3 class="model-form__subject model-tit">ส่วนสูง</h3></div>
										<div class="model-form__body">
											<input type="text" class="model-input1 model-txt" id="name" name="name">
										</div>
										<div class="model-form__unit model-txt">cm</div>
									</div>
								</div>
								<div class="model-form__half">
									<div class="model-form__wrap">
										<div class="model-form__head"><h3 class="model-form__subject model-tit">น้ำหนัก</h3></div>
										<div class="model-form__body">
											<input type="text" class="model-input1 model-txt" id="name" name="name">
										</div>
										<div class="model-form__unit model-txt">kg</div>
									</div>
								</div>
							</li>
							<li class="model-form__item">
								<div class="model-form__half">
									<div class="model-form__wrap">
										<div class="model-form__head"><h3 class="model-form__subject model-tit">อาชีพ</h3></div>
										<div class="model-form__body">
											<input type="text" class="model-input1 model-txt" id="name" name="name">
										</div>
									</div>
								</div>
								<div class="model-form__half">
									<div class="model-form__wrap">
										<div class="model-form__head"><h3 class="model-form__subject model-tit">อายุ</h3></div>
										<div class="model-form__body">
											<input type="text" class="model-input1 model-txt" id="name" name="name">
										</div>
										<div class="model-form__unit model-txt">ปี</div>
									</div>
								</div>
							</li>
							<li class="model-form__item">
								<div class="model-form__wrap">
									<div class="model-form__head"><h3 class="model-form__subject model-tit">เบอร์ติดต่อ1</h3></div>
									<div class="model-form__body type-multi">
										<div class="model-form__phone">
											<input type="tel" class="model-input1 model-txt" id="name" name="name">
										</div>
										<div class="model-form__phone">
											<input type="tel" class="model-input1 model-txt" id="name" name="name">
										</div>
										<div class="model-form__phone">
											<input type="tel" class="model-input1 model-txt" id="name" name="name">
										</div>
									</div>
								</div>
							</li>
							<li class="model-form__item">
								<div class="model-form__wrap">
									<div class="model-form__head"><h3 class="model-form__subject model-tit">เบอร์ติดต่อ2</h3></div>
									<div class="model-form__body">
										<input type="text" class="model-input1 model-txt" id="name" name="name">
									</div>
								</div>
							</li>
							<li class="model-form__item">
								<div class="model-form__wrap">
									<input type="text" class="model-input1 model-txt type-another" id="name" name="name" placeholder="ความสัมพันธ์">
									<p class="model-form__noti model-txt">(กรุณาใส่หมายเลขโทรศัพท์ และความสัมพันธ์ ในกรณีที่ติดต่อไม่ได้)</p>
								</div>
							</li>
							<li class="model-form__item">
								<div class="model-form__wrap">
									<div class="model-form__head"><h3 class="model-form__subject model-tit">อีเมล</h3></div>
									<div class="model-form__body type-multi">
										<div class="model-form__email model-txt">
											<input type="email" class="model-input1 model-txt" id="name" name="name">
										</div>
										<div class="model-form__email model-txt">
											<input type="email" class="model-input1 model-txt" id="name" name="name">
										</div>
									</div>
								</div>
							</li>
							<li class="model-form__item">
								<div class="model-form__wrap">
									<div class="model-form__head"><h3 class="model-form__subject model-tit">ที่อยู่</h3></div>
									<div class="model-form__body">
										<input type="text" class="model-input1 model-txt" id="name" name="name">
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="model-form__area">
						<div class="model-form__outer">
							<h3 class="model-form__tit model-tit">ส่วนที่ต้องการทำศัลยกรรม <span class="model-form__txt model-txt">(สามารถเลือกได้มากกว่า1ข้อ)</span></h3>
							<div class="model-form__box">
								<ul class="model-check__list">
									<li class="model-check__item">
										<input type="checkbox" name="necessity" id="necessity1" class="checkbox03"><label class="model-txt" for="necessity1">ความสัมพันธ์</label>
									</li>
									<li class="model-check__item">
										<input type="checkbox" name="necessity" id="necessity2" class="checkbox03"><label class="model-txt" for="necessity2">ขากรรไกร</label>
									</li>
									<li class="model-check__item">
										<input type="checkbox" name="necessity" id="necessity3" class="checkbox03"><label class="model-txt" for="necessity3">ศัลยกรรมตา</label>
									</li>
									<li class="model-check__item">
										<input type="checkbox" name="necessity" id="necessity4" class="checkbox03"><label class="model-txt" for="necessity4">ศัลยกรรมจมูก</label>
									</li>
									<li class="model-check__item">
										<input type="checkbox" name="necessity" id="necessity5" class="checkbox03"><label class="model-txt" for="necessity5">ริ้วรอย</label>
									</li>
									<li class="model-check__item">
										<input type="checkbox" name="necessity" id="necessity6" class="checkbox03"><label class="model-txt" for="necessity6">ฟิลเลอร์</label>
									</li>
									<li class="model-check__item">
										<input type="checkbox" name="necessity" id="necessity7" class="checkbox03"><label class="model-txt" for="necessity7">ดูดไขมัน</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="model-form__outer">
							<h3 class="model-form__tit model-tit">ประวัติการทำศัลยกรรม<br>
								<span class="model-form__txt model-txt">(หลังจากเลือกส่วนที่เคยทำแล้วให้กรอกข้อมูล (ไม่ต้องใส่เครื่องหมาย "/" และ ",") เช่น ปี2558 กรีดตาสองชั้น - 2559 เสริมจมูก)</span>
							</h3>
							<div class="model-form__box">
								<ul class="model-check2__list">
									<li class="model-check2__item">
										<div class="model-form__head">
											<input type="checkbox" name="operation" id="operation1" class="checkbox03"><label class="model-txt" for="operation1">ตา</label>
										</div>
										<div class="model-form__body">
											<input type="text" class="model-input1 model-txt" id="name" name="name">
										</div>
									</li>
									<li class="model-check2__item">
										<div class="model-form__head">
											<input type="checkbox" name="operation" id="operation2" class="checkbox03"><label class="model-txt" for="operation2">ปรับโครงหน้า</label>
										</div>
										<div class="model-form__body">
											<input type="text" class="model-input1 model-txt" id="name" name="name">
										</div>
									</li>
									<li class="model-check2__item">
										<div class="model-form__head">
											<input type="checkbox" name="operation" id="operation3" class="checkbox03"><label class="model-txt" for="operation3">ฟิลเลอร์,ฉีดหน้าเรียว</label>
										</div>
										<div class="model-form__body">
											<input type="text" class="model-input1 model-txt" id="name" name="name">
										</div>
									</li>
									<li class="model-check2__item">
										<div class="model-form__head">
											<input type="checkbox" name="operation" id="operation4" class="checkbox03"><label class="model-txt" for="operation4">จมูก</label>
										</div>
										<div class="model-form__body">
											<input type="text" class="model-input1 model-txt" id="name" name="name">
										</div>
									</li>
									<li class="model-check2__item">
										<div class="model-form__head">
											<input type="checkbox" name="operation" id="operation5" class="checkbox03"><label class="model-txt" for="operation5">ขากรรไกร</label>
										</div>
										<div class="model-form__body">
											<input type="text" class="model-input1 model-txt" id="name" name="name">
										</div>
									</li>
									<li class="model-check2__item">
										<div class="model-form__head">
											<input type="checkbox" name="operation" id="operation6" class="checkbox03"><label class="model-txt" for="operation6">จัดฟัน</label>
										</div>
										<div class="model-form__body">
											<input type="text" class="model-input1 model-txt" id="name" name="name">
										</div>
									</li>
									<li class="model-check2__item">
										<div class="model-form__head">
											<input type="checkbox" name="operation" id="operation7" class="checkbox03"><label class="model-txt" for="operation7">ไม่เคยทำศัลยกรรม</label>
										</div>
										<div class="model-form__body">
											<input type="text" class="model-input1 model-txt is-hidden" id="name" name="name">
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="model-form__outer">
							<h3 class="model-form__tit model-tit">เหตุผลที่สมัคร <span class="model-form__txt model-txt">(กรุณาตอบคำถามให้ครบทุกข้อ)</span></h3>
							<div class="model-form__box">
								<div class="model-textarea">
									<ul class="model-textarea__list">
										<li class="model-textarea__item">
											<h4 class="model-textarea__tit model-txt">ปัญหาของตัวท่าน</h4>
											<textarea class="textarea1 main-txt"></textarea>
										</li>
										<li class="model-textarea__item">
											<h4 class="model-textarea__tit model-txt">ส่วนที่ต้องการแก้ไขมากที่สุด</h4>
											<textarea class="textarea1 main-txt"></textarea>
										</li>
										<li class="model-textarea__item">
											<h4 class="model-textarea__tit model-txt">ต้องการภาพลักษณ์ที่เปลี่ยนไปอย่างไรหลังผ่าตัด</h4>
											<textarea class="textarea1 main-txt"></textarea>
										</li>
										<li class="model-textarea__item">
											<h4 class="model-textarea__tit model-txt">สามารถมาที่เกาหลีได้ประมาณช่วงไหน (เช่น เดือนมีนาคม ประมาณ 7วัน)</h4>
											<textarea class="textarea1 main-txt"></textarea>
										</li>
										<li class="model-textarea__item">
											<h4 class="model-textarea__tit model-txt">สิ่งที่อยากบอกกับบาโนบากิ</h4>
											<textarea class="textarea1 main-txt"></textarea>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div><!-- //model-form__area -->
					<div class="model-form__area">
						<h3 class="model-form__tit model-tit">รูปแบบการส่งรูป</h3>
						<div class="model__img type-bottom">
							<img src="../../images/program/thai_1812_model/model_bottom_1.jpg" class="img-normal hidden-m"loading="lazy" alt=""/>
							<img src="../../images/program/thai_1812_model/model_bottom_1_m.jpg" class="img-normal hidden-pt"loading="lazy" alt=""/>
						</div>
					</div>
				</div>
			</div>
			<div class="model__wrap type-btn">
				<button type="submit" class="model__btn">
					<img src="../../images/program/thai_1812_model/model_btn.png" class="img-normal hidden-m"loading="lazy" alt=""/>
					<img src="../../images/program/thai_1812_model/model_btn_m.png" class="img-normal hidden-pt"loading="lazy" alt=""/>
				</button>
			</div>
		</div>
	</div><!-- //Content -->
</div> <!-- //container -->
<% include ../_include/_footer %>
