<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<link rel="stylesheet" href="./css/artecoll.css"/>

<div class="program__view">
	<img src="../../images/program/artecoll/artecoll_img_1.jpg" loading="lazy" alt="อาร์ติคอล บาโนบากิ เคล็ดลับของ ความงาม ที่มากกว่าเมื่อวาน, ฟิลเลอร์กึ่งถาวร Artecoll อาร์ติคอล" class="hidden-tm">
    <img src="../../images/program/artecoll/artecoll_img_1_m.jpg" loading="lazy" alt="อาร์ติคอล บาโนบากิ เคล็ดลับของ ความงาม ที่มากกว่าเมื่อวาน, ฟิลเลอร์กึ่งถาวร Artecoll อาร์ติคอล" class="hidden-p">

	<img src="../../images/program/artecoll/artecoll_img_2.jpg" loading="lazy" alt="การดูแลตัวเองให้สวยยิ่งขึ้นของพวกเธอ เป็นไปได้ด้วย อาร์ติคอล" class="hidden-tm">
	<img src="../../images/program/artecoll/artecoll_img_2_m.jpg" loading="lazy" alt="การดูแลตัวเองให้สวยยิ่งขึ้นของพวกเธอ เป็นไปได้ด้วย อาร์ติคอล" class="hidden-p">

    <div class="cont__box">
        <div class="cont__area">
            <div class="cont-slider">
                <ul class="cont-slider__list">
                    <li class="cont-slider__item">
						<img src="../../images/program/artecoll/artecoll_img_3_1.jpg" loading="lazy" alt="#ตัวเลือกของฉัน  #เพื่อเพิมความมั่นใจ #อาร์ติคอล, อาร์ติคอลฟิลเลอร์,ตัวเลือกที่ดีเพื่อสร้าง่ความมั่นใจ" class="hidden-tm">
                        <img src="../../images/program/artecoll/artecoll_img_3_1_m.jpg" loading="lazy" alt="#ตัวเลือกของฉัน  #เพื่อเพิมความมั่นใจ #อาร์ติคอล, อาร์ติคอลฟิลเลอร์,ตัวเลือกที่ดีเพื่อสร้าง่ความมั่นใจ" class="hidden-p">
                    </li>
                    <li class="cont-slider__item">
						<img src="../../images/program/artecoll/artecoll_img_3_2.jpg" loading="lazy" alt="#เคล็ดลับความงาม #ตัวเลือกของฉัน #ดูเด็กลงไป10ปี, ในวันที่คุณอยากจะดูสวยขึ้นแค่อาร์ติคอลอย่างเดียวก็พอแล้ว" class="hidden-tm">
                        <img src="../../images/program/artecoll/artecoll_img_3_2_m.jpg" loading="lazy" alt="#เคล็ดลับความงาม #ตัวเลือกของฉัน #ดูเด็กลงไป10ปี, ในวันที่คุณอยากจะดูสวยขึ้นแค่อาร์ติคอลอย่างเดียวก็พอแล้ว" class="hidden-p">
                    </li>
                    <li class="cont-slider__item">
						<img src="../../images/program/artecoll/artecoll_img_3_3.jpg" loading="lazy" alt="#ตัวเลือกของฉัน #ตัวเลือกที่มั่นใจ #ฟิลเลอร์กึ่งถาวร, ไม่ต้องกังวลเลยว่าจะต้องกลับมาฉีดซ้ำทุกๆปี" class="hidden-tm">
                        <img src="../../images/program/artecoll/artecoll_img_3_3_m.jpg" loading="lazy" alt="#ตัวเลือกของฉัน #ตัวเลือกที่มั่นใจ #ฟิลเลอร์กึ่งถาวร, ไม่ต้องกังวลเลยว่าจะต้องกลับมาฉีดซ้ำทุกๆปี" class="hidden-p">
                    </li>
                </ul>

                <a href="" class="cont-slider__btn type-prev">이전</a>
				<a href="" class="cont-slider__btn type-next">다음</a>
            </div><!-- //cont-slider -->
        </div><!-- //cont__area -->
    </div><!-- //cont__box -->

	<img src="../../images/program/artecoll/artecoll_img_4.jpg" loading="lazy" alt="การฉีดฟิลเลอร์ซ้ำอย่างต่อเนื่องเป็นอันตรายได้!" class="hidden-tm">
    <img src="../../images/program/artecoll/artecoll_img_4_m.jpg" loading="lazy" alt="การฉีดฟิลเลอร์ซ้ำอย่างต่อเนื่องเป็นอันตรายได้!" class="hidden-p">

	<img src="../../images/program/artecoll/artecoll_img_5.jpg" loading="lazy" alt="ตัวเลือกเพื่อฉันอาร์ติคอล" class="hidden-tm">
    <img src="../../images/program/artecoll/artecoll_img_5_m.jpg" loading="lazy" alt="ตัวเลือกเพื่อฉันอาร์ติคอล" class="hidden-p">

	<img src="../../images/program/artecoll/artecoll_img_6.jpg" loading="lazy" alt="ฟิลเลอร์, โรงพยาบาลควรใช้เกณฑ์อะไรในการเลือก?" class="hidden-tm">
    <img src="../../images/program/artecoll/artecoll_img_6_m.jpg" loading="lazy" alt="ฟิลเลอร์, โรงพยาบาลควรใช้เกณฑ์อะไรในการเลือก?" class="hidden-p">

	<img src="../../images/program/artecoll/artecoll_img_7.jpg" loading="lazy" alt="ส่วนประกอบที่แตกต่างทำให้เกิดผลลัพธ์ที่แตกต่าง" class="hidden-tm">
    <img src="../../images/program/artecoll/artecoll_img_7_m.jpg" loading="lazy" alt="ส่วนประกอบที่แตกต่างทำให้เกิดผลลัพธ์ที่แตกต่าง" class="hidden-p">

	<img src="../../images/program/artecoll/artecoll_img_8.jpg" loading="lazy" alt="Key Point 01. เปิดครั้งแรกในประเทศเมื่อ20 ปีก่อน,ประสบการณ์มากกว่าหนึ่งล้านคน" class="hidden-tm">
    <img src="../../images/program/artecoll/artecoll_img_8_m.jpg" loading="lazy" alt="Key Point 01. เปิดครั้งแรกในประเทศเมื่อ20 ปีก่อน,ประสบการณ์มากกว่าหนึ่งล้านคน" class="hidden-p">

	<img src="../../images/program/artecoll/artecoll_img_9.jpg" loading="lazy" alt="เนื่องจากเป็นฟิลเลอร์กึ่งถาวรที่ถูกฉีดเข้าไปในร่างกาย ดังนั้นความปลอดภัยจึงสำคัญมากที่สุด" class="hidden-tm">
    <img src="../../images/program/artecoll/artecoll_img_9_m.jpg" loading="lazy" alt="เนื่องจากเป็นฟิลเลอร์กึ่งถาวรที่ถูกฉีดเข้าไปในร่างกาย ดังนั้นความปลอดภัยจึงสำคัญมากที่สุด" class="hidden-p">

	<img src="../../images/program/artecoll/artecoll_img_10.jpg" loading="lazy" alt="Key Point 02. ผลิตภัณฑ์ที่ได้รับการรับรองจาก40 ประเทศ Key Point 03. ควบคุมปริมาณ วัสดุจำกัด" class="hidden-tm">
    <img src="../../images/program/artecoll/artecoll_img_10_m.jpg" loading="lazy" alt="Key Point 02. ผลิตภัณฑ์ที่ได้รับการรับรองจาก40 ประเทศ Key Point 03. ควบคุมปริมาณ วัสดุจำกัด" class="hidden-p">

	<img src="../../images/program/artecoll/artecoll_img_11.jpg" loading="lazy" alt="ก่อนฉีดอาร์ติคอล ต้องตรวจสอบก่อน!" class="hidden-tm">
    <img src="../../images/program/artecoll/artecoll_img_11_m.jpg" loading="lazy" alt="ก่อนฉีดอาร์ติคอล ต้องตรวจสอบก่อน!" class="hidden-p">

	<img src="../../images/program/artecoll/artecoll_img_12.jpg" loading="lazy" alt="ผลลัพธ์ของอาร์ติคอล จะปรากฏขึ้นตามเวลาที่ผ่านไป" class="hidden-tm">
    <img src="../../images/program/artecoll/artecoll_img_12_m.jpg" loading="lazy" alt="ผลลัพธ์ของอาร์ติคอล จะปรากฏขึ้นตามเวลาที่ผ่านไป" class="hidden-p">

	<img src="../../images/program/artecoll/artecoll_img_13.jpg" loading="lazy" alt="อาร์ติคอลฉีดตรงบริเวณไหนดี?" class="hidden-tm">
    <img src="../../images/program/artecoll/artecoll_img_13_m.jpg" loading="lazy" alt="อาร์ติคอลฉีดตรงบริเวณไหนดี?" class="hidden-p">

    <div class="cont__box type-bf">
        <div class="cont__area">
			<img src="../../images/program/artecoll/artecoll_txt_1.png" loading="lazy" alt="อาร์ติคอล บาโนบากิ เคล็ดลับของ ความงาม ที่มากกว่าเมื่อวาน, ฟิลเลอร์กึ่งถาวร Artecoll อาร์ติคอล" class="hidden-tm"/>
            <img src="../../images/program/artecoll/artecoll_txt_1_m.png" loading="lazy" alt="อาร์ติคอล บาโนบากิ เคล็ดลับของ ความงาม ที่มากกว่าเมื่อวาน, ฟิลเลอร์กึ่งถาวร Artecoll อาร์ติคอล" class="hidden-p"/>

            <div class="cont-bf">
				<div class="cont-bf__box">
	                <div class="bf-slider">
	                    <ul class="bf-slider__list">
	                        <li class="bf-slider__item">
								<img src="../../images/program/artecoll/artecoll_img_14_1.jpg" loading="lazy" alt="อาร์ติคอล บาโนบากิ เคล็ดลับของ ความงาม ที่มากกว่าเมื่อวาน, ฟิลเลอร์กึ่งถาวร Artecoll อาร์ติคอล" class="hidden-tm"/>
	                            <img src="../../images/program/artecoll/artecoll_img_14_1_m.jpg" loading="lazy" alt="อาร์ติคอล บาโนบากิ เคล็ดลับของ ความงาม ที่มากกว่าเมื่อวาน, ฟิลเลอร์กึ่งถาวร Artecoll อาร์ติคอล" class="hidden-p"/>
	                        </li>
	                        <li class="bf-slider__item">
								<img src="../../images/program/artecoll/artecoll_img_14_2.jpg" loading="lazy" alt="อาร์ติคอล บาโนบากิ เคล็ดลับของ ความงาม ที่มากกว่าเมื่อวาน, ฟิลเลอร์กึ่งถาวร Artecoll อาร์ติคอล" class="hidden-tm"/>
	                            <img src="../../images/program/artecoll/artecoll_img_14_2_m.jpg" loading="lazy" alt="อาร์ติคอล บาโนบากิ เคล็ดลับของ ความงาม ที่มากกว่าเมื่อวาน, ฟิลเลอร์กึ่งถาวร Artecoll อาร์ติคอล" class="hidden-p"/>
	                        </li>
	                        <li class="bf-slider__item">
								<img src="../../images/program/artecoll/artecoll_img_14_3.jpg" loading="lazy" alt="อาร์ติคอล บาโนบากิ เคล็ดลับของ ความงาม ที่มากกว่าเมื่อวาน, ฟิลเลอร์กึ่งถาวร Artecoll อาร์ติคอล" class="hidden-tm"/>
	                            <img src="../../images/program/artecoll/artecoll_img_14_3_m.jpg" loading="lazy" alt="อาร์ติคอล บาโนบากิ เคล็ดลับของ ความงาม ที่มากกว่าเมื่อวาน, ฟิลเลอร์กึ่งถาวร Artecoll อาร์ติคอล" class="hidden-p"/>
	                        </li>
	                        <li class="bf-slider__item">
								<img src="../../images/program/artecoll/artecoll_img_14_4.jpg" loading="lazy" alt="อาร์ติคอล บาโนบากิ เคล็ดลับของ ความงาม ที่มากกว่าเมื่อวาน, ฟิลเลอร์กึ่งถาวร Artecoll อาร์ติคอล" class="hidden-tm"/>
	                            <img src="../../images/program/artecoll/artecoll_img_14_4_m.jpg" loading="lazy" alt="อาร์ติคอล บาโนบากิ เคล็ดลับของ ความงาม ที่มากกว่าเมื่อวาน, ฟิลเลอร์กึ่งถาวร Artecoll อาร์ติคอล" class="hidden-p"/>
	                        </li>
	                    </ul>

	                    <a href="" class="bf-slider__btn type-prev">이전</a>
						<a href="" class="bf-slider__btn type-next">다음</a>
					</div>

					<img src="../../images/program/artecoll/artecoll_noti_1.jpg" loading="lazy" alt="รูปดังกล่าวอาจแตกต่างไปตามเงื่อนไขของการถ่ายทำ และได้รับการยินยอมจากคนไข้เป็นที่เรียบร้อยแล้ว" class="hidden-tm"/>
	                <img src="../../images/program/artecoll/artecoll_noti_1_m.jpg" loading="lazy" alt="รูปดังกล่าวอาจแตกต่างไปตามเงื่อนไขของการถ่ายทำ และได้รับการยินยอมจากคนไข้เป็นที่เรียบร้อยแล้ว" class="hidden-p"/>
                </div>
            </div>
        </div>
    </div>

	<img src="../../images/program/artecoll/artecoll_img_15.jpg" loading="lazy" alt="ไขทุกข้อสงสัยเกี่ยวกับอาร์ติคอล" class="hidden-tm">
    <img src="../../images/program/artecoll/artecoll_img_15_m.jpg" loading="lazy" alt="ไขทุกข้อสงสัยเกี่ยวกับอาร์ติคอล" class="hidden-p">
</div>
<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript">
	$(function () {
		$(".cont-slider__list").slick({
			autoplay: true, //자동슬라이드
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear',
            prevArrow: ".cont-slider__btn.type-prev",
			nextArrow: ".cont-slider__btn.type-next",
            dots:true,
            dotsClass:'cont-slider__dot slide-dot',
			adaptiveHeight: true
		});

        $(".bf-slider__list").slick({
            autoplay: true, //자동슬라이드
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear',
            prevArrow: ".bf-slider__btn.type-prev",
			nextArrow: ".bf-slider__btn.type-next",
        });
	})
</script>
