<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
	<div class="content">

		<img src="../../images/program/chest_190610/program_chest_1.jpg" class="img-w100 hidden-tm" loading="lazy" alt="ตรวจสอบและจัดตารางเวลา ศัลยกรรมหน้าอก ล่วงหน้า"/>
		<img src="../../images/program/chest_190610/program_chest_2.jpg" class="img-w100 hidden-tm" loading="lazy" alt="การผ่าตัดยอดนิยม เพื่อเอาชนะความซับซ้อนคือ ? - ศัลยกรรมหน้าอก !"/>

		<img src="../../images/program/chest_190610/program_chest_1_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="ตรวจสอบและจัดตารางเวลา ศัลยกรรมหน้าอก ล่วงหน้า"/>
		<img src="../../images/program/chest_190610/program_chest_2_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="การผ่าตัดยอดนิยม เพื่อเอาชนะความซับซ้อนคือ ? - ศัลยกรรมหน้าอก !"/>

		<div class="content__sea">
			<div class="plan-calendar">
				<img src="../../images/program/chest_190610/program_chest_tit.jpg" class="img-w100 hidden-tm" loading="lazy" alt="ทำศัลยกรรมหน้าอกก่อนไปเที่ยว ? ก็ไม่มีปัญหากวนใจ!! - การจัดตารางเวลาศัลยกรรมหน้าอก, วางแพลนตั้งแต่วันผ่า จนถึงเสร็จสิ้นโปรแกรมฟื้นฟูล่วงหน้า"/>
				<img src="../../images/program/chest_190610/program_chest_tit_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="ทำศัลยกรรมหน้าอกก่อนไปเที่ยว ? ก็ไม่มีปัญหากวนใจ!! - การจัดตารางเวลาศัลยกรรมหน้าอก, วางแพลนตั้งแต่วันผ่า จนถึงเสร็จสิ้นโปรแกรมฟื้นฟูล่วงหน้า"/>

				<div class="plan-calendar__area">
					<a href="" class="plan-calendar__prev js-calendar-prev">ก่อนหน้า</a>
					<a href="" class="plan-calendar__next js-calendar-next">ถัดไป</a>
					<div class="plan-calendar__box type-left" data-month="6">
						<div class="plan-calendar__wrap">
							<div class="plan-calendar__month">กันยายน ปี 2019</div>
							<div class="plan-calendar__outer js-alert">
								<ul class="plan-calendar__week">
									<li class="plan-calendar__item">อาทิตย์</li>
									<li class="plan-calendar__item">จันทร์</li>
									<li class="plan-calendar__item">อังคาร</li>
									<li class="plan-calendar__item">พุธ</li>
									<li class="plan-calendar__item">พฤหัส</li>
									<li class="plan-calendar__item">ศุกร์</li>
									<li class="plan-calendar__item">เสาร์</li>
								</ul>

								<div class="plan-calendar__inner">
									<ul class="plan-calendar__list">
										<!-- 9월 -->
										<li class="plan-calendar__day">1</li>
										<li class="plan-calendar__day type-start">2</li>
										<li class="plan-calendar__day type-week1">3</li>
										<li class="plan-calendar__day type-week1">4</li>
										<li class="plan-calendar__day type-week1">5</li>
										<li class="plan-calendar__day type-week1">6</li>
										<li class="plan-calendar__day type-week1">7</li>
										<li class="plan-calendar__day type-week1">8</li>
										<li class="plan-calendar__day type-week1">9</li>
										<li class="plan-calendar__day type-week2">10</li>
										<li class="plan-calendar__day type-week2">11</li>
										<li class="plan-calendar__day type-week2">12</li>
										<li class="plan-calendar__day type-week2">13</li>
										<li class="plan-calendar__day type-week2">14</li>
										<li class="plan-calendar__day type-week2">15</li>
										<li class="plan-calendar__day type-week2">16</li>
										<li class="plan-calendar__day type-week3">17</li>
										<li class="plan-calendar__day type-week3">18</li>
										<li class="plan-calendar__day type-week3">19</li>
										<li class="plan-calendar__day type-week3">20</li>
										<li class="plan-calendar__day type-week3">21</li>
										<li class="plan-calendar__day type-week3">22</li>
										<li class="plan-calendar__day type-week3">23</li>
										<li class="plan-calendar__day type-week4">24</li>
										<li class="plan-calendar__day type-week4">25</li>
										<li class="plan-calendar__day type-week4">26</li>
										<li class="plan-calendar__day type-week4">27</li>
										<li class="plan-calendar__day type-week4">28</li>
										<li class="plan-calendar__day type-week4">29</li>
										<li class="plan-calendar__day type-week4">30</li>
										<li class="plan-calendar__day type-departure">31</li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="plan-calendar__box type-right">
						<div class="plan-calendar__wrap">
							<div class="plan-calendar__month">ตุลาคม ปี 2019</div>
							<div class="plan-calendar__outer">
								<ul class="plan-calendar__week">
									<li class="plan-calendar__item">อาทิตย์</li>
									<li class="plan-calendar__item">จันทร์</li>
									<li class="plan-calendar__item">อังคาร</li>
									<li class="plan-calendar__item">พุธ</li>
									<li class="plan-calendar__item">พฤหัส</li>
									<li class="plan-calendar__item">ศุกร์</li>
									<li class="plan-calendar__item">เสาร์</li>
								</ul>

								<div class="plan-calendar__inner">
									<ul class="plan-calendar__list">
										<!-- 9월 -->
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>

				<img src="../../images/program/chest_190610/program_chest_info.jpg" class="plan-calendar__info img-w100 hidden-tm" alt="วันนี้ : ฉีดยาลดปวด / ลดบวม  1 อาทิตย์หลังผ่าตัด : พบคุณหมอก่อนเดินทางกลับ (ไม่มีตัดไหม , ไม่มีตัดไหม)อาทิตย์ที่ 2 – 4 หลังผ่าตัด : ช่วงฟื้นตัว / เช็คครั้งสุดท้าย ในกรณีที่จำเป็น" />
				<img src="../../images/program/chest_190610/program_chest_info_m.jpg" class="plan-calendar__info img-w100 hidden-p" alt="วันนี้ : ฉีดยาลดปวด / ลดบวม  1 อาทิตย์หลังผ่าตัด : พบคุณหมอก่อนเดินทางกลับ (ไม่มีตัดไหม , ไม่มีตัดไหม)อาทิตย์ที่ 2 – 4 หลังผ่าตัด : ช่วงฟื้นตัว / เช็คครั้งสุดท้าย ในกรณีที่จำเป็น" />

				<div class="plan-calendar__bag">
					<img src="../../images/program/chest_190610/bag.png" loading="lazy" alt="img" class="img-w100"/>
				</div>

				<div class="plan-calendar__girl">
					<img src="../../images/program/chest_190610/girl.png" loading="lazy" alt="img" class="img-w100"/>
				</div>
			</div>
		</div>
		<img src="../../images/program/chest_190610/program_chest_3.jpg" class="img-w100 hidden-tm" loading="lazy" alt="ของสาวๆที่เตรียมพร้อมกับวันหยุดพักผ่อน REAL SELFIE"/>
		<img src="../../images/program/chest_190610/program_chest_4.jpg" class="img-w100 hidden-tm" loading="lazy" alt="การใส่ใจรายละเอียดที่แตกต่าง จะสร้างผลลัพธ์ที่น่าพึงพอใจ ระบบผ่าตัดหน้าอก แบบ One Stop ของบาโนบากิ"/>
		<img src="../../images/program/chest_190610/program_chest_5.jpg" class="img-w100 hidden-tm" loading="lazy" alt="ทีมแพทย์ ผู้ใส่ใจรายละเอียด ของโรงพยาบาลศัลยกรรมบาโนบากิเป็น ศัลยแพทย์ผู้เชี่ยวชาญ จากมหาวิทยาลัยโซล"/>

		<img src="../../images/program/chest_190610/program_chest_3_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="ของสาวๆที่เตรียมพร้อมกับวันหยุดพักผ่อน REAL SELFIE"/>
		<img src="../../images/program/chest_190610/program_chest_4_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="ทีมแพทย์ ผู้ใส่ใจรายละเอียด ของโรงพยาบาลศัลยกรรมบาโนบากิเป็น ศัลยแพทย์ผู้เชี่ยวชาญ จากมหาวิทยาลัยโซล"/>

		<div class="program-banner">
			<!-- <a href="http://www.btsbanobagi.com" target="_blank">
				<img src="../../images/program/chest_190610/program_bts.jpg" class="img-normal" loading="lazy" alt="คลินิกทรวงอกของบาโนบากิที่มองไกลไปถึง 10 ปีให้หลัง"/>
			</a> -->

			<a href="http://line.me/ti/p/@thaibanobagi" target="_blank">
				<img src="../../images/program/chest_190610/program_consultation.jpg" class="img-normal" alt="ติดต่อสอบถาม Tel : 02-392-2890 Mobile : 099-112-4777 Line Official ID : คลิก http://line.me/ti/p/@thaibanobagi หรือแอดมาที่ @thaibanobagi (มี@ด้วยค่ะ)"/>
		    </a>
		</div>
	</div>


<% include ../_include/_quick %>
<% include ../_include/_footer %>
