<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
	.cont{padding-top:50px; box-sizing:border-box;font-size: 0;}
    .cont img{width:100%; vertical-align:middle;}
	.cont__box{position:relative;}
	.cont__area{max-width: 1200px;margin: 0 auto;box-sizing: border-box;}
	.cont__btn{position:absolute; top:0; left:0; right:0; padding:0 38.75%; box-sizing:border-box;}
	.cont__btn a{display:block;}

    .cont__video{padding:7.89% 21.35%; background:url('../../images/program/landing_hair_relocation/hair_relocation_bg.jpg') no-repeat center center / cover; box-sizing:border-box;}
	.cont__wrap{position:relative; width:100%; padding-bottom:56.25%;}
	.cont__video iframe{position:absolute; top:0; left:0; width:100%; height:100%;}

    @media only screen and (max-width: 993px) {
		.cont{padding-top:60px;}
		.cont__box{background-image: url(../../images/program/landing_summer2019/landing_summer2019_bg_1_m.jpg);background-size: cover;}

        .cont__video{padding:11.9% 6.66%; background:url('../../images/program/landing_hair_relocation/hair_relocation_bg_m.jpg') no-repeat center center / cover; box-sizing:border-box;}
    }
    @media only screen and (max-width: 681px) {
		.cont{padding-top:50px;}
		.cont__btn{padding:0 23%;}
    }
</style>

<!-- program-view -->
<div class="cont">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_1.jpg" class="hidden-tm" loading="lazy" alt="ศัลยกรรมปลูกผมเทคนิคการปลูกถ่ายผม">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_2_1.jpg" class="hidden-tm" loading="lazy" alt="โรงพยาบาลศัลยกรรมบาโนบากิ เป็นศูนย์รวมเรื่องการดูแลด้านความงามผู้เชี่ยวชาญด้านศัลยกรรมปลูกผมดำเนินโดย ศัลยแพทย์ ลีคยองกู!">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_2_2.jpg" class="hidden-tm" loading="lazy" alt="BANOBAGI01 แนวคิดของการปลูกผม โดยศัลยแพทย์ ลีคยองกู">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_3_1.jpg" class="hidden-tm" loading="lazy" alt="BANOBAGI02 ความสำคัญเทคนิคการปลูกผม ของบาโนบากิ">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_3_2.jpg" class="hidden-tm" loading="lazy" alt="BANOBAGI03 ความแตกต่างการออกแบบที่ละเอียด,การปลูกถ่ายผมของผู้ชาย">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_4_1.jpg" class="hidden-tm" loading="lazy" alt="BANOBAGI04 ความแตกต่างการออกแบบที่ละเอียด,การปลูกผมช่วงแฮร์ไลน์ของผู้หญิง">

    <img src="../../images/program/landing_hair_relocation/hair_relocation_1_m.jpg" class="hidden-p" loading="lazy" alt="ศัลยกรรมปลูกผมเทคนิคการปลูกถ่ายผม">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_2_1_m.jpg" class="hidden-p" loading="lazy" alt="โรงพยาบาลศัลยกรรมบาโนบากิ เป็นศูนย์รวมเรื่องการดูแลด้านความงามผู้เชี่ยวชาญด้านศัลยกรรมปลูกผมดำเนินโดย ศัลยแพทย์ ลีคยองกู!">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_2_2_m.jpg" class="hidden-p" loading="lazy" alt="BANOBAGI01 แนวคิดของการปลูกผม โดยศัลยแพทย์ ลีคยองกู">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_2_3_m.jpg" class="hidden-p" loading="lazy" alt="BANOBAGI02 ความสำคัญเทคนิคการปลูกผม ของบาโนบากิ">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_3_1_m.jpg" class="hidden-p" loading="lazy" alt="BANOBAGI03 ความแตกต่างการออกแบบที่ละเอียด,การปลูกถ่ายผมของผู้ชาย">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_3_2_m.jpg" class="hidden-p" loading="lazy" alt="BANOBAGI04 ความแตกต่างการออกแบบที่ละเอียด,การปลูกผมช่วงแฮร์ไลน์ของผู้หญิง">

    <div class="cont__video">
		<div class="cont__wrap">
            <div class="program-video">
                <div class="program-video__wrap">
                    <a href="" class="program-video__btn">play</a>
                    <img src="../../images/program/thai_vlog_thum.jpg" class="img-w100" alt=""/>
                </div>
            </div>

			<!-- 비메오 -->
			<!-- <iframe src="https://player.vimeo.com/video/294294410?quality=1080p" class="cont__iframe" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe> -->
			<!-- 유튜브 -->
			<!-- <iframe id="thai_vlog_video" src="https://www.youtube.com/embed/eA9QM2nRya8?enablejsapi=1&mute=1"  frameborder="0" allowfullscreen></iframe> -->
			<div id="program-iframe"></div>
		</div>
	</div>

	<img src="../../images/program/landing_hair_relocation/hair_relocation_4_2.jpg" class="hidden-tm" loading="lazy" alt="BANOBAGI05 วิธีกรีด VS วิธีไม่กรีด  ต่างกันอย่างไร">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_4_3.jpg" class="hidden-tm" loading="lazy" alt="BANOBAGI06 ความพิเศษของวิธีปลูกผมแบบไม่กรีดที่บาโนบากิด้วยหุ่นยนต์ปลูกผม ARTAS 9X">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_4_4.jpg" class="hidden-tm" loading="lazy" alt="BANOBAGI07 การแก้ไขปัญหาด้วยการปลูกผม บาโนบากิ">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_5_1.jpg" class="hidden-tm" loading="lazy" alt="BANOBAGI08 ข้อเข้าใจผิดและเรื่องจริงโดยแพทย์ผู้เชี่ยวชาญการปลูกผม">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_5_2.jpg" class="hidden-tm" loading="lazy" alt="BANOBAGI09 บาโนบากิ สั่งสมประสบการณ์กว่า 19 ปีด้วยโปรแกรมดูแลผม">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_5_3.jpg" class="hidden-tm" loading="lazy" alt="BANOBAGI10 ความแตกต่างที่ละเอียด, โปรแกรมการดูแลรักษา">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_5_4.jpg" class="hidden-tm" loading="lazy" alt="#SAFETY BANOBAGI การปลูกผม ที่บาโนบากิมีความพิเศษมากกว่า!">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_5_5.jpg" class="hidden-tm" loading="lazy" alt="ใส่ใจเส้นผมของคนไข้ I AM DETAILIST เทคนิคที่ใส่ใจทุกรายละเอียดเพื่อสร้างแฮร์ไลน์ที่เป็นธรรมชาติ">

	<img src="../../images/program/landing_hair_relocation/hair_relocation_4_1_m.jpg" class="hidden-p" loading="lazy" alt="BANOBAGI05 วิธีกรีด VS วิธีไม่กรีด  ต่างกันอย่างไร">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_4_2_m.jpg" class="hidden-p" loading="lazy" alt="BANOBAGI06 ความพิเศษของวิธีปลูกผมแบบไม่กรีดที่บาโนบากิด้วยหุ่นยนต์ปลูกผม ARTAS 9X">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_4_3_m.jpg" class="hidden-p" loading="lazy" alt="BANOBAGI07 การแก้ไขปัญหาด้วยการปลูกผม บาโนบากิ">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_5_1_m.jpg" class="hidden-p" loading="lazy" alt="BANOBAGI08 ข้อเข้าใจผิดและเรื่องจริงโดยแพทย์ผู้เชี่ยวชาญการปลูกผม">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_5_2_m.jpg" class="hidden-p" loading="lazy" alt="BANOBAGI09 บาโนบากิ สั่งสมประสบการณ์กว่า 19 ปีด้วยโปรแกรมดูแลผม">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_5_3_m.jpg" class="hidden-p" loading="lazy" alt="BANOBAGI10 ความแตกต่างที่ละเอียด, โปรแกรมการดูแลรักษา">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_6_1_m.jpg" class="hidden-p" loading="lazy" alt="#SAFETY BANOBAGI การปลูกผม ที่บาโนบากิมีความพิเศษมากกว่า!">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_6_2_m.jpg" class="hidden-p" loading="lazy" alt="ใส่ใจเส้นผมของคนไข้ I AM DETAILIST เทคนิคที่ใส่ใจทุกรายละเอียดเพื่อสร้างแฮร์ไลน์ที่เป็นธรรมชาติ">

	<div class="cont__box">
		<div class="cont__btn js-consultation">
			<a href="#"><img src="../../images/program/landing_hair_relocation/hair_relocation_btn.png" class="hidden-tm" loading="lazy" alt="ปรึกษากับบาโนบากิ"></a>
			<a href="#"><img src="../../images/program/landing_hair_relocation/hair_relocation_btn_m.png" class="hidden-p" loading="lazy" alt="ปรึกษากับบาโนบากิ"></a>
		</div>
		<img src="../../images/program/landing_hair_relocation/hair_relocation_6.jpg" class="hidden-tm" loading="lazy" alt="ใส่ใจเส้นผมของคนไข้ I AM DETAILIST เทคนิคที่ใส่ใจทุกรายละเอียดเพื่อสร้างแฮร์ไลน์ที่เป็นธรรมชาติ">
		<img src="../../images/program/landing_hair_relocation/hair_relocation_7_m.jpg" class="hidden-p" loading="lazy" alt="ใส่ใจเส้นผมของคนไข้ I AM DETAILIST เทคนิคที่ใส่ใจทุกรายละเอียดเพื่อสร้างแฮร์ไลน์ที่เป็นธรรมชาติ">
	</div>
</div>
<!-- //program-view -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript">
    /**
    * Youtube API 로드
    */
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    /**
    * onYouTubeIframeAPIReady 함수는 필수로 구현해야 한다.
    * 플레이어 API에 대한 JavaScript 다운로드 완료 시 API가 이 함수 호출한다.
    * 페이지 로드 시 표시할 플레이어 개체를 만들어야 한다.
    */
    var player;
    function onYouTubeIframeAPIReady(){
    	player = new YT.Player('program-iframe', {
			height: '360',
		 	width: '640',
		 	videoId: 'eA9QM2nRya8',
        	events: {
            	'onReady': onPlayerReady,               // 플레이어 로드가 완료되고 API 호출을 받을 준비가 될 때마다 실행
            	'onStateChange': onPlayerStateChange    // 플레이어의 상태가 변경될 때마다 실행
        	}
    	});
    }

    function onPlayerReady(event) {
    // 플레이어 자동실행 (주의: 모바일에서는 자동실행되지 않음)
    //            event.target.playVideo();
    }

    var playerState;

    function onPlayerStateChange(event) {
    playerState = event.data == YT.PlayerState.ENDED ? '종료됨' :
                    event.data == YT.PlayerState.PLAYING ? '재생 중' :
                    event.data == YT.PlayerState.PAUSED ? '일시중지 됨' :
                    event.data == YT.PlayerState.BUFFERING ? '버퍼링 중' :
                    event.data == YT.PlayerState.CUED ? '재생준비 완료됨' :
                    event.data == -1 ? '시작되지 않음' : '예외';

        // 재생여부를 통계로 쌓는다.
        collectPlayCount(event.data);

        if (event.data === 0) {
            // 종료 후 작업을 여기에 코딩
            $(".program-video").show()
        }
    }

    function playYoutube() {
    	// 플레이어 자동실행 (주의: 모바일에서는 자동실행되지 않음)
    	player.playVideo();
    }

    function pauseYoutube() {
    	player.pauseVideo();
    }

    function stopYoutube() {
    	player.seekTo(0, true);     // 영상의 시간을 0초로 이동시킨다.
    	player.stopVideo();
    }

    var played = false;
    function collectPlayCount(data) {
        if (data == YT.PlayerState.PLAYING && played == false) {
            // todo statistics
            played = true;
        }
    }

    $('.program-video__btn').on('click',function(e){
        e.preventDefault();
        playYoutube();
        $('.program-video').hide();
    })
</script>
