<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>
<link rel="stylesheet" href="../../css/program/cosmetic.css">
<div class="contianer type-cosmetic">
    <img src="../../images/program/cosmetic/content_1.jpg" class="img-w100 hidden-tm" loading="lazy" alt="banobagi">
    <img src="../../images/program/cosmetic/content_1_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="banobagi">
    <div class="contianer__box">
        <img src="../../images/program/cosmetic/slide_left.jpg" class="img-w100 hidden-tm" loading="lazy" alt="banobagi">
        <img src="../../images/program/cosmetic/slide_left_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="banobagi">
    </div>
    <div class="contianer__box">
        <div class="slide">
        <ul class="slide__list js-slide">
            <li class="slide__item">
                <img src="../../images/program/cosmetic/slide_1.jpg" class="img-w100 hidden-tm" loading="lazy" alt="">
                <img src="../../images/program/cosmetic/slide_1_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="">
            </li>
            <li class="slide__item">
                <img src="../../images/program/cosmetic/slide_2.jpg" class="img-w100 hidden-tm" loading="lazy" alt="">
                <img src="../../images/program/cosmetic/slide_2_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="">
            </li>
            <li class="slide__item">
                <img src="../../images/program/cosmetic/slide_3.jpg" class="img-w100 hidden-tm" loading="lazy" alt="">
                <img src="../../images/program/cosmetic/slide_3_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="">
            </li>
            <li class="slide__item">
                <img src="../../images/program/cosmetic/slide_4.jpg" class="img-w100 hidden-tm" loading="lazy" alt="">
                <img src="../../images/program/cosmetic/slide_4_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="">
            </li>
        </ul>
        </div><!-- //slide -->
    </div>
    <img src="../../images/program/cosmetic/content_2.jpg" class="img-w100 hidden-tm" loading="lazy" alt="banobagi">
    <img src="../../images/program/cosmetic/content_2_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="banobagi">
    <div class="form-box">
        <div class="content-wrap">
            <h3 class="form-box__tit">
                <img src="../../images/program/cosmetic/tit.png" loading="lazy" alt="Đăng kí trở thành Reviewer" class="img-normal hidden-tm">
                <img src="../../images/program/cosmetic/tit_m.png" loading="lazy" alt="Đăng kí trở thành Reviewer" class=" hidden-p">
            </h3>
            <p class="form-box__txt">ข้อมูลในการเลือกผลิตภัณฑ์ : เลือก Milk Thistle Cream หรือ Milk Thistle Serum 1 ชิ้น</p>
            <div class="form-box__area">
                <form action="">
                    <ul class="form-box__list">
                        <li class="form-box__item">
                            <div class="form-box__box">
                                <div class="form-box__head">ชื่อ <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <input type="text" class="input1">
                                </div>
                            </div>
                        </li>
                        <li class="form-box__item">
                            <div class="form-box__box">
                                <div class="form-box__head">อายุ <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <input type="text" class="input1">
                                </div>
                            </div>
                        </li>
                        <li class="form-box__item">
                            <div class="form-box__box">
                                <div class="form-box__head">สัญชาติ <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <input type="text" class="input1">
                                </div>
                            </div>
                        </li>
                        <li class="form-box__item">
                            <div class="form-box__box">
                                <div class="form-box__head">เพศ <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <div class="radio-wrap">
                                        <input type="radio" name="gender" value="" id="gender_1" class="radio1" checked="checked"><label for="gender_1">หญิง</label>
                                        <input type="radio" name="gender" value="" id="gender_2" class="radio1 type-man"><label for="gender_2">ชาย</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="form-box__wrap">
                        <div class="form-box__box">
                            <p class="form-box__subject type-margin">เลือก Social Network ที่ต้องการลงรีวิว. ช่องทางที่เลือกแล้ว สามารถเปลี่ยนแปลงภายหลังได</p>
                            <div class="checkbox-wrap">
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns" id="sns_1" class="checkbox04" value="" required="" aria-required="true">
                                    <label for="sns_1">Facebook</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns" id="sns_2" class="checkbox04" value="" required="" aria-required="true">
                                    <label for="sns_2">Instagram</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns" id="sns_3" class="checkbox04" value="" required="" aria-required="true">
                                    <label for="sns_3">Twitter</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns" id="sns_4" class="checkbox04" value="" required="" aria-required="true">
                                    <label for="sns_4">Youtube</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns" id="sns_7" class="checkbox04" value="" required="" aria-required="true">
                                    <label for="sns_7">อื่นๆ</label>
                                </div>
                            </div>
                            <div class="form-box__etc">
                                <div class="form-box__head">อื่นๆ <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <input type="text" class="input1 input-etc">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-box__wrap">
                        <ul class="form-box__list">
                            <li class="form-box__item type-one">
                                <div class="form-box__box">
                                    <div class="form-box__head type-2">ไอดี Social Network หรือ Link :</div>
                                    <div class="form-box__body type-2">
                                        <p class="form-box__ex">ตัวอย่าง. @Sunnydahye หรือ https://www.instagram.com/sunnydahye/</p>
                                        <input type="text" class="input1" placeholder="ตัวอย่าง. @Sunnydahye หรือ https://www.instagram.com/sunnydahye/">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-box__wrap">
                        <ul class="form-box__list type-one">
                            <li class="form-box__item type-one-t">
                                <div class="form-box__box">
                                    <div class="form-box__head">เลือกผลิตภัณฑ์ที่ต้องการใช <span class="form-box__right">:</span></div>
                                    <div class="form-box__body">
                                        <div class="radio-wrap">
                                            <input type="radio" name="request" value="" id="request_1" class="radio1" checked="checked"><label for="request_1">Milk Thistle Cream</label>
                                            <input type="radio" name="request" value="" id="request_2" class="radio1"><label for="request_2">Milk Thistle Serum</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="form-box__item type-one-t">
                                <div class="form-box__box">
                                    <div class="form-box__head type-5 type-white">เหตุผลที่เลือก <span class="form-box__right">:</span><span class="color-white inline-block">(กรุณากรอก)</span></div>
                                    <div class="form-box__body type-5">
                                        <input type="text" class="input1" placeholder="">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-box__wrap">
                        <p class="form-box__subject">- ที่อยู่ในการจัดส่ง</p>
                        <ul class="form-box__list">
                            <li class="form-box__item type-one-t">
                                <div class="form-box__box">
                                    <div class="form-box__head">ที่อยู่  (กรุณากรอกอย่างละเอียดy) <span class="form-box__right">:</span></div>
                                    <div class="form-box__body">
                                        <input type="text" class="input1">
                                    </div>
                                </div>
                            </li>
                            <li class="form-box__item  type-one-t">
                                <div class="form-box__box">
                                    <div class="form-box__head type-4 type-white">เบอร์ติดต่อ (กรุณากรอกเบอร์มือถือ) <span class="form-box__right">:</span></div>
                                    <div class="form-box__body type-4">
                                        <input type="text" class="input1" >
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-box__wrap">
                        <p class="form-box__subject">- ความสนใจอื่นๆ<span class="inline-block color-white">(เลือกได้มากกว่า 1 ข้อe)</span></p>
                        <div class="checkbox-wrap type-another">
                            <div class="form-box__label">
                                <input type="checkbox" name="add" id="add_1" class="checkbox04" value="" required="" aria-required="true">
                                <label for="add_1">ตัวแทนขายเครื่องสำอางค์</label>
                            </div>
                            <div class="form-box__label">
                                <input type="checkbox" name="add" id="add_2" class="checkbox04" value="" required="" aria-required="true">
                                <label for="add_2">นางแบบศัลยกรรม </label>
                            </div>
                            <div class="form-box__label">
                                <input type="checkbox" name="add" id="add_3" class="checkbox04" value="" required="" aria-required="true">
                                <label for="add_3">สิทธิพิเศษเพิ่มเติม <span class="inline-block ">(กรณีมีผู้ติดตาม Social Network 1แสนคนขึ้นไป)</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="txt-center">
                        <button type="submit" class="form-box__btn">สมัครเลย</button>
                    </div>
                </form>
            </div><!--//content__area-->
        </div>
    </div><!-- //form-box-->
</div>
<% include ../_include/_footer %>
