<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
	<div class="content">
		<img src="../../images/program/contour_1909/contour1909_1.jpg" class="img-w100 hidden-tm" loading="lazy" alt="เช็คล่วงหน้าก่อนลงสนามจริง! นักวางแพลนศัลยกรรมโครงหน้า"/>
		<img src="../../images/program/contour_1909/contour1909_2.jpg" class="img-w100 hidden-tm" loading="lazy" alt="ตั้งแต่วันผ่าจนถึงการดูแลรักษาวันสุดท้าย!! เห็นแพลนล่วงหน้าก่อนศัลยกรรมโครงหน้า"/>

		<img src="../../images/program/contour_1909/contour1909_1_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="เช็คล่วงหน้าก่อนลงสนามจริง! นักวางแพลนศัลยกรรมโครงหน้า"/>
		<img src="../../images/program/contour_1909/contour1909_2_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="ตั้งแต่วันผ่าจนถึงการดูแลรักษาวันสุดท้าย!! เห็นแพลนล่วงหน้าก่อนศัลยกรรมโครงหน้า"/>

		<div class="content__calendar">
			<div class="plan-calendar2">
				<div class="plan-calendar2__area">
					<img src="../../images/program/contour_1909/calendar_top.jpg" class="img-w100 hidden-m" loading="lazy" alt="กดเลือกวันผ่าตัดเพื่อดูแพลนในการดูแลรักษาทันที"/>
					<img src="../../images/program/contour_1909/calendar_top_m.jpg" class="img-w100 hidden-pt" loading="lazy" alt="กดเลือกวันผ่าตัดเพื่อดูแพลนในการดูแลรักษาทันที"/>
					<div class="plan-calendar2__relative">
						<a href="" class="plan-calendar2__prev js-calendar-prev">ก่อนหน้า</a>
						<a href="" class="plan-calendar2__next js-calendar-next">ถัดไป</a>
						<div class="plan-calendar2__box type-left" data-month="9">
							<div class="plan-calendar2__wrap">
								<div class="plan-calendar2__month"><span class="plan-calendar2__point">เดือนกันยายน</span> ปี 2019</div>
								<div class="plan-calendar2__outer">
									<ul class="plan-calendar2__week">
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">อาทิตย์</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">จันทร์</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">อังคาร</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">พุธ</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">พฤหัส</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">ศุกร์</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">เสาร์</p></li>
									</ul>
								</div>
								<ul class="plan-calendar2__inner">
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">1</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-start">2</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1 type-first">3</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">4</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">5</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">6</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">7</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">8</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1 type-end">9</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2 type-first">10</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">11</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">12</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">13</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">14</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">15</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2 type-end">16</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3 type-first">17</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">18</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">19</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">20</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">21</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">22</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3 type-end">23</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-departure">24</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">25</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">26</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">27</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">28</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">29</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">30</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
								</ul>
							</div>
						</div>
						<div class="plan-calendar2__box type-right" data-month="10">
							<div class="plan-calendar2__wrap">
								<div class="plan-calendar2__month"><span class="plan-calendar2__point">เดือนตุลาคม</span> ปี 2019</div>
								<div class="plan-calendar2__outer">
									<ul class="plan-calendar2__week">
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">อาทิตย์</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">จันทร์</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">อังคาร</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">พุธ</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">พฤหัส</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">ศุกร์</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">เสาร์</p></li>
									</ul>
								</div>
								<ul class="plan-calendar2__inner">
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
								</ul>
							</div>
						</div>
					</div>
					<img src="../../images/program/contour_1909/calendar_bottom.jpg" class="img-w100 hidden-m" loading="lazy" alt="วันผ่าตัด : นอนรพ.1 คืน / ฉีดยาชาสัปดาห์ที่ 1 : ตัดไหมและลดบวม (นวดผ่อนคลาย)สัปดาห์ที่ 2: ตัดไหมด้านในปาก/เข้าโปรแกรมลดบวม / ถ่าย CT Scan, X-ray และเช็คอัพกับแพทย์ก่อนเดินทางกลับประเทศสัปดาห์ที่ 3: ไฟนอลแคร์อย่างละเอียด"/>
					<img src="../../images/program/contour_1909/calendar_bottom_m.jpg" class="img-w100 hidden-pt" loading="lazy" alt="วันผ่าตัด : นอนรพ.1 คืน / ฉีดยาชาสัปดาห์ที่ 1 : ตัดไหมและลดบวม (นวดผ่อนคลาย)สัปดาห์ที่ 2: ตัดไหมด้านในปาก/เข้าโปรแกรมลดบวม / ถ่าย CT Scan, X-ray และเช็คอัพกับแพทย์ก่อนเดินทางกลับประเทศสัปดาห์ที่ 3: ไฟนอลแคร์อย่างละเอียด"/>
				</div>
			</div>
		</div>

		<img src="../../images/program/contour_1909/contour1909_5.jpg" class="img-w100 hidden-tm" loading="lazy" alt="ไม่ว่าจะเคยรูปหน้าแบบไหนมาก่อนก็ OK! - โครงหน้าธรรมชาติและอ่อนโยน อย่างเป็นธรรมชาติ! บาโนบากิผู้ใส่ใจในทุกรายละเอียดของศัลยกรรมโครงหน้า"/>
		<img src="../../images/program/contour_1909/contour1909_6.jpg" class="img-w100 hidden-tm" loading="lazy" alt="กรามเหลี่ยม, กระดูกโหนกแก้มยื่นออกมาชัดเจน, คางสั้นจนดูอึดอัด! การตัดแค่กระดูกออกเพียงอย่างเดียวไม่ใช่ทุกสิ่ง!"/>
		<img src="../../images/program/contour_1909/contour1909_7.jpg" class="img-w100 hidden-tm" loading="lazy" alt="คำนึงถึงใบหน้าในทุกมุมมอง ไม่ว่าหน้าตรง, มุม 45 องศา หรือด้านข้าง - ศัลยกรรมลดขนาดโหนกแก้ม"/>
		<img src="../../images/program/contour_1909/contour1909_8.jpg" class="img-w100 hidden-tm" loading="lazy" alt="ลดขนาดกราม เพื่อให้ได้วีไลน์ที่มีเสน่ห์มากขึ้น"/>
		<img src="../../images/program/contour_1909/contour1909_9.jpg" class="img-w100 hidden-tm" loading="lazy" alt="ศัลยกรรมคาง ศัลยกรรมคาง การเปลี่ยนแปลงที่น่าทึ่งของการศัลยกรรมคางยาว, คางถอย, คางป้าน"/>
		<img src="../../images/program/contour_1909/contour1909_10.jpg" class="img-w100 hidden-tm" loading="lazy" alt="ไลน์โครงหน้าหน้าที่มีเสน่ห์ เหมาะกับสุภาพบุรุษ! ศัลยกรรมโครงหน้าผู้ชาย"/>
		<img src="../../images/program/contour_1909/contour1909_11.jpg" class="img-w100 hidden-tm" loading="lazy" alt="โปรแกรมดูแลหลังศัลยกรรมโครงหน้า 3อาทิตย์กับบาโนบากิ"/>
		<img src="../../images/program/contour_1909/contour1909_12.jpg" class="img-w100 hidden-tm" loading="lazy" alt="REAL SELFIE!"/>

		<img src="../../images/program/contour_1909/contour1909_5_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="ไม่ว่าจะเคยรูปหน้าแบบไหนมาก่อนก็ OK! - โครงหน้าธรรมชาติและอ่อนโยน อย่างเป็นธรรมชาติ! บาโนบากิผู้ใส่ใจในทุกรายละเอียดของศัลยกรรมโครงหน้า"/>
		<img src="../../images/program/contour_1909/contour1909_6_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="กรามเหลี่ยม, กระดูกโหนกแก้มยื่นออกมาชัดเจน, คางสั้นจนดูอึดอัด! การตัดแค่กระดูกออกเพียงอย่างเดียวไม่ใช่ทุกสิ่ง!"/>
		<img src="../../images/program/contour_1909/contour1909_7_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="คำนึงถึงใบหน้าในทุกมุมมอง ไม่ว่าหน้าตรง, มุม 45 องศา หรือด้านข้าง - ศัลยกรรมลดขนาดโหนกแก้ม"/>
		<img src="../../images/program/contour_1909/contour1909_8_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="ลดขนาดกราม เพื่อให้ได้วีไลน์ที่มีเสน่ห์มากขึ้น"/>
		<img src="../../images/program/contour_1909/contour1909_9_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="ศัลยกรรมคาง ศัลยกรรมคาง การเปลี่ยนแปลงที่น่าทึ่งของการศัลยกรรมคางยาว, คางถอย, คางป้าน"/>
		<img src="../../images/program/contour_1909/contour1909_10_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="ไลน์โครงหน้าหน้าที่มีเสน่ห์ เหมาะกับสุภาพบุรุษ! ศัลยกรรมโครงหน้าผู้ชาย"/>
		<img src="../../images/program/contour_1909/contour1909_11_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="โปรแกรมดูแลหลังศัลยกรรมโครงหน้า 3อาทิตย์กับบาโนบากิ"/>
		<img src="../../images/program/contour_1909/contour1909_12_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="REAL SELFIE!"/>

		<div class="plan-video">
			<div class="plan-video__wrap">
				<div class="plan-video__video">
					<iframe id="contour1909_video" src="https://player.vimeo.com/video/360443125?quality=1080p" class="intro-video__iframe"></iframe>
				</div>
			</div>
		</div>

		<img src="../../images/program/contour_1909/contour1909_13.jpg" class="img-w100 hidden-tm" loading="lazy" alt="ความแตกต่างของรายละเอียดเล็ก ๆ สร้างผลลัพธ์ที่พึงพอใจ - ทีมแพทย์ผู้ดูแลด้านโครงหน้าของบาโนบากิ"/>
		<img src="../../images/program/contour_1909/contour1909_14.jpg" class="img-w100 hidden-tm" loading="lazy" alt="ทำไมต้องทำศัลยกรรมโครงหน้าที่บาโนบากิ"/>
		<img src="../../images/program/contour_1909/contour1909_15.jpg" class="img-w100 hidden-tm" loading="lazy" alt="ทีมแพทย์ของโรงพยาบาลศัลยกรรมบาโนบากิประกอบด้วยแพทย์เฉพาะทางและศัลยแพทย์ผู้เชี่ยวชาญจากมหาวิทยาลัยโซลเท่านั้น"/>

		<img src="../../images/program/contour_1909/contour1909_13_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="ความแตกต่างของรายละเอียดเล็ก ๆ สร้างผลลัพธ์ที่พึงพอใจ - ทีมแพทย์ผู้ดูแลด้านโครงหน้าของบาโนบากิ"/>
		<img src="../../images/program/contour_1909/contour1909_14_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="ทำไมต้องทำศัลยกรรมโครงหน้าที่บาโนบากิ"/>
		<img src="../../images/program/contour_1909/contour1909_15_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="ทีมแพทย์ของโรงพยาบาลศัลยกรรมบาโนบากิประกอบด้วยแพทย์เฉพาะทางและศัลยแพทย์ผู้เชี่ยวชาญจากมหาวิทยาลัยโซลเท่านั้น"/>

		<div class="program-banner">
			<!-- <a href="http://www.btsbanobagi.com" target="_blank">
				<img src="../../images/program/chest_190610/program_bts.jpg" class="img-normal" loading="lazy" alt="คลินิกทรวงอกของบาโนบากิที่มองไกลไปถึง 10 ปีให้หลัง"/>
			</a> -->

			<a href="http://line.me/ti/p/@thaibanobagi" target="_blank">
				<img src="../../images/program/chest_190610/program_consultation.jpg" class="img-normal" alt="ติดต่อสอบถาม Tel : 02-392-2890 Mobile : 099-112-4777 Line Official ID : คลิก http://line.me/ti/p/@thaibanobagi หรือแอดมาที่ @thaibanobagi (มี@ด้วยค่ะ)"/>
		    </a>
		</div>
	</div>
<% include ../_include/_quick %>
<% include ../_include/_footer %>
