<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
	.thai-1909__link{position:absolute; top:0; left:0; right:0; width:50%; display:block; height:100%; margin:0 auto;}
	.thai-1909__wrap{position:relative;}
	.thai-1909__video{padding:7.89% 21.35%; background:url('../../images/program/thai_1909/thai_1909_3.jpg') no-repeat center center / cover; box-sizing:border-box;}
	.thai-1909__box{position:relative; width:100%; padding-bottom:56.25%;}
	.thai-1909__iframe{position:absolute; top:0; left:0; width:100%; height:100%;}

    .cont__video{padding:7.89% 21.35%; background:url('../../images/program/thai_1909/thai_1909_3.jpg') no-repeat center center / cover; box-sizing:border-box;}
	.cont__wrap{position:relative; width:100%; padding-bottom:56.25%;}
	.cont__video iframe{position:absolute; top:0; left:0; width:100%; height:100%;}

	@media only screen and (max-width: 1025px) {
		.thai-1909__link{width:76.38%;}
		.thai-1909__video{padding:11.9% 6.66%; background:url('../../images/program/thai_1909/thai_1909_3_m.jpg') no-repeat center center / cover; box-sizing:border-box;}

        .cont__video{padding:11.9% 6.66%; background:url('../../images/program/thai_1909/thai_1909_3_m.jpg') no-repeat center center / cover; box-sizing:border-box;}
	}
</style>

<div class="program__view">

    <img src="../../images/program/thai_1909/thai_1909_1.jpg" alt="โปรโมชั่นพิเศษต้อนรับเทศกาลไหว้พระจันทร์" class="hidden-tm"/>
    <img src="../../images/program/thai_1909/thai_1909_2.jpg" alt="โปรโมชั่นพิเศษต้อนรับเทศกาลไหว้พระจันทร" class="hidden-tm"/>

    <img src="../../images/program/thai_1909/thai_1909_1_m.jpg" alt="โปรโมชั่นพิเศษต้อนรับเทศกาลไหว้พระจันทร์" class="hidden-p"/>
    <img src="../../images/program/thai_1909/thai_1909_2_m.jpg" alt="โปรโมชั่นพิเศษต้อนรับเทศกาลไหว้พระจันทร" class="hidden-p"/>

    <div class="cont__video">
		<div class="cont__wrap">
            <div class="program-video">
                <div class="program-video__wrap">
                    <a href="" class="program-video__btn">play</a>
                    <img src="../../images/program/thai_vlog_thum.jpg" class="img-w100" alt=""/>
                </div>
            </div>

			<!-- 비메오 -->
			<!-- <iframe src="https://player.vimeo.com/video/294294410?quality=1080p" class="cont__iframe" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe> -->
			<!-- 유튜브 -->
			<!-- <iframe id="program-iframe" src="https://www.youtube.com/embed/eA9QM2nRya8?enablejsapi=1"  frameborder="0" allowfullscreen></iframe> -->
			<div id="program-iframe"></div>
		</div>
	</div>

    <img src="../../images/program/thai_1909/thai_1909_4.jpg" alt="โปรโมชั่นพิเศษต้อนรับเทศกาลไหว้พระจันทร" class="hidden-tm"/>
    <img src="../../images/program/thai_1909/thai_1909_4_m.jpg" alt="เซอร์วิสพิเศษ - Tax Refund, บริการรถรับส่งสนามบิน, ลดบวม  - วันที่ : 21-22 กันยายน 2562, สถานที่ : บาโนบากิ ทองหล่อ ซอย 3, โทร : 02-392-2890 / 099-112-4777" class="hidden-p"/>

    <div class="thai-1909__wrap">
        <img src="../../images/program/thai_1909/thai_1909_5.jpg" alt="Line Official ID : @thaibanobagi (มี@ด้วยนะคะ)" class="hidden-tm"/>
        <img src="../../images/program/thai_1909/thai_1909_5_m.jpg" alt="Line Official ID : @thaibanobagi (มี@ด้วยนะคะ)" class="hidden-p"/>

        <a href="http://line.me/ti/p/@thaibanobagi" target="_blank" class="thai-1909__link">view</a>
    </div>

    <img src="../../images/program/thai_1909/thai_1909_6.jpg" alt="โปรโมชั่นพิเศษต้อนรับเทศกาลไหว้พระจันทร" class="hidden-tm"/>
    <img src="../../images/program/thai_1909/thai_1909_6_m.jpg" alt="โปรโมชั่นพิเศษต้อนรับเทศกาลไหว้พระจันทร" class="hidden-p"/>
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript">
    /**
    * Youtube API 로드
    */
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    /**
    * onYouTubeIframeAPIReady 함수는 필수로 구현해야 한다.
    * 플레이어 API에 대한 JavaScript 다운로드 완료 시 API가 이 함수 호출한다.
    * 페이지 로드 시 표시할 플레이어 개체를 만들어야 한다.
    */
    var player;
    function onYouTubeIframeAPIReady(){
    	player = new YT.Player('program-iframe', {
			height: '360',
		 	width: '640',
		 	videoId: 'eA9QM2nRya8',
        	events: {
            	'onReady': onPlayerReady,               // 플레이어 로드가 완료되고 API 호출을 받을 준비가 될 때마다 실행
            	'onStateChange': onPlayerStateChange    // 플레이어의 상태가 변경될 때마다 실행
        	}
    	});
    }

    function onPlayerReady(event) {
    // 플레이어 자동실행 (주의: 모바일에서는 자동실행되지 않음)
    //            event.target.playVideo();
    }

    var playerState;

    function onPlayerStateChange(event) {
    playerState = event.data == YT.PlayerState.ENDED ? '종료됨' :
                    event.data == YT.PlayerState.PLAYING ? '재생 중' :
                    event.data == YT.PlayerState.PAUSED ? '일시중지 됨' :
                    event.data == YT.PlayerState.BUFFERING ? '버퍼링 중' :
                    event.data == YT.PlayerState.CUED ? '재생준비 완료됨' :
                    event.data == -1 ? '시작되지 않음' : '예외';

        // 재생여부를 통계로 쌓는다.
        collectPlayCount(event.data);

        if (event.data === 0) {
            // 종료 후 작업을 여기에 코딩
            $(".program-video").show()
        }
    }

    function playYoutube() {
    	// 플레이어 자동실행 (주의: 모바일에서는 자동실행되지 않음)
    	player.playVideo();
    }

    function pauseYoutube() {
    	player.pauseVideo();
    }

    function stopYoutube() {
    	player.seekTo(0, true);     // 영상의 시간을 0초로 이동시킨다.
    	player.stopVideo();
    }

    var played = false;
    function collectPlayCount(data) {
        if (data == YT.PlayerState.PLAYING && played == false) {
            // todo statistics
            played = true;
        }
    }

    $('.program-video__btn').on('click',function(e){
        e.preventDefault();
        playYoutube();
        $('.program-video').hide();
    })
</script>
