<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
    .roulette{max-width: 766px;margin: 0 auto;padding: 40px 0 0;}
	.roulette__box{position: relative;border-radius: 50%;-webkit-box-shadow: 0px 1px 20px -9px rgba(0,0,0,1);box-shadow: 0px 1px 20px -9px rgba(0,0,0,1);}
	.roulette__box:before{content: '';position: absolute;top: -36px;left: 0;right: 0;width: 82px;height: 120px;margin: 0 auto;background: url(../../images/program/thai_1910/roulette_pin.png) 0 0 no-repeat;z-index: 10;}
	.roulette__start{display: block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 140px;height: 140px;margin: auto;background: url(../../images/program/thai_1910/roulette_start_1.png) 0 0/cover no-repeat;z-index: 10;text-decoration: none;text-indent: -9999px;overflow: hidden;animation: blink 0.5s infinite;}
	.roulette.is-active .roulette__panel{animation: spin 2s ease;}

	@media only screen and (max-width: 1025px){
		.roulette{padding: 32px 80px;}
		.roulette__box:before{top: -26px;width: 60px;height: 87px;background: url(../../images/program/thai_1910/roulette_pin_m.png) 0 0/cover no-repeat;}
		.roulette__start{width: 102px;height: 102px;}
	}
	@media only screen and (max-width: 680px){
		.roulette{padding: 15px 40px 0;}
		.roulette__box:before{top: -13px;width: 30px;height: 42px;}
		.roulette__box:after{width: 51px;height: 51px;}
	}

    @keyframes spin{
        0%{transform: rotate(0);}
        100%{transform: rotate(720deg);}
    }
	@keyframes blink{
		0%{background: url(../../images/program/thai_1910/roulette_start_1.png) 0 0/cover no-repeat;}
		50%{background: url(../../images/program/thai_1910/roulette_start_2.png) 0 0/cover no-repeat;}
		100%{background: url(../../images/program/thai_1910/roulette_start_3.png) 0 0/cover no-repeat;}
	}
</style>

<div class="program__view">
    <img src="../../images/program/thai_1910/thai_1910_1.jpg" alt="Fall in love Promotion วันที่ 19-20 ตุลาคม 2562" class="hidden-tm"/>
    <img src="../../images/program/thai_1910/thai_1910_2.jpg" alt="ราคาลดกระหน่ำครั้งแรก ปรับรูปหน้า โหนก + กราม + คาง(ดร.โอ) ลด  20%" class="hidden-tm"/>
    <img src="../../images/program/thai_1910/thai_1910_3.jpg" alt="พบกับกิจกรรมพิเศษหมุนวงล้อลุ้นรางวัล !" class="hidden-tm"/>

	<img src="../../images/program/thai_1910/thai_1910_1_m.jpg" alt="Fall in love Promotion วันที่ 19-20 ตุลาคม 2562" class="hidden-p"/>
    <img src="../../images/program/thai_1910/thai_1910_2_m.jpg" alt="ราคาลดกระหน่ำครั้งแรก ปรับรูปหน้า โหนก + กราม + คาง(ดร.โอ) ลด  20%" class="hidden-p"/>
    <img src="../../images/program/thai_1910/thai_1910_3_m.jpg" alt="พบกับกิจกรรมพิเศษหมุนวงล้อลุ้นรางวัล !" class="hidden-p"/>

    <div class="roulette">
        <div class="roulette__box">
            <img src="../../images/program/thai_1910/roulette_panel.png" class="roulette__panel" alt=""/>

			<a href="" class="roulette__start">start</a>
        </div>
    </div>

	<img src="../../images/program/thai_1910/thai_1910_4.jpg" alt="* โปรโมชั่นนี้สำหรับลูกค้าที่วางเงินมัดจำในวันงานเท่านั้น" class="hidden-tm"/>
    <img src="../../images/program/thai_1910/thai_1910_4_m.jpg" alt="* โปรโมชั่นนี้สำหรับลูกค้าที่วางเงินมัดจำในวันงานเท่านั้น" class="hidden-p"/>

    <a href="http://line.me/ti/p/@thaibanobagi" target="_blank">
		<img src="../../images/program/thai_1910/thai_1910_5.jpg" alt="Line Official ID  @thaibanobagi (มี@ด้วยนะคะ)" class="hidden-tm"/>
        <img src="../../images/program/thai_1910/thai_1910_5_m.jpg" alt="Line Official ID  @thaibanobagi (มี@ด้วยนะคะ)" class="hidden-p"/>
    </a>
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript">
	var rouletteState = true;
	$(".roulette__start").on("click", function(e){
		e.preventDefault();

		if(rouletteState){
			$(".roulette").addClass("is-active");

			setTimeout(function(){
				rouletteState = true;
				$(".roulette").removeClass("is-active");
			}, 2000);
		}

		rouletteState = false;
	});
</script>
