<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>
<div class="program__view">
	<!--pc-->
	<div class="hidden-tm">
		<img src="../../images/program/thai_1810/thai_1810_1.jpg" loading="lazy" alt="태국상담회 10월">
		<img src="../../images/program/thai_1810/thai_1810_2.jpg" loading="lazy" alt="태국상담회 10월">

		<!-- line button -->
		<div style="background-color: #f5dfc8;">
			<div class="program__area">
				<a href="http://line.me/ti/p/@thaibanobagi" target="_blank">
					<img src="../../images/program/thai_1810/thai_1810_3.jpg" loading="lazy" alt="태국상담회 10월">
				</a>
			</div>
		</div>
		<img src="../../images/program/thai_1810/thai_1810_4.jpg" loading="lazy" alt="태국상담회 10월">
	</div>

	<!--mobile-->
	<div class="hidden-p">
		<img src="../../images/program/thai_1810/thai_1810_1_m.jpg" loading="lazy" alt="태국상담회 10월">

		<a href="javascript:goLine();">
			<img src="../../images/program/thai_1810/thai_1810_2_m.jpg" loading="lazy" alt="태국상담회 10월">
		</a>

		<img src="../../images/program/thai_1810/thai_1810_3_m.jpg" loading="lazy" alt="태국상담회 10월">
	</div>
</div>
<% include ../_include/_quick %>
<% include ../_include/_footer %>
