<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>
<div class="program__view">
	<!--pc-->
	<div class="hidden-tm">
		<img src="../../images/program/thai_1902/thai_1902_1.jpg" loading="lazy" alt="ต้อนรับเทศกาลวาเลนไทน์โปรโมชั่นสุดพิเศษเพื่อคนที่คุณรัก">
		<img src="../../images/program/thai_1902/thai_1902_2.jpg" loading="lazy" alt="ต้อนรับเทศกาลวาเลนไทน์โปรโมชั่นสุดพิเศษเพื่อคนที่คุณรัก">
        <img src="../../images/program/thai_1902/thai_1902_3.jpg" loading="lazy" alt="ต้อนรับเทศกาลวาเลนไทน์โปรโมชั่นสุดพิเศษเพื่อคนที่คุณรัก">


		<a href="http://line.me/ti/p/@thaibanobagi" target="_blank">
			<img src="../../images/program/thai_1902/thai_1902_4.jpg" loading="lazy" alt="ต้อนรับเทศกาลวาเลนไทน์โปรโมชั่นสุดพิเศษเพื่อคนที่คุณรัก">
		</a>

		<img src="../../images/program/thai_1902/thai_1902_5.jpg" loading="lazy" alt="ต้อนรับเทศกาลวาเลนไทน์โปรโมชั่นสุดพิเศษเพื่อคนที่คุณรัก">
	</div>

	<!--mobile-->
	<div class="hidden-p">
        <img src="../../images/program/thai_1902/thai_1902_1_m.jpg" loading="lazy" alt="ต้อนรับเทศกาลวาเลนไทน์โปรโมชั่นสุดพิเศษเพื่อคนที่คุณรัก">
		<img src="../../images/program/thai_1902/thai_1902_2_m.jpg" loading="lazy" alt="ต้อนรับเทศกาลวาเลนไทน์โปรโมชั่นสุดพิเศษเพื่อคนที่คุณรัก">
        <img src="../../images/program/thai_1902/thai_1902_3_m.jpg" loading="lazy" alt="ต้อนรับเทศกาลวาเลนไทน์โปรโมชั่นสุดพิเศษเพื่อคนที่คุณรัก">
        <img src="../../images/program/thai_1902/thai_1902_4_m.jpg" loading="lazy" alt="ต้อนรับเทศกาลวาเลนไทน์โปรโมชั่นสุดพิเศษเพื่อคนที่คุณรัก">

		<a href="http://line.me/ti/p/@thaibanobagi" target="_blank">
			<img src="../../images/program/thai_1902/thai_1902_5_m.jpg" loading="lazy" alt="ต้อนรับเทศกาลวาเลนไทน์โปรโมชั่นสุดพิเศษเพื่อคนที่คุณรัก">
		</a>

		<img src="../../images/program/thai_1902/thai_1902_6_m.jpg" loading="lazy" alt="ต้อนรับเทศกาลวาเลนไทน์โปรโมชั่นสุดพิเศษเพื่อคนที่คุณรัก">
	</div>
</div>
<% include ../_include/_quick %>
<% include ../_include/_footer %>
