<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>
<div class="program__view">
	<!--pc-->
	<div class="hidden-tm">
        <img src="../../images/program/thai_1906/thai_1906_1.jpg" loading="lazy" alt="MID YEAR SALE 2019 15-16 มิถุนายน 2562"/>
        <img src="../../images/program/thai_1906/thai_1906_2.jpg" loading="lazy" alt="MID YEAR SALE 2019 15-16 มิถุนายน 2562"/>
        <img src="../../images/program/thai_1906/thai_1906_3.jpg" loading="lazy" alt="MID YEAR SALE 2019 15-16 มิถุนายน 2562"/>

        <a href="http://line.me/ti/p/@thaibanobagi" target="_blank">
			<img src="../../images/program/thai_1906/thai_1906_4.jpg" loading="lazy" alt="MID YEAR SALE 2019 15-16 มิถุนายน 2562"/>
		</a>

        <img src="../../images/program/thai_1906/thai_1906_5.jpg" loading="lazy" alt="MID YEAR SALE 2019 15-16 มิถุนายน 2562"/>
	</div>

	<!--mobile-->
	<div class="hidden-p">
        <img src="../../images/program/thai_1906/thai_1906_1_m.jpg" loading="lazy" alt="MID YEAR SALE 2019 15-16 มิถุนายน 2562"/>
        <img src="../../images/program/thai_1906/thai_1906_2_m.jpg" loading="lazy" alt="MID YEAR SALE 2019 15-16 มิถุนายน 2562"/>
        <img src="../../images/program/thai_1906/thai_1906_3_m.jpg" loading="lazy" alt="MID YEAR SALE 2019 15-16 มิถุนายน 2562"/>

        <a href="http://line.me/ti/p/@thaibanobagi" target="_blank">
			<img src="../../images/program/thai_1906/thai_1906_4_m.jpg" loading="lazy" alt="MID YEAR SALE 2019 15-16 มิถุนายน 2562"/>
		</a>

        <img src="../../images/program/thai_1906/thai_1906_5_m.jpg" loading="lazy" alt="MID YEAR SALE 2019 15-16 มิถุนายน 2562"/>
	</div>
</div>
<% include ../_include/_quick %>
<% include ../_include/_footer %>
