<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<link rel="stylesheet" href="../../css/program/thai_1912.css">

<div class="program__view">
    <div class="cont-box1">
        <div class="cont-box1__wrap">
            <div class="countdown">
                <div class="countdown__wrap">
                    <p class="countdown__tit">Countdown</p>

                    <div class="countdown__box">
                        <span class="countdown__num" id="time-day">00</span>
                        <span class="countdown__txt">DAYS</span>
                        <span class="countdown__num" id="time-hour">00</span>
                        <span class="countdown__txt">HRS</span>
                        <span class="countdown__num" id="time-minute">00</span>
                        <span class="countdown__txt">MIN</span>
                        <span class="countdown__num" id="time-second">00</span>
                        <span class="countdown__txt">SEC</span>
                    </div>
                </div>
            </div>

			<div class="cont-box1__img">
				<img src="../../images/program/thai_1912/thai_1912_1.png" alt="2019 Last minute OFFER" class="hidden-tm"/>
            	<img src="../../images/program/thai_1912/thai_1912_1_m.png" alt="2019 Last minute OFFER" class="hidden-p"/>
			</div>
        </div>
    </div>

    <img src="../../images/program/thai_1912/thai_1912_2.jpg" alt="EVENT" class="hidden-tm"/>
    <img src="../../images/program/thai_1912/thai_1912_3.jpg" alt="เซอร์วิสพิเศษ" class="hidden-tm"/>

	<img src="../../images/program/thai_1912/thai_1912_2_m.jpg" alt="EVENT" class="hidden-p"/>
	<img src="../../images/program/thai_1912/thai_1912_3_m.jpg" alt="EVENT" class="hidden-p"/>
    <img src="../../images/program/thai_1912/thai_1912_4_m.jpg" alt="เซอร์วิสพิเศษ" class="hidden-p"/>

    <a href="http://line.me/ti/p/@thaibanobagi" target="_blank">
		<img src="../../images/program/thai_1912/thai_1912_4.jpg" alt="Line Official ID @thaibanobagi (มี@ด้วยนะคะ)" class="hidden-tm"/>
		<img src="../../images/program/thai_1912/thai_1912_5_m.jpg" alt="Line Official ID @thaibanobagi (มี@ด้วยนะคะ)" class="hidden-p"/>
    </a>

    <div class="program-consult">
        <div class="program-consult__outer">
			<img src="../../images/program/thai_1912/thai_1912_5.png" alt="2019 Last minute OFFER" class="hidden-tm"/>
            <img src="../../images/program/thai_1912/thai_1912_5_m.png" alt="2019 Last minute OFFER" class="hidden-p"/>

            <div class="program-consult__inner">
                <h4 class="program-consult__tit">
					โอกาสดีๆแบบนี้พลาดไม่ได้แล้ว, <br class="hidden-p">
					ติดต่อเข้ามาเลยค่ะ
				</h4>

                <form action="">
                    <div class="program-form">
						<!-- 이름 -->
						<div class="program-form__box">
							<div class="program-form__head">
								<div class="program-form__tit">ชื่อ</div>
							</div>
							<div class="program-form__body">
								<input type="text" name="name" class="program-form__input" placeholder="ชื่อ">
							</div>
						</div>
						<label id="error" class="error" for="name">กรุณาใส่ข้อมูล</label>

						<!-- 연락처 -->
						<div class="program-form__box">
							<div class="program-form__head">
								<div class="program-form__tit">ติดต่อ</div>
							</div>
							<div class="program-form__body">
								<input type="tel" name="tel" class="program-form__input" placeholder="ติดต่อ">
							</div>
						</div>

						<!-- 이메일 -->
						<div class="program-form__box">
							<div class="program-form__head">
								<div class="program-form__tit">อีเมลล์</div>
							</div>
							<div class="program-form__body">
								<input type="text" name="email" class="program-form__input" placeholder="อีเมลล์">
							</div>
						</div>

						<!-- 연령 -->
						<div class="program-form__box type-radio">
							<div class="program-form__head">
								<div class="program-form__tit">อายุ</div>
							</div>
							<div class="program-form__body">
								<div class="program-form__wrap">
									<input type="radio" name="age1" value="" id="age1_1" class="radio3"><label class="model-txt" for="age1_1">ช่วงอายุ 10ปี</label>
									<input type="radio" name="age1" value="" id="age1_2" class="radio3" checked="checked"><label class="model-txt" for="age1_2">20ปี</label>
									<input type="radio" name="age1" value="" id="age1_3" class="radio3"><label class="model-txt" for="age1_3">30ปี</label>
									<input type="radio" name="age1" value="" id="age1_4" class="radio3"><label class="model-txt" for="age1_4">40ปี</label>
									<input type="radio" name="age1" value="" id="age1_5" class="radio3"><label class="model-txt" for="age1_5">มากกว่า50ปี</label>
								</div>
							</div>
						</div>

						<!-- 성별 -->
						<div class="program-form__box type-radio">
							<div class="program-form__head">
								<div class="program-form__tit">เพศ</div>
							</div>
							<div class="program-form__body">
								<div class="program-form__wrap">
									<input type="radio" name="gender1" value="" id="gender1_1" class="radio3" checked="checked"><label class="model-txt" for="gender1_1">หญิง</label>
									<input type="radio" name="gender1" value="" id="gender1_2" class="radio3"><label class="model-txt" for="gender1_2">ชาย</label>
								</div>
							</div>
						</div>

						<!-- 믄의 -->
						<div class="program-form__box">
							<textarea placeholder="ข้อสอบถาม" class="program-textarea" name="eventMemo" id="eventMemo" aria-required="true"></textarea>
						</div>

						<div class="program-form__box type-btn">
							<button type="submit" class="program-form__btn">สมัครการปรึกษา</button>
						</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript">
    dayGap ();
    var ddaytimer = setInterval (dayGap, 1000)
    //디데이 계산기
    function dayGap () {
    	var dday = new Date("November 28, 2019 10:33:00");//디데이
    	var ddayChange = dday.getTime();
    	var nowday = new Date();//현재
    	nowday = nowday.getTime();//밀리세컨드 단위변환
    	var distance = ddayChange - nowday;//디데이에서 현재까지 뺀다.

    	var d = Math.floor(distance / (1000 * 60 * 60 * 24));//일

    	var h = Math.floor((distance / (1000*60*60)) % 24);//시간
    	var m = Math.floor((distance / (1000*60)) % 60);//분
    	var s = Math.floor((distance / 1000) % 60);//초

    	var leadingZeros = function (date, num) {
    		var zero = '';
    		date = date.toString();

    		if (date.length < num) {
    		for (i = 0; i < num - date.length; i++)
    			zero += '0';
    		}
    		return zero + date;
    	}

		if(distance < 0){
			document.getElementById("time-day").innerHTML = "00";
	    	document.getElementById("time-hour").innerHTML = "00";
	    	document.getElementById("time-minute").innerHTML = "00";
	    	document.getElementById("time-second").innerHTML = "00";

			clearInterval(ddaytimer);
		}else{
			document.getElementById("time-day").innerHTML = leadingZeros(d, 2);
	    	document.getElementById("time-hour").innerHTML = leadingZeros(h, 2);
	    	document.getElementById("time-minute").innerHTML = leadingZeros(m, 2);
	    	document.getElementById("time-second").innerHTML = leadingZeros(s, 2);
		}
    }
</script>
