<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<div class="program__view">
    <img src="../../images/program/thai_1911/thai_1911_1.jpg" alt="special : 11" class="hidden-tm"/>
    <img src="../../images/program/thai_1911/thai_1911_2.jpg" alt="EVENT 01 ร้อยไหมอิลาสติคกุม + ยกกระชับคอ / EVENT 02 V-line จาก / EVENT 03 เอนโดไทน์หน้าผาก(ดร.ปาร์ค ชินกี) / EVENT 04 เสริมหน้าอกโมติว่า (ดร.โน ยงจุน)" class="hidden-tm"/>
    <img src="../../images/program/thai_1911/thai_1911_3.jpg" alt="เซอร์วิสพิเศษ" class="hidden-tm"/>

    <img src="../../images/program/thai_1911/thai_1911_1_m.jpg" alt="special : 11" class="hidden-p"/>
    <img src="../../images/program/thai_1911/thai_1911_2_m.jpg" alt="EVENT 01 ร้อยไหมอิลาสติคกุม + ยกกระชับคอ / EVENT 02 V-line จาก / EVENT 03 เอนโดไทน์หน้าผาก(ดร.ปาร์ค ชินกี) / EVENT 04 เสริมหน้าอกโมติว่า (ดร.โน ยงจุน)" class="hidden-p"/>
    <img src="../../images/program/thai_1911/thai_1911_3_m.jpg" alt="เซอร์วิสพิเศษ" class="hidden-p"/>

    <a href="http://line.me/ti/p/@thaibanobagi" target="_blank">
		<img src="../../images/program/thai_1911/thai_1911_4.jpg" alt="Line Official ID @thaibanobagi (มี@ด้วยนะคะ)" class="hidden-tm"/>
        <img src="../../images/program/thai_1911/thai_1911_4_m.jpg" alt="Line Official ID @thaibanobagi (มี@ด้วยนะคะ)" class="hidden-p"/>
    </a>
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>
