<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>
<div class="program__view">
	<!--pc-->
	<div class="hidden-tm">
		<img src="../../images/program/thai_1812/thai_1812_1.jpg" loading="lazy" alt="태국상담회 12월">
		<img src="../../images/program/thai_1812/thai_1812_2.jpg" loading="lazy" alt="태국상담회 12월">
        <img src="../../images/program/thai_1812/thai_1812_3.jpg" loading="lazy" alt="태국상담회 12월">


		<a href="http://line.me/ti/p/@thaibanobagi" target="_blank">
			<img src="../../images/program/thai_1812/thai_1812_4.jpg" loading="lazy" alt="태국상담회 12월">
		</a>

		<img src="../../images/program/thai_1812/thai_1812_5.jpg" loading="lazy" alt="태국상담회 12월">
	</div>

	<!--mobile-->
	<div class="hidden-p">
        <img src="../../images/program/thai_1812/thai_1812_1_m.jpg" loading="lazy" alt="태국상담회 12월">
		<img src="../../images/program/thai_1812/thai_1812_2_m.jpg" loading="lazy" alt="태국상담회 12월">
        <img src="../../images/program/thai_1812/thai_1812_3_m.jpg" loading="lazy" alt="태국상담회 12월">

		<a href="javascript:goLine();">
			<img src="../../images/program/thai_1812/thai_1812_4_m.jpg" loading="lazy" alt="태국상담회 12월">
		</a>

		<img src="../../images/program/thai_1812/thai_1812_5_m.jpg" loading="lazy" alt="태국상담회 12월">
	</div>
</div>
<% include ../_include/_quick %>
<% include ../_include/_footer %>
