<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>
<div class="program__view">
	<!--pc-->
	<div class="hidden-tm">
        <img src="../../images/program/thai_1908/thai_1908_1.jpg" loading="lazy" alt="โปรโมชั่นสุดพิเศษต้อนรับวันแม่! ลดสูงสุด 80% พร้อมจับสลากลุ้นรางวัล! 17-18 สิงหาคม นี้"/>
        <img src="../../images/program/thai_1908/thai_1908_2.jpg" loading="lazy" alt="โปรโมชั่นสุดพิเศษต้อนรับวันแม่! ลดสูงสุด 80% พร้อมจับสลากลุ้นรางวัล! 17-18 สิงหาคม นี้"/>
        <img src="../../images/program/thai_1908/thai_1908_3.jpg" loading="lazy" alt="โปรโมชั่นสุดพิเศษต้อนรับวันแม่! ลดสูงสุด 80% พร้อมจับสลากลุ้นรางวัล! 17-18 สิงหาคม นี้"/>

        <a href="http://line.me/ti/p/@thaibanobagi" target="_blank">
			<img src="../../images/program/thai_1908/thai_1908_4.jpg" loading="lazy" alt="โปรโมชั่นสุดพิเศษต้อนรับวันแม่! ลดสูงสุด 80% พร้อมจับสลากลุ้นรางวัล! 17-18 สิงหาคม นี้"/>
		</a>
	</div>

	<!--mobile-->
	<div class="hidden-p">
        <img src="../../images/program/thai_1908/thai_1908_1_m.jpg" loading="lazy" alt="โปรโมชั่นสุดพิเศษต้อนรับวันแม่! ลดสูงสุด 80% พร้อมจับสลากลุ้นรางวัล! 17-18 สิงหาคม นี้"/>
        <img src="../../images/program/thai_1908/thai_1908_2_m.jpg" loading="lazy" alt="โปรโมชั่นสุดพิเศษต้อนรับวันแม่! ลดสูงสุด 80% พร้อมจับสลากลุ้นรางวัล! 17-18 สิงหาคม นี้"/>
        <img src="../../images/program/thai_1908/thai_1908_3_m.jpg" loading="lazy" alt="โปรโมชั่นสุดพิเศษต้อนรับวันแม่! ลดสูงสุด 80% พร้อมจับสลากลุ้นรางวัล! 17-18 สิงหาคม นี้"/>

        <a href="http://line.me/ti/p/@thaibanobagi" target="_blank">
			<img src="../../images/program/thai_1908/thai_1908_4_m.jpg" loading="lazy" alt="โปรโมชั่นสุดพิเศษต้อนรับวันแม่! ลดสูงสุด 80% พร้อมจับสลากลุ้นรางวัล! 17-18 สิงหาคม นี้"/>
		</a>
	</div>
</div>
<% include ../_include/_quick %>
<% include ../_include/_footer %>
