.model-tit{margin:0; font-size:30px; font-weight:$bold; color:$black1;
    @media only screen and (max-width:$tablet-size){font-size:25px;}
    @media only screen and (max-width:$mobile-size){font-size:1.5rem;}
}
.model-txt{margin:0; font-size:20px; font-weight:$regular;
    @media only screen and (max-width:$tablet-size){font-size:18px;}
    @media only screen and (max-width:$mobile-size){font-size:1.1rem;}
}

.container{
    &.type-model{background:#1a003c;}
}
.model{
    &__wrap{width:100%; max-width:1200px; margin:0px auto;  box-sizing:border-box;
        &.type-btn{padding:0 100px; text-align:center;}
    }
    &__img{
        &.type-bottom{margin-top:30px;}
    }
    &__btn{display:inline-block; margin-top:60px; border:none; background:none; text-align:center; cursor:pointer;}
    @media only screen and (max-width:$tablet-size){
        &__wrap{padding:0 20px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__wrap{padding:0 10px;
            &.type-btn{padding:0 50px;}
        }
        &__btn{margin-top:20px;}
    }
}
.model-form{padding:130px 80px 90px; background-color:#fff;
    &__list{margin:0; padding:0;}
    &__item{position:relative; list-style:none; font-size:0;
        & + &{margin-top:20px;}
        &:after{display:block; clear:both; content:'';}
    }
    &__wrap{padding-left:190px; box-sizing:border-box;}
    &__head{@extend %modelLine; position:absolute; top:0; left:0; bottom:0; }
    &__body{font-size:0;
        &.type-multi{margin-left:-50px;}
    }
    &__half{position:relative; width:calc(50% - 40px); padding-right:40px; box-sizing:border-box;
        &:first-child{float:left;}
        &:last-child{float:right;}
    }
    &__outer{
        & + &{margin-top:60px;}
    }
    &__inner{display:inline-block; width:50%; padding-left:50px; box-sizing:border-box;}
    &__unit{@extend %modelLine; position:absolute; top:0; right:0; color:$color-point;}
    &__phone{position:relative; display:inline-block; width:33.33%; height:inherit; padding-left:50px; box-sizing:border-box;
        &:first-child:before{display:none;}
        &:before{position:absolute; top:0; bottom:0; left:22px; display:block; width:7px; height:0; margin:auto 0; border-top:2px solid $color-point; content:'-';}
    }
    &__noti{display:inline-block; margin:0 0 0 10px; color:$color-point;}
    &__email{position:relative; display:inline-block; width:50%; height:inherit; padding-left:50px; box-sizing:border-box;
        & + &:before{@extend %modelLine; position:absolute; top:0; left:16px;bottom:0; color:$color-point; content:'@'}
    }
    &__area{padding-bottom:60px;
        & + &{padding-top:60px; border-top:4px dotted #aaa; box-sizing:border-box;}
    }
    &__box{margin-top:30px;
        &.type-multi{margin-left:-50px;}
    }
    &__txt{display:inline-block; color:$color-point;}
    @media only screen and (max-width:$tablet-size){padding:80px 40px 60px;
        &__half{width:100%;
            & + &{margin-top:20px;}
        }
        &__wrap{padding-left:170px;}
        &__noti{margin:5px 0 0 0;}
    }
    @media only screen and (max-width:$mobile-size){padding:40px 20px 30px;
        &__half{padding-right:20px;
            & + &{margin-top:7px;}
        }
        &__wrap{padding-left:90px;}
        &__item{
            & + &{margin-top:7px;}
        }
        &__body{
            &.type-multi{margin-left:-20px;}
        }
        &__phone{padding-left:20px;
            &:before{border-width:1px; width:4px; left:8px;}
        }
        &__noti{margin-top:3px;}
        &__email{padding-left:20px;
            & + &:before{left:5px;}
        }
        &__area{padding-bottom:26px;
            & + &{padding-top:26px; border-width:2px;}
        }
        &__box{margin-top:10px;}
        &__outer{
            & + &{margin-top:20px;}
        }
    }
}


.radio2 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
  .radio2 + label { @extend %modelLine; display: inline-block; position: relative; height: 60px; margin-bottom:0; margin-left: 0; padding-left: 32px; cursor: pointer;  font-weight:400; color:#000; }
  .radio2 + label:before { position: absolute; top: 1px; bottom: 0; left: 0; box-sizing: border-box; width: 24px; height: 24px; margin: auto; border: 2px solid #aaa; border-radius: 50%; background-color: #fff; content: ''; cursor: pointer; }
  .radio2 + label:after { overflow: hidden; position: absolute; top:1px; bottom:0; left: 7px; width: 10px; height: 10px; margin:auto 0; border-radius: 50%; background-color: #fff; cursor: pointer; content: ''; }
  .radio2:checked + label:after {background-color: $color-point}
  @media only screen and (max-width:$mobile-size){
	.radio2 + label {height:22px;  padding-left: 25px;}
    .radio2 + label:before{width:12px; height:12px; border-width:1px;}
    .radio2 + label:after {left:3px; width:6px; height:6px;}
  }
.radio2 + label + .radio2 + label { margin-left: 40px;
	@media only screen and (max-width:$mobile-size){margin-left:10px;}
	@media only screen and (max-width:$iphone-size){margin-left:5px;}
}

.model-input1{@extend %modelLine; width:100%; height:60px; padding:2px 20px; border:2px solid #aaa; box-sizing:border-box; border-radius:10px; outline:0;
    &.type-another{max-width:250px;}
    &.is-hidden{opacity:0;}
    @media only screen and (max-width:$tablet-size){
        &.type-another{max-width:100%;}
    }
    @media only screen and (max-width:$mobile-size){height:22px; padding:1px 10px; border-width:1px; border-radius:4px;}
}

.model-check{
    &__list{margin:-20px 0 0 -60px; padding:0; font-size:0;}
    &__item{display:inline-block; list-style:none; margin:20px 0 0 60px;}
    @media only screen and (max-width:$mobile-size){
        &__list{margin:-10px 0 0 -20px;}
        &__item{margin:10px 0 0 20px;}
    }
}

.model-check2{
    &__list{margin:0; padding:0; font-size:0;}
    &__item{position:relative; display:inline-block; width:50%; padding-left:220px; padding-right:40px; box-sizing:border-box; list-style:none;
        &:nth-child(2n) ~ &{margin-top:20px;}
    }
    @media only screen and (max-width:$tablet-size){
        &__item{width:100%; padding-right:0;
            & + &{margin-top:20px;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &__item{padding-left:120px;}
    }
}

.model-textarea{
    &__list{margin:0; padding:0;}
    &__item{list-style:none; font-size:0;
        & + &{margin-top:20px;}
    }
    &__tit{margin:0; color:#000;}
}

/*radio,checkbox*/

.checkbox03 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
.checkbox03 + label { position: relative; margin:0; padding-left: 35px; cursor: pointer; font-size:20px; color:#000; font-weight:$regular; line-height:24px;}
.checkbox03 + label:before { position: absolute; top: 2px; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 24px; height: 24px; margin: auto; border:2px solid #aaa;
     border-radius:5px; content:'';}
.checkbox03:checked + label:after {position:absolute; top:0; left:6px; bottom:1px; display:block; width:9px; height:4px;
    margin:auto 0; border-left:2px solid $color-point; border-bottom:2px solid $color-point; transform: rotate(-45deg);content:'';}
.checkbox03 + label { margin-right: 20px; }
.checkbox03:last-of-type + label { margin-right: 0; }
@media only screen and (max-width:$mobile-size){
    .checkbox03 + label{padding-left:16px; font-size:1.1rem;}
	.checkbox03 + label:before{top:1px; width:12px; height:12px; border-width:1px; border-radius:0;}
    .checkbox03:checked + label:after {left:3px; bottom:0px; width:5px; height:2px; border-width:1px;}
}



.textarea1{width:100%; height:120px; margin-top:16px; border:2px solid #aaa; border-radius:10px; outline:0; resize:none; box-sizing:border-box;
    @media only screen and (max-width:$mobile-size){height:46px; margin-top:8px; border-radius:5px; border-width:1px;}
}



%modelLine{
    line-height:60px;
    @media only screen and (max-width:$mobile-size){line-height:22px;}
}
