@charset "utf-8";
@import "mixins";
.content{padding-top:50px; box-sizing:border-box;
    &__calendar{padding-bottom:8.125%; @include background('../images/program/contour_1909/contour1909_bg.jpg','no-repeat center bottom / cover'); box-sizing:border-box;}
    @media only screen and (max-width:$tablet-size){
        &__calendar{padding:0px 25px 65px;}
    }
}
.plan-calendar2{position:relative; width:100%; max-width:1120px; margin:0 auto; padding:15px;  box-sizing:border-box; background-color:#f9f9f9;
    $this:&;
    &:before{position:absolute; top:0; left:0; right:0; display:block; width:100%; height:0; padding-bottom:2.678%;}
    &:after{display:block; clear:both; content:'';}
    &__box{float:left; width:50%; box-sizing:border-box;
        &.type-left{padding-right:5%;
            #{$this}__list{
                &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; z-index:10; cursor:not-allowed; content:'';}
            }
        }
        &.type-right{padding-left:5%;
            #{$this}__inner{position:relative;
                &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; z-index:10; cursor:not-allowed; content:'';}
            }
        }
        & .js-alert{cursor: pointer;}
    }
    &__area{position:relative; border:8px solid #cfcfcf; padding:0 5.55%; box-sizing:border-box;
        &:after{display:block; clear:both; content:'';}
    }
    &__relative{position:relative;}
    &__prev,&__next{position:absolute; top:11px; font-size:16px; color:$black1; text-transform: uppercase; text-decoration:none; vertical-align:middle;}
    &__prev{left:0;
        &:before{display:inline-block; width:10px; height:10px; margin:-2px 5px 0 0 ; vertical-align:middle;
            @include background('../images/program/chest_190610/program_chest_prev.png','no-repeat center center / contain'); content:'';}
    }
    &__next{right:0;
        &:after{display:inline-block; width:10px; height:10px; margin:-2px 0px 0 5px ; vertical-align:middle;
            @include background('../images/program/chest_190610/program_chest_next.png','no-repeat center center / contain'); content:'';}
    }
    &__wrap{ text-align:center;}
    &__month{margin-bottom:20px; font-size:28px; font-weight:bold; color:$black1; font-weight:$regular;}
    &__list,&__week{position:relative; margin:0; padding:0; list-style:none; font-size:0; text-align:left;
        &:after{display:block; clear:both; content:'';}
    }

    &__info{padding-top:10px;}
    &__day{position:relative; margin:0;
        &.type-start{
            &:before{position:absolute; top:0; left:0; width:100%; height:100%; background-color:#4868a9; border-radius:22px; color:#fff;  font-size:18px; letter-spacing:-1px;content:'เริ่มต้น'}
        }
        &.type-departure{
            &:before{position:absolute; top:0; left:0; width:100%; height:100%; padding: 0 10%;background-color:#ff7660; border-radius:22px; color:#fff;  letter-spacing:-1px; box-sizing:border-box; font-size:18px; letter-spacing:-1px;content:'สิ้นสุด'}
        }
        &.type-week1{background-color:#cbe1f4;}
        &.type-week2{background-color:#c4ead6;}
        &.type-week3{background-color:#fddeda;}
        &.type-first{border-radius:22px 0 0 22px;}
        &.type-end{border-radius:0 22px 22px 0;}
    }
    &__week{margin-bottom:6px; font-size:0;}
    &__item{overflow:hidden; display:inline-block; width:14.2857%;  height:45px; line-height:45px; margin:3px 0; text-align:center;background-color:#fff;font-size:20px;  font-weight:$medium; box-sizing:border-box; vertical-align:top; cursor:pointer;
        &:nth-child(7n+1){color:#d03645; border-radius:22px 0 0 22px;}
        &:nth-child(7n+7){color:#2d5bb7; border-radius:0 22px 22px 0;}
        &.type-holi{color:#d03645; }
    }
    &__item2{display:inline-block; height:30px; line-height:30px; width:14.2857%; padding:0 1px; box-sizing:border-box; vertical-align:top; font-size:16px; font-weight:$medium; text-align:center;
        &:first-child{border-radius:15px;
            #{$this}__day2{border-radius:15px; background-color:#fa9384; color:#fff;}
        }
        &:last-child{
            #{$this}__day2{border-radius:15px; background-color:#4868a9; color:#fff;}
        }
        &:nth-child(2){
            #{$this}__day2{border-radius:15px 0 0 15px;}
        }
        &:nth-child(6){
            #{$this}__day2{border-radius:0 15px 15px 0;}

        }
    }
    &__day2{margin:0; background-color:#e1e1e1;}
    &__point{color:#d03645;}
    &__inner{overflow:hidden; font-size:0; margin:0; padding:0; list-style:none;}
    @media only screen and (max-width:$tablet-size){padding:25px;
        &__box{width:100%;
            &.type-left{padding-right:0;}
            &.type-right{padding-left:0;}
            & + &{margin-top:20px;}
        }
    }
    @media only screen and (max-width:$mobile-size){padding:5px;
        &__month{margin-bottom:10px; font-size:1.8rem;}
        &__area{border-width:4px;}
        &__week{margin-bottom:3px;}
        &__item{height:28px; line-height:28px; margin:2px 0;font-size:1.1rem;
            &:nth-child(7n+1){color:#d03645; border-radius:14px 0 0 14px;}
            &:nth-child(7n+7){color:#2d5bb7; border-radius:0 14px 14px 0;}
        }
        &__day{position:relative; margin:0;
            &.type-start{
                &:before{ border-radius:14px; font-size:1.1rem; letter-spacing:-1px;}
            }
            &.type-departure{
                &:before{padding: 0 10%;border-radius:14px;font-size:1.1rem;}
            }
            &.type-first{border-radius:14px 0 0 14px;}
            &.type-end{border-radius:0 14px 14px 0;}
        }
        &__item2{height:20px; line-height:20px;  font-size:1.1rem;
            &:first-child{border-radius:10px;
                #{$this}__day2{border-radius:10px;}
            }
            &:last-child{
                #{$this}__day2{border-radius:10px;}
            }
            &:nth-child(2){
                #{$this}__day2{border-radius:10px 0 0 10px;}
            }
            &:nth-child(6){
                #{$this}__day2{border-radius:0 10px 10px 0;}

            }
        }
        &__day2{margin:0; background-color:#e1e1e1;}
        &__prev,&__next{top:11px; font-size:1rem; }
    }
}

.plan-video{padding: 145px 0;@include background('../images/program/contour_1909/contour1909_bg_2.jpg','no-repeat center bottom / cover');
    &__wrap{max-width: 1112px;margin: 0 auto;padding: 0 8px;box-sizing: border-box;}
    &__video{position: relative;width: 100%;height: 0;padding-bottom: 56.25%;
        iframe{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
    }

    @media only screen and (max-width:$tablet-size){
        padding: 44px 25px;@include background('../images/program/contour_1909/contour1909_bg_2_m.jpg','no-repeat center top / cover');

        &__wrap{padding: 0;}
    }
}

@keyframes keyMove {
    00.00%{transform: rotate(0deg) translateX(0px)}
    33.00%{transform: rotate(5deg) translateX(-12px)}
    66.00%{transform: rotate(-5deg) translateX(5px)}
    100.00%{transform: rotate(0deg) translateX(0px)}
}
