@charset "utf-8";
@import "mixins";
.content{padding-top:50px; box-sizing:border-box;
    &__sea{padding:200px 0; @include background('../images/program/chest_190610/program_chest_bg.jpg','no-repeat center center / cover'); box-sizing:border-box;}
    @media only screen and (max-width:$tablet-size){
        &__sea{padding:60px 25px 65px; @include background('../images/program/chest_190610/program_chest_bg_m.jpg','no-repeat center center / cover');}
    }
}
.plan-calendar{position:relative; width:100%; max-width:1120px; margin:0 auto; padding:0 80px 80px; background-color:#fff; box-sizing:border-box;
    $this:&;
    &:before{position:absolute; top:0; left:0; right:0; display:block; width:100%; height:0; padding-bottom:2.678%; @include background('../images/program/chest_190610/program_dot.jpg','no-repeat center center / cover'); box-sizing:border-box; content:'';}
    &:after{display:block; clear:both; content:'';}
    &__box{float:left; width:50%; box-sizing:border-box;
        &.type-left{padding-right:5%;}
        &.type-right{padding-left:5%;
            #{$this}__list{
                &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; z-index:10; cursor:not-allowed; content:'';}
            }
        }
    }
    &__area{position:relative; margin-top:40px;
        &:after{display:block; clear:both; content:'';}
    }
    &__prev,&__next{position:absolute; top:11px; font-size:16px; color:$black1; text-transform: uppercase; text-decoration:none; vertical-align:middle;}
    &__prev{left:0;
        &:before{display:inline-block; width:10px; height:10px; margin:-2px 5px 0 0 ; vertical-align:middle;
            @include background('../images/program/chest_190610/program_chest_prev.png','no-repeat center center / contain'); content:'';}
    }
    &__next{right:0;
        &:after{display:inline-block; width:10px; height:10px; margin:-2px 0px 0 5px ; vertical-align:middle;
            @include background('../images/program/chest_190610/program_chest_next.png','no-repeat center center / contain'); content:'';}
    }
    &__wrap{ text-align:center;}
    &__month{margin-bottom:20px; font-size:26px; font-weight:bold; color:$black1;}
    &__list,&__week{position:relative; margin:0; padding:0; list-style:none; font-size:0; text-align:left;
        &:after{display:block; clear:both; content:'';}
    }
    &__week{border-bottom:2px solid #fff;}
    &__info{padding-top:10px;}
    &__day{height:50px; font-size:12px; text-align:center; line-height:50px;}
    &__item{display:inline-block; width:14.28%; height:30px; line-height:30px; text-align:center;background-color:#e1e1e1;font-size:16px; box-sizing:border-box;
        & + &{border-left:1px solid #fff;}
        &:first-child{background-color:#ff7660; color:#fff;}
        &:last-child{background-color:#00aeef; color:#fff;}
    }
    &__day{position:relative; display:inline-block; width:14.28%; font-size:18px; font-weight:$bold; border:1px solid #d7d7d7; border-top:none; border-right:none; box-sizing:border-box; cursor:pointer; vertical-align:top;
        &.type-start{background-color:#2995f2;
            &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%;  z-index:1; font-size:16px;  background-color:#2995f2; color:#fff; content:'เริ่มต้น'; box-sizing:border-box;}
        }
        &.type-first{
            &:after{position:absolute; bottom:-1px; left:-700%; display:block; width:700%; border-bottom:1px solid #d7d7d7; content:'';}
        }
        // & + &{ margin-top:-1px;}
        &.type-departure{background-color:#ff7660;
            &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; z-index:1; font-size:16px; background-color:#ff7660; color:#fff; content:'สิ้นสุด';    word-break: break-all; box-sizing:border-box;}
        }
        &.type-holi{color:red;}
        &.type-saturday{color:blue;}
        &.type-week1{background-color:#b0f4be;}
        &.type-week2{background-color:#bde0ff;}
        &.type-week3{background-color:#ffeec4;}
        &.type-week4{background-color:#ffcdc4;}
        &:nth-child(7n+1){color:red; border-left:none;}
        &:nth-child(7n+7){color:blue;}
    }
    &__inner{overflow:hidden; height:300px; background-color:#fcfcfc; border:1px solid #d7d7d7; border-bottom:none;}
    &__bag,&__girl{position:absolute;}
    &__bag{width:27.32%; left:-13.56%; bottom:-106px;}
    &__girl{width:29.9%; right:-14.95%; bottom:-120px; animation: keyMove 3s linear 0s infinite normal forwards; transform-origin: 20px 65px; }
    @media only screen and (max-width:$tablet-size){padding:25px;
        &:before{padding-bottom:3.548%; @include background('../images/program/chest_190610/program_dot_m.jpg','no-repeat center center / cover');}
        &__box{width:100%;
            &.type-left{padding-right:0;}
            &.type-right{padding-left:0;}
            & + &{margin-top:20px;}
        }
        &__info{margin-top:18px; border-top:1px solid #dcdcdc; padding-top:5px;}
        &__month{margin-bottom:10px; font-size:1.8rem;}
        &__prev,&__next{top:6px; font-size:1rem;}
        &__prev{left:0;
            &:before{width:5px; height:5px; margin:-1px 3px 0 0 ; vertical-align:middle;
                @include background('../images/program/chest_190610/program_chest_prev.png','no-repeat center center / contain'); content:'';}
        }
        &__next{right:0;
            &:after{ width:5px; height:5px; margin:-1px 0px 0 3px ; vertical-align:middle;
                @include background('../images/program/chest_190610/program_chest_next.png','no-repeat center center / contain'); content:'';}
        }
        &__item{height:18px; line-height:18px; font-size:1.1rem;}
        &__day{height:30px; line-height:30px; font-size:1.1rem;
            &.type-departure{background-color:#ff7660;
                &:before{padding-top:0px;  font-size:1rem; line-height:30px;}
            }
            &.type-start{
                &:before{font-size:1rem;}
            }
        }
        &__inner{height:180px;}
        &__bag{left:-25px; bottom:-5%; width:90px;}
        &__girl{right:-25px; bottom:-5%; width:98px;}
        &__area{margin-top:20px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__day{
            &.type-departure{background-color:#ff7660;}
        }

    }
}
.program-banner{/*margin:60px auto 0;*/margin: 0 auto;text-align:center;
    a{display:inline-block;}
    @media only screen and (max-width:$mobile-size){/*margin-top:30px;*/}
}

@keyframes keyMove {
    00.00%{transform: rotate(0deg) translateX(0px)}
    33.00%{transform: rotate(5deg) translateX(-12px)}
    66.00%{transform: rotate(-5deg) translateX(5px)}
    100.00%{transform: rotate(0deg) translateX(0px)}
}
