@import "../mixins";
.contianer{overflow:hidden;
	&:after{display:block; clear:both; content:'';}
	&.type-cosmetic{}
	&__box{overflow:hidden; float:left; width:50%;}
	@media only screen and (max-width: $tablet-size) {
		&__box{float:none; width:100%;}
	}
}
.slide{overflow:hidden; position:relative; background-color:#fff;
	&:after{clear:both; display:block; content:'';}
	&__list{margin:0; padding:0;  font-size:0;}
	&__item{display:inline-block; list-style:none; outline:0;}
	&__half{position:relative; float:right; width:50%;}
}

.form-box{padding:150px 0; background:#383838; text-align:center;
	$this:&;
	&__tit{margin:0;}
	&__txt{margin:24px 0 0 0;  font-size:23px; color:#fff;}
	&__area{margin-top:56px; padding-top:70px; border-top:4px dotted #979797; box-sizing:border-box; text-align:left;}
	&__wrap{margin-top:46px;}
	&__list{margin:0 0 0 0px; padding:0;  font-size:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{list-style:none; box-sizing:border-box;  font-size:23px;
		& + &{margin-top:20px;}
		&.type-one{
			#{$this}__head{width:auto;}
			#{$this}__body{position:static; margin-top:20px; padding-left:0;}
		}
	}
	&__head{width:430px; height:34px; line-height:34px;   font-size:23px; color:#a1d0dd; font-weight:500;

	}
	&__subject{margin:0 0 20px;  font-size:23px;  color:#a1d0dd; font-weight:500;
		&.type-margin{margin-bottom:0;}
	}
	&__body{position:absolute; top:0; left:0; width:100%;  padding-left:446px; box-sizing:border-box;  font-size:0;}
	&__box{position:relative;  padding-bottom:20px; border-bottom:1px solid #808080; box-sizing:border-box;
		&.type-etc{margin-top:20px;}
	}
	&__etc{position:relative; display:none;  margin-top:20px;
		&.is-active{display:block;}
	}
	&__btn{width:400px; height:70px; margin:80px auto 0; line-height:70px; text-align:center; border:none; background:url('../../images/program/cosmetic/btn.png') no-repeat center center / cover;
		 font-size:30px; color:#fff;  font-weight:500; cursor:pointer; text-transform: uppercase;}
	&__label{display:inline-block; margin-top:16px; margin-left:16px;}
	&__ex{display:none;}
	&__right{float:right; color:inherit; font-size:inherit; font-weight:inherit;}
	&__noti{margin:20px 0 0 0; font-size:20px; font-weight:500; color:#9e9e9e;}
	@media only screen and (max-width: $tablet-size) {padding-left:40px; padding-right:40px;
		&__tit{
			img{margin-left:auto; margin-right:auto;}
		}
		&__head{width:210px;}
		&__body{padding-left:226px;}
		&__item{
			&.type-one-t{
				#{$this}__head{width:auto;}
				#{$this}__body{position:static; margin-top:20px; padding-left:0;}
				#{$this}__right{float:none;}
			}
		}
		&__ex{display:block; margin:-10px 0 20px; font-size:20px; color:#fff;}
	}
	@media only screen and (max-width: $mobile-size) {padding:75px 20px;
		&__tit{
			img{width:203px;}
		}
		&__txt{font-size:16px;}
		&__area{margin-top:26px; padding-top:26px; border-width:2px;}
		&__list{margin-left:0;}
		&__item{width:100%; padding-left:0; font-size:1.7rem;
			&.type-one{
				#{$this}__head{height:auto;}
			}
			&.type-one-t{
				#{$this}__body{margin-top:12px;}
			}
			& + &{margin-top:12px;}
		}
		&__head{width:94px; font-size:1.7rem; height:auto; line-height:1.5;}
		&__body{padding-left:104px;}
		&__box{padding-bottom:12px;}
		&__wrap{margin-top:36px;}
		&__subject{margin-bottom:15px; font-size:1.7rem;}
		&__btn{width:286px; height:50px;  margin-top:70px; line-height:50px; background:url('../../images/program/cosmetic/btn_m.png') no-repeat center center / cover; font-size:18px;}
		&__ex{margin-bottom:15px; font-size:12px; color:#fff;}
		&__noti{margin-top:16px; font-size:13px;}
	}
}

.content-wrap{width:100%;  max-width:1200px; margin:0px auto;}
.radio-wrap{margin-left:-20px; padding-top:3px;
	@media only screen and (max-width: $mobile-size) {margin-top:-16px; margin-left:-10px; padding-top:0px;}
}
.checkbox-wrap{margin-top:24px; margin-left:-16px; font-size:0;
	&.type-another{margin-top:-16px;}
	@media only screen and (max-width: $mobile-size) {margin-top:4px;}
}
.txt-center{text-align:center;}

.input1{width:100%; height:34px; line-height:34px; background:transparent; border:none; outline:0; box-sizing:border-box;  font-size:23px; color:#fff;
	&:-ms-input-placeholder { color: #9e9e9e;}
	&::-webkit-input-placeholder { color: #9e9e9e;}
	&::-moz-placeholder { color: #9e9e9e;}
	&::-moz-placeholder { color: #9e9e9e;}
	@media only screen and (max-width: $mobile-size) {height:24px; line-height:24px; font-size:1.7rem;}
}




 .radio1 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
  .radio1 + label { display: inline-block; position: relative; height: 34px; margin-bottom:0; margin-left: 20px; padding-left: 28px; cursor: pointer; line-height: 34px;  font-size:23px; color:#fff; }
  .radio1 + label:before { position: absolute; top: 0; bottom: 0; left: 0; box-sizing: border-box; width: 20px; height: 20px; margin: auto; border: 1px solid #c8c8c8; border-radius: 50%; background-color: #fff; content: ''; cursor: pointer; }
  .radio1 + label:after { overflow: hidden; position: absolute; top:0px; bottom:0; left: 5px; width: 10px; height: 10px; margin: auto 0; border-radius: 50%;  cursor: pointer; content: ''; }
  .radio1:checked + label:after {background-color: #ee68b7;}
  .radio1.type-man:checked + label:after {background-color: #6765e5;}
  @media only screen and (max-width:$mobile-size){
	.radio1 + label {margin-left:10px; margin-top:16px;   font-size:1.7rem; padding-left: 25px; height:24px; line-height:24px;}
  }


.checkbox04 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
.checkbox04 + label { position: relative; margin:0; padding-left: 34px; cursor: pointer;  font-size:23px; color:#fff; font-weight:$regular; line-height:34px;}
.checkbox04 + label:before { position: absolute; top: 4px; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 24px; height: 24px;  background:#fff; margin: auto; content:'';}
.checkbox04:checked + label:after {position:absolute; top:9px; left:6px; display:block; width:9px; height:6px; border-radius:2px;
    margin:auto 0; border-left:4px solid #fe68b2; border-bottom:4px solid #fe68b2; transform: rotate(-45deg);content:'';}
@media only screen and (max-width:$mobile-size){
    .checkbox04 + label{padding-left:24px;  font-size:1.7rem;}
	.checkbox04 + label:before{width:18px; height:18px; border-width:1px; border-radius:0;}
    .checkbox04:checked + label:after {left:4px; width:7px; height:4px; border-width:3px;}
}

.img-responsive{position:absolute; top:0; left:0; width:100%; height:100%;}
.img-normal{width: auto !important; max-width:100% !important; vertical-align:middle !important;}
.img-w100{width:100%; vertical-align:middle;}


//slick 슬라이드점
.slide-dot{position:absolute; bottom:0; left:0; right:0;margin:0; padding:0;  font-size:0; text-align:center;
    li{display:inline-block; list-style:none;
        & + li{margin-left:12px;}
        &.slick-active button{width:60px; background-color:#a1d0dd; border-radius:10px;}
        & button{overflow:hidden; display:inline-block; width:20px; height:20px; border:none; margin:0; padding:0; text-indent:-9999px;  border-radius:50%; box-sizing:border-box;
            background-color:#d6d6d6; cursor:pointer; transition: width 0.3s;}
    }
	@media only screen and (max-width: $mobile-size) {
		li{display:inline-block; list-style:none;
	        & + li{margin-left:6px;}
	        &.slick-active button{width:45px; border-radius:15px;}
	        & button{width:15px; height:15px;}
	    }
	}
}
.color-white{color:#fff !important;}
