@import "../mixins";

.cont-box1{position: relative;padding: 3.12% 3.12% 0;background: url('../../images/program/thai_1912/thai_1912_bg_1.jpg') no-repeat center center/cover;box-sizing: border-box;
    &:before, &:after{position: absolute;}
    &:before{content: '';top: 0;right: 0;background: url('../../images/program/thai_1912/thai_1912_cone.png') no-repeat right 0/contain;width: 374px;height: 250px;}
    &:after{content: '';bottom: 0;left: 0;background: url('../../images/program/thai_1912/thai_1912_cone2.png') no-repeat left 0/contain;width: 320px;height: 216px;}

    &__wrap{border: 5px dotted #fff;border-bottom: 0;border-radius: 24px 24px 0 0;}
    &__img{margin-top: 76px;}

    @media only screen and (max-width: $tablet-size){
        padding: 30px 30px 0;background: url('../../images/program/thai_1912/thai_1912_bg_1_m.jpg') no-repeat center center/cover;

        &__img{margin: 84px -35px 0;}
    }
    @media only screen and (max-width:$mobile-size){
        padding: 15px 15px 0;

        &:before{width: 120px;height: 65px;}
        &:after{width: 104px;height: 54px;}

        &__wrap{border-width: 3px;border-radius: 12px 12px 0 0;}
        &__img{margin: 42px -18px 0;}
    }
}
.countdown{text-align: center;
	$this:&;

    &__wrap{display: inline-block;position: relative;padding-left: 290px;}
    &__tit{position: absolute;top: 0;left: 0;width: 290px;height: 100%;margin: 0;background-color: #000;font-size: 40px;font-weight: $bold;color: #fff;text-align: center;
        &:after{content: '';display: inline-block;height: 100%;vertical-align: middle;}
    }
    &__box{display: inline-block;padding: 0 30px 10px;border: 7px solid #000;box-sizing: border-box;}
    &__num{font-size: 64px;font-weight: $bold;color: #000;}
    &__txt{font-size: 14px;font-weight: $regular;color: #000;
        & + #{$this}__num{margin-left: 12px;}
    }

    @media only screen and (max-width: $tablet-size){
        &__wrap{padding-left: 0;}
        &__tit{position: static;width: 270px;margin: 0 auto;padding: 12px 0;font-size: 36px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__tit{width: 136px;padding: 6px 0;font-size: 1.9rem;}
        &__box{padding: 0 10px 5px;border-width: 4px;}
        &__num{font-size: 3.3rem;}
        &__txt{font-size: 1.3rem;
            & + #{$this}__num{margin-left: 6px;}
        }
    }
}
