<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-dual">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">ยิงปืนนัดเดียว ได้นกสองตัว</p>
				<h3 class="content-visual__tit"><span class="dual-color1">#</span>Dual-Slim</h3>
				<p class="content-visual__txt2">เพื่อรูปร่างที่สวยและได้สัดส่วน</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content">
		<div class="content-wrap">
		    <div class="content-section type-first">
				<div class="dual-box1">
					<div class="dual-box1__box">
						<h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							<strong class="content-highlight2 type-dual">ไขมันช่วงส่วนบน </strong>
							มักมาพร้อมกับขนาดหน้าอกที่ใหญ่ขึ้น
							จนเกินความจำเป็น
						</h4>
						<p class="content-section__txt1">
							ถ้าพูดถึงไขมันส่วนบนเรามักจะนึกถึงช่องท้องหรือเอว แต่ว่าไขมันที่เกิดขึ้นตามธรรมชาตินั้นมักมาพร้อมกับหน้าอกที่ขนาดใหญ่ขึ้น หากมีหน้าอกที่โตมากเกินอาจส่งผลให้เกิดปัญหาผิวหนังตามมาได้ เช่น กลากบริเวณผิวใต้หน้าอก เป็นต้น
						</p>
						<p class="content-section__txt2">
							ดังนั้นการแก้ไขปัญหาไขมันช่วงบนควร <span class="dual-color1">ทำคู่กับการลดขนาดหน้าอก</span>ไปด้วย
							<span class="content-highlight type-dual">เพื่อให้ได้ทั้งขนาดและสัดส่วนที่ออกมาอย่างดีที่สุด</span>
						</p>
						<div class="dual-box1__img"></div>
					</div>
				</div>
		    </div>

			<div class="content-section">
				<div class="dual-box2 box-style">
					<h4 class="content-section__tit dual-box2__tit">
						<strong class="dual-color2">Dual-Slim</strong>, ได้ผลออกมาดี เพราะบาโนบากิ
					</h4>
					<p class="content-section__txt1 dual-box2__txt">
						Dual-Slim เป็นวิธีที่บาโนบากิคิดค้นในการแก้ไขปัญหาทั้งร่างกายและหน้าอกอย่างได้ผล ตั้งแต่การปรึกษาครั้งแรก บาโนบากิเราไม่ได้คำนึงถึงแต่หน้าอกเพียงอย่างเดียวแต่<strong>คำนึงถึงการออกแบบความสมดุลของร่างกายโดยรวมทั้งหมด </strong>ดังนั้นคนไข้สามารถคาดหวังว่าจะได้ร่างกายที่สมดุลพร้อมกับขนาดหน้าอกที่เหมาะสมเพื่อความสะดวกสบายยิ่งขึ้น
					</p>
					<h5 class="dual-box2__subject">
						ดูดไขมันช่วงบน + ลดขนาดหน้าอก, Dual-Slim
					</h5>
					<ul class="dual-box2__list">
						<li class="dual-box2__item">
							<div class="dual-box2__img">
								<img src="../../images/body/dual/body_dual_img04.jpg" loading="lazy" alt="การดูดไขมันแบบง่าย">
								<p class="dual-box2__caption">การดูดไขมันแบบง่าย</p>
							</div>
						</li>
						<li class="dual-box2__item">
							<div class="dual-box2__img">
								<img src="../../images/body/dual/body_dual_img05.jpg" loading="lazy" alt="Dual-Slim">
								<p class="dual-box2__caption">Dual-Slim</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="dual-box3 box-style">
					<h4 class="content-section__tit dual-box3__tit">
						<span class="dual-box3__detail"><img src="../../images/body/dual/body_dual_txt.png" loading="lazy" alt="detail"></span><span class="dual-box3__subtit">ที่โดดเด่นของบาโนบากิ </span><br>
						ผู้เชี่ยวชาญเรื่อง<strong class="dual-color2">ศัลยกรรมร่างกาย</strong>
					</h4>
					<div class="dual-box3__doctor-img">
						<img src="../../images/body/dual/body_dual_doctor_m.png" loading="lazy" alt="ผู้เชี่ยวชาญเรื่องศัลยกรรมร่างกาย">
					</div>
					<div class="dual-box3__doctor">
						<div class="dual-box3__name nth-1">
							ศัลยแพทย์ผู้เชี่ยวชาญ
							<strong>ดร. ฮัน คยู นัม</strong>
						</div>
						<div class="dual-box3__name nth-2">
							ศัลยแพทย์ผู้เชี่ยวชาญ
							<strong>ดร. บัน แจ ซัง</strong>
						</div>
						<div class="dual-box3__name nth-3">
							ศัลยแพทย์ผู้เชี่ยวชาญ
							<strong>ดร. โน ยง จุน</strong>
						</div>
					</div>
					<div class="dual-box3__area">
						<ul class="dual-box3__list">
							<li class="dual-box3__item nth-1">
								<div class="dual-box3__wrap">
									<div class="dual-box3__img">
										<div class="dual-box3__caption">
											<div class="dual-box3__vertical">
												ผู้เชี่ยวชาญทั้งสองด้าน<br>
												ศัลยกรรมร่างกาย + ศัลยกรรมหน้าอก
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="dual-box3__item nth-2">
								<div class="dual-box3__wrap">
									<div class="dual-box3__img">
										<div class="dual-box3__caption">
											<div class="dual-box3__vertical">
												คำนึงถึงทุกสัดส่วน<br>
												ไม่ใช่แค่หน้าท้อง รวมไปถึงหน้าอกด้วย
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="dual-box3__item nth-3">
								<div class="dual-box3__wrap">
									<div class="dual-box3__img">
										<div class="dual-box3__caption">
											<div class="dual-box3__vertical">
												ด้วยทักษะฝีมือที่ละเอียดพิถีพิถันและปลอดภัย
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="dual-box4 box-style">
					<h4 class="content-section__tit type-center">
						<span class="content-section__number ">
							<span class="content-section__number-wrap">
								02
							</span>
						</span>
						คนไข้สามารถเลือกประเภทของการ<strong class="content-highlight2 type-dual">ลดขนาดหน้าอก</strong>ให้เหมาะกับ<br>
						<strong>ผลลัพธ์ที่ต้องการ</strong>ได้
					</h4>
					<p class="content-section__txt1">การผ่าตัดลดขนาดหน้าอกมีให้เลือกถึง 4 วิธีด้วยกัน แน่นอนว่าแต่ละวิธีก็จะมีทั้งข้อดีและข้อเสียต่างกันออกไป</p>
					<p class="content-section__txt2">ดังนั้นจึง<strong>ต้องได้รับการปรึกษาอย่างละเอียดและถูกต้องก่อนตัดสินใจว่าควรรับการผ่าตัดด้วยวิธีใด</strong><span class="dual-color1">เพื่อให้เหมาะสมกับตัวเอง</span>มากที่สุด</p>
					<div class="item-box3 type-dual">
						<ul class="item-box3__list">
							<li class="item-box3__item nth-1">
								<div class="item-box3__box">
									<div class="item-box3__wrap">
										<h5 class="item-box3__tit tit-v2">ผ่าตัดลดหน้าอกด้วยการกรีดรอบปานนม</h5>
										<p class="item-box3__txt txt-v1">
											วิธีนี้เข้าถึงเนื้อเยื่อด้านในโดยการกรีดรอบๆปานนมจะเหมาะกับเคสที่หน้าอกไมได้มีขนาดใหญ่มากจนเกินไป เนื่องจากต้องกรีดรอบปานนม แผลจะมีขนาดไม่ใหญ่มาก และเห็นไม่เด่นชัด อีกทั้งยังไม่มีผลต่อการทำงานของเต้านมอีกด้วย
										</p>
									</div>
								</div>
							</li>
							<li class="item-box3__item nth-2">
								<div class="item-box3__box">
									<div class="item-box3__wrap">
										<h5 class="item-box3__tit tit-v2">ผ่าตัดลดหน้าอกด้วยการกรีดตรง</h5>
										<p class="item-box3__txt txt-v1">
											กรีดรอบปานนมยาวลงมาประมาณ 4-5 เซนติเมตร พร้อมกับลดเนื้อเยื่อด้านใน นับเป็นวิธีที่ลดความกังวลเรื่องแผลเป็นเพราะ แผลขนาดเล็กกว่าวิธีกรีดแบบตัว 오
											ระยะเวลาในการผ่าตัดก็สั้น ฟื้นตัวได้เร็ว แต่ข้อเสียของวิธีนี้ก็คืออาจทำให้เห็นรอยแผลเป็นอยู่บ้าง
										</p>
									</div>
								</div>
							</li>
							<li class="item-box3__item nth-3">
								<div class="item-box3__box">
									<div class="item-box3__wrap">
										<h5 class="item-box3__tit tit-v2">ผ่าตัดลดหน้าอกด้วยการกรีดรูปตัว 오</h5>
										<p class="item-box3__txt txt-v1">
											เป็นวิธีที่ใช้กันทั่วไปในการผ่าตัดลดขนาดหน้าอกและสามารถใช้ได้เกือบทุกกรณี เช่น หน้าอกหย่อนคล้อย เป็นต้น  ผลที่ได้สามารถคาดเดาได้ง่ายและไม่ส่งผลต่อการเคลื่อนไหวและการรับความรู้สึกของหัวนม แต่อย่างไรก็ตามอาจเกิดแผลบริเวณเต้านมและด้านใต้ราวนม ดังนั้นผู้ที่กังวลเรื่องแผลเป็นอาจต้องหาทางแก้ไขด้วยวิธีอื่น
										</p>
									</div>
								</div>
							</li>
							<li class="item-box3__item nth-4">
								<div class="item-box3__box">
									<div class="item-box3__wrap">
										<h5 class="item-box3__tit tit-v2">ลดหน้าอกโดยการดูดไขมัน</h5>
										<p class="item-box3__txt txt-v1">
											เป็นวิธีที่ลดขนาดหน้าอกโดยการดูดไขมันภายในเต้านม ในกรณีที่หน้าอกใหญ่ขึ้นเนื่องจากความอ้วน ทำให้ทรวงอกมีเนื้อเยื่อไขมันสูง การดูดไขมันจะมีประสิทธิภาพมาก และเป็นวิธีที่ใช้เวลาผ่าตัดน้อย รอยแผลไม่ใหญ่ ทำให้เป็นตัวเลือกที่น่าสนใจสำหรับผู้ที่กังวลเรื่องรอยแผลเป็น แต่กรณีที่ผิวที่ยืดออกมาเนื่องจากขนาดเต้านมที่ใหญ่หลังผ่าตัดก็อาจจะรู้สึกได้ว่าผิวดูหย่อนคล้อยลงบ้าง
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div><!-- //item-box3-->
				</div>
			</div>

			<div class="content-section">
				<div class="dual-box5 box-style">
					<h4 class="content-section__tit type-center">
						<span class="content-section__number ">
							<span class="content-section__number-wrap">
								03
							</span>
						</span>
						แม้ว่าจะเป็น
						<strong>ไขมันบริเวณหน้าท้อง</strong>ไขมันบริเวณหน้าท้อง<strong class="content-highlight2 type-dual">ตามลักษณะของแต่ละบุคคล</strong>
					</h4><br>
					<h5 class="dual-box5__subject">
						บริเวณที่สำคัญกับ <span class="dual-color1">Dual Slim</span>
					</h5>
					<div class="item-box3 type-dual">
						<ul class="item-box3__list">
							<li class="item-box3__item nth-5">
								<div class="item-box3__box">
									<div class="item-box3__wrap">
										<h6 class="item-box3__tit tit-v2">หน้าท้องส่วนล่าง</h6>
										<p class="item-box3__txt txt-v1">
											ไขมันมักจะอยู่บริเวณหน้าท้องเป็นปกติ ดังนั้นเป้าหมายนอกจากจะเน้นเพื่อให้ดูดออกได้ในปริมาณที่มากแล้ว จะต้องคำนึงถึงปัญหาผิวหย่อนคล้อยที่ตามมาด้วย
										</p>
									</div>
								</div>
							</li>
							<li class="item-box3__item nth-6">
								<div class="item-box3__box">
									<div class="item-box3__wrap">
										<h6 class="item-box3__tit tit-v2">ข้างเอว</h6>
										<p class="item-box3__txt txt-v1">
											ถ้ามองจากด้านหน้า รูปทรงเพรียวบางนั้นขึ้นอยู่กับเอว สำหรับผู้หญิงนั้น การใส่ใจเน้นทรวดทรงนับเป็นกุญแจสำคัญ
										</p>
									</div>
								</div>
							</li>
							<li class="item-box3__item nth-7">
								<div class="item-box3__box">
									<div class="item-box3__wrap">
										<h6 class="item-box3__tit tit-v2">เอว</h6>
										<p class="item-box3__txt txt-v1">
											ไขมันที่ถูกสะสมในเอวเป็นเวลานาน ยากที่จะดูดออกได้ในครั้งเดียว ดังนั้นจึงต้องทำคู่กับบริเวณสีข้างเอวด้วย
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div><!-- //item-box3-->
				</div>
			</div>

			<div class="content-section">
				<div class="dual-box6 pop-info box-style">
					<div class="dual-box6__wrap">
						<div class="dual-box6__box">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										04
									</span>
								</span>
								<strong>การดูแลหลังผ่าตัดที่พิเศษ </strong>เพื่อเพิ่ม<br class="hidden-tm">
								<strong class="content-highlight2 type-black">ความพึงพอใจ</strong>ให้มากที่สุด
							</h4>
							<p class="content-section__txt1">
								คนไข้ที่ผ่าตัดวิธี DUAL SLIMก็จำเป็นต้องพักฟื้นดูแลหลังผ่าตัดไม่ต่างกับคนไข้ที่ผ่าตัดร่างกายทั่วไปเรามีการบำบัดด้วยแสง
								<a href="" class="info-btn js-info">
									<span class="info-btn__icon">info</span>
									ไบโอโพโทน
									<span class="info-desc">
										<span class="info-desc__item">
											<span class="info-desc__box">
												<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>ไบโอโพตรอน</strong> คืออะไร?<br class="hidden-tm"></span>
												<span class="info-desc__content">
													<img src="../../images/body/dual/body_dual_info-img.jpg" loading="lazy" alt="ไบโอโพโทน" class="info-desc__thumb">
													<span class="info-desc__txt1">
														ไบโอโพตรอนคือวัสดุใหม่ PDP (Platinum Diamond Photon) ที่นำเอาอนุภาคของทองคำขาวและเพชรมารวมกัน เป็นอุปกรณ์ที่ใช้ในการพักฟื้นครอบคลุมทั้งตัว
													</span>
												</span>
											</span>
											<button class="info-desc__btn js-close">
												<span class="info-desc__stick type-left"></span>
												<span class="info-desc__stick type-another"></span>
												ปิด
											</button>
										</span>
									</span>
								</a>
								และโปรแกรมนวด เพื่อให้การพักฟื้นหายอย่างรวดเร็ว และได้ทรงหน้าอกที่สวยงามมากขึ้น
							</p>
							<div class="quotation2">
								<p class="quotation2__txt txt-v5">นอกจากนี้ <span class="dual-color3">บาโนบากิยังร่วมมือกับแผนกผิวหนัง</span><br>ในการดูแลรอยแผลเป็นหลังผ่าตัดด้วย</p>
							</div>
						</div>
					</div>
					<div class="dual-box6__img">
						<div class="after-style type-chest type-dual">
							<ul class="after-style__list">
								<li class="after-style__item nth-1">
									<div class="after-style__txt txt-new2">1 เดือนหลังผ่าตัด</div>
								</li>
								<li class="after-style__item nth-2">
									<div class="after-style__txt txt-new2">6 เดือนหลังผ่าตัด</div>
								</li>
								<li class="after-style__item nth-3">
									<div class="after-style__txt txt-new2">12 เดือนหลังผ่าตัด</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- operation -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-body">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">DUAL SLIM กับการพักฟื้นอันรวดเร็วที่บาโนบากิ</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 3 ชั่วโมง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยาสลบ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
										<p class="operation-v2__txt txt-new1">ค่อยหลุดประมาณ 8~15 วัน</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 วัน</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 4 ~ 5 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 5~7 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-body">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									หลังการทำศัลยกรรมอาจเกิดความเจ็บปวดเเบบร้อนๆขึ้นได้เวลาผ่านไปจะบรรเทาขึ้น<br>
									การขยับเคลื่อนไหวร่างกายแบบแรงๆ อาจก่อให้เกิดอาการเจ็บและส่งผลต่อบริเวณแผลทำให้แผลไม่สมานกันได้ ร้องระมัดระวัง<br>
									อาจรู้สึกปวดเล็กน้อยบริเวณที่ทำการดูดไขมันได้
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
	  	</div><!--//content-wrap-->
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
