<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
    <div class="content-visual">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">การตัดสินใจครั้งใหญ่ที่อาจจะเป็นจุดเปลี่ยนแปลงในชีวิต</p>
				<h3 class="content-visual__tit"><span class="color-body1">#</span>ศัลยกรรมดูดไขมันทั้งตัว</h3>
				<p class="content-visual__txt2">บอดี้ไลน์ที่เพอร์เฟคได้เพียงครั้งเดียว</p>
			</div>
		</div>
    </div>
    <!-- //visual -->

	<!-- Content -->
	<div class="content type-body-fat">
	  	<div class="content-wrap">
		    <div class="content-section type-first">
				<h4 class="content-section__tit type-center type-unique">
					<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
					เราตระหนักถึง<strong class="color-body1">ความกังวล </strong>และ <strong class="color-body1">พยายาม</strong>มากขึ้น
				</h4>
				<ul class="box-style1__list type-special">
					<li class="box-style1__item w-4">
						<div class="box-style1__img">
							<img src="../../images/body/body_fat_img02.jpg" loading="lazy" alt="" class="respon-img">
						</div>
					</li>
					<li class="box-style1__item w-8">
						<div class="box-style1__wrap">
							<p class="content-section__txt1 type-margin">
								ปัญหาความอ้วนจำเป็นต้องรักษา. การเอาชนะความอ้วนของแต่ละคนนั้นเป็นเรื่องยาก และจำเป็นที่จะต้องอยู่ภายใต้การดูแลของผู้เชี่ยวชาญ ก่อนที่จะเกิดเป็นโรคที่ร้ายแรง ด้วยประสบการณ์กว่า 19ปีที่มีการรักษาคนไข้ที่มีปัญหาโรคอ้วน เราเองคำนึงถึงปัญหาและทราบถึงความพยายามของคนไข้ที่จะมีความกล้าเข้ามาปรึกษา รวมไปถึงต้องสามารถวิเคราะห์รูปร่างและการใช้ชีวิตประจำวันของคนไข้
							</p>
							<p class="content-section__txt1">
								บาโนบากิไม่ใช่การผ่าตัดโดยคำนึงการนำไขมันให้ออกไปในปริมาณมากเท่านั้น แต่เพื่อได้รูปร่างที่ผอมบาง แต่เป็นแรงจูงใจเพื่อให้ร่างกายของคนไข้มีการเปลี่ยนแปลงในชีวิต และ
								<span class="box-style1__point1 pop-info">
									หลังการผ่าตัดผ่านไปแล้ว เรามีโปรแกรมรีคอลรองรับ เพื่อรักษารูปร่างที่เปลี่ยนแปลงของคนไข้
									<span class="box-style1__info">
										<a href="" class="info-btn js-info ">
											<span class="info-btn__icon type-body-fat">info</span>
											โปรแกรมรีคอล
											<span class="info-desc type-body-fat">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>โปรแกรมรีคอล</strong> คืออะไร?<br class="hidden-tm"></span>
														<span class="info-desc__content">
															<span class="info-desc__txt1">
																หลังจากการทำศัลยกรรมได้6เดือน ความเปลี่ยนแปลงของขนาดตัวจะลดลงน้อยมาก ฉะนั้นนี่คือหัวใจของบาโนบากิที่จะช่วยสนับสนุน ด้วยวิธีที่หลากหลาย
															</span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
														<span class="info-desc__stick type-left"></span>
														<span class="info-desc__stick type-another"></span>
														ปิด
													</button>
												</span>
											</span>
										</a>
									</span>
								</span>
							</p>
						</div>
					</li>
				</ul>
		    </div>
		    <div class="content-section type-img">
				<ul class="box-style1__list type-another">
					<!-- //mobile img -->
					<li class="box-style1__item w-6">
						<h4 class="content-section__tit type-top">
							<span class="content-section__number type-right"><span class="content-section__number-wrap">02</span></span>
							<strong>ศัลยกรรมดูดไขมัน ต้องทำ</strong> <br class="hidden-m">
							<span class="box-style1__point2">เพียงครั้งเดียว</span>เท่านั้น
						</h4>

						<!--mobile Img -->
						<div class="box-style1__item hidden-p">
							<div class="box-style1__img-m">mobile img</div>
						</div>

						<p class="content-section__txt1">
							เหตุผลที่ต้องควรไตร่ตรองให้ดี เป็นเพราะความสมส่วนของรูปร่าง ถ้ามีการแบ่งดูดหลายๆรอบแล้ว อาการบวมที่เกิดจากการดูดรอบที่1 ยังคงเหลืออยู่ เมื่อดูดรอบ2,3จะทำให้ผลลัพท์และความกระชับลดน้อยลง
						</p>
						<div class="box-style1__txt2">

							<div class="brace type-body-fat">
								<p class="brace__txt txt-v4">
									ไม่ค่อยมีโรงพยาบาลใดที่จะดูดไขมันทั้งตัวได้<span class="color-body1">ภายในวันเดียว,</span><br class="hidden-m">
									<span class="color-body1">ครั้งเดียว</span>จบ
								</p>
							</div>

						</div>
						<p class="content-section__txt1">
							เพราะ<strong class="box-style1__point3">เหตุผลนี้</strong>การผ่าตัดที่นำไขมันออกทั้งตัวในปริมาณ 8,000-10,000cc ออกภายในครั้งเดียว
							จำเป็นที่จะต้องรักษาความพร้อมของร่างกายไม่ให้สูงหรือต่ำจนเกิดไป เพราะปัจจัยหลายอย่างเช่น ความดัน ปริมาณเลือดที่เสียออกไป มีผลต่อร่างกายทั้งหมด แต่สิ่งนี้ก็แตกต่างกันออกไปขึ้นอยู่กับความสามารถของแพทย์
						</p>
						<p class="content-section__txt1">
							<strong class="box-style1__point1">ทีมแพทย์ของบาโนบากิไม่เหมือนที่อื่น โดยทางเราสามารถทำศัลยกรรมดูดไขมันได้ในครั้งเดียว </strong>
							ด้วยเทคนิคและความรู้ที่สะสมมาเป็นเวลานาน จึงทำให้สามารถดูดไขมันออกมาได้ในปริมาณที่เยอะ อีกทั้งทางโรงพยาบาลมีทีมวิสัญญีแพทย์ที่คอยควบคุมภาวะร่างกายของคนไข้ให้เป็นปกติระหว่างการผ่าตัด ถึงปัจจุบันนี้ทางโรงพยาบาลบาโนบากิ เราดำเนินการผ่าตัดโดยนำไขมันออกได้ในปริมาณที่เยอะ โดยไม่เกิดอุบัติเหตุใดๆ มาโดยตลอด
						</p>
						<div class="box-style1__box">
							<div class="quotation2 type-body-fat">
								<p class="quotation2__txt type-big tit-v4"><strong class="color-body1">หลังการดูดไขมัน </strong> จะลดความหนาลงได้เท่าไหร?</p>
								<p class="quotation2__txt txt-v5 type-margin">หน้าท้อง 8-15cm<span>/</span>ต้นขา5-10cm<span>/</span>แขน4-8cm</p>
							</div>
						</div>
						<p class="box-style1__txt3">※ ผลลัพธ์ของการผ่าตัดขึ้นอยู่กับสภาพร่างกายแต่ละบุคคล</p>
					</li>
					<!--pc Img -->
					<li class="box-style1__item hidden-tm">
						<div class="box-style1__img--bg type-special">
							<img src="../../images/body/body_fat_img03.jpg" loading="lazy" alt="">
						</div>
					</li>
					<!--pc Img -->
				</ul>
		    </div>
			<div class="content-section type-body1">
				<ul class="box-style1__list type-another">
					<li class="box-style1__item w-4">
						<div class="content-wrap">
							<div class="box-style1__img--bg hidden-tm">
								<img src="../../images/body/body_fat_img04_.jpg" loading="lazy" alt="">
							</div>
						</div>
					</li>
					<li class="box-style1__item w-8 type-unique">
						<div class="content-wrap type-upper">
							<h4 class="content-section__tit type-top">
								<span class="content-section__number type-another"><span class="content-section__number-wrap">03</span></span>
								ความกลมกลืมกันของ<br>
								วิทยาการแพทย์ การรักษา<br>
								และ<strong class="color-body1">สุนทรียศาตร์์</strong>
							</h4>
							<div class="box-style1__img-m hidden-p type-another"></div>
							<p class="content-section__txt1">
								ขั้นตอนการศัลยกรรมดูดไขมัน ใช้วิทยาการแพทย์โดยละลายไขมันและดูดออก  ด้วยเครื่องมือที่มีประสิทธิภาพที่โดดเด่นจึงทำให้ผลการผ่าตัดเป็นที่น่าพอใจ
							</p>
							<p class="content-section__txt1 type-another">
								ต่อไปคือความสามารถในการรักษาทางการแพทย์ ที่ลดความเสียหายจากการทำศัลยกรรมให้น้อยที่สุด <br>
								<strong class="box-style1__point1">ด้วยประสบการณ์ที่มากพอ สามารถทำให้ลดการเสียเลือด และเกิดความเสียหายต่อทุกส่วนอย่างน้อยที่สุด</strong>
							</p>
							<p class="content-section__txt1">
								ขั้นตอนสุดท้ายในการดูดไขมัน คือการใช้สุนทรียศาสตร์เข้ามาเพื่อสร้างรูปร่างที่สวยงาม บาโนบากิเข้าถึงศาสตร์ความสวยงามของเรือนร่างในแบบที่แตกต่างกันไปของแต่ละคน และสร้างสรรรูปร่างใหม่ที่สมส่วน
							</p>
						</div>
					</li>
				</ul>
				<div class="way">
					<div class="way__wrap">
						<ul class="way__list">
							<li class="way__item nth-1">
								<p class="way__txt">
									Accusculpt <br>
									เลเซอร์ดูดไขมัน
								</p>
							</li>
							<li class="way__item nth-2">
								<p class="way__txt">
									Plasma <br>
									เลเซอร์ดูดไขมัน
								</p>
							</li>
							<li class="way__item nth-3">
								<p class="way__txt">
									Body Tite<br>
									เครื่องดูดไขมัน
								</p>
							</li>
							<li class="way__item nth-4">
								<p class="way__txt">
									Akonia<br>
									เลเซอร์ดูดไขมัน
								</p>
							</li>
							<li class="way__item nth-5">
								<p class="way__txt">
									L-Pal<br>
									เครื่องดูดไขมัน
								</p>
							</li>
							<li class="way__item nth-6">
								<p class="way__txt">
									PAL<br>
									<span class="way__point">(Power Assisted Lipoplasty)</span>
								</p>
							</li>
							<li class="way__item nth-7">
								<p class="way__txt">
									Tumescent<br>
									technique
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content-section">
				<ul class="box-style1__list">
					<li class="box-style1__item w-12 type-unique">
						<div class="box-style1__people">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
								ดำเนินการอย่างแม่นยำและ<br>
								<strong class="box-style1__point2">ปลอดภัย</strong>
							</h4>
						</div>
						<p class="content-section__txt1 type-center">
							การดูดไขมันเฉพาะส่วนอาจใช้ยานอนหลับได้ แต่การดูดไขมันทั้งตัวนั้นต้องใช้ยาสลบเท่านั้น เพราะการผ่าตัดจำเป็นต้องนำไขมันออกในหลายๆส่วน และมีปริมาณมาก อีกทั้งยังเป็นการลดความกังวลแก่คนไข้ให้น้อยลงด้วย<br>
							<strong class="box-style1__point1 type-big">บาโนบากิมีทีมวิสัญญีแพทย์ที่ประจำอยู่ที่โรงพยาบาล และพร้อมที่จะดูแลความปลอดภัยให้แก่คนไข้ทุกราย </strong><br>
							<strong>ดังนั้นเรามั่นใจถึงผลการผ่าตัดที่แม่นยำและออกมาดีมากยิ่งขึ้น</strong>
						</p>
					</li>
				</ul>
			</div>

			<!--operation-->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-body">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">การพักฟื้นจากการดูดไขมัน อย่างรวดเร็ว</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 4 ชั่วโมง ~ 5 ชั่วโมง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยาสลบ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 วัน</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 วัน</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ลดบวม 2 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">
											ประมาณ 3~5 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ
											<span class="inline-block">การออกกำลังกายหนักสามารถทำได้ 1 เดือนหลังทำ</span>
										</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-body">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									เนื่องจากการใช้ยาสลบ จึงไม่เกิดการเจ็บปวดแต่อย่างใด<br>
									หลังการผ่าตัดแล้ว ความรู้สึกบวม อาจทำให้เกิดอาการปวดได้ บรรเทาอาการด้วยการประคบเย็น<br>
									และเพราะการผ่าตัดทั่วร่างกาย ส่งผลให้การดำเนินกิจวัติประจำวันค่อนข้างลำบากได้ในช่วง 2-3 วันแรก ส่วนอาการช้ำ สามารถบรรเทาได้ด้วยโปรแกรมของทางโรงพยาบาลหลังการผ่าตัด
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
	  	</div>
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
