<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-site">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">เลือกส่วนที่ต้องการดูดไขมันได้</p>
				<h3 class="content-visual__tit">#ดูดไขมันเฉพาะส่วน</h3>
				<p class="content-visual__txt2">เสริมสร้างความมั่นใจให้ทุกส่วนของร่างกาย</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content">
	    <div class="content-wrap">
			<div class="content-section type-first">
				<div class="site-box1">
					<h4 class="site-box1__txt1">
						ด้วยความเชี่ยวชาญจากทีมศัลยแพทย์ผู้มีประสบการณ์มากมายในเคสดูดไขมัน,บาโนบากิมีการดูดไขมันเฉพาะส่วนสำหรับ
	                    <strong class="color-body2">ผู้ที่มีปัญหาไขมันส่วนเกิน</strong>รวมถึงต้องการ<strong class="color-body2">สร้างบาลานซ์ให้หุ่นสมส่วน</strong>
					</h4>
					<p class="site-box1__txt2">
						การดูดไขมันทุกส่วนเป็นวิธีที่เหมาะสำหรับผู้ที่มีไขมันในร่างกายเยอะ แต่สำหรับท่านที่กังวลเรื่องการดูดไขมันทั้งตัว ก็มีวิธีเลือกดูดเฉพาะส่วนเพื่อผลลัพธ์ และสัดส่วนที่ดีกว่า
					</p>
				</div>
				<div class="site-circle">
					<div class="site-wrap">
						<div class="site-circle__img">
							<div class="site-circle__box type-left">
								<div class="site-circle__wrap">
									<p class="site-circle__tit">
										BODY
										<span class="site-circle__point">RATE</span>
									</p>
								</div>
							</div>
							<div class="site-circle__box type-right">
								<div class="site-circle__wrap">
									<p class="site-circle__tit">
										BODY
										<span class="site-circle__point">BALANCE</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section -->

			<!-- tab  -->
			<div class="content-tab type-margin">
				<div class="content-tab__inner">
					<ul class="content-tab__list">
						<li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-abdomen">หน้าท้อง / ห่วงยางรอบเอว</a></li>
						<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-thigh">ต้นขา</a></li>
						<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-arms">ต้นแขน</a></li>
					</ul>
				</div>
			</div>


			<!-- tab contents -->
			<div class="content-tab__page page-abdomen is-active">
				<div class="content-tab__box">
					<div class="site-box2">
						<h4 class="content-section__tit type-top">
							<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
							การดูดไขมันหน้าท้อง, เป็นอีก<strong class="color-body2">แรงบันดาลใจของ การลดน้ำหนัก</strong>
						</h4>
						<div class="site-box2__img">
							img
						</div>
						<p class="content-section__txt1">
	                        สำหรับคนที่ใฝ่ฝันอยากจะมีหุ่นหน้าท้องวีเชพ มักจะกังวลเรื่องไขมันหน้าท้องเป็นหลัก
	                        หน้าท้องที่กลมยื่นออกมายังส่งผลต่อความสามารถในการออกกำลังกาย และยังเป็นปัญหาสำคัญที่สุดคือโรคอ้วน ซึ่งเป็นสาเหตุของปัญหาอื่นๆที่ตามมาเกี่ยวกับสุขภาพเช่น โรคหัวใจและหลอดเลือด หรือโรคอื่นๆ
						</p>
						<p class="content-section__txt2">
							ดังนั้นการแก้ไขปัญหาไขมันเหล่านี้ ไม่ได้ทำเพื่อความสวยงามอย่างเดียว แต่เราคำนึงถึงสุขภาพเช่นเดียวกัน
						</p>
						<div class="quotation2 type-list">
							<ul class="quotation2__list">
								<li class="quotation2__item type-tit">
									การดูดไขมันด้วยคลื่นอัลตราโซนิก + ดูดไขมันด้วยแรงสั่น
								</li>
								<li class="quotation2__item">
									ลดได้ประมาณ 3-5กิโลกรัม ขนาดโดยรอบลดลงประมาณ 5-10เซนติเมตร (แตกต่างออกไปตามแต่ละบุคคล)
								</li>
								<li class="quotation2__item">
									จำเป็นต้องใส่ชุดรัดรูประมาณ 3เดือน
								</li>
							</ul>
						</div>
					</div>

					<div class="list-box type-body-part">
						<div class="list-box__box">
							<div class="list-box__wrap">
								<div class="list-box__vertical">
									<h5 class="list-box__tit tit-v3">
										ศัลยกรรมหน้าท้อง<br class="hidden-m">
										POINT
									</h5>
								</div>
							</div>
						</div>
						<ul class="list-box__list">
							<li class="list-box__item txt-v3">กรีดบริเวณด้านในสะดือ หรือบริเวณรอบไรขน เพื่อให้เกิดแผลน้อยที่สุด</li>
							<li class="list-box__item txt-v3">จัดการพังผืดของหน้าท้องเพื่อให้ได้ไลน์ที่สวยงาม</li>
							<li class="list-box__item txt-v3">ดูดไขมันออกทั้งหมดและป้องกันไม่ให้กลับมาใหม่</li>
						</ul>
					</div>


					<div class="site-box4">
						<h4 class="content-section__tit type-center">
							<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
							แม้ว่าจะเป็นไขมันบริเวณหน้าท้องเหมือนกัน แต่ก็สามารถแตกต่างกันออกไป
							<span class="content-highlight2 type-body">ตามลักษณะแต่ละบุคคล</span>
						</h4>
						<p class="content-section__txt1">
							ดังนั้นแม้จะดูดไขมันออกมาในปริมาณเท่าๆกัน แต่ผลที่ได้และระดับความพึงพอใจก็จะแตกต่างกันออกไปได้ที่บาโนบากิเราให้คำปรึกษาอย่างละเอียดตั้งแต่ต้น รับฟังความเห็นและดีไซน์ออกมาให้ตรงกับความต้องการของคนไข้มากที่สุด
						</p>
						<div class="site-box4__img">img</div>
					</div><!-- //site-box4 -->
					<div class="part-box1">
						<h5 class="part-box1__tit"><strong>จุดสำคัญ</strong>ในการดูดไขมัน</h5>
						<div class="item-box3 type-body-part">
							<ul class="item-box3__list">
								<li class="item-box3__item nth-1">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h6 class="item-box3__tit tit-v2"><span class="color-body2">ส่วนท้องด้านล่าง</span></h6>
											<p class="item-box3__txt txt-v1">
												เป็นส่วนที่มีไขมันอยู่เยอะ และสามารถดูดไขมันออกได้ปริมาณมาก แต่ก็จำเป็นต้องหาวิธีแก้ไขปัญหาความหย่อนคล้อยของผิว
											</p>
										</div>
									</div>
								</li>
								<li class="item-box3__item nth-2">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h6 class="item-box3__tit tit-v2"><span class="color-body2">ด้านข้างเอว</span></h6>
											<p class="item-box3__txt txt-v1">
												ทำให้ดูทรวดทรงออกมาสวยเมื่อมองด้านตรง กุญแจสำคัญของผู้หญิงเพื่อสร้างความมั่นใจ จำเป็นต้องเน้นดีไซน์และแก้ไข
											</p>
										</div>
									</div>
								</li>
								<li class="item-box3__item nth-3">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h6 class="item-box3__tit tit-v2"><span class="color-body2">เอว</span></h6>
											<p class="item-box3__txt txt-v1">
	                                            ไขมันที่สะสมมานานรอบๆเอวและไม่สามารถเอาออกมาได้อย่างง่าย
	                                            ดังนั้นจึงจำเป็นต้องทำควบคู่กับบริเวณด้านข้างเอว เพื่อให้ได้ผลที่ดีที่สุด
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div><!-- //item-box3-->
					</div>

					<!-- operation -->
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
									<!-- <p class="operation-v2__subtit">ข้อมูลเกี่ยวกับการดูดไขมันหน้าท้อง</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง ~ 1 ชั่วโมง 30 นาที</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
												<p class="operation-v2__txt txt-new1">ยาสลบ/ยานอนหลับ</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
												<p class="operation-v2__txt txt-new1">เอาออกประมาณ 7 วันหลังผ่าตัด</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
												<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
												<p class="operation-v2__txt txt-new1">ลดบวม 2 ครั้ง</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 3~5 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											แทบไม่รู้สึกเจ็บเนื่องจากการใช้ยาสลบ<br>
											แต่ว่าหลังผ่าตัดจะมีอาการเจ็บและบวมบ้าง สามารถบรรเทาได้ด้วยการประคบเย็น<br>
											อย่างไรก็ตามเรามีโปรแกรมดูแลเพื่อลดอาการเจ็บและลดบวมช้ำ
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
											<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>
			</div>

			<div class="content-tab__page page-thigh">
				<div class="content-tab__box">
					<div class="site-box2 type-thigh">
						<h4 class="content-section__tit type-top">
							<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	                        เซลล์ไขมันที่สะสมกันนั้น
							คือ<strong class="color-body2">โกดังไขมัน</strong>ที่จับตัวกัน
						</h4>
						<div class="site-box2__img"></div>
						<p class="content-section__txt1">
	                        เซลล์ไขมันที่ถูกสะสมมีเส้นใยไฟเบอร์ที่เเน่นหนาเพื่อที่จะดำรงชิวิตอยู่ของมนุษย์เเล้ว
	                        เป็นส่วนไขมันที่จำเป็นต่อร่างกายเพราะฉะนั้นเเล้ว
	                        ไขมันส่วนต้นขานั้นไม่ว่าจะมีการควบคุมอาหารหรือออกกำลังกายหรือมีการไดเอทจะเป็นส่วนที่คงอยู่ไว้เป็นอันดับสุดท้าย
						</p>
						<p class="content-section__txt2">
							เเต่ในขณะที่มีการดูดเอาไขมันออกปริมาณของไขมันที่สามารถเอาออกได้เยอะเเล้วก็สามารถทำให้เห็นผลลัพท์ที่โดดเด่น
						</p>
						<div class="quotation2 type-list">
							<ul class="quotation2__list">
								<li class="quotation2__item type-tit">
									การดูดไขมันด้วยคลื่นอัลตราโซนิก
								</li>
								<li class="quotation2__item">
									ลดได้ประมาณ 1000-2500cc(ต่อหนึ่งข้าง)
								</li>
								<li class="quotation2__item">
									จำเป็นต้องใส่ชุดรัดรูปประมาณ 2เดือน
								</li>
							</ul>
						</div>
					</div>

					<div class="list-box type-body-part">
						<div class="list-box__box">
							<div class="list-box__wrap">
								<div class="list-box__vertical">
									<h5 class="list-box__tit tit-v3">
										ศัลยกรรมต้นขา<br class="hidden-m">
										POINT
									</h5>
								</div>
							</div>
						</div>
						<ul class="list-box__list">
							<li class="list-box__item txt-v3">การผ่าตัดที่ประณีตเพื่อผิวที่เรียบเนียน</li>
							<li class="list-box__item txt-v3">ด้วยเทคนิคและความชำนาญในการดูด ทำให้ผลโดยรวมออกมาสวย ดูไม่แปลกตา</li>
							<li class="list-box__item txt-v3">ดูดไขมันออก และป้องกันไม่ให้กลับมาอีก</li>
						</ul>
					</div>

					<div class="site-box4">
						<h4 class="content-section__tit type-center">
							<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
							แม้ว่าจะเป็นไขมันบริเวณต้นขาเหมือนกัน
							แต่ก็สามารถแตกต่างกันออกไป
	                        <span class="content-highlight2 type-body">ตามลักษณะแต่ละบุคคล</span>
						</h4>
						<p class="content-section__txt1">
							ดังนั้นแม้จะดูดไขมันออกมาในปริมาณเท่าๆกัน แต่ผลที่ได้และระดับความพึงพอใจก็จะแตกต่างกันออกไปได้ที่บาโนบากิเราให้คำปรึกษาอย่างละเอียดตั้งแต่ต้น รับฟังความเห็นและดีไซน์ออกมาให้ตรงกับความต้องการของคนไข้มากที่สุด
						</p>
						<div class="site-box4__img">img</div>
					</div><!-- //site-box4 -->
					<div class="part-box1">
						<h5 class="part-box1__tit"><strong>จุดสำคัญ</strong>ในการดูดไขมัน</h5>
						<div class="item-box3 type-body-part">
							<ul class="item-box3__list">
								<li class="item-box3__item nth-4">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h6 class="item-box3__tit tit-v2"><span class="color-body2">บริเวณใต้ก้น</span></h6>
											<p class="item-box3__txt txt-v1">
												จัดว่าเป็นบริเวณที่มีเซลลูไลท์อยู่เยอะที่สุด ต้องใช้วิธีดูดไขมันและดูทรงให้ออกมาอย่างเรียบเนียน ทำให้ดูราวกับก้นถูกยกกระชับได้
											</p>
										</div>
									</div>
								</li>
								<li class="item-box3__item nth-5">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h6 class="item-box3__tit tit-v2"><span class="color-body2">บริเวณหว่างขา</span></h6>
											<p class="item-box3__txt txt-v1">
	                                            บริเวณนี้เป็นส่วนที่มีไขมันค่อนข้างเยอะ ดังนั้นการดูดออกจึงต้องทำอย่างตั้งใจเพื่อให้ได้รูปทรงขา
	                                            ออกมาที่สวยงาม
											</p>
										</div>
									</div>
								</li>
								<li class="item-box3__item nth-6">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h6 class="item-box3__tit tit-v2"><span class="color-body2">ต้นขาด้านนอก</span></h6>
											<p class="item-box3__txt txt-v1">
												ส่วนที่เห็นซิลูเอทค่อนข้างชัดเมื่อใส่กระโปรงหรือกางเกง ดังนั้นจะต้องการดีไซน์ ออกมาให้ดูสมส่วนถือเป็นเรื่องสำคัญ
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div><!-- //item-box3-->
					</div>

					<!-- operation -->
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
									<!-- <p class="operation-v2__subtit">ข้อมูลเกี่ยวกับการดูดไขมันต้นขา</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง 30 นาที</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
												<p class="operation-v2__txt txt-new1">ยาสลบ/ยานอนหลับ</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
												<p class="operation-v2__txt txt-new1">เอาออกประมาณ 7 วันหลังผ่าตัด</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
												<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
												<p class="operation-v2__txt txt-new1">ลดบวม 2 ครั้ง</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 3~5 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											แทบไม่รู้สึกเจ็บเนื่องจากการใช้ยาสลบ<br>
											แต่ว่าหลังผ่าตัดจะมีอาการเจ็บและบวมบ้าง สามารถบรรเทาได้ด้วยการประคบเย็น<br>
											อย่างไรก็ตามเรามีโปรแกรมดูแลเพื่อลดอาการเจ็บและลดบวมช้ำ
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
											<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>
			</div>

			<div class="content-tab__page page-arms">
				<div class="content-tab__box">

					<div class="site-box2 type-forearm">
						<h4 class="content-section__tit type-top">
							<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
							ในบรรดาส่วนต่างๆของร่างกายต้นแขนคือสิ่งที่
							<strong class="color-body2">เด่นชัดมากที่สุด</strong>
						</h4>
						<div class="site-box2__img">
							img
						</div>
						<p class="content-section__txt1">
	                        ปกติแล้วส่วนที่นิยมทำการดูดไขมันมากที่สุดนั่นก็คือบริเวณต้นแขนเพราะยิ่งแขนดูสมส่วนมากเท่าไร นั่นก็แสดงถึงความสวยงามและดูสุขภาพดี
	                        ใส่เสื้อผ้าก็ดูสวยและแขนก็เป็นส่วนที่เด่นชัดออกมาเมื่อน้ำหนักขึ้นเช่นกัน
						</p>
						<p class="content-section__txt2">
							ต้นขาก็เหมือนกันกับต้นแขน เป็นส่วนที่มีไขมันเกาะอยู่เป็นจำนวนมาก วิธีการลดน้ำหนักอาจไม่ได้ผลเท่าที่ควร
						</p>
						<div class="quotation2 type-list">
							<ul class="quotation2__list">
								<li class="quotation2__item type-tit">
									การดูดไขมันด้วยคลื่นอัลตราโซนิก
								</li>
								<li class="quotation2__item">
									ลดได้ประมาณ 500-100cc (ต่อหนึ่งข้าง)
								</li>
								<li class="quotation2__item">
									จำเป็นต้องใส่ชุดรัดรูประมาณ 2-3เดือน
								</li>
							</ul>
						</div>
					</div>
					<div class="list-box type-body-part">
						<div class="list-box__box">
							<div class="list-box__wrap">
								<div class="list-box__vertical">
									<h5 class="list-box__tit tit-v3">
										ศัลยกรรมต้นแขน<br class="hidden-m">
										POINT
									</h5>
								</div>
							</div>
						</div>
						<ul class="list-box__list">
							<li class="list-box__item txt-v3">กรีดบริเวณข้อศอกหรือรักแร้ เพื่อให้มีแผลน้อยที่สุด</li>
							<li class="list-box__item txt-v3">ดูดตามโครงสร้างอย่างละเอียด เพื่อให้ได้ผลลัพธ์อย่างเป็นธรรมชาติ</li>
							<li class="list-box__item txt-v3">ดูดไขมันออกทั้งหมดและป้องกันไม่ให้กลับมาใหม่</li>
						</ul>
					</div>
					<div class="site-box4">
						<h4 class="content-section__tit type-center">
							<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
							แม้ว่าจะเป็นไขมันบริเวณต้นแขนเหมือนกัน
	                        แต่ก็สามารถแตกต่างกันออกไป<span class="content-highlight2 type-body">ตามลักษณะแต่ละบุคคล</span>
						</h4>
						<p class="content-section__txt1">
							ดังนั้นแม้จะดูดไขมันออกมาในปริมาณเท่าๆกัน แต่ผลที่ได้และระดับความพึงพอใจก็จะแตกต่างกันออกไปได้ที่บาโนบากิเราให้คำปรึกษาอย่างละเอียดตั้งแต่ต้น รับฟังความเห็นและดีไซน์ออกมาให้ตรงกับความต้องการของคนไข้มากที่สุด
						</p>
						<div class="site-box4__img">img</div>
					</div><!-- //site-box4 -->
					<div class="part-box1">
						<h5 class="part-box1__tit"><strong>จุดสำคัญ</strong>ในการดูดไขมัน</h5>
						<div class="item-box3 type-body-part">
							<ul class="item-box3__list">
								<li class="item-box3__item nth-7">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h6 class="item-box3__tit tit-v2"><span class="color-body2">ต้นแขนด้านใน</span></h6>
											<p class="item-box3__txt txt-v1">
												ไขมันบริเวณต้นแขนนั้นมาพร้อมกับปัญหาความหย่อนคล้อย ดังนั้นการแก้ไขจึงต้องนำไขมันออกมาในปริมาณที่เหมาะสม เพื่อคงสภาพผิวไว้
											</p>
										</div>
									</div>
								</li>
								<li class="item-box3__item nth-8">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h6 class="item-box3__tit tit-v2"><span class="color-body2">ต้นแขนด้านนอก</span></h6>
											<p class="item-box3__txt txt-v1">
												เพราะว่าไขมันบริเวณต้นแขนทำให้ดูแขนใหญ่ การรักษาจะต้องคำนึงถึงรูปทรงและดีไซน์ที่จะออกมาอย่างสวยงามด้วย
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div><!-- //item-box3-->
					</div>

					<!-- operation -->
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
									<!-- <p class="operation-v2__subtit">ข้อมูลเกี่ยวกับการดูดไขมันต้นแขน</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
												<p class="operation-v2__txt txt-new1">
													ยาสลบ/ยานอนหลับ
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
												<p class="operation-v2__txt txt-new1">เอาออกประมาณ 7 วันหลังผ่าตัด</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
												<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
												<p class="operation-v2__txt txt-new1">ลดบวม 2 ครั้ง</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
												<p class="operation-v2__txt txt-new1">ประมาณ 3~5 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">square</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">square</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											แทบไม่รู้สึกเจ็บเนื่องจากการใช้ยาสลบ<br>
											แต่ว่าหลังผ่าตัดจะมีอาการเจ็บและบวมบ้าง สามารถบรรเทาได้ด้วยการประคบเย็น<br>
											อย่างไรก็ตามเรามีโปรแกรมดูแลเพื่อลดอาการเจ็บและลดบวมช้ำ
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
											<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>
			</div>
		</div><!--content-wrap -->
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
