<%
	type = "detail"
	page = "body"
%>
<% include ../_include/_header %>
<!-- Content -->
<div class="body detail-common">
	<section class="fs_section bodyFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-body">
					<span class="color-body0">รูปร่าง</span>ของคนสุขภาพดี, <span class="color-body0">รูปร่าง</span>ที่สมส่วน,
					<span class="color-body0">กลายเป็น</span>รูปร่างที่งดงาม
				</p>
				<h3 class="detail__first-txt type-body">
					รูปร่างสวยในตัวคุณ<br>
					ใส่ใจรายละเอียด <span class="color-body1">ศัลยกรรมรูปร่าง </span>ที่บาโนบากิ
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
	</section>

	<section class="fs_section bodySection01" data-section-name="bodySection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-body type-quotation2">
		            <h4 class="detail__section-tit">
						ศัลยกรรมรูปร่าง
						บาโนบากิ
					    ทำ<span class="color-body1">อย่างนี้</span>
		            </h4>
					<p class="detail__section-subtit">เครื่องมือล้ำสมัย,ฝีมือแพทย์ที่โดดเด่น</p>
					<p class="detail__section-txt color-body3">
						ถึงแม้จะมีเครื่องมือที่ดีแค่ไหน แต่ถ้าหากแพทย์ไม่มีความสามารถมากพอ การผ่าตัดก็ไม่มีความหมาย, สิ่งสำคัญที่สุดในการศัลยกรรมรูปร่าง ขึ้นอยู่กับ “
						<span class="color-body1">ทักษะด้านการผ่าตัด</span>และ “<span class="color-body1">เข้าใจสรีระร่างกาย</span>” เป็นอย่างดี ทีมศัลยกรรมรูปร่างของบาโนบากิเริ่มขึ้นเมื่อปี 2000 และสั่งสมประสบการณ์มาเรื่อยๆ บาโนบากิจึงเป็นสถานที่ที่เต็มไปด้วยอุปกรณ์เครื่องล้ำสมัยและทีมแพทย์มากฝีมือ จะทำรูปร่างของคุณให้สมบูรณ์อย่างไร้ที่ติ
					</p>
		        </div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection02" data-section-name="bodySection02">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-down type-body type-another">
					<h4 class="detail__section-tit">
						ศัลยกรรมรูปร่าง,
						<span class="color-body1">ผลลัพธ์</span>อยู่ที่
						บาโนบากิ
					</h4>
					<p class="detail__section-subtit">พยายามอย่างเต็มที่เพื่อให้ได้รูปร่างที่สมบูรณ์แบบ</p>
					<p class="detail__section-txt">
						การปรับรูปร่างให้ได้สัดส่วน เห็นส่วนเว้าที่ชัดเจน
						ต้องอาศัยความเชี่ยวชาญและประสบการณ์ของศัลยแพทย์
						ในการดูดไขมันและกระชับสัดส่วนในแต่ละส่วนบนร่างกาย
						ที่
						<span class="color-body1">บาโนบากิจึงไม่ได้มุ่งเน้นแค่การดูดไขมัน แต่ยังคำนึงถึง
							การสร้างส่วนโค้งเว้า, การเสริมซิลิโคน, การยกกระชับสัดส่วน
							บนร่างกายด้วยเทคนิคที่หลากหลาย </span>นี่คือผลลัพธ์ที่สามารถมองเห็นได้ที่บาโนบากิ
					</p>
				</div>
				<!-- detail-layer -->
				<div class="detail-layer">
					<div class="detail-box body-1">
						<div class="detail-box__vertical">
							<div class="detail-box__img">ระบบ Check ก่อนหลังผ่าตัด</div>
							<div class="detail-box__wrap">
								<h5 class="detail-box__tit">ระบบ Check ก่อนหลังผ่าตัด</h5>
								<p class="detail-box__txt">
		                          เช็คกล้ามเนื้อ, ไขมันจำเป็น, ไขมันส่วนเกิน, ไขมันในลำไส้, สมดุลร่างกาย, พฤติกรรมการทาน
								</p>
							</div>
						</div>
					</div>
					<div class="detail-box body-2">
						<div class="detail-box__vertical">
							<div class="detail-box__img">โปรแกรมที่หลากหลาย</div>
							<div class="detail-box__wrap">
								<h5 class="detail-box__tit">โปรแกรมที่หลากหลาย</h5>
								<p class="detail-box__txt">
	                                วิธีการใส่ซิลิโคน, การสลายไขมันแบบฟื้นฟูเร็วเพื่อให้กลับมาใช้ชีวิตประจำวันได้อย่างรวดเร็ว, ยกกระชับสัดส่วน
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //detail-layer-->
			</div>
		</div>
	</section>

	<section class="fs_section bodySection03" data-section-name="bodySection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-right type-body type-quotation2">
				<h4 class="detail__section-tit">
					บาโนบากิ
					กับ<span class="color-body1">ความพยายาม</span>
					เรื่องศัลยกรรมรูปร่างที่ไม่สิ้นสุด
				</h4>
				<p class="detail__section-subtit">การดูดไขมัน, ต้องลงมือทำจึงจะเห็นผล</p>
				<p class="detail__section-txt color-body3">
					โดยทั่วไปการดูดไขมันจำนวนมากพร้อมกันทีเดียว
					อาจทำให้ร่างกายปรับตัวไม่ทัน จนส่งผลกระทบ
					ต่อสุขภาพร่างกายของคนไข้ได้ ฉะนั้น เราจึงได้
					ลองหาวิธีดูดไขมันมาหลายรูปแบบ และที่บาโนบากิ
					ก็ได้ค้นพบวิธีการ
					<span class="color-body1">ดูดไขมัน ที่สามารถดูดได้เยอะในทีเดียว </span>
					พร้อมกับความปลอดภัยและผลลัพธ์ที่ดี
					นี่คือผลของการพัฒนาอย่างไม่หยุดยั้งของเรา
				</p>
			</div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection05" data-section-name="bodySection05">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-body">
					<h4 class="detail__section-tit">
						ศัลยกรรมรูปร่าง,
						บาโนบากิกับ <span class="body-color1">ผลลัพธ์</span>ยาวนาน
					</h4>
					<p class="detail__section-subtit">รูปร่างสวยขึ้น, และสวยขึ้นอย่างยาวนานที่บาโนบากิ</p>
					<p class="detail__section-txt">
						หลายคนกังวลว่าดูดไขมันแล้ว
						จะกลับมาอ้วนอีกหรือไม่,
						ผิวหนังจะหย่อนคล้อยหรือไม่
						ก่อนอื่นต้องทำความเข้าใจว่า
						รูปร่างที่สวยงามนั้น ไม่ได้มาจาก
						ผลลัพธ์ของการดูดไขมันอย่างเดียว
						แต่ต้องอาศัยการดูแล,
						พักฟื้นร่างกายที่ถูกต้อง
						ดังนั้นที่<span class="color-body1">บาโนบากิจึงมี
						โปรแกรมเพื่อดูแลรูปร่างของคุณ
						ให้ออกมาสวยงามและเห็นผลลัพธ์
						ที่ดีได้ในระยะยาว </span>ซึ่งเป็นสิ่งที่เรา
						คิดค้นอย่างไม่สิ้นสุด เพื่อผลลัพธ์
						ที่น่าพึงพอใจของคุณ
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection04" data-section-name="bodySection04">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-body">
					<h4 class="detail__section-tit">
						ศัลยกรรมรูปร่าง,
						บาโนบากิ
						เราใส่ใจ
						<span class="color-body1">รายละเอียด</span>
					</h4>
					<p class="detail__section-subtit">โปรเจคฮิลลิ่งสการ์,ช่วยรักษารอยแผลให้หายเร็วที่สุด</p>
					<p class="detail__section-txt">
						ถึงแม้จะรูปร่างที่สวยงามแล้ว,
						แต่ถ้าต้องเสียความมั่นใจเพราะ
						รอยแผลเป็นก็คงเป็นเรื่องที่น่าเสียดาย
						ดังนั้น<span class="color-body1">รอยแผลเป็นที่เกิดจากการผ่าตัดจึงเป็นสิ่งที่ละเลยไม่ได้ </span>ฉะนั้นบาโนบากิ
						จึงคิดค้นโปรเจคฮิลลิ่งสการ์ขึ้นมา
						เพื่อรักษารอยแผลเป็นที่เกิดขึ้นจาก
						การผ่าตัด โดยได้รับความร่วมมือ
						กับแผนกผิวพรรณของบาโนบากิ
						ช่วยรักษารอยแผลเป็นให้จางลง
						และหายไปในที่สุด
					</p>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->
<% include ../_include/_footer %>
