<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-nose-reduction">
		<div class="content-visual__box">
			<div class="content-visual__border type-nose-reduction">
				<p class="content-visual__txt1 type-nose-reduction">ความลงตัวของใบหน้าทั้งหมดที่ดูเป็นธรรมชาติ</p>
				<h3 class="content-visual__tit type-nose-reduction">#<span class="type-nose-reduction">ศัลยกรรมลดขนาดจมูก</span></h3>
				<p class="content-visual__txt2 type-nose-reduction">ปรับให้เหมาะสมและทำให้ดูมีมิติ</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content">
	    <div class="content-wrap">
	        <div class="reduction-box1">
	            <div class="content-section type-first">
	                <div class="reduction-box1__box">
	                    <h4 class="content-section__tit type-top">
	                        <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	                        <strong>ถ้าขนาดของจมูกใหญ่,</strong> อาจทำให้เสน่ห์ส่วนอื่นๆของใบหน้าลดลงได้
	                    </h4>
	                </div>
	                <div class="content-section__wrapper clearfix">
	                    <div class="content-section__thumb type-unique">
	                        <img class="hidden-m" src="../../images/nose/need-01-pt.png" loading="lazy" alt="model">
	                        <img class="hidden-pt" src="../../images/nose/need-01-m.png" loading="lazy" alt="model">
	                    </div>
	                    <div class="content-section__txt-box type-unique">
	                        <p class="content-section__txt1">
	                            จมูกเป็นอวัยวะที่อยู่ส่วนกลางของใบหน้า และยังเป็นอวัยวะที่แสดงให้เห็นถึงความมีมิติด้วยเช่นกัน จึงทำให้เป็นส่วนที่สะดุดตาในครั้งแรกที่มองมายังใบหน้า
	                            แต่<strong class="type-bigger">หากมีทรงจมูกที่ใหญ่ จะต้องทำอย่างไรบ้างล่ะ?</strong>
	                        </p>
	                        <p class="content-section__txt1">
	                            <span class="content-highlight type-nose-reduction1">เพราะเหตุนี้ การลดขนาดจมูกจึงเป็นสิ่งที่จำเป็น</span><br>
	                            การลดลงของจมูกนั้น ตามชื่อจะหมายถึง การปรับลดขนาดของจมูกที่ใหญ่ให้พอดีกับส่วนที่เหลือของใบหน้าด้วยการศัลยกรรม ให้ความรู้สึกของโครงสร้างจมูกที่เหมาะกับใบหน้ามากขึ้นและช่วยเสริมความเด่นชัดของใบหน้า อีกทั้งยังให้ภาพลักษณ์โดยรวมของใบหน้าดูกลมกลืนและแตกต่างไปจากเดิม
	                        </p>
	                        <div class="reduction-effects quotation2">
	                            <h5 class="reduction-effects__tit tit-v2">
	                                ผลที่ได้หลังการลดขนาดจมูก
	                            </h5>
	                            <ol class="reduction-effects__list">
	                                <li class="reduction-effects__item">
	                                    <span class="reduction-effects__numbering">01</span>
	                                    <p class="reduction-effects__txt1">ภาพลักษ์ที่คมชัดขึ้น</p>
	                                </li>
	                                <li class="reduction-effects__item">
	                                    <span class="reduction-effects__numbering">02</span>
	                                    <p class="reduction-effects__txt1">รูปทรงจมูกที่ดูสมูทและสวย</p>
	                                </li>
	                                <li class="reduction-effects__item">
	                                    <span class="reduction-effects__numbering">03</span>
	                                    <p class="reduction-effects__txt1">ความเข้ากันขององค์ประกอบทั้งใบหน้า</p>
	                                </li>
	                            </ol>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="reduction-box2">
	            <div class="ideal-reduction">
	                <h5 class="ideal-reduction__tit">
	                    <strong class="content-highlight type-nose-reduction3">การลดขนาดจมูก</strong>ในอุดมคติ
	                </h5>
	                <div class="ideal-reduction__wrapper">
	                    <div class="ideal-reduction__wrapper type-bg-t">
	                        The Ideal Nose Reduction
	                    </div>
	                    <div class="ideal-reduction__wrapper type-bg">
	                        The Ideal Nose Reduction
	                        <div class="reduction-effects quotation2">
	                            <ol class="reduction-effects__list">
	                                <li class="reduction-effects__item">
	                                    <span class="reduction-effects__numbering">01</span>
	                                    <p class="reduction-effects__txt1">ขนาดที่ปรับให้เข้ากันอย่างสมส่วน</p>
	                                </li>
	                                <li class="reduction-effects__item">
	                                    <span class="reduction-effects__numbering">02</span>
	                                    <p class="reduction-effects__txt1">การปรับขนาดแบบ3มิติ</p>
	                                </li>
	                                <li class="reduction-effects__item">
	                                    <span class="reduction-effects__numbering">03</span>
	                                    <p class="reduction-effects__txt1">รูปทรงจมูกที่เข้ากับรูปหน้า</p>
	                                </li>
	                            </ol>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- content-section -->
	        </div>

	        <div class="reduction-box3">
	            <div class="content-section">
	                <div class="content-section__wrapper type-bg">
	                    <h4 class="content-section__tit type-center">
	                        <span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
	                        <span class="content-highlight type-nose-reduction2">วิธีการผ่าตัดที่หลากหลาย:</span><br class="hidden-tm">
	                        ฝีมือแพทย์ผู้เชี่ยวชาญ คือสิ่งที่สำคัญ
	                    </h4>
	                    <p class="content-section__txt1">
	                        การลดขนาดจมูกเป็นวิธีที่เกี่ยวข้องกับโครงสร้างเนื้อเยื่อจมูกเกือบทั้งหมด: จากกระดูกจมูกที่สร้างโครงสร้างพื้นฐาน รวมไปถึงกระดูกอ่อนและเนื้อเยื่อรอบๆ จำเป็นต้องมีการแก้ไขทั้งสิ้น
	                    </p>
	                    <p class="content-section__txt1">
	                        จมูกส่วนบนที่กว้างและหนาด้านนอกจะทำการเหลากระดูกส่วนด้านในจะลดด้วยการมัดรวบกระดูกส่วนจมูกช่วงล่างไม่ว่าจะรักษาความสูงของปลายจมูกหรือทำให้ดูสูงขึ้นแต่เป้าหมายที่สำคัญคือการลดความกว้างของปีกจมูก,ปรับโครงสร้างกระดูกอ่อนด้านนอกและรูจมูกตามลำดับ ทำให้โดยรวมของรูปจมูกมีขนาดที่เหมาะสม ปลายโด่งตั้งขึ้น และปีกจมูกไม่กว้างเกินไป
	                    </p>
	                    <p class="content-section__txt3 txt-v5">
	                        เพราะเป็นการศัลยกรรมที่ใช้วิธีที่ซับซ้อนในการแก้ไข
	                        จึงจำเป็นที่จะต้องให้ศัลยแพทย์ที่<span class="color-reduction2">มีความเข้าใจ</span>ลักษณะของจมูกที่ใหญ่แบบนี้และต้อง<span class="color-reduction2">มีประสบการณ์</span>ที่มากพอช่วยแก้ไขให้
	                    </p>
	                    <div class="content-section__wrapper face">
	                        การเหลากระดูกด้านนอก
	                        การเหลากระดูกด้านใน
	                        ปรับกระดูกอ่อนกั้นกลางจมูก
	                        ปรับปลายจมูก
	                        การลดปีกจมูก
	                    </div>
	                </div>
	                <div class="content-section__wrapper type-bg2">
	                    <div class="nose-team">
	                        <h5 class="nose-team__tit">
	                            ทีมแพทย์ ศัลยกรรมจมูก ที่บาโนบากิ
	                        </h5>
	                        <p class="nose-team__txt1">
	                            ศัลยแพทย์ของทางบาโนบากิมากด้วยประสบการณ์
	                            ต้องการให้จมูกเป็นไปตามสไตล์ที่คนไข้ต้องการ และทราบดีถึงองศาที่สวยงามของรูปจมูก
	                        </p>
	                        <div class="nose-team__thumb">
	                            <img class="hidden-tm" src="../../images/nose/docs-p.png" loading="lazy" alt="ทีมแพทย์ ศัลยกรรมจมูก ที่บาโนบากิ">
	                            <img class="hidden-pm" src="../../images/nose/docs-t.png" loading="lazy" alt="ทีมแพทย์ ศัลยกรรมจมูก ที่บาโนบากิ">
	                            <img class="hidden-pt" src="../../images/nose/docs-m.png" loading="lazy" alt="ทีมแพทย์ ศัลยกรรมจมูก ที่บาโนบากิ">
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- content-section -->
	        </div>

			<!-- operation -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-nose">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">การลดขนาดจมูกของบาโนบากิมีระยะพักฟื้นที่รวดเร็ว</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง 30 นาที ~ 2 ชั่วโมง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยานอนหลับ/ยาสลบ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
										<p class="operation-v2__txt txt-new1">เอาออกประมาณ 5 วันหลังผ่าตัด</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">อุปกรณ์ที่ใช้ในการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">กระดูกก้นกบ, ซิลิโคน ฯลฯ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 2 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 5~7 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-nose">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									เรามีโปรแกรมRapid-healing Project. ที่ช่วยลดและบรรเทาความเจ็บปวดและย่นระยะพักฟื้นให้เร็วขึ้น เมื่อยาชาเริ่มคลายตัวลง จะเกิดความรู้สึกปวดขึ้นได้ เมื่อเวลาผ่านไป จะช่วยบรรเทาลงได้ เวลาที่มีการตัดไหมหรือล้างแผลอาจเกิดความรู้สึกเจ็บแสบเล็กน้อย ทางเรามีการจ่ายยาแก้ปวดที่ช่วยลดอาการปวด ให้บรรเทาลงได้ และแนะนำให้ทำการประคบเย็นจะช่วยให้อาการดีขึ้น
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
	    </div>
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
