<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="content" data-page="nose-man">
		<div class="new-visual type-noseman">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">ดึงจุดเด่นบนใบหน้าที่เหมาะสำหรับผู้ชาย</p>
						<h3 class="new-visual__tit">ศัลยกรรม<span class="n-color-nose2">จมูกผู้ชาย</span></h3>
						<p class="new-visual__txt">สร้างมิติบนใบหน้าด้วยองศาและคมสันของดั้ง</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#หน้ามีมิติ</span></li>
							<li class="new-visual__item"><span>#จมูกโด่ง</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-noseman">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">BANOBAGI NOSE SURGERY</p>
					 	<h4 class="section-normal__tit tit-new1">
							ศัลยกรรมจมูกผู้ชาย<span class="n-color-nose2">ต้องคำนึงถึงภาพลักษณ์โดยรวมที่เข้ากับโครงหน้าผู้ชายด้วย</span>
						</h4>
					 	<p class="section-normal__txt2 txt-new1">
					 		การศัลยกรรมจมูกผู้ชายถือเป็นสัดส่วนที่สำคัญที่สุดในการทำศัลยกรรมของผู้ชายทั้งหมด<br class="hidden-tm">
							เพราะจมูกถือเป็นสิ่งที่ทำให้ทั้งมิติและกรอบหน้าผู้ชายดูโดดเด่นขึ้นมา<br class="hidden-tm">
							ดังนั้นจึงถือได้ว่าจมูกเป็นส่วนสำคัญที่มีผลต่อใบหน้าของผู้ชายอย่างมาก<br><br>

							ความกังวลเกี่ยวกับจมูกโดยทั่วไปของผู้ชายคือ <span class="color-black1">จมูกแบนทำให้ใบหน้าดูไม่น่าดึงดูด,  ความเบี้ยวของจมูกที่มีมาแต่กำเนิด,หรือเกิดจากการกระแทก,  และจมูกงุ้มที่ทำให้ใบหน้าดูอึดอัด</span> เป็นต้น
					 	</p>
						<p class="section-normal__txt1 txt-new2">
					 		ความกังวลเหล่านี้หากแก้ไขด้วยวิธีการที่เหมาะสม<br class="hidden-tm">จะ<span class="n-color-nose2">ไม่ใช่แค่การแก้ไขเฉพาะรูปทรงจมูก แต่เป็นการแก้ไขภาพลักษณ์ของใบหน้าโดยรวม<br class="hidden-tm">การเลือกวิธีการแก้ไขจมูกผ่านการวินิจฉัยอย่างละเอียด</span>จึงเป็นทางเลือกที่ดี
					 	</p>
						<div class="inner-circle type-nose2 type-mbig">
							<ul class="inner-circle__list">
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">จมูกแบน<br> ทำให้หน้าตาดูไม่น่าดึงดูด</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">จมูกรั้น<br> ที่ปลายจมูกเชิดขึ้นไปทำให้เห็นรูจมูก</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">จมูกงุ้ม<br> ที่ทำให้ใบหน้าดูอึดอัด</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">ความเบี้ยวของจมูก<br> ที่มีแต่กำเนิดหรือ<br> เกิดจากการกระแทก</div>
								</li>
						 	</ul>
						</div>
					</div>
					<div class="section-normal__img">
						<img src="../../images/nose/noseman/noseman_img_1.png" class="img-normal" loading="lazy" alt="model">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section type-cling">
				<div class="new-style1 type-noseman type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-nose2">การศัลยกรรมจมูกให้เข้ากับผู้ชาย</span>จะต้องเปลี่ยนไป
					</h4>
					<p class="new-style1__txt txt-new1">
                        การศัลยกรรมจมูกผู้ชายจะแตกต่างจากผู้หญิงทั้งจุดประสงค์และผลลัพธ์ มาตรฐานการศัลยกรรมจมูกของผู้หญิงจะต้องโค้งและเรียวเล็กให้ดูอ่อนหวานและสวยงาม แต่การศัลยกรรมจมูกของผู้ชายจะต้องเน้นที่มิติและสันจมูกจะตรงมากกว่าผู้หญิง
					</p>
					<p class="new-style1__txt2 txt-new2">
						บาโนบากิมีการศัลยกรรมจมูกผู้ชายให้เป็นตามนั้น<br class="hidden-tm">
						<span class="n-color-nose2">กำหนดความสูงของสันจมูกเพื่อทำให้ใบหน้าโดยรวมดูดีมากขึ้น โดยพิจารณาองศาจมูกของระยะห่างระหว่างหน้าผากและริมฝีปาก</span>และเน้นปลายจมูกให้มีขนาดพอดีกับสันจมูกที่สูงคมเพื่อให้ดูเป็นธรรมชาติ
					</p>
					<div class="inner-circle type-nose2 type-mbig">
						<ul class="inner-circle__list">
							<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									ไลน์สันจมูก<br> ที่เป็นเส้นตรง<br> ทำให้ใบหน้าดูไม่อึดอัด
								</div>
							</li>
							<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									ไลน์สันจมูก<br> ที่เป็นเส้นโค้ง<br> ที่สวยงามและอ่อนหวาน
								</div>
							</li>
						</ul>
					</div>
					<div class="new-style1__img">
						<img src="../../images/nose/noseman/noseman_img_2.jpg" loading="lazy" alt="model" class="img-normal">
					</div>
					<div class="inner-box">
                        <div class="img-style1">
                            <h5 class="new-content-tit tit-new2">
                                การศัลยกรรมจมูกผู้ชายของบาโนบากิ
                            </h5>
                            <div class="step-style type-vertical type-nose">
                                <ul class="step-style__list">
                                    <li class="step-style__item">
                                        <div class="step-style__head txt-new2">
                                            <div class="step-style__box">STEP 01</div>
                                        </div>
                                        <div class="step-style__body txt-new1">
                                            <div class="step-style__box">
                                                <span class="step-style__subject color-black1">องศาจมูกที่เหมาะสม : </span> มุมของจมูกและหน้าผากจะอยู่ที่ ประมาณ 130 องศา มุมปลายจมูกควรอยู่ที่ 90-100 องศา
                                            </div>
                                        </div>
                                    </li>
                                    <li class="step-style__item">
                                        <div class="step-style__head txt-new2">
                                            <div class="step-style__box">STEP 02</div>
                                        </div>
                                        <div class="step-style__body txt-new1">
                                            <div class="step-style__box">
                                                <span class="step-style__subject color-black1">ปลายจมูกที่มีขนาดพอดี : </span> ปลายจมูกผู้ชายควรมีขนาดที่ใหญ่พอดีต่างจากการศัลยกรรมจมูกผู้หญิงที่ปลายจมูกต้องโด่งและเล็ก
                                            </div>
                                        </div>
                                    </li>
                                    <li class="step-style__item">
                                        <div class="step-style__head txt-new2">
                                            <div class="step-style__box">STEP 03</div>
                                        </div>
                                        <div class="step-style__body txt-new1">
                                            <div class="step-style__box">
                                                <span class="step-style__subject color-black1">สันจมูกโด่ง : </span> ใส่ซิลิโคนหนา 11-13 mm. เพื่อให้สันจมูกดูโด่งขึ้นไล่ลงมาจากช่วงหว่างคิ้ว เพื่อให้สันจมูกมีความกว้างพอดีและสวยงาม
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
			<div class="new-section">
				<div class="new-style1 type-noseman2">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-nose2">แก้ไขได้เกือบทุกเคส</span> ให้เหมาะกับแต่ละบุคคล
					</h4>
					<p class="new-style1__txt txt-new1">
						เพื่อให้ศัลยกรรมจมูกของผู้ชายเป็นที่น่าพอใจ จึงต้องคำนึงถึง<span class="color-black1">การแก้ไขที่เหมาะสมกับแต่ละบุคคลด้วย</span><br class="hidden-tm">
						แต่อย่างไรก็ตาม หากขาดเทคนิคในส่วนนี้ไป ถึงแม้จะมีความรู้เรื่องทรงจมูกที่เหมาะกับผู้ชายก็ไม่สามารถแก้ไขให้ตรงจุดได้
					</p>
					<p class="new-style1__txt2 txt-new2">
						บาโนบากิมีวิธีแก้ไขเกี่ยวกับรูปทรงของจมูกที่หลากหลาย<span class="n-color-nose2">ดำเนินการศัลยกรรมจมูกอย่างละเอียดและเป็นระบบให้เหมาะสมกับแต่ละบุคคล</span>
					</p>
				</div>
				<div class="new-explan type-noseman">
					<ul class="new-explan__list">
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/nose/noseman/noseman_img_3.jpg" loading="lazy" alt="แก้ไขจมูกแบน" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">แก้ไขจมูกแบน</h5>
								<p class="new-explan__txt txt-new1">
									กรณีสันจมูกแบน ต้องคำนึงถึงความเชื่อมกันของริมฝีปาก ระหว่างคิ้ว และหน้าผาก จึงจะจัดทรงปลายจมูกให้เข้ากันได้ หลังจากนั้นจึงใส่ซิลิโคนเพื่อให้สันจมูกสูงเข้ากับปลายจมูก  ในขั้นตอนนี้ <span class="color-black1">จะทำให้สันจมูกเป็นเส้นตรงเพื่อให้จมูกมีความสูงพอดีและได้ความรู้สึกแบบจมูกผู้ชาย</span>
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/nose/noseman/noseman_img_4.jpg" loading="lazy" alt="แก้ไขปลายจมูก" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">แก้ไขปลายจมูก</h5>
								<p class="new-explan__txt txt-new1">
									ปกติจะแก้ไขความสูงของสันจมูกร่วมกันไปด้วย
									<span class="color-black1">สามารถปรับความสูงของปลายจมูกไปพร้อมๆกับการมัดกระดูกอ่อนเพื่อปรับความกว้างของปีกจมูก</span>หากใช้กระดูกอ่อนปรับแต่งทรงปลายจมูกจะทำให้สามารถจัดทรงปลายจมูกและความสูงของปลายจมูกให้สวยงามได้
								</p>
							</div>
						</li>
						<li class="new-explan__item type-wide">
							<div class="step-style3">
								<div class="step-style3__list">
									<div class="step-style3__wrap type-half">
										<div class="step-style3__outer">
											<div class="step-style3__item">
												<div class="step-style3__img">
													<img src="../../images/nose/noseman/noseman_img_5.jpg" class="img-w100" loading="lazy" alt="รอยกรีดรูปตัว W ใช้เวลาพักฟื้นไม่นานและแทบไม่เหลือรอยแผลเป็น"/>
												</div>
												<div class="step-style3__box">
													<p class="step-style3__tit txt-new1">STEP 01</p>
													<p class="step-style3__txt txt-new1">
														รอยกรีดรูปตัว W ใช้เวลาพักฟื้นไม่นาน<br> และแทบไม่เหลือรอยแผลเป็น
													</p>
												</div>
											</div>
											<div class="step-style3__item">
												<div class="step-style3__img">
													<img src="../../images/nose/noseman/noseman_img_6.jpg" class="img-w100" loading="lazy" alt="คาดการณ์แนวโน้มที่จะเกิดขึ้นได้อีกครั้งแก้ไขกระดูกและกระดูกอ่อนให้เรียบขึ้นและดีขึ้น"/>
												</div>
												<div class="step-style3__box">
													<p class="step-style3__tit txt-new1">STEP 02</p>
													<p class="step-style3__txt txt-new1">
														คาดการณ์แนวโน้มที่จะเกิดขึ้นได้อีกครั้ง<br> แก้ไขกระดูกและกระดูกอ่อนให้เรียบขึ้นและดีขึ้น
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="step-style3__wrap">
										<div class="step-style3__item">
											<div class="step-style3__img">
												<img src="../../images/nose/noseman/noseman_img_7.jpg" class="img-w100" loading="lazy" alt="ลดขนาดจมูกโดยใช้กระดูกอ่อนของตนเองแทนวัสดุเทียม / กรณีจมูกแบน มีโอกาสสูงที่จมูกจะกลับมาแบนอีกจึงต้องใส่ซิลิโคนเข้าไปป้องกันปัญหานั้น"/>
											</div>
											<div class="step-style3__box type-half">
												<p class="step-style3__tit txt-new1">STEP 03</p>
												<p class="step-style3__txt txt-new1">
													ลดขนาดจมูกโดยใช้กระดูกอ่อนของตนเอง<br> แทนวัสดุเทียม
												</p>
											</div>
											<div class="step-style3__box type-half">
												<p class="step-style3__tit txt-new1">STEP 03</p>
												<p class="step-style3__txt txt-new1">
                                                    กรณีจมูกแบน มีโอกาสสูงที่จมูกจะกลับมาแบนอีก
                                                    จึงต้องใส่ซิลิโคนเข้าไปป้องกันปัญหานั้น
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">
									แก้ไขจมูกงุ้ม
								</h5>
								<p class="new-explan__txt txt-new1">
									จมูกงุ้มจะแบ่งเป็น 2 ประเภท คือ จมูกงุ้มที่เกิดกับจมูกที่สันจมูกสูงและสันจมูกต่ำ<br class="hidden-tm">
									ทั้งสองกรณี<span class="color-black1">ต้องแก้ไขที่ความงุ้มของจมูกก่อน หลังจากนั้นจึงค่อยใส่ซิลิโคนเพื่อเพิ่มความสูงสันจมูก</span>
								</p>
							</div>
						</li>
						<li class="new-explan__item type-wide">
							<div class="new-explan__img">
								<img src="../../images/nose/noseman/noseman_img_8.jpg" loading="lazy" alt="การแก้ไขจมูกเบี้ยว" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">
									การแก้ไขจมูกเบี้ยว
								</h5>
								<p class="new-explan__txt txt-new1">
									ผู้ชายมีอัตราจมูกเบี้ยวที่สูงกว่าผู้หญิง เพราะโดยปกติกระดูกผู้ชายจะมีพัฒนาการที่สูงกว่ากระดูกผู้หญิงและเห็นร่องรอยจากภายนอกได้ชัดกว่า การแก้ไขพื้นฐานจมูกจากด้านในจึงสำคัญกว่าแก้ไขรูปลักษณ์ภายนอก<span class="color-black1">การใช้วิธีแก้ไขที่ผสมผสานกันจะสามารถแก้ไขการเบี้ยวของโครงสร้างเซลล์ภายในจมูก รวมไปถึงการใช้กล้ามเนื้อใบหน้าได้</span>
								</p>
							</div>
						</li>
					</ul>
				</div>

			</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-nose">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง 30 นาที ~ 2 ชั่วโมง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยานอนหลับ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
										<p class="operation-v2__txt txt-new1">เอาออกประมาณ 7 วันหลังผ่าตัด</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
										<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 2 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 5~7 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-nose">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									ระหว่างที่กำลังฟื้นตัวจากยาหลังผ่าตัด อาจรู้สึกแปลกเล็กน้อย <br>
									ในช่วงแรกอาจรู้สึกเจ็บเล็กน้อย สามารถบรรเทาได้ด้วยยาที่ทางโรงพยาบาลสั่งให้และเมื่อเวลาผ่านไปอาการเหล่านั้นจะค่อยๆหายไป<br>
									อาจรู้สึกเจ็บแปลบๆได้ในช่วงตัดไหมหรือการทำความสะอาดแผล<br>
									หากรู้สึกร้อนที่ใบหน้า ให้ประคบด้วยความเย็น
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>ดูข้อควรระวังหลังผ่าตัด</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
