<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-case">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">พื้นฐานเดิมแตกต่างกันขนาดไหน, เทคนิคการศัลยกรรมก็มีหลากหลาย</p>
				<h3 class="content-visual__tit">#การศัลยกรรมจมูก<span class="color-nose8">สำหรับจมูกทุกรูปแบบ</span></h3>
				<p class="content-visual__txt2">เราทุ่มเทเพื่อแก้ปัญหาจมูกทุกรูปแบบ</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content">
	    <div class="content-wrap">
	        <div class="content-section type-case">
	            <div class="nose-case__wrap">
	                <div class="content-tab">
	                    <div class="content-tab__inner">
	                        <ul class="content-tab__list">
	                            <li class="content-tab__item is-active"><a href=""  class="content-tab__link" data-tab="page-hooked">ศัลยกรรมตัด<br class="hidden-pt"> / ตกแต่งฮัมพ์จมูก</a></li>
	                            <li class="content-tab__item"><a href=""  class="content-tab__link" data-tab="page-arrow">การศัลยกรรมแก้ไขจมูกรูปลูกศร<br class="hidden-pt"> / จมูกยาว</a></li>
	                            <!--<li class="content-tab2__item"><a href=""  class="content-tab__link" data-tab="page-upturn">들창코 / 짧은 코 성형</a></li>
	                            <li class="content-tab2__item"><a href=""  class="content-tab__link" data-tab="page-bend">휜 코 교정술</a></li>-->
	                        </ul>
	                    </div>
	                </div>

	                <div class="content-tab__page page-hooked is-active">
	                    <div class="content-box__box">
	                        <div class="casetype-box1">
	                            <div class="casetype-box1__wrap">
	                                <div class="casetype-box1__box type-hawk">
	                                    <h4 class="casetype-box1__tit">ศัลยกรรมตัด<br> / ตกแต่งฮัมพ์จมูก</h4>
	                                    <p class="casetype-box1__txt">การตัดฮัมพ์ เป็นเพียง1ในวิธีการศัลยกรรมเท่านั้น</p>
	                                    <div class="casetype-box1__bracket">
	                                        หลักสำคัญในการศัลยกรรมจมูกที่มีฮัมพ์ก็คือ<br>
	                                        <span>การหาเทคนิคศัลยกรรมที่เหมาะสม</span>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="casetype-box1__bg">
	                                <div class="comparison">
	                                    <ul class="comparison__list">
	                                        <li class="comparison__item nth-1">
	                                            <span class="comparison__subject">before</span>
	                                        </li>
	                                        <li class="comparison__item nth-2">
	                                            <span class="comparison__subject">after</span>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div><!--//casetype-box1-->

	                        <div class="casetype-box2">
	                            <div class="quotation2">
	                                <p class="quotation2__txt txt-v5">
	                                    คำวินิจฉัยที่ถูกต้องและการศัลยกรรมที่เหมาะสม
	                                    จะช่วย<span class="color-nose6">ป้องกันไม่ให้ฮัมพ์เกิดขึ้นมาใหม่หลังผ่าตัดได้</span>
	                                </p>
	                            </div>
	                        </div>
	                        <div class="casetype-box3">
	                            <ul class="casetype-box3__list">
	                                <li class="casetype-box3__item nth-1">
	                                    <div class="casetype-box3__img nth-1"></div>
	                                </li>
	                                <li class="casetype-box3__item nth-2">
	                                    <p class="casetype-box3__txt txt-v1">
	                                        การศัลยกรรมฮัมพ์จมูก ไม่ใช่เพียงแค่การแก้ไขกระดูกที่ปูดออกมาตรงสันจมูกเท่านั้น
	                                        แต่วิธีการศัลยกรรมจะมีความหลากหลายตามปัญหาต่างๆของจมูก เช่น ขนาดและสาเหตุของฮัมพ์, ความกว้างของกระดูกจมูก, ความสูงและรูปร่างของปลายจมูก เป็นต้นถ้าหากศัลยกรรมโดยไม่คำนึงถึงปัญหาต่างๆอย่างถี่ถ้วน ผลลัพธ์หลังศัลยกรรมอาจมี สันจมูกต่ำไปแบนไป, มุมของสันจมูกแปลกไป หรืออาจเกิดปัญหาอื่นๆตามมาภายหลังได้
	                                        <strong class="content-highlight type-case">ด้วยประสบการณ์ที่โรงพยาบาลบาโนบากิสั่งสมมานาน ทำให้สามารถวินิจฉัยและคาดการณ์โอกาสการเกิดใหม่ของฮัมพ์ก่อนผ่าตัดได้อย่างแม่นยำ.</strong>
	                                        นอกจากนี้เรายังประเมินก่อนผ่าตัดว่าใช้วัสดุจากตัวคนไข้ หรือซิลิโคนเพื่อให้สันจมูกสูงขึ้น หรือ ทำให้สันจมูกแคบลงหลังกำจัดฮัมพ์ โดยหาเทคนิคศัลยกรรมที่เหมาะสมกับเคสก่อนจะเริ่มผ่าตัด
	                                        เพราะเหตุนี้จึงทำให้ได้รูปทรงจมูกที่เข้ากับแต่ละท่านและมีรูปทรงที่สวยงาม
	                                    </p>
	                                </li>
	                            </ul>
	                        </div>

	                        <div class="list-box type-nose">
	                            <div class="list-box__box">
	                                <div class="list-box__wrap">
	                                    <div class="list-box__vertical">
	                                        <h5 class="list-box__tit tit-v3">
	                                            ของ
	                                            การศัลยกรรมจมูก<br class="hidden-tm">
	                                            <strong>POINT</strong>
	                                        </h5>
	                                    </div>
	                                </div>
	                            </div>
	                            <ul class="list-box__list">
	                                <li class="list-box__item txt-v3">เหลาฮัมพ์ที่เป็นสาเหตุของทรงจมูกที่ดูดุและแข็ง ให้ได้ทรงจมูกที่ดูละมุนขึ้น </li>
	                                <li class="list-box__item txt-v3">ทำปลายจมูกที่ตก ให้โด่งขึ้น</li>
	                                <li class="list-box__item txt-v3">แก้ไขรูปทรงจมูกด้วยเทคนิคที่หลากหลาย</li>
	                            </ul>
	                        </div>
	                    </div>

						<!-- operation -->
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
										<!-- <p class="operation-v2__subtit">การศัลยกรรมฮัมพ์จมูกมีระยะพักฟื้นที่ค่อนข้างสั้น</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง 30 นาท ี~ 2 ชั่วโมง</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
													<p class="operation-v2__txt txt-new1">ยานอนหลับ/ยาชาเฉพาะที่</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
													<p class="operation-v2__txt txt-new1">เอาออกประมาณ 5 วันหลังผ่าตัด</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">อุปกรณ์ที่ใช้ในการผ่าตัด</h5>
													<p class="operation-v2__txt txt-new1">กระดูกก้นกบ, ซิลิโคน ฯลฯ</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 2 ครั้ง</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 5~7 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">square</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">square</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												ใช้<span class="color-nose7">ยานอนหลับ</span>ในการผ่าตัด จึงไม่จำเป็นต้องกังวลเรื่องความเจ็บ<br>
												หลังจากยาคลายตัว อาจรู้สึกเจ็บแปลบๆ เล็กน้อยได้<br>
												สำหรับท่านที่รู้สึกไม่สะดวกสบายมากๆ สามารถทานยาแก้ปวดปริมาณตามที่แพทย์แนะนำ<br>
												หากรู้สึกว่าบริเวณที่ผ่าตัดมีอุณหภูมิสูง การประคบเย็นจะช่วยบรรเทาได้<br>
												Rapid heling project ของเรา สามารถช่วยให้ระยะพักฟื้นสั้นลงได้<br>
												จนกว่าซิลิโคนจะอยู่ตัวดี ต้องหลีกเลี่ยงกิจกรรมที่ก่อให้เกิดการกระแทก
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
												<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	                </div><!-- //content-tab__page-->
	                <!-- //ศัลยกรรมตัด/ตกแต่งฮัมพ์จมูก -->

	                <div class="content-tab__page page-arrow">
	                    <div class="content-box__box">
	                        <div class="casetype-box1 type-arrow">
	                            <div class="casetype-box1__wrap">
	                                <div class="casetype-box1__box">
	                                    <h4 class="casetype-box1__tit">การศัลยกรรมแก้ไขจมูกรูปลูกศร<br> / จมูกยาว</h4>
	                                    <div class="casetype-box1__bracket">
	                                        ถึงแม้จะเป็นการศัลยกรรมประเภทเดียวกัน แต่การศัลยกรรมนั้น<br>
	                                        ขึ้นอยู่ที่<span>คำวินิจฉัยของแพทย์</span>
	                                        เพื่อผลลัพธ์ที่น่าพอใจ
	                                    </div>
	                                    <p class="casetype-box1__txt">ทำให้ปลายจมูกและองศาของจมูกดูสวยสมบูรณ์</p>
	                                </div>
	                            </div>
	                            <div class="casetype-box1__bg">
	                                <div class="comparison">
	                                    <ul class="comparison__list">
	                                        <li class="comparison__item nth-3">
	                                            <span class="comparison__subject">before</span>
	                                        </li>
	                                        <li class="comparison__item nth-4">
	                                            <span class="comparison__subject">after</span>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div><!--//casetype-box1-->
	                        <div class="casetype-box2">
	                            <div class="quotation2">
	                                <p class="quotation2__txt txt-v5">
	                                    ต้องเข้าใจถึง<span class="color-nose6">มุมและสัดส่วน</span>จมูกก่อนที่จะประเมินถึงความยาวของจมูก
	                                </p>
	                            </div>
	                        </div>
	                        <div class="casetype-box3">
	                            <ul class="casetype-box3__list">
	                                <li class="casetype-box3__item nth-1">
	                                    <div class="casetype-box3__img nth-2"></div>
	                                </li>
	                                <li class="casetype-box3__item nth-2">
	                                    <p class="casetype-box3__txt txt-v1">
	                                        “จมูกรูปลูกศร” คือจมูกที่มีลักษณะยาวเกินไป เมื่อเทียบกับสัดส่วนของใบหน้า และปลายจมูกมีลักษณะตกลง
	                                        ซึ่งสามารถแก้ไขได้อย่างง่ายโดยการตัดกระดูกอ่อนปลายจมูกเพื่อลดความยาวปลายจมูกลงหรือดึงปลายจมูกให้สูงขึ้น<br><br>

	                                        ความยาวจมูกจะยังคงเหมือนเดิมแต่มุมระหว่างร่องเหนือริมฝีปากและบริเวณใต้จมูกจะดูเปลี่ยนแปลงเนื่องจากองศาที่เปลี่ยนไป.<strong class="content-highlight type-case">สุดท้ายแล้วไม่ว่าจะเป็นการลดความยาวของจมูกหรือการดึงปลายจมูกให้สูงขึ้น ศัลยแพทย์จะประเมินรูปทรงที่เหมาะสมกับคนไข้ท่านนั้นๆ</strong>ซึ่งถือว่าเป็นสิ่งสำคัญที่สุด นี่จึงเป็นสิ่งที่บาโนบากิภูมิใจอย่างหนึ่ง ถึงผลงานด้านความงามที่สั่งสมประสบการณ์มานาน
	                                    </p>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="list-box type-nose">
	                            <div class="list-box__box">
	                                <div class="list-box__wrap">
	                                    <div class="list-box__vertical">
	                                        <h5 class="list-box__tit tit-v3">
	                                            ของ
	                                            การศัลยกรรมจมูก<br class="hidden-tm">
	                                            <strong>POINT</strong>
	                                        </h5>
	                                    </div>
	                                </div>
	                            </div>
	                            <ul class="list-box__list">
	                                <li class="list-box__item txt-v3">ประเมินองศาตั้งแต่ร่องเหนือริมฝีปากจนถึงใต้จมูกอย่างเหมาะสม</li>
	                                <li class="list-box__item txt-v3">เน้นการแก้ไขจมูกยาวโดยดูความสมส่วนของอัตรส่วนบนใบหน้าเพื่อรูปลักษณ์ที่ดูอ่อนวัยลง</li>
	                                <li class="list-box__item txt-v3">ดึงปลายจมูกที่ตกลงให้ดูสูงขึ้น</li>
	                            </ul>
	                        </div>
	                    </div>

						<!-- operation -->
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
										<!-- <p class="operation-v2__subtit">การศัลยกรรมแก้ไขจมูกรูปลูกศร/จมูกยาวมีระยะพักฟื้นที่ค่อนข้างสั้น</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง 30 นาที ~ 2 ชั่วโมง</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
													<p class="operation-v2__txt txt-new1">ยานอนหลับ</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
													<p class="operation-v2__txt txt-new1">เอาออกประมาณ 5 วันหลังผ่าตัด</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">อุปกรณ์ที่ใช้ในการผ่าตัด</h5>
													<p class="operation-v2__txt txt-new1">ไม่จำเป็น</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 2 ครั้ง</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
													<p class="operation-v2__txt txt-new1">ประมาณ 5~7 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">square</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">square</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												ใช้<span class="color-nose7">ยานอนหลับ</span>ในการผ่าตัด จึงไม่จำเป็นต้องกังวลเรื่องความเจ็บ<br>
												หลังจากยาคลายตัว อาจรู้สึกเจ็บแปลบๆ เล็กน้อยได้<br>
												สำหรับท่านที่รู้สึกไม่สะดวกสบายมากๆ สามารถทานยาแก้ปวดปริมาณตามที่ร้านขายยาออกให้ได้<br>
												หากรู้สึกว่าบริเวณที่ผ่าตัดมีอุณหภูมิสูง การประคบเย็นจะช่วยบรรเทาได้<br>
												Rapid heling project ของเรา สามารถช่วยให้ระยะพักฟื้นสั้นลงได้<br>
												จนกว่าซิลิโคนจะอยู่ตัวดี ต้องหลีกเลี่ยงกิจกรรมที่ก่อให้เกิดการกระแทก
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
												<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	                </div><!-- //content-tab__page-->
	                <!-- //การศัลยกรรมแก้ไขจมูกรูปลูกศร/จมูกยาว -->

	                <div class="content-tab__page page-upturn low">
	                    <div class="content-box__box">
	                        <div class="casetype-box1 type-low">
	                            <div class="casetype-box1__wrap">
	                                <div class="casetype-box1__box">
	                                    <h3 class="casetype-box1__tit">들창코 / 짧은 코 성형</h3>
	                                    <p class="casetype-box1__txt2">
	                                        철저한 계산으로 무리 없이 곧게 늘려줍니다<br>
	                                        그래서 <strong>더 안전하고 자연스럽습니다</strong>
	                                    </p>
	                                </div>
	                            </div>
	                            <div class="casetype-box1__bg">
	                                <div class="comparison type-low">
	                                    <ul class="comparison__list">
	                                        <li class="comparison__item nth-5">
	                                            <span class="comparison__subject">before</span>
	                                        </li>
	                                        <li class="comparison__item nth-6">
	                                            <span class="comparison__subject">after</span>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div><!--//casetype-box1-->
	                        <div class="casetype-box2">
	                            <div class="quotation2">
	                                <p class="quotation2__txt txt-v5">
	                                    인위적이기 때문에 부작용이 생기는 것입니다.<br class="hidden-pt">
	                                    <span class="inline-block"><span class="color-nose6">뼈와 피부의 자연스러움을 계산</span>할 수 있는<br class="hidden-pt"> 안목과 기술이 필요합니다.</span>
	                                </p>
	                            </div>
	                        </div>
	                        <div class="casetype-box3">
	                            <ul class="casetype-box3__list">
	                                <li class="casetype-box3__item nth-1">
	                                    <div class="casetype-box3__img nth-3"></div>
	                                </li>
	                                <li class="casetype-box3__item nth-2">
	                                    <p class="casetype-box3__txt txt-v1">
	                                        코가 짧은 들창코는 교정하기 까다로운 케이스로 인식됩니다. 있는 것을 교정하는 것이 아닌, 없는 것을 새로 만들어야
	                                        하는 수술이기 때문이죠. 이런 수술은 자칫 잘못 접근하게 되면 자연스럽지 못한 결과를 얻게 되거나 재발 위험 등의
	                                        부작용이 있습니다. <br><br>


	                                        그렇기 때문에  <strong class="content-highlight type-case">들창코 / 짧은 코 성형은 다년간 쌓아온 수술 경험을 토대로 한 철저한 계산과 세밀한 수술이
	                                        필요합니다.</strong>  코 길이 연장에 필요한 자가연골이나 비중격 연골을 적합한 크기로 잘라 뼈의 부담을 줄이고, 피부의
	                                        당김 정도까지 계산해 길이를 맞춰야 합니다. 그렇게 해야 코 끝이 틀어지거나 이전의 형태로 돌아가는 것을 막을 수
	                                        있습니다. 이런 체계적인 계산으로 진행됐기에 더욱 자연스럽고 안전합니다.
	                                    </p>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="list-box">
	                            <div class="list-box__box">
	                                <div class="list-box__wrap">
	                                    <div class="list-box__vertical">
	                                        <h3 class="list-box__tit tit-v3">
	                                            코성형<br class="hidden-m">
	                                            <strong>POINT</strong>
	                                        </h3>
	                                    </div>
	                                </div>
	                            </div>
	                            <ul class="list-box__list">
	                                <li class="list-box__item txt-v3">짧은 길이의 코를 시원한 느낌으로 연장</li>
	                                <li class="list-box__item txt-v3">콧구멍의 노출을 줄여 단정한 이미지 강조</li>
	                                <li class="list-box__item txt-v3">섬세한 연장으로 자연스러움 추구</li>
	                            </ul>
	                        </div>
	                    </div>

						<!-- operation -->
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h3 class="operation-v2__tit">ข้อมูลการผ่าตัด</h3>
										<!-- <p class="operation-v2__subtit">들창코 / 짧은 코 성형은 회복이 비교적 빠릅니다</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h4 class="operation-v2__subject txt-new2">ระยะเวลาผ่าตัด</h4>
													<p class="operation-v2__txt txt-new1">약 1시간 30분~ 2시간</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h4 class="operation-v2__subject txt-new2">วิธีวางยาชา</h4>
													<p class="operation-v2__txt txt-new1">정맥마취</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h4 class="operation-v2__subject txt-new2">ตัดไหม</h4>
													<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
												</div>
											</li>
											<li class="operation-v2__item nth-4 js-op-height">
												<div class="operation-v2__box">
													<h4 class="operation-v2__subject txt-new2">วัสดุที่ใช้ในการศัลยกรรม</h4>
													<p class="operation-v2__txt txt-new1">당일 귀가</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h4 class="operation-v2__subject txt-new2">เช็คอัพหลังผ่าตัด</h4>
													<p class="operation-v2__txt txt-new1">약 2회</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h4 class="operation-v2__subject txt-new2">ระยะพักฟื้น</h4>
													<p class="operation-v2__txt txt-new1">
														약 1일 후 일상생활 가능
													</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h3 class="pain-v2__tit txt-new2">ระดับความเจ็บปวดหลังการผ่าตัด</h3>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">원</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">원</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												정맥마취로 인한 통증 걱정은 줄였습니다.<br>
												마취가 풀리면서 욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다.<br>
												많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 이후 약국에서 파는 진통제 정도로 제어할 수 있습니다.<br>
												열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다.<br>
												래피드 힐링 프로젝트를 통해 비교적 빠른 회복이 가능합니다.<br>
												보형물이 자리 잡을 때까지 충격을 주지 않는 것이 중요합니다.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากแบบสอบถามจริงของคนไข้ที่ได้รับการผ่าตัด</p>
												<p class="pain-v2__noti txt-new4">* ผลการผ่าตัดของแต่ละคนอาจแตกต่างกันไป</p>
											</div>
											<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	                </div><!-- //content-tab__body-->
	                <!-- //들창코 / 짧은 코 성형 -->

	                <div class="content-tab__page page-bend bend">
	                    <div class="content-box__box">
	                        <div class="casetype-box1 type-bend">
	                            <div class="casetype-box1__wrap">
	                                <div class="casetype-box1__box">
	                                    <h3 class="casetype-box1__tit">휜 코 교정술</h3>
	                                    <p class="casetype-box1__txt2">
	                                        <strong class="color-nose6">코의 기능적 문제</strong>를 본질적으로 바로잡는다면<br>
	                                        모양은 저절로 아름다워집니다.
	                                    </p>
	                                </div>
	                            </div>
	                            <div class="casetype-box1__bg">
	                                <div class="comparison type-bend">
	                                    <ul class="comparison__list">
	                                        <li class="comparison__item nth-7">
	                                            <span class="comparison__subject">before</span>
	                                        </li>
	                                        <li class="comparison__item nth-8">
	                                            <span class="comparison__subject">after</span>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div><!--//casetype-box1-->
	                        <div class="casetype-box2">
	                            <div class="quotation2">
	                                <p class="quotation2__txt txt-v5">
	                                    복잡한 코의 내부까지 교정하는 것은<br class="hidden-pt"> 까다롭습니다.<br class="hidden-m"> 하지만 <span class="color-nose6">근본적인<br class="hidden-pt"> 문제 해결</span>을 위해 반드시 해야 합니다.
	                                </p>
	                            </div>
	                        </div>
	                        <div class="casetype-box3">
	                            <ul class="casetype-box3__list">
	                                <li class="casetype-box3__item nth-1">
	                                    <div class="casetype-box3__img nth-4"></div>
	                                </li>
	                                <li class="casetype-box3__item nth-2">
	                                    <p class="casetype-box3__txt txt-v1">
		                                    휜 코를 겉만 바르게 돌리려는 것은 의미가 없습니다. 대부분의 경우, 휜 코는 내부를
		                                    구성하는 조직들이 전체적으로 함께 휘어져 있기 때문입니다. 그래서 휜 코는 외형적인 콤플렉스뿐만 아니라
		                                    기능적인 문제를 동반하기도 합니다.<br><br>


		                                    특히 비중격이 심하게 휘어있을 경우에는 코막힘, 비염, 코골이, 편두통 등을 유발하는데요, 이를 바로잡기 위해서는
		                                    <strong class="content-highlight type-case">초기 진단 과정에서 코의 내부를 정확히 파악하고 비중격 성형술이나내-외측 절골술, 외측연골 교정 등
		                                    복합적인 수술을 상태에 맞게 진행하는 것이 중요합니다. </strong>
		                                    건물을 바로 세우듯이 코의 기본 뼈대와 구성 조직을 반듯하게 하는 것이죠. 물론 이런 내부 조직의 복합적인 수술을
		                                    정밀하게 진행하기 위해서는 고도의 전문성과 경험을 갖춘 의사가 집도해야 합니다. 
	                                    </p>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="list-box">
	                            <div class="list-box__box">
	                                <div class="list-box__wrap">
	                                    <div class="list-box__vertical">
	                                        <h3 class="list-box__tit tit-v3">
	                                            코성형<br class="hidden-m">
	                                            <strong>POINT</strong>
	                                        </h3>
	                                    </div>
	                                </div>
	                            </div>
	                            <ul class="list-box__list">
	                                <li class="list-box__item txt-v3">코의 구조적 바탕을 교정하여 코의 기능을 원활하게</li>
	                                <li class="list-box__item txt-v3">얼굴의 전체적인 휘어짐과 근육의 발달을 파악해 자연스럽고 곧은 이미지 추구</li>
	                            </ul>
	                        </div>
	                    </div>

						<!-- operation -->
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h3 class="operation-v2__tit">ข้อมูลการผ่าตัด</h3>
										<!-- <p class="operation-v2__subtit">휜 코 교정술은 회복이 비교적 빠릅니다</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h4 class="operation-v2__subject txt-new2">ระยะเวลาผ่าตัด</h4>
													<p class="operation-v2__txt txt-new1">약 1시간 30분~ 2시간</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h4 class="operation-v2__subject txt-new2">วิธีวางยาชา</h4>
													<p class="operation-v2__txt txt-new1">전신마취</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h4 class="operation-v2__subject txt-new2">ตัดไหม</h4>
													<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h4 class="operation-v2__subject txt-new2">วัสดุที่ใช้ในการศัลยกรรม</h4>
													<p class="operation-v2__txt txt-new1">실리콘 등</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h4 class="operation-v2__subject txt-new2">เช็คอัพหลังผ่าตัด</h4>
													<p class="operation-v2__txt txt-new1">약 2회</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h4 class="operation-v2__subject txt-new2">ระยะพักฟื้น</h4>
													<p class="operation-v2__txt txt-new1">
														약 1일 후 일상생활 가능
													</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h3 class="pain-v2__tit txt-new2">ระดับความเจ็บปวดหลังการผ่าตัด</h3>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">원</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">원</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												정맥마취로 인한 통증 걱정은 줄였습니다.<br>
												마취가 풀리면서 욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다.<br>
												많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 이후 약국에서 파는 진통제 정도로 제어할 수 있습니다.<br>
												열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다.<br>
												래피드 힐링 프로젝트를 통해 비교적 빠른 회복이 가능합니다.<br>
												보형물이 자리 잡을 때까지 충격을 주지 않는 것이 중요합니다.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากแบบสอบถามจริงของคนไข้ที่ได้รับการผ่าตัด</p>
												<p class="pain-v2__noti txt-new4">* ผลการผ่าตัดของแต่ละคนอาจแตกต่างกันไป</p>
											</div>
											<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	                <!-- //휜 코 -->
	                </div><!-- //content-tab__page-->
	            </div>
	        </div>
	    </div>
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
