<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-nose">
		<div class="content-visual__box">
			<p class="content-visual__txt1">พื้นฐานสำคัญของการศัลยกรรมจมูก</p>
			<h3 class="content-visual__tit">#การศัลยกรรม<span class="color-nose5">จมูกที่แบน</span></h3>
			<p class="content-visual__txt2">เพื่อสันจมูกที่โด่งขึ้น</p>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
			<div class="low-box1">
				<div class="content-section type-first">
					<div class="content-section__wrap type-left type-unique">
						<div class="content-section__box w-5 type-nose">
							<div class="nose-side__img">
								<h4 class="content-section__tit type-left">
									<span class="content-section__number type-0"><span class="content-section__number-wrap">01</span></span>
	                                ต้องทราบเหตุผลอย่างแน่ชัดก่อน
	                                จึงจะสามารถ
									ทำ<strong class="color-nose5">ศัลยกรรมอย่างตรงจุด</strong>ได้
								</h4>
								<p class="content-section__txt1 type-special">
									<strong>ทำไมคนถึงนิยมสันจมูกที่โด่งกันนะ</strong><br>
									เพราะว่าจมูกอยู่ในตำแหน่งจุดศูนย์กลางของใบหน้า จึงเป็นจุดที่โดดเด่นสะดุดตา
								</p>
								<div class="quotation2 type-another tit-v4">

									ตามที่กล่าวข้างต้น
									<span class="color-nose5">มิติของใบหน้า</span> และ <span class="color-nose5">ภาพลักษณ์</span>
									จะเปลี่ยนแปลงตามความสูงของจมูก

								</div>
							</div>
							<p class="content-section__txt1">
	                            ถ้าจมูกโด่ง จะส่งผลให้หน้าดูมีมิติ และใบหน้าดูเล็กลงได้,  และส่งเสริมให้ภาพลักษณ์ดูโดดเด่นขึ้น. เพราะเหตุนี้ ท่านที่สันจมูกแบน จึงมีความต้องการที่จะเปลี่ยนภาพลักษณ์โดยการทำให้สันจมูกโด่งขึ้น.
	                            การศัลยกรรมจมูกของบาโนบากิ มีเป้าหมายเพื่อเปลี่ยนจมูกที่แบน ให้โด่งขึ้นก็จริง แต่เราไม่ได้คำนึงถึงแค่การทำสันจมูกให้สูงขึ้นเพียงอย่างเดียวเท่านั้น
							</p>
							<!-- pc -->
							<p class="content-section__txt2">
								<span class="content-highlight type-nose"><span class="color-nose5">พื้นฐานของการศัลยกรรมจมูกของบาโนบากิ</span> คือการเข้าใจถึงสาเหตุอย่างลึกซึ้ง ว่าทำไมต้องทำให้โด่ง, ต้องทำโด่งแค่ไหน, ใช้วัสดุประเภทไหนในการทำ และเลือกการศัลยกรรมที่เหมาะสมแม่นยำ</span>
							</p>
						</div>
						<div class="content-section__box w-7 hidden-tm type-nose">
							<div class="content-section__img type-nose1">
								<img src="../../images/nose/nose_low_img02.jpg" loading="lazy" alt="" class="">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="low-box2">
				<div class="content-section type-number">
					<h4 class="content-section__tit type-center">
						<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
						ไม่มีคำว่าจมูกแบนใน<span class="content-highlight2 type-nose">สารระบบ</span>ของบาโนบากิ
					</h4>
					<div class="content-section__wrap">
						<div class="content-section__box w-6">
							<div class="content-section__img type-nose1">
								<img src="../../images/nose/nose_low_img03.jpg" loading="lazy" alt="" class="">
							</div>
						</div>
						<div class="content-section__box w-6 type-another">
							<div class="brace type-nose">
								<h5 class="brace__tit"><span class="color-nose5">ความหลากหลาย</span> ของการศัลยกรรมจมูกของบาโนบากิ</h5>
								<p class="brace__txt">เพื่อจมูกที่สวย และเข้ากับใบหน้ามากยิ่งขึ้น<br class="hidden-m">จึงผสมผสานเทคนิคที่หลากหลาย เพื่อแก้ไขจมูกอย่างตรงจุด</p>
							</div>
							<p class="content-section__txt1">
								<strong>การนิยามวิธีศัลยกรรมจมูกของบาโนบากิว่าเป็นรูปแบบใดรูปแบบหนึ่งนั้น ค่อนข้างยาก</strong><br>
								วิธีการศัลยกรรม, วัสดุที่ใช้, ข้อจำกัดในการศัลยกรรม ล้วนแตกต่างออกไปแล้วแต่พื้นเดิมของคนไข้ การศัลยกรรมของเราจึงไม่ได้มีวิธีการที่ตายตัว จะเป็นการผสมผสานเทคนิคที่หลากหลาย ซึ่งประเมินจากใบหน้าคนไข้และข้อมูลหลังการปรึกษา
							</p>
							<p class="content-section__txt2">
								<span class="content-highlight type-nose"><span class="color-nose5">ปัจจัยสำคัญในการศัลยกรรมจมูกของบาโนบากิ</span>ก็คือ  การออกแบบจมูกที่เหมาะสมกับคณไข้ และยังคงไว้ซึ่งเอกลักษณ์เฉพาะของคนนั้นๆไว้อยู่</span>
							</p>
						</div>
					</div>
					<ul class="nose-detail__list">
						<li class="nose-detail__item nth-1">
							<div class="nose-detail__wrap">
								<h6 class="nose-detail__tit tit-v2">ศัลยกรรมเสริมจมูก</h6>
								<p class="nose-detail__txt txt-v5">
	                                ศัลยกรรมเพิ่มความสูงจมูกโดยใส่ใจตั้งแต่หว่างคิ้วจนถึงปลายจมูก
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-2">
							<div class="nose-detail__wrap">
								<h6 class="nose-detail__tit tit-v2">ศัลยกรรมปลายจมูก</h6>
								<p class="nose-detail__txt txt-v5">
	                                เป็นวิธีศัลยกรรมที่ช่วยเพิ่มมิติให้ใบหน้าด้วยการตกแต่งปลายจมูกให้เรียวสวยงาม
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-3">
							<div class="nose-detail__wrap">
								<h6 class="nose-detail__tit tit-v2">ปรับขนาดปีกจมูก</h6>
								<p class="nose-detail__txt txt-v5">
	                                ลดขนาดปีกจมูกและทรงรูจมูกให้
	                                เล็กลงโดยคำนึงถึงความสมดุลของ
	                                จมูกและใบหน้า
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-4">
							<div class="nose-detail__wrap">
								<h6 class="nose-detail__tit tit-v2">แก้ไขฮัมพ์</h6>
								<p class="nose-detail__txt txt-v5">
	                                ทำให้เส้นสันจมูกดูเรียบตรงและนุ่มนวลเพื่อความสวยงาม รวมถึงการปรับโครงสร้างเพื่อให้หายใจได้สะดวกมากยิ่งขึ้น
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-5">
							<div class="nose-detail__wrap">
								<h6 class="nose-detail__tit tit-v2">แก้ไขจมูกเบี้ยว</h6>
								<p class="nose-detail__txt txt-v5">
	                                แก้ไขปัญหาจมูกเบี้ยวด้วยเทคนิคที่หลากหลาย เพื่อจมูกที่ตรงสวยและเข้ากับรูปหน้า
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-6">
							<div class="nose-detail__wrap">
								<h6 class="nose-detail__tit tit-v2">ศัลยกรรมเสากลางจมูก</h6>
								<p class="nose-detail__txt txt-v5">
	                                เสากั้นกลางจมูกคือส่วนที่อยู่ตรงกลางระหว่างรูจมูก,
	                                ซึ่งสามารถปรับเปลี่ยนรูปร่างได้ตามความเหมาะสม
	                                โดยวัดจากร่องเหนือริมฝีปากและปีกจมูก
	                                เวลามองมุมข้างเป็นเกณฑ์
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-7">
							<div class="nose-detail__wrap">
								<h6 class="nose-detail__tit tit-v2">ลดฐานจมูก</h6>
								<p class="nose-detail__txt txt-v5">
	                                ช่วยให้เห็นสันจมูกที่เด่นชัดยิ่งขึ้น ด้วยการลดความกว้างของกระดูกฐานจมูกทั้ง 2ด้าน
								</p>
							</div>
						</li>
					</ul>
					<!-- //nose-detail__list -->
				</div>
			</div>
			<div class="low-box3">
				<div class="content-section type-full type-number">
					<div class="content-section__wrap type-nose1">
						<div class="content-section__box w-5 type-another type-nose">
							<h4 class="content-section__tit type-top">
								<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
								<strong class="color-nose5">เน้นทรงจมูกที่เหมาะสมกับเรา</strong>
								ดีกว่าเน้นแค่ความโด่ง หรือเน้นแค่ทรงที่สวย
							</h4>
							<p class="content-section__sub-tit">
	                            มุมหน้า, มุมข้าง,
	                            ไม่ว่าจะมองจากมุมไหน ก็สวย
							</p>
							<p class="content-section__txt1">
								การศัลยกรรมจมูกนั้น สิ่งแรกที่คำนึงถึงคือ ความสูงของสัน และความสวยงามของจมูก และที่สำคัญต้องเป็นจมูกที่เข้ากับตัวเรา
								ดังนั้น<span class="color-nose5">การศัลยกรรมจมูกของบาโนบากิ จึงไม่ได้คำนึงถึงแค่จมูกส่วนเดียว</span>
								เราจะคำนึงถึงองศาของจมูก โดยประเมินตั้งแต่หน้าผากจนถึงคางเพื่อรูปทรงที่สวยและเป็นธรรมชาติ
							</p>
						</div>
						<div class="content-section__box hidden-pt">
							<div class="content-section__img type-nose2"></div>
						</div>
					</div><!--content-section__wrap -->
					<div class="point-box">
						<div class="point-box__border">
							<ul class="point-box__list">
								<li class="point-box__item">
									<div class="point-box__img nth-1"></div>
								</li>
								<li class="point-box__item">
									<div class="point-box__wrap">
										<span class="point-box__number">Point 01</span>
										<h5 class="point-box__tit">ประณีตจนปลายจมูก</h5>
										<p class="point-box__txt txt-v5">
											รูปร่างลักษณะของปลายจมูกเป็นจุดสำคัญมากที่จะทำให้จมูกดี ปลายจมูกที่มนและโด่ง จะทำให้จมูกดูเป็นธรรมชาติและสวยยิ่งขึ้น
										</p>
									</div>
								</li>
								<li class="point-box__item">
									<div class="point-box__wrap">
										<span class="point-box__number">Point 02</span>
										<h5 class="point-box__tit">
	                                        พื้นฐานของจมูกที่เป็นธรรมขาติ
	                                        คือเข้าใจถึงวัสดุที่นำมาใช้ในการผ่าตัด
										</h5>
										<p class="point-box__txt txt-v5">
											เราสามารถเลือกใช้วัสดุและเทคนิคที่หลากหลาย ทั้งวัสดุจากตัวคนไข้อย่าง กระดูกอ่อนของตนเอง, เนื้อเยื่อกล้ามเนื้อ, การฉีดไขมัน หรือจะเป็นวัสดุเสริมอย่าง ซิลิโคน, กอร์เท็กซ์, กอร์ซิลิ ให้เหมาะสมกับผิวจมูก และรูปทรงจมูกของคนไข้ ด้วยเหตุนี้การศัลยกรรมจึงดำเนินการได้อย่างปลอดภัย และมีผลลัพธ์ที่เป็นธรรมชาติ
										</p>
									</div>
								</li>
								<li class="point-box__item">
									<div class="point-box__img nth-2"></div>
								</li>
								<li class="point-box__item">
									<div class="point-box__img nth-3"></div>
								</li>
								<li class="point-box__item">
									<div class="point-box__wrap">
										<span class="point-box__number">Point 03</span>
										<h5 class="point-box__tit">ความงามที่คำนึงถึงองศาและอัตราส่วน</h5>
										<p class="point-box__txt txt-v5">
											บาโนบากิ จะมีการคำนวณถึงระยะระหว่างหน้าผากและริมฝีปากอย่างละเอียด เพื่อองศาที่สวยงามของจมูกก่อนจะเริ่มการผ่าตัด
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- content-section -->


			</div>

			<!-- operation -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-nose">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">ข้อมูลการผ่าตัด</h4>
							<!-- <p class="operation-v2__subtit">การศัลยกรรมจมูก ระยะพักฟื้นสั้นมากๆ</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ระยะเวลาการผ่าตัด</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 1 ชั่วโมง ~ 1 ชั่วโมง 30 นาที</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">วิธีวางยา</h5>
										<p class="operation-v2__txt txt-new1">ยานอนหลับ</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">ตัดไหม</h5>
										<p class="operation-v2__txt txt-new1">เอาออกประมาณ 5 วันหลังผ่าตัด</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">นอนโรงพยาบาล</h5>
										<p class="operation-v2__txt txt-new1">กลับบ้านได้เลย</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">เช็คอัพ</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 2 ครั้ง</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">พักฟื้น</h5>
										<p class="operation-v2__txt txt-new1">ประมาณ 5~7 วันหลังทำ สามารถใช้ชีวิตประจำวันได้ตามปกติ</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-nose">
								<h5 class="pain-v2__tit txt-new2">ระดับอาการปวดหลังผ่าตัด</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									<span class="color-nose5">The Rapid Healing Project</span> จะช่วยให้การฟื้นตัวเป็นไปอย่างรวดเร็วยิ่งขึ้น<br>
									หลังจากยาชาคลายตัวแล้ว อาจจะรู้สึกถึงสิ่งแปลกปลอม<br>
									ช่วงแรกจะยังมีอาการเจ็บอยู่ หากทานยาตามใบสั่งยาที่รพ.จัดให้ จะช่วยบรรเทาอาการเจ็บลงได้<br>
									ตอนที่ตัดไหม หรือตอนล้างแผล อาจมีอาการเจ็บเล็กน้อย<br>
									หากรู้สึกว่าบริเวณที่ผ่าตัดมีความร้อน การประคบเย็นจะช่วยได้
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* เป็นค่าเฉลี่ยจากคนไข้ที่ได้รับการรักษาจริงที่ทำแบบสอบถามหลังการผ่าตัด</p>
									<p class="pain-v2__noti txt-new4">* อาจมีการเปลี่ยนแปลงไปตามแต่ละบุคคลควรใช้วิจารณญาณก่อน</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
		</div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //Container -->

<% include ../_include/_footer %>
