<%
	type = "detail"
	page = "nose"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="nose detail-common">
    <section class="fs_section noseFirst js-first" data-section-name="home">
        <div class="detail__inner">
            <div class="detail__vertical">
                <p class="detail__first-tit type-nose">
                    การรวมกันเป็นหนึ่งของใบหน้า, การรวมกันเป็นหนึ่งของซิลิโคน,
                    การรวมกันเป็นหนึ่งของวิธีผ่าตัด
                </p>
                <h3 class="detail__first-txt type-nose">
                    <strong class="detail__first-point">ศัลยกรรมให้ออกมาอย่างพอดี</strong><br>
                    ใส่ใจรายละเอียด <span class="color-nose1">ศัลยกรรมจมูก</span> บาโนบากิ
                </h3>
            </div>
        </div>
    </section>

    <section class="fs_section noseSection01" data-section-name="noseSection01">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-normal type-nose">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมจมูก,<br>
                        ที่บาโนบากิ
                        <span class="color-nose1">ทำอย่างนี้</span>
                    </h4>
                    <p class="detail__section-subtit">
                        ให้คำปรึกษาแบบ 1: 1 เพื่อคำนึงถึงภาพลักษณ์ของคนไข้ในทุกมุม
                    </p>
                    <p class="detail__section-txt">
                        แม้ว่าทรงจมูกจะสวยแค่ไหน แต่ก็อาจดูไม่เข้ากับใบหน้าได้ เป็นเพราะว่าจมูกนั้นอยู่ตรงกลางตำแหน่งของใบหน้า จึงสามารถมองเห็นตา ปาก โครงหน้าได้ชัดเจนตามไป ดังนั้นบาโนบากิจึงเน้นย้ำถึงความสำคัญในการทำศัลยกรรมจมูกเพื่อให้ออกมาได้สัดส่วนเหมาะสมกับใบหน้าของคนไข้
                        <span class="color-nose2">เราแนะนำสิ่งที่เหมาะสมให้ตรงกับความต้องการของคนไข้</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="fs_section noseSection02" data-section-name="noseSection02">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-nose type-wide type-quotation2">
                    <h4 class="detail__section-tit">
                            ศัลยกรรมจมูก,<br>
                        ที่บาโนบากิ
                        เรามีความ<span class="color-nose1">มั่นใจ</span>
                    </h4>
                    <p class="detail__section-subtit">วิธีการผ่าตัดที่หลากหลายพร้อมกับเทคนิคที่เป็นไปได้</p>
                    <p class="detail__section-txt">
                        มีหลายสิ่งที่ต้องพิจารณาในการทำจมูกให้ออกมาอย่างสวยงาม ทั้งความโด่ง ความยาว ลักษณะปลายจมูก ความกว้างของฐานกระดูก ผิวหนัง รูจมูก รวมไปถึงลักษณะซิลิโคน เป็นต้น ดังนั้นการศัลยกรรมจมูกที่มีความซับซ้อนนั้น จำเป็นต้องวางแผนให้ดี ด้วย<span class="color-nose3">ความรู้ประสบการณ์ที่สั่งสมมาหลายปี</span> ทำให้บาโนบากิ<span class="color-nose3">มีความชำนาญในการศัลยกรรมจมูก</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="fs_section noseSection03" data-section-name="noseSection03">
        <div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wide type-nose">
                    <h4 class="detail__section-tit">
                        ศัลยกรรมจมูก,<br>
                        ที่บาโนบากิ
                        <span class="color-nose1">มีความเชี่ยวชาญ</span>
                    </h4>
                    <p class="detail__section-subtit">การเลือกและการจัดวางวัสดุสำหรับการศัลยกรรมจมูกอย่างเป็นระบบ</p>
                    <p class="detail__section-txt">
                        ซิลิโคนกับวัสดุจากร่างกาย เป็นเรื่องยากที่จะบอกว่า อันไหนดีที่สุด เพราะปกติรูปทรงของจมูกและผิวหนังสามารถแตกต่างกันออกไปได้ ดังนั้นจะทำอย่างไรให้เหมาะสมกับจมูกนั้นสำคัญกว่าวัสดุที่<span class="color-nose2">ทีมศัลยแพทย์ผู้เชี่ยวชาญต่างเต็มไปด้วยประสบการณ์ในการเลือกใช้วัสดุ</span> ทำให้คนไข้คลายความกังวลและได้ผลออกมาอย่างสวยงาม
                    </p>
                </div>
                <!-- layer-doc4 -->
                <div class="layer-doc4 type-nose">
                    <ul class="layer-doc4__list">
                        <li class="layer-doc4__item nth-1">
                            <div class="layer-doc4__wrap">
                                <h5 class="layer-doc4__tit">วัสดุที่ใช้ในการศัลยกรรมจมูก</h5>
                            </div>
                        </li>
                        <li class="layer-doc4__item nth-2">
                            <div class="layer-doc4__wrap">
                                <h5 class="layer-doc4__tit">วัสดุจากร่างกาย</h5>
                                <p class="layer-doc4__txt">
                                    กระดูกอ่อนหลังหู, กระดูกอ่อนปลายจมูก, เนื้อผิวหนัง, ไขมัน เป็นต้น
                                </p>
                            </div>
                        </li>
                        <li class="layer-doc4__item nth-3">
                            <div class="layer-doc4__wrap">
                                <h5 class="layer-doc4__tit">วัสดุเทียม</h5>
                                <p class="layer-doc4__txt">
                                    ซิลิโคน, กอร์เท็กซ์ ฯลฯ
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- //layer-doc4 -->
            </div>
        </div>
    </section>

    <section class="fs_section noseSection04" data-section-name="noseSection04">
        <div class="detail__inner type-full">
            <div class="detail__popup type-nose">
                <div class="detail__popup-wrap">
                    <h5 class="detail__popup-tit">โปรเจค Rapid Healing</h5>
                    <p class="detail__popup-subtit">โปรแกรมฟื้นฟูให้อาการเจ็บ ช้ำ บวม ลดลงไป <span class="inline-block">ประมาน 30-50%</span></p>
                    <div class="detail__popup-scroll">
                        <ul class="detail__popup-list">
                            <li class="detail__popup-item nth-1">
                                <div class="detail__popup-box">
                                    <h6 class="detail__popup-subject">เทคนิคการผ่าตัดอย่างพิถีพิถัน</h6>
                                    <p class="detail__popup-txt">ด้วยประสบการณ์และเทคนิคการผ่าตัดขั้นสูงช่วยลดความเสียหายของเนื้อเยื่อและเลือดออกระหว่างผ่าตัด</p>
                                </div>
                            </li>
                            <li class="detail__popup-item nth-2">
                                <div class="detail__popup-box">
                                    <h6 class="detail__popup-subject">ดูแลด้วยยาหลังผ่าตัด</h6>
                                    <p class="detail__popup-txt">หลังจากเช็คผลตรวจของคนไข้ทำให้เราสามารถจัดยาสำหรับผู้ป่วยแต่ละรายให้หายได้เร็วขึ้น</p>
                                </div>
                            </li>
                            <li class="detail__popup-item nth-3">
                                <div class="detail__popup-box">
                                    <h6 class="detail__popup-subject">รักษาด้วยยาให้หายไวมากขึ้น</h6>
                                    <p class="detail__popup-txt">เป็นยาทานก่อน-หลังผ่าตัด เพื่อให้เลือดหมุนเวียนไหลได้ดี สามารถช่วยในเรื่องของอาการบวม ช้ำ ได้ด้วย</p>
                                </div>
                            </li>
                            <li class="detail__popup-item nth-4">
                                <div class="detail__popup-box">
                                    <h6 class="detail__popup-subject">Cica Bio Arnica Extractim Cream</h6>
                                    <p class="detail__popup-txt">ยาทาที่ช่วยลดอาการช้ำ บวม และบรรเทาอาการปวด</p>
                                </div>
                            </li>
                            <li class="detail__popup-item nth-5">
                                <div class="detail__popup-box">
                                    <h6 class="detail__popup-subject">คัมเลเซอร์</h6>
                                    <p class="detail__popup-txt">ใช้เลเซอร์ในการบรรเทาอาการปวด และมีคุณสมบัติช่วยลดอาการช้ำบวมเช่นกัน</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <a href="" class="detail__popup-close js-popup-close">ปิด</a>
                </div>
            </div>
            <div class="detail__section-wrap type-nose">
                <div class="detail__vertical">
                    <div class="detail__section-box type-wide type-right type-nose type-quotation2">
                        <h4 class="detail__section-tit">
                            ศัลยกรรมจมูก,<br>
                            บาโนบากิ
                            เรา<span class="color-nose4">ใส่ใจรายละเอียด</span>
                        </h4>
                        <p class="detail__section-subtit">โปรเจค Rapid Healing เพื่อการพักฟื้นตัวของผู้ป่วย</p>
                        <p class="detail__section-txt">
                            มีผู้คนที่กังวลเกี่ยวกับผลหลังศัลยกรรมจมูกจำนวนอย่างมาก
                            ทั้งในเรื่องความเจ็บปวด อาการบวม ช้ำ ระยะเวลาพักฟื้นต่างๆ
                            บาโนบากิเราเข้าใจถึงปัญหาที่คนไข้กังวล จึงได้คิดค้น <span class="color-nose4">โปรเจคดูแลฟื้นฟูหลังผ่าตัดที่เรียกว่า Rapid Healing</span> เพื่อดูแลคนไข้ของบาโนบากิโดยเฉพาะ
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail__section-bottom type-nose">
            <div class="detail__section-set">
                บาโนบากิ โปรเจค Rapid Healing
                <span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-nose">pop-up button</a></span>
            </div>
        </div>
    </section>

    <section class="fs_section noseSection05" data-section-name="noseSection05">
        <div class="detail__inner type-full">
            <div class="detail__section-wrap type-nose type-another">
                <div class="detail__vertical">
                    <div class="detail__section-box type-normal type-nose type-quotation2">
                        <h4 class="detail__section-tit">
                            ศัลยกรรมจมูก,<br>
                        เ    ราฟัง<span class="color-nose4">เสียงของคนไข้</span>เสมอ
                        </h4>
                        <p class="detail__section-subtit">เหตุผลที่ทีมศัลยกรรมมจมูกไม่เคยเว้นจากการประชุมในแต่ละเดือน</p>
                        <p class="detail__section-txt">
                            <span class="color-nose4">ทีมผู้เชี่ยวชาญเกี่ยวกับศัลยกรรมมจมูกของบาโนบากิจัดประชุมเป็นประจำ2ครั้งในแต่ละเดือน</span>เพื่อให้ผลออกมาอย่างยอดเยี่ยมที่สุด เป็นการเรียกทีมให้คำปรึกษา, พยาบาล, พนักงานทุกคนมารวมตัวกันเพื่อพูดคุยถึงคนไข้ในแต่ละด้านทั้งปัญหาความไม่สะดวกสบายหลังผ่าตัด การดูแลหลังผ่าตัด เรามีส่วนร่วมในการอภิปรายและไม่ลืมที่จะแบ่งปันเรื่องราวให้ความรู้ไปด้วย แม้อาจจะดูเป็นเรื่องยากแต่เราก็ไม่ละเลยตลอด 17 ปีที่ผ่านมา   ซึ่งสิ่งเหล่านี้เป็นปัจจัยที่ทำให้บาโนบากิมีความมั่นใจและเต็มไปด้วยประสบการณ์ที่จะทำให้คนไข้พึงพอใจมากที่สุด
                        </p>
                    </div>
                    <div class="layer-img"></div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
