@charset "UTF-8";
@import "mixins";
@import "vendor";

.popup-c{display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:500; text-align:center;
    $this:&;

    &.is-active{display:block;}
    &:before{position:absolute; z-index:-1; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.7); content:'';}
    &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}

    &.type-event{z-index:120;
        #{$this}__wrap{width: 770px;padding-top: 50px;background: #f8f8f8;}
		#{$this}__close{top:0;}
		.popup-content{padding-top:26px;padding-bottom: 0;}
		.popup-content__box{width:100%;
			&.type-check{text-align:left;}
		}
		.popup-content__tit2{text-align:center;}
		.popup-input1{height:40px; font-size:14px;}
		.popup-select{line-height:40px; font-size:14px;}
		.popup-textarea{height:120px; font-size:14px;}
		.popup-content__btn{margin-top:18px; height:50px; line-height:50px; font-size:20px;}
		.popup-select__item{font-size:14px;}
		.popup-select__tit, .popup-select2__subject{height:40px; line-height:40px; font-size:14px;}
		.radio1 + label{font-size:14px;}
		.popup-select:first-child{margin-top:0;}
		.popup-content__check{margin-left:8px;
			+ label.error{margin-left:8px;}
		}

        .popup-input1{background-color: #fff;}
        .popup-radio{padding: 0 15px;}
        .popup-content__wrap{margin-top: 0;}
        .popup-content__item{width: 100%;text-align: center;}
	}

    &__wrap{position:relative; display:inline-block; width:480px; padding:70px 0px 50px; vertical-align:middle; background-color:#fff;box-sizing: border-box;}
    &__tit{margin:0; color:#333; font-size:32px; font-weight:400;}
    &__close{position:absolute; top:0; right:-44px; overflow:hidden; display:block; width:44px; height:44px; background:url('../images/common/consultaion/popup_close.gif') no-repeat center center / contain; text-indent:-9999px;}
    &__list{display:inline-block; margin:25px 0 0 0; padding:0;
    	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(183,183,183,1); -moz-box-shadow: inset 0px 0px 0px 2px rgba(183,183,183,1); box-shadow: inset 0px 0px 0px 2px rgba(183,183,183,1); border-radius:20px; font-size:0;}
    &__list:after{display:block; clear:both; content:'';}
    &__item{display:inline-block; list-style:none;
        & + &{margin-left:-20px;}

        &.is-active{border-radius:20px;
            #{$this}__link{color:#fff;}
            #{$this}__icon{position:relative; padding-left:20px;}
            #{$this}__icon:before{position:absolute; left:0; top:0; bottom:0; display:block; width:16px; height:14px; margin:auto 0; content:'';}
        }
        &.nth-1{
            &.is-active{background-color:#0bb868;
                #{$this}__icon:before{background:url('../images/common/popup/popup_icon2.png') no-repeat center bottom / contain;}
            }
        }
        &.nth-2{
            &.is-active{background-color:#4b7eff;
                #{$this}__icon:before{background:url('../images/common/popup/popup_icon1.png') no-repeat center bottom / contain;}
            }
        }
        &.nth-3{
            &.is-active{background-color:#ff604b;
                #{$this}__icon:before{background:url('../images/common/popup/popup_icon3.png') no-repeat center bottom / contain;}
            }
        }
    }
    &__link{display:block; padding:11px 28px; font-size:14px; font-weight:400; color:#555; text-decoration:none !important; box-sizing:border-box;}
    &__content{display:none; margin-top:25px;
        &.is-active{display:block;}
    }

    @media only screen and (max-width: $tablet-size) {
        &.type-event{
            #{$this}__wrap{width: 100%;height: 100%;}
            #{$this}__tit{position:fixed; top:0; left:0; right:0; padding:10px 0; z-index:10;}
			#{$this}__scroll{padding-top:0;}
			#{$this}__box{padding: 60px 30px 0;}
            #{$this}__close{position:fixed; top:auto; right:0; bottom:0; z-index:110; width:100%; height:74px; line-height:74px; background-image:none; background-color:#666; font-size:17px; color:#fff; text-indent:0; text-decoration:none;}
			.popup-input1{font-size:1.4rem;}
			.popup-select{font-size:1.4rem;}
			.popup-textarea{font-size:1.4rem;}
			.popup-content{padding-top:0px;}
			.popup-content__btn{margin-top:14px; height:40px; line-height:40px; font-size:1.6rem;}
			.radio1 + label{font-size:1.4rem;}
			.popup-select__tit, .popup-select2__subject{font-size:1.4rem;}
			.popup-select__item{font-size:1.4rem;}
        }
    }

    @media only screen and (max-width: $mobile-size) {
        &.type-event{
            #{$this}__close{height:45px; line-height:45px;}
            .popup-radio{padding: 0 12px;}
        }

        &__wrap{width:90vw; padding:35px 0px 25px}
    	&__box{padding:0 20px;}
    	&__list{margin-top:12px;}
    	&__tit{font-size:26px;}
    	&__link{padding: 11px 20px; font-size:12px;}
    	&__content{margin-top:12px;}
        &__item{
            & + &{margin-left:-12px;}
            &.is-active{
                #{$this}__icon{position:relative; padding-left:20px;
                    &:before{width:12px; height:11px;}
                }
            }
        }
    	&__close{position:absolute; top:15px; right:15px; overflow:hidden; display:block; width:18px; height:18px;}
    }
}

.consultation{display:table-cell; width:1%; height:300px; vertical-align:middle; background-color:#ebeaea; padding: 0 50px;
    &__tit{position:relative; margin:0; padding-top:108px; font-size:22px; color:#333; font-weight:500;
        &:before{position:absolute; top:0; left:0; right:0; margin:0 auto; width:87px; height:87px; content:'';}

        &.nth-1{
            &:before{width: 100px;height: 100px;background:url('../images/common/popup/popup_line_qrcode.jpg');}
        }
        &.nth-2{
            &:before{background:url('../images/common/popup/popup_icon1_big.png');}
        }
        &.nth-3{
            &:before{background:url('../images/common/popup/popup_icon3_big.png');}
        }
    }
    &__txt{margin:10px 0 0 0; font-size:13px; color:#5c5b5b; line-height:1.1;}
    &__copy{display: block;margin:10px 0 0 0;font-size:13px;font-weight: $bold;color:#5c5b5b;line-height:1.1;
		&.type-copy{color: #ff604b;}
	}
    &__num{display:inline-block; margin:10px 0 0 0; padding:5px 34px 7px; font-size:18px; color:#fff; background-color:#333333; border-radius:20px; line-height:1;
        &.nth-2{width: 210px;}
        &.nth-3{font-size:17px;color: #fff;text-decoration: none;}
    }
    &__tel{color: #ffffff !important; text-decoration:none;}

    @media only screen and (max-width: $mobile-size) {
        height:250px;
    	&__tit{padding-top:76px; font-size:18px;
            &:before{width:66px; height:66px;}
            &.nth-1{
                &:before{width:66px; height:66px;background:url('../images/common/popup/popup_line_qrcode_m.jpg') no-repeat center center / contain;}
            }
            &.nth-2{
                &:before{background:url('../images/common/popup/popup_icon1_big_m.png') no-repeat center center / contain;}
            }
            &.nth-3{
                &:before{background:url('../images/common/popup/popup_icon3_big_m.png') no-repeat center center / contain;}
            }
        }
    	&__num{margin-top:5px; padding:5px 17px 7px; font-size:14px;
            &.nth-3{font-size:14px;}
        }
    	&__txt{font-size:12px;}
        &__copy{font-size:12px;}
    }
}
.consultation-address{margin:25px 0 0 0; padding:0 10px;
    &__tit{margin:0; font-size:14px; font-weight:500; color:#333;}
    &__txt{margin:10px 0 0 0; font-size:12px; color:#5c5b5b; line-height:1.1;}

    @media only screen and (max-width: $mobile-size) {
        margin-top:12px;
        &__tit{font-size:12px;}
    	&__txt{margin-top:5px; font-size:11px;}
    }
}

.popup-radio{
    $this:&;
	&__wrap{padding:20px 0 20px 80px; text-align:left;}
	&__tit{float:left; margin:0; padding:20px 0px; box-sizing:border-box; font-size:14px;color: #666;}
	@media only screen and (max-width:$mobile-size){
        &.type-age{
            #{$this}__wrap{margin-left: -10px;}
            .radio1 + label{margin-left: 10px;}
            .radio1 + label + .radio1 + label{margin-top: 5px;}
        }

		&__wrap{padding:10px 0 10px 80px;}
		&__tit{padding:10px 0; font-size:1.4rem;}
	}
}

.popup-content{display:none; padding:38px 50px 24px;
	&.is-active{display:block;}
	&__txt{margin:18px 0 0 0; font-size:16px; color:#404040;}
	&__tit{margin:15px 0 0 0;font-size:28px; color:#333;
		&.type-another{margin-top:20px;}
	}
	&__tit2{margin:0; font-size:17px; font-weight:$light; text-align:left;
		strong{font-weight:$medium;}
	}
	&__icon{width:150px; height:150px;}
	&__time{display:inline-block; height:26px; margin:12px 0 0 0; padding:0 18px; line-height:26px; border-radius: 13px; font-size:15px; color:#fff; background:#474747;}
	&__btn{display:block; width:100%; height:60px; margin-top:24px; line-height:60px; color:#fff; font-size:24px; font-weight:$regular; background-color:#333; border:none;outline: 0;
		&.type-katalk{background-color:#ffe800; color:#391f1f;}
		&.type-online{background-color:#18b3a4; color:#ffffff;}
        &.type-event{display: inline-block;width: 310px;background-color: #b916a4;border: 1px solid #732569;color: #ffffff;}
	}
	&__btn2{color:#666; text-decoration:none;}
	&__info{margin:40px 0 0 0;font-size:15px; color:#666;}
	&__wrap{margin-top:30px; margin-left:-80px; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
		& + &{margin-top:10px;}
	}
	&__box{float:left; width:50%;padding-left:80px; box-sizing:border-box;
		&.type-right{float:right;}
		&.type-check{margin-left:-8px;}
	}
	&__hidden{ position: absolute; width: 1px; height: 1px;  padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0;}
	&__subtit{position:relative; display:inline-block; margin:0; font-size:20px; text-decoration:none; color:inherit;
		span{vertical-align:middle;}
	}
	&__arrow{overflow:hidden;display:inline-block; width:20px; height:20px; margin-left:5px; background:url('../images/program/popup_arrow.png') no-repeat center center/ contain; text-indent:-999px;
		transition: transform 0.3s;
		&.is-active{transform: rotate(180deg);}
	}
	&__list{margin:0 0 0 -10px;; padding:0;
		&:after{display:block; clear:both; content:''; }
	}
	&__item{float:left; width:50%; padding-left:10px; list-style:none; box-sizing:border-box;}
	&__hide{display:none;}
	&__noti{margin:10px 0 0 0; font-size:14px;}
	&__check{display:inline-block; margin-top:8px; text-align:left;}
	@media only screen and (max-width:$tablet-size){padding:80px 0 18px;
		&__wrap{margin-top:15px; margin-left:0;}
		&__box{width:100%; padding-left:0;
			& + &{margin-top:15px;}
		}
		&__icon{margin-top:100px;}
	}
	@media only screen and (max-width:$mobile-size){padding-top:30px;
		&__icon{margin-top:20px; width:100px; height:100px;}
		&__time{margin-top:16px; font-size:1.4rem; line-height:28px; border-radius:14px;}
		&__info{margin-bottom:15px; font-size:1.3rem;}
		&__txt{margin-top:15px; font-size:1.3rem;}
		&__tit{font-size:2.4rem;}
		&__tit2{font-size:1.4rem; line-height:1.4; text-align:center;
			strong{font-weight:$regular;}
		}
		&__btn{height:45px; margin-top:20px; line-height:45px; font-size:1.4rem;}
		&__btn2{font-size:1.3rem;}
		&__subtit{font-size:1.6rem;}
		&__arrow{width:16px; height:16px; background:url('../images/program/popup_arrow_m.png') no-repeat center center/ contain;}
		&__noti{margin-top:5px; font-size:1.2rem;}
		label.error{ margin-top:3px; padding-left:10px; font-size:1.2rem;}
	}
}
.popup-tab{
	$this:&;
	&__list{margin:0; padding:0; height:74px;}
	&__item{display:table-cell; width:1%; height:inherit; vertical-align:middle; background-color:#282828;
		&.is-active{background-color:#fff;
			#{$this}__link{color:#333;}
			&.online{
				#{$this}__wrap{padding-left:30px;
					&:before{width:24px; height:22x; background:url('../images/common/consultaion/online_icon.png') no-repeat center center / contain;}
				}
			}
			&.katalk{
				#{$this}__wrap{padding-left:30px;
					&:before{width:24px; height:22px; background:url('../images/common/consultaion/katalk_icon.png') no-repeat center center / contain;}
				}
			}
		}
	}
	&__link{display:block; line-height:74px; font-size:17px; font-weight:$light; color:#fff; text-align:center; text-decoration:none;}
	&__wrap{position:relative;
		&:before{position:absolute; top:0; bottom:0; left:0; display:block;  margin:auto 0; content:'';}
	}
	@media only screen and (max-width:$mobile-size){position:fixed; z-index:50;
		&__list{height:50px;}
		&__item{display:table-cell; width:1%; height:inherit; vertical-align:middle; background-color:#333;
			&.is-active{background-color:#fff;
				#{$this}__link{color:#333;}
				&.live{
					#{$this}__wrap{padding-left:20px;
						&:before{width:18px; height:16px; background:url('../images/common/consultaion/naver_icon.png') no-repeat center center / contain;}
					}
				}
				&.katalk{
					#{$this}__wrap{padding-left:20px;
						&:before{width:16px; height:16px; background:url('../images/common/consultaion/katalk_icon.png') no-repeat center center / contain;}
					}
				}
				&.cost{
					#{$this}__wrap{padding-left:20px;
						&:before{width:11px; height:17px; background:url('../images/common/consultaion/cost_icon.png') no-repeat center center / contain;}
					}
				}
			}
		}
		&__link{line-height:50px; font-size:1.3rem;}
	}
}

.popup-input1{width:100%; height:50px; padding:0 15px; line-height:50px; background-color:#f2f2f2; font-size:16px; color:#666; border:none; outline:none; box-sizing:border-box; font-family:$font-normal;
	@media only screen and (max-width:$mobile-size){height:40px; line-height:40px; padding:0 12px; font-size:1.4rem;}
	&::-ms-clear{display:none;}
}
.input1{
	&__box{position:relative;
		& + &{margin-top:10px;}
	}
	&__clear{position:absolute; top:0; bottom:0; right:14px; display:block; width:26px; height:26px; margin:auto 0; background:url('../images/common/consultaion/clear_icon.png'); border:none;}
	@media only screen and (max-width:$mobile-size){
		&__box{
			&:first-child{margin-top:0;}
			& + &{margin-top:15px;}
		}
		&__clear{width:25px; height:25px;  background:url('../images/common/consultaion/clear_icon_m.png') no-repeat center center / contain;}
	}
}
.popup-textarea{width:100%; height:170px; padding:12px 15px; background-color:#fff; font-size:16px; color:#666; border:none; text-align:left; box-sizing:border-box;  font-family:$font-normal;
	&.type-another{margin-top:10px; height:110px;}
	@media only screen and (max-width:$mobile-size){font-size:1.4rem; padding:12px; height:120px;}
}
.popup-select {position:relative; margin-top:10px;  line-height:50px; background-color:#f2f2f2; font-size:16px; color:#666; text-align:left;
	$this:&;
	&.type-another{margin-top:0px;}
	&.is-active{border-bottom:none;
		#{$this}__list{border:1px solid #d5d5d5; border-top:none;}
	}
	&__tit{position:relative; display:block; overflow:hidden; padding:0 15px; color:#666; font-size:16px; border:1px solid #f2f2f2; transition:none; text-overflow: ellipsis; white-space:nowrap; text-decoration:none;
		&:after {position:absolute; top:5px; bottom:0; right:18px; margin:auto 0 ; display:block; height:5px; border-left:5px solid transparent; border-top:5px solid #666; border-right:5px solid transparent; border-bottom:5px solid transparent; content:'';}
	}
	&__box{position:absolute; width:100%;  top:0px; left:0;  background:#f2f2f2;  z-index:5;}
	&__list{overflow:auto; display:none; margin:0; padding:0; max-height:300px;
		&.is-active{display:block;}
	}
	&__item{overflow:hidden; text-overflow:ellipsis; cursor:pointer;  padding:0 15px; border-top:0; color:#666; font-size:16px; white-space:nowrap;
		&.is-hover{background-color:#636363; color:#fff;}
		&:first-child:after {display:block;}
		&.select{font-weight:$regular;}
	}
	@media only screen and (max-width:$mobile-size){margin-top:15px; line-height:40px;
		&__tit{padding:0 12px; font-size:1.4rem;}
		&__item{font-size:1.4rem;}
		&__list{max-height:150px;}
	}
}
.popup-select2{
	&__list{padding:0;}
	&__tit,&__subject{cursor:default; padding:0 15px; border-top:0; color:#666; line-height:50px; font-size:16px; font-weight:$thin;}
	&__subject{position:relative; display:none; margin:0; border:1px solid #d5d5d5; border-bottom:none; color:#2a59aa; font-weight:$regular; cursor:pointer;
		&:after {position:absolute; top:0px; bottom:0; right:18px; margin:auto 0 ; display:block; height:5px; border-left:5px solid transparent; border-top:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #666; content:'';}
		&.is-active{display:block;}
		&.type-another{color:#666; font-weight:$medium;}
	}
	&__tit{margin:0; background-color:#d0d0d0; color:#333; font-weight:$regular;}
	@media only screen and (max-width:$mobile-size){line-height:40px;
		&__tit,&__subject{padding:0 12px;  font-size:1.4rem; line-height:40px;}
	}
}
.checkbox02 + label { display: inline-block; margin-bottom: 0; line-height:18px;  }

@media only screen { .checkbox02 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
  .checkbox02 + label { position: relative; margin-left: 0; padding-left: 24px; cursor: pointer; font-size: 12px; color: #666666; font-weight: 300; vertical-align:middle;} }
@media only screen and (max-width: 668px) { .checkbox02 + label { font-size: 1.3rem; } }

@media only screen { .checkbox02 + label:before { position: absolute; top: -1px; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 18px; height: 18px; margin: auto; border: 1px solid #c1c1c1; content: ''; cursor: pointer; }
  .checkbox02:checked + label:before { border:none; background: url("../images/common/consultaion/check_on1.gif");}
  .checkbox02.type-online:checked + label:before { border:none; background: url("../images/common/consultaion/check_on2.gif");}
}
@media only screen and (max-width:$mobile-size){
	.checkbox02 + label:before{top:1px; width:15px; height:15px;}
	.checkbox02:checked + label:before { border:none; background: url("../images/common/consultaion/check_on1_m.gif"); background-size:15px 15px;}
    .checkbox02.type-online:checked + label:before { border:none; background: url("../images/common/consultaion/check_on2_m.gif"); background-size:15px 15px;}
}
.terms-c{position:relative; padding:35px 50px; text-align:left; box-sizing:border-box;
	&__box{
		& + &{margin-top:28px;}
	}
	&__tit{margin:0; font-size:17px; color:#333; font-weight:$medium;}
	&__area{overflow:auto; height:130px; margin-top:15px; padding:18px 20px; background-color:#f2f2f2; font-size:15px; color:#666; line-height:1.5; box-sizing:border-box;}
	&__btn{overflow:hidden; position:absolute; top:18px; right:16px; display:block; width:25px; height:25px; background:url('../images/common/consultaion/terms_close.png'); text-indent:-9999px;}
	@media only screen and (max-width:$tablet-size){
		&__area{height:280px;}
	}
	@media only screen and (max-width:$mobile-size){padding:50px 15px;
		&__box{
			& + &{margin-top:10px;}
		}
		&__tit{font-size:1.8rem;}
		&__area{height:150px; margin-top:10px; padding:5px; font-size:1.3rem;}
		&__btn{background:url('../images/common/consultaion/terms_close_m.png') no-repeat center center/contain;}
	}
}

.popup-check{ margin-left:-10px;text-align:left;
	&:after{display:block; clear:both; content:'';}
	&__item{float:left; width:50%;  padding-left:10px; margin-top:5px;}
	&__wrap{position:relative; overflow:hidden; display:block; width:100%; height:100%; padding:0 20px 0 6px; line-height:24px; color:#666; text-overflow:ellipsis;  white-space:nowrap;}
	&__close{position:absolute; top:0; bottom:0; right:3px; width:16px; height:16px; margin:auto 0; background:url('../images/common/consultaion/clear_icon_small.png'); text-indent:-9999px;}
	@media only screen and (max-width:$mobile-size){
		&__close{background:url('../images/common/consultaion/clear_icon_m.png') no-repeat center center / contain;}
	}
}


.consultation-info{margin-top:26px; padding:0 50px; box-sizing:border-box; text-align:left; letter-spacing: -1px;
    &__list{margin:0; padding:0;}
    &__item{position:relative; display:inline-block; padding-left:40px; list-style:none;  box-sizing:border-box;
        &:before{position:absolute; top:0; left:0; bottom:0; display:block; margin:auto 0; content:'';}
        &.type-time{
            &:before{width:30px; height:31px; background:url('../images/common/popup/popup_time.png') no-repeat center center / contain;}
        }
        &.type-location{
            &:before{width:30px; height:36px; background:url('../images/common/popup/popup_location.png') no-repeat center center / contain;}
        }
        & + &{margin-top:16px;}
    }
    &__date{margin:0; font-size:14px; color:#5c5b5b;
        & + &{margin-top:4px;}
    }
    &__time{margin:0; vertical-align:middle;}
    &__day{margin-right:10px; color:#333; vertical-align:middle;}
    &__night{display:inline-block; margin-left:4px; padding:3px 4px; font-size:10px; color:#ffa96a; border:1px solid #ffa96a; vertical-align:middle; box-sizing:border-box;}
    &__tit{margin:0; font-size:14px; color:#333; font-weight:500;}
    &__txt{margin:6px 0 0; font-size:12px; color:#5c5b5b;}
    @media only screen and (max-width: $mobile-size) {margin-top:14px; padding:0 25px;
        &__date{font-size:1.2rem;}
        &__tit{font-size:1.2rem;}
        &__txt{margin-top:3px; font-size:1.1rem;}
        &__day{margin-right:5px;}
        &__item{padding-left:36px;
            & + &{margin-top:8px;}
            &.type-time{
                &:before{width:25px; height:26px;}
            }
            &.type-location{
                &:before{width:25px; height:30px;}
            }
        }
        &__night{margin-left:3px; padding:1px 2px; font-size:1rem;}
    }
}
