@charset "UTF-8";
@import "mixins";
@import "vendor";
@import "program/model.scss";
@import "program/program_breastplan2";
@import "program/program_contourplan";
.program{
	&__visual{font-size:0;
		img{width:100%;border: 0;}
	}
	&__area{padding:0 16px; box-sizing:border-box;}
	&__list{margin:60px 0 0 -10px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:33.33%; margin-top:10px; padding-left:10px; box-sizing:border-box; list-style:none;}
	&__wrap{position:relative; width:100%; height:0; padding-bottom:100%;
		img{border: 0;}
	}
	&__link{overflow:hidden; position:absolute; top:0; left:0; display:block; width:100%; height:100%; text-indent:-9999px; font-size:0; z-index:10;
		&:hover{
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.6); z-index: 15;content:'';}
			&:after{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/program/plus.png') no-repeat center center; z-index: 20;content:'';}
		}
	}
	&__view{padding-top:50px; font-size:0; box-sizing:border-box;
		img{width:100%;}
	}
	&__tel{display:block;}
	@media only screen and (max-width: $tablet-size) {
		&__list{margin-top:30px;}
		&__area{padding:0 18px;}
		&__item{width:50%;}
		&__view{padding-top:60px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__list{margin-top:10px; }
		&__view{padding-top:50px;}
	}
}
.quick{position:fixed; bottom:60px; right:8.5%; list-style:none; z-index:80;
	$this:&;
	&__list{margin:0; padding:0; list-style:none;}
	&__item{width:80px; height:80px; border-radius:50%;
		& + &{margin-top:10px;}
		&.type-counsel{background-color:#ff3904; color:#fff; border:1px solid #ff3904;
			#{$this}__wrap{
				&:before{display:block; width:27px; height:18px; margin:0px auto 6px; box-sizing:border-box; background:url('../images/program/quick_counsel.png'); content:'';}
			}
		}
		&.type-list{background-color:#000; color:#fff; border:1px solid #000;
			#{$this}__wrap{
				&:before{display:block; width:18px; height:18px; margin:0px auto 6px; box-sizing:border-box; background:url('../images/program/quick_list.png'); content:'';}
			}
		}
		&.type-top{background-color:#fff; border:1px solid #b7b6b6; color:#333;
			#{$this}__wrap{
				&:before{display:block; width:19px; height:10px; margin:0px auto 6px; box-sizing:border-box; background:url('../images/program/top.png'); content:'';}
			}
		}
	}
	&__wrap{position:relative; color:inherit;}
	&__link{display:table-cell; width:1%; height:80px; font-size:12px; font-weight:400; text-decoration:none; color:inherit; text-align:center; vertical-align:middle;
		&:hover{color:inherit;}
	}
	@media only screen and (max-width: $tablet-size) {bottom:50px; right:30px;
		&__item{width:72px; height:72px;}
		&__link{height:72px;}
	}
	@media only screen and (max-width: $mobile-size) {bottom:68px; right:16px;
		&__item{width:50px; height:50px;
			&.type-counsel{background-color:#ff3904; color:#fff; border:1px solid #ff3904;
				#{$this}__wrap{
					&:before{display:block; width:20px; height:13px; margin-bottom:3px; background:url('../images/program/quick_counsel_m.png') no-repeat center center / 20px 13px; content:'';}
				}
			}
			&.type-list{
				#{$this}__wrap{
					&:before{display:block; width:14px; height:14px; margin-bottom:3px;  background:url('../images/program/quick_list_m.png') no-repeat center center / 14px 14px; content:'';}
				}
			}
			&.type-top{
				#{$this}__wrap{
					&:before{display:block; width:12px; height:7px; margin-bottom:3px; background:url('../images/program/top_m.png') no-repeat center center / 12px 7px; content:'';}
				}
			}
		}
		&__link{height:50px; font-size:1rem;}
	}
}

.visual{position:relative;text-align: center;
	&__list{margin: 0;padding: 0;list-style: none;}
	&__item{overflow:hidden; position:relative; width:100%; height:0; padding-bottom:27.08%; font-size:0; text-indent:-9999px;}
	&__pager{position:absolute; display:inline-block; left:0; right:0; bottom:15px; margin:0 auto; z-index:100;}
	&__bull{overflow:hidden; display:inline-block; width:9px; height:9px; border:1px solid #fff; background:#fff; border-radius:50%; text-indent:-9999px; cursor:pointer;
		&.is-active{background:transparent}
		& + &{margin-left:12px;}
	}
	@media only screen and (max-width: $tablet-size){
		&__item{padding-bottom:65.25%;}
		&__pager{bottom: 8px;}
		&__bull{width:7px; height:7px;
			& + &{margin-left:5px;}
		}
	}
}

.program-video{position:absolute; top:0; left:0; width:100%; height:100%; z-index:10;
	&__wrap{position:relative; width:100%; height:100%;}
	&__btn{overflow:hidden; position:absolute; top:0; left:0; right:0; bottom:0; width:100px; height:100px; margin:auto; @include background('../images/program/play_btn.png','no-repeat center center / contain');
		text-indent: -9999px; z-index:15;}

	@media only screen and (max-width: $mobile-size) {
		&__btn{width:50px; height:50px;}
	}
}

.program-consult{padding-bottom: 150px;background: url('../../images/program/program_patt_1.gif') 0 0;text-align: center;
	&__outer{max-width: 1296px;margin: 0 auto;padding: 0 8px;box-sizing: border-box;}
	&__inner{padding: 0 128px;}
	&__tit{margin: 0;font-size: 45px;font-weight: $bold;color: #222;}
	&__wrap{}

	@media only screen and (max-width: $tablet-size){
		&__outer{padding: 0 30px;}
		&__tit{font-size: 42px;}
		&__inner{padding: 0;}
	}
	@media only screen and (max-width:$mobile-size){
		padding-bottom: 75px;

		&__outer{padding: 0 15px;}
		&__tit{font-size: 2.2rem;}
	}
}

.program-form{margin-top: 60px;
	$this:&;

	&__box{margin-top: 30px;position:relative;background-color: #fff;box-sizing:border-box;
		&:first-child{margin-top:0;}
		&.type-radio{margin-top: 20px;background-color: transparent;
			#{$this}__head{width: 118px;
				&:after{display: none;}
			}
			#{$this}__body{padding-left: 118px;text-align: left;}
		}
		&.type-btn{margin-top: 40px;}
	}
	&__head{position: absolute;width: 164px;line-height: 56px;padding-left:20px;text-align: left;box-sizing: border-box;
		&:after{content: '';position: absolute;top: 0;bottom: 0;right: 0;width: 1px;height: 27px;margin: auto 0;background: #434343;}
	}
	&__tit{font-size: 24px;font-weight: $regular;color: #222;}
	&__body{position:relative; height:inherit; padding-left: 164px; padding-right:20px; box-sizing:border-box; font-size:0;}
	&__wrap{margin-left: -30px;}
	&__input{width: 100%;height: 56px;line-height: 56px;padding: 2px 20px;border:none; border-radius: 0; -webkit-appearance: none; appearance: none; -webkit-box-sizing: border-box; box-sizing: border-box; outline: 0;
		@include placeholder-color(#9c9c9c); font-size: 24px;
	}
	&__btn{display: block;width: 100%;padding: 12px 0;background-color: $color-point;border: none;outline: 0;font-size: 24px;font-weight: $bold;color: #fff;box-sizing: border-box;cursor: pointer;}
	label.error{display:block;margin-top:5px; text-align:left; color:#f61919; font-size:13px;}

	@media only screen and (max-width:$mobile-size){
		margin-top: 20px;

		&__box{margin-top: 15px;
			&.type-radio{margin-top: 10px;background-color: transparent;
				#{$this}__head{width: 58px;
					&:after{display: none;}
				}
				#{$this}__body{padding-left: 58px;text-align: left;}
			}
			&.type-btn{margin-top: 20px;}
		}
		&__head{width: 82px;padding-left: 8px;line-height: 30px;
			&:after{height: 14px}
		}
		&__tit{font-size: 1.5rem;}
		&__body{padding-left: 82px;}
		&__input{height: 30px;padding: 2px 10px;font-size: 1.5rem;line-height: 30px;}
		&__btn{font-size: 1.6rem;}
	}
}

.program-textarea{width:100%; height:170px; padding:12px 15px; background-color:#fff; font-size:24px; color:#666; border:none; text-align:left; box-sizing:border-box;  font-family:$font-normal;
	&.type-another{margin-top:10px; height:110px;}
	@media only screen and (max-width:$mobile-size){font-size:1.4rem; padding:12px; height:120px;}
}

.radio3 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
.radio3 + label { @extend %programForm; display: inline-block; position: relative; height: 56px; margin-bottom:0; margin-left: 30px;padding-left: 48px; cursor: pointer;  font-weight:400; color:#505050; }
.radio3 + label:before { position: absolute; top: 1px; bottom: 0; left: 0; box-sizing: border-box; width: 32px; height: 32px; margin: auto; border: none; border-radius: 50%; background-color: #fff; content: ''; cursor: pointer; }
.radio3 + label:after { overflow: hidden; position: absolute; top:1px; bottom:0; left: 7px; width: 18px; height: 18px; margin:auto 0; border-radius: 50%; background-color: #fff; cursor: pointer; content: ''; }
.radio3:checked + label:after {background-color: $color-point}
@media only screen and (max-width:$mobile-size){
	.radio3 + label {height: 30px;padding-left: 25px;font-size: 1.5rem}
	.radio3 + label:before{width: 16px; height: 16px;}
	.radio3 + label:after {left: 4px;width: 8px;height: 8px;}
}

%programForm{
    line-height: 56px;
    @media only screen and (max-width:$mobile-size){
		line-height: 30px;
	}
}
