@charset "UTF-8";
@import "mixins";
@import "vendor";
@import "review/epilogue";
@import "introduce/medi";

.result{
	&__wrap{padding:0 108px; box-sizing:border-box;}
	&__box{padding:80px 0 90px; border-bottom:32px solid #f6f6f6; box-sizing:border-box;
		&:last-child{padding-bottom:0; border-bottom:0;}
		&.type-consultation{padding:0;
			& .result-info{padding-bottom:0;}
		}
	}
	&__dl{margin:0;}
	&__dt{float:left; width:216px; font-size:14px; color:$black1;}
	&__dd{margin:0; padding-left:216px; box-sizing:border-box;
		.is-hide{display:none;}
	}
	&__arrow{margin-left:10px;}
	&__txt{font-size:20px;
		strong{font-weight:$regular;}
	}
	&__num{display:inline-block; line-height:1.3; border-bottom:1px solid #333;}
	&__btn{display:block; margin-top:30px; font-size:16px; color:$black2; text-decoration:none;}
	&__plus{margin-right:6px; color:$color-line;}
	&__review{
		& + &{margin-top:110px;}
	}
	@media only screen and (max-width:$tablet-size){
		&__wrap{padding:0 22px;}
		&__dl{padding:0 20px; box-sizing:border-box;}
		&__dt{width:152px;}
		&__dd{padding-left:152px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__wrap{padding:0 12px}
		&__box{padding:40px 0 50px;}
		&__dl{padding:0;}
		&__dt{float:none; width:auto; font-size:1.4rem;}
		&__dd{margin-top:20px; padding-left:0;}
		&__btn{margin-top:40px; font-size:1.3rem;}
		&__txt{font-size:1.6rem;}
		&__review{
			& + &{margin-top:56px;}
		}
	}
}
.result-search{position:relative; padding:30px 0px 16px; background-color:#f1f1f1; box-sizing:border-box;
	&__group{position:relative; width:100%; height:50px;  padding:0 60px 0 74px; box-sizing:border-box; background:#fff; border:1px solid #d7d7d7; border-radius:25px;}
	&__input{width:100%; height:100%;  box-sizing:border-box;  border:none; outline:none; font-size:18px; color:#333;}
	&__btn{position:absolute; top:0; bottom:0; left:14px; overflow:hidden; width:48px; height:48px; margin:auto 0; border:none; background:url('../images/common/search_common.png') no-repeat center center / 24px 24px;
		text-indent:-9999px; cursor:pointer; outline:0;}
	&__del{display:none; position:absolute; top:0; bottom:0; right:36px; width:18px; height:18px; background:url('../images/common/keyword_clear.jpg') no-repeat center center; margin:auto; z-index:10; text-decoration:none; text-indent:-9999px;}
	&__noti{margin:12px 0 0 0; color:#9c9c9c; font-size:12px; text-align:center;}
	@media only screen and (max-width:$tablet-size){padding:30px 42px 16px;}
	@media only screen and (max-width:$mobile-size){padding:20px 0 16px;
		&__group{height:40px; padding:0 50px; }
		&__btn{left:12px; width:20px; height:20px; background-size:contain;}
		&__input{font-size:1.4rem; box-sizing:border-box;}
		&__del{right:20px; width:24px; height:24px;  background:url('../images/common/keyword_clear_mob.jpg') no-repeat center center / contain;}
	}
}
.result-keyword{
	&__box{padding:16px 0 11px; border-bottom:1px solid #EBEBEB; box-sizing:border-box; list-style:none;}
	&__dl{margin:0; padding:0 76px; box-sizing:border-box;}
	&__dt{float:left; margin-top:4px; font-size:14px; font-weight:$medium; color:$color-point2;}
	&__dd{margin:0; padding-left: 98px; }
	&__list{margin:0; padding:0; font-size:0;}
	&__item{display:inline-block; margin:0 0 5px 26px; list-style:none;}
	&__link {display: block; font-size: 13px; color: #333; font-weight:$medium; text-decoration:none;}
	&__num{top: 1px; position: relative; display: inline-block; width: 21px; height: 21px; line-height: 20px; text-align: center; color: #666; background: #f2f4f8;
		border: 1px solid #e5e6e8;margin-right: 10px;
	}
	&__icon {display: inline-block; width:auto; height: 21px; line-height: 20px; text-align: center; color:$color-point; margin-right: 10px;}
	@media only screen and (max-width:$tablet-size){
		&__dl{padding:0;}
	}
	@media only screen and (max-width:$mobile-size){
		&__box{padding:18px 0 20px;}
		&__dt{float:none; margin:0;}
		&__dd{padding-left:0;}
		&__list{
			&:after{display:block; clear:both; content:'';}
		}
		&__item{float:left; width:50%; margin:10px 0 0 0;}
		&__link{font-size:1.4rem;}
		&__icon{width:auto;}
	}
}

.result-info{padding:95px 0; font-size:18px; color:#333; text-align:center; line-height:1.5;
	strong{font-weight:$regular; color:$color-point;}
	@media only screen and (max-width:$mobile-size){padding:40px 0; font-size:1.4rem;}
}

.result-tab{border-bottom:1px solid #EBEBEB;
	$this:&;
	&__list{margin:0; padding:0;}
	&__item{display:table-cell;  height:54px; list-style:none; text-align:center;
		&.is-active{
			#{$this}__link{border-bottom-color:$color-point;}
		}
	}
	&__link{display:table-cell; width:100vw; height:inherit; vertical-align:middle;  font-size:16px; color:#333; border-bottom:3px solid #fff; text-decoration:none; box-sizing:border-box;
		border-bottom:3px solid transparent;
	}
	@media only screen and (max-width:$tablet-size){border-bottom:0;
		&__list{border-bottom:1px solid #ebebeb;}
	}
	@media only screen and (max-width:$mobile-size){
		&__item{height:45px;}
		&__link{font-size:1.3rem; border-bottom-width:2px; line-height:1.5;}
		&__block{display:block;}
	}
}

.direct{margin:0; padding:0;
	&__tit{margin:0; font-size:18px; color:$black1;
		strong{color:$color-point; font-weight:$regular;}
	}
	&__txt{margin:0; font-size:14px; color:$black2;}
	&__item{position:relative; list-style:none; padding-left:20px; box-sizing:border-box;
		&.type-gear{padding-left:80px;}
		&.type-mark{
			&:before{position:absolute; top:5px; left:0; width:11px; height:20px; background:url('../images/common/bookmark.png') no-repeat center top / contain; content:'';}
		}
		& + &{margin-top:40px;}
	}
	&__img{position:absolute; left:0; top:0; max-width:60px;}
	&__wrap{display:table-cell; width:1%; height:60px; vertical-align:middle;}
	&__link{overflow:hidden; position:absolute; top:0; left:0; display:block; width:100%; height:100%; text-indent:-9999px;}
	@media only screen and (max-width:$mobile-size){
		&__img{max-width:40px;}
		&__wrap{height:30px;}
		&__tit{font-size:1.6rem;}
		&__txt{margin-top:5px; font-size:1.2rem;}
		&__item{padding-left:18px;
			&.type-gear{padding-left:50px;}
			&.type-mark{
				&:before{top:5px; width:9px; height:14px; background-size:9px 14px;}
			}
			& + &{margin-top:30px;}
		}
	}
}

.s-medical{
	$this:&;
	&__list{margin:-30px 0 0 -45px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:25%; margin-top:30px; padding-left:45px; box-sizing:border-box; list-style:none;

	}
	&__img{position:relative; width:100%; height:0; padding-bottom:134.93%;}
	&__wrap{position:absolute; left:0; bottom:0; width:100%; padding:10px 12px; z-index:5; color:#fff; background-color:#262626; background-color:rgba(38,38,38,0.8); box-sizing:border-box;}
	&__tit{margin:0; font-size:13px; font-weight:400; }
	&__txt{margin:2px 0 0 0; font-size:12px; font-weight:300;}
	&__box{position:relative;}
	&__name{margin:10px 0 0 0; font-size:15px;}
	&__link{overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; z-index:10; text-indent:-9999px;
		&:hover{
			& + #{$this}__img{
				&:after{position:absolute; top:0; left:0; display:block; width:100%; height:100%; border:2px solid #666666; content:''; z-index:5; box-sizing:border-box;}
			}
		}
	}
	@media only screen and (max-width:$tablet-size){
		&__item{width:50%;}
		&__link{overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; z-index:10; text-indent:-9999px;
			&:hover{
				& + #{$this}__img{
					&:after{display:none;}
				}
			}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{margin-left:-20px;}
		&__item{padding-left:20px;}
		&__tit{font-size:1.3rem;}
		&__txt{font-size:1.2rem;}
		&__name{margin-top:5px; font-size:1.5rem;}
	}
}

.s-news{margin:0; padding:0;
	&__item{position:relative; padding-left:68px; box-sizing:border-box; list-style:none;
		& + &{margin-top:34px;}
	}
	&__category{position:absolute; top:-1px; left:0; width:55px; padding:3px 4px 3px 4px; vertical-align:middle; text-align:center; color:#fff;
		&.type-purple{background-color:#8944ca;}
		&.type-green{background-color:#0db000;}
		&.type-gray{background-color:#666;}
	}
	&__sub{color:$color-point;}
	&__txt{overflow:hidden; text-overflow:ellipsis; margin:0; font-size:17px; color:#2d2d2d; vertical-align:middle;}
	&__link{overflow:hidden; position:absolute; top:0; left:0; display:block; width:100%; height:100%; text-indent:-9999px;}
	@media only screen and (max-width:$mobile-size){
		&__txt{display:-webkit-box; height:38px; -webkit-line-clamp:2; white-space:normal; word-wrap:break-word;
			-webkit-box-orient:vertical; line-height:1.5; font-size:1.4rem;}
		&__category{top:0; width:50px; font-size:1.1rem;}
		&__item{
			& + &{margin-top:22px;}
		}
	}
}

.txt-ellipsis{overflow:hidden; text-overflow:ellipsis;}

// 검색결과 : 리얼스토리
.realstory{margin-top: 24px;
	&__list{margin: -15px 0 0 -15px;padding: 0;list-style: none;
		&:after{content: '';display: block;clear: both;}
	}
	&__item{float: left;width: 33.333%;padding: 15px 0 0 15px;box-sizing: border-box;}
	&__wrap{position: relative;}
	&__img{position: relative;width: 100%;height: 0;padding-bottom: 87%;}
	&__label{position: absolute;top: 33px;left: 33px;z-index: 20;}
	&__name{font-size: 20px;}
	&__real{display: block;margin-top: 8px;font-size: 10px;}
	&__link{content: '';display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 20;text-indent: -9999px;overflow: hidden;transition: all 400ms ease;opacity: 0;
		&:hover{background: rgba(38,38,38,.6);opacity: 1;}
		&:before{content: '';position: absolute;left: 0;right: 0;top: 0;bottom: 0;width: 50px;height: 50px;margin: auto;z-index: 30;border: 2px solid #fff;border-radius: 30px;box-sizing: border-box;}
	}
	&__plus{
		&:before,&:after{content: '';display: block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;z-index: 30;box-sizing: border-box;}
		&:before{width: 17px;height: 0;border-top: 2px solid #fff;}
		&:after{width:0; height: 17px;border-left: 2px solid #fff;}
	}

	@media only screen and (max-width:$tablet-size){
		&__list{margin: -10px 0 0 -10px;}
		&__item{width: 50%;padding: 10px 0 0 10px;}
		&__label{top: 25px;left: 22px;}
	}

	@media only screen and (max-width:$mobile-size){
		&__list{margin: -10px 0 0 0;}
		&__item{width: 100%;padding: 10px 0 0 0;}
		&__name{font-size: 2.0rem;}
		&__real{font-size: 1.0rem;}
	}
}
